[2019-05-17 18:39] ciil commented on #2214
I've tried to reproduce with 3.0.11 and couldn't, even with very quick operations around creation, deletion and reopening of tabs in different containers. Seems fixed to me.

[2019-05-17 18:40] stapuft commented on #2272
![image](https://user-images.githubusercontent.com/46431157/57949044-40031880-78b1-11e9-99ca-18f5ddac5d92.png)

well it just happened again, more times than I could count in a row, without crashing firefox inbetween, after about the sixth time TST turned grey and reloaded itself, my structure was gone, the order appears to still be there, but all the structure is gone. and with the "move unloaded

[2019-05-17 18:45] stapuft commented on #2272
FUCK!!!!!~~!!!@!@!!@!

[2019-05-18 03:44] irvinm commented on #2214
Great!  Please close this item then @ciil . :)

[2019-05-18 12:38] #2214 closed

[2019-05-18 18:38] hawran commented on #2245
Hi irvinm,
Sorry for the delay.
Yes, I've just reproduced it within a clean profile with just TST:
[code]
Just drag the parent tab (see the screenshot attached) to the child tab.

![Screenshot_2019-05-18_20-31-02](https://user-images.githubusercontent.com/25924718/57973665-cd776300-79ac-11e9-8641-6cbadb879fc8.png)

[2019-05-19 08:40] Randl commented on #2246
Happens to me too. Also, sometimes TST puts all the tabs into one group and I need to pull them out one-by-one.

[2019-05-19 21:32] iamLoi opened #2280 "When on the parent tab of a collapsed tree, opening new tab (Ctrl-T) does not switch to new tab"
Latest FF and latest version of TST.

To reproduce this issue, create a tree of tabs, collapse the tree, then from the parent tab, click Control-T to open a new tab. The new tab is created, but the expected result is to be automatically switched to the new tab, but the observed behavior is that user remain within the original tab. This is a bug.

If the tree is expanded first, then new tab will ge

[2019-05-20 01:29] piroor commented on #2280
I couldn't reproduce this. My environment:

* Windows 10
* Firefox 66.0.5 64bit (build ID: 20190507012018)
* TST 3.0.11
* clean profile, no other addon

Please fill the issue template https://raw.githubusercontent.com/piroor/treestyletab/master/ISSUE_TEMPLATE.md and describe complete steps to reproduce the problem with a clean profile.

[2019-05-20 04:00] iamLoi commented on #2280
Hmm, on closer look, I think it's one of my custom CSS that is the culprit but I haven't figured out which yet. Sorry, I will close this.

[2019-05-20 04:00] #2280 closed

[2019-05-20 07:29] piroor commented on #1639
@irvinm Oh, you're right. I completely forgot that.

Because it is already done by [Bookmark Tree for Tree Style Tab](https://addons.mozilla.org/firefox/addon/bookmark-tree-for-tst/), I've decided to close this. BTW, I think I need to add links to such helper addons from TST's start page and options page.

[2019-05-20 07:34] piroor opened #2281 "Add direct links to helper addons"
There are many helper addons https://github.com/piroor/treestyletab/blob/master/README.md#addons-that-extend-tst but there is no link for them on TST's UI. I should add such links to TST's options page and the startup page.

[2019-05-20 07:34] #1639 closed

[2019-05-20 09:43] cipri-tom commented on #2244
Hi,

This just happened again on 3.0.11 😞 .
I'm not sure how @rtoijala has managed to get browser console information. In the page that I was browsing there was nothing. Just the tree restarted all of a sudden, not even after opening a tab.

Note that this is still the same old tree, so there is probably something broken in it. I should maybe scrap it and start anew. But how could I do this, while

[2019-05-20 09:46] rtoijala commented on #2244
I have not had the problem since 3.0.11.
To get the browser console, use the hamburger menu -> Web Developer -> Browser Console, or use the keyboard shortcut, which for me is Ctrl+Shift+J.

[2019-05-20 09:50] piroor commented on #2246
@Randl If you find out the exact minimum condition to reproduce this problem on a clean profile, please add a comment.

[2019-05-20 09:59] cipri-tom commented on #2244
Thanks!

This is the thing I found in the console which may be relevant:

[code]

[2019-05-20 10:45] piroor opened #2282 "Don't expose unpermitted information for other addons"
https://github.com/piroor/treestyletab/wiki/API-for-other-addons#data-format
The API unexpectedly expose full tab information including non-active tabs and cookie store. These sensitive information must be removed from the returned message.

[2019-05-20 10:46] piroor commented on #2245
Thanks, I've confirmed this problem on my Ubuntu 16.04LTS environment.

[2019-05-20 14:21] piroor commented on #2282
Another plan: introduce a permission system like Firefox itself. Comparing with the initial plan:

 * Initial plan, hiding unpermitted data
   * Pros: easy to implement
   * Cons: incompatible, hard to use
 * Another plan, introducing permission system
   * Pros: highly compatible, easy to use
   * Cons: hard to implement

[2019-05-20 15:39] irvinm commented on #2277
I've never used it before, but I am seeing a similar behavior with only duplicating 1 tab.  (Windows 10, FF 66.0.5, TST 3.0.11)

In addition, it appears that the duplicate tab is not made a child or sibling relative to the original tab.

![9gsXn44q85](https://user-images.githubusercontent.com/979729/58033962-7def7f00-7af3-11e9-8600-581ff690f60a.gif)

[2019-05-20 15:47] piroor commented on #2277
Related bug of Firefox: [1394376 - Resolve browser.tabs.duplicate() promise right away (before tabs are completely loaded)](https://bugzilla.mozilla.org/show_bug.cgi?id=1394376)

[2019-05-20 15:48] irvinm commented on #2130
@piroor, maybe we can close this one.

@MurzNN can re-open the issue if he is able to reproduce without other potential addon conflicts.

[2019-05-20 17:26] irvinm commented on #2277
https://bugzilla.mozilla.org/show_bug.cgi?id=1394376 looks like it will land in Firefox 68!  (July 9, 2019)

[2019-05-21 10:26] #2282 closed

[2019-05-21 15:25] rlramsey opened #2283 "display is wrong after disabling treestyletab"
After I disable treestyletabs, FF returns to horizontal tabs, but as soon as there is more than 1 line of tabs, the tabs appear as if treestyle tabs is still in use.

## Steps to reproduce

 1. Upgrade from FF 66 to 67.
 2. Close FF and restart.
 3. Add Treestyltab.
 4. Make some tabs.  TST works as advertised.
 5. Close FF and restart.
 6. Under Add-ons, disable TST.
 7. Close FF and restart.
 8.

[2019-05-21 15:53] piroor commented on #2283
Do you use any userChrome.css code? Then removing it may solve the problem.

[2019-05-21 16:44] SimonSapin commented on #2171
TST’s sidebar uses dark colors when I use the dark browser theme in Firefox 67.0:

<img src=https://user-images.githubusercontent.com/291359/58114146-6bf70480-7bf7-11e9-84cf-41521f2ef5e7.png width=252>

I’m not sure how it happens. In the Browser Toolbox I only see a `<browser>` element in the sidebar, and the inspector’s element picker does not select anything inside of it.

Overall this looks go

[2019-05-21 18:05] stapuft commented on #2283
it sounds like you used the chrome.css code for multiple tab rows, as normally Firefox only has 1 row of tabs.
try looking in your userchrome.css file for code like this
https://superuser.com/questions/1351717/multi-row-tab-bar-in-firefox-quantum
or this
https://www.reddit.com/r/firefox/comments/alkqot/firefox_65_breaks_custom_multirow_tabs/

and remove said code, your firefox should then go back

[2019-05-22 01:54] p0358 commented on #2243
There are however extensions that display properly, for example Decentraleyes. Maybe solution is to not set text color manually and just keep it to default? Or set white background?

[2019-05-22 04:30] piroor commented on #2282
Important changes on the API document:

https://github.com/piroor/treestyletab/wiki/API-for-other-addons#permissions
https://github.com/piroor/treestyletab/wiki/API-for-other-addons#data-format
https://github.com/piroor/treestyletab/wiki/API-for-other-addons#notification-messages-from-tst
https://github.com/piroor/treestyletab/wiki/API-for-other-addons#when-permissions-for-your-addon-are-changed

[2019-05-22 07:00] Fanolian commented on #2243
This is what bug 1544212 is about. It is a needed hack for now (but burns your eyes 😎) since all extensions expect a white background. I do not know why the patch is not approved yet.

Extensions can use [`prefers-color-scheme`](https://developer.mozilla.org/docs/Web/CSS/@media/prefers-color-scheme) and define a separate set of CSS for dark mode. It is what [Decentraleyes does](https://git.synz.io

[2019-05-22 15:09] TRowbotham commented on #2243
This may be solved in the long run through the about:addons conversion to html, tracked in [bug 1505924](https://bugzilla.mozilla.org/show_bug.cgi?id=1505924), which should add support for native inline options

[2019-05-22 19:27] bshafer opened #2284 "[feature request] Set a limit for the number of pinned tabs assigned to a row"
## Short description

I am using a modification of "Full Auto-show/hide Theme" found on the "Code snippets for custom style rules" page. I have over 500 tabs, and 16 of them are pinned. I want the 16 pinned tabs to remain in their 4x4 square, even when the sidebar is expanded to avoid having all the tabs move up two rows every time I go to click on one. If there is a way to do that as another css

[2019-05-22 22:53] rlramsey commented on #2283
Yes, I wiped out my userChrome.css and set FF back to the default.  It was just interesting that it was wrong only after installing and then removing/disabling TST.  And I could duplicate the problem by installing and then removing/disabling TST.  So even though TST doesn't change the css on the tabs, removing it changed the css.

[2019-05-23 02:17] irvinm commented on #1985
@piroor, will you close this one?

[2019-05-23 07:58] ivoshm opened #2285 "SSL_ERROR_HANDSHAKE_FAILURE_ALERT with TST on"
## Short description

On specific website secured by TLS (and user client certificate) Firefox returns SSL_ERROR_HANDSHAKE_FAILURE_ALERT error with TST turned on.

If I disable TST in browser than the site is normally accessible.

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3. Try to connect to this specific site (unfortunately my is non-public, I try to find sim

[2019-05-23 12:45] piroor commented on #2285
Could you add the URL of the website? If it is not a public website, please email it to me.

[2019-05-24 11:32] howaboutsynergy opened #2287 "Note: dom.moduleScripts.enabled=true (aka default) is required for TST to work!"
Heads up for `about:config` fiddlers:
`dom.moduleScripts.enabled` must be `true` for Tree Style Tab (aka TST) to work, else you see a bunch of `__MSG_*__` stuff(like `__MSG_config_appearance_caption__`) and no side-bar tabs:

![Screenshot_2019-05-24_13-29-31](https://user-images.githubusercontent.com/49106389/58324765-148bab00-7e28-11e9-9707-94035143d0ae.png)

Maybe this could be added somewhere i

[2019-05-24 13:47] Fanolian commented on #2243
For the time being access the option in a separate tab by visiting:
`moz-extension://[Internal UUID]/options/options.html`
You can find the internal UUID in *about:debugging*.

[2019-05-24 16:18] piroor commented on #2287
I thought that disabling the native support of ES Modules on Firefox is not a popular customization. If my understanding is wrong and large number of people uses the config option, it may need to be announced before installation. Is there any evidence of the demand?

Basically Firefox has many secret preferences to toggle ON/OFF of web features (please look at `about:config` and find items with te

[2019-05-24 18:35] nollinvoyd opened #2288 "TST information disclosure vulnerability"
Tree Style Tab 3.0.13, Windows 10 Pro, Firefox 67

Ive updated TST and multiple Tab Handler.

I'd appreciate a more complete explanation of what we might or should be concerned about.  You message on the addon page about the issue was confusing.

[2019-05-24 19:05] piroor commented on #2288
# Range of leaked data

Both old TST (3.0.11 and older) and MTH (3.0.6 and older) violated the security model of WebExtensions API. They unintentionally exposed some sensitive tab data to other addons via their API even if the caller don't have permissions. Here is the list of possibly leaked data:

* `title`, `url`, and `favIconUrl` of `tabs.Tab` objects (in principle `tabs` or `activeTab` permis

[2019-05-24 19:33] piroor commented on #2288
# 概要

古いバージョンのTST（3.0.11以前）およびMTH（3.0.6以前）で、WebExtensions APIのセキュリティモデルに反した動作がありました。これらのバージョンでは、他のアドオン向けのAPIを通じて、本来であればそれらを取得する権限が無いはずのアドオンに対して、個人情報に関わりうるタブの情報が露出していました。

もし「攻撃者」となるアドオンをインストールしていた場合、それらのデータが読み出され、そのアドオンの権限で使用されていた可能性があります。現在の所、そのような「攻撃者」にあたるアドオンの存在は確認されていません。

# 漏洩したデータの範囲

* [`tabs.Tab`](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/tabs/Tab)オブジェクトの`title`, `url`,

[2019-05-24 19:40] nollinvoyd commented on #2288
So this is a hypothetical based on the possible existence of yet unknown "attacker" addons?

This is a little over my head technically.  When you say a tab is hidden, please explain.  Is this the type of thing that is only relevant to private window security?

[2019-05-24 19:42] howaboutsynergy commented on #2287
I know of no one else using this.

I agree.

Closing, as I doubt anyone else was using this setting.
Thanks.

[2019-05-24 19:42] #2287 closed

[2019-05-24 21:21] piroor commented on #2288
Yes. I didn't receive any report about such an attacker addon yet.

Not only on private windows.

* Tabs in non-private (regular) windows
  * Expected (and current) behavior: only safe information is disclosed to other addons.
  * Actual behavior on old versions: full information was disclosed regardless the attacker addon had no `tabs`, `activeTab`, and `cookies` permission.
* Tabs in private win

[2019-05-25 09:37] piroor commented on #2288
I think I need to research all existing known WebExtensions addons registered on addons.mozilla.org at least, to make actual damage on regular usecase clear. But I don't know how to do that...

[2019-05-25 11:08] hmijail opened #2289 "Missing tabs in sidebar"
(Removing the new issue template since I don't have steps to reproduce)

This happened after starting Firefox and restoring a big, long-lived session. I captured the sidebar's HTML and JSON.

Screenshot showing the difference between sidebar and top bar:
![image](https://user-images.githubusercontent.com/4139546/58368485-11c8ad00-7f31-11e9-8503-201052d7295c.png)

HTML:
[code]

JSON:
JSON.stringify

[2019-05-25 11:11] hmijail commented on #2289
Note: I shortened the Google Docs URLs to avoid leaking sensitive information. They are now of the form https://docs.google.com/drawings/d/xxxx/edit .

[2019-05-25 16:28] azizLIGHT opened #2290 "[Feature Request] Option to disable rendering tabs inside Group Tab"
## Short description
When tabs are auto-grouped together, the group tab page shows an overview of what tabs are grouped under it. I believe it should be optional because:
1) it is hard to understand/follow tree structure because of the horizontal scrolling nature of it. Vertical information is being displayed horizontally, and it is hard to keep track of which tab is under which parent if you span

[2019-05-25 20:56] azizLIGHT commented on #2278
I did the restore session test where auto-grouping is disabled and 1000 tabs of about:blank are opened under a manually created group tab. TST gives very similar timestamps as if auto-grouping is enabled. This tells me that auto-grouping option is not to blame since the group tab was created by me manually with auto-grouping disabled

I have tried this exact test with a similar addon called Tree T

[2019-05-26 07:05] personalmountains opened #2291 "Right-click on sidebar outside of tabs doesn't open context menu"
This is on 3.0.14 and I noticed it first yesterday. Right clicking a tab shows the context menu, but right clicking on the empty space in the sidebar doesn't do anything. I'm also seeing `TypeError: message.tab is null` in the console, at `tab-context-menu.js:436:62` on right clicks.

[2019-05-27 01:21] piroor commented on #2291
Thanks. The commit 819ad9c should fix this.

[2019-05-27 01:21] #2291 closed

[2019-05-27 01:53] piroor commented on #2290
This option has been implemented with the commit e232979.

[2019-05-27 01:53] #2290 closed

[2019-05-27 03:57] piroor commented on #2284
Done with the commit 036debb.

[2019-05-27 03:57] #2284 closed

[2019-05-27 16:43] ivoshm commented on #2285
Two messages (like in fairytail :smile: ):
- bad one - "my" site needs client certificate to simulate the problem and I have no way to provide it;
- good one - new version of TST (3.0.14) solved this problem.

[2019-05-27 16:43] #2285 closed

[2019-05-28 04:29] nirvana358888 opened #2292 "firefox起動毎にツリー型タブのページが表示されて困ってます。"
firefox67.0を利用しています。
そしてfirefoxを起動するたび下記の画面が表示されます。表示させなくさせることは可能ですか？

ツリー型タブ 3.0.14

ツリー型タブの縦型タブバーは切り替え可能なサイドバーパネルの一つになっています。もし表示されていない場合は、 「F1」キー を押すかツールバー上の「 ツリー型タブ 」ボタンをクリックして「ツリー型タブ」サイドバーパネルを表示して下さい。

​ TST自体を拡張する他のアドオン を組み合わせると、TSTのサイドバーにさらに機能を追加する事ができます。

⚠以下の機能には追加の権限が必要です。機能を使いたい場合のみ権限を付与して下さい。

コンテキストメニューの「このツリーをブックマーク」（ブックマークの操作の許可が必要）

キーボードショートカットでのタブ切り替え中は、折り畳まれた子孫タブにはフォーカスせず、折り畳まれたツ

[2019-05-28 08:31] piroor commented on #2292
通常、この画面は初回起動時や何か機能面で変更があった時にだけ表示するようになっています。具体的には、最後に表示した時の通知のバージョンを設定値として保持して、次回の読み込み時にその設定値と最新の通知のバージョンに違いがあったらタブを開くということをしています。
なので、「最後に表示した通知のバージョン」の情報を保存できなかったり、あるいは保存された設定値を読み出せなかったりすると、毎回初期設定に戻ってしまったのと同じ事になって、その都度通知が表示されるという事が起こります。
上記のプロセスのどこかに影響しそうなFirefoxのカスタマイズを行っていないか、何か心当たりはありませんか？
（例えば、今のアドオンの設定値はIndexedDBで保存されているので、IndexedDBが無効化されていると設定の永続的な保存が行われなくなってこういう現象が起こる気がします。）

[2019-05-28 10:26] piroor commented on #2289
There are only 6 tracked tabs in the JSON, so something might happen when TST tried to track existing tabs. Otherwise TST looks failed to initialize itself by unknown trigger. Anyway there is too less information to narrow down conditions for now. I still need exact steps to reproduce the problem.

[2019-05-28 10:32] Fanolian opened #2293 "Active tab scrolls to the top when last opened background child tab is overflowing"
## Short description
I try to open a bunch of child tabs from a single page (e.g. a forum list) and read them later.
If the last opened background child tab causes an overflow, i.e. opens below the bottom visible tab, the active tab scroll upwards, tab by tab, until it reaches the top of the tab bar area.

I believe there are cases which this is useful. But is there an option, or a workaround, to

[2019-05-28 10:34] piroor commented on #2281
There are various type features, so I gave up to add links for each. Instead a link to the list to the startup page and the options page.

[2019-05-28 10:34] #2281 closed

[2019-05-28 11:03] hmijail commented on #2289
I see. Unfortunately I can't provide steps, sorry about that. Thank you for looking into it anyway.

[2019-05-28 11:13] Fanolian opened #2294 "Is it possible to show example thumbnail for currently hovered option?"
## Short description
I would like to preview the available choices from the dropdown list before actually selecting them. Is it possible to do so? Thanks.

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST 3.0.14 or 3.0.14.9228.
 3. Navigate to TST's *Options > New Tabs Behavior*
 4. Click a dropdown list that preview thumbnails are available. (Yellow arrows in the scree

[2019-05-28 11:51] piroor commented on #2245
Fixed with the commit 2a72cfa

[2019-05-28 11:51] #2245 closed

[2019-05-28 13:11] nirvana358888 commented on #2292
素早い返信ありがとうございます。
おっしゃる通りIndexedDBの無効化がおそらく原因だったようです。

about:profiles　より使用中のプロファイルのルートディレクトリを開き
Firefoxを終了し，storageフォルダを削除する。
この工程を行うことで問題解決しました。

[2019-05-28 14:21] piroor commented on #2292
解決して良かったです。
一旦closeします。

[2019-05-28 14:21] #2292 closed

[2019-05-28 14:38] piroor commented on #2294
It looks a regression of Firefox itself. Now the event target of `mouseover` is always `select` instead of `option`...

[2019-05-28 15:28] piroor commented on #2294
I've reported this to bugzilla:

[1555018 - mouse events are not fired on `<option>` in `<select>` when e10s is enabled](https://bugzilla.mozilla.org/show_bug.cgi?id=1555018)

[2019-05-28 15:59] piroor commented on #2293
This behavior respects  the one on the Firefox's native tab bar.
https://searchfox.org/mozilla-central/rev/ddb81c7a43ffada1f6cb4200c4f625e50e44dcf3/browser/base/content/tabbrowser.xml#927

I have a decision policy about triaging of behaviors on the tab bar: making compatible with the native tab bar if possible, including options. I personally won't deactivate the auto-scroll behavior, but if Firef

[2019-05-28 16:02] piroor commented on #2277
Now the blocking screen effect for duplicating tabs is disabled on Firefox 68 and later, because duplicating of tabs became enough fast.

[2019-05-28 16:33] Fanolian commented on #2293
Thank you for the explanation.

[2019-05-28 16:33] #2293 closed

[2019-05-28 19:00] FunkMonkey commented on #2180
I am still experiencing this in FF 67 with TST 3.0.15...

[2019-05-29 18:15] theres-waldo opened #2295 "Allow TST keyboard shortcut to take precedence over page keyboard shortcut"
I have configured "Ctrl + E" as a keyboard shortcut in TST to perform "Open in new child tab".

However, some pages react to "Ctrl + E" themselves. For example, bugzilla.mozilla.org uses "Ctrl + E" as a shortcut for "Edit Bug". In such cases, the page action takes preference, and the TST action is not performed.

I really don't care about page actions that happen to use "Ctrl + E" as a shortcut, a

[2019-05-30 08:59] piroor commented on #2295
It looks a restriction of WebExtensions API. I've filed a bug: [1555620 - WebExtensions command don't work when the key combination is used by the webpage](https://bugzilla.mozilla.org/show_bug.cgi?id=1555620).

[2019-05-30 14:09] azizLIGHT commented on #2277
Looks fixed to me on FF 69.0a1 (2019-05-30) (64-bit) and TST 3.0.15
![nightly-TST1-interactable-sidebar](https://user-images.githubusercontent.com/8013867/58638307-2d4f0180-82fd-11e9-9ce1-78b4a9d9a95a.gif)
However the duplicate tab's placement is inconsistent as @irvinm noticed. I will submit another issue soon

[2019-05-30 14:09] #2277 closed

[2019-05-30 17:35] hawran commented on #2245
Thank you,
haw

[2019-05-31 09:17] IRainman commented on #2263
Yep, tre crutch is work fine. Thank you

[2019-05-31 09:17] #2263 closed

[2019-06-01 16:42] sbr61 opened #2296 "Please allow CSS change of contextual identity marker color"
## Short description

I would like to add a CSS style snippet for the TST sidebar that changes the color of the contextual identity marker. The reason is that I use the Temporary Containers extension and so get lots of temporary container tabs, which should get a less prominent color. (I "sacificed" turquouise to become grey).

On the main Firefox UI, I can achieve this with

    .identity-color-t

[2019-06-03 04:45] piroor commented on #2296
The color of temporary containers looks changeable on the options page of the Temporary Containers itself:
![image](https://user-images.githubusercontent.com/70062/58776252-93d96580-8604-11e9-92f2-aedc822cd83d.png)

And, colors of already created Temporary Containers are also changeable via Firefox's options:
![image](https://user-images.githubusercontent.com/70062/58776354-3396f380-8605-11e9-8030

[2019-06-03 17:51] irvinm commented on #2288
@nollinvoyd is this sufficient?  If so, can you close this item?

[2019-06-03 17:55] irvinm commented on #2289
@hmijail do you want to close out this item for now and reopen when you have more information or reproducible steps? I don't think there is anything piroor can do at this point.

[2019-06-03 17:58] irvinm commented on #2019
@ssokolow any new updates?  Maybe let's close this out and re-open when you get a chance to retry?

[2019-06-03 17:59] irvinm commented on #1985
@piroor ... a friendly reminder.

[2019-06-03 18:04] irvinm commented on #2273
@bughit can you confirm this is fixed and close if appropriate?

[2019-06-03 18:28] ssokolow commented on #2019
I'll try to fit it in today or tomorrow and we can close if I don't get to it by then.

Over the last week, a lot of plans got messed up and this was one of them.

[2019-06-03 19:50] nollinvoyd commented on #2288
I see that you addressed the data disclosure problem issue in the latest version.  I am not qualified to analyze the changes, but if you are satisfied with the current state of TST, so am I.  Thanks

[2019-06-03 19:50] #2288 closed

[2019-06-03 21:25] #2273 closed

[2019-06-04 00:54] hmijail commented on #2289
OK with me.

[2019-06-04 00:54] #2289 closed

[2019-06-04 01:13] piroor commented on #1985
Sorry I forgot to check this.

Anyway I'm still OK to merge any pull request adding such extra descriptions, but it won't be done by myself, because I'm the original author and descriptions written by me will be still less understandable for people.

[2019-06-04 01:13] #1985 closed

[2019-06-04 13:42] mazunki opened #2297 "Feature request: Subpins of pins"
## Short description

I am a user who uses pinned tabs a lot, but I also love having subtabs for any given tab.

Pinning tabs removes them from the tree system, which is an annoyance. There doesn't seem to be any middle ground for this.

Having the option to place tabs under pinned tabs, and make them appear as pinned tabs do, possibly in another colour as these would be a great way to do this.

I

[2019-06-04 14:30] ssokolow commented on #2019
Bah. How do I force a download of the latest AMO release of TST? There's apparently some kind of bug or bad AMO-extension interaction that's causing AMO to claim that my Firefox is Firefox 60.0 and lock out the installation button.

[2019-06-04 16:11] Fanolian commented on #2019
`privacy.resistFingerprinting` changes your useragent. Toggling it back to false and install extensions on AMO.

[2019-06-04 18:56] bughit opened #2298 "TST settings page goes blank after enough section are expanded"
## Short description
I ran into this after trying to export settings, which required turning on debug mode and expanding "all configs" (please make this less cumbersome). Some other sections were already expanded. After this the whole page went blank and it's no longer possible to get back to a usable state.

I've been able to repro in a new profile.

@piroor Please provide directions for modifyin

[2019-06-04 19:45] bughit opened #2299 "inconsistent "close multiple" confirmation on "close this tree""
## Short description
I don't have new profile repro directions at the moment. In the main profile "close this tree" sometimes/often does not confirm

## Environment

 * Platform (OS): win7 sp1 x64
 * Version of Firefox: 67.0.1 x64
 * Version (or revision) of Tree Style Tab: 3.0.15

[2019-06-04 22:18] xzn opened #2300 "Addons that extend TST randomly stop working when restarting Firefox"
Firefox 67 on Windows 10 64-bit

Not sure how to reproduce this,

I have quite a few addons installed. Aside from TST and a bunch of other addons that I'm using, a few addons that integrate with TST are used:

TST Middle Click
TST Mouse Wheel
Tab Flip
Unload Tabs
Move Unloaded Tabs

Occasionally when I restart Firefox some of these addons stop working and I have to disable and re-enable them again

[2019-06-05 01:56] piroor commented on #2298
I cannot reproduce this problem on my environment (Windows 10, Nightly 69.0a1 and Firefox 67).

Does any scrolling restore vanished options UI? Could you inspect how them become invisible, via about:debugging? If there is no problem around applied styles and bounding boxes, I think that the problem possibly appears due to a bug of the display driver or Firefox itself.

[2019-06-05 02:38] ssokolow commented on #2019
Yep. I'd forgotten about that.

It's now installed again, but it'll be a little while before I've manipulated the tree enough to see if the problem recurs. I never did manage to figure out exactly what sequence of steps triggers it.

(Though TST does still have that annoying problem where it makes the browser temporarily unresponsive on opening the sidebar. However, it seems to have dropped to abo

[2019-06-05 03:12] bughit commented on #2298
Mostly no, it does sometimes reveal one textarea
![image](https://user-images.githubusercontent.com/895588/58927372-4a7c3980-871c-11e9-8667-69bf8202a2a2.png)

That did not allow me to inspect the settings area. It inspects "background/background.html". If you know how to do it please share, might come in handy in the future.

Turning off hardware acceleration fixes it, so probably yes, however I h

[2019-06-05 03:36] piroor commented on #2300
I might reproduced this problem on my environment, but it is not consistently.

I still cannot find out the trigger, but when the problem happens, the ID of the addon which didn't work correctly is missing on the list of known addons which will receive `ready` notifiaction (`configs.cachedExternalAddons`). In this case, TST and the addon (for example, Tab Flip) will work as:

1. Tab Flip is loaded

[2019-06-05 05:48] piroor commented on #2300
OK, I've realized whats happen on a failure case.

1. Other helper addons are loading. They try to send `register-self` message to TST. No one listens the message, so nothing happen.
2. Firefox starts loading of TST. `configs.cachedExternalAddons` is still blank.
3. TST starts listening of messages from other addons.
4. A helper addon sends a `register-self` message to TST.
5. TST receives the `re

[2019-06-05 06:03] piroor commented on #2300
The commit 8e68b89 should fix this problem.

[2019-06-05 06:07] piroor commented on #2299
Too less information. Please research and narrow down the "steps to reproduce". For example, is the current tab a regular web page, any addons.mozilla.org page, or an internal `about:***` page? I really need to exact steps to reproduce the problem constantly.

[2019-06-05 07:18] piroor commented on #2298
You need to choose `options/options.html` from the list:
![image](https://user-images.githubusercontent.com/70062/58935012-13069f00-87a7-11e9-80f1-421091c824de.png)

Then you can inspect the options page with the "Inspector" tab of the debugger.

Thank you for testing. Then I think this problem should be tracked on bugzilla.mozilla.org, because such an misrendering problem can happen on any regula

[2019-06-05 08:46] piroor commented on #2297
It is  hard due to some reasons. Backgrounds:

* TST basically respects Firefox's native tab behavior, including their order.
  * This is for compatibility with Firefox's native tab features and other tab related addons.
  * So, in your example, tabs B, C, and E need to be ordered as they displayed: [A (pinned), B, C, D (pinned), E, F].
* Firefox cannot place non-pinned tabs between pinned tabs.

[2019-06-05 08:56] Kenqr commented on #2194
Thank you for updating, but I was still having problem in some situations.
I didn't report this because I couldn't reproduce the problem in a new profile until today.
I am not sure if you fix bugs about changing `about:config`. If you do, here's the steps to reproduce the problem:

* Start Firefox with a clean profile.
* Install `TST` and `Tab Unloader for Tree Style Tab`.
* In option page of `Tab

[2019-06-05 08:56] piroor commented on #2180
Did you talk about the behavior produced with the [successor tab](https://piro.sakura.ne.jp/latest/blosxom/mozilla/xul/2018-12-03_successor-tabs-api-en.htm#topic2018-12-03_successor-tabs-api-en)? Then TST has some options to control successor tabs like Firefox does. Please see TST's options => Tree Behavior.

[2019-06-05 09:29] piroor commented on #2194
Thanks. I hope that this has been fixed with the commit 9cdeafb. However there are some unknown regressions, so I need to do more dogfooding.

[2019-06-05 09:54] bughit commented on #2298
It facilitates the reproduction and reporting of bugs. The first thing I do if an issue is not trivially reproducible in a new profile, is import my main profile tst settings.

This bug (which is not likely to get fixed) make this more cumbersome than it already is.

Keeping import/export under Development seems sufficient discouragement of its mainstream use. It does not need to be hidden behind

[2019-06-05 10:29] piroor commented on #2275
I've investigated a little to know what's happen when 200 tabs are opened.

* 200 tabs are become "completed" immediately in the background page.
* Only some tabs are detected as "completed" in the sidebar, and rest tabs are treated as "loading" and become "completed" step by step, on my environment.
  * In other words, on my environment the problem "Some tabs are considered not loaded fully by TS

[2019-06-05 13:34] mazunki commented on #2297
I understand changing the order of the tabs is complicated. How about highlighting the group of tabs/the dummy tab while selected?

[2019-06-05 16:56] piroor commented on #2297
OK, I've introduced new "bundled-active" state for such tabs. TST treat a related tab like as the active tab visually. When the related  tab is out of screen, TST automatically scrolls the tab bar to the tab.

[2019-06-05 17:56] piroor commented on #2298
OK, I agree that those buttons are too hidden. I've introduced changes to put them under the "Development" section directly.

Sorry I forgot to comment about this point.

There is no "standard" method to save/load options in WebExtensions addons - someone uses WebExtensions storage API, someone uses cookies, someone uses indexedDB directly. But I think that WebExtensions storage API (local, sync,

[2019-06-05 20:15] xzn commented on #2300
I've just tested the latest commit 9584a3ea0d06545ed61e54f7023d52dc4326da9c on nightly and it appears to be fixed.

I don't really understand WebExtensions' life-cycle. Would it be neccessary to move [this line](https://github.com/piroor/treestyletab/blob/9584a3ea0d06545ed61e54f7023d52dc4326da9c/webextensions/common/tst-api.js#L642) to the top of the function as well?

In any case this issue seems

[2019-06-05 20:18] xzn commented on #2300
Mind if I keep this issue open until the addon is updated on AMO?

[2019-06-06 01:14] irvinm opened #2302 "Expanding trees with large number of tabs scrolls the tab list"
## Short description
Expanding trees larger than the screen area, moves the root of the tree to the top of the tab area.  While I understand how that might be desirable, on large screens (4K screens with lots of area for tabs) moving the root of the tab far away from the point of expanding it isn't ideal.

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3. Create som

[2019-06-06 02:00] piroor commented on #2300
Thank you for testing!

I think there is no need to put the line at the top of the function, but for consistency I've move it there (below the "waiting" logic).

Of course. I'm happy if you close this after you confirm that the problem is completely fixed on the next release.

[2019-06-06 05:13] bughit commented on #2299
When it started happening in the main profile (closing a bookmark group) I debugged confirmToCloseTabs in background.js.

The first line in it `tabs = tabs.filter(tab => !configs.grantedRemovingTabIds.includes(tab.id));` was filtering out all the tabs.

So somehow configs.grantedRemovingTabIds is accumulating tabs invalidly or is not being cleared out. This won't repro on a restart, configs.grante

[2019-06-06 10:36] piroor commented on #2275
Finally I've realized that updates notified between "tab is creating" and "tab is created" were unexpectedly ignored. What happened on a problematic case like you reported is:

1. Firefox notifies a message to `tabs.onCreated` listeners.
2. TST receives the message and starts to initialize a tab object with `"status" = "loading"`.
3. Firefox notifies a message to `webRequest.onBeforeRequest` liste

[2019-06-06 14:20] piroor commented on #2299
With the commit b933c82 `configs.grantedRemovingTabIds` is cleared after 1sec. However I think that this problem can be caused with different trigger. How did you execute the "close this tree" operation with? (Keyboard shortcut Ctrl-W for collapsed tree, custom keyboard shortcut for the "close this tree" TST command, context menu command on the sidebar, context menu command on the native tab bar,

[2019-06-06 14:55] piroor commented on #2302
The current behavior is intentional and respects the behavior on the folder tree of Windows Explorer. Currently it there is no option to disable it, but I've realized that tree UI of Firefox itself (and Thunderbird's folder tree) doesn't work like that. So I've introduced a new secret option `scrollToExpandedTree`. It is `true` by default, and you can deactivate it via `All Configs` list.

[2019-06-06 15:28] piroor commented on #2278
Does the fix #2275 affect to the performance?

[2019-06-06 15:37] #2130 closed

[2019-06-06 16:08] piroor commented on #2278
A performance profile https://github.com/piroor/treestyletab/wiki/How-to-inspect-tree-of-tabs#how-to-collect-a-performance-profile will help such optimizations. We need to reduce bottlenecks (too many function calls or too slow functions) to optimize performance, based on such a profile.

On my environment, there were some bottlenecks around mass reflowing triggered with style changes. The fix for

[2019-06-06 16:25] piroor commented on #2171
@SimonSapin You should use a remote debugger for the target addon. You can started it via `about:debugging`. And you can change the color of scrollbars with the [`scrollbar-color` property](https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-color), like:

[code]

[2019-06-06 16:58] irvinm commented on #2302
This is perfect.  Thank you!

[2019-06-06 16:58] #2302 closed

[2019-06-06 18:15] bughit commented on #2299
"close this tree" top level sidebar context menu item

[2019-06-06 18:17] SimonSapin commented on #2171
Thanks! Both very helpful tips. For anyone else trying this: once the remote debugger is open, don’t forget to pick the correct document/frame with the icon on the top right.

I ended up with:

[code]
-----

Back to the original bug for this issue, it looks like this is fixed? In my case the declaration for relevant CSS variables are coming from `/sidebar/styles/square/plain-color-dark.css`

[2019-06-06 20:56] irvinm opened #2304 "Tab discarded state is not updating"
## Short description
TST no longer is catching (or storing) tab transitions between active and discarded states.  I believe this started with 3.0.16.  In my CSS I have:

/* --------------------------------------------------------------------- */
/* Change discarded tab opacity */
/* --------------------------------------------------------------------- */
.tab.discarded { opacity: 0.6; }

Tabs that

[2019-06-06 21:05] SimonSapin commented on #2304
I am seeing something similar in TST 3.0.15: the `discarded` class is not applied to any tab (although many are in fact unloaded).

[2019-06-06 22:39] #2300 closed

[2019-06-07 01:21] piroor commented on #2171
I think the problem still exists. Colors of "Dark" and "Light" theme are notified via WebExtensions API, but colors of the default theme are not yet.

[2019-06-07 04:00] Gotolei commented on #2304
Also running into this, just triggered a manual update on an install that was still running 3.0.15 and it does look like whatever broke happened between .15 and .16.

Xubuntu 18.04, Fx 67.0.1

[2019-06-07 10:48] suiryc commented on #2304
It seems there may be an issue with both `unread` and `discarded` classes in TST 3.0.16.
If I switch to an unloaded or unread tab, the CSS styles applied remain as if the state did not change. Then if I switch to (e.g.) the Bookmarks in the sidebar then goes back to TST (which rebuilds its content) the tab now has the correct style. So maybe the changes in the tabs state are not properly taken int

[2019-06-07 12:10] sbr61 commented on #2296
I know these settings. The problem is not in TC, which just offers all available container colors. The limitation comes from the Mozilla multi-account container implementation, which only provides 8 fixed (and bright) colors. It is just because most of my tabs are in temporary containers why I would like to replace one of these colors by a more neutral one.

Seeing on the TST options page and the

[2019-06-07 13:05] sbr61 opened #2305 "Tree structure suddenly destroyed - restore possible?"
I had some hundred tabs open when I came across Tree Style Tab just recently. Now after I have spent lots of hours to sort my tabs into a tree structure, everything got flat within a second. (This was on an operation to move one of my tabs from a temporary to a permanent container.)

Is there a possibility to restore my previous tree structure?  (I leave Firefox open and don't create new tabs for

[2019-06-07 14:07] xzn commented on #2304
93c9bd80f698111161d64340cbcd7db35eb63442 seems to have fixed the issue for me,

although I'm use Unload Tabs instead Auto Tab Discard

[2019-06-07 14:14] Fanolian commented on #2304
Fixed for me in 3.0.17.

[2019-06-07 15:03] irvinm commented on #2304
Fixed for me as well in 3.0.17.  Closing.

[2019-06-07 15:03] #2304 closed

[2019-06-07 15:48] suiryc commented on #2304
Fixed for me too.

[2019-06-08 09:54] sbr61 commented on #2305
I was meanwhile able to restore the tree structure by copying `sessionstore-backups\previous.jsonlz4` to `sessionstore.jsonlz4` in my Firefox profile before starting Firefox again.

But then I got the same problem again, and I can describe now what happened: I had a bunch of tabs open, all with sub-pages of github.com. All of them were open in _temporary_ containers. Then I opened a new tab for gi

[2019-06-08 11:10] sbr61 commented on #2305
Piro, you did some great work by creating TST. I consider it the most important extension in the category "Productivity". But it is important that the tree structure stays intact or can easily be restored if something goes wrong. Some thoughts how to improve the situation:

1. TST: **Highest priority:** Please document on the wiki that the tree structure is part of the Firefox session and that/how

[2019-06-08 19:38] azizLIGHT commented on #2275
Fixed for me on FF 69.0a1 (2019-06-08) with TST 3.0.17.9313. Thanks again!

[2019-06-08 19:38] #2275 closed

[2019-06-08 21:35] azizLIGHT commented on #2278
I tried again on FF 69.0a1 (2019-06-08) with TST 3.0.17.9313. I see some improvement where some seconds are cut.

In open 1000 tabs test, one step has been eliminated: `TST sidebar: Group Tab throbbing animation appears and does not stop` due to fixes you issued for #2275. Also, responsiveness is already present at the `TST sidebar: Group Tab title changes to "New Tabs and more"` step. While it is

[2019-06-09 00:00] nollinvoyd opened #2307 "Numbered tabs double entry"
Suddenly when i open my TST menu, I get double entries for numbered tabs

![tst](https://user-images.githubusercontent.com/20844322/59153388-0daa8e00-8a0d-11e9-9734-9f166a84fe03.png)

The only explanation I can think of is that I have a numbered tabs entry in my userchrome.css and, unlike before, it's now showing up in mt TST menu as well as on my regular tabs

If I remove the TST numbered tabs cs

[2019-06-09 00:11] nollinvoyd opened #2308 "Modify large mouseover"
I thought I previously saw a way to modify this mouse over, but I can't find it.

I'd prefer just the tab title, or tab title with url

![tst3](https://user-images.githubusercontent.com/20844322/59153548-341df880-8a10-11e9-846e-9d7712b601f7.png)

 * Platform (OS): Windows 10 Prp
 * Version of Firefox: 680b8
 * Version (or revision) of Tree Style Tab: 3.0.17

[2019-06-10 06:54] piroor commented on #2308
It is by design for the "debug" mode. If you disable the debug mode, the tooltip will show only the title of the tab.

[2019-06-10 06:56] piroor commented on #2307
It is by design on the "debug" mode. On recent versions of TST, I've introduced a new style definition for the debug mode to help debugging: it shows the internal ID of tabs. If you deactivate the debug mode, they will disappear.

[2019-06-10 16:44] nollinvoyd commented on #2307
I prefer the way it looks in my second image, with debug mode checked.  I just want to eliminate the blank space on the left of each tab.

[2019-06-12 01:15] cebas opened #2309 "The tree is broken after Simple Tab Groups switch"
## Short description
After switching to a new group (managed by Simple Tab Groups extension), the tree is broken.

## Steps to reproduce
I can't reproduce it on purpose. I start using FF and suddenly this happens.
As a developer, I understand how important is this. I'm sorry.

## Expected result
The trees keep their structure, internally and visually after changing groups.

## Actual result
After

[2019-06-12 14:04] piroor commented on #2309
TST tries to fixup tree structure when tabs are hidden or shown in a tree. You can deactivate this behavior with the option: TST options => Tree Behavior => When visibility of tabs are changed by other addons => Keep tree structure including hidden tabs. Could you try it?

[2019-06-12 14:10] piroor commented on #2307
Oops, sorry I missed that. Hmm, but the needless space does not appear on my environment (Windows 10, Nightly 69.0a1 and Firefox 67.) Here is a screenshot:
![image](https://user-images.githubusercontent.com/70062/59358119-f77f3380-8d66-11e9-80ad-f7dcb2530a59.png)

[2019-06-12 14:14] cebas commented on #2309
I will and report back to you. Thanks

[2019-06-12 14:36] cebas commented on #2309
I tried with both options and the problem remains.

This is what I've done:

### Test A with the option "Fix up the tree" set

main group (1) selected
tree in group 1 is broken
fix the broken tree to be like I want it:
* A
  * A1
  * A2
* B
  * B1
  * B2
* C
  * C1
  * C2

close FF
open FF
tree is fine

change to group 2

change back to group 1
broken tree:
* A
  * A1
  * A2
  * B
    * B1
    * B

[2019-06-12 14:42] cebas opened #2310 "Can't scroll tree with mouse wheel"
With the same setup as in #2309

After changing to a new group with STG, I can't scroll the tree with mouse wheel.
If I un maximize FF and maximize it again, the scroll work fine again.

[2019-06-12 15:38] piroor commented on #2305
Actually you can restore tabs with tree structure with sessionstore-backup, but please note that there is no guarantee. TST is now built on WebExtensions API completely, and the backend of data storage may be changed by Firefox suddenly. (For example the backend of storage API was changed from JSON file to IndexedDB.)

Wiki of this repository is public, so please add pages if you think it is requi

[2019-06-12 15:39] piroor commented on #2305
An example report is #2267 . Reports written in this format is really helpful for me.

[2019-06-12 16:04] piroor commented on #2296
OK, with the commit 2853e31 now you can remap colors of containers with a style definition like following:

[code]

But icons in the context menu are still shown with original colors, because they are embedded in the SVG icon file, as: https://github.com/piroor/treestyletab/blob/master/webextensions/resources/icons/contextual-identities/briefcase.svg?short_path=9568f3b#L13

[2019-06-12 16:09] piroor commented on #2299
Thanks, but I couldn't reproduce the problem yet. There may be something other hidden pre-steps to reproduce the problem...

[2019-06-12 16:49] piroor commented on #2309
I might to understand why such a problem happens. On my case, I prepared tree as:

* A
  * A1
  * A2
* B
  * B1
  * B2
* C
  * C1
  * C2

and they become flat completely after tabs group switching. With detailed logging I've realized that all tabs are moved when tabs groups are switched. Assume that there are two groups: the Group 1 [X, Y] and the Group 2 [A-C2]:

1. I'm in the Group 1. Tabs are s

[2019-06-12 17:23] piroor commented on #2309
With the commit e5d3f44, the case exact same to this report will be treated more correctly. However, TST's auto-fixing of tree structure for moved tabs is very complex, so similar problems may still there around different patterns...

[2019-06-12 17:33] piroor commented on #2310
On your case, "before" and "after" are as below?:

* Before switching tab group:
  - Less tabs, no scrollbar
  - Maximized window
* After switching tab group:
  - Too many tabs, should be scrollable
  - Maximized window

[2019-06-12 17:36] piroor commented on #2283
Anyway current version TST is WebExtensions API based and enclosed inside the sidebar. It is impossible to affect outside of the sidebar area, especially the native tab bar. So I think that this is not a problem of TST itself.

[2019-06-12 20:08] ssokolow commented on #2019
I'm not sure if this particular bug is still present, but data model corruption still occurs.

1. For reasons unknown to me, opening a bunch of tabs from an RSS feed in Thunderbird caused some to be children or even grandchildren of others.
2. When I dragged one in the tab bar, it and its grandchild came along (which didn't used to happen). 3. Then, when I dragged it *back*, it's child and grandch

[2019-06-13 10:33] protist opened #2311 "[Regression] Can't middle-click to open a new tab; conflict with Multiple Tab Handler"
## Short description
I can no longer middle-click in the "non-tab" area to open a new tab. This is caused by a conflict with the add-on "Multiple Tab Handler".

These two add-ons worked fine together before. The recent update to Tree Style Tab 3.1.0 (2019.6.13) caused this issue.

If I disable "Multiple Tab Handler", middle-click works fine again.

## Steps to reproduce
1. Start Firefox with clean

[2019-06-13 12:53] piroor commented on #2311
Thanks! This should be fixed on 3.1.1.

[2019-06-13 18:56] rienafairefr opened #2312 "weird sidebar lock out behavior"
## Short description
Sometimes, the TST sidebar is completely locked, all tabs completely fail to load, I can only see a "two dots" animation filling the sidebar, tabs do not load at all, apart from `about:xxx` tabs. I suspect there some weird interaction between addons, couldn't name culprits for now. It might not even be a bug in TST per se, it's just manifesting as a lockout of the TST sidebar.

[2019-06-13 22:00] protist commented on #2311
Brilliant! Thank you for the quick fix and the brilliantness that is TST!

[2019-06-13 22:00] #2311 closed

[2019-06-13 23:43] ariasuni commented on #1793
I think it’s good, at least for me.

[2019-06-13 23:43] #1793 closed

[2019-06-14 14:33] Lej77 opened #2313 "[API Improvement] Uninit disabled helper extensions"
## Short description

Tree Style Tab helper extensions can inject style sheets or create [sub panels](https://github.com/piroor/treestyletab/wiki/SubPanel-API) that change how Tree Style Tab's sidebar looks. When any of these extensions are disabled the changes they made to Tree Style Tab's sidebar remain until Tree Style Tab is restarted. It would be nice if these changes instead could be reverte

[2019-06-14 16:26] mruhlin opened #2314 ""Apply Browser Theme" not applying dark colors"
## Short description

Firefox ships with light and dark themes by default, and a "default" theme that can switch between them based on the user's OS-level dark mode settings (for mac OS at least, I'm not sure what other OSes support this).

Setting Tree Style Tab to "apply browser theme" doesn't seem to inherit any theme settings from those default themes though.  It works fine with third party th

[2019-06-15 01:22] 31j commented on #2314
Issue is reproduceable on Windows 10 Pro, Firefox: 68 Beta 10, Tree Style Tab: 3.1.1, **With the Vertigo theme**, Tabs should have dark background and light text however tabs have light background with dark text instead.

Sorry that I don't have any information for even a "temp" fix, best of luck with the issue!

[2019-06-15 13:08] linusr opened #2315 "Unable to install add-on in Firefox 67.0.2"
## Short description
Unable to install add-on in Firefox 67.0.2

## Steps to reproduce
 1. Start Firefox with clean profile.
 2. Go to add on site
 3. Try to install add-on

## Expected result
Successfully install add on.

## Actual result
This add-on requires a newer version of Firefox (at least version 65.0). You are using Firefox 60.0.

## Environment
 * Platform (OS): OS X 10.14.5
 * Version o

[2019-06-15 13:41] sbr61 commented on #2314
GUI customization that can be done by addons seems to be rather limited in Firefox. This is the reason why people created [ShadowFox](https://overdodactyl.github.io/ShadowFox/).

What it does:
- It enables Firefox dark theme.
- It creates files `userChrome.css` and `userContent.css` in a folder `chrome` within your Firefox profile. These files are filled with CSS customization that Firefox will pi

[2019-06-15 14:01] sbr61 commented on #2296
Thank you very much. This makes a big difference on my tree tab - now I have only bright colors where important.

I can live with the original colors on the context menu as it is not open all the time.

For people who use a huge number of generated temporary containers, the possibility to hide them on the menu would be helpful - if you like the idea. For instance, _Switch Container Plus_ (from the

[2019-06-15 14:14] sbr61 commented on #2315
I have had a similar problem with a different addon. This seems to be a problem on the Mozilla side. Please try again after disabling `privacy.resistFingerprinting` in `about:config`. You should be able to re-enable the setting after installation of the plugin.

[2019-06-15 18:25] sbr61 commented on #2305
I will add something on the wiki so that users can take precautions and know how to restore the tree if something bad happens. But give me a few days, I am rather busy at the moment.

I don't know how to narrow down the problem so that it can be reproduced in a few steps with TST alone. It seems to be caused by a situation that is closely related to tab managing by _Temporary Containers_. I have n

[2019-06-17 05:47] piroor commented on #2314
Firefox doesn't notify color information to addons, if it is inherited from the platform. You need to choose "Dark", "Light", or other third party theme. Otherwise, [Firefox Color](https://color.firefox.com/) addon helps you to choose colors manually. TST can apply theme colors on these cases.

[2019-06-17 05:56] piroor commented on #2314
Related bugs on Firefox:

* [1435216 - Return something useful for theme.getCurrent() when the default theme is applied](https://bugzilla.mozilla.org/show_bug.cgi?id=1435216 "1435216 - Return something useful for theme.getCurrent() when the default theme is applied")
* [1542044 - browser.theme.getCurrent() should return dark theme in default theme in dark mode](https://bugzilla.mozilla.org/show_bu

[2019-06-18 03:13] piroor commented on #2315
I couldn't reproduce this problem on my environment. Did you change the user agent string? Or, did you activate tracking protection or something globally?

[2019-06-18 19:00] piroor commented on #2313
Thank you for proposing! I've implemented that, and they looks to be working as expected.

[2019-06-18 19:00] piroor commented on #2313
I still need to add document for this mechanism.

[2019-06-19 08:46] piroor commented on #2305
OK, I've tried to try steps you described as above.

# Steps I did

1. Start Fireflx.
2. Install TST, [Temporary Containers](https://addons.mozilla.org/firefox/addon/temporary-containers/), and [Firefox Multi-Account Containers](https://addons.mozilla.org/firefox/addon/multi-account-containers/).
3. Go to options page of Temporary Containers, and set as:
   * General => Random Container Color (ON)

[2019-06-19 08:51] piroor commented on #2305
The actual result is quite different from expected for me...

[2019-06-19 09:04] piroor commented on #2305
Second try:

# Steps (1-9 are same to the first try)

10. Tabs are restored with each container: ![image](https://user-images.githubusercontent.com/70062/59751872-41629f00-92bc-11e9-9191-6a783d4d74fa.png)
11. Click A-1.

# Expected result

* A-1 is restored at its original position (the first child of A, the parent of A-1-1 and A-1-2)

# Actual result

* The tab A-1-1 is detached from tree and mov

[2019-06-19 09:07] piroor commented on #2305
On the second try, even when I uncheck "Always Open in Personal" for github.com tabs, the clicked (restored) tab is detached from its original position unexpectedly. So this looks a problem of the combination: TST and Temporary Container (MAC looks not related).

[2019-06-19 10:07] linusr commented on #2315
Thanks @sbr61 @piroor , disabling privacy.resistFingerprinting resolved the issue.

[2019-06-19 10:07] #2315 closed

[2019-06-19 11:08] piroor commented on #2305
I've introduced some changes to keep tree structure on such cases. With these changes TST keeps tree structure after tabs are reopened by Temporary Containers on the case I tested.

[2019-06-19 13:42] Lej77 commented on #2313
Thanks for implementing this!

I updated the [wiki with info about this event](https://github.com/piroor/treestyletab/wiki/API-for-other-addons#unregister-from-TST). If you don't like something I wrote then feel free to change it however you like!

I was also thinking about updating [the sub panel wiki](https://github.com/piroor/treestyletab/wiki/SubPanel-API#how-to-register-a-subpanel) to include

[2019-06-19 14:36] piroor commented on #2313
Thanks a lot! I've updated examples in those sections and updated the document of Subpanel API.

[2019-06-19 15:11] piroor commented on #2312
Sadly those logs don't describe what happened on your environment. Errors on the failure case are from Firefox itself.

If you can reproduce the problem easily, inspecting the result of `gMetricsData.toString()` on both `sidebar.html` and `background.html` will help debugging.
https://github.com/piroor/treestyletab/wiki/How-to-inspect-tree-of-tabs#how-to-inspect-the-sidebar
The result indicates th

[2019-06-19 15:15] piroor commented on #2296
TST's context menu is mainly designed to emulate Firefox's native context menu on tabs, so such customizability looks out of purpose, sorry.

[2019-06-19 16:29] piroor opened #2316 "Missrendering of tree after moving across windows"
## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3. Create a tree like:
     * A
       * A-1
       * A-2
 4. Open a new window and open the TST sidebar.
 5. Drag "A" and drop it into the sidebar of the new window.

## Expected result

A, A-1, and A-2 are moved to the new window with their original structure.

## Actual result

They are misrendered as:

* A and A-2 a

[2019-06-19 16:33] piroor commented on #2019
TST tries to attach a newly opened tab to the previous active tab if they have same origin. This behavior is aimed to attach new tabs to the old active tab, when they are opened from the location bar. You can deactivate that on TST's options page: "New Tabs Behavior" => "When new tab with a website same to the current tab is opened from the location bar (or others)" => "Open as" => "an independent

[2019-06-19 17:17] #2313 closed

[2019-06-19 17:25] piroor commented on #2278
Thanks! I've inspected the downloaded performance profile. I've understood that `inheritSoundStateFromChildren()` was called too much on all patterns. It takes 75-81% of the freezing time, so it is clearly a large bottleneck.

[2019-06-19 18:10] piroor commented on #2278
The commit 73e46aae2b1a5b23f0a19560cd72c1ee5012e802 should optimize the function. Could you try profiling with the development build?: https://github.com/piroor/treestyletab/blob/master/README.md#development-builds

[2019-06-19 20:06] rienafairefr commented on #2312
I reproduced the issue, and got the metricsData:
`sidebar.html`:
[code]
`background.html`:
[code]

[2019-06-20 01:18] piroor commented on #2278
...and more optimization with 6b70eb1.

[2019-06-20 02:29] letterq commented on #2022
I have also experienced this issue.
Firefox 67.0.2
Tree-style tab 3.1.1

[2019-06-20 03:47] piroor commented on #2312
Hmm, very odd.

This line means that all initialization processes are completed, because the line should be added after the throbber (a "two dots" animation filling the sidebar) has been hidden.

[2019-06-20 03:49] piroor commented on #2312
Do you have multiple browser windows? Then you need to choose correct `sidebar.html` page corresponding to the "frozen" sidebar, from the list.

[2019-06-20 06:18] SammysHP opened #2317 "Close other tabs leaves group tabs behind"
## Short description
Closing multiple tabs via "close other tabs" from the context menu leaves tab groups behind.

## Steps to reproduce

- Enable preferences to replace closed parents with a group tab
- Enable preference to close group tab on last child
- Open many tabs with many branches
- Choose a leaf tab, open context menu and select "close other tabs"

## Expected result
Only a single tab ex

[2019-06-20 06:23] SammysHP opened #2318 "Open TST preferences from context menu"
Feature request: Add an entry to the context menu of the sidebar to open the TST preferences page. This would make customization easier accessible instead of menu, addons, search for TST.

[2019-06-20 10:17] iroedius opened #2319 "[feature request] Configurable shortcut for closing current tab"
Would it be possible to add a configurable shortcut for closing just the current tab?

[2019-06-20 13:50] piroor commented on #2278
I've found some regressions, so more commits have been introduced.

[2019-06-20 14:03] piroor commented on #2319
Did you mean that an individual tab should be closed when the command is invoked on a parent tab and its descendants are collapsed? Then I'm negative to add the command, because:

* It looks unnatural behavior for me, when the tab is treated as a parent of other tabs. I don't do such an operation while the tree is collapsed. On the other hand, I sometimes want to close only the individual parent t

[2019-06-20 14:15] piroor commented on #2318
Do you use the toolbar button of TST itself? You can go to TST's options page directly from the context menu on the button: ![image](https://user-images.githubusercontent.com/70062/59855385-d85c5380-93af-11e9-84b0-ded3dcff7b89.png) It is not a TST specific behavior, instead the menu is available on any toolbar button provided by addons.

And, as you saw in the screenshot, the menu provides limited

[2019-06-20 14:41] SammysHP commented on #2318
No, I don't use the toolbar button (but can add ero the overflow menu. Your reasons to not include it in the context menu are understandable.

Btw: I open the preferences often to test different features in different contexts to find the best solution for me. Also I improve my custom style regularly.

[2019-06-20 14:41] #2318 closed

[2019-06-20 14:52] piroor commented on #2318
One more workaround, you can bookmark the options page with these steps:

1. Go to `about:debugging`.
2. Find the "Internal UUID" of Tree Style Tab. It should be an UUID like `XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX`.
3. Create a new blank bookmark, and set its URL as `moz-extension://XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX/options/options.html#!`. The UUID is TST's internal UUID.

Then you can open the

[2019-06-20 15:55] piroor commented on #2317
Thanks. With the commit af085bb, now TST won't try to open group tabs when all children are going to be closed.

If you run something command like "Close Other Tabs"  outside of TST, such tabs still may be opened, but I've introduced a failsafe for such cases. TST will cleanup such needless group tabs when they already lose their children. So I hope that chances to see such tabs should be reduced.

[2019-06-20 16:17] piroor commented on #2316
This happens because `kCOMMAND_NOTIFY_CHILDREN_CHANGED` is processed before `kCOMMAND_NOTIFY_TAB_CREATING` or `kCOMMAND_NOTIFY_TAB_CREATED`.

[2019-06-20 16:45] #2316 closed

[2019-06-21 06:02] SammysHP commented on #2317
Seems to work for my use cases. Thank you!

[2019-06-21 06:02] #2317 closed

[2019-06-21 15:09] cebas commented on #2309
It's working fine now. Thanks!
I have extensions auto update enabled, and as this has been working fine since some days ago, I think that release 3.1.0 fixed the issue.

[2019-06-21 15:22] cebas commented on #2310
This is my case:

I have two groups:
- A with enough tabs to create scroll
- B with some tabs (it doesn't matter how many)

I'm at group A with maximized window
- Scroll working fine

Go to group B
Come back to A

- Scroll not working

If I maximize and unmaximize window or if I collapse and uncollapse some trees on group A, scroll starts to work.

[2019-06-22 00:30] azizLIGHT commented on #2278
@piroor Here's some more performance profiles on the newest dev build (TST 3.1.2.9379 on Nightly 69.0a1 (2019-06-21) (64-bit) with fresh profile but with the Dark Theme this time :P)

[2019-06-22.zip.001.zip](https://github.com/piroor/treestyletab/files/3316359/2019-06-22.zip.001.zip)
[2019-06-22.zip.002.zip](https://github.com/piroor/treestyletab/files/3316360/2019-06-22.zip.002.zip)
[2019-06-22.

[2019-06-22 07:55] rienafairefr commented on #2312
This was on a single window.
Apparently the `gMetricsData.toString()` can only show something meaningful once the lock out is finished/throbber disappeared and tabs appearing.

[code]
I'll restart and try to get the output when it's locked out

[2019-06-22 23:21] sbr61 commented on #2305
Thank you very much. With TST version 3.1.2 I tested my original use case. Everything worked fine: all tab replacements by TC/MAC were made in the correct tree position, and the tree structure was not destroyed any more.

However, I have still seen another tree corruption with the new version, again related to TC. Fortunately, this seems to be a rare case, but this also means that it is not easy t

[2019-06-24 14:25] irvinm commented on #2297
@mazunki, is this sufficient?  Can you close this item if so?

[2019-06-24 14:26] irvinm commented on #2194
@Kenqr can you comment if this is resolved or not?  If so, can you close?

[2019-06-24 14:28] irvinm commented on #2274
@piroor does the performance profiles help at all understanding if this is a problem or not?

[2019-06-24 14:30] irvinm commented on #2246
Any updates @stapuft or @Randl ?

[2019-06-24 14:32] irvinm commented on #2115
@piroor is this something you want to pursue at some point?

[2019-06-24 14:34] irvinm commented on #2053
@piroor friendly reminder.

[2019-06-24 14:37] irvinm commented on #2087
@nj2 any updates?  (PS. I usually run about 1000 tabs and I don't use the cache)

[2019-06-24 14:38] irvinm commented on #2190
@piroor any reason to leave this open now?

[2019-06-24 14:40] irvinm commented on #2211
@stapuft any updates?

[2019-06-24 14:41] irvinm commented on #2268
@stapuft any updates?

[2019-06-24 14:41] irvinm commented on #2269
@the-trooper0000 any updates?

[2019-06-24 14:42] irvinm commented on #2207
@stapuft any updates on if we can close this?

[2019-06-24 14:43] irvinm commented on #1984
@piroor can you close this item?  No updates since July 2018.

[2019-06-24 14:43] irvinm commented on #2187
@AnatISR any updates?

[2019-06-24 14:44] irvinm commented on #2023
@piroor can you close this one?  No updates since September 2018.

[2019-06-24 14:44] irvinm commented on #2167
@nollinvoyd any updates?

[2019-06-24 14:44] irvinm commented on #104
@piroor friendly reminder.

[2019-06-24 14:45] irvinm commented on #1753
@piroor can you close this item? No updates since Feb 2018.

[2019-06-24 14:46] irvinm commented on #2154
@aaaddd4747 any updates?

[2019-06-24 14:47] irvinm commented on #2217
@jimmydw666 any updates?  Can we close this?

[2019-06-24 14:49] irvinm commented on #2222
@piroor I think this could probably be closed.

[2019-06-24 14:49] irvinm commented on #2218
@piroor maybe we could close this?

[2019-06-24 14:50] irvinm commented on #2232
@Coldblackice any updates?  Are you still experiencing the issue?

[2019-06-24 14:50] piroor commented on #1753
OK, looks no progress, so I close this for now.

[2019-06-24 14:50] #1753 closed

[2019-06-24 14:51] irvinm commented on #2235
@piroor I think this can be closed.

[2019-06-24 14:51] irvinm commented on #2236
@piroor I think this can be closed.

[2019-06-24 14:52] irvinm commented on #2234
@stapuft any updates?

[2019-06-24 14:52] piroor commented on #2236
OK, I close this as expired.

[2019-06-24 14:52] #2236 closed

[2019-06-24 14:53] piroor commented on #2235
Looks no new background, so I close this.

[2019-06-24 14:53] #2235 closed

[2019-06-24 14:54] irvinm commented on #1907
@piroor is there anything more that can be done at this point or is this a "bug of Firefox itself" for now?

[2019-06-24 14:58] piroor commented on #2023
There looks nothing I can do. Currently Firefox doesn't provide ability to implement stable short URI with addons, so sadly I have no better idea anymore. Thus I close this for now.

[2019-06-24 14:58] #2023 closed

[2019-06-24 14:58] #1984 closed

[2019-06-24 15:00] piroor commented on #2190
I missed this. Today "Import" and "Export" buttons are placed under the "Development" section directly, so I think this has already fixed.

[2019-06-24 15:00] #2190 closed

[2019-06-24 17:33] HighCommander4 commented on #2023
Is there is a Firefox bug tracking this?

[2019-06-24 18:40] rienafairefr commented on #2312
a single session for background.html:
[code]
An async operation takes a lot of time, for sure, but it's not easy to know which of
`waitUntilCompletelyRestored`, `ContextualIdentities.init` or `configs.$loaded` is responsible I guess

[2019-06-24 18:46] versipellis commented on #2217
@piroor I'm curious, is the existence of that group tab necessary to do any sort of groupings with TST? I still use the default horizontal tab bar that comes with FF, but the presence of multiple of those group tabs which take up a whole bunch of horizontal tab bar real estate is quite annoying :| I'd love if those group tabs only appear in the TST hierarchy, but my gut tells me that that isn't po

[2019-06-24 20:50] nh2 commented on #2087
I have now also encountered and filed a Firefox upstream performance issue "[Multi-second UI jank/freeze in ConnectionProxy::Create](https://bugzilla.mozilla.org/show_bug.cgi?id=1546847)".

With severe bugs like that destroying general Firefox performance, it's very difficult for me to tell whether TST has a problem (because of this, or in addition) or not :confused:

[2019-06-24 21:16] irvinm commented on #2087
Thanks for the update @nh2.  I looked over the comments in that report and glad to see it is getting some discussion and traction.  Hopefully they can help out, but it is likely to take a while before anything is resolved.  Thanks again.

[2019-06-24 22:36] jasonswearingen commented on #2218
fyi, still working fabulously for me (FF multi-account containers)

[2019-06-25 00:18] aaaddd4747 commented on #2154
i have not encountered the issue in quite some time now, i presume it to be fixed

[2019-06-25 01:13] irvinm commented on #2154
Awesome!  @aaaddd4747 or @piroor  ... please close this item.

[2019-06-25 01:13] #2154 closed

[2019-06-25 02:57] piroor commented on #2218
OK, I close this for now.

[2019-06-25 02:57] #2218 closed

[2019-06-25 03:59] piroor commented on #2217
@versipellis The feature was originally introduced to organize tabs as a set when they are opened from a bookmark folder. As I commented at https://github.com/piroor/treestyletab/issues/2217#issuecomment-482020712 sadly there is no way to detect a tab is opened from a bookmark or other sources.

There are some ideas to show such "group tabs" only on the sidebar, but I gave up to do that because su

[2019-06-25 04:02] Kenqr commented on #2194
I were not aware that I can close issues created by me. Thanks for reminding me.
I think the issue is resolved, thanks for updating.

But I have found another issue around new tab behavior.
Although it has nothing to do with hidden tabs, it is also about changing `browser.tabs.insertAfterCurrent`, so I will post it here without creating a new issue.

* Start Firefox with a clean profile.
* Install

[2019-06-25 04:16] piroor commented on #2217
@versipellis And, as a workaround, you can hide those tabs in the horizontal tab bar with `userChrome.css` like:

[code]

If the rule is unexpectedly applied for non-group tabs too frequently, you'll need to change title of group tabs with some prefix or suffix like "@hide" and update the selector of the rule like `.tabbrowser-tab:not([image])[label$="@hide"]`.

[2019-06-25 04:22] piroor commented on #2023
Not exact one, but looks related:

1322304 - Allow vanity URLs for WebExtension pages
https://bugzilla.mozilla.org/show_bug.cgi?id=1322304
1271553 - Add ability to implement programmable custom protocol handler
https://bugzilla.mozilla.org/show_bug.cgi?id=1271553

[2019-06-25 04:30] piroor commented on #2222
Looks no progress or regression, so I close this for now.

[2019-06-25 04:30] #2222 closed

[2019-06-25 06:06] piroor commented on #2115
@nollinvoyd Could you post the full CSS declarations your are currently using? There are some complex discussions, so I cannot imagine what CSS rules are that currently applied on your environmetn.

[2019-06-25 06:45] piroor commented on #2053
Sadly `svg.context-properties.content.enabled` is still `false` by default on Firefox 68. As the comment https://bugzilla.mozilla.org/show_bug.cgi?id=1391980#c1 the pref no longer become `true` for this purpose, so I have to give up this idea. Instead I think I should remove dynamic codes for this workaround and close this issue, after https://bugzilla.mozilla.org/show_bug.cgi?id=1367042 become cl

[2019-06-25 09:21] piroor commented on #104
I forgot to see this. Now I've done it: https://github.com/piroor/treestyletab/blob/master/.travis.yml#L15 so 3.1.3 and later will be uploaded to github.com automatically. Thanks a lot!

[2019-06-25 09:21] #104 closed

[2019-06-25 11:41] irvinm commented on #2194
@Kenqr thanks for the update.  I am glad to hear the first issue is resolved.

I also use `browser.tabs.insertAfterCurrent = true` AND `Behavior for new tab actions (other toolbar buttons, keyboard shortcuts, and others) = Open new blank tab as a child of the current tab` but normally don't use `CTRL+T` at all.

In my brief testing of your scenario, I see something even stranger.

- Starting with

[2019-06-25 14:27] Fanolian opened #2320 "Tab tooltip is misplaced after entering a fullscreen video after bug 1062609"
## Short description
After entering and exiting fullscreen of a video, the tooltip when hovering on a tab with a long tab title is no longer placed under the cursor.
The issue is much worse when the sidebar is put on the right side.

## Steps to reproduce

 1. Start Nightly 2019-05-07 build or onwards.
 2. Install TST.
 3. Open a tab containing a video and with a long tab title, e.g. https://www.y

[2019-06-25 19:11] nollinvoyd commented on #2115
What is the current objective.  Numbers, colors, or both?

Things have changed a bit lately

This is the display with the numbered tabs snippets included in the css.  Two visible and distinct numbers, as opposed to 2 tab numbers with one superimposed over the other.  Also, more unwanted color variations.

![numbered tabs - 2 numbers](https://user-images.githubusercontent.com/20844322/60124180-ead2

[2019-06-25 19:22] nollinvoyd opened #2321 "Erratic sidebar scrolling when moving tabs"
When I try to move a tab in the sidebar, the scrolling is erratic.  Nearly impossible to control, with the tendency to "jump" long distances very quickly.

Version of Firefox: 68.ob13
Version (or revision) of Tree Style Tab: 3.12
Windows 10 pro

[2019-06-25 21:48] nollinvoyd commented on #2167
So far so good.  Not seeing blank tabs.

[2019-06-25 21:48] #2167 closed

[2019-06-26 01:53] piroor commented on #2321
I've introduced throttling for the auto-repeating of the auto-scroll behavior, with the commit. Could you try a new development build including the change?: https://github.com/piroor/treestyletab/blob/master/README.md#development-builds

[2019-06-26 02:07] piroor commented on #2274
@tbruckmaier Thanks, I forgot to see your performance profile. After I loaded them I've realized that CC (cycle collection) is triggered again and again on the case with favicon. It means that something operation around favicon eats RAM uselessly. Did such "unloaded" tabs have throbber animation? If animation effects of TST eat too much RAM on your PC, disabling animation effect may reduce such to

[2019-06-26 03:40] piroor commented on #1907
@irvinm To be honest I forgot why I gave up to store cache data per window instead of per tab, so I've reintroduce changes to store caches as an window value. You can activate this change with enabling a secret option `storeCacheAsWindowValue` to `true`. It should reduce the size of stored data, but there may be some regressions. After some dogfooding I think I should make a decision to activate o

[2019-06-26 03:59] piroor commented on #2312
Oops, sorry I misunderstood what was the problem you told. I thought that TST never complete its initialization on yoru case. On the other hand logs you uploaded says that TST takes too much time on its initialization and completed successfully.

Firefox doesn't notify any event like "all tabs are restored" via WebExtensions API, so TST observes events for "new tab is opened (for session restorati

[2019-06-26 04:13] piroor commented on #2320
The placement of the tooltip cannot be controlled by TST, because it is shown by Firefox itself based on element's `title` attribute. So I think it should be tracked at bugzilla.mozilla.org as a bug of Gecko itself.

[2019-06-26 11:04] Fanolian commented on #2320
I filed [Bug 1561570 - Tooltips for elements in WebExtensions sidebar are misplaced after entering a fullscreen video](https://bugzilla.mozilla.org/show_bug.cgi?id=1561570). Closing this issue as this is a Firefox bug that affects all WebExtension utilizing sidebar in general.

[2019-06-26 11:04] #2320 closed

[2019-06-26 11:23] piroor commented on #2320
Thanks!

[2019-06-26 16:38] nollinvoyd commented on #2321
That works, but now it is very slow and deliberate.  Could it be sped up just a bit?

[2019-06-26 16:41] tbruckmaier commented on #2274
@piroor Thanks for your feedback. During the performance profiles, there was no throbber animation active. And i have not used any tab unloading addons. My TTS extra styles are just copied from the wiki, nothing fancy there (i'm attaching the styles at the bottom, including the now disabled favicon "fix"). There might have been an animated favicon though, I am not sure if that could have caused th

[2019-06-26 19:17] Fanolian opened #2322 "[Feature request] Implement the Picture-in-Picture indicator on tabs"
## Short description
[Bug 1528459](https://bugzilla.mozilla.org/show_bug.cgi?id=1528459) introduces a Picture-in-Picture (PiP) indicator on tabs. [Bug 1554579](https://bugzilla.mozilla.org/show_bug.cgi?id=1554579) makes the PiP indicator an extra state of the existing audio indicator.
I think TST should implement it. This is a brand new feature. More polishings should be expected and Firefox's imp

[2019-06-27 00:53] piroor commented on #2322
Is the information exposed to WebExtensions API?

[2019-06-27 01:31] irvinm commented on #2322
[https://www.ghacks.net/2019/02/18/mozilla-working-on-firefox-picture-in-picture-mode/](url)

"Mozilla won't implement the Picture in Picture WebAPI draft in Firefox at this point in time." (February 2019)

Not sure what this means towards the tab indicator or detection of this feature running.

[2019-06-27 02:40] piroor commented on #2322
1561809 - Expose picture-in-picture status to WebExtensions API
https://bugzilla.mozilla.org/show_bug.cgi?id=1561809

[2019-06-27 08:46] UralZima commented on #2274
Hi. After I disabled animations, it became faster, but as @tbruckmaier said, just after starting the browser it works faster, than after some hours or days. I use 3-4 opened browsers with different profiles, and I just restart them all periodically, because they became very slow. Even the scroll is going with big delay. Right now I am typing this message and I see big delay between what I type and

[2019-06-27 09:29] mazunki commented on #2297
This is great. I have been busy for some time, being unable to answer/test the solution, but the provided method works very well. Thank you!

[2019-06-27 09:29] #2297 closed

[2019-06-27 10:57] tbruckmaier commented on #2274
So another follow-up, since I *really* would like to solve this. I have had firefox open now for 2+ hours, and when i was opening several links in new tabs, the lags started (maybe it has something to do with having multiple loading tabs at the same time?). At the time, I had only around 15 tabs open, and the lags stayed even when they were all fully loaded and there was no throbber animation. hto

[2019-06-27 18:24] Lej77 opened #2323 "Incorrect new tab favicon"
## Short description

The new tab favicon fails to load in the latest version of TST (v3.1.2) but it works as expected in TST v3.1.1.

The problem seems to be the `loader.crossOrigin = 'anonymous';` code on l[ine 291 in `TabFavIconHelper.js`](https://github.com/piroor/webextensions-lib-tab-favicon-helper/blob/master/TabFavIconHelper.js#L291). It causes a security error when loading the favicon url

[2019-06-28 08:45] piroor commented on #2323
Thanks, this should be fixed with recent commits.

[2019-06-28 09:07] piroor commented on #2274
@tbruckmaier

Maybe no. I don't know what is the trigger, but sometimes addon process can hang up and it couldn't be killed by disabling of the addon, instead I need to restart Firefox itself.

Thanks, Gecko Profile can analyze deep performance profile inside Firefox itself so it will help more debugging.

[2019-06-28 09:23] piroor commented on #2321
It looks hard, because after the change TST simply ignores second or more "dragover" events in one event loop. As a workaround, please shake your mouse at the edge of the scrollable area. The "dragover" event is fired repeatedly even if you stay your cursor on the same position, but it is also be fired when the cursor is moved (shaken).

[2019-06-28 09:47] piroor commented on #2115
I meant about custom user styles applied to TST's sidebar via TST options => Advanced.

By the way, the red dotted border (indicating the box model of DOM elements) and the pale gray number (indicates internal ID of tabs) are shown only when you activate the debug mode of TST itself, with this section:

https://github.com/piroor/treestyletab/blob/5826e09ad4c243ae8f61ceaa9e1ea51ad3a0bf25/webextensi

[2019-06-28 10:26] piroor commented on #2194
@Kenqr The behavior you said was an intentional result, introduced as a fix for #2054. However I've realized that TST can treat new tabs opened next to the current tab with the option of Firefox more better, with the commit 2de79a2. Now new tab opened with Ctrl-T becomes the next sibling or the first child when you set `browser.tabs.insertAfterCurrent`=`true`, even if you choose "as sibling" or "a

[2019-06-28 13:36] #2323 closed

[2019-06-29 01:10] kulmegil commented on #2023
Sorry I fogrot to comment on this... but yeah it looks like nothing can be done on extension side right now.

[2019-06-29 13:07] rienafairefr commented on #2312
The horizontal tabs were not restored either, so the problem might be more in the tab restoration side and not TST I guess, ok.
I re-created a fresh profile, added the few addons that I needed, and now I don't see the lockout (at least, not yet). Maybe something changed on the firefox side, or something weirder. If I don't see the lockout for a few reboot/restarts I'll close this

[2019-06-30 09:32] OsakaWebbie opened #2324 "Extension "startup" tab opening every time"
I use Firefox Portable, currently version 67.0.4, and recently installed TST version 3.1.2. Every time I open the browser, a tab with info about TST appears (moz-extension://cda85014-ef15-4385-8edd-462daac4067d/resources/startup.html). I assume such a startup tab is only supposed to appear once, not every time Firefox is opened. Since others are not complaining about this, perhaps it's unique to F

[2019-06-30 14:50] piroor commented on #2324
Looks similar to #2292. TST stores its own status with `browser.storage` WebExtensions API, and its backend was migrated from a JSON file to the IndexedDB on Firefox 66. If you disable the IndexedDB feature with `dom.indexedDB.enabled`=`false`, or if the database is corrupt, TST cannot update its own status as "the startup page was already shown". Could you check the preference with `about:config`

[2019-06-30 16:01] OsakaWebbie commented on #2324
Ah, I searched for my issue in English, but didn't try Japanese - haha! (Yes, I do read Japanese, as I've lived in Japan since 1996, but English will always be easier for me.) Piroorさんは日本人であるのを気づきませんでした。Piroorさんの英語は完璧です！

Unlike the user who wrote #2292, in my case `dom.indexedDB.enabled` is `true`.
How can I clean up my profile? If you can just point me to an applicable article or tutorial, I sho

[2019-06-30 16:43] piroor commented on #2324
You can go to your profile directory from `about:support`. In the profile directory there is a folder named `storage`. It contains three subfolders `default`, `permanent`, and `temporary`. I've found a folder named like `moz-extension+++XXXX-XXXX-XXXX-XXX...` under the `default`, so deleting the folder containing the internal ID of TST on your environment in its name (maybe `moz-extension+++cda850

[2019-07-01 03:16] OsakaWebbie commented on #2324
Okay, that solved it - thanks. It's possible that deleting only the TST-specific folder would have been enough, but when I tested the result of that, I failed to realize that I needed to open Firefox twice, not just once, as it has to record that I've seen the page (dummy me!). But next I deleted the whole `default` folder and tested properly, and it behaved as it should. It was probably good to c

[2019-07-01 03:16] #2324 closed

[2019-07-01 04:50] Coldblackice commented on #2232
@piroor @irvinm Apologies, I missed the notification emails on this thread and am only seeing it now.

Yes, I still occasionally have the issue. I'll know right away that it's happened when there's a new tab that can't be closed/moved/anything. If I open the browser fresh and have a session restored, with all the tabs grayed out until selecting, sometimes I'll click on a tab and from that tab I'll

[2019-07-01 05:20] piroor commented on #2232
@Coldblackice You don't need special build for debugging, you just go to `about:debugging`. Please see also https://github.com/piroor/treestyletab/wiki/How-to-inspect-tree-of-tabs#how-to-start-debugger-for-tree-style-tab for more details.

[2019-07-01 17:43] m-thomson commented on #2309
I'm still seeing this issue with 3.1.2.

But, if I read correctly the fix won't be available until 3.1.3. Is that correct @piroor ?

(Side note: Thanks for your work on this amazing plugin)

[2019-07-01 20:02] pbhj commented on #2185
Have you tried adjusting your mouse settings to limit the creation of drag events? In KDE mouse settings for example there is mouse "drag start distance". What OS and DE are you using, if you click an item in your file-manager do you also sometimes mistakenly create a drag event?

If you use a high DPI mouse but don't increase the drag start distance then you'd expect to get false drag events I th

[2019-07-02 00:58] irvinm opened #2325 "3.1.3 pushed to AMO?"
It looks like you published 3.1.3 today via https://github.com/piroor/treestyletab/blob/master/history.en.md but it appears AMO still has 3.1.2.  Not sure if a problem or not, but you should be aware.

[2019-07-02 06:55] piroor commented on #2309
I already uploaded 3.1.3 to AMO and it is still waiting for review.

[2019-07-02 07:01] piroor commented on #2325
I already uploaded 3.1.3 to AMO and still waiting for review. I think that TST now requires not only automated review but a human review also because it became an officially recommended addon.

[2019-07-02 09:44] retep998 commented on #2185
As stated in my original post I am using *Windows*. This issue occurs *only* with tree style tabs, no other application has such issues. This issue also occurs *only* on high DPI monitors. Thus the issue is most definitely just tree style tabs confusing physical with logical coordinates somewhere and thinking the drag destination is miles away from the origin.

[2019-07-02 11:14] irvinm commented on #2325
Ah!  That makes sense.  Thanks.

[2019-07-02 11:14] #2325 closed

[2019-07-02 11:29] irvinm commented on #2185
Just as a point of reference, I use 2 primary machines both using 4k monitors and don't have any issues like this.  One is a notebook, so I have the monitor DPI scaling set at 200% and the mouse is a wireless Logitech 400 DPI mouse.  The other is a 40" screen, so I leave the monitor DPI scaling at 100% and has a high resolution mouse usually at 1200 or 2400 DPI.  There are possibly other factors s

[2019-07-02 20:27] somasis opened #2326 "privacy.resistFingerprinting causes issues with the high contrast theme"
## Short description

Tree Style Tab's high contrast theme has loses most of its color when `privacy.resistFingerprinting` is set to `true`. This does not happen when it is `false`, the default.

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3. Apply the "High Contrast" theme.
 4. Set `privacy.resistFingerprinting` to `true`.
 5. Toggle the visibility of the sideba

[2019-07-03 00:27] array opened #2327 "Firefox 69 b1 doesn't work chrome.css with snipet and visible horizontal tab"
## Short description

## Steps to reproduce

 1. Start Firefox with clean profile.(Profile test)
 2. Install TST.
 3. chorme.cssをスニペットのように設定し、水平タブがでないようにする

## Expected result
水平タブがでないでTST.だけになる

## Actual result
水平タブがでたままになる。
**
Chrome.cssの設定
![image](https://user-images.githubusercontent.com/179274/60554803-21c77e00-9d74-11e9-842c-efdec192793e.png)
Firefox Developer Editionの様子
![image](https://u

[2019-07-03 00:47] irvinm commented on #2327
In about:config, do you have toolkit.legacyUserProfileCustomizations.stylesheets = true?

[2019-07-03 01:52] array commented on #2327
Thanks.
It's Working.

[2019-07-03 14:45] piroor commented on #2327
Then, is there nothing to do on TST side?

[2019-07-03 15:01] piroor commented on #2326
After the commit 44d9a64 tabs are shown with `ThreeDFace` color instead of `Background` (it is a color of the desktop itself). I hope this change make text readable.

[2019-07-03 15:04] piroor commented on #2185
Finally I realized that this type problem on Windows and macOS are triggered by very minor bugs of Firefox itself.

* [1561522 - MouseEvent.screenX/screenY sometimes returns physical coordinates instead of CSS coordinates on dragend](https://bugzilla.mozilla.org/show_bug.cgi?id=1561522)
* [1561879 - Sometimes drag operation started in a sidebar contents provided by an addon is immediately canceled

[2019-07-03 15:53] irvinm commented on #2327
@piroor this issue actually has nothing to do with TST.  Firefox has added this new about:config value in 68 with the default as true if you already have userChrome.css or false otherwise.  However, starting in 69 all "new installs" will have the value set to false.  Therefore, anyone wanting to use userChrome.css on a clean install starting in 69 will need to toggle this about:config value to tru

[2019-07-03 18:15] michaelmrose commented on #1844
I have Treestyle tabs version 3.1.2 on Firefox 69 on linux/Manjaro current.

Its still very slow even just changing from say history back to treestyle tabs takes seconds with a visible progress bar with all of a dozen tabs loaded.

[2019-07-03 19:25] somasis commented on #2326
Using the latest development build, the tabs look fine now, but there's still visual breakage on the background.

![20190703_152458](https://user-images.githubusercontent.com/264788/60619470-4b11f980-9dc8-11e9-9c0e-100abdfd664b.png)

[2019-07-04 08:30] #2327 closed

[2019-07-04 15:16] piroor commented on #2326
After I re-browsed [system color names](https://developer.mozilla.org/en-US/docs/Web/CSS/color_value#System_Colors), I've realized that `AppWorkspace` is better than `Background` for the purpose.  How about that?

[2019-07-04 16:49] piroor commented on #1844
@michaelmrose A [performance profile](https://github.com/piroor/treestyletab/wiki/How-to-inspect-tree-of-tabs#how-to-collect-a-performance-profile) possibly helps me to solve some bottlenecks.

[2019-07-04 18:31] pbhj commented on #1220
Hmm, I'd like to have this feature (inverted tree, newest parents at top, newest children push down the tree and pop to the top; also "+" button at top too). I tried the CSS fix given [#tabbrowser-tabs ...] but it didn't make a change for me, I also tried the "insert to the top of the tree" setting for child tabs but curiously that didn't change anything either.

Should I open a new [feature reque

[2019-07-04 21:41] jfdhuiz commented on #2326
Not only the "High Contrast" theme. I can reproduce the behavior on the combination "Mixed" with "Apply browser theme" as well. The problem is with the tabs (the background seems fine).

[2019-07-05 01:25] piroor commented on #1220
I found an addon [Tab Open/Close Control](https://addons.mozilla.org/firefox/addon/tab-open-close-control/) which allows you to open a new tab at the topmost position, and after testing TST has no compatibility with that because "open new tab as independent tab" behavior always move the opened tab to the last position. So I've introduce a change 63fe4bd to expose "no control" choice for new tab co

[2019-07-05 04:05] piroor commented on #1220
I've realized that Tab Open/Close Control 0.0.3 doesn't work as expected for the option "New Tab Open at" => "First Tab" when there is any pinned tab. I've reported this problem to the author with a patch:

* [diff.txt](https://github.com/piroor/treestyletab/files/3361068/diff.txt) : the patch
* [tab_open_close_control-mod.xpi.zip](https://github.com/piroor/treestyletab/files/3361069/tab_open_clos

[2019-07-05 07:16] pofl commented on #1220
I would love a TST-native option where new independent tabs are created at the leftmost position. I don't want to reverse the children inside the trees. All I want is reverse ordered trees, so that the the most recently created one is at the top and the once that are old are at the bottom. This would make the entire extension more ergonomic. Because most often I'll deal with the most recent tabs a

[2019-07-05 07:33] piroor commented on #1220
Sorry but such a native option won't be implemented by TST itself, because it is not related to "tree management". I believe that it should be controlled by other addons created for the purpose, and TST should become compatible to them (and I hope to make effort for that like my previous comment).

[2019-07-05 07:39] pofl commented on #1220
Alright, what a pitty. Thanks for your work anyway!

[2019-07-05 08:19] piroor commented on #2326
@jfdhuiz Which theme are you using? The "Apply browser theme" option should do nothing for the default theme of Firefox itself.

[2019-07-05 14:24] tbruckmaier commented on #2274
@piroor so I managed to record a Firefox profile: https://perfht.ml/2xvUFI7
I hit "record" when Firefox showed the usual laggy behaviour (with only 20 Tabs open, none loading at the beginning). I have clicked on an (unloaded) tab in TST then.

I have included all threads in the performance profile, since I have no idea what we are looking for. Firefox was nearly freezing though, and CPU was at 100

[2019-07-05 14:41] tbruckmaier commented on #2274
And another one: https://perfht.ml/2LE4ThU
This time with less threads, so I could actually switch some tabs. I have switched between some loaded tabs (including a blank page), then switched to the unloaded tab https://www.sueddeutsche.de/ and waited until it was fully loaded.

[2019-07-05 16:24] m-thomson opened #2328 "Throbber animation slowing page loads by up to 50%"
## Short description

I noticed that certain pages load about ~50% faster with the TST sidebar hidden. I was able to trace it back to the page loading throbber.

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3. Compare load time of CNN.com (or a similarly bloated site) with and without TST sidebar visible.
4.  You should notice a significant difference (for me it w

[2019-07-05 16:27] m-thomson commented on #2328
@piroor There are other throbber-related performance issues reported in the past which I'm sure you're aware of. They mention that the throbber uses a CSS animation

[2019-07-05 16:30] m-thomson commented on #2328
Related https://github.com/piroor/treestyletab/issues/1384

[2019-07-05 17:12] piroor commented on #2274
@tbruckmaier Thank you for uploading very detailed performance profiles. I still cannot understand full of them, but it looks that too frequently communication between the chrome process and the WebExtensions process looks take too much time. Hmm...

[2019-07-05 17:15] piroor commented on #2274
@tbruckmaier Could you try to copy your Firefox profile to something other platform (Windows or macOS) and run Firefox with the profile? If you don't see any slowing down, it is possibly a platform specific issue.

[2019-07-05 17:19] piroor commented on #2328
Sadly I have no more good idea to optimize CSS animations... It is beyond my technical skill.

[2019-07-05 20:40] piroor commented on #2104
Does anyone release a public addon for that? No one yet? I think that it's easy with an example addon  https://github.com/mdn/webextensions-examples/tree/master/runtime-examples , you just need to paste the example above to its background.js.

[2019-07-06 00:06] Lej77 commented on #2328
You could try to use the animation with 30 fps instead of 60 fps by applying the following css:
[code]
Its the css from [line 52 in `webextensions/sidebar/styles/throbber.css`](https://github.com/piroor/treestyletab/blob/master/webextensions/sidebar/styles/throbber.css#L52) and I simply changed the `steps(60)` to `steps(30)`.

From some quick testing I didn't notice any slowdown when comparing loa

[2019-07-06 01:58] irvinm commented on #2104
I don't think it has happen yet.  I was still planning on doing some learning first, but would still like to try.

[2019-07-06 02:03] irvinm commented on #2104
Why did you ask by the way?  (This item was closed for several months already)  Were you interested in some way?

[2019-07-06 03:16] m-thomson commented on #2328
Oops, I didn't mean to close this. I do have saved performance profiles from the sidebar both open and closed if that helps.

After I posted this issue, I lowered the steps way down to <10 and noticed a big improvement.

I've no idea why it would only affect my (MacOS) system. Maybe something about my setup. I'll do some more investigating.

I'm curious though, would an APNG image be better? (It's

[2019-07-06 06:33] piroor commented on #2328
Because SVG throbber is required to apply the theme color to the throbber itself. Firefox itself also uses this method maybe due to same reason.

Anyway, I've inspired from the idea of @Lej77's comment and I've introduced a new custom property to define the animation steps of the throbber with the commit 72db584. After that you can override the animation steps simply like following:

[code]

[2019-07-06 06:36] piroor commented on #2104
Because I've received an email to ask how to implement such an addon based on the example above. I thought to introduce its URL, If anyone already did that.

[2019-07-07 09:49] schmurtzm opened #2329 "[feature request] Automatic different color for each tree"
## **Short description :**
Color tabs tree when a child tab is opened , I mean that each tree could be colored in a different color : it's very useful to find quickly the different sections of your navigation !

## **Expected result :**
(a click on a link opens a new tab in the same color of the current parent tab, the main parent tab is colored only when a child tab is opened).
### Example :
![Ex

[2019-07-07 09:56] schmurtzm commented on #2329
For information tst-colored-tabs is a Tree Style Tab extension that allow to color each tab based on current tab domain (but not allow to color each tree of tabs in a different color)
https://addons.mozilla.org/fr/firefox/addon/tst-colored-tabs/

[2019-07-07 17:48] Lej77 commented on #2328
After some thought the performance issue might be because of tricks we do to make the loading animations synchronized. The following CSS should disable the synchronization:

[code]

[2019-07-07 20:13] irvinm commented on #2104
So I gave it a shot today and was able to build a development addon, load it, and get it to work to some degree.

![image](https://user-images.githubusercontent.com/979729/60773249-bf9eae00-a0d0-11e9-8cf1-5e0efc350b64.png)

The code successfully checks to see if the state is already locked and if not it updates the lock icon and displays it.  However, it does not look like the stored state of the

[2019-07-08 03:59] piroor commented on #2104
Oh, yes, due to security reasons only some builtin classes are exposed to the `states` array now. So you need to track tab's `locked` state with `browser.sessions.setTabValue()` and `browser.sessions.getTabValue()`.

[2019-07-08 04:06] piroor commented on #2104
Updated example code:

[code]

[2019-07-08 04:35] piroor commented on #2329
Sorry but I have no plan to implement coloring feature of tabs, because it looks too far from basic tree management. Instead something another helper addon like TST Colored Tabs should implement that, via TST's API.

[2019-07-08 21:24] schmurtzm commented on #2329
Thanks for your answer, you're right so I've made a request on the TST Colored Tabs repo.
By the way thank for this great addon, it brings me back to Firefox :stuck_out_tongue:

[2019-07-09 01:59] irvinm commented on #2329
@schmurtzm can you close this item?  Thanks.

[2019-07-10 14:49] fncll opened #2330 "[Feature request] Option to Close Tabs to the Top"
I often find myself needing to close tabs to the top of the tree. Having that as an option would be a nice pairing for "Close tabs to the bottom" -- which I believe is a feature of TTT?

[2019-07-10 14:57] piroor commented on #2330
Close Tabs to the Left
https://addons.mozilla.org/firefox/addon/close-tabs-left/
This should work via the context menu on the sidebar.

Sorry but I'm negative to add top level menu commands to the simulated context menu except features natively provided in Firefox's tab context menu itself.

[2019-07-10 15:56] fncll commented on #2330
Thanks

[2019-07-10 15:56] #2330 closed

[2019-07-11 13:49] TiZ-EX1 commented on #2314
Now that Firefox 68 is out, this option is broken for anyone who updates to it. It seems like it might be related to OS theming being blocked on webpages, which I guess TST technically is at the end of the day. I noticed that parts of pages that used to be dark due to my GTK theme weren't dark anymore.

[2019-07-11 14:24] uli42 commented on #2256
I see problems with d'n'd too: When I have TreeStyleTabs in the sidebar and the normal at the top, too, I can drang and drop the top bar tab to top bar of another firefox window, but I cannot drag and drop to/from the sidebar tabs.

[2019-07-11 15:36] irvinm commented on #2272
@stapuft are you still seeing the issue with the current version of TST?  It has been a while.

[2019-07-11 15:36] irvinm commented on #2308
If this is working as designed, can we close this item?

[2019-07-11 15:41] irvinm commented on #2283
@piroor I think we can close this one.

[2019-07-11 15:42] irvinm commented on #2296
@piroor I think we can close this one.

[2019-07-11 15:45] irvinm commented on #2319
@piroor I think we can close this one.  @iroedius feel free to comment and\or reopen if you disagree.

[2019-07-11 15:46] irvinm commented on #2278
@piroor does the new performance profile help at all?

[2019-07-11 15:51] irvinm commented on #2305
@piroor any comments on this one?

@sbr61 nice write-up on the Wiki.  I am also wondering if we can close this item now until you have a more reproducible case on the new issue.

[2019-07-11 15:52] irvinm commented on #2246
@piroor ... maybe close and mark "expired"?  No updates since May.

[2019-07-11 15:53] irvinm commented on #2211
@piroor maybe close and mark "expired"?  No updates since April.

[2019-07-11 15:53] irvinm commented on #2268
@piroor maybe close and mark "expired"?  No updates since May.

[2019-07-11 15:54] irvinm commented on #2269
@piroor I think we can close this one.

[2019-07-11 15:54] irvinm commented on #2207
@piroor I think we can close this one.  No updates since March.

[2019-07-11 15:55] irvinm commented on #2187
@piroor I think we can close and mark "expired".

[2019-07-11 15:56] irvinm commented on #2234
@piroor I think this can be closed and mark "expired".

[2019-07-11 16:00] irvinm commented on #2087
@piroor do you want to label this "bug of Firefox itself" or do anything more from your side?

@nh2 looks like with your help they are still progressing the issue.  I see they raised the priority to a P2.

[2019-07-11 16:01] irvinm commented on #2217
@piroor I think this can be closed and mark "expired".

[2019-07-11 16:05] irvinm commented on #1907
Has anyone who has had problems with their session store file getting large try and comment on the new option?  My session store file is only 4.3MB with 1003 tabs so I will not be trying.

[2019-07-11 16:08] irvinm commented on #2194
@Kenqr how are things with the current version of TST?

[2019-07-11 16:10] irvinm commented on #2312
@rienafairefr have you seen the issue again?  If not, can you close this item?

[2019-07-11 16:12] irvinm commented on #2185
@retep998 can you report back on how things are with the current version of TST?  (3.1.5)

[2019-07-11 16:16] irvinm commented on #2274
@tbruckmaier can you also report back if you see the same performance issues with FF68?  I have personally seen a performance improvement with TST, but that could also just be in my head as it wasn't bad before that. If you aren't planning on going to FF68, just ignore this. :)

[2019-07-11 16:18] irvinm commented on #2328
@m-thomson have you tried any of the workarounds?  Do they improve your performance?

[2019-07-11 16:19] irvinm commented on #2271
@nollinvoyd just a shot in the dark, but how are things with FF68 and TST3.1.5?

[2019-07-11 17:10] tbruckmaier commented on #2274
Hi, @piroor's comment  gave the the right hints: I went through all my settings again, and discovered that I had openGL enabled via `layers.acceleration.force-enabled` (as it was suggested in https://bugzilla.mozilla.org/show_bug.cgi?id=594876#c109 ). After I have disabled it again, the lags are gone. Hooray!

I have been using this setting for quite some time though, and I have not experienced th

[2019-07-11 17:20] irvinm commented on #2274
Interesting.  I just checked and I have `layers.acceleration.force-enabled` = false.  I would have thought that would be set to true.  I have `Use recommended performance settings` checked in my FF settings.

[2019-07-11 17:24] LeeUnd opened #2331 "Removinmg icon and URL"
I have used this extension before and had to move it to another profile. Unfortunately, my settings did not carry over. What is the setting or CSS for removing the icon and URL on each tab?

Thanks!

[2019-07-11 17:28] retep998 commented on #2185
Since my TST has updated I have been unable to reproduce this issue. The workaround appears to have fixed things.

[2019-07-11 17:32] LeeUnd commented on #2331
I found the answer. Just set the 'Compact Mode' to 'Always.' Great extension!

[2019-07-11 17:32] #2331 closed

[2019-07-11 17:53] irvinm commented on #2274
@tbruckmaier doing a little research on the topic, I am guessing my setting isn't "abnormal" in that it just isn't "forced" in my situation.  In my about:config I can see that my `Compositing = WebRender` which is GPU based, but I think for only the 2D rendering.  I am not sure how to tell if it CPU or GPU video rendered when just choosing "Use recommended performance settings".

In either case, d

[2019-07-11 17:55] irvinm commented on #2185
Awesome!  Would you mind closing this item then?

[2019-07-11 18:31] tbruckmaier commented on #2274
@irvinm I think it depends on the hardware. I am on `Compositing = Basic` now. At the bottom of the Graphics block `about:support` you can see the decision log. This is what it looks for me:

![image](https://user-images.githubusercontent.com/4941331/61075551-86d93e80-a41a-11e9-9e7a-d93866e3c65c.png)

Though I am still on FF67, I think in FF68 WebRender is enabled by default on more configurations

[2019-07-11 18:52] irvinm commented on #2274
@UralZima do any of the recent comments help you?

[2019-07-11 19:17] FichteFoll commented on #2314
I can confirm this. I was using this option with the Arc-Dark theme and after updating to 68 my TST is bright. I guess the workaround is to downgrade until this is fixed in upstream?

[2019-07-11 19:43] TiZ-EX1 commented on #2314
I went to /r/FirefoxCSS about this, and apparently there is a new about:config option: `widget.content.allow-gtk-dark-theme` Set that to `true` then restart.

[2019-07-12 09:19] Kenqr commented on #2194
I think the previous issue is fixed. Thanks for updating.

But I found another problem (again).
![GIF](https://upload.cc/i1/2019/07/12/6cd3yE.gif)

Steps to reproduce:
* Start Firefox with a clean profile.
* Install `TST` and `Tab Unloader for Tree Style Tab`
* In option page of Tab Unloader, turn on `Tab Hiding` and grant `tabHide` permission.
* In a new window, create 3 tabs, rearrange them like

[2019-07-13 21:03] jayywolff commented on #2314
![image](https://user-images.githubusercontent.com/16052485/61176519-2966fe00-a590-11e9-8e6f-52d4def949fb.png)

[2019-07-13 23:22] Fanolian opened #2332 "[Nightly only] TST is affected by bug 1558914 (Disable Array generics in Nightly)"
## Short description
[Bug 1558914 - Disable Array generics in Nightly](https://bugzilla.mozilla.org/show_bug.cgi?id=1558914)
[Bug 1565832 - Some extensions don't work anymore after landing patches from bug #1558914
](https://bugzilla.mozilla.org/show_bug.cgi?id=1565832)
I don't know the technical details about bug 1558914 but it prohibits me from closing a tree by middle click.

## Steps to reprod

[2019-07-14 11:54] sbr61 commented on #2305
I retested today with the newest addon versions. Step 8 [above](https://github.com/piroor/treestyletab/issues/2305#issuecomment-504705534) does not not take place anymore. Other tab replacements or additions by TC seem to be much smoother now.

My impression is that the latest changes in TC improving compatibility to TST have fixed the problem or made it less likely to occur again. So we can close

[2019-07-14 11:54] #2305 closed

[2019-07-14 22:37] InsertUser opened #2333 "Close of parent tab preferences not respected with some plugin focus preferences"
## Short description
Using the "Treat as a parent by operations inside the tree sidebar./Treat just as a solo tab, by operations outside the tree sidebar." preference set, the "Replace closed parent with a dummy tab and keep the tree" preference is ignored.

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3. RMB on TST icon Manage Extension > Options
 4. Under "When

[2019-07-16 09:29] piroor commented on #2333
This is exactly expected behavior of the option "Treat as a parent by operations inside the tree sidebar./Treat just as a solo tab, by operations outside the tree sidebar." The keyboard shortcut Ctrl-W is tracked by Firefox itself not by TST, so the operation is treated as "happened at outside the sidebar". Instead, if you click the closebox of the tree item in the sidebar, it will be treated as "

[2019-07-16 09:55] piroor commented on #2332
Thanks! I've done changes to remove codes based on Array generics methods on my addons.

[2019-07-16 10:01] piroor commented on #2332
I think I should close this issue after all affected addons are released.

[2019-07-16 20:23] InsertUser commented on #2333
I appreciate that a new dummy tab appearing might be counter-intuitive, but could you add an option to set the fallback for this action? To me, both the "promote all children to parent's level" and "liberate children from tree" options make much more sense for an externally closed tab than choosing a somewhat arbitrary successor for the top level.

[2019-07-17 12:22] piroor commented on #2333
Hmm, I've realized that the UI for these configurations should be redesigned totally...

[2019-07-18 13:15] mruhlin commented on #2314
Hey thanks for the info.  I just got back around to looking at this, and I don't see a `widget.content.allow-gtk-dark-theme` anywhere in about:config.  (using firefox version 68.0, which they say is the latest.  Did they give us a fix and then take it away?

[2019-07-18 20:26] AnatISR commented on #2187
sorry,
I had problem in my mail since April.
I just now saw all the massages.
again, sorry.
In the mean time I had different trees opened each time but I did not record it and ignore.
Usually I worked on many tabs.
now I will make a new trial for issue #2201 and issue #2187
and will write here the results.
Anat

[2019-07-19 15:57] den-is opened #2334 "Active page becomes overridden after browser restart"
## Short description
First of all sorry I wasn't completely sure where to report this issue.

When you reopen FF with TTS and [Quick Dial](https://addons.mozilla.org/en-US/firefox/addon/quick-dial/) extenstions installed - Previously active page become Quick Dial page - you should press `Back` to go back to you orinal page.

## Steps to reproduce

 1. Start Firefox with clean profile. Enable Previ

[2019-07-20 17:21] narzb opened #2335 "[feature request] - Copy links of selected tabs"
I want to be able to copy URLs of selected tabs with context menu (right click)

Why :
to export easily all page i have opened without bookmark it

It would be a very useful feature to add to the context menu without degrade the interface (it will be hidden in context menu)

[2019-07-21 08:39] nnovikov opened #2336 "middle click close"
Is it possible to disable closing tab by middle click? I can't find it in settings.

[2019-07-21 17:20] den-is commented on #2334
Looks like it was Quick Dial issue ... suggested timeout setting kinda worked
so far so good
closing for now

[2019-07-21 17:20] #2334 closed

[2019-07-22 13:23] irvinm commented on #2335
I am not sure if you mean "selected tabs" (Using addon "Multiple Tab Handler") or if "all" tabs.  If you mean "all tabs", there is already an addon to do that:  https://addons.mozilla.org/en-US/firefox/addon/copy-all-tab-urls-we/

[2019-07-23 08:49] piroor commented on #2335
I personally use my another addon [Copy Selected Tabs to Clipboard](https://addons.mozilla.org/firefox/addon/copy-selected-tabs-to-clipboar/) with TST.

Sorry but I won't integrate this feature to TST because TST project focuses to "tree of tabs". Instead TST should be compatible with other addons like above, and if you see any compatibility issue with other addons please report that.

[2019-07-23 10:06] piroor commented on #2336
TST has no such option, but some helper addon may do that.
https://github.com/piroor/treestyletab#addons-that-extend-tst
TST provides an API to handle click events on sidebar items.
https://github.com/piroor/treestyletab/wiki/API-for-other-addons#when-a-tab-is-clicked
If there is no existing helper addon providing features you want, you may need to create an addon for the purpose by yourself.

[2019-07-23 17:23] dksher commented on #2309
@piroor With TST 3.1.5 and STG 3.4.4, the tree structure can be corrupted when switching the group.

[2019-07-24 06:05] antanst commented on #2022
This still persists on Firefox 68 on MacOS. Closing and reopening the sidebar fixes it temporarily.

[2019-07-24 06:16] piroor commented on #2309
@dksher As discussed above, tree corruption is triggered by tab moves produced by STG, and only some cases are fixed by TST. I need detailed steps to reproduce the problem you saw,  like the initial comment of this issue.

[2019-07-24 06:20] piroor commented on #2022
1561570 - Tooltips for elements in WebExtensions sidebar are misplaced after entering a fullscreen video
https://bugzilla.mozilla.org/show_bug.cgi?id=1561570
I think this problem should be tracked on bugzilla as a bug of Firefox itself like above.

[2019-07-24 08:42] dksher commented on #2309
I can't reproduce it on purpose as with op. When I change the group, the tree structure sometimes get broken.

Original tree:
- A
- B
  - B1
  - B2
- C
  - C1

Broken tree Case A:
- A
- B
- B1
- B2
- C
- C1

Broken tree Case B:
- A
  - C1
- B
  - B1
  - B2
- C _(lost C1 but still has ▼ mark)_

Firefox 68.0.1
TST 3.1.5
STG 3.4.4
Other addons: uBlock Origin, Multiple Tab Handler, etc.

[2019-07-24 10:34] piroor commented on #2333
I've implemented new option UI for these behaviors:

![image](https://user-images.githubusercontent.com/70062/61786983-c9067500-ae49-11e9-9c15-e9fdaeda3443.png)
![image](https://user-images.githubusercontent.com/70062/61787028-e2a7bc80-ae49-11e9-9111-a56dd6ac6323.png)
![image](https://user-images.githubusercontent.com/70062/61787064-f9e6aa00-ae49-11e9-81cd-f65bd3ac3311.png)

[2019-07-25 20:47] sam-fakhreddine opened #2338 "[Feature Request] Rename tab to prepend Container Name"
Would it be possible to get a feature that prepends the container name to the tab title so we can easily see which Container we are in / container we are switching to?

Use Case: Working with a lot of different Amazon consoles for customers, would be nice if the tab was prepended with the container name

See screenshot for mockup

<img width="283" alt="image" src="https://user-images.githubusercon

[2019-07-27 15:59] famfop opened #2339 "Mouse click event when holding pressed and shifted from website to TST"
Sorry for the title, I couldn't find a better name for it.

## Short description + Steps to reproduce
When on a website like here on github, press the mouse (and keep it pressed), go over the TST sidebar, release the mouse, and go back to the website. The mouse still is detected as "mouse button pressed". This does not happen in the Bookmarks, History or Synced Tabs sidebars.

## Expected result
N

[2019-07-28 12:44] #2335 closed

[2019-07-29 04:47] xzn opened #2340 "Randomly blow up memory usage and crash sometimes when under heavy usage"
On Firefox 68 on Windows 10 x64

I don't really have a way of reproducing (not sure if it's even an issue with this addon)

Sometimes under heavy usage TST sidebar would complete freeze, gigabytes of memory would get used and eventually Firefox ask me to kill some "unresponsive tab". The sidebar falls into a zombie state afterward and won't function again until I disabled and reenabled the addon.

[2019-07-29 06:26] xzn commented on #2340
Apparently logs for an extensions is lost if you disable/reenable it even if `persist logs` is checked.

In any case I get the following:
[code]

This is from the version of TST on AMO. The line seems to be from [here](https://github.com/piroor/treestyletab/blob/44d9a6458a1536e773fadb59e6cdc6e60128f503/webextensions/common/Tab.js#L477)

Not sure if the problem really is here though, the loop itsel

[2019-07-29 07:09] xzn opened #2341 "Sometimes closed tabs remain in the sidebar."
## Short info

As titled, clicking on those entries doesn't do anything.

Closing and reopening the sidebar causes them to go away.

## Reproduction steps

Do normal web browsing. Sometimes a tab would stay in the sidebar after it's closed. Clicking on it has no effect. Closing the sidebar then reopen TST sidebar fixes it.

## Firefox version

68.0.1 Stable x64 on Windows 10

## TST version

AMO 2

[2019-07-29 07:28] piroor commented on #2339
How can I test this? I couldn't reproduce this problem with following cases:

* Mousedown on a link, drag it to the sidebar, drop it to the sidebar. (Then a new tab is opened by TST, and when I switch back to the original tab there looks to be no problem.)
* Mousedown on a selected text, drag it to sidebar, drop it to the sidebar. (Then a search result is opened by TST and when I switch back to th

[2019-07-29 07:30] piroor commented on #2341
Too less information. Please fill the issue template especially the steps to reproduce...

[2019-07-29 08:09] piroor commented on #2340
This type stack trace possibly indicate a non-bottleneck code, because it just indicates that which line is executed when the process is stopped. Instead [a performance profile](https://github.com/piroor/treestyletab/wiki/How-to-inspect-tree-of-tabs#how-to-collect-a-performance-profile) may reveal what the bottleneck is.

[2019-07-29 08:47] xzn commented on #2340
I'll give it a try. As mentioned above it only happens sporadically and I have no way of reproducing it properly.

Does the performance profiling takes up a lot of space? I've tried GC/CC log before and it uses like 10GB of space in a few minutes.

In the performance profiling settings, are the default options good enough?
![image](https://user-images.githubusercontent.com/1617680/62034333-399fef8

[2019-07-29 09:04] xzn commented on #2341
Apologies for too little information. Edited with slightly more info. Unfortunately I've no consistent way of reproducing it. Even after it happens, trying to do the same thing multiple times doesn't cause it to happen again. Then it happens some other time when I'm just doing normal web browsing.

Should I try the debug logs in the TST settings? What should be the files to enable debug log for? I

[2019-07-29 09:06] piroor commented on #2338
It looks unrelated to the "tree" concept. I think this should be done with an addon created for the purpose.

[2019-07-29 10:56] Fanolian commented on #2339
I can reproduce this with scenario 3 (selecting text) in 68.0.1 and Nightly 2019-07-28 on Windows 10, TST 3.1.5.

### Steps to reproduce
0. Assuming TST sidebar is on the left.
1. Move cursor to between `B` and `C` in this text: `ABCD`.
2. Click and hold left mouse button. Drag horizontally to the left to TST sidebar. At least `AB` is highlighted.
3. Release left mouse button on TST sidebar.
4. Mo

[2019-07-30 18:20] ajmeese7 opened #2342 "Options menu scaled way down"
## Short description
The Firefox options menu for the extension is incredibly small to the point where I cannot read most of the text without straining myself, and zooming does not solve the issue.

EDIT: I think it might have something to do with my laptop having an UHD display, because on my desktop the menu does not display this behavior.

## Steps to reproduce

 1. Start Firefox Developer Edit

[2019-07-30 18:30] ajmeese7 opened #2343 "Theme color not applying to top bar"
##  Short description
For some reason the top level of the tree does not change colors with the change in theme. The rest of the levels will change for any theme change, but that level remains white.

I'm sure this isn't enough information to go about getting a fix, so just let me know what else I need to include.

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3. S

[2019-07-30 20:49] irvinm commented on #2342
I have the same situation with a 4k monitor.  Either use "Control and +" a few times on that page to make it larger or use an addon like "Fixed Zoom" to increase the size of all of your pages.

[2019-07-30 21:10] irvinm commented on #2343
Check out part of the wiki around possibly hiding it if you want:  https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#hide-the-tree-style-tab-header-at-the-top-of-the-sidebar

If you wanted to apply CSS changes, you might be able to derive what you need from the above wiki entries as well.

Remember that the sidebar is shared with multiple functional areas for Firefox

[2019-07-31 15:36] ajmeese7 commented on #2342
@irvinm zooming in doesn't work. The rest of the page's size increases while the size of the options menu remains constant

[2019-07-31 15:40] ajmeese7 commented on #2343
@irvinm the issue is the style is applying as it should on my desktop but it refuses to on my laptop. They both have the exact same synced Firefox with identical extensions and settings, so both should properly display the selected theme for that part of the sidebar, not just my desktop browser.

I understand that you are trying to offer a workaround, but that does not resolve the underlying issue

[2019-07-31 15:53] irvinm commented on #2343
Ah!  Gotcha.  Thanks for the clarification.

[2019-07-31 15:55] irvinm commented on #2342
Wow ... you are right.  Sorry, I thought that would help.

[2019-07-31 16:03] irvinm commented on #2342
Testing this out with a bunch of my extensions, it looks like any addon that hooks its options directly into the about:addon page does not respond to scaling requests from the browser although some parts of the page *DO* respond to the scaling ... just not the parts related to the addon configuration.  If clicking on options brings up a new page in the form of moz-extension://xxx, the entire page

[2019-08-01 13:22] dksher commented on #2309
@piroor
Broken tree Case 3:
- A
  - B2
  - B1
- B
- C
  - C1

[2019-08-03 10:29] xzn commented on #2340
After some logging, there appears to be cyclical references of `parent` and `child`. So `get ancestors()` and `get descendants()` go into infinite loop. Don't know why it happens though.

[2019-08-03 15:22] dksher commented on #2309
Broken tree Case 4:
- A
- C1
- B1
- B2
- B
- C

[2019-08-04 05:23] michaelm2391 opened #2345 "Native + Vertical tab combination"
I'd enjoy the ability to use the native (horizontal) tabs as 'master containers' for Tree Style Tabs groupings.

example:
'Personal' container as horizontal tab 1 opens a list of TST groupings related to personal matters.
'Work' container as horizontal tab 2 opens a list of TST groupings related to work matters.

And so on. Obviously the selection of respective groupings would be at the user's dis

[2019-08-05 06:54] piroor commented on #2345
Currently tabs in the native (horizontal) tab bar and the TST sidebar (vertical tab bar) are just mirrored. Do you mean that only "grouping" tabs should be visible in the native tab bar and only tabs in the "active group" should be visible?

Then I think it can be done with a combination of the TST and another addon providing an ability to switch tab sets with groups, for example "Simple Tab Group

[2019-08-05 08:01] piroor commented on #2309
@dksher I think that on your cases there were some hidden tabs between visible tabs, for example assume that there are two groups X and Y:

* [X]A
* [Y]D
* [X]B
* [Y]E
  * [X]B1
  * [X]B2
* [X]C
  * [X]C1

Could you inspect and paste the full tabs information *before and after* switching of tab groups? Steps:

1. [Open debugger for Tree Style Tab and load `background/background.js`](https://github

[2019-08-05 09:30] piroor commented on #2340
Thanks. I thought that TST has some guards for such a cyclic reference, but there looks to be some unhandled cases. Hmm...

Do you use drag and drop to modify tree structure frequently? Or, is the problem happen on opening/closing of tabs?

[2019-08-05 09:34] piroor commented on #2342
I've tested this and odd behavior appears around inline options page of multiple addons. Not only TST, I've seen this problem with the Simple Tab Groups addon.

[2019-08-05 13:28] dksher commented on #2309
@pirror The examples I posted were simplified and my FF actually has a lot of tabs. Does the debug string have any privacy-sensitive information? I'm a bit worried.

[2019-08-05 13:43] piroor commented on #2309
The script above removes URL, title, and favicon's URL of each tabs from grabbed data. Only one sensitive data is: the internal name of containers like `firefox-default`, `firefox-container-1`, and others. Rest properties are same to the one exposed for an addon which doesn't have a permission to access privacy data. If you don't want to upload full data to here but you can expose them to me, plea

[2019-08-05 14:00] dksher commented on #2309
@pirror An email sent. Thanks

[2019-08-05 14:56] ajmeese7 opened #2346 "Feature request: colors for containers in Firefox"
## Short description
This is different from the previous related issues because I'm not suggesting any fancy grouping methods or anything. I just think it would be nice if there could be a similar colored underline in the side tree to the one on the top nav bar.

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3. Open a tab in a container in Firefox.

## Expected res

[2019-08-05 19:36] xzn commented on #2340
So far it only happened on opening/closing of tabs. I've no way of reproducing it consistently however.

[2019-08-06 01:46] piroor commented on #2340
I've introduce new guard for cyclic references. I hope it covers your case.

[2019-08-06 01:56] piroor commented on #2346
I think it can be done with a custom style sheet like:

[code]

[2019-08-06 02:01] piroor commented on #2346
Anyway, basically the appearance of UI elements in TST's sidebar are designed as a -90deg rotated version of the native tab bar. The container indicator is shown at side of tabs opposite the "active" state indicator. It was based on a design decision so I won't apply this change globally.

[2019-08-06 02:29] piroor commented on #2309
Thanks! But after inspection I've understood that I wrote wrong steps. I asked you to get two JSONs on these steps:

1. initial state ( => the first JSON)
2. switch to another group
3. back to the initial group ( => the second JSON)

but actually I needed JSONs of all these three steps to inspect what happened at 1-2 and 2-3. Could you collect dumped data again?

[2019-08-06 04:59] piroor commented on #2342
1571614 - Miss-synchronization of the zoom level at an inline options page and the addon manager page
https://bugzilla.mozilla.org/show_bug.cgi?id=1571614

I've filed a bug.

[2019-08-06 05:21] dksher commented on #2309
@piroor OK, I dumped JSONs on all the three steps and sent them via email.

[2019-08-06 06:21] piroor commented on #2309
Thanks! Things I've understood after inspection are:

* There are three or more groups.
  * The initial group (A): tabs 1-78
  * The switched group (B): tabs 79-91
  * Rest tabs: tabs 92-147
* When you switch the active group from A to B, 13 tabs become visible and 78 tabs become hidden.
  * Then the original tree structure of hiding 78 tabs is completely kept.
* When you go back to the group A, 7

[2019-08-06 06:33] dksher commented on #2309
Thanks for the inspection. Yes, that's the case I sent. Note that there are also other patterns of tree corruption as I mentioned above.

[2019-08-06 06:55] piroor commented on #2309
I've prepared 143 (blank) tabs and organized tree as exactly same to your case, and I've tried to switch groups. But sadly the problem you saw doesn't happen on my environment.

So I think that the problem depends on the system performance. When the system performance is enough high, TST may process moved tabs at a time. On the other hand, if the performance is not enough, something other process

[2019-08-06 08:48] dksher commented on #2309
Specs are Core i7 4790K plus 16GB RAM on my side, which is powerful enough for most apps including FF I believe. It might not be enough to control 140+ tabs though.

[2019-08-06 09:12] piroor commented on #2309
With the commit 9579231 I've introduced a guard for bulk moved tabs. TST tries to fix up tree structure when a tab is detected as "moved", but after the commit TST doesn't try that if neighbor tabs are not changed after the tab is moved. I hope this change is effective for moved tabs operated by Simple Tab Groups or similar add-ons.

Currently the system to create development builds automatically

[2019-08-06 13:54] piroor commented on #2342
It has been resolved as a duplicated bug of:
1398481 - WebExtensions - Embedded add-on options page does not zoom when Add-ons Manager (about:addons) page is zoomed
https://bugzilla.mozilla.org/show_bug.cgi?id=1398481

[2019-08-06 14:29] xzn commented on #2340
Thanks for the update! I'll reopen this if I run into this issue again in the future.

[2019-08-06 15:31] ajmeese7 commented on #2342
Sucks that they haven't fixed this yet. Thanks for creating a bug report though! Hopefully they'll get around to it eventually.

[2019-08-06 17:59] rienafairefr commented on #2312
It has degraded, I'm afraid, and it feels like it's worse and worse every day. It genuinely didn't lock out when I created a fresh profile, but now it's waiting, and I really feel it's waiting more and more. :-(

[2019-08-07 01:47] piroor commented on #2312
I don't know it is really related to this or not, but I've introduced a new guard for cyclic references of tabs at #2340. It possibly affect to system performance down triggered by cyclic references.

[2019-08-07 01:51] piroor commented on #2339
Thanks, I've confirmed the problem with your scenario. This is not a TST-side problem, but a bug of Firefox itself. I've confirmed that it happens not only on TST's sidebar but also on [Sidebar+](https://addons.mozilla.org/firefox/addon/sidebar_plus/)'s sidebar.

[2019-08-07 02:13] piroor commented on #2339
1571946 - Text selection in the content area is not canceled after mouseup on a sidebar panel provided by an add-on
https://bugzilla.mozilla.org/show_bug.cgi?id=1571946
I've filed a bug.

[2019-08-07 08:37] wvxwxvw opened #2347 "Feature request: Option "Do not close child tabs anyway""
Hi,
Currently, if the tree is collapsed, then closing the parent tab closes the entire tree. I would like to see an option "Do not close child tabs anyway".

Let everyone myself decide what behavior suits him best. At the moment such a choice is not provided.

Thank you for the wonderful addon.

[2019-08-07 08:44] piroor commented on #2194
@Kenqr I've confirmed that it happens when TST keeps tree structure for hidden tabs. With the commit 46d1ea2 TST allows you to attach a dropped tab to hidden parent tab, because sometimes there are hidden parent tab like your case.

[2019-08-07 09:26] piroor commented on #2271
@nollinvoyd  On my environment "unread" state of tabs are correctly restored and "read" tabs never become to "unread" after session restoration. Thus I cannot research anymore why TST's "unread" state of tabs were lost on your environment...

[2019-08-07 09:33] piroor commented on #2347
Sorry but I won't implement the option because it looks unnatural for me. Instead a helper addon  https://addons.mozilla.org/en-US/firefox/addon/tst-change-close-tab-button-be/ may help you. It allows you to close just the parent tab by single left click on the close button of a parent tab, whether the tree is collapsed or expanded.

[2019-08-07 09:39] piroor commented on #2343
@ajmeese7 Anyway the sidebar header is out of control of an add-on. The white background color of the sidebar header despite you choose the dark theme on Firefox itself is a problem of Firefox itself.

[2019-08-07 09:40] #2217 closed

[2019-08-07 09:43] wvxwxvw commented on #2347
ОК. It's enough.

[2019-08-07 09:44] #2347 closed

[2019-08-07 09:44] #2234 closed

[2019-08-07 09:45] #2207 closed

[2019-08-07 09:52] piroor commented on #2268
Sorry but there are not enough information to debug. Moreover, too frequently crash of Firefox is clearly unexpected, and I cannot guarantee TST's stable behavior especially on such fragile environment...

[2019-08-07 09:57] piroor commented on #2211
Anyway automatically reloading happened on intentionally unloaded tabs looks a problem outside of TST. Thus I close this for now.

[2019-08-07 09:57] #2211 closed

[2019-08-07 09:58] piroor commented on #2246
I close this for now due to no further information.

[2019-08-07 09:58] #2246 closed

[2019-08-07 10:01] piroor commented on #2269
I close this for now because there is no further information.

[2019-08-07 10:01] #2269 closed

[2019-08-07 10:02] piroor commented on #2319
I close this for now because there is no further information.

[2019-08-07 10:02] #2319 closed

[2019-08-07 10:03] piroor commented on #2296
I close this for now because there is no further information.

[2019-08-07 10:03] #2296 closed

[2019-08-07 10:03] piroor commented on #2283
I close this for now because there is no further information.

[2019-08-07 10:03] #2283 closed

[2019-08-07 10:04] #2308 closed

[2019-08-07 11:01] xzn commented on #2340
The crash happened again:

[code]

Though it crashed more quickly this time though so I guess the guard is working.

[2019-08-07 11:22] irvinm commented on #2166
@nollinvoyd could you provide an update on your situation to see if it has changed at all?  (Good, bad or otherwise)

[2019-08-07 11:24] irvinm commented on #2307
@nollinvoyd can you provide an update on this item?

[2019-08-07 11:32] irvinm commented on #2019
@ssokolow can you review and comment?

[2019-08-07 11:34] irvinm commented on #2310
@piroor do you need more information from @cebas?

[2019-08-07 11:38] irvinm commented on #2115
@nollinvoyd can you provide an update?

[2019-08-07 11:43] irvinm commented on #2326
@somasis can you provide an update?  Is there more to do here or can we close?

[2019-08-07 11:44] irvinm commented on #2329
@piroor I think you can close this one.

[2019-08-07 11:44] irvinm commented on #2272
@piroor I think you can close this one.

[2019-08-07 11:54] wvxwxvw opened #2348 "Completed Russian translation"
Translated the missing lines and, quite a bit, fixed the old ones.
Based on the English language file.

[messagesRUS_190807_144641.zip](https://github.com/piroor/treestyletab/files/3476822/messagesRUS_190807_144641.zip)

[2019-08-07 11:59] irvinm commented on #2185
@piroor I think you can close this item.

[2019-08-07 12:01] irvinm commented on #2332
@piroor has everything been completed here?

[2019-08-07 12:07] irvinm commented on #2022
Looks like this will be fixed in FF69.  The defect is currently marked as verified fixed.

[2019-08-07 12:08] irvinm commented on #2333
@InsertUser can you review\comment\close as needed?

[2019-08-07 12:11] ajmeese7 commented on #2343
@piroor I guess I'm just confused why the sidebar header remains black on my desktop and white on my laptop despite being synced up and having identical configurations

[2019-08-07 14:38] cebas commented on #2310
with TST 3.1.5 & STG 4.0.0.1 & FF 68.0.1, I can't reproduce it anymore.
thanks to whom had fixed it!

[2019-08-07 14:38] #2310 closed

[2019-08-07 16:10] cebas commented on #2309
@Drive4ik left a comment in the bug I filed on his github that may be useful to this issue: https://github.com/Drive4ik/simple-tab-groups/issues/399#issuecomment-519049043

[2019-08-08 00:45] ssokolow commented on #2019
I'm still getting bugs like this, but I'm having trouble pinning down a reliable way to reproduce them.

[2019-08-08 01:29] irvinm commented on #2019
Ok, thanks for the update.

[2019-08-08 01:53] piroor commented on #2343
@ajmeese7 Firefox's "Default" theme respects the color scheme of the platform.
https://www.tenforums.com/tutorials/24038-change-default-app-windows-mode-light-dark-theme-windows-10-a.html
I've confirmed that the sidebar header is rendered with a dark background color when I choose "Choose your default app mode" => "Dark". Did you try it on just one of your PCs?

[2019-08-08 02:07] piroor commented on #2185
I posted a patch for the bug I filed for Windows, and there is no progress on another bug for macOS. Anyway both they are bugs of Firefox itself and tracked on bugzilla.mozilla.org. Sadly  nothing to do is left for this problem on TST side. So I close this for now.

[2019-08-08 02:07] #2185 closed

[2019-08-08 02:11] piroor commented on #2348
Thanks! Could you send these changes as a pull request? You can do that with the link: https://github.com/piroor/treestyletab/edit/master/webextensions/_locales/ru/messages.json You just need to replace the contents to the completely translated version. After you commit the change you'll see a green button to create a pull request.

[2019-08-08 02:26] piroor commented on #2340
It looks that multiple tabs are closed while TST's initialization process. Is there any possible reason on the startup process of your Firefox, for example another add-on? Or, do you use the private browsing mode and you granted TST to access tabs in private windows?

[2019-08-08 03:00] piroor commented on #2341
TST reports too much debug logs, so it may not help debugging if you don't narrow down the conditions and situation to reproduce the problem enough yet.

Possible triggers for such a hard problem are:

* Tabs moved across windows.
* Operations for multiple selected tabs.
* Tabs immediately closed just after they are opened.
* Tabs immediately moved just after they are opened.
* (and more)

TST oft

[2019-08-08 03:48] piroor commented on #2087
Anyway I agree that TST has some bad performance problem on various points, due to unoptimized design of TST itself. Such bottlenecks should be resolved, but performance problems not happening on my environment are hard to be resolved because I need to research codes with less hint - even if I change codes based on an expectation, it may decrease performance oppositely.

@mh2 Could you close this

[2019-08-08 04:34] piroor commented on #2278
Sorry for this delay, I've inspected the new performance profile. I've realized that there are some major bottlenecks and `inheritSoundStateFromChildren()` is still there. Hmm...

[2019-08-08 05:56] piroor commented on #2278
After more inspection, I've realized that the method was called due to very frequently modifications of parent/child tabs. TST modifies tree structure step by step, on a startup and a session restoration. For example if there is a parent tab and four children, the method is called four times for the parent tab.

So,  I think I need to optimize operations around session restoration. TST should not

[2019-08-08 06:38] piroor commented on #2278
I've mentioned that restoration of tree from top to bottom can trigger needless "update" tasks. For example, if there are four tabs A, B, C and D, and they construct a tree, then to-to-bottom restoration will does:

1. Attach B to A. Update ancestors of A => no ancestor.
2. Attach C to B. Update ancestors of B => A will be updated.
3. Attach D to C. Update ancestors of C => A and B will be updated

[2019-08-08 07:58] piroor commented on #2023
With the commit f39764104ac2fdebb1c543533718de514ef68c99 I've introduced a new custom URI like `ext+treestyletab:group`. It should replace the old `about:treestyletab-group`, and the new `ext+treestyketab:group` should work more stably.

[2019-08-08 08:34] piroor commented on #2332
I've released all related addons, so I close this now.

[2019-08-08 08:34] #2332 closed

[2019-08-08 10:34] xzn commented on #2340
Usually this happens after opening a bunch of tabs, closing a bunch of tabs, and reopening a bunch of tabs in quick successions. Happens in private browsing mode as well but happens normally just as well.

The only other tab related addon that is used is Tab Session Manager.

[2019-08-08 12:00] ajmeese7 commented on #2343
For some reason on my laptop I had to disable dark mode for the default app mode then re-enable it and the problem was solved. Thank you @piroor!

[2019-08-08 12:05] xzn commented on #2341
IIRC it happens usually when opening/reopening some tabs while immediately switching tabs.

Sometimes a tab is opened and then just disappears a few seconds later (the tab entry is never clickable or could be switched into) while sometimes a tab is opened/reopened but in the wrong order (when alt-tabbing)

[2019-08-08 12:09] irvinm commented on #2343
@ajmeese7 can you close this item?  Glad to hear you found the difference.

[2019-08-08 12:11] irvinm commented on #2278
@azizLIGHT would you be willing to try this?

[2019-08-08 13:20] irvinm commented on #2342
@ajmeese7 I might have a workaround for you.  If you go into the options for TST and look under "Development" options (last section), there is a link for "Tree Style Tab Options".  In my case that link is "moz-extension://90fe5206-35eb-4d30-bdee-1b4dbd492755/options/options.html#!"

That page DOES respond to scaling requests (some of the controls don't scale, but the text and graphics do) so you c

[2019-08-08 13:50] piroor commented on #2342
One more info. TST 3.1.6 and later supports a custom URI `ext+treestyletab:options` as a shorthand to open the options page in a tab.

[2019-08-08 13:59] irvinm commented on #2023
@piroor is the change in favico by design? Not a big deal, but just thought the original favico was cleaner.

![image](https://user-images.githubusercontent.com/979729/62709225-f2cfa800-b9c2-11e9-9f6c-378f30360f25.png)

Also, beyond the initial text, are the options\behaviors the same between the two methods?

[2019-08-08 15:40] #2343 closed

[2019-08-08 17:38] Fanolian opened #2351 "Memory leak restoring a root tab when its child tab is present"
## Short description

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3. Open a dummy tab. (so Firefox does not get closed after closing other tabs.)
 4. Open https://www.reddit.com/ as a root.
 5. Middle click any post in Reddit and open it as a child tab.
[code]
 6. Close tab A. Then close tab B.
 8. `Ctrl-Shift-T` to restore tab B.
 9. `Ctrl-Shift-T` again to rest

[2019-08-08 17:54] Fanolian commented on #2351
The first affected TST version is 3.1.3 but somehow I hadn't encountered it until now despite using TST every day...

[2019-08-08 18:03] azizLIGHT commented on #2278
@irvinm I'd be willing to test further, yes. But unfortunately I don't know how to build the XPI to start testing again

[2019-08-08 18:17] azizLIGHT commented on #2351
Is this related to https://github.com/piroor/treestyletab/issues/2340#issuecomment-519464422 ? The last comment seems to suggest the same method to reproduce the memory leak: by closing tabs and reopening them

[2019-08-08 23:35] InsertUser commented on #2333
If the third dropdown is for a hidden TST sidebar then I think this covers everything.

Thanks.

[2019-08-08 23:35] #2333 closed

[2019-08-08 23:57] stapuft opened #2352 "random color change?"
## Short description
Firefox crashed, when it restarted, I reopened my closed tabs, TST loads, and then when the list of tabs appears, TST closes, and reopens, multiple times, after it finally stopped crashing and ran like normal, my colors were completely different.(colors are supposed to be blood red with no highlight, but are pink with a super large white highlight now)
![image](https://user-im

[2019-08-09 00:16] irvinm commented on #2352
If you clear out your CSS, do your tabs return to the standard or is there any residual formatting after that? (Trying to see if there is something else causing some formatting)

[2019-08-09 01:11] piroor commented on #2333
@InsertUser Yes, it covers hidden TST sidebar case.

[2019-08-09 01:54] piroor commented on #2023
@irvinm It is not intentional, and doesn't happen on my environment. But the commit 39c8d3c may affect to this problem.

[2019-08-09 01:56] piroor commented on #2278
The automated build system is back, and TST 3.1.6 is already released. Now you don't have to build the XPI by yourself.

[2019-08-09 04:40] stapuft commented on #2352
no, this is what it looks like when I remove the css and change nothing else
![image](https://user-images.githubusercontent.com/46431157/62754550-49c69300-ba3e-11e9-9657-1b5dc561cf0f.png)

[2019-08-09 06:22] piroor commented on #2351
Possibly I've narrowed down which code triggers the problem. The section https://github.com/piroor/treestyletab/blob/39c8d3ccc3e865c633a750327421ee8e2f2c3036/webextensions/background/tree-structure.js#L275-L286 looks that. After commented out these lines the CPU and memory bloat disappears on my environment.

[2019-08-09 09:17] piroor commented on #2351
The line more narrowed down:
https://github.com/piroor/treestyletab/blob/39c8d3ccc3e865c633a750327421ee8e2f2c3036/webextensions/background/background.js#L576

[2019-08-09 10:13] piroor commented on #2351
Finally I've understood why a cyclic reference is produced on such cases.

TST has a function to operate newly opened tabs, and it also has a mechanism to attach such tabs to the active tab based on some configs. But it was not expected to handle any restored ancestor tab, and TST tried to attach a restored ancestor tab to an existing child tab.

Why guard mechanisms for such cyclic references did

[2019-08-09 10:50] Fanolian commented on #2351
I cannot reproduce this issue in 3.1.7 anymore. Thanks.

[2019-08-09 10:50] #2351 closed

[2019-08-09 11:02] imero commented on #2278
Tried to get some startup perormance data but could not get profiler to run first at startup.
What I did was in command line set MOZ_PROFILER_STARTUP=1 and set MOZ_PROFILER_STARTUP_FILTERS=tree and then firefox.exe but profiler did not open at all.

Manually opening tst profiler and de-selecting "Optimize tree restoration with cache" behaves similarily as Firefox startup (seems to take about same

[2019-08-09 11:50] Hirato commented on #2352
I noticed that the extension updated to 3.1.6 today.
And the first things I noticed were

1. The header image was tiled in the side bar once again
2. The text in the sidebar was super glowy, as in almost unreadable.

I believe this commit is responsible for these changes; 51ebdc0b49016df4a224bd402705b3312cbc21a4

Which is probably what makes you text, despite being red, look pink.

I'm guessing it

[2019-08-09 14:25] irvinm commented on #2023
@piroor thanks. I upgraded to 3.1.7 and am only seeing the expected favicon now.

Does the new method not support setting the title directly any more?

**Example:**
about:treestyletab-group?New%20Group ... loads and sets the title to "New Group".
ext+treestyletab:group?New%20Group ... doesn't work or even load.  (Obviously you can create the generic group tab and just rename the title to "New Grou

[2019-08-10 16:23] somasis commented on #2326
Sorry for the quiet. Things still don't look exactly right. Firefox 68.0.1, Tree Style Tab 3.1.7.

![20190810_121928](https://user-images.githubusercontent.com/264788/62824249-2b10eb00-bb69-11e9-86bc-e735cd3acad3.png)
![20190810_121942](https://user-images.githubusercontent.com/264788/62824248-2b10eb00-bb69-11e9-8452-fe88fa1b4aff.png)

[2019-08-10 21:03] azizLIGHT commented on #2278
FYI the automated XPI build is at https://piro.sakura.ne.jp/xul/xpi/nightly/ . Look for treestyletab-we.xpi, which is modified very recently

[2019-08-12 12:43] tbertels opened #2356 "When we stop a slow web page TST stops working correctly"
## Short description

If the message "A web page is slowing down your browser, what do you want to do" is shown and we stop the web page, TST stops working correctly.

## Steps to reproduce

 1. Open a web page that slows down Firefox (not just a script)
 2. Wait for the "A web page is slowing down your browser, what do you want to do" message
 3. Click on "Stop it"

## Expected result

TST contin

[2019-08-13 03:44] piroor commented on #2356
Is this TST specific problem and doesn't happen on other sidebar addons like Sidebar+, Sidebery, or others?

[2019-08-13 07:32] tbertels commented on #2356
I've installed Sidebery, I'll check it out the next time I reproduce it.

[2019-08-14 21:03] Frydac commented on #901
Was also looking for this functionality.

I found this repository, which specifically colors tabs for TST, but it does not do this in much of a meaningful manner (at least to me, at this point in time).
It would be a nice starting point to implement this kind behavior as it already did some work of hooking in to TST.
https://github.com/MurzNN/TST-Colored-tabs
Browsing the firefox api, I found foll

[2019-08-14 22:42] azizLIGHT commented on #2278
Here's an updated performance profiles on the newest dev build (TST 3.1.7.9465 on Nightly 70.0a1 (2019-08-14) (64-bit) with a fresh profile with no other addons and the same optimized settings (with auto-grouping).

[2019-08-14.zip](https://github.com/piroor/treestyletab/files/3503589/2019-08-14.zip)

Profiles included:
- loading 1000 about:blank tabs
- close/open TST sidebar and then expand/colla

[2019-08-15 06:43] piroor commented on #2278
Thanks! I've researched performance profiles you uploaded.

* The largest bottleneck of the first profile is: querying tabs with conditions, especially `nearestCompletelyOpenedNormalFollowingTab` and `nearestCompletelyOpenedNormalPrecedingTab` called from `snapshotTree` and `snapshotForActionDetection`, for all newly tracked (maybe restored) tabs. They are called too much times and the number of m

[2019-08-15 08:27] piroor commented on #2278
I've introduced more optimizations for cases told at https://github.com/piroor/treestyletab/issues/2278#issuecomment-521534290.

[2019-08-16 01:26] #2348 closed

[2019-08-16 01:27] piroor commented on #2278
@azizLIGHT Could you try a newer development build?

[2019-08-16 13:02] mike-tn opened #2360 "[Bug] Bookmarks and search results fail to open in new tabs when current tab is in container."
## Short description
Bookmarks ans search results fail to open in a new tab when current tab has some site loaded (is non-new/blank) in any container, and some TST and Firefox preferences are set.

## Steps to reproduce

 1. Prepare Firefox version 68.0.1 64bit. (In fact I have FirefoxPortable but VERY UNLIKELY it matters here)
 2. Start Firefox with clean profile.
 3. In Firefox options set Home/

[2019-08-16 15:50] mruhlin opened #2361 ""Close descendents too" option doesn't respect different contexts"
## Short description
In preferences, there is an option to set "custom" close tab behavior and specify how to handle tabs closed in the sidebar, vs. tabs closed in the native tab bar.

In my case I want to close child tabs when a parent is closed in the sidebar, but promote the earliest child when closing from the top toolbar.

The "for operations inside the tree sidebar" setting doesn't seem to w

[2019-08-16 16:40] mike-tn commented on #2361
Confirm the same behavior.

##Environment

    Platform (OS): Windows 7 Pro 64bit (8gb)
    Version of Firefox: 68.0.1 Firefox Portable 64bit
    Version (or revision) of Tree Style Tab: 3.1.7

[2019-08-16 17:05] xzn commented on #2340
The crash just happened again.

The guard at d033e67eb7871cfb09ceccacfbc99a55803306c9 appears to not be working. Perhaps the `ancestorsOfSelf` check is not working as it should due to `ensureLivingTab` filter?

[2019-08-17 03:17] Arthaey commented on #2272
I'm not so sure this issue should be closed — I've seen this behavior in the past couple weeks. I also use the "Move unloaded tabs for Tree Style Tab".

I find the ability to manually unload & hide tabs indispensable to the way I like to browse, so I really hope we can get to the bottom of why the tree structure gets lost every now and then.

How can users help to debug this issue, given that it h

[2019-08-17 03:32] Arthaey opened #2362 "Suspended children become parentless"
## Short description

## Steps to reproduce

1. Install TST
1. Install Tab Unloader for Tree Style Tab (v5.15)
1. Set Preferences > Tree Behavior > When a parent tab is closed or moved just as a solo tab > **Promote the first child as the new parent always**
1. Create a tree
1. Suspend all the child tabs, but _not_ the parent

[code]

1. Close the parent (ie, _AnotSuspended_)

## Expected result

[2019-08-17 09:16] PhilipGGG opened #2363 "Flagfox Add-on on function TST"
Hi,
I am using recommended  Flagfox Add-on, unfortunately, it's not functioning on TST tabs and functioning on the TOP tubs.
At the TST I can see the selection menu, and if I click F.E "Whois", nothing happened, in the top tab its action.
Any way to get this work?

Thanks,

Philip G

## Short description

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3.
 4.

## Exp

[2019-08-17 19:19] dksher commented on #2309
With TST 3.1.7 and STG 4.0.1.2, there are no issues so far. Thank you!

[2019-08-17 21:55] azizLIGHT commented on #2278
@piroor I will tonight!

[2019-08-18 06:23] azizLIGHT commented on #2278
Just made some more performance profiles on TST 3.1.7.9473 on Nightly 70.0a1 (2019-08-17) (64-bit) using the last test's profile.

I think when I updated/restarted FF and TST, TST settings seem to have gone back to default. I noticed this during the test instead of before. Hopefully it doesn't make too much of a difference

[2019-08-18.zip](https://github.com/piroor/treestyletab/files/3512727/2019

[2019-08-18 20:42] stapuft commented on #2272
no actually, i have had a few minor issues with TST, (like the color changing issue) and it will occasionaly crash on me, turning Grey, and reloading, but I haven't actually lost my tree structure in a while. so i am SUPER thankful for that.

[2019-08-18 20:44] stapuft commented on #2272
what i have done, is i have disabled that extension, but havnt uninstalled it, so when i need to move loads of tabs, i quickly enable it, move the tabs, then disable it.

yeah its a bit of work, but it works.

[2019-08-19 07:37] nnovikov commented on #2336
Ok, I do it
https://addons.mozilla.org/en-US/firefox/addon/tst-disablemiddleclick/

[2019-08-19 07:37] #2336 closed

[2019-08-20 08:02] miguno commented on #1544
https://github.com/piroor/treestyletab/issues/1544#issuecomment-345129601

Still seems to work today to "flatten" the tab tree.

Instructions for Firefox 68: Go to Tools > Add-Ons > Find "Tree Style Tab" and click on the three dots "..." next to its entry to select "Preferences" > Scroll all the way down to an expandable menu named "All Configs" > Click on the small black triangle to expand the me

[2019-08-20 13:03] mike-tn commented on #2360
Just checked all this on fresh installation of Firefox 68.0.2 64bit (NOT portable) - the same bug!!!

[2019-08-20 20:01] stapuft opened #2364 "randomly chooses to not go to tab I select."
## Short description-I have loads of tabs open and have no clue if this is part of the reason my issue is happening. the tab i select, about 6 or 7 times out of 10, will not be the tab that it switches to,
for example.
i watch alot of tv shows, I saw many shows i wanted to see so I proceeded to open them in New tabs, with the middle click button.
![image](https://user-images.githubusercontent.com/

[2019-08-20 21:51] stapuft commented on #2356
i have experienced this.

extension that caused the webpage to slow down was "Dark Reader" https://darkreader.org/ (likely due to its custom generated and inserted page styling to make the page dark, hangs up on infinite scrolling pages causing it to hang, and by proxy cause the web page itself to hang then the "stop" dialog appears [happens often on reddit.com and disqus.com both are infinite scr

[2019-08-20 23:01] Arthaey opened #2365 "Make dummy group "tabs" not be real tabs"
I like having the "dummy" group tabs, but I wish they weren't real _tabs_. I wish they were just a UI element that TST kept track of, but Firefox had no idea about. Is that feasible?

[2019-08-21 10:11] mike-tn commented on #2365
Remark: i'm afraid, it will be incompatible with many other add-ons and SessionRestore,   i.e. I think,  session managers will not restore such session correctly.

[2019-08-21 12:46] mike-tn opened #2366 "On some sites, on undoing close parent tab TST hangs, then hangs Firefox, then hangs Windows!"
## Short description
Bug confirmed with the option "New tabs behavior/ Open new blank tab as : a child of the current tab" set!
The bug is serious - on some sites after opening and closing several  tabs in particular order and closing parent tab of the tree, then clicking "Undo close tab", TST sidebar hangs, then after some time Firefox behavior becomes erratic, it hangs, and soon Windows also han

[2019-08-22 06:49] SammysHP opened #2367 "Middle click next to tab"
You can left click on the background next to a tab to select it. But middle and right click behaves like clicks on the background.

Version 3.1.7

[2019-08-22 08:20] mike-tn commented on #2366
Just now I found two Issues which may me related to my bug:
#2351
#2340

[2019-08-22 15:31] piroor commented on #2367
This is intentional decision. Left-click on the blank area regularly does nothing so it can be reassigned for tab activation on such cases. On the other hand, right-click on the blank area opens a context menu for operations about all tabs, and middle-click opens a blank tab. I think that overriding these functionalities may confuse people who use them.

[2019-08-22 15:43] piroor commented on #2365
As @mike-tn described, this design is intentional for compatibility with other tab-related add-ons (and Firefox itself).

[2019-08-22 20:16] SammysHP commented on #2367
OK, thanks for the explanation. Probably something that I can work around with a style that extends the area to the left (tried it once, but it required various changes because of overflow etc.).

[2019-08-22 20:16] #2367 closed

[2019-08-22 23:48] bb010g commented on #2278
I noticed this issue a few days ago and was encouraged by the recent performance improvements described, as my last attempt to profile Tree Style Tab's high CPU usage ended up freezing Firefox.

Profiles now were successfully recording, so here's #2368 for some work on the issue of high CPU load & UI stuttering due to excessive allocations by TST.

[2019-08-24 15:34] ariasuni opened #2369 "Add link to Tab Center Reborn in README"
Current README links to [Tab Center Redux](https://addons.mozilla.org/firefox/addon/tab-center-redux/), however the development of this extension has been discontinued for more than 6 months now.

[Tab Center Reborn](https://addons.mozilla.org/firefox/addon/tabcenter-reborn/) is a regularly updated fork of Tab Center Redux which I’m developing.

Please include a link to it instead or besides Tab C

[2019-08-24 19:13] xzn commented on #2340
This should fixes the hang issue:

[code]

Tabs still get reopened in the wrong order though given the steps in #2366

[2019-08-26 00:38] BobVul commented on #2328
Perhaps relevant is this Firefox bug report from the original 57 release where they switched to 60 FPS SVG animations: https://bugzilla.mozilla.org/show_bug.cgi?id=1406414

Looks like it only affected some specific machines, for an unknown reason. Their solution was to fall back to APNG "when the browser is under schedule pressure". This might not be doable from an extension - at the very least, i

[2019-08-26 17:57] piroor commented on #2278
I've applied most optimizations proposed by @bb010g in different way. Thanks a lot!

After I'm researched the given patch I've realized that the important point is: less GC by reducing very-short-life arrays. And I've also realized that JS's Array provides a builtin method `Array.prototype.reduce()` for such demands. I think still there are more optimize-able codes...

[2019-08-27 15:47] piroor commented on #2340
@xzn Thanks! I missed that the guard didn't work as expected. And the second change including optimization is also applied in a method based on `Array.prototype.reduce()`. See also: https://github.com/piroor/treestyletab/issues/2278#issuecomment-524961749

[2019-08-27 17:42] piroor commented on #2369
Thank you for the information. Could you create a pull request for the change at https://github.com/piroor/treestyletab/edit/master/README.md ?

[2019-08-27 22:13] ariasuni commented on #2369
Do I remove the mention to Tab Center Redux or do I put Tab Center Reborn before/after/on the same line?

[2019-08-28 02:40] Kenqr commented on #2194
I think the issue is resolved now.
Thank you for updating for those minor use cases.

[2019-08-28 03:16] piroor commented on #2369
I don't know Tab Center Redux is really dead or not, so I think that both addons should be listed. Anyway "Reborn" looks good to be listed before "Redux", because people may try addons from top.

[2019-08-28 03:52] #2369 closed

[2019-08-30 03:32] bughit opened #2372 ""undo close tab" reopens in the wrong place"
## Steps to reproduce

1. Start Firefox with clean profile.
2. Install TST.
3. Show menu bar
4. restart
5. open 4 tabs flat: "Main menu -> Bookmarks -> Mozilla Firefox -> Open All in Tabs"
6. close the first of the opened tabs: "Firefox Help"
7. "Undo close tab" via the TST sidebar menu
8. tab reopens either as a child or next sibling of the second opened tab ("Customize Firefox ...")
   ![image](

[2019-08-30 22:26] knobhead commented on #2340
Hi, thanks for investigating!

Any ETA in sight for a release  fixing this issue? It is a pretty annoying bug in multi-device ff-sync'ed scenarios as every  tab sent to another device crashes browser (and system, by chance)...

cheers

[2019-08-31 00:35] irvinm commented on #2340
@knobhead have you can try the nightly build to see if it is resolved for you.  https://www.piro.sakura.ne.jp/xul/xpi/nightly/

[2019-09-02 21:22] v-fox opened #2373 "TST is barely useable with dark themes due to light-on-white scrollbar"
## Short description
When dark browser and/or system theme is used TST keeps its scrollbar as lightgrey-on-white-background making its position almost invisible. Pop up menu of "new tab" button is also always kept as black-text-on-white-background unlike all the other pop up menus in the browser. Settings of TST itself doesn't seem to affect it at all, even putting custom CSS.

However, this can b

[2019-09-06 21:03] ariasuni opened #2375 "Translated theme name don’t fit"
## Short description

Column size for themes isn’t enough and cause part of some translated theme names to go to the next line.

## Expected result

“Contraste élevé” (= High contrast, see screenshot below), which isn’t too long, should stay on the same line (or at least the second word could go just under)

## Actual result

![Screenshot_20190906_224729](https://user-images.githubusercontent.com/

[2019-09-07 23:20] Sada-Mio commented on #2362
https://addons.mozilla.org/en-US/firefox/addon/auto-tab-discard/

I use this addon and it works following your steps 1-6

[2019-09-09 13:30] dksher opened #2376 "Scroll bar sometimes disappears when I switch group with STG"
Scroll bar sometimes disappears when I switch group with Simple Tab Groups addon. It happens randomly. The only way to recover it is restarting Firefox.

Note that I'm using this [Show scrollbar with regular width](https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#show-scrollbar-with-regular-width) snippet.

How to replicate the issue: Just switch group several times

[2019-09-10 07:19] piroor commented on #2376
Thanks, I missed to update visibility of the scrollbar when tabs are shown or hidden. The commit 7ee5fce should fix this.

[2019-09-10 07:27] piroor commented on #2375
Thanks. Now style names become un-line-breakable with the commit b0678f6.

[2019-09-10 07:48] piroor commented on #2362
Hmm, I couldn't reproduce the problem on my environment:

* Windows 10
* Firefox Nightly 71.0a1
* TST 3.1.7
* Tab Unloader for Tree Style Tab 5.15

I got the expected result you wrote. Do you have any other extra condition to reproduce? Is the problem reproduced with a clean profile? (You can start Firefox with a command line parameter `-profile` like: `/Applications/FirefoxNightly.app/Contents/Ma

[2019-09-10 08:05] piroor commented on #2373
Could you add a screenshot which describes the problem? Multiple screenshots to compare different settings may help my understanding.

[2019-09-10 08:30] piroor commented on #2372
Thanks, I've successfully reproduced this problem on Nightly 71.0a1.

Thee results are produced with the option: "When new tab with a website same to the current tab is opened from the location bar (or others)" => "Open as" => "a child of the current tab" and "an independent tab". But I think they are odd results because restored tabs should not be affected under this option. Hmm...

[2019-09-10 08:41] piroor commented on #2372
With the commit a8cae8e, now TST won't apply "behavior for new tabs" to restored tabs anymore.

[2019-09-10 08:44] v-fox commented on #2373
@piroor Here's default FF look with dark theme:
![TST_default](https://user-images.githubusercontent.com/362763/64598156-aec03080-d3d0-11e9-8d25-ab38ad5fcd44.jpg)
Scrollbar position is almost invisible.
And here's one after widget.content.allow-gtk-dark-theme=true & widget.content.gtk-theme-override=Vertex-Dark and FF restart:
![TST_gtk-override](https://user-images.githubusercontent.com/362763/64

[2019-09-10 08:48] piroor commented on #2366
@mike-tn Does this problem still happen with the latest development build of TST?: https://github.com/piroor/treestyletab/blob/master/README.md#development-builds

[2019-09-10 09:08] piroor commented on #2373
Thanks! I've understood how the visibility of the scrollbar bad with the default configuration.

Basically the color scheme of the scrollbar in the sidebar is under control of Firefox itself, and I think we addon authors should be careful about coloring of GUI elements, because they possibly become invisible for color blind people. This is the largest reason why I don't apply colors to scrollbars

[2019-09-10 09:40] v-fox commented on #2373
@piroor Thanks for the tip on the workaround. But I hope that in future TST would at least apply its own appropriate colours, when browser's theme is not enforced in its settings, and strictly use browser theme's colour, when it is forced. It's not supposed to be light-on-white in the theme either. And colour-blind are not supposed to be blind to contrast.

FF's handling of scrollbars seems broken

[2019-09-10 09:54] piroor commented on #2360
Hmm... it looks quite edge case problem.

Basically TST is not designed to apply the container of the active tab for any new tab, instead applies only for new tabs opened with the "+" button or Ctrl-T. "Guess a new opened tab..." option is provided for cases when you use custom new tab page changed by other addons. The URI "about:blank" is quite special and used on various cases Firefox tries to o

[2019-09-10 15:28] mike-tn commented on #2366
I tried 3.1.7.9500 as temporary  add-on on Firefox 69.0 (official release) and TST doesn't hang any more, closed tab restores OK!
Thank you very much, waiting for the release!

But still there is a minor bug: after closed parent tab is restored the last two child tabs in the tree change their order - second to last tab becomes the last, as I described in the first post:

[2019-09-10 16:07] mike-tn commented on #2360
Many  people use about:blank as a new tab.
Also many have settings in about:config for opening bookmarks and search results in new tabs.
For them options  "Open new blank tab as = a child of a current tab" and "Inherit the container of the parent tab to a new blank tab" would be incompatible.

I think it would be precious to many to be able  to open all tabs in a window or in a tree in one contain

[2019-09-10 16:23] mike-tn commented on #2360
Is there any ways to open a new tab in the same container as in a current tab (without directly selecting container) using mouse with unchecked "Inherit the container of the parent tab to a new blank tab"?

[2019-09-10 16:24] piroor commented on #2360
Hmm, since it was implemented on Firefox I've been used `about:newtab`, so I didn't realized that `about:blank` new tab produces such a problem. I think I need to do something on this...

[2019-09-10 16:33] mike-tn commented on #2360
Thank you for spending your time on this!!!

[2019-09-10 19:14] ariasuni opened #2377 "Some superfluous spaces in the page of initial startup"
## Steps to reproduce

Open the «Initial Startup» page.

## Expected result

Text is displayed properly from translations files.

## Actual result

Some spaces are inserted.

I highlighted with small red lines where the superfluous spaces are:

![Screenshot_20190910_204509_edited](https://user-images.githubusercontent.com/2446451/64642447-b272a800-d40e-11e9-997e-c0256c6c07e5.png)

Extracts from `e

[2019-09-11 01:58] piroor commented on #2377
Thanks! The commit 093541b should reduce those needless spaces.

[2019-09-11 01:58] #2377 closed

[2019-09-11 09:00] piroor commented on #2360
With commits 6097fa0 and 75b81e4 now TST can detect the difference between a new blank tab and a placeholder blank tab opened for "Open in New Tab" command. Now TST should apply "Open new blank tab as = a child of a current tab" behavior only for new blank tabs and tabs opened for bookmarks won't be affected. Thus,

* At the step 9, the selected bookmark will be opened in a new tab as an independe

[2019-09-11 09:07] piroor commented on #2360
Open bookmark in Container Tab
https://addons.mozilla.org/firefox/addon/open-bookmark-in-container-tab/
I think this will help you to open a bookmark with non-default container.

[2019-09-11 09:10] piroor commented on #2360
I marked this issue as "wontfix" again because I still have no plan to introduce ability to apply the container of the current tab to new tabs opened with URL with different origin as the current tab.

[2019-09-12 04:55] elonderin commented on #1525
from https://gist.github.com/collinbarrett/45c90f7d427e08d69d32dfef402c86f6:

[2019-09-13 07:54] piroor commented on #2023
Sorry for this delay... URI like `ext+treestyletab:group?New%20Group` should be supported with the commit eac88ca.

[2019-09-13 08:32] piroor commented on #2352
@Hirato "The text in the sidebar was super glowy, as in almost unreadable." Sorry I wrongly applied inverted color for text-shadow. The problem should be fixed with the commit ae2be2c.

[2019-09-13 18:03] #2340 closed

[2019-09-13 19:24] gonhidi commented on #1778
I haven't yet tested very thoroughly, but the issue does seem fixed on Firefox (Nightly) 71.0a1 (2019-09-13) on macOS Mojave 10.14.6 (18G95). Thanks!

[2019-09-15 01:26] maxsu opened #2382 "Closing parent of collapsed tree fails repeatedly & without warning if TST is not visible"
## Short description
Closing the parent tab of a collapsed tree causes that tab to repeatedly reappear if TST is not visible.

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3. Open TST sidebar
 4. Create a tree with child tab
 5. Collapse the tree

     Tree state:
[code]

 6. Close TST sidebar
 7. Attempt to close tab A

## Expected result

One of:

1. The tab clo

[2019-09-16 08:56] Etrit1 commented on #1639
Piroor,

First of all, I LOVE TST.  I really can't live without it... and I've been using it for over a decade.  So thanks!

You're right that BTTST handles Saving and Restoring tab tree structure already...which is great. But, I have an arugment why you should make TST "Bookmark Tree" do it also...

1) Installing a bunch of addons slows down Firefox
2) It just feels like it should be something na

[2019-09-16 14:04] irvinm commented on #2196
Is this still an issue or can we close this?  The referenced mozilla defect was marked resolved in FF68.

[2019-09-16 14:17] irvinm commented on #2181
@gerg5c42g542g2c54g52c any feedback on this?

@piroor does ESR 68 change any of this?

[2019-09-16 16:18] irvinm commented on #2243
Is this still an issue for everyone?  I am using:

user_pref("browser.in-content.dark-mode", true);
user_pref("ui.systemUsesDarkTheme", 1);

... and my TST configuration is showing up the same as in moz-extension://[Internal UUID]/options/options.html

FF 69.0 (Win64), TST 3.1.8.

[2019-09-16 16:28] irvinm commented on #2298
Is there anything more that can be done here or should we close out this issue?

[2019-09-16 16:50] irvinm commented on #2299
@bughit Is there more information or scenarios you can provide for piroor to try to reproduce it?

[2019-09-16 17:00] irvinm commented on #2322
As I do use PIP as well, my opinion is that while a separate indicator might be a nice to have, playing any video with the PIP feature will still show the "audio playing" icon on the tab.  So unless you have multiple tabs playing audio (unlikely?) then that indicator would make it pretty easy to find the tab that is the source of the PIP.

Again, just my opinion...

[2019-09-16 17:03] irvinm commented on #2321
@piroor are you inclined to make any more changes around this?

[2019-09-16 17:03] irvinm commented on #2232
@Coldblackice any update on this?

[2019-09-16 17:09] irvinm commented on #1907
@piroor I believe this issue could be considered "expired" ...

[2019-09-16 17:12] irvinm commented on #2274
@piroor another one that might be considered "expired" ... nothing from the OP since June.

[2019-09-16 17:26] irvinm commented on #2187
@AnatISR any updates?

[2019-09-16 17:36] irvinm commented on #2346
@piroor I would go ahead and close this issue.  This seems fairly straight forward.

[2019-09-16 17:37] irvinm commented on #2312
@rienafairefr can you let us know how things are going after the recent change?

[2019-09-16 17:39] irvinm commented on #2271
@piroor I think this might be considered "expired".  No updates since May.

[2019-09-16 17:39] irvinm commented on #2268
@piroor will you close this one?

[2019-09-16 17:40] irvinm commented on #2166
@piroor I think this might be considered "expired".

[2019-09-16 17:41] irvinm commented on #2307
@piroor maybe another "expired" ...

[2019-09-16 17:42] irvinm commented on #2115
@piroor another to consider "expired" ...

[2019-09-16 17:45] irvinm commented on #2329
@piroor friendly reminder.

[2019-09-16 17:47] irvinm commented on #2022
@piroor I believe this issue has been fixed and released and this issue can be closed.

[2019-09-16 17:52] irvinm commented on #2087
@nh2 can you review piroor's request?  (Close item and reopen if fixed and still an issue)

[2019-09-16 18:01] irvinm commented on #2309
@cebas how are things for you?  If resolved, can you close this issue?

[2019-09-16 18:23] irvinm commented on #2272
@stapuft what are your thoughts about closing this item at this point in time?

[2019-09-16 18:26] irvinm commented on #2365
@piroor or @Arthaey will someone close this?

[2019-09-16 18:30] irvinm commented on #2376
@dksher can you confirm if this is resolved and if so close this item?

[2019-09-16 18:31] irvinm commented on #2375
@ariasuni will you confirm this is fixed and close this item?

[2019-09-16 18:32] irvinm commented on #2362
@Arthaey can you review the comments and provide more details or an update?

I also use Auto Tab Discard and run anywhere from 800-1000 tabs and don't have any problems with suspended tabs and parent-child relationships.

[2019-09-16 18:33] irvinm commented on #2372
@bughit can you see if this is fixed and if so close this item?  If not, let us know.

[2019-09-16 18:35] irvinm commented on #2360
@mike-tn can you review and comment or close this item based on the information?  Thanks.

[2019-09-16 18:38] irvinm commented on #2361
@mruhlin can you verify if this is fixed and close it?  If not, let us know.

[2019-09-16 19:32] TRowbotham commented on #2243
No, this is no longer an issue since [1505924](https://bugzilla.mozilla.org/show_bug.cgi?id=1505924) introduced the new about:addons redesign. I'll go ahead an close this.

[2019-09-16 19:32] #2243 closed

[2019-09-16 19:44] ariasuni commented on #2375
Yes, it’s working!

[2019-09-16 19:44] #2375 closed

[2019-09-16 20:57] schmurtzm commented on #2329
Issue submitted to tst colored tab (but seems to not find any interlocutor).

https://github.com/MurzNN/TST-Colored-tabs/issues/6

Anyway I close it here.

[2019-09-16 20:58] #2329 closed

[2019-09-17 01:47] Sniperkillerut opened #2383 "[Feature Request] Add visually separated groups like in "Tree Tabs""
Hi, I'm a TST user for some years now, I really like it!!

Today after a pc format I was reinstalling and reconfiguring the Firefox addons and noticed that you have a section in wich you mention about other similar addons, so I checked them out.

Now I think TST is the best for my use case, but I would like to add just one feature from "Tree Tabs"

the ability to have tabs separated/organized in f

[2019-09-17 03:54] piroor commented on #2365
OK, I close this based on a design decision.

[2019-09-17 03:54] #2365 closed

[2019-09-17 03:55] piroor commented on #2022
Thank you for a reminder, I forgot to close this.

[2019-09-17 03:55] #2022 closed

[2019-09-17 03:57] piroor commented on #2115
OK, I close this because there looks to be no progress.

[2019-09-17 03:57] #2115 closed

[2019-09-17 03:57] piroor commented on #2307
OK, I close this because there looks to be no progress.

[2019-09-17 03:57] #2307 closed

[2019-09-17 03:58] piroor commented on #2166
OK, I close this because there looks to be no progress.

[2019-09-17 03:58] #2166 closed

[2019-09-17 03:58] piroor commented on #2271
OK, I close this because there looks to be no progress.

[2019-09-17 03:58] #2271 closed

[2019-09-17 04:01] piroor commented on #2346
I've added a snippet: https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#container-colored-underline-for-tab-2346

[2019-09-17 04:01] #2346 closed

[2019-09-17 04:06] #2372 closed

[2019-09-17 04:08] piroor commented on #2274
I close this because there looks to be no progress. Both Firefox and TST 3.1.8 contain performance improvements, so please open a new issue if you still see performance problems on new versions of TST and Firefox.

[2019-09-17 04:08] #2274 closed

[2019-09-17 04:09] piroor commented on #1907
I close this because there looks to be no progress.

[2019-09-17 04:09] #1907 closed

[2019-09-17 04:11] bughit commented on #2299
I don't have any more info especially now that, "configs.grantedRemovingTabIds is cleared after 1sec", which addresses the symptom, if not the cause.

[2019-09-17 04:13] piroor commented on #2321
Sadly I have no more idea for this problem. Any pull requests for this topic is still welcome.

[2019-09-17 04:13] #2321 closed

[2019-09-17 04:16] #2298 closed

[2019-09-17 04:21] piroor commented on #2181
https://searchfox.org/mozilla-esr68/rev/ca038f58e0f67eb763a569b3d3939555f92f952d/toolkit/components/contextualidentity/ContextualIdentityService.jsm#159
There looks to be no logical change around the logic.

[2019-09-17 04:22] piroor commented on #2196
https://bugzilla.mozilla.org/show_bug.cgi?id=1536730 has been fixed on Firefox 68, so I close this.

[2019-09-17 04:22] #2196 closed

[2019-09-17 04:30] piroor commented on #2268
I think there looks to be nothing can be done for this problem from addons-side... So I close this.

[2019-09-17 04:30] #2268 closed

[2019-09-17 04:43] mruhlin commented on #2361
Thanks. I’m on vacation now with no device to test it on, but I’ll check when I get back next week.

[2019-09-17 05:16] piroor commented on #2383
It looks exceeding the concept of "Tree" Style Tabs. I'm negative to include features not related to "tree", instead I hope TST to be used together with another addon providing the feature. For example: Simple Tab Groups https://addons.mozilla.org/firefox/addon/simple-tab-groups/ provides ability to switch sets of tabs.

Please note that I cannot guarantee that TST is completely compatible with ST

[2019-09-17 07:51] Sniperkillerut commented on #2383
I installed STG and so far its working fine, tomorrow I will test it more.

but I believe this solution is not ideal as it is not integrated, as in they are two different functionalities that when used in this manner they dont look really connected or related, like bookmarks and TST (not really related), and more importantly not in the same UI/menu/place, it feels really disjointed to use it as tw

[2019-09-17 08:19] jamiechoi1995 opened #2384 "[Bug] Unable to close tab when leave page warning is ignore"
##Short description
When you open a tab, edit an article, and want to close this tab, firefox will give the warning below:
![image](https://user-images.githubusercontent.com/13494034/65023731-07aa3e80-d966-11e9-9105-d7dd80b2b9ab.png)
if you ignore this warning and click other tab and back, this warning will disappear, however, you can not close this tab from treestyle now.

## Steps to reproduce

[2019-09-17 10:28] piroor commented on #1639
I've changed my mind with the comment https://github.com/piroor/treestyletab/issues/1639#issuecomment-531693353 - I agree that it is unnatural: "Bookmark This Tree" doesn't store tree structure to bookmarks. TST's built-in feature just saves the level of the tree item as the number of prefix `>` in bookmark's title.

https://github.com/piroor/treestyletab/compare/15212d54887acda32db0cdcfe51f05d143

[2019-09-17 10:40] piroor commented on #2384
I think it is a bug of Firefox itself. TST just changes focus of tabs with `browser.tabs.highlight()` and closes a tab with `browser.tabs.remove()` - both they are genuine way in WebExtensions API. These operations should not trigger such an odd behavior.

[2019-09-17 10:55] piroor commented on #2383
If you need an integreated feature just for grouping of tabs, then TST's dummy tabs may help you. You can open a dummy tab just for grouping with an URI `ext+treestyletab:group?(title)`. Typing it into the location bar or creating a new bookmark with the URI, to open the URI in a tab. But please note that such dummy tabs are shown as a regular tree node - only one difference is: their icon.

Sorry

[2019-09-17 11:36] irvinm commented on #2364
@stapuft I am pretty sure it doesn't have to do with using a large number of tabs.  I usually run anywhere from 800-1100 tabs and have never seen this issue.

I don't have any direct feedback, but maybe to suggest trying something.  If you use something like "tab session manager", you can export your current set of tabs ... then you can create a new profile, install TST and TSM, restore your sessi

[2019-09-17 14:11] dksher commented on #2376
It seems the issue has been fixed. Thanks.

[2019-09-17 14:11] #2376 closed

[2019-09-17 16:59] mike-tn commented on #2360
OK. I think we can close it for now.

[2019-09-17 16:59] #2360 closed

[2019-09-17 21:03] Sniperkillerut commented on #2383
Yeah, that would work, thanks.
Do the dummy tabs have a custom ID/class?

that way with the css in the settings I could experiment a little =P

[2019-09-18 01:11] piroor commented on #2383
Dummy tabs have a class `group-tab`, so you can apply custom styles to them wit h CSS like: `.tab.group-tab.active { ... }`

[2019-09-19 12:07] mike-tn opened #2385 "New tab with inherited container is not highlighted in the sidebar"
## Short description
With some options set, after opening new tab  its background color in the sidebar is of  NOT active tab (and sometimes left edge in not highlighted also).

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3. In TST options (New tab behavior) set:

 4. Open new blank tab in any container
 5. Open in it any site or leave blank
 6. Open new blank tab

[2019-09-23 13:19] mruhlin commented on #2361
Yeah this looks good.  Thanks!

[2019-09-23 13:19] #2361 closed

[2019-09-23 14:57] mruhlin commented on #2384
I'm seeing the same thing with slightly simpler repro steps, that don't rely on changing tab focus:
- Start writing something (in my case a comment on reddit)
- Click "close tab" button (either the one on TST or the Firefox tab bar)
- *Click "stay on page" in the modal*
- Finish writing your comment and submit it
- Click TST's "close tab" button
  - nothing happens
- Click Firefox's "close tab" bu

[2019-09-23 22:22] Valentin-N opened #2386 "Tab close buttons partially obstructed by invisible element"
## Short description

The tab close buttons seem to be partially or completely obstructed by an invisible element. Clicking on tab close buttons or on tabs does not work across the obstructed area.

## Steps to reproduce

1. Start Firefox with clean profile.
2. Install TST.
3. Create a large enough number of containers (e.g. `100`) using long enough names (e.g. `ABCDEFGHIJKLMNOPQRSTUVXYZabcdefghij

[2019-10-02 10:08] piroor commented on #2386
Thanks. Finally I've realized that there is an invisible scrollbar below the unresponsive area, and I've introduced some changes to prevent producing of such invisible scrollbars.

[2019-10-03 08:00] piroor commented on #2386
Finally this has been identified as a regression at Firefox 69.
[1585880 - "pointer-events: none" does not affect to scrollbars generated by "overflow" property](https://bugzilla.mozilla.org/show_bug.cgi?id=1585880)

[2019-10-07 11:10] jjlee opened #2387 "Add FAQ entry about userChrome.css to hide tabstrip?"
## Short description

I would like to configure firefox not to show the built-in horizontal tabstrip, but I am unable to find a FAQ entry about that, and docs online about the userChrome.css trick do not work for me any more.

## Steps to reproduce

This relates to this upstream bug:

https://bugzilla.mozilla.org/show_bug.cgi?id=1332447

Using firefox 69.0.1 and TST 3.1.8 the userChrome.css I have

[2019-10-08 01:28] irvinm commented on #2387
Try this.  Is that what you want?

[code]

[2019-10-08 01:41] irvinm commented on #2387
I also added this CSS to slide the min-max-close buttons down to get rid of the entire row.

[code]
![2019-10-07_21-39-48](https://user-images.githubusercontent.com/979729/66360995-16738800-e94b-11e9-9e76-4b2631c1704b.jpg)

[2019-10-08 01:56] irvinm commented on #2387
Oh, and I just noticed you pretty much have my suggestion.  I wonder if it is Ubuntu related.  My solution works fine on Windows and TST 3.1.8.  Sorry about that.  (PS. Here is where I found out about the change in FF65a:  [Reddit](https://www.reddit.com/r/firefox/comments/9wd2d2/nightly_650a1_no_longer_able_to_hide_tab_bar/))

[2019-10-08 22:59] Valentin-N commented on #2387
Probably related to [toolkit.legacyUserProfileCustomizations.stylesheets](https://www.ghacks.net/2019/05/24/firefox-69-userchrome-css-and-usercontent-css-disabled-by-default/) which needs to be set to `true` for `userChrome.css` to take effect.

[2019-10-09 01:47] hub2git commented on #1890
This doesn't seem to work. I'm on Firefox 69.0.1 on Linux Mint. After I added the code to the "Extra rules for Sidebar Contents" in TreeStyleTab's Advanced section, new tabs I Middle-Mouse-click still show the favicons to the left of the text of the webpage title.

[2019-10-09 15:25] archaik opened #2388 "Duplicate Tab opens as child always instead of sibling"
## Short description
When duplicating a tab, the duplicate tab gets created as a child of the current tab instead of the preference chosen (i.e. sibling).

## Steps to reproduce

1. Right-click Tree Style Tab button in tool bar > New Tabs Behavior > Duplicate the Tab as > a sibling of the current tab (OR) the next sibling of the current tab
2. Right-click on current tab in Side bar or Tabs bar > D

[2019-10-09 20:49] matunos commented on #2387
This was exactly it for me. Once I set the value to true and restarted Firefox, my previous userChrome.css settings were applied again.

[2019-10-10 09:55] Kern3l opened #2389 "Old way of resizing tab height is broken"
# The symptoms

When I apply this: https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#change-tab-height-236
[code]
The latest Firefox on Linux.

## Expected result

Tabs should be set to the new height at all times.

## Actual result

It looks as expected until you collapse a tree - then the parent tab will shrink even more. The more nested the tree is, the more it wi

[2019-10-10 19:01] Lej77 commented on #2389
This seems to work:

[code]

[2019-10-11 21:56] ariasuni commented on #2328
Note that Firefox switched to 30 FPS several months ago:
https://bugzilla.mozilla.org/show_bug.cgi?id=1511095#c10

Relevant line in Firefox’s code:
https://hg.mozilla.org/mozilla-central/file/c5e6477c3a245a97d4c3cdd5d3e406f8abaf94ad/browser/themes/shared/tabs.inc.css#l198

So maybe Tree Style Tab should switch to 30 FPS by default too.

[2019-10-13 21:07] drsvp commented on #2386
Apologies if this isn't the preferred place, but it seems i'm experiencing a similar issue, but in another location on tabs.

A mouse-over of any of the TST tabs results in a dead spot, in the same location on all tabs.  Moving the cursor several pixels left or right results in expected action i.e. the tab brightens, indicating available activity e.g. click to focus.  Movement back to the dead zon

[2019-10-14 15:48] piroor commented on #2386
@drsvp  Could you try the development build?: https://github.com/piroor/treestyletab/blob/master/README.md#development-builds  If yours equals to this, you won't be able to reproduce the problem anymore with the build.

[2019-10-14 15:58] piroor commented on #2328
@ariasuni Thanks! I've applied same changes with the commit e256e29.

[2019-10-14 16:00] piroor commented on #2389
Thanks, I've updated the code snippet: https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#change-tab-height-236-2389

[2019-10-14 16:00] #2389 closed

[2019-10-14 16:17] drsvp commented on #2386
@piroor The linked development build fixes the dead zone issue for me, yes.  It is no longer reproducible with the linked development build installed.  Thanks!

[2019-10-14 18:35] prashantkhurana opened #2391 "[feature request] Open external tabs as child of current tabs"
Currently there is an option "New tab with same website as the current tab from location bar or from outside firefox". This is a feature request to have a similar option but without the same website requirement.

Usecase : I sometimes open lots of links from slack (which are related to the current work I am doing. I would like them to open in the current tree I am on, which is generally the tree r

[2019-10-14 19:27] jjlee commented on #2387
Thanks Valentin, that was it for me too!

How about a FAQ entry something like this (sorry not terribly polished for non-technical users, but better than nothing):

Q. Why do I see the regular horizontal tab strip along the top as well as the tree-style tabs on the left of the browser window?

A. This is because, since major changes in Firefox 57, there is no way for the extension itself to hide t

[2019-10-15 09:17] Kern3l commented on #2389
That's great, thanks! Just one thing left to update: the menu above the code snippets - currently the link's hash is pointing the previous title (so it doesn't scroll down).

[2019-10-15 14:09] piroor commented on #2387
I've added an entry to the list of most major FAQ.
https://github.com/piroor/treestyletab/blob/master/README.md#major-faq
I agree that it is not user friendly with less actual steps to do. People need to click the link and read another instruction to activate the `userChrome.css`. This is because I don't want people to try that without knowing about risks.

[2019-10-15 15:57] saneyuki commented on #2000
To support TST's _theme_ completly, I suspect it's better to wait [CSS Shadow Parts](https://drafts.csswg.org/css-shadow-parts-1/) ([bug 1551113](https://bugzilla.mozilla.org/show_bug.cgi?id=1551113)).

But I think we can replace a simple element with custom element from now.

[2019-10-15 16:40] piroor commented on #2391
I agree that such an option may be useful, if TST can detect a tab was opened with the context exactly matching to the story. But sadly it looks not effective for now, because WebExtensions API provides just restricted ability to detect the context of a tab open.

The first checkpoint is `openerTabId` of a newly opened tab. When `openerTabId` is provided, it means that the tab was opened from anot

[2019-10-16 16:10] irvinm commented on #2387
@jjlee will you close this issue?  Thanks.

[2019-10-16 19:51] prashantkhurana commented on #2391
Oh wow, thanks for thinking this through! I agree that since firefox does not provide any way to find out if the tab was opened from other application, this would essentially translate to "how to open tabs by default".

For completeness, as a compromise since I still I open tabs from outside firefox a lot of time I ended up using [open-tabs-next-to-current](https://addons.mozilla.org/en-US/firefox

[2019-10-16 21:28] irvinm commented on #2391
@prashantkhurana can you close this item for now?  Maybe we can revisit if Firefox adds functionality to help this.

[2019-10-17 01:07] #2391 closed

[2019-10-17 17:25] irvinm opened #2394 "Nested "group tab" does not display proper favicon"
## Short description
Nested "group tab" does not display its favicon properly when looking at the parent "group tab" page.

## Steps to reproduce
- Create a group tab.
- Create another child group tab in the original group.
- Inspect favicons\tabs in the first group tab and see that child group tab has default favicon.

![2019-10-17_13-08-46](https://user-images.githubusercontent.com/979729/670319

[2019-10-17 18:12] jjlee commented on #2387
Thanks!

[2019-10-17 18:12] #2387 closed

[2019-10-18 15:11] piroor commented on #2394
Thanks, I missed it. The commit 2a1371e should fix this.

[2019-10-18 15:11] #2394 closed

[2019-10-19 16:24] drsvp commented on #2386
piroor:  after a Ffox restart this morning, i returned to the development build page and used the build to reinstall TST.  i got the following in Ffox about:debugging: "Warning details
Reading manifest: Error processing variable_color_icons: An unexpected property was found in the WebExtension manifest.

Extension ID    treestyletab@piro.sakura.ne.jp
Internal UUID    69e07469-ed63-4dfc-9278-9217a2

[2019-10-21 08:57] piroor commented on #2386
@drsvp The warning you saw is not critical and unrelated to the problem. And I cannot reproduce the problem with the latest development build on Firefox 69.0.3 (64bit), Windows 10.

[2019-10-24 12:57] Prucconi opened #2395 "[Feature Request] TST functionality in default horizontal tab panel"
Would be great to implement TST functionality in default horizontal tab panel. Maybe it's even possible to replace default tab panel with TST.
The only restriction here is height of tabs, which limits number of child sub-tabs to be shown. But 4 levels of tabs (as shown on image) is enough for most purposes.
![изображение](https://user-images.githubusercontent.com/56964932/67487488-b41ec500-f676-11

[2019-10-25 15:58] pilot513 opened #2396 "How i can remove top tabs when i use TST"
For example like this
https://gist.github.com/collinbarrett/45c90f7d427e08d69d32dfef402c86f6
 (not working now)

[2019-10-25 16:01] pilot513 commented on #2396
I'm resolve problem when set **toolkit.legacyUserProfileCustomizations.stylesheets to true**

[2019-10-25 16:01] #2396 closed

[2019-10-26 11:51] Atario opened #2397 "Some new tabs open as independent no matter what"
## Short description
There are some ways to make new tabs open for which there doesn't seem to be any way to control the TST behavior.

## Steps to reproduce
(Other methods can do the same — for example, using the [Resurrect Pages addon.](https://addons.mozilla.org/en-US/firefox/addon/resurrect-pages/)  But for a clean install, this illustrates the issue:)

1. Set all of TST's new-tabs options to

[2019-10-27 17:44] piroor commented on #2395
Please see the FAQ: https://github.com/piroor/treestyletab/blob/master/README.md#major-faq
Sadly TST 2.0 and later never support the horizontal tab bar and it is impossible due to restrictions of WebExtensions API.

[2019-10-27 17:44] #2395 closed

[2019-10-27 17:51] piroor commented on #2397
There was a similar discussion. Please check my comment about this topic: https://github.com/piroor/treestyletab/issues/2391#issuecomment-542302281

[2019-10-28 04:25] Atario commented on #2397
Interesting.  However, it seems like if a Firefox window is the active window (I don't know if you can detect this), and a new tab is opened, generically speaking, then it should be the child of the currently active tab, since either the page opened it (the semantic tab-to-tab relationship you speak of) or I did, knowing that tab was active (intent of the user implying the relationship).

In the c