[2021-03-06 13:23] filyp commented on #2831
Ah sorry, I missed it.
Thanks.

[2021-03-06 13:23] #2831 closed, assigned to nobody

[2021-03-06 14:32] piroor commented on #2796
If TST provides a new API to open new tabs, there can be another problem about security.

When an addon tries to create a new tab, the `tabs.create()` method returns a tab object without its URL and some sensitive information, even if it was requested from the addon itself. Thus such an addon need to list `tabs` in its `permissions` in the manifest file.

TST's API should simulate the behavior. Ho

[2021-03-06 15:09] piroor commented on #2796
The document: https://github.com/piroor/treestyletab/wiki/API-for-other-addons#open-new-tab-bypassing-tsts-tab-control-behavior

[2021-03-06 23:12] natenate19 commented on #2826
Yes, this is a 13 inch retina MacBook Pro 2020 Intel.  Resolution is at max for the display, which is 3360x2100 (1680x1050@2x).

[2021-03-07 08:16] mzso commented on #1910
For me opening as child tab doesn't work in any way. Made sure FF is set to use firefox homepage. Enabled guessing for about:newtab. But it always opens as next sibling.
Are there any other factors?

[2021-03-08 09:28] SebiderSushi commented on #2789
I always use `Ctrl+Shift+D`, it bookmarkts all your open tabs from the current window into a new folder and lets you name that and choose where it should be stored.

[2021-03-09 06:38] MurzNN opened #2832 "Add option to hide "Close Tabs to the Top" menu item"
Via [this commit](https://github.com/piroor/treestyletab/commit/41cf3f65a60a9d938c6948a79eb9c92ca1475f2d) was added menu item "Close Tabs to the &Top" (id `context_closeTabsToTheStart`), and it is located now in place where was the old "Close Tabs to the Bottom" item.

And now I always do the missclick and close tabs to the top, instead of bottom. And for me - the need of closing tabs to the top i

[2021-03-09 17:21] irvinm opened #2833 "Sync volume check"
## Short description
Related to previous discussions around the amount of allowable sync data (https://github.com/piroor/treestyletab/issues/2623 and https://github.com/piroor/treestyletab/issues/2678) and reviewing your code comment:

https://github.com/piroor/treestyletab/blob/aa3710e3c16c2291b9c13f927448e144b46b9a4a/webextensions/common/constants.js#L357-L360

It appears the allowable amount to

[2021-03-13 18:28] aleksandrpetushkov commented on #2830
![Alt Text](https://s4.gifyu.com/images/t3.gif)
Really, after reopened view sidebar is fixed, but continued opening new tab . How can fix it permanent. Thank you and sorry I didn't try to reopen the sidebar.

[2021-03-17 11:27] wvxwxvw opened #2834 "Possible bug on Firefox ESR"
Firefox ESR 78 x64
Sometimes tabs stop responding to mouse actions, while actions from the context menu work.
Why this happens is not clear, for example, the last time it happened after adding all the tabs to bookmarks. But it happened that even after closing the first tab. Only restarting the browser helps, and then not always.
This has been happening for a long time, I did not write before, as I

[2021-03-17 12:52] piroor commented on #2783
FYI: there is a list of addons which provides "search tab" feature.
https://github.com/piroor/treestyletab#similar-projects => "Listing tabs with a search field"

[2021-03-17 18:38] sienori opened #2835 "Discarded tabs are opened as a child when using Tab Session Manager"
## Short description
When opening tabs using [Tab Session Manager](https://github.com/sienori/Tab-Session-Manager), the tabs may be opened in wrong hierarchies. This problem seems to occur when the discarded tab is activated. https://github.com/sienori/Tab-Session-Manager/issues/595

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3. Install [Tab Session Manager](htt

[2021-03-17 18:46] viking2 commented on #2835
I had also reported this issue here: https://github.com/sienori/Tab-Session-Manager/issues/595

[2021-03-18 02:21] grahamperrin commented on #2534
https://bugzilla.mozilla.org/show_bug.cgi?id=1511756 is off-topic in that it's for the _title_ of a tab, however https://bugzilla.mozilla.org/show_bug.cgi?id=1511756#c7 there's a range of thought-provoking questions.

Does thinking about those questions help to think about possible causes of this issue #2534?

(If not: hide this comment as off-topic, and my apologies for the noise.)

[2021-03-19 19:45] Evotron opened #2836 "How do I reset tree style tab to original settings?"
How do I reset tree style tab to original settings?

[2021-03-20 02:31] ssokolow opened #2837 "Can't Turn Off New "Force TST Behaviour on Tab Strip-triggered Actions" Behaviour"
## Short description

Since a week or two ago, Tree Style Tab has started trying to close child tabs when I close the parent using the browser's tab bar if the parent tab is collapsed in the TST sidebar.

Given that there are no structural cues in the browser's tab strip, this brings me no benefit (I have to look at the sidebar anyway if I want to act on the tree structure) and means that, often,

[2021-03-20 13:13] irvinm commented on #2837
Have you tried looking at these options to get your desired behavior?

![image](https://user-images.githubusercontent.com/979729/111870671-6fc35180-895c-11eb-99e3-b175bb7e18e2.png)

[2021-03-20 13:17] irvinm commented on #2836
If you are not using Firefox Sync, you could always just uninstall TST, restart Firefox, then reinstall TST.

If you are using Firefox Sync, I think that is a little harder.  I'd have to think about that more ...

[2021-03-20 14:59] ssokolow commented on #2837
I completely missed that I hadn't checked "Unlock Expert Options", so that checkbox was missing from that section.

Looks like the real bug is one of the following two things:

1. New defaults get added which change the behaviour visible to people with expert option hidden and can't be reverted without enabling the expert options. (This is the more direct bug because it effectively makes checking

[2021-03-20 15:02] ssokolow commented on #2837
Actually, no. On second thought, that says "when the sidebar is invisible" and opening a new TST sidebar takes so long (5-10 seconds) when it has my current 550 tabs open that I never make it invisible and just sometimes ignore its presence.

If it's conditional on me hitting F1 to hide the sidebar, it's irrelevant and useless to me, because I can't afford to burn 5-10 seconds waiting on TST's thr

[2021-03-20 19:06] piroor commented on #2836
@Evotron Did you try TST options => Development => All Configs => Reset All?

[2021-03-20 19:10] Evotron commented on #2836
I didn′t know about TST options => Development => All Configs => Reset All. Thank you very much!

[2021-03-20 19:10] #2836 closed, assigned to nobody

[2021-03-21 04:49] sith-on-mars commented on #1586
Sorry for digging up the ancient post. Could you maybe add an manual dark mode switch? I enabled `privacy.resistFingerprinting` in about:config, and `privacy.resistFingerprinting` basically just forces light mode for webpages and addons. I knew you could set dark theme in Firefox customisation, but I personally prefer to use default theme so that my Firefox theme looks consistent with the GTK them

[2021-03-21 16:34] piroor commented on #2837
Sorry for this confusion. The option was introduced for #2506.

When a new option is introduced, there are generally two possible choices for an application: enable it for all users or only new comers. Firefox itself choose both strategies for each options, indeed `browser.ctrlTab.recentlyUsedOrder` is enabled only for new comers but `browser.urlbar.trimURLs` is enabled for all users. But I think

[2021-03-21 17:27] xiraix opened #2838 "Had tab grouping been removed?"
Has tab grouping been removed? I used to use this addon several months ago and I remember being able to put tabs under a dummy tab. I cant find such an option under the context menu anymore.

Platform (OS): Windows 10
Version of Firefox: 86.0.1 (64-bit)
Version of Tree Style Tab: 3.7.3

[2021-03-21 18:34] ssokolow commented on #2837
That's still talking about "when TST is hidden". I want to turn off "Middle-clicking a tab in the tab strip may close other tabs *when TST is shown*".

Unfortunately, at the moment, I've got problems in my life, so I can't even properly give my own projects the maintenance they need.

I've more or less grown used to making sure subtrees of tabs always stay fully expanded as a workaround, even if i

[2021-03-22 18:35] paravz opened #2839 "tree is not restored when opening recently closed window"
## Short description
When i close a window with a tree and then restore it (via shortcut or history menu), the window restores with a flat list of tabs (the tree disappears).

Toggling "Optimize tree restoration with cache" and enabling/disabling Tree Style Tab (by pressing F1) does not help.

This worked a few weeks ago and might be due to upgrade to Firefox 86.

## Steps to reproduce
- Create 2

[2021-03-24 03:50] Evotron opened #2840 "What is the CSS class for selected tabs?"
I′m using dark mode on Firefox. When I select tabs, as in, for example, when I select all tabs, they hardly change color. It′s hard for me to tell when I am selecting a group of tabs because the color is so similar to the default color, especially because I′m using night light to get rid of blue light.

What′s the CSS class for selected tabs? Is there some way for me to figure this out on my own?

[2021-03-24 13:08] irvinm commented on #2840
https://github.com/piroor/treestyletab/wiki/How-to-inspect-tree-of-tabs

[2021-03-24 13:10] irvinm commented on #2840
You may also want to look over https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules for ideas.

[2021-03-24 14:58] mesvam opened #2841 ".discarded class for unloaded tabs is missing after updating to Firefox 87.0"
styles like these no longer work
[code]

[2021-03-24 17:11] irvinm commented on #2841
This is what I use and it still works.

`:root .tab.discarded { opacity: 0.60; filter: blur(0.6px); background: rgb(75, 75, 75, 0.4); } `

[2021-03-24 17:22] irvinm commented on #2841
Oh, on a side note, I tried your CSS and it worked fine.

[2021-03-24 17:28] piroor commented on #2841
It looks to be a problem of Firefox itself. TST just respects "discarded" status of tab objects got via WebExtensions API. I don't know why it happens but Firefox sometimes return wrong "discarded" status for restored tabs.

[2021-03-24 17:35] silverwings15 commented on #2841
yep, works here as well

![image](https://user-images.githubusercontent.com/10742312/112357317-fe8bf180-8d01-11eb-91dd-4fcf91293634.png)

[2021-03-24 18:41] mesvam commented on #2841
This seems to be the case. Other add-ons like [this one](https://addons.mozilla.org/en-US/firefox/addon/loadtabonselect3/) failed to see discarded tabs as well, but they both worked on another machine with Windows 10 instead of 7. I've reported this to Mozilla here: https://bugzilla.mozilla.org/show_bug.cgi?id=1700708

[2021-03-24 18:53] Evotron commented on #2840
Many thanks.

It seems the exact instructions are outdated?! Here′s what I did:

1. Type about:debugging into the location bar and hit the Enter key.
2. Click on “This Firefox”
3. Find Tree Style Tab and click on its corresponding “Inspect” link

There I was able to eventually find the styling by looking through the various style sheets and searching for the term “selected”.

Here is what I came u

[2021-03-24 18:53] #2840 closed, assigned to nobody

[2021-03-24 19:43] irvinm commented on #2838
Check out:  https://github.com/piroor/treestyletab/issues/2428

I don't believe there is a context menu item for it.  Just do it manually or bookmark it to open a new one.

[2021-03-24 19:48] irvinm commented on #2832
What I do for removing items in userChrome.css:

[code]

[2021-03-24 23:14] irvinm commented on #2834
Have you looked over either https://github.com/piroor/treestyletab/issues/2660 or maybe https://github.com/piroor/treestyletab/issues/2272?  I would suggest taking a look at those to see if you can contribute to information there ... or if they are different, I think it would be a great benefit if you could dig a little more into some scenarios that could reproduce this at all.

Unless @piroor has

[2021-03-24 23:26] irvinm commented on #2833
@piroor any initial thoughts on this?

[2021-03-26 06:23] medievalberries opened #2842 "Error with viewing text in option settings"
## Short description

An error with viewing text in option settings

## Steps to reproduce

I do not know how to reproduce this issue. Sorry. I am on a clean install of Firefox and the problem persists.

## Expected result

As perviously, I had expected text and buttons when viewing the options in the addons permissions sections. This would allow me to tweak the extension.

## Actual result

![ima

[2021-03-26 18:09] wvxwxvw commented on #2834
@irvinm
The problem is very rarely manifested, it happens three times a day, it happens once. How to catch it in a clean profile? I can't sit on an empty browser for all day. But I tried (so far to no avail) and even created a specially clean portable version, I will try to view on it.

[2021-03-26 18:35] irvinm commented on #2834
@wvxwxvw I totally understand.  Just as hard as it is for you to reproduce, I would imaging it would be that much harder for @piroor to reproduce it if he has never seen it before without any indicators of the trigger of the issue.

[2021-03-27 10:14] xmha97 opened #2843 "Redesign like Proton UI"
A new look is coming to Mozilla Firefox.
Please redesign tabs style like proton UI.
Thanks.

[2021-03-27 13:28] piroor commented on #2843
Thanks, I didn't know that.

References:

Firefox/Proton - MozillaWiki
https://wiki.mozilla.org/Firefox/Proton

This is What Firefox's New 'Proton' Redesign Looks Like on Ubuntu - OMG! Ubuntu!
https://www.omgubuntu.co.uk/2021/02/try-firefox-proton-redesign-ubuntu

[2021-03-27 23:14] wvxwxvw commented on #2834
[Link_Properties_Plus_WE](https://github.com/Infocatcher/Link_Properties_Plus_WE)  fault. My brain almost boiled. )
[Created an iss](https://github.com/Infocatcher/Link_Properties_Plus_WE/issues/2), let's see what it responds to.

[2021-03-28 04:08] rajeshmanivan commented on #2741
Hi, I checked the "bookmark this tree" option in the righ-click(context) menu. But I still prefer an onetab integration, because I find firefox bookmarks to be clunky to use.

Edit: Ignore this comment. Onetab addon has a keyboard-shortcut to send the current tab to onetab. that function works for me. The shortcut have to set in the firefox addon keyboard-shortcuts menu, before starting to use it.

[2021-03-28 04:12] rajeshmanivan opened #2844 "New feature request: Keyboard shortcut to access the context(righ-click) menu"
After I right-click on the tab, I see keyboard-shortcuts to access functions in the context-menu-tree. but having to use the mouse to access context menu, disturbs the flow of keyboard usage.
I checked the keyboard-shortcut page for firefox addon, it didn't have this option listed there.

[2021-03-28 04:36] rajeshmanivan commented on #2844
It was stupid of me to ask this functionality from an addon developer, I realize this functionality should be developed by Mozilla.

[2021-03-28 05:20] rajeshmanivan commented on #2844
If this isn't possible, would you be able to add "Move tab to top" in firefox addon keyboard shortcuts menu. It currently only has option to move up.

![ff_move](https://user-images.githubusercontent.com/9722216/112743272-6a48b580-8fb3-11eb-955d-21b44f3c0dad.png)

[2021-03-29 02:18] piroor commented on #2844
Is it possible on the Firefox's native tab context menu? If not I think it is out of scope.

[2021-03-29 02:27] piroor commented on #2843
I've tried the Proton UI. The appearance of tabs looks quite similar to the vertical tabs on Microsoft Edge (Chromium-based version).

[2021-03-29 02:28] piroor commented on #2843
Background: Firefox Nightly + Proton UI
Foreground: Chromium Edge's vertical tabs
![image](https://user-images.githubusercontent.com/70062/112779527-e01b5280-9081-11eb-89bb-5ade24845ba2.png)

[2021-03-29 02:39] piroor commented on #2842
Sadly I couldn't reproduce the problem on my environment: Firefox 87.0 (64bit) + Windows 10 Pro 20H2 + TST 3.7.3
Screenshot with the dark mode (configured via the options of Windows itself):
![image](https://user-images.githubusercontent.com/70062/112780044-f4ac1a80-9082-11eb-8095-1287ced2f86c.png)
Any other possible trigger?

[2021-03-29 03:07] piroor commented on #2834
I've installed Link Properties Plus WE https://addons.mozilla.org/firefox/addon/link-properties-plus/ but I couldn't reproduce the problem. It looks there is something more trigger.

[2021-03-29 03:46] piroor commented on #2839
I've tried with TST 3.7.3 Firefox 86.0 on Ubuntu 20.04LTS but I couldn't reproduce the problem. I think there is something more trigger.

[2021-03-29 03:48] piroor commented on #2838
The command "Create New Group" for multiselected tabs was removed from TST itself, and moved to a helper addon "TST More Tree Commands". Please try it.
https://addons.mozilla.org/firefox/addon/tst-more-tree-commands/

[2021-03-29 06:15] paravz commented on #2839
I just tried on firefox 87.0 (newer than the report) and TST 3.7.3 and cannot reproduce it. Sorry for false alarm.

[2021-03-29 06:15] #2839 closed, assigned to nobody

[2021-03-29 08:08] piroor commented on #2837
Ah, OK I've understood what you meant, and I've added a new option like as you told. However please note that it may not work as you expected on some cases due to  API restrictions.

Basically TST cannot detect the detailed trigger of a tab closing, TST just can know: the operation is triggered in the sidebar (via mouse operations or the context menu) or outside of the sidebar (keyboard shortcuts,

[2021-03-29 08:16] piroor commented on #2832
@MurzNN As @irvinm commented you need to specify more complex selector to identify menu items implemented by TST.

Sorry but I have no plan to add options to control visibility of menu items simulating Firefox's native tab context menu, because Firefox itself doesn't provide such an option.

[2021-03-29 09:04] xmha97 commented on #2843
Nice.

[2021-03-29 11:02] ssokolow commented on #2837
That's fine. After tripping over so many tree-corruption bugs over the years, I've developed a preference for that behaviour.

(Leaving TST more as a way to visualize things, with multiple-tab closing handled through Firefox's built in multi-select for tabs.)

[2021-03-30 01:10] wvxwxvw commented on #2834
Yes, there is something else. Today, the tab bar froze immediately after opening the browser.

[2021-03-30 02:57] piroor commented on #2833
Thanks, there was a mistake and TST didn't use full of allowed slots to save chunked data. With the commit 9f2486a now TST uses all 8 slots for both user styles and sent tabs.

* The old (wrong) maximum size of those chunked data: 6 * 1024 * 6 * 2 = 73728(bytes)
* The new (correct) maximum size of those chunked data: 6 * 1024 * 8 * 2 = 98304(bytes)
* The maximum size of all sync storage of an addo

[2021-03-30 03:14] piroor commented on #1586
@sith-on-mars Sorry but there is no switch to activate the dark color without system dark color. Instead you can use the user style rules to override default colors with dark colors, citing from the color definition:

https://github.com/piroor/treestyletab/blob/9f2486a88fa4367bd47341aa3bb7762696101fa8/webextensions/resources/ui-color.css#L193-L226

[2021-03-30 03:27] piroor commented on #2534
@grahamperrin Basically I think this bug cannot be fixed by TST side and need to be fixed by Firefox side. An addon need to believe that Firefox notifies correct information around unloaded tabs via WebExtensions API, otherwise we cannot do anything because we cannot run any content script in such unloaded tabs to inspect its real content...

[2021-03-30 03:35] piroor commented on #2835
It looks to be happening around same domain tabs. TST has an option "New Tabs Behavior" => "Non-blank new tabs" => "New tab with the same website as the current tab from the location bar, bookmarks, histories, or other cases: Open as" => "a child of the current tab" , and changing it to "(no control)" looks to solve the problem.

[2021-03-30 03:57] piroor commented on #2835
I've logged and confirmed that the second tab restored by TSM is attached to the first tab via this section:
https://github.com/piroor/treestyletab/blob/9f2486a88fa4367bd47341aa3bb7762696101fa8/webextensions/background/handle-new-tabs.js#L363-L375

This is due to a restriction of WebExtensions API: an addon cannot know what is the trigger of a new tab. To solve this problem fundamentally, TSM need

[2021-03-30 04:13] piroor opened #2845 "Failed to detect duplicated tabs on Firefox 89"
After logging on Nightly 89.0a1 I've realized that TST cannot detect duplicated tabs anymore. The detection method still works on Firefox 87.0, so something change triggers this problem. Hmm...

[2021-03-30 04:33] jzedu commented on #2844
Adding on to this thread, I was wondering if it is possible to remap the tree style tab toggle? Currently, my F1 key is bound to a system function and it would be very appreciate if I could bind it to another function key like F6. Thanks so much!

[2021-03-30 04:43] jzedu opened #2846 "Remap F1 Key"
## Short description
My F1 key is mapped to a global hotkey, and I was wondering if there's any way to remap the tree-tab hotkey to any other function key like F6. Thank you so much!

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3.
 4.

## Expected result

## Actual result

## Environment

 * Platform (OS):
 * Version of Firefox:
 * Version (or revision) of Tree S

[2021-03-30 04:56] piroor commented on #2846
It can be done with Firefox's built-in UI.

Manage extension shortcuts in Firefox | Firefox Help
https://support.mozilla.org/en-US/kb/manage-extension-shortcuts-firefox

[2021-03-30 04:57] piroor commented on #2844
@Zhu-Justin It can be done with Firefox's built-in UI.

Manage extension shortcuts in Firefox | Firefox Help
https://support.mozilla.org/en-US/kb/manage-extension-shortcuts-firefox

[2021-03-30 05:52] piroor commented on #2845
On Nightly 89.0a1, `browser.sessions.getTabValue` for a newly opened tab sometimes fails. It looks required to wait until its initialization is finished - on my case 100ms is enough safe but it may be different on some environments.

[2021-03-30 07:48] piroor commented on #2845
https://hg.mozilla.org/mozilla-central/rev/018c3b3935934a697d422ba551b60894e773c202
https://hg.mozilla.org/mozilla-central/rev/26082a39ec6371d911af53e971fb736434a20667
https://hg.mozilla.org/mozilla-central/rev/0a97bfe2a11241da32e2bbc402e8090f5cf07c33

There are some changes for the "Fission" project (multi-processes), they can trigger this problem.

[2021-03-30 08:58] piroor commented on #2845
On my case 400msec delay is required for 100% successful detection. 350msec delay just successes with 80% probability. This delay is painfully large...

[2021-03-30 10:05] piroor commented on #2845
1701900 - sessions.getTabValue() requires too large delay to get expected value for a duplicated tab
https://bugzilla.mozilla.org/show_bug.cgi?id=1701900

[2021-03-30 16:08] asafarevich opened #2847 "Hiding tab bar isn't smooth from ui perspective"
## Short description

Using F1 key to hide tab bar creates a small black artifact before webpage takes up full screen for half a sec, but kinda jarring. Only happens if tab bar is on left side.

   1. Start Firefox with clean profile.
   2. Install TST.
   3. Press F1

## Expected result
## Actual result
![image](https://user-images.githubusercontent.com/30283914/113019967-fcc59200-9136-11eb-95e1-

[2021-03-30 16:41] piroor commented on #2843
Implemented experimentally with recent commits.
![image](https://user-images.githubusercontent.com/70062/113024810-237cda80-91c2-11eb-8b98-d9e60c67966c.png)

[2021-03-30 16:52] jzedu commented on #2846
Thank you!

[2021-03-30 16:52] #2846 closed, assigned to nobody

[2021-03-30 22:19] xmha97 commented on #2843
Nice. 😍

[2021-03-31 11:27] #2833 closed, assigned to nobody

[2021-03-31 17:09] pnthach95 opened #2848 "Can't use "margin-right" in "tab-item" in version 3.7.4"
## Short description

After updated to version 3.7.4, `margin-right` in `tab-item` is not working

## Steps to reproduce

 1. Import my settings: [tst-margin-right-bug-v3.7.4.txt](https://github.com/piroor/treestyletab/files/6238196/tst-margin-right-bug-v3.7.4.txt)
 2. Load my theme

[code]

 3. Change `margin-right` to any value in `tab-item` and `tab-item.active`

## Expected result

Version 3.7

[2021-03-31 22:58] irvinm commented on #2848
This worked for me to get indenting to match up:
[code]

[2021-04-01 01:05] piroor commented on #2848
There looks to be a missing step to reproduce: setting TST's appearance to "right side" style.

On TST 3.7.4 I've introduced new custom properties `--tab-margin-left/right/top/bottom` to define visual margins (it is defined to the `:root` by default). Sorry I forgot to document it to the change log.

TST uses `margin-left` or `margin-right` to apply indentation, so customizing of side margins of t

[2021-04-01 01:11] piroor commented on #2848
I've added a document: https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#change-tab-margin

[2021-04-01 01:32] pnthach95 commented on #2848
Thank you, it worked.

[2021-04-01 01:32] #2848 closed, assigned to nobody

[2021-04-01 05:11] opqriu opened #2849 "Collapse All Trees Hotkey and Expand All Trees Hotkey"
use: debian stable, Firefox Lasted Version

write:
I would like to use [Collapse and Expand All Trees] as the one (same) Hotkey.
If it is currently expanded, it is reduced, and if it is currently zoomed out, it expands.
Thanks for reading my ideas.

[2021-04-02 19:12] bb010g commented on #1907
I've had this issue occur recently, with large `cached-tabs` entries inside the `extData` of multiple tabs, along with `cached-sidebar-contents` over 88_641_471 bytes long decoded & uncompressed. (One of the big issues with `cached-sidebar-contents` is duplication of large favicon Base64 data strings between `<tab-item data-current-favicon-url="data:…">`, child `<tab-favicon src="data:…">`, and `<

[2021-04-02 19:17] ngirard commented on #1907
Thanks for your efforts, @bb010g. Hopefully they'll allow to make further progress. Keep us updated !

[2021-04-03 10:43] ericschdt opened #2850 "Do not open tab on drag and drop"
## Short description

I'd like to sort my tabs in the Tree Style Tab add-on, however, dragging a tab will load it, which is not desired.
I couldn't find an appropriate option for it within the context menu of the add-on to alter the behavior.

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3. Open multiple tabs
 4. Drag one tab to move it somewhere else in the tree

[2021-04-03 10:46] ericschdt commented on #2850
Sadly, looks like there's nothing much to do unfortunately: https://github.com/piroor/treestyletab/issues/2439

[2021-04-03 10:46] #2850 closed, assigned to nobody

[2021-04-03 13:41] irvinm commented on #2850
https://addons.mozilla.org/en-US/firefox/addon/move-unloaded-tabs-for-tst/

[2021-04-05 20:31] wvxwxvw commented on #2834
I could not determine exactly the cause. Disable addons - to no avail, remove external scripts - to no avail, delete prefs.js - bug disappeared.
I close the topic.

[2021-04-05 20:31] #2834 closed, assigned to nobody

[2021-04-08 16:50] MarkyC opened #2852 "Tab content jumps around when nearly full vertical height is used"
## Short description

When opening enough tabs to use nearly all the vertical height of the sidebar, the app gets stuck in a repaint loop, causing the `x` buttons to move around and high CPU usage. I'm fairly certain it's related to the height, since this issue doesn't occur when there are two tabs open (ie: it's not related to the site's I'm visiting changing the `<title>` tag or something like t

[2021-04-10 21:18] Heesz opened #2853 "Custom styles not applied for pinned discarded tabs on start"
## Short description

Custom styles not applied for pinned discarded tabs on start.

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Enable Restore previous session in General Startup Preferences.
 3. In about:config set `browser.sessionstore.restore_pinned_tabs_on_demand` as `true` for disable load pinned tabs on start browser.
 3. Install TST.
 4. Add custom style in TST for dis

[2021-04-10 22:25] mzso opened #2854 "Tab selection on tab close is a hot mess"
## Short description
Utterly unpredictable. Very little configuration, but even that doesn't work as expected.
There's only the "When the current tab is closed as a last child" that I found that's relevant to this. Only it doesn't only have effect when it's the last child (no siblings). When I set the option to never control, or focus next tab (and on browser startup) it starts to work as such, wh

[2021-04-10 22:41] irvinm commented on #2854
@mzso everything works great for me with TST and "Select After Closing Current".  The situation about "changes to the next tab for a split second" I believe is a side affect from "Select After Closing Current".

Anyway, it is hard to help any further without more details about the steps you have done and the outcome you are seeing.

[2021-04-10 22:44] irvinm commented on #2852
Just a shot in the dark, but do you have any TST CSS?  Can you reproduce this behavior if you remove it all?

[2021-04-11 00:17] irvinm commented on #2843
@xmha97 any reason to leave this open at this point?

[2021-04-12 09:38] charoduke opened #2857 "New feature request: firefox container icon for tab"
If I use Multi-Account Containers can't distinguish them per tab.

[2021-04-13 04:12] bengb opened #2858 "External Tab in new window disappears when using Temporary Containers add-on"
## Short description

If TST is used with the Temporary Container extension (set to Automatic mode), when you click on an external link (e.g. from Twitter or mail), the new FF window opens, then the new tab briefly appears in the sidebar for a second but then disappears. The page is still displayed correctly.

It appears the tab is hidden, as new tabs from links in the same page will correctly app

[2021-04-13 14:38] haoadoreorange opened #2859 ""Don't expand collapsed tree and skip collapsed descendants, while switching focus" broken on Firefox 87"
## Short description
The option `Don't expand collapsed tree and skip collapsed descendants, while switching focus` doesn't take effect anymore.

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3. Check option `Don't expand collapsed tree and skip collapsed descendants, while switching focus` on Welcome page

[code]
--> Ctrl Pageup

## Expected result
E -> C

## Actu

[2021-04-13 15:54] MarkyC commented on #2852
@irvinm I don't have any CSS, I'm using the _Photon_ theme in dark mode. I was able to reproduce it on the _High Contrast_ theme as well: https://share.getcloudapp.com/Z4uoq5bE

Maybe it has to do with the `border` used in these themes? Seems like it repaints because it's on the threshold of whether to show the scrollbar or not.

---

I dove a bit more into the source code and was able to prevent

[2021-04-13 17:37] Sei-lus commented on #2842
Had the same problem. In my case it is related to userContent.css:
https://cdn.discordapp.com/attachments/763858377121857568/831543170268397638/unknown.png

[code]
I guess it could be shortened to:
[code]

I had to use the page source to work around it and my fix is the code above.
https://cdn.discordapp.com/attachments/763858377121857568/831582726943015012/unknown.png

By the way, Piroor... can y

[2021-04-13 20:09] medievalberries commented on #2842
Thanks Sei-lus, that worked for me. It was extremely odd that it worked, however.All my CSS being disabled didn't fix it, yet this did. But thank you piroor anyway for trying to help :)

[2021-04-13 20:09] #2842 closed, assigned to nobody

[2021-04-14 00:56] mzso commented on #2854
[**@irvinm**](https://github.com/irvinm) commented on [2021. ápr. 11. 00:41 CEST](https://github.com/piroor/treestyletab/issues/2854#issuecomment-817211775 "2021-04-10T22:41:31Z - Replied by Github Reply Comments"):

Well, if it's not TST then what? I don't have anything else to manipulate tab closing behavior.
This sometimes going switching to the previous tab instead of the next tab thing is goi

[2021-04-14 01:28] irvinm commented on #2854
@mzso I'm not saying that it couldn't be TST related.  I'm just thinking if it was "a big hot mess" that other people would have either reported it already and\or would be contributing to this thread.  Let's see what @piroor thinks on the best next steps.

[2021-04-14 22:14] BobVul opened #2860 "Solo tab drag behaviour does not apply correctly when dragged via the Firefox tab bar"
## Short description
The tag drab behaviour "move solo tab" does not work in the Firefox tab bar (outside TST)

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3. Set drag behaviour any of the "move solo tab" options
 4. Open three tabs, with the second tab a child of the first:

    ![image](https://user-images.githubusercontent.com/1674237/114786607-bec89f00-9dc1-1

[2021-04-14 22:17] BobVul commented on #2860
Also, as an additional/related feature request, would it be possible to have a separate set of options for the Firefox tab bar?

Ideally I would like a setup where:

* When dragged via TST, move the entire tree
* When dragged via Firefox tab bar, move solo tab

[2021-04-15 17:57] piroor commented on #2860
Hmm, it looks the time to restructure those options again.

All possible behaviors for closed parent tab are:

* T1: Close descendants too
* T2: Replace closed parent with a dummy tab and keep the tree
* T3: Promote the first child as the new parent always
* T4: Promote all children as the level of the closed parent always
* T5: Promote the first child when a root tab was closed, otherwise promote

[2021-04-16 20:15] piroor commented on #2860
Screenshots:

"when a parent tab is closed or moved":
![image](https://user-images.githubusercontent.com/70062/115103253-81b00880-9f8b-11eb-977b-90af82fbeb90.png)
![image](https://user-images.githubusercontent.com/70062/115103264-91c7e800-9f8b-11eb-897a-cacda690f844.png)
![image](https://user-images.githubusercontent.com/70062/115103272-98565f80-9f8b-11eb-8c3d-62e9b0f1648e.png)

"drag and drop":
!

[2021-04-17 01:51] xmha97 commented on #2843
No

[2021-04-17 01:51] #2843 closed, assigned to nobody

[2021-04-17 17:12] Sada-Mio opened #2863 "Open All as Tree including subfolder - order is reverse"
**## Short description**
bookmark subfolder opens in reverse order

**## Steps to reproduce**
Rightclick bookmark folder with subfolders in it
Tree Style Tab > Open All as Tree including subfolders

**## Expected result**
Folder A tree
   \- tabs...
Folder B tree
  \- tabs...
Folder C tree
  \- tabs...

TST 3.7.3 would create the tree in the order the subfolder was arranged in FF

**## Actual resu

[2021-04-17 19:37] you74674 commented on #2854
I have this issue, too. I can't even configure it to always navigate to neighbor tab when close. It often jumps around unpredictably.

[2021-04-17 22:02] mzso commented on #2854
Even the `Avoid pending (unloaded) tabs to be activated accidentally on current tab closes or tree collapsing` feature seems to remain enabled, even though I just disabled it.

[2021-04-18 10:54] piroor commented on #2854
@mzso @you74674 Do you use any other tab related addon? Firefox provides a "successor tab" API controlling focus after the active tab is closed. If multiple addons (TST is one of them) sets successors for a single tab, only the last addon can be the winner setting the successor. The choice "When the current tab is closed as a last child" => "Never control focus" is the most recommended choice when

[2021-04-18 10:59] piroor commented on #2854
Moreover, Firefox has a feature `browser.tab.selectOwnerOnClose` around such cases and TST also simulates it by default. They are designed to work intelligently but you may think the effect annoying. Disabling both TST's simulation option and `browser.tab.selectOwnerOnClose` via about:config will provide consistent behavior for you.

[2021-04-18 11:19] piroor commented on #2863
Thanks, it looks a regression. The commit cc4b31f should fix it. When I changed behaviors of a utility method to open multiple tabs from parameters, I forgot to ignore bookmarks' "index" property as new tab positions.

[2021-04-18 11:25] piroor commented on #2859
Due to restrictions of the WebExtensions API, the feature is available only when you started the operation with a regular page and it is focused.

* When the tab "E" is Firefox's built-in page or addons.mozilla.org page, TST cannot inject a script to detect pressing down of the Ctrl key.
* When something Firefox UI is focused (ex. the address bar) TST cannot detect the pressing down of the Ctrl ke

[2021-04-18 11:47] piroor commented on #2857
As a workaround you can do it with user style rules. For example:

[code]

You can find available icons at https://github.com/piroor/treestyletab/tree/trunk/webextensions/resources/icons/contextual-identities

[2021-04-18 11:52] piroor commented on #2857
I've added a code snippet:
https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#container-icon-instead-of-colored-line-for-tab-2857

Sorry but I have no plan to make this as a built-in option of TST, because Firefox itself doesn't provide such an option for now.

[2021-04-18 11:56] piroor commented on #2853
This looks to be caused with a reason same to #2841. Firefox has a bug around tabs opened with discarded state for now. The user style correctly applied if the tab is discarded manually via something addons like "Discard Tab".

[2021-04-18 12:02] piroor commented on #2860
On the new version you can configure behaviors around tabs moved via Firefox's tab bar. However please note that the option affects to other cases also: keyboard shortcuts or other addons. This is due to restrictions of the WebExtensions API framework.

[2021-04-18 12:39] BobVul commented on #2860
Thank you! The new version (from CI artifacts) works perfectly as desired :)

![image](https://user-images.githubusercontent.com/1674237/115145672-1bfc7300-a096-11eb-99d2-4c1194da8740.png)

[2021-04-18 13:07] piroor commented on #2842
@Sei-lus Did you mean [TST Colored Tabs](https://addons.mozilla.org/firefox/addon/tst-colored-tabs/) or [ColorfulTabs](https://addons.mozilla.org/firefox/addon/colorfultabs/)? If you use TST Colored Tabs you'll need to request the feature to the author. because it applies background colors to tabs directly and color cannot be referred from user styles.

[2021-04-18 13:15] piroor commented on #2847
Did you told about hiding the sidebar instead of showing? Hmm, I cannot see the blank area on my environment - the sidebar looks to be hidden and the webpage area is expanded immediately.

Does the problem happen with other sidebar panels, for example hitting Ctrl-H to show/hide the history sidebar panel? Then it is a problem of Firefox itself, not TST side.

[2021-04-18 13:36] you74674 commented on #2854
I found that UnloadTabs might be the cause for me.

[2021-04-18 14:01] piroor commented on #2852
Thanks, I missed that the guard mechanism for such infinite loop does not work for macOS specific hack. With the commit a3dd2ae TST won't trigger checking of overflow/underflow state of the tab bar except animation changes tab margins and tab size anymore.

By the way I've realized that the padding for overflow tab bar was applied to wrong side - it aimed to provide a draggable area for macOS scro

[2021-04-18 15:22] mzso commented on #2854
[**@piroor**](https://github.com/piroor) commented on [2021. ápr. 18. 12:59 CEST](https://github.com/piroor/treestyletab/issues/2854#issuecomment-821973045 "2021-04-18T10:59:26Z - Replied by Github Reply Comments"):

Looking at it, I think I always had the option used. Opening of new windows is rare, in any way.

[**@piroor**](https://github.com/piroor) commented on [2021. ápr. 18. 12:54 CEST](htt

[2021-04-18 15:23] mzso commented on #2854
[**@you74674**](https://github.com/you74674) commented on [2021. ápr. 18. 15:36 CEST](https://github.com/piroor/treestyletab/issues/2854#issuecomment-821992751 "2021-04-18T13:36:01Z - Replied by Github Reply Comments"):

https://addons.mozilla.org/firefox/addon/unload-tabs/
Is it this one? I also have this.

[2021-04-18 16:30] you74674 commented on #2854
@mzso
Yes, disabling it seems to fix the problem.

[2021-04-18 16:36] #2863 closed, assigned to nobody

[2021-04-18 17:04] piroor commented on #2858
There looks to be one more step to reproduce: setting `browser.link.open_newwindow` to `2`. It is `3` by default and Firefox opens external links in tabs. But both changed options looks unnecessary to reproduce, I've successfully reproduced with the context menu command "open link in new window" on a link.

[2021-04-18 17:07] piroor commented on #2858
There is a workaround: closing and re-opening the sidebar, then TST shows the tab.

This means that TST successfully tracks the opened tab internally but failed to show it in the sidebar: TST updates the sidebar via asynchronous messages. Why reopening the sidebar solves the broken status is because reopened sidebar builds its contents synchronously with tab data fetched from the main process.

[2021-04-18 18:20] piroor commented on #2858
After a research I've realized that two errors happened in the case:

* TST still tracked already closed tabs (immediately reopened by Temporary Containers) unexpectedly.
* TST failed to rebuild sidebar contents triggered by detected mis-synchronization. This is due to the unexpectedly tracked already closed tab and still tracked tab elements already removed from the document.

Commits e1f42e0 and

[2021-04-18 19:57] tigersof opened #2864 "Make numbered browser tabs clickable by voice"
[feature request]

![image](https://user-images.githubusercontent.com/82762276/115154966-8a7d0900-a075-11eb-9579-d7d50f4ea9ee.png)

<h2>Problem Identified:</h2>
I am reliant on voice recognition and struggle to access browser tabs easily by voice.  Dragon Professional Individual has not implemented a way to achieve this in its add-on extension for Firefox and there is no Firefox ActiveX component

[2021-04-18 20:14] mzso commented on #2854
[**@you74674**](https://github.com/you74674) commented on [2021. ápr. 18. 18:30 CEST](https://github.com/piroor/treestyletab/issues/2854#issuecomment-822019440 "2021-04-18T16:30:07Z - Replied by Github Reply Comments"):

Oh, Well. I guess I'll have to find another addon to conveniently unload tabs.

[2021-04-18 21:45] irvinm commented on #2854
@mzso might I suggest giving "Auto Tab Discard" a try.

[2021-04-18 22:24] mzso commented on #2854
[**@irvinm**](https://github.com/irvinm) commented on [2021. ápr. 18. 23:45 CEST](https://github.com/piroor/treestyletab/issues/2854#issuecomment-822066949 "2021-04-18T21:45:46Z - Replied by Github Reply Comments"):

Thanks, though I'm not interested in automatically unloading tabs. That didn't work for me when I tried it a long time ago.

Edit:
Took a bit of a look. It seems like auto unloading c

[2021-04-18 22:56] NiklasGollenstede opened #2865 "New extension: TST Tab Search"
Hi piroor! This isn't a bug report or feature request, but more of a thanks and FYI:

I tend to have somewhere between hundreds and thousands of tabs "open" in Firefox, and TST already immensely helps managing that. One thing I was still missing was some way of searching through and/or filtering the tabs *in the tree*. Not everything can be organized in a tree (and by far not all my tabs are organ

[2021-04-18 23:24] irvinm commented on #2854
@mzso you could always use CSS to hide the menu options you don't want.  (I usually use the keyboard shortcuts ...)

[2021-04-19 01:15] piroor commented on #2865
Wow! You are the first challenger using the subpanel API except me! I didn't imagine it provides availability to implement this kind addon, and you done it so awesome - I'm so excited!

Now I'm inspired by your addon and planning to extend the subpanel API:

* Add ability to set fixed height for a specific addon (via API parameter)
* Add ability to memorize height of each subpanel (by TST itself)

[2021-04-19 01:45] piroor commented on #2864
For now, it looks need to create a helper addon inserting a clickable link via TST's API https://github.com/piroor/treestyletab/wiki/Extra-Tab-Contents-API and listen events on them.

You can hide it via the custom user styles like:

[code]

If you inserted it via custom user styles, you need to change some style declarations. Which is the one do you use?

----

Currently TST builds tab UI with no

[2021-04-19 02:04] piroor commented on #2864
I've experimentally introduced a change to make tab labels clickable link. You can try a development build as an artifact of https://github.com/piroor/treestyletab/actions/runs/762405117#artifacts , could you confirm those tab labels are detectable and clickable from Dragon Professional Individual?

[2021-04-19 05:30] piroor commented on #2864
Here is another development build using ARIA role "button" for each tab.
https://github.com/piroor/treestyletab/actions/runs/762444852#artifacts
Could you try this also?

[2021-04-19 05:41] bengb commented on #2858
Thank you very much for investigating this!
I'll check it out when the new version next updates.

[2021-04-19 13:30] ivnilv opened #2866 "Bookmark selected trees not working"
1. Start Firefox with clean profile.
 2. Install TST.
 3. Open some tabs
 4. Try to bookmark those from the TreeStyle sidebar menu

![treestyle](https://user-images.githubusercontent.com/9205821/115243955-22d5c500-a12c-11eb-97d9-dd1454f1b49c.gif)

## Expected result

Prompt the box for naming the selected bookmarks folder.

## Actual result

Nothing happens

## Environment

 * Platform (OS):
 * Ve

[2021-04-19 13:49] piroor commented on #2865
I've implemented new parameters for `subPanel`: `initialHeight` and `fixedHeight`. For more details please see the wiki: https://github.com/piroor/treestyletab/wiki/SubPanel-API#how-to-register-a-subpanel
And now TST saves/restores the height of the subpanel area for each provider addon.

[2021-04-19 14:41] piroor commented on #2866
I couldn't reproduce the problem on a macOS environment. Hmm...

TST tries to show the dialog in two ways on macOS:

* Opens the dialog as a separate window, if your Firefox window is not full-screen.
* Opens the dialog in a blank tab, if your Firefox window is full-screen.

Your screen-cast looks to say that a new dialog window or a new blank tab was blocked by some reason. Could you see the debu

[2021-04-19 14:53] ivnilv commented on #2866
Hi , thanks for the reply.

Awesome Extension btw, use it day-to-day 👍

Here's some output I found in the debugger tab for the extension:

[code]
Also just checked this with a brand new Firefox 88.0 (dev edition) with 0 extensions and no profile loaded - same thing...

[2021-04-19 14:57] ivnilv commented on #2866
some more output from debugger:
[code]

[2021-04-19 15:43] piroor commented on #2866
Thanks! There are some running addons: `background/receiveFormData.js` and `main.js` are not a part of TST. Thus only this log is from TST:

[code]

Hmm, but I think this kind log does not relate to this problem.

[2021-04-19 15:45] piroor commented on #2866
Do you use any other utility software on your macOS? Or, is any dialog window opened in different screen (if you use multiple display devices) or behind the Firefox window?

[2021-04-19 19:36] mzso commented on #2854
[**@irvinm**](https://github.com/irvinm) commented on [2021. ápr. 19. 01:24 CEST](https://github.com/piroor/treestyletab/issues/2854#issuecomment-822082751 "2021-04-18T23:24:47Z - Replied by Github Reply Comments"):

I can't come up with a keyboard shortcut that makes sense. I'd use alt+S, but apparently Firefox can't handle it, Focuse is stolen and given to the menu in the menubar starting with S

[2021-04-19 23:28] mzso commented on #2854
So, I disabled the conflicting addon. But it's still notably inconsistent. Sometimes it still chooses the previous sibling, or parent instead of the next tab. I also saw jumping through the next tab to the tab two away.

Although it's a lot better than it was.

[2021-04-20 04:24] tigersof commented on #2864
Piroor, thank you so much for doing this – for answering my call, and acting so quickly. I am really happy that I raised this request. You have just about solved a long-standing problem for me and, I hope many others too. There are still a couple things I’d like you to look at further, so please see the details below.
<h3></h3>
P.S. I hope this is not too long – I just wanted to make sure I covere

[2021-04-20 14:16] tigersof commented on #2864
Hi Piroor,

I'd like to just add another thought here. I'm able to fit 30+ tabs vertically in clear view down the right-hand side of the screen.  With so many active tab page titles and lots of links in the main browser page, it is possible for Dragon to click a page link rather than the intended tab page title instead, and vice versa, especially if the tabs are of a subject related to the page yo

[2021-04-20 16:38] NiklasGollenstede commented on #2865
Thank you for the nice reception!

Having the height of the sub-panel initially set and then remembered or (for something like this) fixed is indeed nice. I implemented the latter in TST Tab Search. I haven't tested it with an updated version of TST yet, though.

I'll probably publish TST Tab Search on AMO next week/-end, I want to test is in "production" for a while first. I'll keep you posted!

[2021-04-21 03:38] haoadoreorange commented on #2859
Hi, I ended up just using directly the shortcuts to switch and don't expand, I will close the issue here.

[2021-04-21 03:38] #2859 closed, assigned to nobody

[2021-04-21 10:45] piroor commented on #2864
Thank you for testing! Finally I've decided to revert changes to embed links. Thus finally ARIA-role is applied on the next version. [WAI-ARIA](https://www.w3.org/TR/wai-aria-1.1/) is a specification about Web application accessibility, which gives hints for screen reader and similar other applications to control UIs built on HTML. I'm very sorry I didn't write ARIA role on my addons because I tho

[2021-04-21 13:39] piroor commented on #2864
I've applied more changes to TST to provide accessibility information. Current definitions:

* tab bar: role=listbox, aria-multiselectable=true, aria-activedescendant=(tab ID)
  * tab: role=option, aria-selected=true/false (synchronized to highlighted state of tabs), tabindex=0
    * twisty: role=button, tabindex=0
    * mute/unmute: role=button, tabindex=0
    * closebox: role=button, tabindex=0

[2021-04-21 14:40] piroor commented on #2864
After more trials I've understood that tabindex=0 of UI elements in the sidebar steals focus while you press the Tab key to move focus between links and buttons. It looks very annoying and breaks user experience, so I've removed all tabindex attribute from UI elements. Currently applied accessibility information are:

* tab bar: role=listbox, aria-multiselectable=true, aria-activedescendant=(tab I

[2021-04-21 15:05] piroor commented on #2864
I've tried another screen reader [NVDA](https://github.com/nvaccess/nvda/), and confirmed that it can detect tabs and in-tab buttons as operatable objects in its "object navigation" mode. From this result I think that Dragon also lists tabs and in-tab buttons clickable.

[2021-04-21 15:32] kristofferR opened #2867 "Add Share menu to Tab Context menus"
[Firefox recently added the Share Menu to the native Tab Context](https://bugzilla.mozilla.org/show_bug.cgi?id=1690569) menus since Proton removed it from the tree dot menu in the address bar.

Please add it to the TST tab context menu too. Right now, with the native tabs hidden and only TST tabs visible, the Share functionality is completely inaccessible.

[2021-04-21 15:36] piroor commented on #2864
Before implementing this kind option, could you try a newer (latest) development build? With recent changes, now TST's tab bar  may be detected as a selectable list (like Firefox's bookmarks sidebar), by other applications. Indeed when I tried Windows 10 narrator, it said like "tab, 40 of 50" for 40th tab in a window containing 50 tabs. If Dragon also provides any way to choose specific index item

[2021-04-21 15:41] kristofferR commented on #2865
Awesome extension! My main wish would be to make it less tall though, the text is pretty useless.

It would be much better if it just added the search box.

[2021-04-21 15:56] mzso opened #2868 "[minor] Tineye extension opens new pages as a sibling instead of child. Can I change this?"
Hi!

This is fairly annoying. It would make a lot mores sense for it to be a child. Can I do something to change this?

https://addons.mozilla.org/firefox/addon/tineye-reverse-image-search/

[2021-04-21 15:58] piroor commented on #2867
Sadly it is impossible for now because there is no WebExtensions API to call the "share" feature. I've filed a bug about this topic: [1706675 - Add an API to call the "Share" command of Firefox itself (on Windows 10 and macOS)](https://bugzilla.mozilla.org/show_bug.cgi?id=1706675)

Until Firefox provides an API for the feature, we need to use a native messaging host. It needs to do things same to

[2021-04-21 16:05] piroor commented on #2868
This cannot be solved by TST side, some changes need to be done by TinEye side. `content_script.js` should provide `openerTabId` for new tabs, like:

[code]

[2021-04-21 16:17] piroor commented on #2868
I've reported a feedback to the support e-mail address:

[code]

[2021-04-21 16:25] piroor commented on #2865
@NiklasGollenstede FYI: you can try  the API improvements I told, with the latest development build: https://github.com/piroor/treestyletab#development-builds

[2021-04-21 17:52] mzso commented on #2868
@piroor
Thanks for the info, and the report as well.

[2021-04-22 08:59] ivnilv commented on #2866
I'm not sure what you exactly do you mean with utility software , however I do use Firefox in several open windows/MacOS desktops , with sometimes opening an occasional private browsing session...

[2021-04-22 13:35] piroor commented on #2866
Thanks! I've connected another display to a MacBook, and tried following cases:

* Private window, unmaximized, in the main display
* Private window, maximized, in the main display
* Private window, unmaximized, in the sub display
* Private window, maximized, in the sub display

but I couldn't reproduce the problem yet.

One more topic, is the problem related to the total number of bookmarks? If y

[2021-04-22 14:48] piroor commented on #1910
@mzso Does your case still happen? Could you investigate and describe how to reproduce the problem with a clean profile?

[2021-04-22 15:21] ivnilv commented on #2866
I tried the same firefox profile on linux and there the dialog opens correctly, having the same amount of bookmarks. Aside from that, I do have a lot of bookmarks...

[2021-04-22 23:32] asafarevich commented on #2847
I just realized I should have specified this was if the side bar was moved to the right instead of the left through the settings.
Ctrl-H does not have this issue as it appears from the left side.

[2021-04-23 03:18] tigersof commented on #2864
Hi Piroor, I have tested all the artefacts now. I had some issues with my computer/software and then ran into problems with the artefacts behaving differently. So, I will go over it again to be sure before coming back to you. Before I do, I just need to ask whether the existing TST extension should always be removed, and firefox restarted, before installing the next one? Would this make any differ

[2021-04-24 06:55] gpkc opened #2869 "Scrollbar on top of collapse/expand arrows on MacOS"
I'm running MacOS 11.2.3, FF 88.0 and TST 3.7.4. The problem is that there's a vertical scrollbar every time I start scrolling the tabs. If I want to expand/collapse one of the subtrees, the scrollbar is in front of the button. It disappears in a few seconds but that's still very annoying.

A possible solution would be to hide that scrollbar since I don't need it as I can just scroll.

[2021-04-24 09:06] piroor commented on #2869
I expected that an extra padding should avoid this problem, but codes for that have not worked as expected on recent versions. The commit 561776db7712fe8dd0197c567328017e0ae5776a should fix the problem.

[2021-04-24 12:38] piroor commented on #2864
I think you don't need to uninstall old experimental builds. Steps to try are:

1. TST Options => Advanced => uncheck "Optimize tree restoration with cache"
2. Load a new experimental build with `about:debugging` => "My Firefox" => "Temporary Extensions" => "load Temporary Add-on..."
3. Try the operation to operate tabs via Dragon.
4. Load another build with "load Temporary Add-on..."
5. Try the o

[2021-04-24 12:39] piroor commented on #2864
You can download each experimental build for every commits: https://github.com/piroor/treestyletab/actions

[2021-04-24 21:35] tigersof commented on #2864
Thank you.

I tried the uncheck "Optimise tree restoration with cache" setting, only this didn't work; the tree disappeared and I couldn't get it back at all until I re-checked the box and reloaded the tree again.

One more thing I want to ask you before continuing, are there any specific keywords that I need to say (to Dragon) to activate these controls? (I have tried words like "button", "twisty

[2021-04-25 07:57] mzso commented on #2868
[**@piroor**](https://github.com/piroor) commented on [2021. ápr. 21. 18:05 CEST](https://github.com/piroor/treestyletab/issues/2868#issuecomment-824180157 "2021-04-21T16:05:57Z - Replied by Github Reply Comments"):

Thanks, it works. I did it locally for the time being. Fortunately my profile is already set up to run unsigned extensions.

[2021-04-25 08:12] mzso commented on #1910
[**@piroor**](https://github.com/piroor) commented on [2021. ápr. 22. 16:48 CEST](https://github.com/piroor/treestyletab/issues/1910#issuecomment-824908646 "2021-04-22T14:48:36Z - Replied by Github Reply Comments"):

<del>Not sure, things are weird. Even when I set the FF homepage (even in a new profile) for new tabs I get blank tabs.</del> <del>I guess this is my doing via policies, yet:</del> No

[2021-04-25 08:29] mzso commented on #1910
Okay, so even though the keeping it at firefox homepage in a new profile a new tab will be empty for some reason, but also for some reason the setting for as child works, unlike with my main profile. So I have no ideas.

[2021-04-25 19:05] Bout2GitIt commented on #2687
Confirming that the freezing issue persists.  Started for me about a week ago, happens daily. So far, disabling/re-enabling TST via Firefox's Add-ons menu is an effective fix, though I have to do this frequently.

I'm on a WIndows 64-bit running Windows 10 Home 20H2, build 19042.928
Firefox 88
TST 3.7.4 (2021.3.31)

[2021-04-25 20:28] michaelm2391 commented on #2687
Yep, I have to wait up to 10 minutes for my firefox to get running on
startup.

On Mon, Apr 26, 2021, 7:05 AM Bout2GitIt ***@***.***> wrote:

[2021-04-25 21:28] mzso opened #2873 "Add the recently closed tabs to TST tab context menu"
Hi!

I was wondering if that can be done with some code. And someone on reddit already had a [script](https://github.com/aminomancer/uc.css.js/blob/master/script/undoListInTabContextMenu.uc.js) for that. But won't work for TST tabs. Quote:

So @piroor (or anyone really) do you think there's a better way to do it?

[2021-04-26 02:41] piroor commented on #2873
There are some existing addons providing "recently closed tabs" menu to the tab context menu working with TST completely:

* [Undo Close Tab](https://addons.mozilla.org/firefox/addon/undoclosetabbutton/)
* [Undo Closed Tabs Menu](https://addons.mozilla.org/firefox/addon/undo-closed-tab-menu/)

I've looked the userChrome.js script and I thought that the functionalities can be implemented via WebExt

[2021-04-26 07:04] MurzNN commented on #2832
Thanks, your workaround works well! Glad to have also ability to move the last stayed one item from submenu to parent menu, but afraid that this isn't possible via css hacks :(
The parent menu is passed via js code here: https://github.com/piroor/treestyletab/blob/aaa3e93d5af2797009b682c2ce99a19bdf5b4f99/webextensions/background/tab-context-menu.js#L169-L172

[2021-04-26 16:07] NiklasGollenstede commented on #2865
@kristofferR You are probably referring to the text "TST Tab Search - DEV" above the search box? That is an UI element by TST itself, to let the user know that what is below is not part of TST itself, but provided by said extension. As such, it should generally remain there.
This case is somewhat extreme, as with such a small panel, the header almost doubles its overall size. I did add an option t

[2021-04-26 16:13] kristofferR commented on #2865
Awesome, thanks! However, the text should clarify that Firefox needs to be restarted for it to work, though it wasn't functioning for a second.

A small black bar also appeared above when enabling the option, I'm not sure if that is an issue with the CSS code you added or something else?

<img width="320" alt="Skjermbilde 2021-04-26 kl  18 16 32" src="https://user-images.githubusercontent.com/4812

[2021-04-26 16:52] NiklasGollenstede commented on #2865
It does say above:

But I added another hint.

The size may have been off because this feature is expecting TST to support `subPanel.fixedHeight`, which the current main version doesn't yet.

[2021-04-26 16:58] kristofferR commented on #2865
Ah sorry, missed that, guess I only read the "Hide Header" text. Perhaps a paragraph space would make it easier to spot for dumb people like me. ;)

[2021-04-26 17:41] Bout2GitIt commented on #2687
Update: Almost immediately after posting my above comment, the disabling/re-enabling trick stopped working: Firefox was having a catastrophic meltdown: tabs were crashing, and I wasn't able to disable or re-enable the TST add-on. The "slider" would sometimes move in the Add-ons menu, but nothing would happen. I deleted and re-installed Firefox, but the problem persisted.

I have a theory: I think

[2021-04-26 18:06] Airyleech opened #2876 "Feature suggestion: save position of tabs when you close the browser. Sucks having to position them again every time I open it."

[2021-04-26 18:06] piroor commented on #2864
Hmm, deactivating "Optimize tree restoration with cache" just means that TST always build its UI from scratch. Such a full build is slow but safe on most cases, opposite building UI with a cache is fast and unstable...

OK, anyway I've added a new option to change accessibility role of tab elements. You can change it via TST options => Development => All Configs => `tabAccessibilityRoleMode` (sorr

[2021-04-27 18:30] piroor commented on #2876
Please fill the issue template to describe what's happen on your environment. I'm not a professional about your PC environment, so all required information to investigate things need to be described by yourself.

[2021-04-27 19:20] piroor commented on #2865
@kristofferR You can shrink the size of the subpanel header with custom user styles on TST, like:

[code]

Hiding its inner elements will shrink the header more. You can find hints from actual DOM tree with the debugger: https://github.com/piroor/treestyletab/wiki/How-to-inspect-tree-of-tabs#how-to-inspect-the-sidebar
Sorry but currently I have no plan to add a special option to do that, until it

[2021-04-27 19:24] piroor commented on #2873
Oops I forgot to answer to the subject of this issue. Sorry but I have no plan to add such an menu command as a built in feature, because Firefox's tab context menu does not have that and it beyonds the project scope of TST.

[2021-04-28 04:38] aminomancer commented on #2873
In case you were curious, I did eventually manage to [make it work](https://github.com/aminomancer/uc.css.js/blob/master/script/undoListInTabContextMenu.uc.js) without the extensions API. Though you're right, this one really was a constant struggle lol.

Btw, while I'm here, I noticed that the TST icon on the sidebar switcher target supports `-moz-context-properties` now, which is great. But the s

[2021-04-28 06:12] SHHSSH opened #2878 "(Request/Help) Context menu access key customisation"
## Short description

An unusual request, not so much an issue.

For years I have attempted to customise my FF context menu to varying degrees of success.
Some things are easily done through userChrome, some are not.

I am looking to change my access keys in the context menu for Collapse this tree & Expand this tree.

Currently I have such hotkeys set in TST's shortcut config, however, occasionall

[2021-04-28 13:28] mdeguzis commented on #1464
Still happening for me.

[2021-04-28 16:07] piroor commented on #1464
@mdeguzis The initial report is about TST 2.0.4 on Firefox 57. Could you describe versions information on your case and steps to reproduce the problem on my environment? If you provide me the firefox user profile on your environment, it will help my debugging extremely.

[2021-04-28 16:48] piroor commented on #2878
Hmm, it is not so easy.

Here is the definition of the access key of the "Expand this tree" context menu item:
https://github.com/piroor/treestyletab/blob/b4f2ebf551fc7b67a9a937c1d708cde0e58fc146/webextensions/_locales/en/messages.json#L276

As you saw it is defined as a part of menu label: `"Exp&and this Tree"`, the character next to `&` is detected as the access key by Firefox itself. [This spec

[2021-04-28 18:54] piroor commented on #2873
@aminomancer I've tried dynamically generated SVG icon and it looks to work as expected, thus I've introduced a change 702376c to apply the icon color or the text color defined by the active theme without `context="fill"`. Thanks!

[2021-04-29 00:26] grahamperrin commented on #2830
@aleksandrpetushkov please, do you still have original screen recordings? If so, can you provide them in a format that does not automatically endlessly loop? Thank you

[2021-04-29 01:12] grahamperrin opened #2880 "Duplication of (Tree Style Tab) tabs, after a link that is opened in a new discarded tab is automatically assigned to a (Firefox Multi-Account Containers) container, when the discarded tab is clicked"
## Short description

Unexpected duplication of tabs.

A conflict that can involve three or more extensions.

As far as I can tell, the conflict is essentially between two:

1. Multi-Account Containers
2. Tree Style Tab.

## Steps to reproduce

 1. With a refreshed profile, add four extensions and do not allow them in private tabs
 2. Mozilla-recommended [Auto Tab Discard](https://addons.mozilla.o

[2021-04-29 10:29] SHHSSH commented on #2878
Alright mate, I understand....

Even when you added the collapse tree features/helper add on all that time ago, it did messy TST up a little bit.
So I appreciate you even considering that back then.

Thanks for your clarification, I was merely hoping you knew of a potential way.

[2021-04-29 10:29] #2878 closed, assigned to nobody

[2021-04-29 11:40] Fanolian commented on #2880
Similar to https://github.com/mozilla/multi-account-containers/issues/1617. You don't need TST for it.

[2021-04-29 16:55] piroor commented on #2880
@grahamperrin As @Fanolian told this problem does not depend on TST. I've confirmed duplicated tab problem without TST.

[2021-04-29 17:22] #2880 closed, assigned to nobody

[2021-04-30 05:05] aminomancer commented on #2873
Awesome, looks like a great change

[2021-05-01 01:11] tigersof commented on #2864
Hi Piroor,

Is there a way we can make this easier, please? I've tried multiple times now to test and report on the testing but, actually, I'm finding it too challenging. There is a lot of inconsistency between repeat test runs on the same artefacts, which is confusing me. Also, I'm trying to assess Twisty buttons and tabs, and both seem to have a number different and overlapping behaviours associ

[2021-05-01 14:16] piroor commented on #2687
@Bout2GitIt  FYI: There is a known issue around the accessibility service of Firefox on Windows 10. On some environment, the system can become slow and frozen with high CPU usage of the RPC (Remote Procedure Call) service, when Firefox's accessibility service is active. Indeed I saw such a problem after some hours past from the PC waken up from its sleep, and I had to set `accessibility.force_disa

[2021-05-01 14:20] piroor commented on #2832
Me too, I'm afraid of removal of userChrome.css feature from Firefox. If it become unavailable in a future version of Firefox, I possibly add options to control simulated tab context menu commands to TST.

[2021-05-01 15:28] piroor commented on #1910
@mzso What operation do you use to open a new tab? I've tried following operations on Nightly 90.0a1:

* operations handled by Firefox
  * keyboard shortcut "Ctrl-T"
  * "+" in Firefox's native tab bar
  * middle click in a blank area of Firefox's native tab bar
  * "File" => "New Tab" in Firefox's menu bar
  * "New Tab" in Firefox's application menu
  * "New Tab" in Firefox's tab context menu
* O

[2021-05-01 15:32] mzso commented on #1910
[**@piroor**](https://github.com/piroor) commented on [2021. máj. 1. 17:28 CEST](https://github.com/piroor/treestyletab/issues/1910#issuecomment-830649974 "2021-05-01T15:28:16Z - Replied by Github Reply Comments"):

Ctrl+t, virtually always.

[2021-05-01 16:40] piroor commented on #1910
@mzso Thanks, hmm... As one more possibility I've tried with `browser.tabs.insertAfterCurrent`=`true`, but new tabs via Ctrl-T are controlled by TST as expected.

[2021-05-01 17:00] mzso commented on #1910
[**@piroor**](https://github.com/piroor) commented on [2021. máj. 1. 18:40 CEST](https://github.com/piroor/treestyletab/issues/1910#issuecomment-830659329 "2021-05-01T16:40:11Z - Replied by Github Reply Comments"):

I tried exporting settings from the main profile, but it doesn't seem to make a difference in the test profile:
* With Firefox startpage in FF config and about:newtab in TST it works
*

[2021-05-01 17:14] piroor commented on #1910
@mzso

If you use something other addon(s) or about:config preferences, they can cause the problem. For example, an addon forcing to reopen new tabs (to apply different container or doing other purposes) can conflict to TST's behavior.

Please remind that you need to report a new issue with the [issue template](https://github.com/piroor/treestyletab/blob/trunk/ISSUE_TEMPLATE.md), if you saw the pr

[2021-05-01 17:40] piroor commented on #2847
I've tested Ubuntu 20.04LTS on VirtualBox and confirmed that white blank area appears when I press the F1 key to collapse the sidebar while the system is very slow. The difference of the color looks to be caused from the system color.

It looks to happen on Ctrl-H also for me. I don't know why Ctrl-H on your environment doesn't cause the problem, but I'm guessing that Ctrl-H may be faster than F1,

[2021-05-01 19:32] harl commented on #2876
I'm on FF 88.0 and TST 3.7.4 and I don't experience this behaviour.

I'm not sure what "positioning" means in this context, but as my tabs neither lose their position during a browser session (in any way that I would have noticed, including closing and reopening the sidebar), nor do they reposition themselves or get repositioned by TST when a new browser session is started, my prevalent assumption

[2021-05-01 19:59] mzso commented on #1910
[**@piroor**](https://github.com/piroor) commented on [2021. máj. 1. 19:14 CEST](https://github.com/piroor/treestyletab/issues/1910#issuecomment-830664039 "2021-05-01T17:14:24Z - Replied by Github Reply Comments"):

I can't think of anything to affect TST. On the other hand I saw no reason for an addon for unloading tabs to interfere TST's tab selection behavior, but it did.
Anyway, my enabled add

[2021-05-01 20:26] harl opened #2881 "Looking for: Bigger pinned tabs and their favicons"
I'm looking for a way to have my pinned tabs more prominently.

What I mean by that is that I would like them to be bigger than they are now, whether they remain on top of the tabs (where they are now), or they're arranged vertically somehow with some kind of separate bar or frame (add-in/plugin, but only if it already exists).

Ideally, I would want them to remain where they are, hoping that they

[2021-05-02 12:39] Airyleech commented on #2876
My bad, forgot to close this issue. This only happens with the tabby tabs and window manager. When I close and open it it positions itself.

[2021-05-02 12:39] #2876 closed, assigned to nobody

[2021-05-02 17:53] piroor commented on #2864
Finally I've given up to debug remotely and bought the license of Dragon Home... Now I'm testing interactions on my PC.

[2021-05-02 19:12] NiklasGollenstede opened #2882 "API: removed tabs states sporadically re-spawn in some sidebar instances"
## Short description

This is hard to describe, because it (so far) seems non-deterministic.
Best I can tell is that sometimes, when another extension uses `'add-tab-state'` and then `'remove-tab-state'`, and the user afterwards moves tabs in the tree (also e.g. as a consequence of closing other tabs), the moved tab appears _in a particular sidebar instance_ with some of the removed states.

Here

[2021-05-02 19:21] NiklasGollenstede commented on #2865
@piroor Cooli, will leave that option as is, then. (and yes, people can be very good at missing stuff ^^)

Sure, sure. That makes sense. Same as most other browser UI elements only allow one per type and addon.
What I actually meant though was what happens if you enable two (or more) extensions that have a subPanel _each_.
As far as I see it right now, TST will simply show the last one registered

[2021-05-02 21:28] tigersof commented on #2864
Oh, wow!  Thank you! I wish you didn't have to do that, but I really appreciate your effort to help.

I was just writing up some general observations on attempting to voice-click tabs and how the webpage can interplay with it etc. I'll post this anyway, later tonight/tomorrow.

As for specific tab and twisty behaviours, I'm still happy to test but in a more step-by-step process. Just let me know.

[2021-05-03 10:56] irvinm commented on #2873
@mzso can you close this item given there are workarounds and there is no planned work?

[2021-05-03 10:59] irvinm commented on #2868
@mzso can you close this item as there is nothing to do on the TST side?

[2021-05-03 10:59] irvinm commented on #2869
@gpkc can you confirm this is fixed and close this item?

[2021-05-03 11:04] irvinm commented on #2857
@piroor I think you can close this item.

[2021-05-03 11:06] irvinm commented on #2845
@piroor do you want to add the label "bug of Firefox itself" for tracking purposes?

[2021-05-03 11:08] irvinm commented on #2844
@rajeshmanivan can you reply to piroor's comment from March 28th?

[2021-05-03 11:12] irvinm commented on #2837
@ssokolow can you close this item or is there more to discuss?

[2021-05-03 11:13] irvinm commented on #2838
@piroor I think you can close this item.

[2021-05-03 11:16] irvinm commented on #2796
@piroor or @ElhemEnohpi is there more to discuss or do here ... or can we close this item?

[2021-05-03 11:24] irvinm commented on #2546
@piroor there haven't been any check-ins to "Simple Tab Groups" since November 2020.  Maybe it would be best to close this item and if the pull request is ever merged or discussed we can discuss it here or in a related issue.

[2021-05-03 11:38] irvinm commented on #2881
@harl you could probably start by looking at base.css starting here: https://github.com/piroor/treestyletab/blob/5deb5f84606038b36ff250da3695558a2dff7834/webextensions/sidebar/styles/base.css#L433

There is a block a little further down with some items you might be able to make changes:
https://github.com/piroor/treestyletab/blob/5deb5f84606038b36ff250da3695558a2dff7834/webextensions/sidebar/style

[2021-05-03 11:41] irvinm commented on #2832
@MurzNN or @piroor is there anything more to discuss on this item or can it be closed?

[2021-05-03 11:53] irvinm commented on #2830
@piroor \ @aleksandrpetushkov ... I tried a clean profile and see that middle-click reloads properly create new tab children.  In my working main profile (which also has "For middle click, open new blank tab as a child of the current tab", I see that middle-click reloads create new tab siblings, not children.

I will mess around with some options to see if I can help isolate the potential options

[2021-05-03 11:55] piroor commented on #2864
After some trials I've understood following things:

* `<tab-item>` with `role="button"` is actually effective. When I say "click (tab title)" exactly, Dragon clicks the center of the tab as expected.
* However, even if I add a visible tooltip with a CSS hack based on `::before` (or`::after`) and `content`, it can't be clicked, because they are detected as unclickable elements basically.
* Moreove

[2021-05-03 12:04] piroor commented on #2864
On the other hand, scrolling problem is not resolved yet. I still don't know how to scroll the sidebar via Dragon. Maybe we need to implement something buttons to scroll the sidebar contents, if Dragon doesn't support operations on scrollable HTML elements. Leastwise I couldn't scroll it via voice commands like "scroll up/down".

[2021-05-03 12:12] #2857 closed, assigned to nobody

[2021-05-03 12:14] piroor commented on #2845
Not only around duplicated tabs, this change of Firefox looks to break tree restoration on the startup.

[2021-05-03 12:15] #2838 closed, assigned to nobody

[2021-05-03 13:31] MurzNN commented on #2832
Let's close till Firefox still supports userChrome.css :)

[2021-05-03 13:31] #2832 closed, assigned to nobody

[2021-05-03 17:33] piroor commented on #2830
I've investigated what is actually happen on the situation.

1. When you middle click the reload button, a new tab is opened by Firefox.
2. The new tab has its own `openerTabId`, the value is the original tab's id.
3. TST detects the `openerTabId` information and treat the tab as a new child tab opened from the original tab.
4. TST attaches the duplicated tab to the original tab as a child.
5. Aft

[2021-05-03 17:48] piroor commented on #2830
I've introduced a change 59fd4c9 to open the duplicated tab as the next sibling at the step 4 directly. I think it should fix this problem fundamentally. Here is a development build: https://github.com/piroor/treestyletab/actions/runs/807610399#artifacts

[2021-05-03 18:03] piroor commented on #2881
I think @harl need to change a secret option `faviconizedTabScale` under TST options => Development => All Configs. It is 1.75 by default, it means that the height of a pinned tab is 175% of its favicon, thus if the favicon has 16px height, a faviconized tab will have 16 * 1.75 = 28px height.

A CSS variable `--faviconized-tab-size` is a mirror of the calculated value. TST positions faviconized ta

[2021-05-03 18:05] #2546 closed

[2021-05-03 18:08] piroor commented on #2796
I think no more what I can do on TST side, thus I close this.

[2021-05-03 18:08] #2796 closed, assigned to nobody

[2021-05-03 18:14] piroor commented on #2865
If the subpanel header does not work as a subpanel switcher, there is something untracked bug on TST itself. When there are multiple subpanel provider addons, TST should show a switcher popup for a click on the header area like as:
![image](https://user-images.githubusercontent.com/70062/116915120-93c9c080-ac86-11eb-8588-ea51820b37c1.png)

[2021-05-03 18:15] piroor commented on #2865
By the way currently there is no visual hint indicating it is a clickable UI, so I should do something more...

[2021-05-04 01:30] tigersof commented on #2864
Hi Piroor,

This is great, I am still testing most of this.  I just wanted to step in quickly and let you know that you have already partially solved the scrolling problem!

I am still learning about Firefox and its hidden areas.  I only discovered the extension shortcuts panel a week back and was quite amazed to see that you already have commands for Page Up and Page Down, as well as Line Up and

[2021-05-04 03:47] piroor commented on #2882
Thanks! On the step 4 actually the tab has both `tst-search:macthing` and `tst-search:not-matching`. After investigation I've realized that tst-search sends a nested array instead of a simple string array. TST stores state values given via API directly and adds/removes it via `Set.prototype.add/delete`. These methods compares objects via the `===` operator, and they treat array values given via AP

[2021-05-04 04:13] piroor commented on #1910
@mzso I've wrote [a guide to find out the true cause addon from a large number addons](https://github.com/piroor/treestyletab/wiki/How-to-minimize-conditions-to-reproduce-a-problem ). Could you try that?

[2021-05-04 10:12] mzso commented on #2868
[**@irvinm**](https://github.com/irvinm) commented on [2021. máj. 3. 12:59 CEST](https://github.com/piroor/treestyletab/issues/2868#issuecomment-831186456 "2021-05-03T10:59:17Z - Replied by Github Reply Comments"):

I can. Piroor, might have closed it if he wanted to, though.

[2021-05-04 10:12] #2868 closed, assigned to nobody

[2021-05-04 10:48] NiklasGollenstede commented on #2882
Ah, So to summarize: The Search was incorrectly passing an array of arrays of states when removing them (but did add them correctly). Removing states was handled differently by different parts of TST. Passing arrays to (I guess) `<classList>.toggle()` stringifies the arguments, and thus worked in removing the states, wile removing the class as array from the `Set` in the backend did not. Thus the

[2021-05-04 10:48] #2882 closed, assigned to nobody

[2021-05-04 11:19] NiklasGollenstede commented on #2865
Ah. I do see it now. Given that there is no visual clue that it's there, I may indeed just have missed it in the past.
Some kind of button-ish appearance and `{ cursor: pointer; }` would be good :+1:.

While talking about that area: Can you tell me why TST Search doesn't get its icon there? I am passing the `icons` pretty much exactly the same way as [documented](https://github.com/piroor/treestyl

[2021-05-04 12:41] ssokolow commented on #2837
The updated version is present in my Firefox and it appears to work as desired, so I'll close it.

[2021-05-04 12:41] #2837 closed, assigned to nobody

[2021-05-04 13:59] irvinm commented on #2868
@mzso I know that based on previous discussions, if Piroor closes the item that you can not re-open it.  If you close it, then you can re-open it at a later point in time if needed.  Thanks for closing.

[2021-05-04 14:01] piroor commented on #2865
Oops, it is a problem of TST - it currently uses only the icon with exact 16px size. With the commit f323d04 now non 16px size icons will be shown.

[2021-05-04 15:24] NiklasGollenstede commented on #2865
Nice. The Icon now shows up, and the select button is now detectable as such.
The placement of the icon and button still seem a bit off. I added this as custom CSS:
[code]

[2021-05-04 15:41] piroor commented on #2864
Oops I forgot to mention that. In fact those custom commands for shortcuts may be useful, if the voice recognition software allows you to assign any arbitrary shortcuts to voice commands.

Actually the number of scroll lines is already customizable via a hidden option `scrollLines` (TST options => Deveopment => All Configs), and it is `3` by default. I've exposed it as an expert option with the co

[2021-05-04 17:45] piroor commented on #2864
@tigersof I've created a wiki page about this topic. https://github.com/piroor/treestyletab/wiki/How-to-control-Tree-Style-Tab-via-speech-recognition If you OK. please cooperate to maintain the page for more helpful information.

[2021-05-04 22:57] irvinm commented on #2854
@piroor anything you want to do with this one?  I'm not sure there is enough information to take next steps.

[2021-05-04 22:59] irvinm commented on #2660
@piroor is there anything you want to do with this one?

[2021-05-04 23:07] irvinm commented on #2873
@piroor I think this can be closed.

[2021-05-04 23:07] irvinm commented on #2869
@gpkc 3.8.0 has been released.  Can you verify if this has been fixed and close this item?

[2021-05-04 23:08] irvinm commented on #2858
@bengb 3.8.0 has been released.  Can you verify if this has been fixed and close this item?

[2021-05-04 23:08] irvinm commented on #2852
@MarkyC 3.8.0 has been released.  Can you verify if this has been fixed and close this item?

[2021-05-04 23:09] irvinm commented on #2860
@BobVul 3.8.0 has been released.  Can you verify if this has been fixed and close this item?

[2021-05-04 23:10] irvinm commented on #2830
@aleksandrpetushkov 3.8.0 has been released.  Can you verify if this has been fixed and close this item?

[2021-05-04 23:13] irvinm commented on #2881
@harl does that meet your need?  If so, can you close this item?

[2021-05-05 02:36] BobVul commented on #2860
Yup, all works as expected on release version.

Thanks again!

[2021-05-05 02:36] #2860 closed, assigned to nobody

[2021-05-05 02:43] bengb commented on #2858
I just updated and checked some links.
The new windows are opening correctly with the tab showing.

Thank you very much for fixing this!

[2021-05-05 07:08] #2873 closed, assigned to nobody

[2021-05-05 09:58] piroor commented on #2854
I'm still worrying about the inconsistent behavior on @mzso.

@mzso If you find out the exact steps to reproduce the "unexpected result", could you add a comment? Such an information reproducing the problem 100% probability on my environment is quite required for more investigation.

[2021-05-05 10:49] mzso commented on #2854
@I can't remember what my last comment is about. Maybe I had another troublesome addon I forgot about.
It seems to work normally for a while now.
Only the avoid selecting a suspended tab feature is confusing sometimes, when it jumps over many tabs. (Not sure, but maybe selecting backwards just for this would be less often surprising)
PS: My main issue now is with ctrl+shift+t undoing working eclec

[2021-05-05 22:14] tigersof commented on #2864
Hi Piroor,

Thank you again, and certainly I will. I am looking forward to trying that out later.

I am not feeling great right now, so need to take a break. There are one or two more things that are still not quite working from my side; I will be back soon to update.

Just wanted to let you know before you wonder where I've disappeared!

[2021-05-06 06:44] xialvjun opened #2886 "[BUG] The content of TST keeps rocking from side to side"
## Short description
The content of TST keeps rocking from side to side.

https://files.catbox.moe/h2ivy8.mov

## Steps to reproduce
Hard to reproduce.

 1. Start Firefox with clean profile.
 2. Install TST.
 3.
 4.

## Expected result

## Actual result

## Environment

 * Platform (OS): macOS Catalina 10.15.5 (19F101)
 * Version of Firefox:  90.0a1 (2021-05-05) (64 位)
 * Version (or revision) of

[2021-05-06 11:23] dreirund commented on #1464
Same here. And it has to do with _some_ option I made in the Tree Style Tabs preferences.

I started over with a fresh profile, installed just Tree Style Tabs and in `about:preferences` checked the option `General` &rarr; `Startup` &rarr; `Restore previous session`.

Then Tree Style Tabs restored it's tree normally.

Then I imported into that Tree Style Tabs my custom config, and then Tree Style T

[2021-05-06 15:11] piroor commented on #2886
Thanks, after I fixed the problem I did some refactoring and that reintroduced the problem... The commit 49c327b should fix this problem truly.

[2021-05-06 21:08] chunderbolt opened #2887 "Is it possible to remove the "New Tab" option in the right-click menu?"
When you right click a tab, a "New Tab" option is at the top of the context menu as of 3.8.0.

Generally, if I were opening a blank tab I would use a keyboard shortcut or the + button at the bottom of the tab list. When right-clicking a tab, I am normally attempting to refresh the tab. Would it be possible to get an option to toggle it off?

If not, is it otherwise removable via userscripts? I'm h

[2021-05-06 23:01] irvinm commented on #2887
https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#hide-context-menu-items-in-the-sidebar-2116

[2021-05-07 00:55] chunderbolt commented on #2887
Nice, solved.

The newTab stuff isn't mentioned in the file that the above link says contains the context entries, so for anyone else looking to remove the new tab item:

[code]

[2021-05-07 00:55] #2887 closed, assigned to nobody

[2021-05-07 03:35] harl commented on #2881
Thanks a lot to both of you for your answers. Haven't had the time to get back to this sooner, sorry for that.

When I set `faviconizedTabScale` to 2.25 and do this:
[code]
then I pretty much get what I had in mind. The tabs are bigger and most of the favicons fill out the tabs.

![pinned_tabs](https://user-images.githubusercontent.com/1159811/117393805-35eee000-aef5-11eb-9fb8-13e1efc386af.png)

O

[2021-05-07 03:42] piroor commented on #2881
How about applying enlarged size to the image element, like:

[code]

[2021-05-07 03:48] harl commented on #2881
That's good!
And it works for the non-pinned tabs as well.
Thanks again. :)

Add.: Closing this issue as it's solved for me.

[2021-05-07 04:58] ngirard opened #2888 "Preferences tab is blank"
Using TST 3.8.1 on Firefox 88.0 and Ubuntu 21.04.

The preferences tab is completely blank:

![Screenshot_20210507_065744](https://user-images.githubusercontent.com/98098/117399769-9126cf80-af01-11eb-8027-251fa6a104d5.png)

[2021-05-07 05:04] ngirard opened #2889 "Ctrl-clicking the "+" button at the bottom of TST's panel doesn't respect the preferences"
Using TST 3.8.1 on Firefox 88.0 and Ubuntu 21.04.

Ctrl-clicking the "+" button at the bottom of TST's panel creates a chils tab instead of an independant tab, as I used to configure it in the preferences.

This defect is the very reason I went to the preferences and discovered #2888 ; but perhaps #2888 itself could be the reason ?

[2021-05-07 05:56] #2881 closed, assigned to nobody

[2021-05-07 05:58] piroor commented on #2888
I've tried TST 3.8.1 on Firefox 88.0 on Ubuntu 20.04LTS and they looks working as expected. The options page is shown after a while. Could you try with a clean profile?
https://github.com/piroor/treestyletab/wiki/How-to-run-Firefox-with-a-clean-profile

[2021-05-07 06:12] piroor commented on #2889
I've tried TST 3.8.1 on Firefox 88.0 on Ubuntu 20.04LTS and they looks working as expected. Ctrl-click on the "+" button opens a new tab as a next sibling, according to the option I configured. Could you try with a clean profile?
https://github.com/piroor/treestyletab/wiki/How-to-run-Firefox-with-a-clean-profile

[2021-05-07 06:21] ngirard commented on #2888
Hey @piroor,
it works fine within a clean profile.
I'm puzzled...

[2021-05-07 06:27] piroor commented on #2888
I think a bisection will help you to find out the trigger of the problem.
https://github.com/piroor/treestyletab/wiki/How-to-minimize-conditions-to-reproduce-a-problem

[2021-05-07 06:35] ngirard commented on #2888
Sure. I'm afraid I can't afford to do this now (GMT+2 here) ; will try to come back to it tonight.

Cheers, and many thanks for your time & assistance !

[2021-05-07 06:40] ngirard commented on #2889
I'm puzzled by this one too.
I'm a bit confused. Sorry for the low quality of my reporting, I'll report back later on.

[2021-05-07 17:27] ninep9up opened #2890 "Child tab insertion position 2 is not settable on Waterfox Current after you switch it to 3 or 4, setting 1 after that sets 2 instead"
I don't know if it should work at all, but I struggle to get it work
Are there perhaps any hidden options

[2021-05-07 18:34] piroor commented on #2890
Please fill the issue template, and describe steps to reproduce incoluding exact option name you choose. Investigation based on misunderstanding from fuzzy information will never solve the problem.

[2021-05-07 23:17] ninep9up commented on #2890
Well, I try to press this or above, but it never stays here, instead it's just either on option 3 (as pictured) or 4, WF is the last to date Current

![Untitled](https://user-images.githubusercontent.com/24707777/117517041-75740580-afa3-11eb-8d2d-1dc61bfdf7c2.png)

Sorry, if you consider me too lazy

[2021-05-08 14:55] ngirard commented on #2888
Just a heads up.

Since the problem occured after I upgraded both my system *and* TST, I suspected that the problem could be related to the system upgrade.
I tried switching from X11 to Wayland and from various rendering engines (XRender vs OpenGL), but it didn't make any difference.

Also the problem affects other preferences' tab, but not all.
For instance, the preferences tab for the "Bookmark

[2021-05-08 17:15] irvinm commented on #2890
Waterfox G3.2.1 and TST 3.8.1 in a clean profile I had no problems selecting any of the 4 options.  Please try a clean profile to reproduce the issue without all of your other addons.

![image](https://user-images.githubusercontent.com/979729/117547748-4ee3b800-afff-11eb-8901-f7a85d663855.png)

[2021-05-08 18:07] ngirard commented on #2888
Nailed it.
The following CSS rule is applied to the `body` of the preferences `#document`:
[code]
![Screenshot_20210508_200100](https://user-images.githubusercontent.com/98098/117549007-4fe50b80-b038-11eb-8a82-aea5afc1c569.png)

Disabling it makes the preferences to appear:
![Screenshot_20210508_200322](https://user-images.githubusercontent.com/98098/117549115-e1547d80-b038-11eb-9b47-37010a0445b0.

[2021-05-08 18:18] ngirard commented on #2889
I can't reproduce it either.
Closing for now.

[2021-05-08 18:18] #2889 closed, assigned to nobody

[2021-05-09 01:01] rileyjw90 opened #2891 "TST will sporadically close and the TST icon in the toolbar will disappear."
Since TST updated a few days ago, it will sporadically close and the icon will disappear from the toolbar. When I click "Customize Toolbar" in the firefox menu, it is not there. To get it to reappear, I have to go to Extensions, disable TST, and then re-enable.

I cannot say how to reproduce this issue, as it is sporadic and closes when I am away from the computer for a period of time, so I have n

[2021-05-09 06:18] tigersof commented on #2864
Hi Piroor,

I have managed to put together some test data. I hope this all makes sense but if not, do say!

[GitHub Piroor Artefact 8 Test Data 20210509.xlsx](https://github.com/piroor/treestyletab/files/6446999/GitHub.Piroor.Artefact.8.Test.Data.20210509.xlsx)

I've narrowed down some of the issues, so it looks worse than it is, but there are some consistent issues that affect TST performance whi

[2021-05-09 08:33] #2854 closed, assigned to nobody

[2021-05-09 09:15] mzso opened #2892 "Undoing via ctrl+t almost always restores branches erroneously."
## Short description
When I press undo after closing branches the tabs of the branch are restored, but they get split and some are added as children to the following sibling's tab.

## Steps to reproduce

 1. Have several branches on top level
 2. close a full branch somewhere in the middle.
 3. undo via ctrl+shift+t
 4. observe restore branches

## Expected result
Restore branch as it was

## Act

[2021-05-10 04:20] ninep9up commented on #2890
Strangely, it works now (with all the addons on). Maybe it's episodic. I'll dig into it.

[2021-05-10 04:23] ninep9up commented on #2890
Aha, I get it now. It doesn't switch after you set it to 3.

[2021-05-10 04:28] ninep9up commented on #2890
Moreover, after you set it to 1 after that, it stays on 2 somehow. My initial thought was wrong, I guess. It lets you switch, it's just not the option you want, so somehow I might've missed (?) that it was putting itself out of place? Super strange

[2021-05-10 04:32] ninep9up commented on #2890
Same with the next

[2021-05-10 04:37] ninep9up commented on #2890
I still find it weird that I've might set it to other than that (must've been 1 that switched to 2?) before this testing

[2021-05-10 04:39] ninep9up commented on #2890
Option 1 wasn't working and I feel that it been 3 after the clickings

[2021-05-10 11:34] irvinm commented on #2890
Can you also confirm if you see the same behavior with the configuration settings for TST @ about:addons?

![Snag_2305d2](https://user-images.githubusercontent.com/979729/117652963-d2b5b580-b161-11eb-88b4-bb83ebdcb934.png)

[2021-05-10 20:18] ninep9up commented on #2890
It works there, so I don't

[2021-05-11 06:55] asafarevich commented on #2847
Im not having this issue when the bar is on the left side. It's exclusive to the right side.  Also my machine on the higher end of performance. So not seeing how this would be because of slowness.

[2021-05-11 10:13] MayeulC opened #2894 "Children tabs often disappear when parent is expanded"
## Short description
Sometimes, tabs become inaccessible. I can see they are open, but can't access them.

Collapsed:
![image](https://user-images.githubusercontent.com/3952726/117797773-b2185900-b250-11eb-9c96-0beca7b0cd72.png)

Expanded:
![image](https://user-images.githubusercontent.com/3952726/117797848-c6f4ec80-b250-11eb-9aa6-5d63cf6b33ee.png)

Closing collapsed:
![image](https://user-images.

[2021-05-11 18:29] tigersof commented on #2864
Hi Piroor,

Just to let you know that the scrolling functions you described above work brilliantly.  I've had a lot of fun with those!

Awesome, thank you.

[2021-05-11 19:59] tigersof commented on #2864
Just going through some of the other bits above, to catch up a bit…

- **Is the above change now obsolete in the lastest artefact (8)?** 'tabAccessibilityRoleMode` doesn't appear in the All Configs list.

- **Am I meant to be able to say "Button" as a Dragon command, to flag up all objects matching this role of 'button'?**  If not, that explains why it does not work!  I'm not clear on this from yo

[2021-05-14 07:12] gpkc commented on #2869
@irvinm It's working well now, thanks

[2021-05-14 07:12] #2869 closed, assigned to nobody

[2021-05-15 22:35] Gitoffthelawn opened #2896 "Allow the user to force TST to use its light or dark icons"
## Short description
It will be beneficial to have an option to allow the user to force TST to use its light or dark icons.  Why?  The TST icon can be completely invisible when using certain Firefox themes, including Firefox's native Alpenglow theme.

## Steps to reproduce

1. Create a fresh Firefox profile.
2. Install TST.
3. Right-click the TST icon and select 'Customize Toolbar'.
4. In the UI t

[2021-05-16 01:26] Graemek1 opened #2897 "Bookmark This Tree window opens too small"
## Short description
When I use "Bookmark this tree", the save dialogue window opens too small - cannot see the "Save/Cancel" buttons.  Can I fix this or is this a bug?
## Steps to reproduce

![image](https://user-images.githubusercontent.com/49665714/118382435-d7360e80-b638-11eb-9bc3-832cf9f2d34f.png)

 1. Start Firefox with clean profile.
 2. Install TST.
 3.
 4.

## Expected result
NA

## Actua

[2021-05-16 06:14] piroor commented on #2897
Could you try Ctrl-0 (reset zoom level to 100%) ? This can happen when the zoom level is accidentally changed over 100%.

[2021-05-16 14:14] tigersof commented on #2864
Hi Piroor, do you still need test results for the other artefacts?

[2021-05-16 14:30] piroor commented on #2864
Sorry for my unresponsive. I'm busy until the end of this month, and I'll read your added comments at next month..

[2021-05-16 16:42] tigersof commented on #2864
No worries, I thought you might be busy elsewhere. Please stay safe!

[2021-05-16 19:26] NiklasGollenstede commented on #2897
There is a chance that this is related to the `devicePixelRatio`. I remember issues with that and popup sizing on high(er) resolution screens.
Might be a Windows-only thing. I was using Windows then, but now on Ubuntu/KDE with `devicePixelRatio = 1.25` it works fine. But on my work PC (with Windows and DPR 1.25, but inacessible now) I also have (/recently saw) issues with the sizing of the "close

[2021-05-19 08:28] sakkamade opened #2901 "[Linux] Vague landing borders upon tab dragging"
Good day.

## Short description
The landing lines visible only for a few moments, what makes tab's dragging quite undetermined.

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3. Create some tabs
 4. Drag some tabs

## Expected result
I would like to see persistent borders to exactly understand where the tab will land.

## Actual result
The landing borders are visib

[2021-05-21 17:39] MarkyC commented on #2852
@irvinm Can confirm, 3.8.0 fixes this!

[2021-05-21 17:39] #2852 closed, assigned to nobody

[2021-05-23 10:57] raphaelquast opened #2902 "open group-tab for existing group"
## Short description

this is not an issue but rather a feature-request...

in the development-settings there is an option **"page for group-tab"** that creates a group-page tab that displays a (full-page) list of all the tabs that are present in this group.

![image](https://user-images.githubusercontent.com/22773387/119257342-234afb00-bbc5-11eb-8039-8c6d2a7d7569.png)

you can't really edit anyth

[2021-05-23 14:32] wvxwxvw commented on #2707
del Wrong place.

[2021-05-23 14:34] #2707 closed, assigned to nobody

[2021-05-23 14:50] wvxwxvw opened #2903 "White flash when loading sidebar 2"
There's already a closed Issues, but I don't see it being solved.
Although this is solved quite simply, through userContent.css:
[code]
Can't this be solved through the extension itself?
And in the [Code snippets for custom style rules](https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#for-version-2x) about it there is nothing (like).

Are you not afraid that epilept

[2021-05-23 18:13] mzso commented on #2774
Is there another session manager that has (better?) TST support?

To me nothing got restored, or even saved in the proper order(a bunch of tabs got moved to the top when they were at the end). I had 100ms set.
Once TST completely froze for a restored window. It got stuck in its loading animation. I had to disable/enable TST.

[2021-05-24 09:37] bashtanov opened #2904 "TST steals mouse focus from the page, page freezes"
Unfortunately I've no idea how to reliably reproduce it, and whether I can do it in a clean profile etc.
It just happens a few times a day.

Basically under unknown circumstances the tree style tabs sidebar steals mouse focus from the page.
All the links and elements in the page appear frozen and not working.
If I scroll my mouse wheel above the page, tree style tabs switch tabs, but the page does

[2021-05-24 10:58] #2886 closed, assigned to nobody

[2021-05-24 15:22] kristofferR commented on #2867
@piroor I just noticed that they requested your input over in the Bugzilla thread. ;)

[2021-05-24 18:00] irvinm commented on #2774
@mzso I had to restore a session today and had zero problems getting 533 tabs back in the right order with parent\child relations intact.  Besides TSM options to support TST and the delay (I use 500ms), I do believe that how you insert new tabs can influence the resulting order.

I personally use:

- Firefox:  browser.tabs.insertAfterCurrent = true
- TST:  Insert position of new child tabs = No co

[2021-05-24 22:04] joshgold22 opened #2905 "Feature request: mouse-click "shortcuts", especially for Close Tree"
There are some actions, — but for me, especially Close Tree— that I'd like to be able to perform on a tab without selecting and loading the tab.  Right now that's possible via the context menu, but I wondered if TST could provide a way to specify actions such as single-/double-/triple- clicks on the tab with optional modifiers.  That would save the time of opening the context menu and finding the

[2021-05-25 17:49] UPuXA opened #2906 "Open Child Tab dont work on certain insertion positions."
## Short description
The "Open Child Tab" function don't work on certain insertion positions settings.
I experienced this for a long time on different Windows and Linux Systems.

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3. Set "Insertion position of new child tabs" to 1 (No control) or 2 (Next to the recently opened ...).
 4. Open a new Child Tab in the sideba

[2021-05-26 18:04] ufkhf opened #2907 "I would like the option to open the sidebar with a shortcut like you can with Bitwarden, bookmarks and history"

[2021-05-27 02:51] claudio-salvio opened #2908 "Feature Request: Allow to configure that pinned tabs in the Firefox tab bar are not shown pinned in TST."
## Feature Request

First of all, thanks for developing TST and sharing it with us.

I am contacting you to request you to allow to configure whether or not the pinned tabs in the Firefox tab bar are shown pinned or not pinned also in TST.

I would like to be able to see the tabs on one line each in TST even if they are pinned in the tab bar.

Best regards,
Claudio

[2021-05-27 15:09] Sherris commented on #1464
Hi, I'm still having this issue periodically. I'm using version 3.8.1 (2021.5.7). I also have Tab Unloader and More TST Commands installed on Firefox as well as the following non-related addons: AdBlock Plus, Easy Youtube Downloader, and Keepa. Running on FF 88.0.1.

This is not a common occurence, but it does happen periodically. It seems to happen when I have multiple FF windows open and I close

[2021-05-27 16:28] piroor opened #2909 "Support Manifest v3"
Mozilla announced that the background page is deprecated and we need to migrate to service workers on manifest v3.
https://blog.mozilla.org/addons/2021/05/27/manifest-v3-update/

There are some information to migrate background page to service workers:

* [[request] Manifest V3 serviceWorker example · Issue #528 · GoogleChrome/chrome-extensions-samples](https://github.com/GoogleChrome/chrome-exten

[2021-05-27 19:01] irvinm commented on #2909
I understand their rationale for wanting to do this, but I would imagine the requirement to migrate from background pages to services workers will likely break addons that haven't been updated for a long time.  That is unfortunate.  I guess we will know more when they update us on that specific portion of the change.

[2021-05-27 20:11] piroor commented on #2909
Currently TST's functionality looks impossible to be migrated to service workers. My comment at bugzilla.mozilla.org: https://bugzilla.mozilla.org/show_bug.cgi?id=1578286#c5

[2021-05-27 20:20] irvinm commented on #2909
@piroor other than the 2 points you mentioned are you aware of any other challenges with the basic functionality at least working?  It will be interesting to see how they reply to you and what other feedback they get with this transition.

[2021-05-28 05:04] franckspike opened #2910 "Feature request: control focus after tab closing"
I would like TST to give focus to the parent tab when closing its last child.
And to focus on the next child if any.

But this should be fully configurable!

Thank you

[2021-05-28 22:09] travisterrell commented on #2910
This is the way it would naturally work to me as well, but I understand why they chose not to override the default browser behavior. Also, in my opinion this behavior should only occur when the TST pane is visible.

I'm not a dev on this particular project, but maybe you could explain what you meant by _fully configurable?_ I can't think of m(any) other possibilities. It would seem a simple on/off

[2021-05-28 23:59] irvinm commented on #2910
@franckspike I might suggest looking into https://addons.mozilla.org/en-US/firefox/addon/select-after-closing-current/.  This pretty much tries to accomplish what you are looking for.

[2021-05-29 16:30] JeffGart opened #2911 "Scroll Bar"
I used to get a scroll bar that allowed be to easily jump around in tabs and subtabs. For the past few months I have been unable to get them to display.

## Short description

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3.
 4.

## Expected result

## Actual result

## Environment

 * Platform (OS):
 * Version of Firefox:
 * Version (or revision) of Tree Style Tab

[2021-05-31 12:37] franckspike commented on #2910
@travisterrell I'm not really sure if another configuration would be useful in real life other than "FF's default" or "go to left sibling else parent"… maybe "go to parent always" ?  or "go previous tab always" ?  or maybe "last sibling else parent" ?  or maybe "go to first child, else left sibling, else parent" ?

I'm seeing a pattern here:

A sequence of combo boxes ordered by preference each ha

[2021-05-31 12:41] franckspike commented on #2910
@irvinm well… I am just realizing the addon is not only similar be exactly what I was proposing loll

[2021-06-01 09:14] piroor commented on #2910
Sorry I won't increase number of options about this point, so this issue is "won't fix" on this TST project

However it looks to be done with a helper addon for the purpose, newly developed by someone (or you). There are some hints:

* Firefox provides "successor tab API". For more details, please see [my article about the API](https://qiita.com/piroor/items/ea7e727735631c45a366).
* TST provides [

[2021-06-01 09:38] piroor commented on #2911
Do you mean "the scroll bar in the TST sidebar is suddenly hidden"? Then, please try them:

* If you use user style rules, clear it at first.
* Try exporting existing options and reset all in TST's options page. You can see "export" and "reset" buttons under TST's options => Development => All Configs.
* If you use some other addons together, please try bisection to find out the trigger addon. htt

[2021-06-01 10:17] piroor commented on #2909
There maybe some more possible incompatibilities. Until the manifest v2 become unsupported, I'll need to do more efforts...

[2021-06-01 15:12] irvinm commented on #2910
@franckspike would you mind closing this item?

[2021-06-01 16:00] ivezakis opened #2912 "Tab selection not visible on Mac with Proton theme enabled"
## Short description

With the Proton theme selected, the currently active tab is no different than the rest.

## Steps to reproduce

 1. Start Firefox with clean profile on Mac OS.
 2. Install TST.
 3. Go to TST settings.
 4. Under "Appearance" change theme to "Proton".

## Expected result

Tab selection appears as in the theme's screenshot.

## Actual result

Tab selection is not visible.

## En

[2021-06-01 16:58] piroor commented on #2912
Thanks! The commit b2410a0 should fix this.

[2021-06-01 17:23] piroor commented on #2908
Does the option help you?: TST Options => Check "Unlock Expert Options" => Appearance => Uncheck "Show pinned tabs only with their icon".

[2021-06-01 17:25] piroor commented on #2907
The default shortcut "F1" can be changed via Firefox's built-in UI. Did you try that?: https://support.mozilla.org/en-US/kb/manage-extension-shortcuts-firefox

[2021-06-01 17:30] ufkhf commented on #2907
O no i didn't, that solves it thanks

[2021-06-01 17:30] #2907 closed, assigned to nobody

[2021-06-01 23:41] franckspike commented on #2910
alright then, I'll try the above addons or just fork from one and create a new one if I can't find what I'm looking for

I'm not sure if there's a place where to list new TST addons !?

Thank you!

[2021-06-01 23:41] #2910 closed, assigned to nobody

[2021-06-02 01:41] piroor commented on #2910
Pull requests to update the list https://github.com/piroor/treestyletab/blob/trunk/README.md#addons-that-extend-tst are welcome!

[2021-06-02 02:12] piroor commented on #2906
Thanks! I've confirmed that "No control" choice causes an error on the case and the commit 27119f8 should fix it.

However, I couldn't reproduce the problem with the choice "Next to the recently opened...". Could you confirm exact steps to reproduce the problem with the case?

[2021-06-02 03:13] piroor commented on #2905
Sorry I'm negative to increase too detailed options (it will increase costs for maintenance), thus the option won't implemented by TST itself. Instead it looks can be done via helper addons, like:

https://addons.mozilla.org/firefox/addon/tst-middleclick/
https://addons.mozilla.org/firefox/addon/tab-flip-for-tree-style-tab/

TST provides an API to override click action on tabs. If there is no exis

[2021-06-02 04:31] joshgold22 commented on #2905
I'm very much in agreement with you.  Could you tell me, does the API ("when a tab is clicked") include only clicks on the TST sidebar tabs, or does it give the same event message for clicks on the firefox builtin tab bar?

[2021-06-02 04:49] piroor commented on #2905
It works only around TST's sidebar. Sadly there is no chance for addons to handle raw DOM event around Firefox's native tabs.

[2021-06-02 09:23] piroor commented on #2903
I think there is no universal solution. It looks easy that supporting only Firefox's default theme (with blight or dark color).

To suppress the white flash, we need to apply CSS declarations before Firefox initially renders the sidebar contents. The easiest way is: putting declarations in a static CSS file. However there is no chance to know the background color matching to the current theme at t

[2021-06-02 09:29] piroor commented on #2903
I don't know how to break through the restriction, and any idea is welcome.

[2021-06-02 10:11] piroor commented on #2774
@mzso TST can open tree of tabs from a bookmark folder. Select all tabs (shift-click or ctrl-click to multiselect tabs) and create bookmarks from the context menu, then TST saves relations of tabs to bookmarks. And, an added command on the context menu on a bookmark folder will restore the saved tree structure. It is less powerful thant TSM, but it should work more stably - beause it is a built-in

[2021-06-02 10:17] piroor commented on #2904
Any error message reported in the debug console? (see also: https://github.com/piroor/treestyletab/wiki/How-to-inspect-tree-of-tabs#how-to-start-debugger-for-tree-style-tab ) TST captures mouse events on some cases, and it may forget to release mouse events if something error happens before the releasing.

[2021-06-02 10:24] piroor commented on #2902
I have no plan to add commands to open a group tab from the menu. Instead there are some alternatives:

* TST More Tree Commands https://addons.mozilla.org/firefox/addon/tst-more-tree-commands/ provides ability to group multiselected tabs. It automatically opens a new group tab.
* Creating a bookmark with an URL `ext+treestyletab:group`. When you open a new tab from the bookmark, it will become a

[2021-06-02 10:57] UPuXA commented on #2906
Thank you for your time.

I am sorry but i forgot to mention that the Problem only appears if there is already a child tab under a parent.

Like this:
Tab
└ Child Tab

### Steps to reproduce
1. Start Firefox with clean profile.
2. Install TST.
3. Set "Insertion position of new child tabs" to 2 (Next to the recently opened ...)
4. Open a new Child Tab in the sidebar with Middle Click or selector bu

[2021-06-02 11:18] irvinm commented on #2830
@aleksandrpetushkov just a friendly reminder.

[2021-06-02 11:20] irvinm commented on #2865
@NiklasGollenstede is there more to discuss on this item or can you close it?

[2021-06-02 11:21] irvinm commented on #2844
@piroor I think this can be closed.  We can still discuss anything if needed after that.

[2021-06-02 11:25] irvinm commented on #2866
@piroor \ @ivnilv any additional thoughts on how to progress this issue?

[2021-06-02 11:32] irvinm commented on #2896
@piroor is this something you would want to support?  I could see people who might use a dark theme at the OS level, but a "lighter" accent color in the browser that render the icons hard to read.

Some addons I have seen basically have a configuration for icons that are:  (1) auto selected, (2) force dark icons, (3) force light icons.

[2021-06-02 11:40] irvinm commented on #2901
I primarily use Windows and have no problems, but I fired up Ubuntu (TST 3.8.1 \ FF 88) and see the exact same thing.  @piroor it looks like both the landing line and the landing box get displayed initially, but then disappear even if you don't move the mouse.

[2021-06-02 11:48] Makishima commented on #236
Could someone share a style that will be compatible with the new FF?
Groups is overlaping for now with `.tab {height: XXpx;}`
![изображение](https://user-images.githubusercontent.com/5548003/120475016-856be300-c3b1-11eb-9949-8c056383a96b.png)

[2021-06-02 11:58] tbertels commented on #236
I'm using this, it still works fine with Firefox 89:
[code]

[2021-06-02 12:04] Makishima commented on #236
Thanks, I should restart FF to resolve overlapping

[2021-06-02 12:24] irvinm commented on #2897
@piroor I don't normally use this feature, but I see the same thing.  I have the OS DPI scaling at 100%.  I have my default zoom level in Firefox set to 120%, but also tried resetting the specific page to 100% and always saw this:

![image](https://user-images.githubusercontent.com/979729/120475517-7405e500-c377-11eb-9a57-4fdf76757d9e.png)

I then tried your suggestion of resetting the zoom on tha

[2021-06-02 12:38] irvinm commented on #2894
@MayeulC this certainly feels like it could be related to panorama's ability to hide tabs.  I am wondering if when you see this event again, if you just disabled panorama if the tabs would be displayed properly.  Also, it is unfortunate that it appears that project hasn't had any updates in over a year.  @piroor any thoughts?

[2021-06-02 12:43] irvinm commented on #2660
@piroor just a friendly reminder on this one.

[2021-06-02 13:24] irvinm commented on #2890
@piroor there is definitely a problem with Waterfox and using the TST right-click menu around the "insert position of new child tabs".  It looks to me that selecting the 3rd or 4th option works fine, but:

- Selecting the 2nd item doesn't change the selection from the 3rd item
- Selecting the 1st item shows it updated on about:addons, but still shows selecting the 2nd item on the right-click menu

[2021-06-02 13:33] irvinm commented on #2892
@mzso can you clarify the actions you are doing to "close the branch" and "undo the delete branch"?

To close the branch, are you collapsing the branch and clicking the "X"?
For restoring, ctrl+t is usually for creating a new tab ...

[2021-06-02 13:35] irvinm commented on #2891
@rileyjw90 is this still happening for you?  Have you isolated any patterns for when it happens?

I'm also wondering if you were to check the browser console after this happens to see if you see any errors or relevant messages.

[2021-06-02 13:45] irvinm commented on #2888
@ngirard so I guess your options page was not being initialized properly.  Are you still seeing this or are you manually changing the CSS?  (Or did you simply move to a new profile which you said was working)  I'm wondering if you could close this item or if there was more to do.

[2021-06-02 13:48] irvinm commented on #2905
@joshgold22 given there won't be changes for TST, would you close out this item?  You can always continue to ask questions about the API (if needed) even when it is closed.

[2021-06-02 14:02] ivnilv commented on #2866
Unfortunately , none from my side.. I recently switched my main OS to Linux where the problem doesn't exist ... On Mac I use alternatives to bookmark trees of tabs.

[2021-06-02 14:11] joshgold22 commented on #2905
Sure, and thanks for the feedback and suggestions.

[2021-06-02 14:11] #2905 closed, assigned to nobody

[2021-06-02 14:12] irvinm commented on #2903
@wvxwxvw it is interesting that I tried your userContent.css code, but I still see a white flash before the color is loaded.  (I did verify the color is loaded eventually)

I had the same problem with web pages directly and I solved it by increasing the delay before a page starts getting displayed.  This allowed things like "Dark Reader" to override the color in enough time that the white flash is

[2021-06-02 14:16] joshgold22 commented on #2905
Actually, I do just want to check about the smallest variant I'd mentioned — @piroor would you still consider adding "Close This Tree" to the set of options for double-click?  I wondered if that would have less of the maintenance concern (versus creating a whole scheme and UI for assigning custom mouse-events to TST actions.)  Could be a different ticket, to keep the wontfix explanation here.

[2021-06-02 16:20] #2844 closed, assigned to nobody

[2021-06-02 16:59] Makishima opened #2913 "CSS for render tab as they was before 89 version"
Any chance that someone can write CSS to make the tabs looks like it was before 89 version?

[2021-06-02 17:57] irvinm commented on #2913
@Makishima are you talking about the native Firefox tabs or the tabs in the sidebar from TST?  You have total control of the tabs via CSS for TST, but if you are talking about the native Firefox tabs I would suggest visiting reddit's [r/FirefoxCSS](https://www.reddit.com/r/FirefoxCSS/) as I am sure there is plenty of discussion on that topic there.

[2021-06-02 18:01] Makishima commented on #2913
I mean TST tabs but I'm not sure that TST do no use native one
![изображение](https://user-images.githubusercontent.com/5548003/120529975-ab12df80-c3e5-11eb-93ba-de3effdeb56d.png)

[2021-06-02 18:06] piroor commented on #2913
@Makishima Did you try TST options => Appearance => Theme => Photon ?

[2021-06-02 22:19] JattMones opened #2914 "[feature request] One Tab extention integration with Tree Style Tab extention"
## Short description
[feature request] OneTab & Tree Style Tab Integration
## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install [OneTab](https://addons.mozilla.org/en-US/firefox/addon/onetab/) and Tree Style Tab
 3. Open tabs and organize them in a tree structure using tree style tab
 4. Close/save the open tabs with the OneTab extension
 5. Open a new Firefox window and re-loa

[2021-06-03 01:09] piroor commented on #2914
I think there is nothing TST side can do about this. If OneTab stores and restores `openerTabId` information of tabs like [TSM](https://addons.mozilla.org/firefox/addon/tab-session-manager/), TST can construct tree structure from the information. In other words, TST cannot reconstruct tree structure with no hint, until OneTab become providing that.

Tab's `openerTabId` is generic, and not TST spec

[2021-06-03 01:49] piroor commented on #2905
At a different viewpoint, currently available choices have reasons from user experience compatibility.

* "Double-click to collapse/expand tree" is a generic operation on other situations: Firefox's bookmarks folder tree, Thunderbird's folder tree, Windows Explorer's folder tree, and more.
* "Double-click to close individual tab" is available as an optional behavior (`browser.tabs.closeTabByDblcli

[2021-06-03 02:18] piroor commented on #2866
@ivnilv Thanks. I close this for now. If you see same problem again, comment here please.

For other people who see same problem: please comment here with conditions to reproduce the problem, then I'll reopen this.

[2021-06-03 02:18] #2866 closed, assigned to nobody

[2021-06-03 02:42] piroor commented on #2890
Finally I've realized that there is a typo and only the right-click menu on the toolbar button is broken. Thanks!

[2021-06-03 03:42] piroor commented on #2901
Thanks! The behavior was introduced as a failsafe for cases when a drag operation is accidentally canceled without clearing the drop position marker. On other platforms the clearing does not happen while dragging, because "dragover" event is fired repeatedly while the cursor is hovering on a tab. I forgot that "dragover" is not repeated on Linux. With the commit 6ed6ce6 TST doesn't clear the posit

[2021-06-03 03:53] piroor commented on #2894
@MayeulC As @irvinm commented, such a status may be produced by panorama, if you choose TST options => "Tree Behavior" => "When visibility of tabs are changed by other addons" => "Keep tree structure including hidden tabs". Is the tab invisible in TST's sidebar visible on Firefox's native tab bar? Then TST works correctly and the panorama addon looks to fail updating hidden/shown status of tabs. O

[2021-06-03 05:43] sakkamade commented on #2901
Let's consider it is fixed then.

I will test when I have a time.

[2021-06-03 05:43] #2901 closed, assigned to nobody

[2021-06-03 07:43] Makishima commented on #2913
Oh, thanks! It's old 🧓 style

[2021-06-03 07:45] #2913 closed, assigned to nobody

[2021-06-03 09:14] auscompgeek opened #2915 "Firefox Alpenglow dark theme not respected"
## Short description

The standard Firefox chrome respects the OS color scheme (dark mode) when using the Firefox Alpenglow theme. TST will only show the Alpenglow light background regardless of active preferred color scheme.

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Choose the Firefox Alpenglow theme.
 3. Ensure `(prefers-color-scheme: dark)` is set.
 4. Install TST.

## E

[2021-06-03 10:37] wvxwxvw commented on #2903
@piroor  Just please add the instructions to the wiki.
@irvinm  And note that I left out the end parenthesis in my code.
I fix it now.

[2021-06-03 10:42] localjo commented on #1397
I had trouble getting this to work, until I realized that `userChrome.css` doesn't work by default in Firefox anymore. To enable it, you have to go to `about:config` and set `toolkit.legacyUserProfileCustomizations.stylesheets` to `true`.

With all the settings available for TST, I would expect something like this to be a quick toggle in the appearance section of TST settings.

[2021-06-03 11:37] irvinm commented on #1397
@localjo everything in this thread is outside of what TST can control.  (about:config, userChrome.css, etc.)  There is no way for TST to provide a "quick toggle" for this.

[2021-06-03 12:01] jt3k opened #2916 "why is there no information in the documentation about the location of userChrome.css?"
I have a question and suggestion.

# [1/2] Suggestion
provide simple instructions to 100% hide the horizontal tab bar.

instead of imperative instructions in your article, add simple declarative commands that are necessary to achieve the goal.

Your article on hiding native tabs is just a nightmare for a reader who wants to solve a problem and not feel humiliated.

I read your article earlier, and

[2021-06-03 12:21] irvinm commented on #2916
@jt3k as for your suggestion, there are several ways to hide the horizontal tab bar and that has also changed over time due to changes in Firefox.  I looked at what I was using and it is completely different than what is documented on the wiki.  In general, people can contribute to the wiki and help keep that information up to date.  A good source of information like this is on reddit at [r/Firefo

[2021-06-03 12:42] piroor commented on #2903
https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#suppress-white-flash-on-showing-sidebar-in-dark-color-mode-2903

[2021-06-03 12:42] #2903 closed, assigned to nobody

[2021-06-03 12:43] joshgold22 commented on #2905
Ah, thanks, I do understand the principle you've explained and appreciate your explanation.  I do think it might be ambiguous how a user with double-click-to-close experience would expect it to behave when carried over to a tab that is the root of a group.  Not exactly a counter-example, because the question doesn't exist without the tree structure TST introduced.

[2021-06-03 14:33] piroor commented on #2905
Sorry but I have to put a boundary what should be a built-in and what is not. The criteria is considered based on various viewpoints: maintainability, compatibility, naturality, safety, un-implementability via API, and more. I can't find out a strong reason why it must be a built-in feature. Not only this, I hope to remove more not-critical built-in options from TST. Indeed a helper addon project

[2021-06-03 14:48] piroor commented on #2916
Please remind that basically I don't recommend hiding the native tab bar. TST's sidebar does not support full features of the native tab bar due to restrictions of WebExtensions API, and I don't believe TST is enough stable to replace Firefox's tab bar completely. I usually use TST together with horizontal tab bar, and never hide the horizontal tab bar for safety.

If I hid the tab bar on my envir

[2021-06-03 14:56] piroor commented on #2915
This looks to be cause by restrictions of WebExtensions API. `browser.theme.getCurrent()` always returns colors and image URLs for the bright mode for Firefox Alpenglow, and it is impossible to know which colors and images to be used on the dark mode.

[2021-06-03 14:58] joshgold22 commented on #2905
No problem at all.  I was just sharing the thought exercise, and I agree it will be good to make the basic extension and configurations leaner.

[2021-06-03 15:25] piroor commented on #2897
Hmm... I didn't know that the default zoom level option affects to TST's custom dialog based on a popup window.

I've tried a combination of default zoom level 150% (on Firefox options) and 125% scaling (on Windows options), and I successfully saw a broken appearance as the first screenshot of @irvinm's comment. `devicePixelRatio` in such a stuation:

* `1.0` for the background page.
* `1.25` for

[2021-06-03 15:46] piroor commented on #2897
The commit be0db26 should solve the problem caused by changed default zoom level.

[2021-06-03 17:01] piroor commented on #2896
Hmm... because this is an accessibility problem, I've reintroduced an option to choose icon color with the commit 38dfc08.

[2021-06-03 17:03] piroor commented on #2896
I think that by rights this should be solved on Firefox side...

[2021-06-03 17:26] piroor commented on #2906
Oops, the menu on the toolbar button was broken. (See also #2890 please for more details.)

And thanks, I've successfully reproduced the problem and the commit 1b24c0b should fix it.

[2021-06-03 17:52] piroor commented on #2660
I can do nothing for now until more certain conditions are found...

[2021-06-03 18:27] piroor commented on #1464
@felixbecker2 Thanks, I've realized that the trigger of your case is `delayForDuplicatedTabDetection`: TST Options => Development => Delay to detect duplicated tabs. It is 0 by default and became 1000 on your configs. The delay is required to detect duplicated tabs as "duplicated" (see also #2845 ), but it has side effects - this is one of them.

[2021-06-03 18:28] piroor commented on #1464
@felixbecker2 If you don't need to customize behaviors around duplicated tabs, setting it to `0` may solve the problem.

[2021-06-03 19:58] dreirund commented on #1464
Thanks for the info.

I set it to 1000 because I did use the inbuilt function "`Test detection`" and "`Auto detect`". Auto detect did lead to something in the higher hundreds millisecond range, and to be safe I increased it then to 1000. Also before I manually put 0 and other low values and hit "`Test detection`", which failed, but with 1000 it works. (Having hit `Test detection` now it even got m

[2021-06-03 20:00] dreirund commented on #1464
... maybe this is also the issue for @Sherris, @mdeguzis, maybe others?

--
| sed 's/\([Mm]\)an[n]*/\1ensch/g'

[2021-06-04 13:47] Fanolian opened #2917 "Sidebar stops responding to mouse clicks after quickly re-invoking tab-closing dialog"
## Short description
After dismissing and quickly re-invoking the sidebar dialog for closing multiple tabs, TST sidebar no longer responds to any mouse interactions except middle clicks.
The sidebar still correctly displays tab changes.

## Steps to reproduce

 1. Start Nightly with clean profile.
 2. Install TST.
 3. Enable `Show dialogs in the sidebar if possible` in TST options > Appearance.
 4

[2021-06-05 08:56] Gitoffthelawn commented on #2896
Thanks.  Looking forward to the release.

[2021-06-05 09:12] Gitoffthelawn opened #2922 "Undefined object in settings after resetting all TST settings"
## Short description
In the *Context Menu* section of the options UI, an `undefined` object will appear in the `Active other devices` area after resetting all TST settings.  Pressing the `Delete` button will not delete the `undefined` object.

Manually importing a configuration without the `undefined` object also fails to work (the `undefined` object gets recreated).

TST not fully reset within th

[2021-06-05 09:24] Gitoffthelawn opened #2923 "Custom style rules area vertical size (userStyleRulesFieldHeight) not maintained during export/import round-trip"
## Short description
The `userStyleRulesFieldHeight` option in the TST settings export JSON file is not honoured.

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3. Open the TST settings UI and add a bunch of custom CSS in the custom style rules area (in the `Advanced` section).
 4. Expand the custom style rules area vertically.
 5. Export the TST settings.
 6. Make

[2021-06-05 14:49] piroor commented on #2923
Thanks, the commit e4de8d8 should fix it.

[2021-06-05 15:59] piroor commented on #2922
Thanks, I've done some changes to prevent this problem.

[2021-06-05 17:24] piroor commented on #2917
Thanks, I've introduced some guard mechanisms for such a situation. With these changes, confirmation dialog UIs become expendable. They will be destroyed and the next dialog is shown in parallel.

However, I couldn't reproduce the problem you told on my environment - it looks difficult to reproduce. Changes I did should solve the problem, but I still cannot confirm it is actually solved. Please ch

[2021-06-05 19:01] piroor commented on #2864
Sorry for this delay. I've read your xlsx. I have some question:

* Does "FlagsPossible" mean "the number of flags expected to be appear"?
* What the difference between the row 10 and 11? Are they mean:
  1. At the row 10 the tree is collapsed initially.
  2. You say "twisty".
  3. Dragon clicks the twisty and expands the tree.
  4. You say "twisty" again.
  5. Dragon does not click the twisty, an

[2021-06-05 19:21] piroor commented on #2847
Hmm, anyway I can't imagine how to "solve" this problem by TST side. I really want a help by someone expert of Gecko renderings...

[2021-06-05 19:28] piroor commented on #2891
This kind problem is hard to be solved without deep investigation with debugger on my local environment. Please add comments if you successfully narrow down the steps to reproduce the problem. (Of course debugging by yourself and writing a patch are both welcome!)

[2021-06-05 20:57] Gitoffthelawn commented on #2922
You're welcome, and thanks for the quick fixes!  Looking forward to the release on AMO.

[2021-06-05 20:58] Gitoffthelawn commented on #2923
You're welcome.  And thank *you* for the fix.  The next release on AMO should be fantastic!

[2021-06-06 03:36] altano opened #2924 "Wiki suggestion"
At [Apply tab colors exactly same to Firefox's native #2780](https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#apply-tab-colors-exactly-same-to-firefoxs-native-2780) you say how to use native Firefox colors. I think this needs some tweaking.

1. `tab_background_separator` has been deprecated in FF89. It looks like `tab_line` is the only way to customize the native bo

[2021-06-06 05:06] Fanolian commented on #2917
It is fixed in 3.8.1.11501. Thanks.

[2021-06-06 05:06] #2917 closed, assigned to nobody

[2021-06-06 08:44] sakkamade commented on #2901
Yes, may confirm that it works great now.

[2021-06-06 13:38] piroor commented on #2924
Thanks! I've applied your suggestion (and added indentations for better readability).

[2021-06-06 13:38] #2924 closed, assigned to nobody

[2021-06-06 13:41] piroor commented on #2924
And it is welcome that updating the wiki page without my decision, if you find something need to be updated.

[2021-06-06 13:59] piroor commented on #1464
@felixbecker2 I implemented the auto detection experimentally and I realized that it actually don't solve all problems - it has the unavoidable side effect as you saw. I need to concentrate to contribute the bug filed at bugzilla.mozilla.org, because fixing it by Firefox side it is the best solution.

[2021-06-06 14:08] piroor commented on #1464
@Sherris Sorry but complete session restoration is beyond the scope of TST.  (TST just restores tree structure of tabs restored by session restoration features by others: Firefox itself or TSM.)

Just as a workaround, you can take a snapshot of tabs with their tree structure as a bookmark folder. Select all tabs (via shift-click or ctrl-click) and bookmark selected tabs via "Bookmark Tabs..." comm

[2021-06-06 17:07] Sherris commented on #1464
@piroor just to be clear - the tabs themselves don't need restoring, just the tree structure. But I will try bookmarking all the tabs with tree structure, and then to restore the structure I can close all tabs and reload the bookmark, correct?

As long as I periodically save a bookmark I should be able to safely restore quickly then

[2021-06-06 18:15] piroor commented on #1464
@Sherris Currently TST doesn't provide any GUI to do that, but you can take a snapshot of a "tree structure" information from tabs and apply it to existing tabs via TST's API.

https://github.com/piroor/treestyletab/wiki/API-for-other-addons#take-a-tree-structure-snapshot-of-tabs
https://github.com/piroor/treestyletab/wiki/API-for-other-addons#apply-a-tree-structure-to-tabs

I have no plan to add

[2021-06-06 18:19] piroor commented on #2867
It looks too late but I've commented to the bug...

[2021-06-07 06:20] tigersof commented on #2864
Hi Piroor,

No problem, thank you for getting back. I hope the following helps.

### about the problem of pinned (faviconized) tabs

The above code fixed this issue. Thank you.

Yes. Sorry, I should have been clearer.

Yes, this always happens. Once "Twisty #" is said for any given tab twisty, while extremely reliable for each first instance, it cannot be said again to invoke twisty action on the

[2021-06-07 10:34] MayeulC commented on #2894
Well, that was the default, so I left it at that. But it doesn't seem to affect the outcome if I toggele

No, nor it is visible on the drop-down near the tab bar. It is visible on "hidden tabs", though

Then if I got you right, TST works as intended?

They are not visible in FF tab bar.

I've been wondering if TST conflicts with Panorama tab group's heuristics somehow, especially the fact that TST

[2021-06-07 10:36] MayeulC commented on #2894
I'll try to clean my tab list first, I don't want to lose my groups with a few hundred tabs in if I can avoid it :)

[2021-06-07 10:50] zwarmapapa opened #2925 "userChrome (for windows 10), as well as a request for userChrome documentation"
I worked on tweaking my userChrome file for a while, and this one works best (for windows 10).

Maybe it's useful to share it somehow with other users, considering many want to hide the top bar (but not the minimize, maximize, and close window buttons).

This is how it looks like:

![Untitled](https://user-images.githubusercontent.com/33539232/121003528-edde0a00-c78d-11eb-8f89-3ce7b2b44d2b.png)

F

[2021-06-07 11:34] irvinm commented on #2925
@zwarmapapa in general, a lot of people who really want to customize their experience had to do the same time you had to do.  I really like the idea of documenting some\all of it, but piroor is only one person and the community needs to be able to help out with that.  The wiki is the best place for things like this, but information also changes over time and even in your example CSS, it is really

[2021-06-07 12:19] zwarmapapa commented on #2925
@irvinm Wow thanks, that's a lot of information I didn't yet know!

Yes I agree, a wiki would definitely be best, as things will continue to change (for example, hiding the whole #TabsToolbar worked fine on windows 7, but on windows 10 it will also hide the windows min/max/close buttons as well, so hiding specific elements was needed instead).

Maybe it's best to explain people how to inspect the

[2021-06-07 17:57] piroor commented on #2925
You may add a new wiki page for the customization, it is welcome  all days, but I hope you (and wiki paeg authors) to put caution message about the risk of userChrome.css customization at the top of the page. Recently I commented about similar topic how to hide the horizontal tab bar, and I've added it to [the FAQ topic](https://github.com/piroor/treestyletab/blob/trunk/README.md#appearance).

[2021-06-07 19:29] TrianguloY opened #2926 "[feature request] Multiple new tab buttons"
I tried to search an existing issue or an addon with this new feature, but was unable to find anything. If there is one just point me to it, thanks.

## Short description

[feature request] Is it possible to have multiple new tab buttons depending on where you want to create a new tab (as a child, as a parent, etc, see screenshots below), either as a new feature or with a TST addon?

## Long descr

[2021-06-07 19:45] #2890 closed, assigned to nobody

[2021-06-07 22:26] zwarmapapa commented on #2925
@piroor Thanks, that's very useful to know!

[2021-06-07 22:26] #2925 closed, assigned to nobody

[2021-06-08 06:29] altano opened #2927 "Theming TST from an add-on?"
I've created a Firefox theme and as a Tree Style Tabs user I went to the trouble of making sure the theme looked great with TST.

The problem is that the user has to [revert to native Firefox styles](https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#apply-tab-colors-exactly-same-to-firefoxs-native-2780) for this to work the way I've done it now.

Is there a better wa

[2021-06-08 12:50] piroor commented on #2927
Do you mean about the method how to apply arbitrary style sheets to TST's sidebar? You can do that with the `register` type message: https://github.com/piroor/treestyletab/wiki/API-for-other-addons#basics

[2021-06-08 15:22] piroor commented on #2926
Very unique idea, but it looks hard to be implemented. Sadly TST's sidebar is not designed to mix tab and other type elements...

There are some possible workarounds;

* New Tab Here https://addons.mozilla.org/firefox/addon/new-tab-here/ provides a toolbar button and extra context menu item, and it allows you to open a new tab at any configured position.
* Put a new bookmark with a URL `about:newt

[2021-06-08 15:29] piroor commented on #2894
Yes. Basically TST doesn't hide any tab via the API `browser.tabs.hide()`. The API hides tabs from both Firefox's tab bar and TST's sidebar, and tabs hidden via the API will be listed in the menu "hidden tabs". So, when a tab is listed in the "hidden tabs" menu, it looks to be hidden by someone not TST.

[2021-06-08 15:47] irvinm commented on #2926
One additional idea:

- Creating a new help extension that monitored for double-clicks (or right-click menu addition) to open a new tab at the bottom of the tree that was clicked on.  [Monitor\respond, start at current tab, traverse to bottom of tree, create new tab via TST API]

[2021-06-08 17:13] TrianguloY commented on #2926
Thanks for the detailed answer, I understand the difference between tabs and other elements, I guess the new tab at the bottom is a special item then? Perhaps the suggestion of having different icons for the different new tab methods could work? I'll make a new issue to discuss it.

As for a current workaround, the ability to drag&drop the '+' button seems cool, thanks. And a helper extension that

[2021-06-08 18:23] TrianguloY opened #2928 "[Feature request] Separated new tab icons"
Related to https://github.com/piroor/treestyletab/issues/2926

This suggestion is probably not desired to have on the main addon, but instead on a separate TST addon. Nonetheless I write this issue to have it recorded (also in case someone need related icons). Close as necessary.

## Short description

[Feature request] Have a different button for each new tab mode (independent, child, sibling and

[2021-06-08 19:04] satorym opened #2929 "[Feature request] Add option to not crop too long label of tabs"
Currently there are two options for too long label of tabs: "fade out" and "crop with ..".
Would be great to have third one: no crop.

[2021-06-09 01:06] piroor commented on #2929
When "no crop" is chosen, what should happen for too long labels? Just cut off?

[2021-06-09 08:46] piroor commented on #2926
Yes. Only one last irregular item is easily supported, but irregular items mixed in middle of list is hard for me...

[2021-06-09 09:20] TrianguloY commented on #2929
What about show it in multiple lines?

[2021-06-09 09:58] TrianguloY commented on #2926
I managed to create such extension without much issue (the API description is easy to follow, thanks!). However I needed to check another similar TST addon because I didn't knew you need to add all the code in a "background": {"scripts": [...]} file specified in the manifest. And I didn't find those instructions in the wiki. Maybe it is a good idea to add it in the [abstract](https://github.com/pi

[2021-06-09 10:00] piroor commented on #2928
Anyway icons looks nice for better accessibility. I've added icons based on your idea:
![image](https://user-images.githubusercontent.com/70062/121334659-d1d89500-c954-11eb-9e3c-839f7c235e8b.png)

[2021-06-09 10:38] piroor commented on #2926
You can refer SVG icons. Here is an example:
https://github.com/piroor/tst-tab-drag-handle/blob/1d9d39d612bedeed05dcafdd8fb213454d052cf8/background/background.js#L99

This helper extension inserts some buttons, and they are placed at left to avoid conflicting with other existing UI. If you wish icons are placed at right, I recommend you to apply margin-right only when the "mute" icon is visible, l

[2021-06-09 10:44] piroor commented on #2926
Thanks, I've added a note to the abstract section.

[2021-06-09 10:56] piroor commented on #2929
It looks to be done with a custom user style like:

[code]

But please remind that it can break visual of TST's tree - TST is designed assuming that all tabs have same height. To get stable behavior and appearance, you also should expand the height of tabs https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#change-tab-height-236-2389 , like:

[code]

[2021-06-09 14:28] sith-on-mars commented on #1586
Thank you for your reply! However, if I select Photon theme, using this style rules just didn't change anything. If  I select Proton theme, it looked like this:
![image](https://user-images.githubusercontent.com/37974764/121373219-6bd91700-c92e-11eb-8d84-0257e7fb2f8c.png)

Before Firefox 89, I used [plain dark theme](https://github.com/piroor/treestyletab/wiki/Plain-Dark-theme-%28patch-for-the-the

[2021-06-09 15:35] sith-on-mars opened #2930 "Better GTK theming on Proton when using "system theme" on Firefox"
I'm using Firefox 89 on OpenSUSE Tumbleweed. TST version: 3.8.1.

I followed "How to apply GTK+ theme color on Linux?" on Readme. It seems the fix for GTK theming doesn't work so well with the Proton UI when using "system theme". Here is an example:
![image](https://user-images.githubusercontent.com/37974764/121383495-d91a9580-c98a-11eb-9d41-77713758c5c6.png)

I think the unused tabs should not ha

[2021-06-09 18:31] piroor commented on #2930
Thanks, I forgot to update the information for Proton and include rules to use system colors to the Proton theme.

Sadly, due to restrictions of CSS system colors we cannot know the color of the headerbar in GNOME3. So I use inverted menu color on LInux instead.
https://github.com/piroor/treestyletab/blob/180b6fa502587a3528af7f2e4f4671aca58d244a/webextensions/sidebar/styles/proton/proton.css#L72-L

[2021-06-09 18:33] piroor commented on #1586
I've updated the FAQ and Proton theme for Linux. Please see also: https://github.com/piroor/treestyletab/issues/2930#issuecomment-857956594

[2021-06-09 18:47] sith-on-mars commented on #2930
Many thanks for the quick reply and fix. I’ll test it later today.

As for theming based on Firefox Color, I’m wondering does Proton and Photon use the same rules? The readme only mentions Photon, but the same rules seem work well enough on Proton, as you can see in the second screenshot.

[2021-06-10 04:31] sith-on-mars commented on #2930
I applied the new rules of GTK theming for Proton, and it doesn't look quite right. I'm using dark mode.
![image](https://user-images.githubusercontent.com/37974764/121465108-b85f3980-c9a4-11eb-82f7-eff6a5ced1c6.png)

[2021-06-10 05:35] piroor commented on #2930
It depends on recent changes. If you use TST 3.8.1, please try the latest development build: https://github.com/piroor/treestyletab#development-builds

[2021-06-10 14:53] piroor commented on #2928
I've added new APIs to insert extra contents to the new tab button. I think your idea can be implemented as a helper extension for the next release of TST:
https://github.com/piroor/treestyletab/wiki/API-for-other-addons#when-the-new-tab-button-is-clicked
https://github.com/piroor/treestyletab/wiki/Extra-Tab-Contents-API#extra-contents-in-the-new-tab-button

[2021-06-10 14:55] piroor commented on #2928
Thanks for giving a chance to extend TST's API. I mark this as "won't fix" because this can be done via API.

[2021-06-11 06:01] floriangasc opened #2931 "slow, freeze pc and crash"
## Short description
(sorry in advance for my english)

In recent days, once Tree style tab is enabled,  within a few (2 ou 3) seconds, the pc will be very slow and one second after server X not respond. Sometime it's return to TTY with stacktrace, sometimes it's freeze, but always, the pc have to restart with the power button.

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Inst

[2021-06-11 11:48] irvinm commented on #2931
Just a couple of thoughts to try:

- Have you tried disabling TST to see if the issue still persists?
- Have you tried looking at about:performance when the "slowness" is occurring to see if something else is going on? (Or the browser console)
- Have you tried creating a new profile with just TST to see if it happens there?

[2021-06-11 14:12] sith-on-mars opened #2933 "Better Firefox color theming for Proton"
I'm using Firefox 89 on OpenSUSE Tumbleweed. I'm using TST 3.8.2.

I followed "How to apply colors customized via Firefox Color?" Although the readme says it only applies to Photon, Firefox color theming still worked fine before 3.8.2 on Proton. Seems the latest update kind of breaks the Firefox color theming for Proton. As you can see, the text color of selected tab become black, which is suppose

[2021-06-11 14:41] sith-on-mars commented on #2933
My bad, I have enabled `privacy.resistFingerprinting` in `about:config". Turning `privacy.resistFingerprinting` solves the issue.

[2021-06-11 14:41] #2933 closed, assigned to nobody

[2021-06-11 14:53] sith-on-mars commented on #2930
I'm now using TST 3.8.2 and I also tried the development build. I still get the same results for using Proton.

[2021-06-11 19:52] piroor commented on #2930
I've tried to reproduce the problem you described, but I couldn't get quite same result... Steps I did:

1. Install openSUSE Tumbleweed with KDE desktop.
2. Download Firefox 89 from official tar.bz2 and unpack it.
3. Start Firefox 89.
4. Right-click on Firefox's toolbar and choose "Dark" from the list of available themes.
5. Customize Firefox and TST with the description for GTK theme: https://git

[2021-06-12 05:07] sith-on-mars commented on #2930
Sorry I was bit unclear. In my previous post I meant I used the global dark mode on my Tumbleweed, not on my Firefox. I actually used used "system theme" rather than "dark" in Firefox. So yes, my step 4 was bit different and GTK theming didn't work well when I used "system theme".

I'm also wondering does using the customisation for GTK theme intend to work with different Firefox customised themes

[2021-06-12 05:08] gotyaoi opened #2934 "Regression in disable browser theme colors and images snippet in TST 3.8.2"
## Short description
The commit https://github.com/piroor/treestyletab/commit/b81677d876333a278bbae94c58451c6295c52e4d caused a regression with the https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#disable-browser-theme-colors-and-images-2662 snippet. Workaround, added `--browser-bg-images: unset;` to the TST custom CSS for that snippet. Not sure if anything else nee

[2021-06-12 05:30] Gitoffthelawn opened #2935 "Issues/questions regarding Export/Import and sync devices"
I'm not sure if any of the following indicates one or more underlying issues, or if everything is "by design".

All testing performed with TST v3.8.2 on Firefox 89 in Windows.

If I perform a TST `Reset All` and then immediately perform an `Export`, this is the result:

[code]

If I then close Firefox and restart Firefox, 2 notification boxes appear.  If I close both those notification boxes witho

[2021-06-12 05:49] Arthaey opened #2936 "Sidebar constantly refreshes itself (v3.8.2)"
## Short description

Since yesterday, my TST sidebar started refreshing itself constantly. I noticed that there was also a new release right around that time. So I downgraded back to 3.8.1 and the problem stopped.

(I apologize for not being able to test with a clean Firefox profile right now, but I figured it would be better to at least let you know about the issue than to say nothing about the

[2021-06-12 06:13] Gitoffthelawn opened #2937 "Export/Import of "migratedBookmarkUrls""
I noticed that the export files may contain a section called "migratedBookmarkUrls" that contain the temporary GUID of the installed copy of TST.

I only partially understand the function of that section, and why it is included in the exports (please feel free to explain in more detail!), but I wanted to make sure you considered the following cases that aren't obvious:

1. Install TST in a new Fir

[2021-06-12 08:14] floriangasc commented on #2931
1. «Have you tried disabling TST to see if the issue still persists?» yes and the issue disappear.
2. «Have you tried looking at about:performance when the "slowness" is occurring to see if something else is going on» it's not possible because pc is to slow for open this (event terminal with top not updated).
3. «Have you tried creating a new profile with just TST to see if it happens there?» all

[2021-06-12 12:46] irvinm commented on #2931
I don't think it will be related to the number of overall tabs.  I currently run around 600 tabs, but have been as high as 1200 ... although not in a while.  Let's see what @piroor thinks the next steps around this might be.

[2021-06-12 14:13] piroor commented on #2930
OK, I've tried the combination of the "Breeze Dark" of KDE and the default theme of Firefox, and I've got bright background and dark tab like your screenshot. In short: it happens due to [rules for a bright theme](https://github.com/piroor/treestyletab/blob/180b6fa502587a3528af7f2e4f4671aca58d244a/webextensions/sidebar/styles/proton/proton.css#L98-L113). Paste only [basic style rules for both brig

[2021-06-12 14:20] piroor commented on #2934
User style rules for the purpose need to be updated for TST 3.8.2. I've updated the snippet: https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#disable-browser-theme-colors-and-images-2662

[2021-06-12 14:21] piroor commented on #2934
This is a fault from un-updated user styles, and TST side won't "fix" this.

[2021-06-12 14:36] sith-on-mars commented on #2930
Nice, thanks!

I kind of feels the background colour is bit too dark, almost black. I think the background should look brighter in your KDE and my Gnome environment. Now this is what it looks like:
![image](https://user-images.githubusercontent.com/37974764/121779601-e7152400-cbdf-11eb-912b-fa49b2001225.png)

This is the Photon theme does better with GTK theming and looks closer to the system GTK

[2021-06-12 14:53] piroor commented on #2930
Thanks, I didn't realized that colors of Firefox's "Dark" theme was changed for Proton. With the commit c162c02 you'll see more natural colors on the Dark mode.

[2021-06-12 14:55] sith-on-mars commented on #2930
Incidentally, I discovered that if you put ` --tabbar-bg: var(--browser-bg-darker, ThreeDShadow);` after the line of `--tab-dropmarker: var(--browser-fg, -moz-dialogtext);`, the background of the Proton theme looks the same as the background of the Photon theme. I saw ` --tabbar-bg: var(--browser-bg-darker, ThreeDShadow);` is in the Photon rules, but not in Proton rules and I just copied and paste

[2021-06-12 15:19] sith-on-mars commented on #2930
Tried the latest development build. It looks like this with the [rules for Proton](https://github.com/piroor/treestyletab/blob/180b6fa502587a3528af7f2e4f4671aca58d244a/webextensions/sidebar/styles/proton/proton.css#L72-L97)

![image](https://user-images.githubusercontent.com/37974764/121780432-a0292d80-cbe3-11eb-9b93-43fc7d8f3fb8.png)

It seems to me that [c162c02](https://github.com/piroor/treest

[2021-06-12 17:35] piroor commented on #2935
Yes, it is not related to the device name of Firefox Sync. Firefox doesn't provide any WebExtensions API to get information about Firefox Sync, so TST manages synchronized devices by itself.

`syncDeviceInfo` is the identifier information of the current device. `syncDevice` will have a list of `syncDeviceInfo` synchronized from all your sync devices. `syncDevicesLocalCache` is a copy of `syncDevic

[2021-06-12 18:02] irvinm commented on #2934
@gotyaoi can you add your finding into that section on the wiki and close this item?  Just click the "edit" button, add that one line, and click "save page" at the bottom.  Thanks!

[2021-06-12 18:09] irvinm commented on #2928
@TrianguloY can you close this item?  I don't think there is more to do on the TST side.

[2021-06-12 18:10] irvinm commented on #2929
@satorym can you close this item?

[2021-06-12 18:13] irvinm commented on #2894
@MayeulC is there anything more to discuss or can you close this item?

[2021-06-12 18:16] irvinm commented on #2923
@Gitoffthelawn can you check with the latest build and close this if resolved?

[2021-06-12 18:17] irvinm commented on #2922
@Gitoffthelawn can you see if this is now resolved and close this item?  Thanks.

[2021-06-12 18:18] irvinm commented on #2891
@rileyjw90 any new updates?  Have you tried to see if 3.8.2 is any better for you?

[2021-06-12 18:19] irvinm commented on #2896
@Gitoffthelawn another one ... can you check and close if resolved?

[2021-06-12 18:21] irvinm commented on #2906
@UPuXA can you check with the current build and close this item if resolved?

[2021-06-12 18:28] TrianguloY commented on #2928
And thanks to you for implementing it. I'm currently happy with my button-in-tab extension, but I'll try to play with that new api too.

Sure (I though you closed them when you considered, that's why I kept it open, sorry)

[2021-06-12 18:28] #2928 closed, assigned to nobody

[2021-06-12 18:31] irvinm commented on #2897
@Graemek1 I tried this with TST 3.8.2 and with Windows @ 100% and Firefox @ 120%, I now see the popup at 100% scaling and everything fits and the buttons are visible.  (@piroor I think I would argue that the window scaling should really be at 120% in this scenario, but this works too)

If you are ok with things now, would you close out this item?

[2021-06-12 18:42] irvinm commented on #2916
@jt3k will you close this item?  There is nothing to do on the TST side.  If you still wanted to continue this as a new "discussions" section, I think that would be ok.

[2021-06-12 18:44] irvinm commented on #2914
@JattMones will you close this item?  There is nothing to do on the TST side.  Adding support for the openerTabId property is very simple and is the information that TST needs to be able to track relationships.

[2021-06-12 18:45] irvinm commented on #2888
@ngirard can you close this item?

[2021-06-12 18:46] irvinm commented on #2892
@mzso any updates?

[2021-06-12 18:47] piroor commented on #2937
The purpose is described here: https://github.com/piroor/treestyletab/blob/b6de1f171a639d14c40e202bd481fdd739842218/webextensions/background/migration.js#L295-L301

It is exported and imported because I designed the configs library lazily to import/export all config keys without any exception. However I think it is not dangerous. `migratedBookmarkUrls` just stores URLs no need to be migrated anymo

[2021-06-12 18:54] ngirard commented on #2888
Sorry, got overwhelmed by work.

@irvinm, this is also my interpretation that the options page isn't being properly initialized.

The screenshot I attached was the result of a manual intervention from me ; without touching anything the options page stays blank.

The defect is still present, despite upgrading TST to latest version and Firefox to v89.0.

HTH

[2021-06-12 18:59] irvinm commented on #2865
@NiklasGollenstede just a friendly reminder on this on.

[2021-06-12 19:01] irvinm commented on #2830
@piroor I think you could close this one.

[2021-06-12 19:02] irvinm commented on #2902
@piroor I think you can close this one.

[2021-06-12 19:02] irvinm commented on #2904
@bashtanov any updates on this?

[2021-06-12 19:02] #2830 closed, assigned to nobody

[2021-06-12 19:02] #2902 closed, assigned to nobody

[2021-06-12 19:02] irvinm commented on #2908
@claudio-salvio anything more on this issue?  Can you close it?

[2021-06-12 19:03] irvinm commented on #2912
@ivezakis can you check on the latest build and close this item if resolved?

[2021-06-12 19:06] irvinm commented on #2909
@piroor I think the good thing is that they have said they plan on supporting manifest v2 for at least a year *AFTER* manifest v3 lands.  So there will be some time especially considering I think v3 won't land for several months.

[2021-06-12 19:06] irvinm commented on #2911
@JeffGart any updates on this one?

[2021-06-12 19:10] irvinm commented on #2888
Thanks @ngirard.  Have you tried a new profile with the same versions to see if that works or not?

[2021-06-12 19:21] ngirard commented on #2888
@irvinm, it's working fine with a clean profile.

[2021-06-12 19:27] gotyaoi commented on #2934
Looks like @piroor already updated it, so I think we're all good.

[2021-06-12 19:27] #2934 closed, assigned to nobody

[2021-06-12 19:31] gotyaoi commented on #2936
Have you tried toggling the "Optimize tree restoration with cache" setting off and on in the TST options? That can sometimes help.

[2021-06-12 19:55] irvinm commented on #2888
It looks like things get considered initialized at this point in the process:

https://github.com/piroor/treestyletab/blob/7255652db55c376e0da116a084e3e4dd6fabc990/webextensions/options/init.js#L865

However, there is quite a few things that are done in init.js before that point.  Have you tried exporting your settings and then resetting them in you main profile to see if it works.  (You already k

[2021-06-12 20:05] irvinm commented on #2053
@piroor is it time to close this one?

[2021-06-12 20:09] JeffGart commented on #2911
Apparently the scroll bar is really narrow and on the left. It used to be on the right. But it is there so I’m all good. Thanks for checking!

 From: irvinm ***@***.***>Sent: Saturday, June 12, 2021 3:07 PMTo: piroor/treestyletabCc: JeffGart; MentionSubject: Re: [piroor/treestyletab] Scroll Bar (#2911) 
@JeffGart any updates on this one?

—You are receiving this because you were mentioned.Reply to

[2021-06-12 20:11] irvinm commented on #2416
@piroor did you still want to leave this one open?

[2021-06-12 20:13] irvinm commented on #2000
@piroor \ @tetsuharuohzeki ... any thoughts if we should leave this open or not?

[2021-06-12 20:16] irvinm commented on #2911
That is good to hear @JeffGart ... will you close this item then?  Thanks.

[2021-06-12 20:20] mzso commented on #2892
[**@irvinm**](https://github.com/irvinm) commented on [2021. jún. 12. 20:46 CEST](https://github.com/piroor/treestyletab/issues/2892#issuecomment-860093447 "2021-06-12T18:46:12Z - Replied by Github Reply Comments"):

Still sucks. It doesn't seem to matter how I close them. X or hotkey. Sometimes I close multiple selected tab, somtimes a branch via X. Often it happens when the tabs closed have a lo

[2021-06-12 20:44] NiklasGollenstede commented on #2865
Sorry. I still have a couple of suggestions for TST, and @piroor also [for the search](/NiklasGollenstede/tst-search/issues/10), but we should indeed discuss that seperately.

This week I also [finally got around](/NiklasGollenstede/tst-search/issues/8) to publishing [TST Tab Search on AMO](https://addons.mozilla.org/en-US/firefox/addon/tst-search/).
And as I see, @piroor also already added it to

[2021-06-12 20:44] #2865 closed, assigned to nobody

[2021-06-12 21:16] irvinm commented on #2892
Just for kicks, I fired up Windows Sandbox, installed Firefox, loaded your settings ... and unfortunately didn't have any problems closing or restoring tabs.

I tried:

- Deleting a single tab and restoring with ctrl-shift-t
- Multi-selecting a parent and two children, closing them, then restoring with ctrl-shift-t
- Collapsing a tree, closing with the "X", then restoring them with ctrl-shift-t

Y

[2021-06-12 21:32] Gitoffthelawn commented on #2896
Verified forcing the icon to white is working!  Thank you so much!  Closing now...

[2021-06-12 21:32] #2896 closed, assigned to nobody

[2021-06-12 21:46] Gitoffthelawn commented on #2922
The appearance of those unwanted items in the UI is fixed for me.

Even though they no longer appear in the UI, they keep on multiplying in the internal settings database (even though they are no longer shown).  IIRC, during testing I could get this to happen quite a bit by importing settings files and performing actions to test all the various legal combinations of:

-  "syncAvailableNotified": t

[2021-06-12 21:48] Gitoffthelawn commented on #2935
Thank you for all the answers, confirming the bugs I found, and issuing patches!  Wow!

I need to spend a little more time reading everything you wrote a couple more times and then I may have some more feedback.

Thank you for thanking me for finding and reporting the bugs.  It's nice to feel appreciated, and I certainly appreciate all your efforts as well!

[2021-06-13 00:33] Orxenhorf opened #2939 "new tab button dissappears under version 3.8.2"
## Short description

New tab button skinning disappears when version is updated to 3.82.  (Might just need to know what change between versions is applicable.)

## Steps to reproduce

 1. Download version 3.8.1 from addons.mozilla.com
 3. Select "No Decoration" style in Appearance preferences and install attached file under "Extra style rules for contents provided by Tree Style Tab" in Advanced s

[2021-06-13 01:02] irvinm commented on #2935
@Gitoffthelawn make sure to close this when things are resolved.  Thanks.

[2021-06-13 02:51] I60R commented on #2936
I have the same issue after the same update, except refresh happens only after focus on other tab. Toggling "optimize tree restoration with cache" doesn't help

[2021-06-13 06:54] bughit opened #2940 "regression: "close this tree" lag"
## Short description

Either due to fx or tst update there's now a perceptible lag in the closing of a tree, triggered via the sidebar tab context menu. It's perhaps more evident with "show dialogs in the sidebar"

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3. set "show dialogs in the sidebar"
 4. create a parent->child tree, in addition to the default tab, so t

[2021-06-13 07:57] piroor commented on #2930
After more trials I decided to refresh the Proton theme totally. After the commit 33d3ebe4bc56335567c7397c22cb8fff0d2e5b8c custom user style hack should be obsolete and you just need to change about:config options to apply GTK Dark colors. Could you try the latest development build?

[2021-06-13 08:11] piroor commented on #2939
User styles to restore old appearance need to be updated for TST 3.8.2 and later, because the "new tab" button is now `<div role="button">` instead of `<button>`.  I've updated the snippet https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#restore-old-built-in-themes , so could you try the latest one?

[2021-06-13 08:12] piroor commented on #2939
And I won't "fix" this on TST side because I think this is a problem of a user style.

[2021-06-13 08:24] piroor commented on #2940
Oops this accidentally become closed by the commit message of f3488a6... Anyway it should fix this regression.

[2021-06-13 08:29] piroor commented on #2936
I couldn't reproduce this on Firefox 89.0 on my macOS 11.4 Big Sur. Hmm...

Could you try the latest development build? https://github.com/piroor/treestyletab#development-builds

[2021-06-13 08:41] bughit commented on #2940
There also seems to be a delay in the regular dialog, though not after closing, but between the click and the closing.

[2021-06-13 08:56] piroor commented on #2940
The change looks to solve the problem on regular dialogs.

[2021-06-13 09:02] mzso opened #2941 "The background of TST changes after updating to 3.8.2"
## Short description
I had a theme installed which adds a background image to the toolbar
After updating this vertically stretched became the background of TST. Which doesn't look that hot with the scaled image.

Also, the weird thing is I'm quite sure I overrode the background of TST:   `--browser-background: rgb(12, 12, 13);`

Not sure what to make of this, previously I couldn't make the backgro

[2021-06-13 09:06] piroor commented on #2941
I've reconstructed the Proton theme totally after TST 3.8.2. Could you try the latest development build https://github.com/piroor/treestyletab#development-builds ?

[2021-06-13 09:18] mzso commented on #2941
[**@piroor**](https://github.com/piroor) commented on [2021. jún. 13. 11:06 CEST](https://github.com/piroor/treestyletab/issues/2941#issuecomment-860178400 "2021-06-13T09:06:30Z - Replied by Github Reply Comments"):

I guess. But right now I don't have proton enabled. So, regardless of proton something changed on FF side to make this possible?

[2021-06-13 09:19] piroor commented on #2931
@floriangasc I couldn't reproduce such a crash on my testing archlinux environment. Something stored information may trigger the problem. Could you try bisection to minimize conditions to reproduce the problem? How to do that: https://github.com/piroor/treestyletab/wiki/How-to-minimize-conditions-to-reproduce-a-problem

[2021-06-13 09:21] mzso commented on #2941
[**@piroor**](https://github.com/piroor) commented on [2021. jún. 13. 11:06 CEST](https://github.com/piroor/treestyletab/issues/2941#issuecomment-860178400 "2021-06-13T09:06:30Z - Replied by Github Reply Comments"):

Is anything supposed to look different? It looks rather identical to me.

[2021-06-13 09:22] piroor commented on #2053
Thanks I forgot about this.

[2021-06-13 09:22] #2053 closed

[2021-06-13 09:22] piroor commented on #2941
Sorry I missed the last note about disabled Proton.

[2021-06-13 09:25] piroor commented on #2941
Please describe how to reproduce the problem you saw on my environment. I don't know what theme you are using.

[2021-06-13 10:04] mzso commented on #2941
[**@piroor**](https://github.com/piroor) commented on [2021. jún. 13. 11:25 CEST](https://github.com/piroor/treestyletab/issues/2941#issuecomment-860180736 "2021-06-13T09:25:29Z - Replied by Github Reply Comments"):

I'm not sure there's a problem, or that I just don't understand what happens and why.
The background being replaced despite being set by `--browser-background: rgb(12, 12, 13);`  in T

[2021-06-13 10:07] piroor commented on #2922
I've tried to reset all configs and reload TST, then TST just notifies a message for new users. The problem wrongly notified "sync available" message should go away, except imported configs contains sync information.

The sync feature is sadly very incompatible with import/export configs between synchronized devices. If you export all configs from a synced device and import it to another synced de

[2021-06-13 10:18] sith-on-mars commented on #2930
![image](https://user-images.githubusercontent.com/37974764/121803265-0d8c9b00-cc84-11eb-8235-c19bdb47e597.png)

The new commit made the Proton theme works even better than the GTK hack before. The TST background colour now exactly matches the background colour of the tab bar.

[2021-06-13 10:20] #2930 closed, assigned to nobody

[2021-06-13 10:25] piroor commented on #2000
To be honest I still cannot understand what is the better future produced by completed migration to WebComponents. I think that the WebComponents technology is designed for modules shared across multiple projects, like confirmation dialogs ( https://github.com/piroor/webextensions-lib-rich-confirm ). It looks reasonable that style definitions in TST does not affect to such shared components accide

[2021-06-13 10:25] #2000 closed

[2021-06-13 10:31] piroor commented on #2937
I think it is impossible to cleanup needless `migratedBookmarkUrls` values, because TST cannot detect which case was happeed about an updated `migratedBookmarkUrls`:  "synced from other devices" or "imported from a file".

[2021-06-13 10:58] piroor commented on #2941
Thanks, I've tried those two themes and maybe understood what you told about. In short, you need to clear `--browser-bg-images` with the custom user style, like following:

[code]

Background images are always rendered over the background color. From TST 3.8.2 style declarations for the background is separated to each property: `background-color`, `background-image`, `background-position`, `backgr

[2021-06-13 11:35] sith-on-mars commented on #2930
Many thinks for the improvements!

[2021-06-13 11:43] mzso commented on #2941
@piroor
Hmm. I see.
Though interesting if that I remove bg image and don't set a color I usually get very out of place colors (which appears to be the same as "--theme-colors-frame"). Including with the above mentioned themes. But weirdly even with the built in alpenglow theme I get some light grey instead of the one the built-in sidebars get (a shade of purple).

![kép](https://user-images.github

[2021-06-13 15:53] melimelo45 commented on #2931
I follow tutorial and there is some new fact:

`rm -rf /tmp/fxprofile/ && mkdir -p /tmp/fxprofile`
then
`cp -r ~/.mozilla/firefox/my-old-profile/XXX /tmp/fxprofile`
then
`firefox -no-remote -profile /tmp/fxprofile`

Then i found it's seem's related to one/somes of this files:

`
xulstore.json

webappsstore.sqlite
webappsstore.sqlite-wal
storage
storage.sqlite
storage-sync.sqlite

storage-sync-v2.s

[2021-06-13 15:58] floriangasc commented on #2931
I follow tutorial and there is some new fact:

`rm -rf /tmp/fxprofile/ && mkdir -p /tmp/fxprofile`
then
`cp -r ~/.mozilla/firefox/my-old-profile/XXX /tmp/fxprofile`
then
`firefox -no-remote -profile /tmp/fxprofile`

Then i found it's seem's related to one/somes of this files:

[code]
Moreover i feeling that problem is not produce of the first run but at second run for a given profile:
1. start ff

[2021-06-13 17:56] piroor commented on #2931
Thank you for a research! The result says that one of these data triggers the crash: toolbar customization state (including automatically inserted TST's toolbar button), sidebar state (open/close), window dimensions, or TST's saved configs (they are initialized and saved on the first startup). Hmm, but they look won't trigger any critical crash...

Does the problem happen on Nightly and Firefox ES

[2021-06-13 19:29] piroor commented on #2931
One more testing, could you try these steps?:

1. Start Firefox with clean profile.
2. Install TST. (You told that this don't crash Firefox.)
3. Disable TST via about:addons.
4. Exit Firefox.
5. Start Firefox again.
6. Enable TST via about:addons.

If you don't see any crash with these steps, the problem looks to be a delicate timing issue: two or more operations done at the same time may conflict

[2021-06-13 21:24] floriangasc commented on #2931
I retest tomorrow with your exact scenario, but, i test little variation (because i need my old profile for work):

1. start firefox with old profile (all extension enable and so on),
2. disable TST between ff bootstraping (and before crash).
3. wait bootstrap completed: when all tab and windows seems stable, and when cpu  (command top in terminal) is  also stable.
4. enable TST all seems work.

p

[2021-06-14 03:35] claudio-salvio commented on #2908
Apologies for the delay in responding.
The option mentioned by piroor is the one I was needing.
Thank you very much for making this excellent addon available.
Regards

[2021-06-14 03:35] #2908 closed, assigned to nobody

[2021-06-14 08:27] I60R commented on #2936
Continues to refresh for me on development build, at least with my existing tree structure.

BTW, Manjaro Linux, Firefox 89, sway, large number of tabs (probably > 1000)

[2021-06-14 09:24] piroor commented on #2936
@I60R Thanks! Does the problem happen on a clean profile? If not, could you bisect minimum conditions like as I described at #2931 ?

[2021-06-14 09:29] cosmo0920 opened #2942 "TST is unexpectedly using darker background color on Firefox v89.0 and default theme"
## Short description

After I upgrade Firefox to v89.0, TST starts to use "darker" background color with default theme.
But, tab bar still use gray color that I expected to be used in TST.

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST 3.8.2.
 3. Use TST with Firefox v89.0 and use default theme.
 4. Background color glitch is occurred.

## Expected result

When with

[2021-06-14 09:42] piroor commented on #2942
This is intentional. Currently TST's theme color for Linux is made for the default theme of Ubuntu. Here  is a screenshot on Ubuntu 20.04LTS:
![image](https://user-images.githubusercontent.com/70062/121871482-1f7f4400-cd3f-11eb-91b5-7b618ecc95eb.png)
Sadly Firefox doesn't provide ability to know the exact background color of the native tab bar on GNOME3 to extensions. So I had to decide just one f

[2021-06-14 09:50] cosmo0920 commented on #2942
Oh, that's too bad.
I'm using Adwaita GNOME3 theme for a long time.

![Screenshot from 2021-06-14 18-49-38](https://user-images.githubusercontent.com/700876/121873424-548c9600-cd41-11eb-8400-4986fe03f41b.png)

[2021-06-14 09:53] cosmo0920 commented on #2942
I also found the workaround for this issue which is choosing light theme as already noted on "Expected result".
Thanks for the quick help.

[2021-06-14 09:53] #2942 closed, assigned to nobody

[2021-06-14 09:54] ivezakis commented on #2912
@irvinm Sure, the selected tab is visible now.

[2021-06-14 09:54] #2912 closed, assigned to nobody

[2021-06-14 10:02] piroor commented on #2942
Anyway, I still need something better solution about this problem...

[2021-06-14 10:04] cosmo0920 commented on #2942
Hmm..., should I reopen this issue to store our TODOs?

[2021-06-14 10:35] floriangasc commented on #2931
another information:

tree style tab 3.8.2 on firefox 88.0.1 "release" and firefox "developer" 90.0b4  on archlinux work prefectly (it's not same pc, but almost same hardware)

[2021-06-14 13:02] MayeulC commented on #2894
I think this can be closed. I disabled panorama tabs as it is a bit redundant with TST (although TST is a bit impractical for handling large groups of tabs).

I guess what I really want as a tab manager is a "mind map", sort of like pearltrees, with collapsible trees. TST will do, but it's a bit hard to reorganize the hierarchy sometimes.

[2021-06-14 13:02] #2894 closed, assigned to nobody

[2021-06-14 13:51] irvinm commented on #2894
@MayeulC you could also try https://addons.mozilla.org/en-US/firefox/addon/tab-manager-plus-for-firefox/ and I haven't any problems with it at all ... although it is a little different than panorama tabs.

[2021-06-14 15:16] Luklek opened #2943 "NewTab button disappeared in v. 3.8.3"
In latest version (3.8.3) the following code to count the tabs makes the NewTab button disappear. (it still show the tab count but the button itself can't be clicked)
How should I modify this?

.newtab-button::after {
  content: var(--tab-count-text);
  pointer-events: none;

  position: absolute;
  left: 2.0em;

  /* TST 2.4.0 - Fix for Issue #1664 */
  background: transparent !important;
  mask:

[2021-06-14 16:36] MayeulC commented on #2894
Thanks for the suggestion, I'm trying it, and it looks quite good!

[2021-06-14 17:43] floriangasc commented on #2931
For now :

1. after reinstall msa + graphic card driver and use TST 3.8.3
2. create new profile with all file in bisect that cause not trouble (cf previous post)

all is ok \o/ : no lost any history, or tab hierarchy, all run very well.

I think it's related to this: «Box-shadow, half-transparent colors, and citing of GTK theme colors. If there is unknown bugs around graphic drivers or graphic chi

[2021-06-14 17:47] #2931 closed, assigned to nobody

[2021-06-14 18:00] irvinm commented on #2943
I am not a CSS expert, but it looks like @piroor made some CSS changes recently via https://github.com/piroor/treestyletab/commit/368f1afc6ef09c6f8c4a2af57561645494078620 and swapped ::before and ::after.

I changed my CSS to the following to get it to work.  Can you see if it works for you?  (It only has 2 changes from my original)

[code]

If this works, I can update the Wiki entry for TST 3.8.3

[2021-06-14 18:18] Luklek commented on #2943
Changing "after" with "before" fixed it for me.
Thanks a lot!

[2021-06-14 18:23] irvinm commented on #2943
@Luklek can you close this item?  Thanks.

[2021-06-14 22:49] montoner0 commented on #2943
The workaround doesn't fix the issue completely. Now last tab is overlapped by the NewTab button.

[2021-06-14 23:03] irvinm commented on #2943
@montoner0 screenshot?  I did see a weird artifact, but it cleared up after restarting Firefox.

[2021-06-14 23:33] montoner0 commented on #2943
@irvinm Thanks, Firefox restarting has fixed the overlapping. I thought that re-enabling TST will be enough but it seems not.

[2021-06-15 00:55] piroor commented on #2943
FYI: I also saw such an overlapping. TST 3.8.x sometimes fails to calculate the size of the "new tab" button when it updates the overflow state of the sidebar contents. Without restarting of Firefox, simply hiding and re-showing the sidebar enforce TST to recalculate the size of the new tab button. I need to digging it more to fix it completely...

[2021-06-15 01:32] piroor commented on #2942
I've added a new code snippet: https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#change-background-and-foreground-color-of-the-sidebar-on-the-combination-proton-and-linux-2942

I think this issue should stay closed because currently there is no available better solution. Just for references I put links to bugs of Firefox related to this:

1542044 - browser.theme.getC

[2021-06-15 01:38] piroor commented on #2941
The difference is due to a restriction of WebExtensions API and it need to be solved by Firefox side. Alpenglow has two color schemes bright and dark, and the theme API only returns the bright colors to extensions. Please see also the bug: [1542044 - browser.theme.getCurrent() & onUpdated should take in account `dark_theme` manifest field](https://bugzilla.mozilla.org/show_bug.cgi?id=1542044)

[2021-06-15 02:32] cosmo0920 commented on #2942
Sure. That's make sense.

[2021-06-15 02:40] cosmo0920 commented on #2942
And I edited this part ( https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#change-background-and-foreground-color-of-the-sidebar-on-the-combination-proton-and-linux-2942 ) for readability.

[2021-06-15 07:16] montoner0 commented on #2943
@piroor for me the overlapping happened when I applied the fix to .newtab-button (change `before` to `after`), and hide-show the sidebar didn't help.

[2021-06-15 09:26] pnthach95 opened #2944 "Container tab menu disappears when releasing long-press on new tab button"
## Short description

Before version 3.8.2, to open container tab menu, long-press on new tab button then choose an item.
From version 3.8.2 to 3.8.3, the menu shows but I have to hold and drag mouse to item to open container tab.

## Steps to reproduce

 1. Hold down mouse on new tab to show container tab menu.
 2. Release mouse, the menu disappears.
 3. Hold down mouse on new tab to show contain

[2021-06-15 11:03] #2916 closed, assigned to nobody

[2021-06-15 22:01] viking2 opened #2945 "Close Multiple Tab Options Gone in v 3.8.3"
The right click options to close multiple tabs (e.g. close other Tabs or Close tabs to the bottom) disappeared in TST v3.8.3 (& FF 89.0). The options are still there if I click on the regular top Firefox tabs.

[2021-06-16 01:33] piroor commented on #2945
I've found a bug affecting to the initial startup, and the commit d5b59a1 should fix it. I think your case is also covered by the fix.

[2021-06-16 02:29] piroor commented on #2944
Thanks, this is a regression of recent changes and fixed by commits 10f15a0 and https://github.com/piroor/webextensions-lib-menu-ui/commit/ae4ee9b3004b835ff1e0e514e8b7264193f0f01e

[2021-06-16 03:08] piroor commented on #2943
@montoner0 I've updated the logic to calculate overflow state and new tab button size with recent commits. Could you try the latest development build?: https://github.com/piroor/treestyletab#development-builds

[2021-06-16 12:46] BeholdersEye commented on #1525
Since it is mentioned only once in a comment above, let me emphasize:

**Current builds of Firefox will ignore <profile>/chrome/userChrome.css** unless you enable the about:config setting-

toolkit.legacyUserProfileCustomizations.stylesheets = true

Ridiculous how hard Firefox devs work to defy the clear purpose of this extension. Anyone else remember: "Your web, the way you like it?"

[2021-06-16 14:23] piroor commented on #2892
I don't know this is same to @mzso's case but I saw similar problem with these steps:

1. Start Firefox.
2. Install TST.
3. Install "TST Active Tab in Collapsed Tree".
4. Prepare tabs as:
[code]
5. Set B active.
6. Collapse tree A. (Then B is still active in the collapsed tree.)
7. Middle-click A to close the tree. (Confirm to close if necessary.)
8. Hit Ctrl-Shift-T.

Expected result:

[code]

Ac

[2021-06-16 15:14] piroor commented on #2892
The commit 0c59c9b should fix my case. @mzso Could you try the latest development build?: https://github.com/piroor/treestyletab#development-builds

[2021-06-16 15:30] piroor commented on #2416
I've tried GitLocalize again https://gitlocalize.com/repo/3459 and it still looks to have some troubles. After I successfully synchronize resources on GitLocalize, I'll close this.

[2021-06-16 15:56] piroor commented on #2888
I've introduced some changes 642caa9 and 546a1bf, now TST continues initialization process of the options page even if there are some failures. This is not the best solution, but I hope it should help people suffered from whilte-outed options page and they can access to available options.

[2021-06-16 16:57] piroor commented on #1525
I agree the decision of developers of Firefox that Firefox won't implement WebExtensions API to hide the horizontal tab bar completely. It is necessary to guard people from unexpected troubles. (But, user-choosable option to toggle visibility of the tab bar looks reasonable for me. Current userChrome.css hack is too dangerous. Too less customizability lead people in more dangerous methods like tha

[2021-06-16 17:18] ngirard commented on #2888
@piroor, thank you very much for your efforts, and apologizes for not being able to devote enough time to qualify this defect any further, despite @irvinm's wise thoughts.

I might be able to find some time after june 21st if needed, though.

[2021-06-16 18:09] mintern opened #2946 "New code snippet to remove vertical space between tab borders and tab active areas"
**Before my tweak:**

![Screenshot from 2021-06-16 10-49-40](https://user-images.githubusercontent.com/3847612/122268237-af80d300-ce90-11eb-879f-c03c00324ed4.png)

**After:**

![Screenshot from 2021-06-16 11-10-36](https://user-images.githubusercontent.com/3847612/122270823-92013880-ce93-11eb-8967-6d5ca3563e23.png)

On Firefox 89.0, the tabs are now much more spaced out. The primary issue seems to

[2021-06-16 21:49] montoner0 commented on #2943
@piroor I've tried the latest build and it behaves better: no need to fix overlapping with Firefox restarting, hide-show the sidebar is enough but it still overlaps the last tab after changing the CSS selector.
Actually it's quite reproducible, all you need is to change the CSS selector from @irvinm's post `.newtab-button::after` to `.newtab-button::before`. And you need either enough amount of ta

[2021-06-17 00:56] piroor commented on #2943
How about this?

[code]

If this works as expected, please update the code snippet wiki.

[2021-06-17 01:24] piroor commented on #2946
Thank you for a feedback. The code snippets is a wiki, a user-generated content, so it is OK to update the page by yourself. I think it will be better with adding note like "For Proton theme".

[2021-06-17 01:27] piroor commented on #2946
You'll see more other editors in the history:
https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules/_history
(My commit messages are not good... descriptive commit messages are actually recommended.)

[2021-06-17 01:47] confluence commented on #2888
I am experiencing this issue in 3.8.3 with Firefox 89 on Ubuntu 20.04. I can't use the workaround because I can't see the `#document` node at all in the inspector and so I cannot edit its CSS.

[2021-06-17 01:55] piroor commented on #2888
@confluence You'll need to use `about:debugging` to inspect DOM tree of extension options.
https://github.com/piroor/treestyletab/wiki/How-to-inspect-tree-of-tabs#how-to-start-debugger-for-tree-style-tab

[2021-06-17 02:00] confluence commented on #2888
I installed the 3.8.3.11565 release, and the issue persists. I can view the settings if I open them in a new tab (I was able to obtain the URL by right-clicking in the invisible embedded page to view the page source, and editing that URL).

[2021-06-17 02:09] confluence commented on #2888
When I uninstalled the development version and reinstalled the signed version, the problem appeared to fix itself. I'm not sure if this could have something to do with the length of the preferences page -- a freshly installed version has all the sections collapsed by default.

Thanks for the debugger tip -- I will try that if the problem reoccurs.

[2021-06-17 06:56] mzso commented on #2892
[**@piroor**](https://github.com/piroor) commented on [2021. jún. 16. 17:14 CEST](https://github.com/piroor/treestyletab/issues/2892#issuecomment-862466375 "2021-06-16T15:14:22Z - Replied by Github Reply Comments"):

I'll try it.

[2021-06-17 12:10] NgoKimPhu opened #2947 "Clicking "Close Tab" button on the TST sidebar twice doesn't force close a tab with leave confirmation alert popup"
## Short description
Clicking "Close tab" button again after close-tab confirmation dialog pops up doesn't force close the tab. This is the behavior for the traditional Tab bar.

## Steps to reproduce
 1. Start Firefox with clean profile.
 2. Install TST.
 3. Go to a page that implements Leave confirmation alert (e.g. https://cdpn.io/nvictorme/fullpage/OGpQbX)
 4. Click the "Close tab" button on t

[2021-06-17 13:47] piroor commented on #2947
Sadly this is impossible to "fix" by extension side, this is one of restrictions of WebExtensions API.

Firefox's built-in "close tab" action uses [a special option `skipPermitUnload`](https://searchfox.org/mozilla-central/search?q=skipPermitUnload&redirect=false). When the option is given, Firefox forcefully closes the tab. On the other hand, [the implementation of the `tabs.remove()` WebExtensio

[2021-06-17 13:52] NgoKimPhu commented on #2947
thank you for the detailed explanation

[2021-06-17 13:52] #2947 closed, assigned to nobody

[2021-06-17 18:04] Orxenhorf commented on #2939
Works well, and in the newer 3.8.3 as well.   Thank you.

[2021-06-17 18:04] #2939 closed, assigned to nobody

[2021-06-17 21:51] I60R commented on #2936
So, I've found the cause of problem: [VivaldiFox extension](https://addons.mozilla.org/en-US/firefox/addon/vivaldifox/) — TST don't refreshes after I disabled it. Still cannot reproduce the same behavior on a clean profile with both extensions installed.

[2021-06-18 00:06] irvinm commented on #2936
@I60R can you close this item?  You can always reopen if there really is a problem.

[2021-06-18 01:38] piroor commented on #2936
@I60R Thanks, I got what happens. The reloading by tab switch is triggered due to the option "Themes" => "Frame" => "Apply page colors" in VivaldiFox Options. Due to the change 89defeadad2fd34a74bb868e96172d203c9ec0c9 introduced for another issue #2903, TST now updates the URL of the sidebar panel including "bgcolor" information to apply theme color ASAP. I didn't imagine cases like this: changing

[2021-06-18 01:54] piroor commented on #2903
The change to apply background color to the sidebar panel unexpectedly introduced too frequent reloading of the sidebar on a case any addon changing browser theme frequently is installed. There is a report about a combination with VivaldiFox at #2936.

[2021-06-18 02:05] piroor commented on #2936
I've removed codes changing the sidebar panel too frequently with the commit 2f5a486.

[2021-06-18 02:06] piroor commented on #2903
I've removed codes changing the sidebar panel too frequently with the commit 2f5a486. To reduce white flashing, we'll need to use userContent.css again...

[2021-06-18 08:10] I60R commented on #2936
@piroor Thank you, I installed development build and confirm that this fixes the problem. I think this issue could be closed

[2021-06-18 10:03] #2940 closed, assigned to nobody

[2021-06-18 16:33] garymoon commented on #2865
Thanks so much to Niklas and piroor (and everyone else involved) for this! It's an amazing improvement for us unrelenting tab-whores! :blue_heart:

[2021-06-18 18:54] haoadoreorange opened #2948 "[UX Discussion/Help] Tree indentation with code editor tree line style"
## Short description
Hello, I recently made a few modification to the TST indentation, and since it makes more sense this way I thought it might be nice to have it as default.

Here's the current default:
![image](https://user-images.githubusercontent.com/22086462/122604807-12779300-d066-11eb-8546-c788f420f13a.png)
And here's mine:
![image](https://user-images.githubusercontent.com/22086462/122604

[2021-06-18 22:41] irvinm commented on #2948
@piroor maybe move this to the discussions section?

[2021-06-19 14:52] irvinm commented on #2948
@haoadoresorange I spent a little time looking at this today and thought I would share my thoughts.  (Please keep in mind I am not a CSS expert)

The reason your CSS works is that you are changing how the far left border is both displayed (dashed grey) and where is is located (changing the indentation).  What you are trying to do is to continue other dashed lines down along side of them.  The chal

[2021-06-19 15:24] irvinm commented on #2948
One new idea, but maybe you could add a "box" for each level of indentation in an addon via the "Extra Tab Contents API" right before the favico.  For each box, the left border could be formatted with the dashed line and when you aligned everything up, it should look like multiple lines as necessary.

Obviously this is more work than just CSS and the tabs would have to be monitored for changes in

[2021-06-19 15:35] irvinm commented on #2946
@mintern can you update the wiki and close out this item?  Thanks.

[2021-06-19 15:40] irvinm commented on #2935
@Gitoffthelawn just a friendly reminder.

[2021-06-19 15:41] irvinm commented on #2911
@piroor I think it is ok to close this one.

[2021-06-19 15:44] irvinm commented on #2914
@piroor I think this one can be closed.

[2021-06-19 15:45] irvinm commented on #2897
@Graemek1 just a friendly reminder.

[2021-06-19 15:45] irvinm commented on #2906
@UPuXA just a friendly reminder.

[2021-06-19 15:46] irvinm commented on #2891
@rileyjw90 just a friendly reminder.

[2021-06-19 15:46] irvinm commented on #2923
@Gitoffthelawn just a friendly reminder.

[2021-06-19 15:47] irvinm commented on #2929
@piroor I think this one can be closed.

[2021-06-19 15:47] UPuXA commented on #2906
I will try it this weekend.

[2021-06-19 15:49] irvinm commented on #2927
@altano any feedback?  Anything more to do with this one or will you close it?

[2021-06-19 15:51] irvinm commented on #2943
@Luklek can you close this item?

[2021-06-19 16:16] irvinm commented on #2937
Given that this really can't be resolved, can we close this item?  (@Gitoffthelawn \ @piroor)

[2021-06-19 16:18] irvinm commented on #2904
@bashtanov just a friendly reminder.

[2021-06-19 16:21] irvinm commented on #2922
@piroor is there anything more to do with this one or should we close it?

[2021-06-19 16:29] haoadoreorange commented on #2948
Hi,
Thanks a lot for the comment. Actually for the problem you mentionned I found a workaround which will de-indent according to a variable set from root.
The real challenge is, for each nested level, I need another line that is indented, that means for level 2 there should be 2 lines, level 3 3 lines and so on, dynamically. I don't see how to make that happens in css, regarding 2 following proble

[2021-06-19 16:40] irvinm commented on #2948
@haoadoresorange you definitely have a handle of the problem.  I forgot to include a link to the API:  https://github.com/piroor/treestyletab/wiki/Extra-Tab-Contents-API

Also, if you look at the example addon using this API, I could see a situation where you could do what you want via a helper addon but obviously it is a lot more involved.  https://addons.mozilla.org/en-US/firefox/addon/tst-tab-d

[2021-06-19 20:44] haoadoreorange commented on #2948
Yeah after looking around I come to the conclusion that an addon helper shall be the less hacky way to do it. Are you interested ?

[2021-06-19 23:09] mintern commented on #2946
I’ll close it out. I’m not able to update the wiki at this time.

On Sat, Jun 19, 2021 at 10:35 irvinm ***@***.***> wrote:

[2021-06-19 23:10] #2946 closed, assigned to nobody

[2021-06-20 01:12] irvinm commented on #2948
Interested?  Kind of.  Capable?  Not really.  I only know enough to be dangerous and maybe be able to modify working code.  Sorry.

[2021-06-20 03:08] piroor commented on #2948
How about this?:

[code]

screenshot:
![image](https://user-images.githubusercontent.com/70062/122668066-5d71e180-d1f1-11eb-9d5f-5beb27bf510b.png)

[2021-06-20 03:17] #2922 closed, assigned to nobody

[2021-06-20 03:17] #2929 closed, assigned to nobody

[2021-06-20 07:52] piroor commented on #2929
I've added a new snippet:
https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#fold-too-long-tab-labels-instead-of-crop-2929

[2021-06-20 07:53] #2911 closed, assigned to nobody

[2021-06-20 09:10] piroor commented on #2948
I've added a new snippet: https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#indent-border-like-visual-studio-code-2948

[2021-06-20 09:29] UPuXA commented on #2906
It works like a charm. I will close this issue.
Have a nice day guys 🎉

[2021-06-20 09:29] #2906 closed, assigned to nobody

[2021-06-20 11:52] irvinm commented on #2948
... and if you remove the 1px border from the tab, the lines look continuous.

[code]

![image](https://user-images.githubusercontent.com/979729/122672962-47860180-d19c-11eb-8eb3-a622f64bee28.png)