[2020-06-26 10:51] ssc41 opened #2621 "Firefox high CPU usage"
## Short description
When I try and attach a file in Yahoo mail or login to my router, firefox locks up and a single thread maxes out. Both of these thing open a new window in the browser.

## Steps to reproduce

Using Firefox as normal and when I either try and attache a file in yahoo mail or login to my router, firfox locks up.

I know its something to do with this addon as I disabled everything

[2020-06-26 23:31] EpsilonRose commented on #2546
I seem to still be having this issue, but I'm not sure if I missed something. Just to double check @Drive4ik, did you push your fix to your addon and/or did the other bug you mentioned prevent it from working?

Also, I wanted to clarify something I noticed with one of the other posts. It seems like the only factors that effect whether the trees in a group get flattened are the window the group was

[2020-06-27 07:47] Githubwoman commented on #2621
Can you specify what kind of file do you want to attach (doc, txt, zip, etc.)?
Which CPU is in your PC?

I can't reproduce this issue but I can tell that on Intel Pentium N3450 (4 core atom), yahoo mail page is heavy burden.

Can you open about:performance tab before that grind and check what causes highest power usage?

Hint: I disabled cache in TST (option->advanced: optimize tree restoration wi

[2020-06-27 08:11] Githubwoman commented on #2621
That's rather interesting. I've encountered similar heavy load scenarios when I accidentally moved whole big tree (200+ tabs) to another window. You can do that by just dragging "parent" tab out of the side panel. I also "disabled" that feature in options-> drag and drop and switched drag to only move tree tabs inside one window.

[2020-06-27 08:49] Githubwoman commented on #2485
I've got same issue on one of my PC.
But setting in about:config "browser.tabs.insertAfterCurrent" to true seems to resolve that problem. At least if you want your new tab to just be a child of current tab and to go as first.

On my second PC that issue isn't occurring. I will check there if "browser.tabs.insertAfterCurrent" is set.

[2020-06-27 08:50] ssc41 commented on #2621
Got a Ryzen 2600x with 32Gb of memory so it should handle this with no problem. The reason I closed this was I closed a copule of tabs and it started working again, maybe related to the number of tabs open.

[2020-06-27 09:07] Githubwoman commented on #2411
Thanks for all your hard work.
I'm sad that issue seems to not be 100% resolved by Mozilla.

I had incidents when from unknown reason my current tree tab (sometimes even 200+ tabs) just "decided" to go to another window. That took big tall on my Intel N3450 (Atom CPU).
Now I'm almost sure that it is connected to "zombie drag" issue of FireFox (even up to date version 77.0.1). As a precaussion I ch

[2020-06-27 10:21] piroor commented on #2621
Is this mistakenly closed?
A performance profile can become a hint to detect the bottle neck.
https://github.com/piroor/treestyletab/wiki/How-to-inspect-tree-of-tabs#how-to-collect-a-performance-profile

[2020-06-27 10:24] ssc41 commented on #2621
I just thought it was a rogue tab, maybe there is an underlying performance issue.

[2020-06-27 12:45] Githubwoman commented on #2621
I'm almost sure that it isn't TST performance bottleneck. When I move tree tab between windows they seems to be reloaded. When you have something like 200 tabs that will take a tall from small CPU :).

That's why I was suggesting to ssc41 that maybe he accidentally moved such a tree of tabs (there were a mention about opening new browser window). Then I connected that to "fantom drag" which you me

[2020-06-27 18:43] nollinvoyd opened #2622 "Disable tree behavior"
I just want a simple menu with no Tree behavior.

Some time ago you advised me how to do that.  Something about debug mode. Recently, I did a "reset all", and now i cant remember how to get back to the menu the way I want it.

[2020-06-27 18:59] irvinm commented on #2622
From the main page:

I don't need automatically organized tree, instead I just want to organize tree by myself

You can deactivate TST's automatic tree organizing behaviors, by some secret preferences:

    Go to TST's configuration.
    "Development" section.
    Turn on the checkbox "Debug mode". Then all internal configurations are listed.
    Turn off the checkbox "autoAttach".
    Turn off th

[2020-06-28 12:13] ssc41 commented on #2621
Attached a performance profile that I got while having the problem. Not a major hang but certainly took a time to get responsive again.

[profile.zip](https://github.com/piroor/treestyletab/files/4842217/profile.zip)

[2020-06-29 15:00] irvinm opened #2623 "TST Sync Error (Insufficient Storage)"
## Short description
Firefox Sync looks to be trying to sync a TST object that is larger than the allowed 16384 Bytes.

## Steps to reproduce
Not sure yet.  It appears to be dependent on the number of tabs, but it could also be related to a TST helper addon which creates a new state for the tab. (https://github.com/piroor/treestyletab/issues/2104) I had a larger session of tabs (around 750) and st

[2020-06-29 15:43] mwoffenden opened #2624 "TST - How to change color of pinned tabs?"
## Short description

It's hard to see which tabs are pinned.  Is there a way to change the background color of all pinned tabs?

## Environment

 * Platform (OS): MACOS 10.15.5
 * Version of Firefox: 77.0.1 (64-bit)
 * Version (or revision) of Tree Style Tab: 3.5.5

[2020-06-29 16:15] irvinm commented on #2624
`.tab.pinned {
  background: pink !important;
}
`

Customize to your liking ... :)

[2020-06-29 17:25] mwoffenden commented on #2624
That was easy!

[2020-06-29 17:25] #2624 closed, assigned to nobody

[2020-06-29 17:33] mwoffenden opened #2625 "Pinned tabs don't have close button"
## Short description

Any way to add the close button to pinned tabs?

## Environment

 * Platform (OS): MACOS 10.15.5
 * Version of Firefox: 77.0.1 (64-bit)
 * Version (or revision) of Tree Style Tab: 3.5.5

[2020-06-29 18:25] irvinm commented on #2625
You can certainly use CSS to show the close button on pinned tabs, but you will also have to play with how the dimensions are done with pinned tabs in order to create some width for the buttons.  You will probably want to look over base.css and search for "pinned" as a starting point.

The two easiest ways without any changes, I know of, to close a pinned tab is to (1) right-click on the tab and s

[2020-06-29 20:52] mwoffenden commented on #2625
Hoping to see this as a feature in a future release.  I do a lot of pinning and the (X) close button would be very nice.

[2020-06-29 22:43] irvinm commented on #2625
@mwoffenden of course ... I'll let @piroor comment if he wants to do that or not.  Thanks.

[2020-07-01 15:16] piroor commented on #2623
The helper addon looks to be unrelated to the problem. The error you saw is returned by the sync server hosted by Mozilla, and it means that TST stores too large data via `browser.storage.sync`. If you use very long user-defined styles, it may exceeds the maximum storage size for sync.

[2020-07-01 15:28] piroor commented on #2623
The error message you saw says that it exceeds 16KB, but it is mysterious for me why the sync server returns the error, because the API document https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/storage/sync says that the maximum data size for sync is 100KB...

[2020-07-01 15:51] piroor commented on #2623
I've introduced some changes to drop some temporary config data from sync keys. These changes should reduce such a sync error...maybe.

[2020-07-01 15:56] irvinm commented on #2623
@piroor with my high level review of the issue, it looks like it is 100k for the total storage and 8k for "The maximum size (in bytes) of each individual item in sync storage, as measured by the JSON stringification of its value plus its key length." ([link](https://developer.chrome.com/extensions/storage#property-sync))

I also saw comments that Firefox based their specs on Chrome, but increased

[2020-07-01 16:44] irvinm commented on #2623
@piroor I know what is causing my issue.  It is my TST CSS.  With it in, I must be over the individual item limit, but when I clear it out sync works properly.  I will try clearing out my documentation\comments in my CSS to see if that gets me below the threshold as I do have a fair amount of information as to where I got some of the customizations.  MS Word tells me there are 10,101 characters (n

[2020-07-01 16:44] #2623 closed, assigned to nobody

[2020-07-01 16:58] piroor commented on #2623
Thank you for the research!
Firefox's `browser.storage.sync` doesn't have these constant properties, but the implementation looks to know those max sizes of data internally.
https://searchfox.org/mozilla-central/rev/31d8600b73dc85b4cdbabf45ac3f1a9c11700d8e/toolkit/components/extensions/schemas/storage.json#318
https://searchfox.org/mozilla-central/rev/31d8600b73dc85b4cdbabf45ac3f1a9c11700d8e/toolk

[2020-07-02 19:38] haydenseitz opened #2626 "[feature request] Number of open tabs label on extension icon"
## Short description
Hello! It would be very helpful to have a label/indicator with the total number of open tabs in the current window (parent and child tabs) on the extension icon.

![image](https://user-images.githubusercontent.com/17074342/86402411-a20f1080-bc60-11ea-9863-bf7adb041a61.png)

The lastpass extension has something similar:

![image](https://user-images.githubusercontent.com/170743

[2020-07-02 19:54] irvinm commented on #2626
Not a direct solution, but one option is that you can display your tab situation via TST CSS on the new tab button however you want.  I never use the new tab button, but wanted to know how many tabs were loaded and the total number of tabs.  (Loaded tabs / total tabs)  Here is what mine ended up looking like.

![image](https://user-images.githubusercontent.com/979729/86403480-cc21fc00-bc7b-11ea-9a

[2020-07-02 19:56] haydenseitz commented on #2626
@irvinm I like that! What CSS styling did you use to get that?

[2020-07-02 20:13] irvinm commented on #2626
Actual counting:  https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#tab-numbering-and-counting
Displaying counts:  https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#tab-counts-in-new-tab-button-1661

Customize to your heart's desire!

[2020-07-02 21:39] irvinm opened #2627 "[Idea] Support for FF78 multiple tab "Undo Close Tab""
## Short description
FF78 adds the ability to "Undo Close Tab" for multiple tabs if they are all closed with a single operation.  It might be a nice safety feature if TST were to be able to support this concept.

https://www.mozilla.org/en-US/firefox/78.0/releasenotes/

## Steps to reproduce

 1. Install FF78 without TST
 2. Create multiple tabs
 3. Multi-select several tabs (Shift or Control clic

[2020-07-03 00:00] nollinvoyd commented on #2622
Thank you.

[2020-07-03 01:16] #2622 closed, assigned to nobody

[2020-07-03 01:58] piroor commented on #2627
Firefox updates the menu label just after multiple tabs are closed via "Close Tabs to the Right" or "Close Other Tabs" commands.

https://searchfox.org/mozilla-central/rev/31d8600b73dc85b4cdbabf45ac3f1a9c11700d8e/browser/base/content/tabbrowser.js#3254

The command "Undo Close Tab*s*" gets the number of tabs to be restored via an internal API, and repeatedly restores tabs internally.

https://sear

[2020-07-03 02:05] piroor commented on #2627
There is one concern: `sessions.getRecentlyClosed()` doesn't allows us to fetch very large number sessions. The maximum count of fetchable sessions is restricted to 25. It looks too small for TST's usage...

[2020-07-03 02:16] piroor commented on #2626
The feature is out of TST's purpose, so I won't implement it natively, sorry. Workaround based on custom styles looks a good alternative.

[2020-07-03 02:16] #2626 closed, assigned to nobody

[2020-07-03 02:23] piroor commented on #2625
I won't add this feature natively because Firefox's native pinned tabs also doesn't provide such a feature, but you can reactivate the closebox for pinned tabs in TST's sidebar via a custom style rule like following:

[code]

This example shows the closebox at the top-right edge of each pinned tab, only when the tab is hovered.

[2020-07-03 02:24] #2625 closed, assigned to nobody

[2020-07-03 02:26] piroor commented on #2625
I've added it to the snippets: https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#show-closebox-for-pinned-tabs-2625

[2020-07-03 12:38] irvinm commented on #2627
Thanks for checking it out.  I actually thought about potential WebExtensions limitations after I posted the idea and figured there might be some.

My biggest concern was collapsed trees that were accidentally closed.  (Obviously this shouldn't happen often)  Up to this point, the workaround is to simply use a session manager and restore the session.  However, not everyone uses a session manager.

[2020-07-03 12:38] #2627 closed, assigned to nobody

[2020-07-03 15:15] mwoffenden commented on #2625
Works great!

[2020-07-04 06:13] piroor commented on #2627
I've experimentally implemented the "Undo Close Tab*s*" behavior. TST now tries to restore the set of tabs closed together, when one of them is restored. This behavior becomes active only after any operation to close multiple tabs at a time on TST - close tree, close tab with collapsed descendants and others.

[2020-07-04 06:47] piroor commented on #2619
I've added a new shorthand URI `ext+treestyletab:tabbar`. On the next release you just load `ext+treestyletab:tabbar?windowId=...`, then TST automatically redirects it to the real URL.

[2020-07-04 08:30] Lej77 commented on #2619
@piroor Thanks! I didn't think about such a change but this would mean that I don't need to figure out Tree Style Tab's internal id by parsing URLs which should make my extension a lot simpler to use since users don't need to grant it the `tabs` permission!

[2020-07-05 03:44] viking2 opened #2628 "Unread Tab in Legacy TST?"
The webextension version of TST has the option to add style rules.  For example, I use "Show title of unread tabs with red and italic font "

I  need to use the legacy version of TST with Waterfox. Is there any way to also "Show title of unread tabs with red and italic font " in this case?

I tried  the "Tab flip for Tree Style Tab " (https://addons.mozilla.org/en-US/firefox/addon/tab-flip-for-tre

[2020-07-05 05:36] piroor commented on #2628
TST for legacy Firefox is not maintained by me anymore. There are some forks (for example https://github.com/Ulf3000/treestyletab ) and I guess Reddit or somewhere community of Waterfox users is better place to get support.

It is not compatible to legacy TST, because the helper addon is made on the API initially implemented at WebExtensions TST.

[2020-07-05 05:36] #2628 closed, assigned to nobody

[2020-07-05 08:20] vohzi opened #2629 "Tabs randomly detach while expanding / collapsing a tree and are too sensitive"
## Short description
Tabs randomly detach while expanding / collapsing a tree and are too sensitive
## Steps to reproduce
Randomly expanding tabs will be registered as detach attempt and the whole tree will be dragged out of the window.
I've tried setting browser.tabs.allowtabdetach = False which should disable detaching but they still detach.
Other anti-detach addons don't seem to work with TST e

[2020-07-05 12:36] Lej77 commented on #2619
@piroor I was testing the [development build](https://github.com/piroor/treestyletab/releases/tag/3.5.6) of the new `3.5.6` version of Tree Style Tab and I noticed that the `ext+treestyletab:tabbar?windowId=3` URI seems to be redirected to `moz-extension://xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/sidebar/sidebar.html?ext%2Btreestyletab%3Atabbar%3FwindowId%3D3`. The same happens without the `windowId`

[2020-07-05 16:29] Tragen commented on #2629
I have a very similar issue. The tab with its tree is detached and moved to a new window.
I often have this when I click on a tab and when I click, I move the mouse some pixels and the tab is moved to a new window.
But it is really only a few pixels.

For me this happens without expanding or collapsing a tree.

[2020-07-05 17:02] piroor commented on #2629
Issues #2411, #2256, https://bugzilla.mozilla.org/show_bug.cgi?id=1476195 and https://bugzilla.mozilla.org/show_bug.cgi?id=1561879 are possibly related to the "raudom detach" problem.

By the way, setting `browser.tabs.allowTabDetach`=`false` via `about:config` doesn't affect to TST because it just affects to the behavior on Firefox's native tab bar. Instead you need to do:

1. Go to TST's options

[2020-07-05 17:14] piroor commented on #2619
@Lej77 Sorry I missed the redirection with query parameters. The commit e48be28 should fix it.

[2020-07-05 17:23] Lej77 commented on #2619
@piroor Thanks!

[2020-07-06 07:19] Tragen commented on #2629
Hmm. I use the functionality to drag a tree to another window or to a new window every day.
I would have no problem if I would have to open a new empty window for it.
Would it be save to have this functionality only when e.g. the ALT key is pressed while dragging the tabs?

[2020-07-06 07:44] Tragen commented on #2629
One question, only half related to this bug. My main problem with this is that the whole tree (the tabs are discarded) all tabs get loaded when moved to a new window.
So for me with a tree of 20 to 100 tabs, it takes a long time.
Is this a bug in TST? Should I open a new bug?

[2020-07-06 13:52] Lej77 commented on #2619
I have released a new version (v5.0) of my [Tree Style Tab in Separate Window](https://addons.mozilla.org/firefox/addon/tst-in-separate-window/) extension. Thanks to all these changes it no longer needs to determine TST's internal id which means that it doesn't need to request the `"tabs"` permission the first time it is used (it is optional since the user could also manually enter TST's internal

[2020-07-06 14:06] piroor commented on #2619
Thank you for the update!

I've tried the new version of Tree Style Tab in Separate Window and realized that tab context menu commands are not available on separate windows. It is because TST's simulated menu items are restricted just on sidebar panel. After the commit 83bc320 you can use those menu items on TST's tabbar always.

[2020-07-06 15:05] piroor commented on #2629
By default dragging with no modifier detaches tabs to a new window, and dragging with the Shift key doesn't detach dropped tabs. You can invert these behavior via TST's options => Drag and Drop. Have you tried that?

I don't know why it happens but it looks a bug or restriction of Firefox itself. TST doesn't have any code to restore tabs after moving across windows.

I've tried to move tabs across

[2020-07-06 15:39] Lej77 commented on #2619
Wow, thank you! I just tested the latest development version of Tree Style Tab and it works perfectly!

[2020-07-06 17:04] Keppl commented on #2593
Is there by chance an option to  re-enable original behavior.
I got used to ctrl-clicking to get a new child tab;
If not, that fine, I will learn to middle click instead, eventually :D .

[2020-07-06 19:53] vohzi commented on #2629
You"re a lifesaver, thanks ! How could I not see this...

[2020-07-06 20:18] #2629 closed, assigned to nobody

[2020-07-06 23:54] Valentin-N opened #2630 "New tab container list continously scrolled to the bottom of the list"
## Short description

I'm unable to create a new tab in a container situated at the top of the containers list when a large number of containers are in use (in my case, one per tab). This is because the container list is continously scrolled to the bottom of the list.

## Steps to reproduce

1. Start Firefox with clean profile.
2. Install TST.
3. Create a large number of containers (e.g. 100)
4. E

[2020-07-07 12:16] Jmennius opened #2632 "Touch VPN slows/delays TST render opening/closing/activating tabs"
## Short description

When [Touch VPN](https://addons.mozilla.org/en-US/firefox/addon/touch-vpn/) is installed opening or closing tabs is very slow.
The action/animation in TST is delayed for a few seconds while the browser itself opens or closes immediately.

I do not actually know if the native FF tab bar behaves well (I have it hidden).

## Steps to reproduce

Installing Touch VPN and TST shoul

[2020-07-07 12:27] Jmennius commented on #2632
I am totally OK with closing this as a 3rd-party issue (if it is), just want the info to be available.

[2020-07-07 13:39] piroor commented on #2630
Thanks! It should be fixed with the commit https://github.com/piroor/webextensions-lib-menu-ui/commit/48a1b576a8580b378fb5d7306fabaa4fc27ebb7d

[2020-07-08 11:58] cam29 opened #2634 "Version 3.5.7 breaks TST Hoverswitch"
Just that. Version 3.5.7 breaks the all-important TST Hoverswitch…

 * Platform (OS): Windows 10 2004
 * Version of Firefox: 78.0.1

[2020-07-08 15:28] irvinm commented on #2634
Looks like this should be fixed after the next release of TST:  https://github.com/piroor/treestyletab/commit/366096495b2e4dc0835a19654da88e8700bb2083

[2020-07-08 23:06] klemens commented on #2634
Yes, we have already fixed this, just waiting on a new release. :slightly_smiling_face:

[2020-07-09 01:37] viking2 opened #2635 "Missing Tabs"
I have several tabs open but TST only shows the Tabs to the right of current Tab. To select a Tab to the left of the current tab, I need to use FF standard Tabs on top.
![](https://i.gyazo.com/a6682acf40e0956db3191e131c03e76b.png)

Firefox 78.0.1
TST 3.5.7
OS WIN7 (x64)

[2020-07-09 01:41] zeromus opened #2636 "tab labels now in bold"
Hi there. Apologies for creating a not-quite-a-bug here. This seems to be a new problem and I wanted to create a bug for other people with the same problem to find, until the problem is fixed properly or otherwise triaged. I hope you don't mind.

Did you notice that your tab labels are all in BOLD suddenly? It's 2020 and stuff updates without our permission, so that must have happened. Here's how

[2020-07-09 01:44] viking2 opened #2637 "Trivial question: How to I Promote(Demote) a child one level Up(Down)?"
Trivial question: How to I promote(Demote) a child one level up(Down)?
Dragging dropping with the mouse gives somewhat random results. Demoting seems to work better than promoting.
There are no right-click menu commands for this? Are there any keyboard shortcuts?

[2020-07-09 01:52] viking2 commented on #2619
Sorry, but I don't know how to check which commits are included in the signed version. How do I do that?
I have TST 3.5.7.  Does this include commit  83bc320 ?
I still can't see the menu in TST-in-Separate-Window (v. 5.0)

[2020-07-09 02:20] irvinm commented on #2636
I don't see any differences around tab labels being bold.  Can you reproduce this in a clean profile with just TST installed?

Can you list the steps to reproduce this?

[2020-07-09 02:22] irvinm commented on #2619
@viking2 the commit your referenced is not in 3.5.7.  It will be in the next version.

If you want to see if that commit fixes the issue, you could create a temporary profile and load the nightly TST build.

[2020-07-09 03:11] zeromus commented on #2636
Mainly, I just noticed suddenly one day (recently) _two_ separate windows 7 systems with firefox 78.0.1 installed had the problem.

I just created a new profile and added TST, and it was already bolded. I tested again in a windows 10 VM and they were _not_ bolded. But... it was on FF 77.0.1. I updated it and... still not bold? But I noticed it was 32bit for some reason. So I reinstalled it and mad

[2020-07-09 09:26] Lej77 commented on #2619
@viking2 One workaround for accessing the normal context menu items that you could try to use until the next TST version is released is to hold down the `ctrl` key while right clicking, this will open Tree Style Tab's "fake" context menu which has all the normal context menu items but no items that were added by other extensions. Note that if you have the [Tab Unloader for Tree Style Tab](https://

[2020-07-09 13:24] piroor commented on #2637
TST has ability to do that via a keyboard shortcut but no key is bound by default. You need to set shortcuts manually via `about:addons` => Extensions => the gear button => Manage Extension Shortcuts => Tree Style Tab => Show ** More => Indent/Outdent Current Tab.

[2020-07-09 13:52] irvinm commented on #2636
I created a new Windows 7 VM, installed FF, installed TST ... I don't see any issues with the tab labels.

![image](https://user-images.githubusercontent.com/979729/87048450-bb1c4200-c1c9-11ea-8c47-8f6a65224711.png)

[2020-07-09 13:57] piroor commented on #2635
It is quite unexpected result. It looks that TST failed to track some tabs. Could you try disabling and re-enabling TST from the addons manager?

[2020-07-09 14:04] piroor commented on #2636
@zeromus Could you paste a screenshot? It possibly helps my understanding about what happens on your environment.

And, if you OK could you inspect the computed style of tab labels with the debugger? Here is steps to start inspection of the sidebar: https://github.com/piroor/treestyletab/wiki/How-to-inspect-tree-of-tabs#how-to-inspect-the-sidebar

[2020-07-09 14:13] piroor commented on #2636
Computed style on my environment:
![image](https://user-images.githubusercontent.com/70062/87050774-b1322780-c239-11ea-8e75-e6af48c6f2b9.png)
"Fonts" tab on my environment:
![image](https://user-images.githubusercontent.com/70062/87050674-88aa2d80-c239-11ea-9cf4-d80185893804.png)
On my case there is no style definition about "font-weight" for tab labels.

[2020-07-09 14:47] piroor commented on #2593
@Keppl OK, with the commit 7d7adb9 now you can configure the behavior of Ctrl/Command-click again in the expert mode.

[2020-07-09 14:56] piroor commented on #2632
I've tried the Touch VPN but I couldn't see any difference around TST between activated and inactivated...

Addons look to be executed in a special process for addons (separated from Firefox itself and tabs), so if the Touch VPN takes computer resources other addons including TST may be affected. Could you try with only TST and Touch VPN?

[2020-07-09 15:10] thomastoye commented on #2592
I can close TST with `F1` but not open it again when it's closed. 78.0.1 (64-bit) on Ubuntu. The shortcut is still set. Opening history then pressing `F1` does not work. Setting the shortcut to something else does not work either.

![image](https://user-images.githubusercontent.com/3396772/87057176-d78a9f80-c206-11ea-824a-79441680265f.png)

[2020-07-09 17:45] zeromus commented on #2636
mysterious:
![image](https://user-images.githubusercontent.com/102701/87072841-72c14c00-c1ea-11ea-8cfd-56bdefaa424d.png)

[2020-07-09 21:52] viking2 commented on #2637
Thanks!
BTW, how would I "Outdent Current Tab" using the mouse? Dragging the tab to the left doesn't work.

[2020-07-09 21:54] viking2 commented on #2635
I don't know the steps that I took to end up with the missing tabs. I have not been able to reproduce it. I will report it again if it happens again.

[2020-07-09 22:55] irvinm commented on #2637
I tried a few situations, but it looks like it should work if it is the bottom tab in a tree.

![2020-07-09_18-44-02](https://user-images.githubusercontent.com/979729/87098044-6e118d80-c214-11ea-9016-af8a63c1247b.gif)

If there is a child under the tab being moved, it doesn't work. (I thought this would work)

![2020-07-09_18-49-37](https://user-images.githubusercontent.com/979729/87098319-fbed788

[2020-07-09 22:56] irvinm commented on #2635
@viking2 could you close this item and reopen when you have more information on how to reproduce?

[2020-07-10 00:38] piroor commented on #2635
FYI: I  (the project owner) also can close issues, but issues closed by me cannot be reopened by their reporter. This is the reason why closing by the reporter is recommended.

[2020-07-10 00:41] piroor commented on #2636
Hmm... TST doesn't have any code to apply such a style directly to the element, and it can't be done via TST's API. Do you use any user script?

[2020-07-10 00:50] zeromus commented on #2636
I disabled all other extensions and removed my userchrome.css (which contained only "to hide the sidebar header" and "to hide the native tabs" anyway) and the tabs were still bold. The tabs were NOT bold in the default firefox horizontal tabs (which I saw by disabling TST as the final extension)

[2020-07-10 01:37] piroor commented on #2637
@irvinm Thank you for research! The action must promote the dragged tab. The functionality was unexpectedly lost by changes in recent versions and dd367f9 should fix it.

@viking2 As @irvinm described with screencasts, dropping a child tab just after its present parent is a special action to promote the dragged tab on level. It was unexpectedly broken on recent versions but it should become availa

[2020-07-10 01:38] natenate19 commented on #2636
I noticed something similar starting in Tree Style Tab 3.5.7, except tab labels weren't bold, just a larger font-size than before 3.5.7.  Seems specific to Plain, Plain Dark, Vertigo, and Mixed themes.  Metal, Sidebar, and High Contrast themes don't exhibit the issue.  Since I prefer the Mixed theme, I hacked around it in much the same manner as @zeromus:

`tab-label { font-size: 11px; }`

Without

[2020-07-10 02:29] viking2 commented on #2635
I close this now and will reopen it if it occurs again.

[2020-07-10 02:29] #2635 closed, assigned to nobody

[2020-07-10 11:02] Valentin-N commented on #2630
Thanks for the quick turn-around.

I tried TST 3.5.9 and unfortunately I can still replicate the problem (at least on my profile). I'll try to find time later to replicate on a clean profile.

[2020-07-10 13:50] piroor commented on #2630
I've downloaded 3.5.9 from AMO and I've realized that the included file is unexpectedly unupdated... Sorry, I'll update it again.

[2020-07-10 14:42] piroor commented on #2592
Because Firefox ESR78 has been released, I've removed hacks around keyboard shortcuts with the commit 1207f34, so now default shortcuts are defined in the manifest.json statically. I hope it reduces unexpected clearing of default shortcuts...

@thomastoye TST toggles the sidebar based on the tracked status, so if the internal status is still "open" after you close the sidebar, the F1 key won't ope

[2020-07-10 15:13] thomastoye commented on #2592
@piroor Looks like that works, thanks!

[2020-07-10 16:13] piroor commented on #2636
I've tried Firefox ESR78.0.1 on Windows 7 32bit with TST 3.5.9. Initially I couldn't reproduce the bold text problem, but after I switched the desktop theme from "Windows 7 Basic" to "Windows Classic" tab labels have became bold.

It is produced by the system font name "caption" defined at this line: https://github.com/piroor/treestyletab/blob/1207f34f9ee1acd164e2118a324118c0d040f5f1/webextensions

[2020-07-10 16:19] piroor commented on #2636
@natenate19 I think that the problem you saw is also produced by the system font name. If the window caption has large font size on your system, TST's tabs will be shown with the size same to them. I cannot determine the only one font size definition suitable for all platforms so I still hope to use the system font name for safety...

[2020-07-10 16:19] Jmennius commented on #2632
Yeah, I did.
I've tried it in a separate profile and couldn't reproduce the issue... It only affects my main profile :(

BTW, I didn't make it clear - you don't have to actually connect the VPN, only have it installed & enabled.

[2020-07-10 16:20] zeromus commented on #2636
I can confirm I'm using classic theme. Thanks for figuring this out.

The choice of "caption" for this font is weird. There is a little bit of sense for using caption for things that are like tabs, given that in your screenshot the tabs are invading the former caption area. But the extension.css you linked to seems to be setting it for every purpose, which is what's weird. A better choice would be

[2020-07-10 16:46] piroor commented on #2636
Thank you for a suggestion, but finally I've decided to use the system font "caption" for visual compatibility with other addons, and better accessibility.

[2020-07-10 20:19] SXZ1 opened #2639 "Closing tab takes much longer time compared to 3.5.7"
Hello!
Closing tab takes much longer time in 3.5.8 (or any newer version) compared to 3.5.7. By "longer time" I mean the amount of time before the closed tab disappears from the TST sidebar.

STR:
1. Create new profile, install latest TST dev.build
2. Go to TST settings, disable animation
3. Press Ctrl-T, press Ctrl-T
4. Press Ctrl-W

ER: Closing tab is instantenious since there is a small amount

[2020-07-10 21:31] viking2 opened #2640 "Custom Style Rules to Retitle Tabs based on URL & Container?"
I found an Extension, Tab ReTitle, that let me permanently change the title on the Tabs based on the URL (https://github.com/Lazyuki/ReTitle).  However, it does not let me use different titles for the same URL in different containers.

Is it possible to write custom style rules for TST that changes the Tab Title based on URL _and_ Container?
For example:
Tab for google.com in container1 would chan

[2020-07-11 02:47] viking2 opened #2641 "Feature Request: Save/Open Extra Styles Rules in Separate Text File (& link to Separate Editor)"
Can I post feature requests here?

The Extra Styles Rules Text field is small and difficult to navigate with many rules.

It would be helpful to be able to save and load the Extra Styles Rules from a separate text file.
The file could then also be opened in a Separate Editor (e.g. Notepad++).  Editor path would be set in TST options.

[2020-07-11 07:24] piroor commented on #2639
The change 60ce791 was introduced to reduce needless confirmation for "Close Tabs to the Right" and "Close Other Tabs" commands of Firefox itself. It is an unintentional side effect that slowing down of tab close.

I've introduced two more changes: 1307e09 to close tabs immediately and 722813c to show confimration dialog with more meaningful messages.

[2020-07-11 07:27] piroor commented on #2640
It looks out of purpose of this project. Container support should be done by ReTitle itself ( https://github.com/Lazyuki/ReTitle/issues/27 ) because people who don't use TST also use it.

[2020-07-11 07:27] #2640 closed, assigned to nobody

[2020-07-11 08:54] viking2 commented on #2640
I understand. However, I just wondered if it is possible to use Custom Style Rules to accomplish this?

[2020-07-11 09:10] piroor commented on #2641
It is quite out of purpose of this project. Sorry but I won't add this feature as a built-in of TST.

However I've been interested about possibility to do that via other addons, I've researched about two addons providing ability to edit textarea with external editors:

* [Browser's external editor](https://addons.mozilla.org/firefox/addon/external-editor/)
* [withExEditor](https://addons.mozilla.o

[2020-07-11 10:33] piroor commented on #2641
After more studying I've realized that your original request can't be implemented but I decided to add import/export feature for CSS files.

First, we need to remind that there is a fatal restriction: an addon cannot call external text editor directly. We need to use a [native messaging host](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/Native_messaging) to do that, it ne

[2020-07-11 10:38] piroor commented on #2640
You can add suffix or prefix like following:

[code]

But complete replacement is impossible. It is a restriction of CSS spec.

[2020-07-11 12:04] irvinm commented on #2640
... you could also do this per site you wanted to override and place the title before the actual label.  It would certainly be better if the other addon simply added support for being able to create separate rules per site per container.

[code]

![image](https://user-images.githubusercontent.com/979729/87223677-e24f4c80-c34c-11ea-97f6-9c8b3612e313.png)

[2020-07-11 14:51] #2543 closed

[2020-07-11 14:51] #2584 closed

[2020-07-11 14:52] #2593 closed

[2020-07-11 15:06] piroor commented on #2620
I think such a feature is out of purpose of this project. Instead it should be done by something other addon made for the purpose, then it will help all people even if they don't use TST. Of course such an addon should skip collapsed tree on TST intelligently, if it uses TST's API to know trees' collapsed/expanded state.

I don't know such an addon is really existing or not. If it doesn't exist, i

[2020-07-11 15:06] #2620 closed, assigned to nobody

[2020-07-11 15:48] piroor commented on #1968
I've introduced a safe guard mechanism for such cases with the commit 6044869. I hope it completely solves the problem @nh2 saw...

[2020-07-11 18:21] irvinm commented on #2272
@piroor I think you could close this as inactive.

[2020-07-11 18:23] irvinm commented on #2568
@piroor I think this should be closed unless we can get a better way to reproduce this.

[2020-07-11 18:25] irvinm commented on #2586
@piroor should we close this one?

[2020-07-11 18:26] irvinm commented on #2585
@piroor I think there are sufficient workarounds for this to be able to close this one.

[2020-07-11 18:31] irvinm commented on #2609
@mkorvas any updates?

[2020-07-11 18:33] irvinm commented on #2608
@bughit have you been able to test this now?

[2020-07-11 18:33] irvinm commented on #2613
@OhSoGood any updates on this or can you close it?

[2020-07-11 18:37] Vladi928 commented on #2586
Yes

суббота, 11 июля 2020 г., 21:25 +0300 от notifications@github.com  <notifications@github.com>:

[2020-07-11 19:01] irvinm commented on #2586
@Vladi928 you can close it as well! :)

[2020-07-11 19:12] OhSoGood commented on #2613
I've been awfully busy these last weeks (and I've been using the
double-click option in the meantime). If you don't mind, I set an alarm
for beginning of August and I get you back. Or if you prefer, you can
close the issue, and I may reopen it if needed.
Thanks for the follow-up.

Le 11/07/2020 à 20:34, irvinm a écrit :

[2020-07-11 19:25] #2586 closed

[2020-07-11 20:05] viking2 commented on #2641
Sounds good. I will wait for next version.

[2020-07-11 20:49] viking2 commented on #2640
Thanks @piroor & @irvinm !

This was exactly what I was looking for :-). With piroor's solution I can combine with Tab Retitle, and with irvinm's solution,  I can replace the original Title with a period or a space.
You should publish theses solutions on your code snippets wiki!

I assume that the container numbers depends on creation order? It will never change?
Is it possible to address by their

[2020-07-11 22:57] irvinm commented on #2612
@xobs have you tried to create a clean profile to see if this problem persists?  You should try just Firefox and TST and assuming things are working, add back in your other addons, etc.  Without more information about how to reproduce, this situation would make finding a solution hard and this doesn't appear to be a wide-spread problem or others would have reported it as well.

Maybe you could clo

[2020-07-11 23:10] viking2 opened #2642 "Is there some way to turn on/off the top Tab bar when using TST?"
I would like to be able to turn on/off  the top Tab bar w/o using userChrome.css (it is difficult to turn on/off with this option).

I tried https://addons.mozilla.org/en-US/firefox/addon/hide-tab/ but that didn't work at all (cant hide Tabs).
I also tried https://addons.mozilla.org/en-US/firefox/addon/panorama-view/, but that also hid TST.

Note the config option "extensions.webextensions.tabhide

[2020-07-11 23:12] irvinm commented on #1405
@piroor is there more to do here?

[2020-07-11 23:22] irvinm commented on #2000
@piroor what do you think of @tetsuharuohzeki comments?  (Side note that ESR68 is almost end of life with ESR78 already out)

[2020-07-11 23:29] irvinm commented on #2566
@piroor is there anything more to do here?  It looks like it has been improved ...

[2020-07-11 23:34] irvinm commented on #2642
There is no way (to my knowledge) outside of userChrome.css until https://bugzilla.mozilla.org/show_bug.cgi?id=1332447 is implemented.

[2020-07-12 01:09] piroor commented on #2642
FYI: Tab hide API (in old days it need to be activated with `extensions.webextensions.tabhide.enabled`) just allows addons to hide *individual tabs*. TST also supports the API - TST never calls the API but TST hides tabs if they are hidden by other addons via the API, so it won't help you to help hiding the top tab bar itself.

[2020-07-12 01:17] piroor commented on #2566
After this issue the implementation of the dialog was more improved and a new option to show dialogs inside the sidebar instead of separate popup was added. I hope those improvements should help people who suffered from this slow down issue.

I close this for now to cleanup the list of unsolved issues, but it is welcome to add more comments here.

[2020-07-12 01:17] #2566 closed

[2020-07-12 01:43] piroor commented on #2000
They looks to be quite different from the current paradigm, so I need a success model case to understand where TST should go to, like the first migration to WebComponents done by @tetsuharuohzeki.

When I tried to implement the [Extra Tab Contents API](https://github.com/piroor/treestyletab/wiki/Extra-Tab-Contents-API) I learned more about CSS Shadow Parts, but sadly my brain is still bound to old

[2020-07-12 01:45] piroor commented on #1405
TST 3.5.6 already contains a code to call the API, so this looks to be fixed.

[2020-07-12 01:45] #1405 closed

[2020-07-12 02:31] piroor commented on #2640
The built-in 4 containers look to have same ID on most runtime environments. Other extra containers will have ID based on their creation order on your environment, and they won't be changed, but I think old IDs are possibly recycled if you delete some containers and create new.

Sorry but TST doesn't provide such ability for now. The container information is prepared just for TST's built-in indica

[2020-07-12 02:33] piroor commented on #2613
Issues closed by the project owner (me) cannot be reopened by their reporter, so I keep this open for now.

[2020-07-12 02:35] xobs commented on #2612
Yes, I'll close this thread for now, and if I'm able to recreate it again I will reopen it. Sorry for the noise.

[2020-07-12 02:35] #2612 closed, assigned to nobody

[2020-07-12 02:36] #2585 closed

[2020-07-12 06:38] piroor commented on #2568
Today 've tryied to reproduce this with very large number tabs, and I've possibly reproduce this. Now I have 1080 tabs and those tabs are collapsed, and when I expand restored collapsed trees, some sub level tabs are shown with wrong indent.

* When the problem happens, the tab data of a misindented tab in the presentation layer (sidebar page), it has a level data different from the tab data in th

[2020-07-12 07:02] piroor commented on #2568
TST calculates the indent level at the background page. When the indent level of a tab is changed, the background page sends notification message for every level changes. On the startup tree restoration, such a change is very frequently done for each tab multiple times, like 2 => 3 => 4. I assume that such messages looks to be processed in wrong order like 3 => 4 => 2 at the presentation side,  wh

[2020-07-12 07:20] viking2 commented on #2640
Thanks. Sounds great!

I am also using the Temporary-Containers extension.  The containers show as tmp1, tmp2, tmp3, etc in the address bar.  In TST, they just show as a gray horizontal lines (at Tab right).
Is there some way, in the Style Rules, to also show these names in TST?

[2020-07-12 07:52] piroor commented on #2568
OK, I got why the problem happens.
https://github.com/piroor/treestyletab/blob/10d8c545fa79fbbba7fc88acc816e49791102349/webextensions/sidebar/indent.js#L222-L229
On this section, changed indent levels are received in expected order like 2 => 3 => 4. However, sometimes the statement `await Tab.waitUntilTracked(message.tabId, { element: true });` for a later message is resolved before the one for an

[2020-07-12 08:34] viking2 commented on #2642
What about the Stylish extension? Can that one, with proper CSS, be used to turn off the Tab bar (and then on by disabling the extension?

[2020-07-12 09:21] piroor commented on #2568
Handling of asynchronously notified messages from the background script on the sidebar page are now stabilized with recent changes. It should solve all this kind bugs not only indentation but collapsed/expanded state also.

[2020-07-12 09:39] piroor commented on #2642
WebExtensions-based Stylish (it is the only one available edition on recent versions of Firefox) has no ability to apply stylesheets to Firefox itself, instead it just allows you to apply stylesheets to websites. Please remind that Firefox Quantum allows just limited ability of customization for addons, very high customizability on XUL addons (before Firefox 56) was already lost.

[2020-07-12 09:41] piroor commented on #2640
On the next version selectors like `tab-item[data-current-uri^="https://www.google.com"][data-contextual-identity-name="tmp1"] tab-label span::before` will be available to do that.

[2020-07-13 10:25] Valentin-N commented on #2630
Re-tested with TST 3.5.12 and the problem is solved for me. Thank you!

[2020-07-13 10:25] #2630 closed, assigned to nobody

[2020-07-13 19:32] bughit commented on #2608
fixed, @piroor I am curious, since the fix was done a month ago, why did you not release it sooner?

[2020-07-14 13:49] piroor commented on #2608
There are some reasons:

* For further dogfooding. Sometimes I can't believe quality of changes as "good to release".
* A sense of sin about releasing without response to lately reported new issues.
* Simply my laziness. I ordinarily use the latest revision of TST via about:debugging, so I sometimes forget that recent changes are not released...

[2020-07-14 14:17] irvinm commented on #2608
@bughit, can you close this item?

[2020-07-14 16:06] SXZ1 commented on #2639
I can no longer reproduce this bug in 3.5.12. You've done an awesome job once again, thank you very much!

[2020-07-14 16:10] #2639 closed, assigned to nobody

[2020-07-14 18:19] nh2 commented on #1968
Thanks @piroor, it seems to be fixed, closing!

[2020-07-14 18:19] #1968 closed

[2020-07-14 23:20] irvinm commented on #2634
@cam29 can you try with the latest and close this item if resolved?

[2020-07-14 23:20] irvinm commented on #2568
@davidmbesonen can you try again with the latest build and close this item if resolved?

[2020-07-14 23:22] irvinm commented on #2619
@viking2 can you try with the latest and close this item if resolved?

[2020-07-14 23:22] irvinm commented on #2636
@zeromus can you try with the latest and close this item if resolved?

[2020-07-14 23:24] irvinm commented on #2621
@ssc41 just curious but are you seeing the same performance issues with 3.5.12?  Obviously there have been a fair number of changes since 3.5.5.

[2020-07-14 23:25] irvinm commented on #2641
@viking2 same with this item.  If ok, will you close this item?

[2020-07-14 23:28] irvinm commented on #2637
@viking2 can you test with 3.5.12+ and close if this is resolved?

[2020-07-14 23:29] irvinm commented on #2592
@eriknelson is there any reason to keep this open at this point?  If not, will you close it?

[2020-07-14 23:31] irvinm commented on #2632
@Jmennius do you think you could try disabling all of your other addons from your main profile just leaving TST and your VPN to see if you still see the performance problem?  I am wondering if there might be some other issue with another addon that might just manifest itself as a performance problem with TST.  Just an idea considering that you do not see the issue in a clean profile.

[2020-07-14 23:32] irvinm commented on #2272
@piroor maybe just a friendly reminder.

[2020-07-14 23:34] zeromus commented on #2636
I have july 14 version and the problem seems solved. Thank you very much.

[2020-07-14 23:34] #2636 closed, assigned to nobody

[2020-07-14 23:35] irvinm commented on #2642
@viking2 was there anything more to discuss here?  If not, would you please close this item?

[2020-07-15 00:32] viking2 commented on #2619
Works now. Thanks both of you!

[2020-07-15 00:32] #2619 closed, assigned to nobody

[2020-07-15 00:44] viking2 commented on #2641
This is a great new feature! The workflow could be:
1. Click "Save as File" to open with Note++ (for example).
2. Modify the treestyletab.css and save.
3. Open the modified file ("Load from File")

[2020-07-15 00:44] #2641 closed, assigned to nobody

[2020-07-15 01:48] #2592 closed

[2020-07-15 07:27] colemickens opened #2643 "Clicking the "TST does not have permission" dialog takes you to an unhelpful place"
## Short description

I dread a new Firefox install because I can never, ever figure out how to get back into TST to allow it to bookmark a tree of tabs. When you do so, it does pop a notification, but clicking it just takes me to the settings page and I can *not* find this setting *anywhere* on this page. I'm sure it's on a different one, but I can't fire out how to get to it either.

Is there an

[2020-07-15 09:53] ssc41 commented on #2621
No it has been alot better recently. I will close this issue for now.

[2020-07-15 09:53] #2621 closed, assigned to nobody

[2020-07-15 10:52] irvinm commented on #2643
@colemickens from the settings page, have you tried clicking on the "Page for Initial Startup"?  Is that what you are looking for?

![image](https://user-images.githubusercontent.com/979729/87536832-b93dfd00-c667-11ea-8c99-58d728292b85.png)

[2020-07-15 12:25] cam29 commented on #2634
Resolved.

[2020-07-15 12:25] #2634 closed, assigned to nobody

[2020-07-15 14:05] lewallen opened #2644 "Highlighting of selected tabs is broken by 3.5.12 (for certain tab themes)"
Version 3.5.12 seems to break tab highlighting (upon tab selection) when using the "Metal" tab theme (with the "Plain" theme for example, tab highlighting seems unchanged). Specifically, in previous versions including 3.5.11, when I use the Metal skin and select one or more tabs, the unselected tabs become darker ("tab highlighting"), but this feature seems to be broken in 3.5.12.

If this is a bu

[2020-07-15 16:01] piroor commented on #2643
On my environment, clicking the popup shows this result:
![image](https://user-images.githubusercontent.com/70062/87567723-97905480-c6ff-11ea-9682-1884c2f84efd.png)
The checkbox "Allow to read and create bookmarks" should activate the permission. This is the expected, but did you see different result actually? Or, did you mean that the label of checkbox is not friendly?

[2020-07-15 16:10] piroor commented on #2644
Thanks! The commit e162a6c should fix this.

[2020-07-15 16:53] mwoffenden opened #2645 "TST acting up last couple of days"
## What happens

1. Overlapping tabs
2. Blank gray areas

See attached image.  It gets worse over time.  To reset things I have to disable/enable TST but then the problem comes back.

## Expected Result

Tabs would display correctly

## How to reproduce

Just use the browser.  Over time it gets worse.

## Environment

 * Platform (OS): MacOS
 * Version of Firefox: 78.0.2 (64-bit)
 * Version (or re

[2020-07-15 17:10] #2608 closed, assigned to nobody

[2020-07-15 18:59] SevenFactors opened #2646 "Feature Request: Better Integreations w/ Firefox Built-in Open-Tabs Search"
## Short description

Firefox Built-in Open-Tab Search is Very Poor. Is there anything you can do at your end to better its results, better yet, integrate such feature with TST.

## The Why

Firefox built-in tab search feature is unreliable.
By default, FF's Address-bar result include: browsing history, bookmarks, open tabs & top sites. Add to this, that the result presented on the address-bar are

[2020-07-16 10:21] lewallen commented on #2644
It works! Thanks a lot. When do you think it might go out to the official add-on list?

[2020-07-16 12:01] grahamperrin commented on #2644
Thanks for reporting/fixing this! I sensed that something was wrong recently but I have many extensions so my initial assumption was a conflict.

I tentatively worked around by removing `3.5.12` (oops, I forgot that removing extensions destroy preferences) then installing `3.4.10` … it was OK for a few hours but then something felt not quite right … can't quite put my finger on it … I'll review af

[2020-07-16 16:47] piroor commented on #2644
@grahamperrin I couldn't see the problem on my environment with the latest development build. Could you try it to confirm the change I did solves the problem or does not? https://github.com/piroor/treestyletab#development-builds

@lewallen It will take more time because I hope to include a fix for #2645 to the next release.

[2020-07-16 16:50] piroor commented on #2645
Could you describe what happens on your environment - what is the expected result, and how to reproduce the problem?

[2020-07-16 17:10] piroor commented on #2272
I've seen similar problem recently on my environment. It looked to be triggered by something stucking on the extension process (please note that Firefox separates its processes for each purpose.) But there are too many possible reasons for me, for example my another addon "Text Link" sometimes triggers a slow script alert when a text is selected in a large webpage like Twitter.

Moreover, I've see

[2020-07-16 17:55] irvinm commented on #2272
Thanks for the honest feedback @piroor.  Hopefully with people continuing to watch out for this situation we can track down a process to reproduce it and then get it resolved.

[2020-07-16 22:15] bb010g commented on #1363
`userChrome.css` equivalent to the wiki TST snippet:

[code]

Only favicon:

[code]

[2020-07-17 04:38] bb010g commented on #2278
Sorry for the delay; life's been crazy. TST is generally much better now. On the session I'm typing this from, Firefox is at 1933 tabs with the sidebar open and CPU is hanging around 10%. However, this is after my trees got flattened after a restart after restoring this window from recently closed, and when heavy nesting existed Firefox's CPU usage was floating around 20% or 25% idle.

I think a g

[2020-07-17 05:12] bughit opened #2648 ""undo close tab" for a closed child does not reopen in its parent"
## Short description

this is a recent regression

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3.  show bookmark toolbar
 4. create a folder with two bookmarks
    1. https://example.org/?1
    2. https://example.org/?2
 5. open all in tabs
 6. close the second tab
 7. right click on the sidebar and undo close tab
 8. it reopens top level
    ![image](https://use

[2020-07-17 09:16] imero commented on #2278
Interesting what is causing the CPU load, maybe some tab content or FF config? Currently have 5k tabs and with about 3 levels average and idle CPU load does not even register, 0%. Opening/closing/moving tabs is slow but this is imo expected in this extreme case so do not recommend using that many tabs. Also there is Firefox crash issue with so many tabs - sudden crash without any crash report or t

[2020-07-17 09:46] piroor commented on #2646
Sorry, I won't add this feature to TST as a built-in because it is out of purpose of this project. Instead I recommend you to use another tab listing addon providing search field together with TST.
https://github.com/piroor/treestyletab#similar-projects
Under the collapsed item "Listing tabs with a search field" I listed some addons providing the feature.

[2020-07-17 18:53] irvinm commented on #2648
I think this is even more simple that what you have.  It basically looks like if you close any tab that is a child in a tree, close it, then "undo close tab" ... then it restores at the top level of indentation.

[2020-07-17 19:20] SevenFactors commented on #2646
Hello piroor.

I am not referring to adding a search feature to TST itself but rather make it work with Firefox's own open-tabs search feature.

Firefox allows user to search for open-tabs from within Firefox's address-bar. For some reason, some tabs show while other open-tabs do not. This is why I was asking to see if there is something at the TST level that can be better integrated with Firefox'

[2020-07-17 19:21] SevenFactors commented on #2646
Hello piroor.

I am not referring to adding a search feature to TST itself but rather make it work with Firefox's own open-tabs search feature.

Firefox allows user to search for open-tabs from within Firefox's address-bar. For some reason, some tabs show while other open-tabs do not. This is why I was asking to see if there is something at the TST level that can be better integrated with Firefox'

[2020-07-18 14:13] nleskiw opened #2649 ""Close Descendants Too" Preference not saved"
## Short description
Preference "Tab Behavior" > "When a parent tab is closed or moved just as a solo tab" > "Custom" > "For Operations inside the tree sidebar" is not saved.

## Steps to reproduce

1. Start with a clean profile (I removed directories and profile.ini from .mozilla/firefox/profiles from terminal)
1. Install TST
1. Go to TST Preferences
1. Scroll to "Tab Behavior" > "When a parent t

[2020-07-18 16:03] piroor commented on #2649
Thanks, this should be fixed with the commit c19c3937836af7b5afa9ff72d5d6b4e6c2fc0b0c.

[2020-07-18 17:07] piroor commented on #2646
The algorithm to list search results in the address bar is based on ["frecency":](https://developer.mozilla.org/en-US/docs/Mozilla/Tech/Places/Frecency_algorithm). It is designed to list locations you frequently and recently visited. You can modify the bonus for each visit type via `about:config` - please search "frecency" to list related preferences - but it looks impossible to give higher bonus

[2020-07-18 17:20] piroor commented on #2646
Just an idea (for another addon): we possibly can hack the address bar search results with auto-bookmarking of open tabs. It can increase frecency of open tabs and raise them in the search result. I think there is one possible side effect: If you use Firefox Sync, Firefox unexpectedly synchronizes such temporary bookmarks. When you use two devices at same time, temporarily added bookmarks correspo

[2020-07-18 21:53] notmgsk opened #2650 "List tabs that will be closed in the "You are about to close <n> tabs" dialog"
# Short description

When closing a parent tab TST presents a dialog asking if you also want to close the child tabs. Often it is unclear what those child tabs are since either the affected tabs are too small to see their titles, or the tabs are collapsed in the TST sidebar. In the dialog it would be helpful if the titles of those tabs were listed so we could better appreciate which tabs will be a

[2020-07-19 08:28] Altsinn opened #2651 "Custom user style for discarded tabs not applied"
## Short description
I wanted to use custom style rule for discarded tabs:

.tab.discarded
{
	filter: grayscale(70%);
    transition: filter 0.2s ease-in;
    opacity: 0.7;
    font-style: italic !important;
}

After Firefox restart or after session restoration all tabs should have custom style applied. Currently TST applies it only for internal pages like about:addons, about:confg ect. Print-scre

[2020-07-19 08:50] piroor commented on #2651
I've tried TST 3.5.12 on Firefox ESR68 on Windows 10 but I couldn't reproduce it. Steps I did:

1. Start Firefox ESR68 with a clean profile.
2. Go to the options page of Firefox, and activate restoration of last lession.
3. Install TST 3.5.12.
4. Open some tabs. I've tried with tabs with addons.mozilla.org.
5. Restart Firefox.

How do you restore the last session? Any other addon?

[2020-07-19 09:09] piroor commented on #2650
This idea is interesting. How do you think cases with very large number of tabs? Should only some tabs are listed, or all tabs with a scrollbar?

First I thought that this improvement should be implemented by Firefox itself for its built-in "Close Tabs to the Right" and "Close Other Tabs", but now I think that this can be done by TST privately, because TST users may execute "close multiple tabs" o

[2020-07-19 09:26] Altsinn commented on #2651
I use Firefox "Restore previous session" option. I have several other add-ons. Following your hint I disabled them one by one and I found the culprit - uBlock Origin 1.28.5b2. It's a developer version, not the regular one. When I switched to an earlier version 1.28.5b1 the problem disappeared. So it appears that the latest changes in uBlock Origin somehow interfere with TST.

https://github.com/go

[2020-07-19 09:37] piroor commented on #2651
I've browsed the diff but I couldn't find out any possible trigger. I think that this problem is an unexpected side effect and the root problem is an edge case bug of Firefox itself.

[2020-07-19 13:29] Altsinn commented on #2651
@piroor, the issue was fixed on the uBO side so I closed this one.

[2020-07-19 13:29] #2651 closed, assigned to nobody

[2020-07-19 20:06] evening opened #2652 "Unpinning tab does not resize to original size"
## Short description

Unpinning tab does not resize to original size.

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3. Open webpage.
 4. Pin webpage tab.
 5. Unpin tab.

Video here: https://www.dropbox.com/s/lacqyxorulv080z/G2tYPY9mcg.mp4

## Expected result

Tab should resize to full size.

## Actual result

Tab maintains "pinned" size, and offset by amount when

[2020-07-20 01:21] piroor commented on #2652
Thanks! The commit ac23b65 should fix this.

[2020-07-20 01:23] piroor commented on #2645
I've not reproduced this on my environment yet, but the problem looks to appear from the origin same to #2652 and the commit ac23b65 can affect to this. Could you try the latest development build?: https://github.com/piroor/treestyletab#development-builds

[2020-07-20 01:27] piroor commented on #2651
Memorandum:

* https://github.com/uBlockOrigin/uBlock-issues/issues/1167#issuecomment-660661902
* [1428956 - Nano Defender causes tabs to be un-lazified at startup](https://bugzilla.mozilla.org/show_bug.cgi?id=1428956)

[2020-07-20 03:33] piroor commented on #2648
I've realized that there are some regressions for Undo Closed Tabs when it is not a part of "closed multiple tabs". I think bcaa045 and 3850968 should fix those problems.

[2020-07-20 06:12] piroor commented on #2650
![image](https://user-images.githubusercontent.com/70062/87905440-85b20700-ca9b-11ea-8e67-3ceee129ccb6.png)
Experimental implementation. Currently the list is shown with 5 items and scrollable.

[2020-07-20 10:32] piroor commented on #2650
![image](https://user-images.githubusercontent.com/70062/87928386-b73cc980-cabf-11ea-8518-dbe250f5da49.png)
Updated.

[2020-07-20 11:59] mwoffenden commented on #2645
Yes, but how do I install the build?
On Jul 19, 2020, 9:24 PM -0400, piroor <notifications@github.com>, wrote:

[2020-07-20 13:17] piroor commented on #2645
You'll see detailed instructions under the summary "It is not signed, so you need to load it by non-regular way. (Please click this section to see instructions.)" after you click that.

[2020-07-20 14:11] mwoffenden commented on #2645
Ok, installed it and after over 1/2 hour of use, no issues, so looks like it's solved.  Typically the issue showed up within 10 mins of use before.  I'd give it another hour though.  Will report back.

[2020-07-20 15:42] mwoffenden commented on #2645
Still no issues after constant use for 2 hours, so we're all set here!

When do we see the fixed version as a release?

[2020-07-20 15:48] piroor commented on #2645
It is already released on the addons.mozilla.org website, so you'll see it updated soon.

[2020-07-20 16:08] notmgsk commented on #2650
My vote goes to the scrollbar.

[2020-07-20 16:08] notmgsk commented on #2650
Yeah, that looks great.

[2020-07-20 17:20] #2652 closed, assigned to nobody

[2020-07-20 17:45] piroor commented on #2650
OK, this UI is now available as a part of TST 3.5.13.

[2020-07-20 17:45] #2650 closed, assigned to nobody

[2020-07-20 17:48] notmgsk commented on #2650
Thanks and nice work @piroor

[2020-07-20 18:04] irvinm commented on #2546
@Elaws is this still an outstanding issue?  If not, can you close this item?

[2020-07-21 13:10] sblondon opened #2654 "Adding dark mode for TST?"
##  Short description

The colors used by TST do not change between light and dark modes. So there is a lighter block when TST is enabled on the dark mode (system and web pages).

I see two ways to implement it:
- included into TST: it would probably add a second style definition and use `prefers-color-scheme` CSS value to automatically select which mode has to be used.
  - pro: available to every

[2020-07-21 14:54] mwoffenden commented on #2645
Unfortunately the problem is back after restarting the machine.  The image below shows:

1. gray space opens up on its own
2. tabs overlap in the same location

<img width="110" alt="screenshot_3829" src="https://user-images.githubusercontent.com/6774346/88070312-8badf380-cb40-11ea-94a9-fc4043ce4b8c.png">

[2020-07-21 14:56] mwoffenden commented on #2645
False alarm, sorry

[2020-07-21 14:56] #2645 closed, assigned to nobody

[2020-07-21 16:41] piroor commented on #2654
TST already contains Dark mode support.
https://github.com/piroor/treestyletab/blob/trunk/webextensions/resources/ui-color.css#L191
It is disabled when TST respects the system color scheme, and the system color scheme config is active by default only on Linux, because "Dark mode" looks not major on Linux desktop environment. Instead TST respects colors defined in the theme when you switch GNOME th

[2020-07-22 02:58] bughit opened #2655 "3.5.13 regression: no confirmation for "close this tree" (multiple tabs)"
## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3. create a tree of two tabs (parent, child)
 4. "close this tree" on the parent

## Environment

 * Platform (OS): win7 sp1 x64
 * Version of Firefox: 78.0.2 x64
 * Version (or revision) of Tree Style Tab: 3.5.13

[2020-07-22 09:36] sblondon commented on #2654
Thanks you for the detailed answer!

I use KDE with breeze dark theme.
Firefox evaluates `prefers-color-scheme` as dark: opening this html code in Firefox shows a green background:
[code]

In case it helps, the TST options panel has a dark background.

TST options => Development => Color scheme => system color is enabled.

The TST options shows that the Mixed theme is selected. (I never changed it

[2020-07-22 09:51] sblondon commented on #2654
The [operating system detection](https://github.com/piroor/treestyletab/blob/ea6313945edfa053778c36fbe8f3f85514d9afa4/webextensions/common/common.js#L59) works properly. It returns `system-color`:

[code]

[2020-07-22 14:19] piroor commented on #2655
Thanks, this should be fixed with the commit 2ee5fa4.

[2020-07-22 15:42] piroor commented on #2654
I installed the package "kubuntu-desktop" to my Ubuntu VM and I've confirmed that Firefox doesn't respect KDE's theme colors.
![image](https://user-images.githubusercontent.com/70062/88194062-535e0080-cc79-11ea-82fb-e3259345c675.png)
In this screenshot I chose the "Breeze Dark" theme and Firefox's native UI doesn't respect the color scheme of the theme, because Firefox's GUI is basically rendered

[2020-07-23 13:14] 2xRon opened #2656 "Tabs in container become a child when containered tab leaves domain"
## Short description
Tabs in a (eg) facebook container get moved to becoming a child tab of the previous root-level tab.

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3. Install [Facebook Container](https://addons.mozilla.org/en-US/firefox/addon/facebook-container/) addon
 4. Navigate to any page
 5. Open a child tab on that page
 6. Open new tab at root level
 7.

[2020-07-23 13:40] sblondon commented on #2654
Adwaita is a Gnome theme and Breeze is a KDE theme. The KDE on GTK rendering is probably the root of the behaviour difference.

This is a screenshot of what I get with Breeze-dark, Mixed theme in TST and system color scheme in TST:
![dark_mode_tree_style_tab](https://user-images.githubusercontent.com/1708780/88292103-7a5c1700-ccf9-11ea-8412-5e21e72d16f1.png)

I think this issue can be closed and I

[2020-07-23 14:44] piroor commented on #2654
Thank you for researching! Hmm, in old days I researched about theme implementation of Firefox itself, and I realized that Firefox uses Photon colors on Windows and macOS but uses system colors only on Linux. But now I've research and realized again that most colors are dynamically calculated on all platforms:

https://searchfox.org/mozilla-central/search?q=path%3Athemes+prefers-color-scheme&path=

[2020-07-23 15:11] piroor commented on #2654
With recent commits I've removed some options about theme. It was too chaotic from combinations of options - system color support ON/OFF and browser theme support ON/OFF. Now TST supports only the Photon color scheme and always applies the browser theme (on Mixed, Pain, and Vertigo).

[2020-07-23 15:34] #2654 closed, assigned to nobody

[2020-07-25 11:15] Fanolian commented on #2656
My guess is that, when going from one containerized (C) domain to another (including non-containerized (NC)), _**some non-Firefox Multi-Account Containers**_ Container extensions actually close the current tab and immediately create a new one with the target container. Depending on the tab opening and closing preferences you have in TST, the new tab may not be opened in desired position.
In Contra

[2020-07-25 22:00] ItayHadas opened #2657 "Full Auto-show/hide Theme is colapsing pinned tabs"
Hi,

## Short description
Custom style - Full Auto-show/hide snippet is collapsing and stacking the pinned tabs - is there a way to avoid this behavior?

## Steps to reproduce
Pasting the snippet into userchrome.css
[https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#full-auto-showhide-theme](url)

The result is seen here:

<img width="250" alt="tabtree collapsed" src

[2020-07-27 18:48] Elaws commented on #2546
@irvinm Sorry for this late reply. I just read the previous posts and am not sure if the issue should be solved by now ? On my side, the issue can still be reproduced.

@EpsilonRose Did you have some update from Drive4ik ?

[2020-07-28 08:11] jareware opened #2658 "Close Tabs to the Bottom as top-level menu item"
# Short description

<img width="451" alt="image" src="https://user-images.githubusercontent.com/560055/88637522-f0c69380-d0c2-11ea-9045-278621f85cfa.png">

☝️ most other menu items can be top-level, but the (arguably) most useful one has to be in the "Close Multiple Tabs" submenu.

Is there any way to have the "Close Tabs to the Bottom" option at the top level of the menu?

[2020-07-28 11:16] piroor commented on #2658
There is no option to do that. TST's tab context menu is designed to simulate Firefox's native one, and I have no plan to make it customizable until Firefox implement the option natively.

[2020-07-28 13:46] piroor commented on #2657
I don't use those code snippets by myself, so I hope someone maintains and updates it...

[2020-07-28 14:35] piroor commented on #2656
@2xRon Confirmed. And I've realized why this problem happens:

1. There are three tabs at first:
   * A (non-facebook)
     * B (non-facebook)
   * C (facebook)
2. I try to load a non-facebook URL into the tab C.
3. The Facebook Container addon opens the URL in a new tab between B and C.
   * A (non-facebook)
     * B (non-facebook)
   * D (non-facebook)
   * C (facebook)
4. TST detects the tab D

[2020-07-28 14:36] irvinm commented on #2657
@jorjio what is your desired behavior?  Are you looking to keep the pinned tabs listed horizontally at the top and the regular tabs minimized to their favico and listed vertically?  Can you describe?

[2020-07-28 14:44] piroor commented on #2656
@Fanolian Hmm, your example case looks hard to be supported, because there is no hint to detect the new tab as a reopened version of the parent tab...

[2020-07-28 15:57] ItayHadas commented on #2657
@irvinm - Exactly! When the sidebar is collapsed I'm looking to keep the pinned tabs listed horizontally at the top (only the left most pinned tab will be seen), and the regular tabs minimized to their favico and listed vertically.
Thanks!

[2020-07-28 16:17] irvinm commented on #2657
@jorjio thanks for the clarity.  However, I do not think this is going to be possible.  You have to remember that in the first screenshot, you have the pinned tabs and regular tabs all contained within the sidebar and managed by TST.  Much of the 2nd screenshot is only possible by the fact that the entire sidebar width is reduced and everything in the sidebar has to be no wider than the width of t

[2020-07-28 20:07] ItayHadas commented on #2657
@irvinm - if I use the other snippet for sidebar auto collapse it works as I requested. But then the sidebar is not floating over the site content - it 'pushes' the entire site body - so it's not really a good alternative.
https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#auto-showhide-sidebar-by-mouseover-hover

this make me think it might be possible - but I don't

[2020-07-28 21:49] irvinm commented on #2657
@piroor is there a way via CSS to change the pinned tab behavior to ignore starting a new line of pinned tabs even if the width of the sidebar is too narrow to display them all?  It looks like you are calculating the max rows and max cols for pinned tabs here: https://github.com/piroor/treestyletab/blob/0aac9737d3e915430aab250a14f073927bcf98d7/webextensions/sidebar/pinned-tabs.js#L54
I don't think

[2020-07-28 23:03] ItayHadas commented on #2657
I figured it pretty much by accident
I copied the `overflow: hidden;` variable from the other snippet and added it under `sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]` and `#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:hover`

and it works!

Sorry for wasting your time guys.
Your work is amazing!

[2020-07-28 23:11] irvinm commented on #2657
Awesome!  @jorjio will you close this item?

[2020-07-28 23:14] #2657 closed, assigned to nobody

[2020-07-29 01:30] Fanolian commented on #2656
I think those Multi-Account Containers forks should align their behaviors with MAC, i.e. not closing the current tab. That should avoid my issue from happening.

I can live with the issue. :)

[2020-07-29 10:20] byblo opened #2659 "Restoring closed tab - Incompatibility with Simple Tab Group addon"
Restoring child tabs on another STG group will show incorrect tree order on both groups.

To reproduce bug:
----------------------
- Install Simple Tab Group, Tree Style Tab addons (I tried on a fresh profile)

  - Create group 1
  - Create group 2

- On group 1, make a tree with 3 tabs:
[code]

- On group 2, make a tree with 3 tabs:
[code]

- Close tabs on group 1:
[code]

- Goto group 2, and Und

[2020-07-29 12:47] jarredou opened #2660 "Sidebar's tree randomly becomes blank. Need to restart firefox to fix the bug."
## Short description
Since few weeks, Tree Style Tab sidebar becomes blank even if tabs are opened. Sometimes it happens when opening a new tab, sometimes there's no apparent reason. Closing sidebar, or switching to "bookmarks" or "history" and opening back Tree style tab sidebar doesn't not fix the issue, I need to restart firefox.

## Steps to reproduce
Sometimes it happens when opening a new ta

[2020-07-29 13:17] irvinm commented on #2660
Maybe similar or a duplicate of https://github.com/piroor/treestyletab/issues/2272?

@jarredou do you have any means to reproduce this consistently?

[2020-07-29 14:12] wagnerand opened #2661 "Tab tree not readable for some Firefox themes"
## Short description

For some Firefox themes, the tab tree can become unreadable, if the theme background is not very solid.

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3. Install https://addons.mozilla.org/en-US/firefox/addon/firefox-alpenglow/
 4. Open a few more tabs.

## Expected result

The tree background is set to something that makes the tabs readable.

[2020-07-29 14:16] piroor commented on #2659
It is a problem of STG side. Tabs B and C are restored in the Group 2 even if I disable TST.

With these steps I've reproduced the result:

* A (in the Group 1, hidden)
  * B (restored, in the Group 2, shown)
    * C (restored, in the Group 2, shown)
* X (in the Group 2, shown)
  * Y (in the Group 2, shown)
    * Z (in the Group 2, shown)

Did you talk about this? Then I agree that this is unexpec

[2020-07-29 14:39] sim642 opened #2662 "Firefox theme background image suddenly used for TST"
## Short description
I just had TST update and my Firefox theme background image now repeats in the TST sidebar background with the Mixed theme. Since Firefox theme background images were never intended for this use and to be repeated vertically, it looks completely unreadable now. It was plain gray before, as the TST theme chooser's little image also shows. How do I undo this unwanted breaking ch

[2020-07-29 14:42] sim642 commented on #2662
I noticed now that while switching TST theme, the Mixed theme initially loads with the previous and expected gray background. After 0.5s it loads the Firefox theme background image instead. So clearly the solid gray is still part of TST but gets dynamically overridden by the Firefox theme image.

[2020-07-29 15:20] piroor commented on #2662
As a workaround, you can expand the background image to cover the sidebar area with this styles declaration:

[code]

Screenshot:
![image](https://user-images.githubusercontent.com/70062/88818393-9ed45980-d1f9-11ea-994f-60458aa36a19.png)

I've introduced this as a part of the builtin style with the commit e4b6f7b.

And, if you don't like to apply background images to the sidebar, this will help yo

[2020-07-29 15:22] piroor commented on #2661
I've introduced a fix for this, and you can apply the change with the user style sheet. Please see also: https://github.com/piroor/treestyletab/issues/2662#issuecomment-665728769

[2020-07-29 15:46] sim642 commented on #2662
Thanks for the quick reply! The CSS workarounds improve the situation but even with an overridden gray background color it doesn't look exactly as it did before (and it doesn't look like what the TST theme icon shows). The background (image or color) shows through the tab rows themselves as opposed to them being lighter gray and the active one being light blue.

When switching between TST themes,

[2020-07-29 16:01] wagnerand commented on #2661
Thank you!

[2020-07-29 17:46] piroor commented on #2662
OK, here is an example to unset all colors and images cited from the browser theme:

[code]

[2020-07-29 18:04] piroor commented on #2662
I removed the option to ignore browser theme on TST 3.5.14 for simplification.

Basically I think that TST's sidebar should behave as a part of Firefox's UI, so TST's tabs should be shown with colors same to Firefox's UI when you change the theme of the Firefox. This is a message from TST: "this area is browser's UI". Colors mismatched to Firefox itself will show TST's UI as an alien (foreigner) a

[2020-07-29 18:09] sim642 commented on #2662
Thank you again! That seems to do exactly what I wanted and how it looked previously. I understand the motivation for the change but I'm just very used to how it looked for years.

I'm satisfied with the workaround and feel free to close the issue then. Since there may be others like me who don't like such change, it may be good to also put that unsetting CSS also to the wiki page for custom CSS.

[2020-07-29 18:16] piroor commented on #2662
I've added the workaround to the snippets. I hope it helps people having same demand.
https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#disable-browser-theme-colors-and-images-2662

[2020-07-29 18:16] #2662 closed, assigned to nobody

[2020-07-29 20:54] HighCommander4 opened #2663 "Background color of tabs has changed"
The background color of all my tabs has just changed (become lighter), I think as a result of an update to 3.5.14.

Is this an intentional change?

[2020-07-30 01:47] irvinm opened #2664 "Idea (SVG throbber CSS override) \ Github files missing?"
## Short description
I saw a post on reddit asking if it was possible to change the tab throbber and I thought it might be possible to simply override the throbber.svg via CSS (pointing the content to a public hosted location via url("public-location"\new.svg) in the 3 places mentioned in throbber.css.  I did have some challenges with this (I kind of expected that - maybe other CSS tied specifical

[2020-07-30 02:10] alexkoay opened #2665 "Do not automatically follow the browser for dark theme"
Noticed this "Always apply browser's theme to the sidebar (on Mixed, Plain and Vertigo)." in the release notes, changes the theme which I specifically chose for the non-inverted colour theme.
Could there be an checkbox for this instead?

[2020-07-30 02:24] piroor commented on #2664
The folder is blank by default and you need to run `make` to instantiate.
https://github.com/piroor/treestyletab/blob/trunk/README.md#development-builds
There are descriptions how to prepare a build environment under the folded section. Clicking on the line "It is not signed, so you need to load it by non-regular way. (Please click this section to see instructions.)" will expand them.

[2020-07-30 02:40] hmijail opened #2666 "Dummy parent tabs immediately disappear and flatten the tree"
## Short description
When a parent tab is closed and substituted by a dummy tab, the dummy disappears immediately and the children are promoted to the parent's level.

## Steps to reproduce

 1. Start Firefox 79b, 79 or 80b1 with clean profile.
 2. Install TST 3.5.14.
 3. Set TST's prefs: Tree Behavior - When a parent tab is closed or moved just as a solo tab - Recommended behavior for people who

[2020-07-30 03:21] piroor commented on #2664
The most simple way to replace TST's throbber animation is: using a new SVG file created in the format same to https://github.com/piroor/treestyletab/blob/trunk/webextensions/sidebar/styles/throbber.svg as the mask.
This file has 60 cells for each animation frame, here is a rendered version with cell borders:
![throbber-01](https://user-images.githubusercontent.com/70062/88876443-3cfa0b00-d25e-11e

[2020-07-30 03:56] byblo commented on #2659
Yes this is the result i got. I switched now to your recommended option: "Fix up tree structure with visible tabs automatically"  and it seems working well. B,C are no more attached to hidden A.

[2020-07-30 05:23] piroor commented on #2665
Workaround stylesheet to deactivate browser theme colors:
https://github.com/piroor/treestyletab/issues/2662#issuecomment-665806899

Description of the background why I removed the option:
https://github.com/piroor/treestyletab/issues/2662#issuecomment-665815487

[2020-07-30 05:24] piroor commented on #2663
Workaround stylesheet to deactivate browser theme colors:
https://github.com/piroor/treestyletab/issues/2662#issuecomment-665806899

Description of the background why I removed the option:
https://github.com/piroor/treestyletab/issues/2662#issuecomment-665815487

[2020-07-30 05:45] byblo commented on #2659
Still having problems with STG (Could it be fixed with your commit? No idea how to try custom extensions on FF so I cant tell yet) Edit: Still giving problems also with new 3.5.15

Sometimes tabs are restored on some "random" places. Also in rare occasion, it even corrupt other trees on other groups that has nothing to do with the closed then restored tab. This seems to only happens while using th

[2020-07-30 05:48] bughit commented on #2658
@piroor

You already have a great system for configuring the context menu. Close actions can be top level or in the sub-menu or both, as the user chooses. But then you take 2 close actions out of this flexible and powerful system, and put them in a new 3rd location for close actions and without any configurability. This makes no sense and undermines what you've already built.

- it doesn't matter

[2020-07-30 06:05] piroor commented on #2666
Thanks, the commit b10157e should fix this problem.

This looks to be a regression on a recent version, sorry...

[2020-07-30 08:58] piroor commented on #2658
@bughit Please remind that the tab context menu on the sidebar has three categories of commands:

1. Commands to simulate Firefox's native tab context menu. "Close Multiple Tabs" is in this category. TST doesn't provide ability to customize for these commands.
2. Commands for TST specific features. You can customize these items via TST's options page.
3. Commands provided by other addons. You can

[2020-07-30 09:05] auno commented on #2665
I definitely see the point in following the browser in the default theme(s). Maybe it would make sense though to have an explicit light theme, just as there is an explicit dark theme. Right now you can choose between "Plain" and "Plain Dark" for example. What I propose is to have "Plain", "Plain Light", and "Plain Dark". That way, the default could follow the browser, but still have the option to

[2020-07-30 09:26] piroor commented on #2665
@auno Sorry but I'm negative to add new built-in theme anymore. The theme "Plain Dark" was originally introduced as a variation friendly to the "Dark" Firefox theme because when I added it Firefox didn't provide ability to get colors really used on Firefox UI. Today regular "Plain", "Mixed" and "Vertigo" are rendered with dark colors cited from Firefox's "Dark" theme, so possibly it is the time to

[2020-07-30 10:13] Zelman88 commented on #2662
@piroor
that fix doesn't seem to work with dark theme in developer edition 80.0b1
![2020-07-30 12_12_38-Dodatki - Firefox Developer Edition](https://user-images.githubusercontent.com/36539629/88911396-11772080-d25e-11ea-905e-af966318a3ee.png)

[2020-07-30 10:26] irvinm commented on #2664
Thank you for the guidance @piroor!

[2020-07-30 10:26] #2664 closed, assigned to nobody

[2020-07-30 11:14] piroor commented on #2662
@Zelman88 The dark color on your case is applied specially for the Dark color scheme of the platform itself. ~~It is applied always even if you choose the "Light" theme of Firefox itself, hmm...~~ (Updated) On TST 3.5.15 and olders some colors are not calculated correctly, and I've introduced a fix with the commit c39e0e9. Now you'll see better colors when you choose the "Light" theme with the Dar

[2020-07-30 13:58] piroor commented on #2659
@byblo How to restore tabs on your case? Firefox's option "General" => " Startup" -> "Restore previous session", the application menu => "Restore Previous Session", or something other way?

And, is there any hidden tabs between existing tabs? You can show hidden tabs in the sidebar with following style declaration, so a screenshot with it will help me to understand what happens on your environment

[2020-07-30 14:08] piroor commented on #2659
By the way, the latest development build (automated build) is available at https://github.com/piroor/treestyletab#development-builds

[2020-07-30 15:50] TiZ-HugLife opened #2667 "Most recent update forced Plain to Plain Dark, causing mismatch to system GTK theme"
## Short description
The colors for the Plain style used to inherit the browser theme, which allowed it to match the GTK theme on Linux by default. But for some reason, they are now identical to the Plain Dark theme, which forces some color choices. Many other styles have this behavior. High Contrast does not, but it also has a really wonky background color.

## Expected result
Tree Style Tab blen

[2020-07-30 16:56] byblo commented on #2659
Yes I have the FF's setting "Restore previous session" enabled.

Actually, the change on version 3.5.15 fixed partially the problem it seems. But what i did was to close the tab on the previous example, then go to another group and close another tab, then come back to the first group and undo the first close, using Gesturefy addon with the function "Popup tabs closed recently", then returned to th

[2020-07-30 17:48] piroor commented on #2667
Thanks, sorry I misdetected the actual colors finally applied to the UI... I've reverted the commit to drop system-color support d066fb0d9135ea56a66a1e9d18ad506869de48f6 so now TST should respect colors defined by GTK+. Could you try the development build?: https://github.com/piroor/treestyletab#development-builds

[2020-07-30 17:51] TiZ-HugLife commented on #2667
Development build fixes it! Thank you! :)

[2020-07-30 17:55] piroor commented on #2667
By the way, I removed the theme "Plain Dark" before I read this issue. TST applies similar colors when the media query to detect dark color scheme is active, but it become impossible to apply the dark colors only for the sidebar. (And there is alternative: https://github.com/piroor/treestyletab/wiki/Plain-Dark-theme-(patch-for-the-theme-%22Plain%22) )

[2020-07-30 18:11] TiZ-HugLife commented on #2667
Well, "Plain Dark" was just the best way for me to describe the issue. My GTK theme is Adapta-Nokto, so it's already dark, and I have my browser configured to display most pages dark. That might be part of why it looked like that.

[2020-07-30 21:36] bughit commented on #2658
@piroor

Any ui of TST, like the sidebar context menu, does not need to match Firefox. It's your ui. It just has to make sense and be useful/convenient for TST purposes, and putting close actions in yet a 3rd non-configurable location, is not helpful.

Lock-in happens due to unique and valuable functionality not minor menu differences. If users want side/tree tabs they're locked-in, the only way t

[2020-07-31 03:16] piroor commented on #2658
If my replies looks to be evasive, I apologize about my poor writing ability in English. I have some policies about this topic but I haven't wrote them as a concrete statement yet, so I'm trying to describe it incrementally with more example cases.

* I personally use TST's sidebar and Firefox's native tab bar together. In other words I don't hide the top tab bar with userChrome.css.
  * This is b

[2020-07-31 05:03] URRDURR opened #2668 "Tree style tab theme zoomed in"
## Short description

The background of the sidebar is an incredibly zoomed in version of the theme

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3. Install any theme

## Expected result

The theme appears as the sidebar background correctly proportioned

## Actual result

![image](https://user-images.githubusercontent.com/68181622/89001730-e3223100-d2af-11ea-8ca5

[2020-07-31 05:14] piroor commented on #2668
The change was intentionally introduced for a fix for #2662. Because there is less hint to determine how TST should repeat or zoom the background image, currently TST always zooms the background to cover the sidebar area.

Hmm, how should we treat both cases smartly?

[2020-07-31 07:42] byblo commented on #2659
I have tried with the hidden tabs visibles (tab-item.hidden ect...) and the lastest automated build version of TST.

There is no hidden tabs between the tabs closed then restored.

It seems the tabs just gets restored at some random position for some reason.

[2020-07-31 13:51] piroor commented on #2668
There is a workaround, this style declaration will restore the old appearance:

[code]

And I've introduced a change 8e867c4, it will prevent zooming of the background image if the aspect ratio of the image is 4:1 or more wider.

[2020-07-31 14:30] piroor commented on #2668
I've realized that some theme contains tiling information. After the commit 9d85e3f now TST respects "repeat", "repeat-y" and "no-repeat" tiling option given as a part of the theme.

[2020-07-31 14:50] piroor commented on #2668
I've found themes you tried:

https://addons.mozilla.org/firefox/addon/stripepaper/
https://addons.mozilla.org/firefox/addon/beach-stripe/

They sadly don't provide any tiling information, so even if you use the next release of TST the background image will be zoomed. But if the theme author add a tiling information to its manifest, it will be TST will respect it like as this screenshot:
![image](

[2020-08-01 03:53] #2648 closed, assigned to nobody

[2020-08-01 03:54] #2655 closed, assigned to nobody

[2020-08-01 07:53] URRDURR commented on #2668
How do i implement the workaround?

(and thank you for the help)

[2020-08-01 10:59] byblo commented on #2659
Here is a fresh FF profile where you can reproduce by yourself the problem: [FF_fresh_profile_for_STG_TST_Incompatibilty_bug.zip](https://github.com/piroor/treestyletab/files/5010260/FF_fresh_profile_for_STG_TST_Incompatibilty_bug.zip) (it has STG and TST extensions installed, without no change on settings, and some tabs from wikipedia)

Steps to reproduce the incompatibility bug:
- Select STG ->

[2020-08-01 11:29] InsertUser commented on #2666
I just came here to report this issue with:
TST version: 3.5.15
Firefox version: 79.0 (64-bit)
OS: Windows 10 (1909)

Is the commit mentioned above set to appear in version 3.5.16 ?

[2020-08-01 11:41] irvinm commented on #2666
@InsertUser, yes that change is in 3.5.16.

[2020-08-02 05:44] wardseptember opened #2669 "Whether the sidebar can be supported in Chrome brower?"
Whether the sidebar can be supported in Chrome brower?
* analogous [Octotree](https://github.com/ovity/octotree)
* support suspending button

[2020-08-02 13:25] d8aninja commented on #894
I did the above (Keyboard > App Shortcuts) and it worked ... for a day? Now the same shortcut is sitting there in the menu, but it does not work in Firefox to open/close the tabs on the left side.  I even deleted it, redid it the same way, and it still does not work...any ideas?
![image](https://user-images.githubusercontent.com/3494773/89124064-6189f900-d491-11ea-89e4-1e5e57fffbdd.png)

[2020-08-02 16:24] piroor commented on #2669
It is one of FAQ: https://github.com/piroor/treestyletab#faq--frequently-rejected-requestsproposals

[2020-08-02 16:25] #2669 closed, assigned to nobody

[2020-08-02 16:31] piroor commented on #2668
Steps I did:

1. Download the XPI package of the theme as a file.
2. Extract it as a zip archive. (Note: some archivers don't support the file, for example 7-zip. On Windows the standard "Compressed Folder" feature will be the best way.)
3. Add the `"properties"` section to the manifest.json.
4. Upload it to Mozilla Add-ons website to sign. You don't need to publish it on the website, instead you

[2020-08-02 17:34] piroor commented on #2659
Thank you for the testcase! It really helped my debugging!

After a research I've realized that restored hidden tabs can have wrong information about its position to be restored. I've introduced some changes with recent commits to fix that, so the problem should be fixed on the next release.

[2020-08-02 21:25] Adelscott opened #2671 "Shortcut (F1) to show Tree Style Tab doesn't work most of the time"
## Short description

Shortcut (F1) to show Tree Style Tab doesn't work most of the time

## Steps to reproduce

CTRL + B to show bookmarks
F1 to show Tree Style Tab

## Expected result

Tree Style Tab shown

## Actual result

Tree Style Tab not shown

## Environment

 * Platform (OS): WIN 10
 * Version of Firefox: 79.0
 * Version (or revision) of Tree Style Tab: 3.5.15

[2020-08-03 00:25] piroor commented on #2671
Shortcuts for addons are sometimes cleared accidentally. Could you check the field `about:addons` => 'Extensions' => the gear button => 'Manage Extension Shortcuts' => 'Tree Style Tab' => 'Toggle "Tree Style Tab" Sidebar' ? If it is blank you need to set it to F1 manually.

[2020-08-03 00:28] piroor commented on #2671
If you still see the problem after you filled the field with 'F1', could you check errors reported in the error console for TST? (*see also https://github.com/piroor/treestyletab/wiki/How-to-inspect-tree-of-tabs#how-to-start-debugger-for-tree-style-tab )

[2020-08-03 10:03] byblo commented on #2659
Unfortunately, there is still problems.

- On the debugging profile, the updated 3.5.17 fixed it.

- But on my real profile, I closed 2 tabs, on 2 different groups, and then undo them on their respective group. The result is the tabs are restored around the correct tab (sometimes before, sometimes after it), but curiously are not restored back into their respective tree. They are just restored as

[2020-08-03 10:20] wvxwxvw opened #2672 "[question] CSS"
Please tell me.
1. How can I remove (set my color) the edging of the "new tab" button.
2. Set the height of the additional elements of the "new tab" button. For example, "select a container".
3. Remove (set my color) the edging of the additional element. For example, "select a container".

I did not find it in the examples.

![2020 08 03_131029](https://user-images.githubusercontent.com/13194155/8

[2020-08-03 11:01] byblo commented on #2659
After checking, it seems the last fix (3.5.17) only works correctly when the TST's option 'Tree Behavior-->Keep Tree Structure including Hidden Tabs' is checked.

If using the other option: 'Fix up tree structure with visible tabs automatically', then the fix will not work correctly, as described in my previous post.

Is this expected?

[2020-08-03 11:34] byblo opened #2673 "Simple Tab Group Archiving and Backup function breaking TST trees"
Please note that I also opened a issue topic at the 'Simple Tab Groups' gitub, since I am not sure from which addon this can be fixed: https://github.com/Drive4ik/simple-tab-groups/issues/662

I am using both of addons: Simple Tab Groups & Tree Style Tab, which makes FF browser fantastic for who uses a lot of tabs everyday, without wasting time bookmarking everything all the time.

But I noticed t

[2020-08-03 13:06] piroor commented on #2672
The inspector will help you to research available CSS selectors. You can research which CSS declaration produces the border with the inspector.
https://github.com/piroor/treestyletab/wiki/How-to-inspect-tree-of-tabs#how-to-inspect-the-sidebar
Screenshot: you'll see the declaration including `border-width` at the right pane.
![image](https://user-images.githubusercontent.com/70062/89185526-55a74f80

[2020-08-03 14:44] shaneutt opened #2674 "Did v3.5.17 accidentally break the dark mode theming from 3.5.16?"
## Short description

It would appear that `v3.5.17` which was updated today August 3rd 2020 has broken dark mode theming at least on my system? I've lost the dark mode themes that use to be available in the add-on preferences in `v3.5.16`.

## Environment

 * Platform (OS): Linux x86_64
 * Version of Firefox: 79.0
 * Version (or revision) of Tree Style Tab: 3.5.17

[2020-08-03 14:47] piroor commented on #2674
Did you talk about the theme "Plain Dark" ? It was removed at 3.5.16 but you can restore it with use user stylesheet:
https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#restore-old-built-in-themes

[2020-08-03 14:49] wvxwxvw commented on #2672
Awesomо!
![2020 08 03_174714](https://user-images.githubusercontent.com/13194155/89195519-89707e00-d5b1-11ea-9a88-ee2507312dd6.png)
Thanks.

[2020-08-03 14:49] #2672 closed, assigned to nobody

[2020-08-03 14:56] shaneutt commented on #2674
Understood, thanks for the link I'll follow those docs and work on getting mine back :+1:

[2020-08-03 15:00] shaneutt commented on #2674
Documentation was great, thank you I've got things restored. I appreciate your quick response here :+1:

Please sign up for Github sponsorship, I would be happy to sponsor your work as I've used your addon for ages :vulcan_salute:

[2020-08-03 15:00] #2674 closed, assigned to nobody

[2020-08-03 15:43] piroor commented on #2659
Thanks, I've found a mistake on the latest version and the commit 50be5d3 should fix it.

However, confused tree after random restoration is still there. I've understood why the problem happens. Assume that there are 4 tabs:

* M
  * N
    * O
       * P

and you do following operations:

1. Close the tab O.
2. Close the tab N.
3. Restore the tab O.
4. Restore the tab N.

Initially the tab O has r

[2020-08-03 16:05] byblo commented on #2659
I agree. There is no need to perfectly restore the tabs positions and trees on complex and multiples restorations. Usually we dont restore so many tabs, just one or two of the lastest closeds.

This said, I am still not sure which option i should use between: TST's option 'Tree Behavior-->Keep Tree Structure including Hidden Tabs' and 'Fix up tree structure with visible tabs automatically' with th

[2020-08-03 16:09] piroor commented on #2673
I think this can't be done by TST side, because archive JSON files are generated by STG.  If STG saves "openerTabId" information to its archive and restores them, TST can restore tree structure for imported groups based on their "openerTabId".

[2020-08-03 17:34] Mesqalito commented on #2665
@piroor It seems "Plain" theme takes wrong colors from browser. After update (to 3.5.17) my TST toolbar turned high contrast black and white, while "Plain" was selected. In browser itself theme is "Dark" so all my sidebar content (bookmarks, history) is drawn in shades of gray(rgb(56, 56, 61) to be precise), except TST - in the same sidebar - which is almost pure black - rgb(12, 12, 13).
I find th

[2020-08-03 20:22] Altsinn opened #2675 "[question]Changing closebox with png image"
## Short description
Hi @piroor, to modify Firefox appearance I use this project:

https://github.com/Aris-t2/CustomCSSforFx

It has several options to change closebox style. I use ./css/generalui/close_icon_windows7v2.css

Inactive:
![obraz](https://user-images.githubusercontent.com/50676021/89219826-cf890a00-d5d0-11ea-8f9f-1b4361d38091.png)

Active:
![obraz](https://user-images.githubusercontent

[2020-08-04 06:07] piroor commented on #2675
I successfully done it with following style declarations:

[code]

Please note that you need to put it to TST's options page instead of userChrome.css.

[2020-08-04 06:43] phoe opened #2676 "3.5.17 no longer works with dark mode on Linux"
## Short description

Tree Style tab no longer adheres to my dark Firefox/system theme after updating to 3.5.17.

## Environment

 * Platform (OS): debian sid
 * Version of Firefox: 76.0.1
 * Version (or revision) of Tree Style Tab: 3.5.17

![Zrzut ekranu z 2020-08-04 08-43-21](https://user-images.githubusercontent.com/15045546/89261568-9089a180-d62e-11ea-91f1-487d2e593ff1.png)

[2020-08-04 06:48] taebox commented on #2676
I mean, I don't like it, but there was a notice on the update notes.
https://github.com/piroor/treestyletab/wiki/Plain-Dark-theme-%28patch-for-the-theme-%22Plain%22%29

If that is not your issue, maybe you just need to switch to Plain theme to get what you want.

[2020-08-04 06:54] phoe commented on #2676
Switching to Plain was not enough, but with this user style, the dark mode is back. Thanks!

[2020-08-04 06:54] #2676 closed, assigned to nobody

[2020-08-04 09:03] ssokolow opened #2677 "Never open an un-prompted tab on update"
I just received an update to Tree Style Tab 3.5.17 which switched me away from what I was working on to an unwanted `moz-extension://68847fa8-1e6e-4301-8c06-31791597e7d6/resources/startup.html`

Please never do this. It's bad enough that everything reflows when an un-prompted update causes the TST sidebar to temporarily go away.

(A few months ago, when HTTPS Everywhere and Cookie AutoDelete added

[2020-08-04 09:17] piroor commented on #2677
Just a workaround: Setting
`notifiedFeaturesVersion` to 9999 or something large number via TST Options => "Development" => "All Configs" => "notifiedFeaturesVersion" will suppress the notification.

[2020-08-04 09:25] piroor commented on #2665
@Mesqalito I've found some bugs around parsing of color values provided by a built-in Firefox theme "Dark", and I realized that in most cases "toolbar" color is suitable for tabs. A new version 3.5.19 will contain the fix, now it is waiting for a review.

[2020-08-04 09:31] piroor commented on #2665
Screenshot on the latest development build:
![image](https://user-images.githubusercontent.com/70062/89278178-bb044a80-d680-11ea-9302-0c48940dcc03.png)

[2020-08-04 09:49] ssokolow commented on #2677
Thanks.

[2020-08-04 10:37] Mesqalito commented on #2665
Looks great.
Also, why background is black on your screenshot? Is it taken from theme also? Because I couldn't find any element in Firefox with that color - background of Bookmarks and History is gray.
![image](https://user-images.githubusercontent.com/575458/89284402-65677800-d657-11ea-8cc6-641ae8f3a209.png)

Upd: I've found it - it's the color of drag area when you remove title bar. But is it in

[2020-08-04 11:55] gbutler69 commented on #2187
I've started having this issue with the latest TST.  Firefox version 79.0 (64-bit). TST Version 3.6.17.

When I started FF today, all my (hundred or more) tabs opened in a flat structure instead of the trees they've been in for weeks.

Any way to get the structure back without rebuilding it manually?

[2020-08-04 15:13] piroor commented on #2665
Yes. The background of tabs is colored with `frame` (formerly named `accentcolor`) of the active theme.
https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/manifest.json/theme#colors

[2020-08-04 15:38] Mesqalito commented on #2665
I now see the point - I had native tab bar hidden so this color never appeared. This though brings in a dilemma - how to treat tabs on sidebar - as sidebar menu or as tabs, which browser paints differently. I believe there would be both who would want it to look like tabs and like sidebar menu. So that would be a meaningful choice of "themes", or even choice of kind of styling inheritance - "none"

[2020-08-04 16:49] piroor commented on #2677
I've introduced a desktop notification as the startup message instead of tab. It doesn't steal tab focus until it is clicked. Is this acceptable by the policy?
![image](https://user-images.githubusercontent.com/70062/89321264-ae521780-d6bd-11ea-9786-3d38f5c9552b.png)

[2020-08-04 16:59] ssokolow commented on #2677
As long as it uses an `onClicked` or `onButtonClicked` rather than an `onClosed` handler, I'm perfectly happy with that.

From what I remember, the specification for the desktop notifications protocol that Firefox feeds those into on Linux says that applications must not assume that a notification host will reliably emit the system-level version of `onClosed`.

...and, even if that weren't an issu

[2020-08-04 17:14] piroor commented on #2677
The notification never open any tab, on `notifications.onClosed`. I'll spread this change to other my addons.

[2020-08-04 19:15] Altsinn commented on #2675
Yes, it works. Thank you! I definitely need to improve my poor css skills ...

[2020-08-04 19:15] #2675 closed, assigned to nobody

[2020-08-04 20:35] anilkumarmyla opened #2678 "Custom themes style rules don't survive a restart of the browser"
## Short description
Custom themes style rules don't survive a restart of the browser. I've tried to restore the metal theme using the steps mentioned in https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#restore-old-built-in-themes , they seem to work fine as long as the browser is not restarted. After a restart the rules are reset

## Steps to reproduce

 1. Start F

[2020-08-04 20:52] brimarq commented on #2678
I'm having the exact same issue on MacOS 10.13.6 with FF 79.0 and TST 3.5.19.

[2020-08-04 22:27] irvinm commented on #2678
@piroor I am wondering if this might be related to the max amount of sync data as we discussed in https://github.com/piroor/treestyletab/issues/2623.  Because the theme has the image data definitions encoded as base64, those take up a lot of space.  (Looks like if you cut\paste the theme, it is about 12.2k of the 16k of possible data)

@anilkumarmyla or @brimarq ... if you delete the CSS block of

[2020-08-05 00:31] piroor commented on #2675
I recommend you to see the debugger. Inspection of the DOM tree and overviewing of applied CSS declarations will help you to know which property produces the appearance:
https://github.com/piroor/treestyletab/wiki/How-to-inspect-tree-of-tabs#how-to-inspect-the-sidebar

[2020-08-05 00:37] piroor commented on #2678
Oops, @irvinm you are right, it looks to exceed the quota...

[2020-08-05 01:13] anilkumarmyla commented on #2678
@irvinm Yes, the theme survives if I delete the image definitions! However I'm not sure where the Sync button is. With 3.5.19, it seems the image definitions vanish just by going to the plugin preferences page, after a previous save

[2020-08-05 01:38] irvinm commented on #2678
@piroor ... just a thought:  Given that Firefox supports up to 512 items to sync with each up to 16k in size (after base64 conversion) up to a total of 100k of storage, could there be a way to keep your implementation of "userStyleRules" the same but when it came to setting up the synchronization keys in common.js split up the content of "userStyleRules" into several smaller buckets < 16k to overc

[2020-08-05 02:32] piroor commented on #2678
@irvinm Yeah, I've thought about same idea and I've implemented that with the commit 203d288. Because [the document](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/storage/sync) says that the size of the quota for each field is 8KB, I've chunked style rules in 8KB for safety. Currently there are 6 slots for user styles, 8KB * 6 = 48KB is the max size of style rules. It

[2020-08-05 20:08] joshgold22 commented on #2596
Dear Yuki,

It was just crossing my mind how much of a help TST is for me, really every day  I just wanted to send you my appreciation for all your work on it!

Thanks!
  -Josh G.

[2020-08-05 22:39] jarredou commented on #2660
It doesn't seem to be a duplicate  of #2272 as TST's tree only disapears but doesn't load anything back. It just disapears and never come back while you don't restart Firefox. After restarting Firefox, the tree's structure is ok, even if some tree's subfolders/tab groups are shown as "expanded" but are collapsed. I need to click on "expand all tabs" then "collapse all tabs" options to get it right

[2020-08-06 14:35] piroor commented on #2660
Could you try reloading of TST instead of restarting of Firefox? On the add-ons manager, disable TST and re-enable it again immediately, then TST is reloaded. If TST works again after the operation, the problem happened in TST and it should be fixed by me. On the other hand, if TST's sidebar is still blank after the operation, the process of Firefox for extensions has crashed and you really need t

[2020-08-06 16:45] piroor commented on #2665
I agree that sidebar-like appearance is good for some people, but I have no plan to make it a built-in option.

Basically TST's UI is designed to behave like the tab bar, thus I think that an appearance like the tab bar is reasonable. And, I have a policy about TST's UI options: if it is easily done by CSS or it is not critical issue, I don't implement it as a built-in option, and the user style r

[2020-08-06 17:02] piroor commented on #2187
@gbutler69 If you couldn't get expected tree structure after reopening the sidebar, sadly the old tree structure was lost forever.

TST's tree structure information is saved as a metadata bundled to Firefox's session information for each tab. If TST cannot read such a metadata for tabs, it looks to mean that those tabs are treated as different from the original one, otherwise the relation of tabs

[2020-08-06 19:50] donw146 commented on #2187
I lose tree structure info several times a month. However, I store all my sessions as single window sessions. If the problem happens, most of the time closing the window and reopening the session fixes the problem.

While I haven’t attempted to reproduce the behavior, it appears that starting to use the browser window while the tabs are still opening is likely to mess up the tree structure.

Hope

[2020-08-06 20:52] sudoyang opened #2680 "When close current tab, treestyletab always switches back to its parent tab."
Is it possible to ask treestyletab switches to its neighbour tab?

## Environment

 * Platform (OS):  Ubuntu 20.04
 * Version of Firefox: 79
 * Version (or revision) of Tree Style Tab: 3.5.19 (2020.8.4)

[2020-08-06 23:53] viking2 opened #2681 ""Save as File" treestyletab.css sets it as Read-Only"
I want to load the treestyletab.css in my editor (Notepad ++) and therefore select "Save as File" followed by "Open with Notapad++".

The file is then saved at this path:
C:\Users\XXXX\AppData\Local\Temp\treestyletab.css
and it opens with Notepad++.

However, the file is then set as Read-Only and I need deselect the Read-Only file attribute (using my file manager) to be able to edit the file.

Is

[2020-08-07 01:19] piroor commented on #2681
This doesn't happen on my Windows 10 + Firefox 79 + TST 3.5.20. TST just triggers a click on a link to download the generated file and never (and impossible) touches to the real file.

I've seen that the saved file is flagged as "downloaded from other computers" by Firefox. I think something security software on your system can flag it as read-only the file based on special rules.

[2020-08-07 01:25] piroor commented on #2680
I think it is the effect of the option: TST Options => "Tree Behavior" => "When the current tab is closed as a last child" => "Move focus back to the opener tab if possible, when the current tab is closed". It aims to simulate Firefox's built-in behavior about the option `browser.tabs.selectOwnerOnClose`.

Currently I have no plan to add a confirmation dialog to choose the action on the fly, becau

[2020-08-07 01:34] piroor commented on #2187
By the way, now TST has ability to save tree structure to bookmarks via the operation: right-click on a tab, "Select All", and "Tree of Tabs" => "Bookmark Selected Trees". It lets you to take a snapshot of the tree as bookmarks in a folder. It is not a good alternative for backup sessions for crashes, but it can be useful on some situations.

[2020-08-07 01:59] viking2 commented on #2681
If I instead save the file ("Save File") instead of "Open with Notepad++" (to the same path C:\Users\XXXX\AppData\Local\Temp\treestyletab.css in both cases), the Read-Only attribute is not set.
The  Read-Only attribute is only set when opening the file (with Notepad++ or just Notepad).

I am using WIN7 (64 bit), FF 78.0.2 (64 bit) and TST 3.5.19.

p.s. This didn't happen with an earlier version of

[2020-08-07 02:13] sudoyang commented on #2680
I am looking for the firefox default behaviour and this is just what I need. Thanks for the information.

[2020-08-07 02:13] #2680 closed, assigned to nobody

[2020-08-07 02:52] piroor commented on #2681
Oops, sorry I missed the point. It is clearly done by Firefox. Firefox disallows to overwrite the downloaded file while the helper application is running , because Firefox removes such a temporary file after the helper application exists and your saved change will be lost. This is a mechanism to avoid data loss.

You can deactivate this safe net: go to `about:config` and turn `browser.helperApps.d

[2020-08-07 05:34] viking2 commented on #2681
So it could not have been possible to "Open with Notepad++" w/o setting the Read-Only attribute in an earlier version of TST?
I assume that you meant "Firefox removes such a temporary file after the helper application _**exits**_". Is TST =helper application? When does it exit? When Firefox is closed?

Is there some way to have TST simultaneously save and open treestyletab.css in a different (user

[2020-08-07 06:12] piroor commented on #2681
I meant Notepad++. Firefox waits until Nodepad++'s exit and removes the file after that.

WebExtensions API provides ability to override some Firefox options, but `browser.helperApps.deleteTempFileOnExit` is not allowed.
https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/browserSettings

So the most easiest way to edit the file by an external editor is:

1. Export user styl

[2020-08-07 10:07] Mesqalito commented on #2665
That's why I suggest you to remove themes as they are now ;-)

[2020-08-07 13:25] irvinm opened #2683 "group-tab.html column width CSS no longer working"
## Short description
On group-tab.html, when there are more than 1 column of tabs, the following CSS is no longer working.  It looks like it is defaulting back to 20em. (Discussion: https://github.com/piroor/treestyletab/issues/2607)

[code]

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3. Create a group-tab.html.
 4. Create enough tabs to require more than 1 colu

[2020-08-07 13:55] irvinm commented on #2683
@piroor I went back and verified that TST 3.5.19 worked fine.

[2020-08-07 16:11] piroor commented on #2683
Sorry, this is a regression from #2678 and the commit 24313b3 should fix this.

[2020-08-07 18:38] jayywolff commented on #2667
I didn't comment earlier since this was fixed immediately in 3.5.16. But now it's broken again in 3.5.20 :expressionless:

Platform (OS): Arch Linux
GTK theme: Arc-Dark
Version of Firefox: 79.0
Version (or revision) of Tree Style Tab: 3.5.20

[2020-08-07 19:03] jayywolff commented on #2667
https://github.com/piroor/treestyletab/commit/7c7228265e09dbcfb750be3479d209cf46e9d3fb

"Don't apply system colors when the dark color scheme is activated by the OS itself"

I dont understand what was the point of this. Just becuase the OS uses a dark color scheme, we cant use the system colors? :confused:

I could swear there used to be a flag for use system colors at some point in the past but d

[2020-08-07 19:53] piroor commented on #2667
I also thought so, but actually the GTK+ theme color looks not affected to CSS system colors. On my testing environment (Ubuntu 20.04LTS) they are still bright colors even if I choose the Adwaita-dark theme. Here is a screenshot on the testing page http://www.iangraham.org/books/xhtml1/appd/update-23feb2000.html
![image](https://user-images.githubusercontent.com/70062/89682725-2fb1e000-d932-11ea-9

[2020-08-07 20:04] jayywolff commented on #2667
Firefox added a default setting of `widget.content.allow-gtk-dark-theme: false` a while back i remember that was quite annoying as I had to toggle it on all my machines and on every new install.

Everyone using a dark gtk theme on linux that wanted to continue using the dark theme with firefox had to toggle this to true.

Check your `about:config` in your ubuntu test environment. If you set `widge

[2020-08-07 20:14] TiZ-HugLife commented on #2667
Yeah, I forgot about having to do that, but I remember it now that @jayywolff mentions it. It was a bummer to have this addon fixed and then suddenly not fixed, but I understand why @piroor was confused, because that sort of extra step you're really only gonna find if you're all-in on dark themes on your Linux setup.

[2020-08-07 20:55] jayywolff commented on #2667
@piroor  :point_up: It might be worth mentioning this in the wiki or readme (however you wanna word it) for linux users that want to use a dark gtk system theme with TST.

[2020-08-07 22:17] viking2 commented on #2681
Actually, an easier/quicker way is:
1. Open treestyletab.css with the editor directly and save the file to a new location.
2. Edit the file and save changes.
3. Import treestyletab.css.

[2020-08-07 22:17] #2681 closed, assigned to nobody

[2020-08-08 01:00] jarredou commented on #2660
Ok ! I'll try that next time the bug occurs.

[2020-08-08 05:08] piroor commented on #2667
Thank you for re-mentioning about `widget.content.allow-gtk-dark-theme`, I completely forgot it despite it was mentioned sometimes (#2314 #2373 #2405).

That was produced with the default preference `widget.content.allow-gtk-dark-theme`=`false`, and after I turn to `false`, both the testcase http://www.iangraham.org/books/xhtml1/appd/update-23feb2000.html and TST's "High Contrast" theme are render

[2020-08-08 06:03] piroor commented on #2667
I've added a new FAQ topic: https://github.com/piroor/treestyletab#appearance

[2020-08-08 14:33] byblo commented on #2659
Still problems of restored tabs order with ''Tree Behavior-->Fix up tree structure with visible tabs automatically'.

But as said before, using the  'Tree Behavior-->Keep Tree Structure including Hidden Tabs' works correctly. I will keep using this setting from now.

[2020-08-08 19:02] jayywolff commented on #2667
@piroor

Great so can you revert https://github.com/piroor/treestyletab/commit/7c7228265e09dbcfb750be3479d209cf46e9d3fb

I know the high contrast theme works with dark gtk themes, but I dont want to use the high-contrast theme it looks like crap, would like to continue using the plain theme

[2020-08-08 23:02] TiZ-HugLife commented on #2667
Yeah, I'm not a fan of the high-contrast theme either. Please just revert that commit.

[2020-08-09 08:07] piroor commented on #2667
I think the commit can't be reverted, because the old behavior forces people to change `widget.content.allow-gtk-dark-theme` to `true` if they want to use any dark color theme. Otherwise, choosing the "Photon" color scheme is required. (Please remind that the "Plain Dark" theme was removed.)

[2020-08-09 15:57] jayywolff commented on #2667
Correct, this is how its been ever since firefox 68 introduced this setting `widget.content.allow-gtk-dark-theme`.
It sucks that it doesn't work out-of-the-box anymore, I agree for sure. Its been over a year since then and we've been able to toggle the setting and continue along happily using TST (until 3.5.20 :cry:). The idea was that you could just note that in the README if you want to use syst

[2020-08-09 22:08] FichteFoll commented on #1601
For vi-like extensions, I would be especially interested in relative tab numbers from the currently active one, as proximity to the active tab is usually higher for tabs I'm interested in. With just the CSS, I can browse any tab currently using `<n>g0`, but having ~500 tabs open means I always need to remember and press 3 digits when browsing around in the lower ends instead of 1-2 for the common

[2020-08-10 01:58] piroor commented on #1601
Here is a modified version of https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#tab-numbering-and-counting showing numbers only the active tab and its followers:

[code]

But it doesn't allow you to move back to the parent tab, hmm...

[2020-08-10 12:53] irvinm commented on #2683
Fixed and verified in 3.5.21.

[2020-08-10 12:53] #2683 closed, assigned to nobody

[2020-08-10 12:57] irvinm commented on #2609
@mkorvas ... friendly reminder.  Any updates?

[2020-08-10 12:58] irvinm commented on #2613
@OhSoGood, any updates?

[2020-08-10 13:00] irvinm commented on #2568
@davidmbesonen, a friendly reminder ...

[2020-08-10 13:01] irvinm commented on #2637
@viking2, a a friendly reminder ...

[2020-08-10 13:01] irvinm commented on #2632
@Jmennius, just a friendly reminder.

[2020-08-10 13:02] irvinm commented on #2642
@viking2 a friendly reminder.

[2020-08-10 13:03] irvinm commented on #2643
@colemickens can you reply to @piroor's questions?

[2020-08-10 13:06] irvinm commented on #2644
@lewallen can you review if this is fixed and close this item if it is?

[2020-08-10 13:08] irvinm commented on #2649
@nleskiw can you review if this is fixed and close this item if it is?

[2020-08-10 13:11] irvinm commented on #2656
@2xRon have you verified the changes?  Can you close this item if fixed?

[2020-08-10 13:13] #2656 closed, assigned to nobody

[2020-08-10 13:33] irvinm commented on #2661
@wagnerand can you close this item?

[2020-08-10 13:36] irvinm commented on #2663
@HighCommander4 can you close this item?

[2020-08-10 13:38] irvinm commented on #2666
@hmijail can you verify the fix and close this item?

[2020-08-10 13:41] irvinm commented on #2671
@Adelscott any updates?

[2020-08-10 13:51] irvinm commented on #2678
@anilkumarmyla this should be fixed.  Can you verify and close this item?

[2020-08-10 14:02] irvinm commented on #2668
Guys is there anything more to do with this item?  If not, can we close?

[2020-08-10 14:02] hmijail commented on #2666
Fixed, thank you!

[2020-08-10 14:02] #2666 closed, assigned to nobody

[2020-08-10 14:26] irvinm commented on #2658
@piroor I think you have made your thoughts fairly clear.  Any reason to leave this open at this point in time?

[2020-08-10 15:15] irvinm commented on #2677
@ssokolow this has been in since 3.5.20.  Can you close out this issue?

[2020-08-10 15:17] irvinm commented on #2646
@piroor any reason to leave this open in terms of TST now?

[2020-08-10 15:17] #2677 closed, assigned to nobody

[2020-08-10 15:19] bughit commented on #2678
@piroor

My custom styles, in a synced profile, have been cleared out by a recent update. Is that this issue?

[2020-08-10 15:19] HighCommander4 commented on #2663
I think the background color has reverted to the original in another update since I filed this issue.

[2020-08-10 15:19] #2663 closed, assigned to nobody

[2020-08-10 15:37] Adelscott commented on #2671
Sorry, I checked the first step : yes F1 is filled. And I tried to debug
but I didn't find anything relevant, but I don't know if I'm doing it
correctly. The bug is difficult to reproduce because it doesn't happen
every time, and when it does, I restart  firefox and the bug is gone.

I'll try again next time it happens.

Le lun. 10 août 2020 à 15:42, irvinm <notifications@github.com> a écrit :

[2020-08-10 15:46] irvinm commented on #2678
@bughit make sure that both machines have the newer version of TST.  I saw that originally when one upgraded and the other did not.  I upgraded the older one and it sync-ed the TST CSS.

[2020-08-10 16:17] bughit commented on #2678
@irvinm Is this a tip for getting the styles back? It's too late, they're gone from every synced profile.

[2020-08-10 16:18] #2661 closed, assigned to nobody

[2020-08-10 16:23] piroor commented on #2678
@bughit Hmm... The change 203d288 introduces new 6 entries `userStyleRules0`-`userStyleRules5`. When TST is updated, the old entry `userStyleRules` is migrated to `userStyleRules0` and `userStyleRules` is cleared. If your another device had an old version TST and configs were synchronized before TST was updated, `userStyleRules` can be cleared. If this was happened on your environment, sadly the l

[2020-08-10 16:29] joshgold22 commented on #2596
Is it possible to make Add To Pocket work with MTH, to add many pages to Pocket at once?

I believe this would depend on Firefox changing how Pocket works, rather than a change to MTH, so I didn't file it as an issue yet, but perhaps there's some way to ask for the needed change from Firefox.

 -Josh G.

[2020-08-10 17:06] irvinm commented on #2678
@bughit one thought I had (shot in the dark) ... do you happen to backup your profile directory at all?  If you do, you could restore the profile and before the sync takes place, copy out your TST CSS.  Just an idea.  [Or do you happen to have any other devices that haven't upgraded and sync-ed ... they would still have the CSS]

[2020-08-10 18:03] viking2 commented on #2642
Sorry, forgot to close. Closed now.

[2020-08-10 18:03] #2642 closed, assigned to nobody

[2020-08-10 18:15] colemickens commented on #2643
@piroor is right, I was looking for a different screen. I thought these "extra permission" check boxes used to be on a different page?

Either way, this can be closed.

[2020-08-10 18:15] #2643 closed, assigned to nobody

[2020-08-10 18:35] anilkumarmyla commented on #2678
@irvinm I'm still unable to save the metal theme from browser restart (I'm on 3.5.21) . I'm not sure how to sync the updated css rules to my browser, any idea how to do this? For now, I simply enter the rules, wait for some time and restart the browser/ With 3.5.21 I'm observing css rules that I did not enter getting suffixed at the end and other weird phenomenon

[2020-08-10 19:45] irvinm commented on #2678
@anilkumarmyla, one thing I could suggest:

- Make sure all of your devices are on latest TST version
- Copy your TST CSS (and place in a text editor)
- Clear out your TST CSS in your browser
- Manually initiate a sync in Firefox
- Repeat for your connected devices (all should be blank and synced now)
- Paste back your TST CSS and manually do a sync
- Go to your other device and manually do a sync

[2020-08-10 20:29] #2644 closed, assigned to nobody

[2020-08-11 01:39] piroor commented on #2678
~~@anilkumarmyla I've found a bug around saving data and I've introduced a change f2d0070. Before the change, on my system very long user style rules were unexpectedly lost its first chunk when the options page was loaded. I hope it should fix your case...~~ Intermittently the first part of user styles is still lost after the change. I'm trying to debugging now...

[2020-08-11 05:53] piroor commented on #2678
@anilkumarmyla I've reproduced the data loss problem and understood that the current version wrongly chunks user style rules to too large size. With the commit 00659f6 now user style rules will be chunked more safely.

By the way, there may be a workaround: you possibly save the "Metal" user style rules successfully if you remove the license header comment (the top of the style rules).

[2020-08-11 08:29] piroor commented on #2678
Finally I've totally re-implemented operations saving large style rules as chunked data. The max data size became smaller than 48KB (because the data will be base64 encoded twice), but stable.

[2020-08-11 08:38] Tragen commented on #2678
I have the problem that still with the latest version, the CSS rules are reset to my old version.
I've copied the Metal theme at the top and below my changes. That lasts for some hours, and when I open a new tab or window, the CSS is reset to the state before I added the theme on top.
I hope your last fix will fix this.
Thanks for you work. Aweseome what you do for Firefox.

[2020-08-11 12:26] Tragen commented on #2678
It happened again.

[2020-08-11 12:28] piroor commented on #2678
@Tragen Which is the version "latest"? If it means 3.5.21, could you try the latest development build?: https://github.com/piroor/treestyletab#development-builds

[2020-08-11 12:31] piroor commented on #2643
@colemickens Do you mean `ext+treestyletab:startup` ? It is accessible under the section "Development", but I agree that there is too less hint...

[2020-08-11 12:39] piroor commented on #2596
I won't add the command as a built-in feature, instead I think it should be done by a separate addon for the purpose because it will be useful for all people who use mutiselected tabs whether they use MTH or not.

Sorry but I don't know such an addon exists or not. If it exists and incompatible to MTH I'll fix the problem.

[2020-08-11 12:41] Tragen commented on #2678
Yes, 3.5.21.

[2020-08-11 12:55] piroor commented on #2646
I won't do anything about this on TST. Customizing of default suggested results of the address bar is interesting but out of purpose of this project, thus I close this.

[2020-08-11 12:55] #2646 closed

[2020-08-11 13:00] piroor commented on #2658
I've added a link from the FAQ to this issue. Now I think it's OK to close.

[2020-08-11 13:00] #2658 closed, assigned to nobody

[2020-08-11 13:59] Tragen commented on #2678
I was wrong. I've tested with 3.5.21, the custom styles are reset as soon as I open a new window.

[2020-08-11 14:03] Tragen commented on #2678
I've installed the development version and the error is fixed for me.

[2020-08-11 15:04] FichteFoll opened #2684 "Problems with shift-clicking after active tab was changed via keyboard"
## Short description

Shift-clicking behaves erratically after the active tab has changed from outside of TST's control, e.g. through switching tabs with ctrl+tab or closing a tab with ctrl+w.

## Steps to reproduce

 1. Have TST and MTH.
 2. Open a couple tabs.
 3. Click on a tab.
 4. Close the tab with ctrl+w.
 5. Shift-click on a different tab.

*Case 2*

3) Click on a tab.
4) Click on a differ

[2020-08-11 15:31] piroor commented on #2659
@byblo After more testing I also saw tabs reopened in wrong position, and after a research I've understood that reference information of showing tabs were wrongly updated before showing of other tabs are completely done. The commit 7e2a17d should reduce such wrong updates.

[2020-08-11 16:25] piroor commented on #2684
Thanks, this should be fixed with 9e68e1b.

[2020-08-12 02:44] irvinm opened #2685 "TST close box has different behavior than Firefox close box"
## Short description
Standard Firefox close box behavior is such that if I "down-click" on the close box, then move the mouse (even outside the close box), then as long as the mouse returns over the close box for the "up-click" then the tab is closed.

For TST, if I "down-click" then move my mouse at all, then the close tab action is cancelled.  [This basically means for any accidental mouse movem

[2020-08-12 09:21] PantherX opened #2686 "Grouped Tab Shows Container Colour Of Tabs"
## Short description
Grouped tab no longer has a neutral background and instead, has a background of the container tab making it impossible to read the text. This is a recent problem caused by some of the recent updates. It used to work fine about a month or two ago without issues.

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST latest version (3.5.21)
 3. Install [Fi

[2020-08-12 10:01] anilkumarmyla commented on #2678
Upgrading to 3.5.22 fixes this problem. Thanks @piroor for the quick fix and for the awesome plugin and @irvinm for the constant follow up 😄

[2020-08-12 10:01] #2678 closed, assigned to nobody

[2020-08-12 11:51] funkykay commented on #1525
**hide tabs on topbar + hide header of 'Tree Style Tab'-Addon + show bookmarks only in new Tab + disable urlbar from expanding on click** ---> https://github.com/funkykay/firefox-vertical-tweaks

[2020-08-12 12:14] piroor commented on #1525
@funkykay It is 404 not found for me.

[2020-08-12 12:20] funkykay commented on #1525
sorry, i had to rebase some stuff... now its online again

[2020-08-12 12:47] piroor commented on #2685
Thanks, the commit 20dd7e1d81f457cb57f1eb4231636db3a6a7b1d2 should fix this. Now closebox should work same as the native one.

[2020-08-12 13:00] piroor commented on #2686
I couldn't reproduce this problem on my environment with a clean profile. In the screenshot tabs look to be colored. Do you use any user-style-rules to expand the container marker to cover the tab itself to simulate colored tabs, like https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#container-colored-background-for-tab-1879 ? Then you need to narrow down the target

[2020-08-12 13:06] piroor commented on #2686
Another workaround:

[code]

[2020-08-12 14:01] FichteFoll commented on #2684
Confirmed, thanks

[2020-08-12 14:01] #2684 closed, assigned to nobody

[2020-08-12 23:11] byblo commented on #2659
Tested again this issue.

By closing some decent amount of tabs and restoring them in random order, it seems solved now for both 'Tree behavior' options.

Thank you again :)

[2020-08-13 00:27] irvinm commented on #2659
@byblo can you close this item?

[2020-08-13 16:43] #2659 closed, assigned to nobody

[2020-08-13 21:04] OhSoGood commented on #2613
Actually, I'm getting used to clicking twice, so I think I'll let it as it is (lack of time also!). Thank you for the follow up!

[2020-08-13 21:04] #2613 closed, assigned to nobody

[2020-08-14 13:25] Jmennius commented on #2632
Tried disabling everything else (only kept Mozilla's Multi-Account containers - can't mess them up) - same behavior.
Basically, in this profile it is enought to have only TST and that VPN plugin.

[2020-08-14 23:04] irvinm commented on #2632
@Jmennius I loaded Fedora 32 in a VM with FF, TST, and Touch VPN and didn't see any problems opening or closing tabs.  Everything seems normal to me.  You also said you weren't able to reproduce the situation in a new profile.  There must be something else going on with your main profile and\or some profile corruption going on.  I think (honestly) the best thing to do is build up a new profile wit

[2020-08-15 04:34] Jmennius commented on #2632
Yup, I totally agree. Thank you for your attention!

[2020-08-15 14:34] irvinm commented on #2632
@Jmennius will you close this item?  If there is more to discuss moving forward, we can still do that when it is closed.

[2020-08-15 14:34] #2632 closed, assigned to nobody

[2020-08-15 22:36] Adelscott commented on #2671
Here's a screenshot of the debugger console when F1 doesn't work [https://i.imgur.com/bERBb05.png](https://i.imgur.com/bERBb05.png)

But I get the same errors when it works ...

[2020-08-16 12:06] kocjs commented on #2657
@jorjio I am trying to do the same, but no luck so far. Give me more insight and share the relevant section that works for you.

Thanks

[2020-08-16 14:52] ItayHadas commented on #2657
@kocjs yes, sorry about that. The following is working for me:

[code]

[2020-08-16 15:46] piroor commented on #2671
Thanks, but there looks to be no effective information in the error console. Many errors are reported but they are from other addons.

Another case, is there any other addon assigned "F1" key for its command? If the input field for the keyboard shortcut (in the list of extensions shortcuts) has a yellow border, there are multiple addons having same shortcut.

[2020-08-16 15:59] Adelscott commented on #2671
No that's not it ...
Plus that's not a F1 problem, because I just tried when it was not working, changed to F4 and that didn't work either. Restarted Firefox and then F4 worked.

[2020-08-17 15:45] kocjs commented on #2657
Thank you this works.

[2020-08-18 05:30] piroor commented on #2671
When you saw the problem, does the sidebar work and updated correctly? For example, when you open a new tab with Ctrl-T, does it appear in the sidebar immediately? If you couldn't see the new tab in the sidebar, the connection between the sidebar and the background process looks lost accidentally. TST internally keep a connection while the sidebar is opened, and when the F1 key (or something other

[2020-08-18 11:06] irvinm commented on #2637
@piroor I think this can be closed.

[2020-08-18 11:08] irvinm commented on #2568
@piroor maybe we should close this.  No contact from the original poster since May.

@Rhialto how are things for you?

[2020-08-18 11:11] irvinm commented on #2665
@piroor Anything more to do with this one?

[2020-08-18 12:24] irvinm commented on #2685
@piroor I pulled down the development build and the behavior is not quite right.

Standard close box:

- Down & Up click on box:  Close tab
- Down click on box, Up click off box (but still on tab):  Tab remains
- Down click on box, Up click off box (and off tab):  Tab remains
- Down click on box, move mouse (on or off box), Up click on box:  Close tab

TST close box:

- Down & Up click on box:  Cl

[2020-08-18 14:30] #2637 closed, assigned to nobody

[2020-08-18 14:31] #2568 closed

[2020-08-18 15:02] piroor commented on #2685
Thank you for detailed feedback! The commit dc60c88 should fix the second case.

[2020-08-18 16:08] piroor commented on #2665
OK, I've decided to remove Vertigo and Mixed. I've added user style rules for people who like them:

https://github.com/piroor/treestyletab/wiki/Mixed-theme-(patch-for-the-theme-%22Plain%22)
https://github.com/piroor/treestyletab/wiki/Vertigo-theme-(patch-for-the-theme-%22Plain%22)

[2020-08-18 16:28] piroor commented on #2665
Workaround style rules for the main topic of this issue: https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#disable-browser-theme-colors-and-images-2662
And side topics were already fixed.
Now I think this issue can be closed.

[2020-08-18 16:28] #2665 closed, assigned to nobody

[2020-08-18 17:44] irvinm commented on #2685
The functional behavior is good now.  Everything functionally works as expected.

I originally wrote up the text below as a question\bug, but after some investigation everything is working consistently.  The issue I saw was rooted in the difference of how TST changes the color of the "x" and background differently than Firefox on a "down click".  (TST goes "darker" whereas FF goes "lighter")

**QU

[2020-08-18 17:44] #2685 closed, assigned to nobody

[2020-08-18 23:40] michaelm2391 opened #2687 "Freezing issue + tabs open in new window"
## Short description

1) TST will often inexplicably 'refresh' as if I had just restarted my browser, getting hung up on the 'loading' bar, rendering the add-on unusable. I have to restart my browser. I wouldn't mind this bug so much if I only knew how to force TST to manually restart. For reference, I usually have 25+ tabs open, but I don't know if that has anything to do with the problem.

2) So

[2020-08-18 23:52] irvinm commented on #2687
@michaelm2391 you may want to look over the open defects.  I think both of these are there in one form or another.  (It shouldn't have anything to do with 25+ tabs.  Many active users have "hundreds" of tabs ... myself included.)

[2020-08-19 03:02] piroor commented on #2687
You can reload TST via the addons manager, with disabling and re-enabling of TST. If it has no effect on your case, Firefox's separate process for addons or something internal system for addons looks to be stopped, and you need to restart Firefox itself.

Anyway, 25 tabs looks not too many. I think there is something special trigger: other addons, webpages loaded in tabs, hardware, or something. I

[2020-08-19 12:43] irvinm commented on #2685
@piroor just wanted to make sure you saw my last comment on this issue.  Obviously not an issue, but just a question.

[2020-08-19 13:50] piroor commented on #2685
Sorry I missed the difference. With the commit d98ec1c closeboxes will be shown similar to Firefox's native one.

[2020-08-19 14:11] timbess commented on #2687
@piroor Can confirm the firefox sidebar bug is happening on Linux too. Somehow has gotten worse recently, used to only happen from time to time, now almost every other time I click on a tab it moves the entire subtree into a new window. Disabling that option you talked about helped a _lot_, but is a little unfortunate too cause I actually like being able to break out the subtrees into new windows

[2020-08-19 20:51] aqbot-kenw opened #2688 "Twisty and closebox contents are not visible with "No decoration" theme."
## Short description
Twisty and closebox contents are not visible with "No decoration" theme, despite specifying color, opacity, etc.  This broke with one of the last few updates.

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3. Select "no decoration" theme
 4. Apply custom styles for everything, for example:

[code]
## Expected result

Twisty is white, X is close

[2020-08-20 02:44] piroor commented on #2688
This looks not a recent regression. I've tried old versions of TST and closebox had no color at least on TST 2.8.7.

[2020-08-20 03:07] piroor commented on #2688
With the commit be73393 now those UI elements have a default color. You can apply this change locally:

[code]

[2020-08-20 14:08] siran commented on #2671
For me, F1 always closed the side-bar. However, it didn't open the side-bar.
After enabling/disabling the extension it got fixed again.

[2020-08-21 17:18] aqbot-kenw commented on #2688
Thank you.  Apologies for the incorrect info on previous versions working.  I think I might have previously been using one of the removed  themes as a base instead of "no decoration".

Just for the record in case someone else finds this in the future,  I ended up using `HighlightText` instead of `ButtonText` so the twisty and closebox 'X' would be light.
[code]

[2020-08-22 08:56] PantherX commented on #2686
Hiya @piroor
Apologies for the delay. I have attached Firefox portable Data folder which has the issue so hopefully, you can investigate that further if needed.
[Data.zip](https://github.com/piroor/treestyletab/files/5112125/Data.zip)

Yes, I have use that code in the advanced section. The profile has all the details including the custom code that I have used.

This is the image of the issue that

[2020-08-22 18:26] piroor commented on #2686
TST doesn't include any code to do that so TST can do nothing, and I close this as not a bug.

I already updated the code snippet based on the second workaround, and I've added a new snippet based on the first workaround: https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#container-colored-background-for-tab-only-in-the-sidebar-2686

[2020-08-22 18:26] #2686 closed, assigned to nobody

[2020-08-22 18:34] piroor commented on #2688
I think that `HighlightText` looks not good for major environment, for example on my Windows 10 (non-Dark theme) it is shown with white color and buttons looks hard to be seen. How about `--tab-text-regular:  -moz-dialogtext` ? I hope it shows better color than `ButtonText` for you.

[2020-08-22 18:36] piroor commented on #2671
After enabling/disabling the extension it got fixed again.

Hmm... It looks to mean that the sidebar panel page is internally still alive on the RAM. After you switch the sidebar panel to something others like bookmarks, foes the key F1 show the sidebar?

[2020-08-22 19:06] irvinm commented on #2649
@piroor I think you can close this one.

[2020-08-22 21:42] PantherX commented on #2686
That's awesome, @piroor! Thanks for updating the code snippet as that was what I meant in the first place 😄

[2020-08-23 01:35] siran commented on #2671
I don't think so. I know I tried hitting ctrl+b, then switching to TST. But F1 didn't start working again.
Enabling/disabling worked fine.

[2020-08-23 14:54] piroor commented on #2671
Could you try to collect log with this development version?: [treestyletab-we.xpi.zip](https://github.com/piroor/treestyletab/files/5114099/treestyletab-we.xpi.zip)

1. Download the file and rename it to "treestyletab.xpi".
2. Load it as a temporary addon, with steps described at https://github.com/piroor/treestyletab/blob/trunk/README.md#development-builds
3. Open debugger for TST and show the co

[2020-08-24 04:10] siran commented on #2671
Right now it's working fine. If it happens again I'll take the log.
Or are you asking for the logs of the working state?

[2020-08-24 04:16] piroor commented on #2671
Sorry for less description. I hope to see logs when you saw the problem, instead of on the working state.

[2020-08-24 07:23] mustaqimM opened #2690 "Closing the last tab switches to the one above it instead of a previously visited one"
## Short description
When closing a tab, TST attempts to switch to the one below it, if there isn't one, it switches to the one above the one just closed. It should rather switch to the last tab actually used.
## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3. Switch to a tab that is above the one you wish to close
 4. Now change to a tab that is last on the main tre

[2020-08-24 08:29] piroor commented on #2690
Firefox itself doesn't have such a behavior except some special cases: when a tab is opened from a parent tab and closed the child tab immediately, if you never activate other tabs. TST tries to simulate the exception behavior, so, did you talk about any bug around it?

Or, did you talk about a request about a new feature not implemented in both TST and Firefox itself? There are some addons for th

[2020-08-25 01:40] pbarney commented on #2671
I have had the same problem with 3.5.22. The problem was fixed when I disabled and re-enabled the extension. If it happens again, I'll come back here and load the dev version to give you the logs.

[2020-08-25 02:16] piroor commented on #2671
Thanks! Please remind that you need to load the development version before starting of the problem, because loading of the development version means reloading of TST itself (so it will "fix" the problem and you will not see any log in the debugger - then you need to run development version TST for more while until the problem appears again.)

[2020-08-25 04:08] mustaqimM commented on #2690
Thanks for linking to that addon, it does exactly what I wanted: To go to the last accessed tab after closing a tab

And thank you so much for your work on this great addon, please close this issue if you wish

[2020-08-25 04:17] #2690 closed, assigned to nobody

[2020-08-25 04:19] piroor commented on #2690
OK I've closed this. Please open any new issue for compatibility problems freely.

[2020-08-25 18:16] #2649 closed, assigned to nobody

[2020-08-25 18:53] piroor commented on #2667
If you want to use "Plain" theme with GTK+ theme color, here is a workaround: please put these lines to the user style rules.

https://github.com/piroor/treestyletab/blob/0859730342a13060c7e4d5ce78e3ec809973d1be/webextensions/sidebar/styles/square/plain.css#L47-L74

I think there are some patterns of Linux users:

1. Not familiar to both Firefox and the OS. They may use the environment with no cus

[2020-08-25 19:27] pbarney commented on #2671
Oh, very good point. I'll load the dev version now.

[2020-08-26 10:29] dstd opened #2691 "[feature request] Keep scrolling position while closing tabs"
## Steps to reproduce
 1. Open multiple tabs so that they occupy the screen height * 2 (call it tabs #1...#100)
 2. Scroll to the middle of the tabs list, so that some tabs are above visible part of the list and some are below
 3. Try to close tabs sequentially, starting from the middle of the list (tab #50 and further), by clicking on [X] without moving a pointer
 4. While there are some tabs bel

[2020-08-26 14:09] keeferrourke opened #2692 "Vertigo theme missing from 3.5.23 update"
## Short description

The latest TST update (v3.5.23) on August 26 removed the Vertigo theme. This was, in my opinion, the nicest looking theme which integrated best with the Firefox sidebar.

## Steps to reproduce

 1. Start Firefox.
 2. Install TST version lower than 3.5.23
 3. Set vertigo theme
 4. Update TST to v3.5.23
 5. Observe the theme has been reset to "plain" and vertigo is no longer an

[2020-08-26 14:17] irvinm commented on #2692
https://github.com/piroor/treestyletab/issues/2665#issuecomment-675570938

[2020-08-26 16:15] jayywolff commented on #2667
I appreciate your thoughtfulness on this issue, and thanks for including a workaround to bring back the plain theme with system colors. Still at the end of the day though, agree to disagree. Breaking changes are not cool :disappointed:

I also don't have stats to back it up but my thoughts would be that at least 80% of users using a flavor of Linux, a dark gtk theme, firefox, and TST is indeed a p

[2020-08-27 02:38] piroor commented on #2692
"Vertigo" theme was removed. You need to use the user style rules as a workaround.
https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#restore-old-built-in-themes

[2020-08-27 02:39] piroor commented on #2692
This is not a bug but a intentional change, so I close this.

[2020-08-27 02:39] #2692 closed, assigned to nobody

[2020-08-27 04:12] piroor commented on #2691
OK, I've implemented the behavior with the commit 666d658

[2020-08-27 06:01] piroor commented on #2667
I've updated the FAQ for Linux users: https://github.com/piroor/treestyletab#appearance I hope it helps more people.

[2020-08-27 12:06] sssceo opened #2693 "Can't hide tooltips using suggested code from wiki"
## Short description
Tooltips are not hidden after adding the following to [profile folder]/chrome/userChrome.css

#aHTMLTooltip {
  display: none !important
}

## Steps to reproduce

 1. Started Firefox with clean profile.
 2. Installed TST.
 3. Created [profile folder]/chrome/userChrome.css with suggested code snippet from wiki.
 4. Save
 5. Restart Firefox
 6. Tooltips still showing when hoveri

[2020-08-27 12:25] irvinm commented on #2693
Try it with a ";" at the end of the statement:

[code]

[2020-08-27 13:15] piroor commented on #2693
Did you activate `toolkit.legacyUserProfileCustomizations.stylesheets` to `true` via `about:config` ?

[2020-08-27 14:50] piroor commented on #2693
After investigation I've realized that the style declaration you tried won't work as expected on e10s enabled environment. Instead you need to apply "display:none" to the tooltip for remote processes:

[code]

Of course you need to activate userChrome.css at first with the config above.

[2020-08-27 15:01] keeferrourke commented on #2692
This should have been made obvious after the update, e.g. by opening a new tab that explains how this works, rather than hiding the rules in the extension settings page under an "advanced" tab. :/

[2020-08-27 15:03] piroor commented on #2692
Sorry I forgot to increment the features version to notify changes on the startup...

[2020-08-28 01:54] piroor commented on #2692
I've updated the startup message for this topic. c9bb197ab

[2020-08-28 03:00] bughit opened #2694 "some bookmark folders open ungrouped"
## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3. give it bookmark access, which enables grouping
    ![image](https://user-images.githubusercontent.com/895588/91516303-0fce6600-e8b9-11ea-99d7-faa5ea05ef16.png)
 4. show the bookmark bar
 5. create a new folder on it "New Folder"
 6. add two bookmarks to it
    1. https://support.mozilla.org/en-US/kb/get-started-fire

[2020-08-28 03:27] piroor commented on #2694
Thanks, this should be fixed with the commit 5eda50ce9. TST tries to detect a tab opened from a bookmark based on the URL, and this method is based on a spec of Firefox's tab: a tab opened from a bookmark has the URL as its title. I knew the scheme part ("https://") is removed in the title but I didn't realized that the first "www." part of its hostname is also removed...

[2020-08-28 06:58] chronocide-commando opened #2695 "[feature request] Ungrouping tabs"
Could you please add ungroup/unstack function, like in Opera 12 and Vivaldi? Currently there seems to be no way to ungroup grouped tabs other than dragging them out of group one by one.

This is useful for when you move a group to a separate window or simply have one last group remaining.

[2020-08-28 10:27] echeoquehaii opened #2696 "[Suggestion] Show/hide trees and tabs on tab bar"
Hello!

First of all thanks for this amazing addon, it has saved me a lot of times when having a lot of tabs open.
I have a suggestion though, I have checked all options and issues and I couldn't find an answer to this, sorry if I missed something and I am duplicating an issue.

I was looking for a way to kind of replicate the trees structure of TST on the tab bar at the top of the browser. What I

[2020-08-28 10:37] sssceo commented on #2693
Wow, you are awesome for responding so quickly. Tooltips gone, thank you!

[2020-08-28 10:46] sssceo commented on #2693
Also, just to confirm, the solution was changing to #remoteBrowserTooltip as you said, and not the earlier suggestions. Thanks again.

[2020-08-28 11:34] irvinm commented on #2693
@sssceo can you close this issue?

[2020-08-28 13:42] #2693 closed, assigned to nobody

[2020-08-28 13:57] piroor commented on #2695
I've installed Vivaldi and tried to group/ungroup tabs but it looks not have a feature named "grouping of tabs". Did you talk about tab stacking instead? Does the term "ungrouping" mean canceling of tab stacking? If I misunderstood your idea please add comments...

[2020-08-28 14:17] Mcmeman opened #2697 "Featue Request: Display Hidden Tabs - see the "Simpl Tab Groups" Add on."
A feature Request, I use Tree Style Tab in conjunction with Simple Tab Groups. This add on hides tabs in groups you set and dictate date. However it would be super helpful if the Tree Style tab Sidebar could still show hidden tabs. This would make hoping between groups and accessing tabs on another group seamless.

This would be somewhat similar to the interface you see in in Vivaldi's sidebar.

P

[2020-08-28 14:35] piroor commented on #2695
I've added a command "Ungroup Tabs" experimentally with the commit 59b75c7. I hope it should work as you expected.

[2020-08-28 14:50] piroor commented on #2696
There are some my past comments describing risks when TST hides tabs in Firefox's native tab bar:

https://github.com/piroor/treestyletab/issues/1831#issuecomment-373618534
https://github.com/piroor/treestyletab/issues/1371#issuecomment-491575613

In short: Tabs hidden when they are just collapsed will introduce compatibility issues with other tab addons and Firefox's native behavior (because hidd

[2020-08-28 14:59] piroor commented on #2697
It can be done with a user style:

[code]

[2020-08-28 15:06] Mcmeman commented on #2697
Amazing, thank you!

Please consider adding this as a default option that can be enabled via
checkbox.

On Fri, Aug 28, 2020 at 9:59 AM piroor <notifications@github.com> wrote:

[2020-08-28 15:33] piroor commented on #2697
Sorry but I won't add this to the options page. TST already has too many options and novice users are easily confused, so I'm very conservative about new options. I'll add new options only when it can't be done via user style rules or it is required for many people.

[2020-08-28 15:33] #2697 closed, assigned to nobody

[2020-08-29 01:56] sssceo commented on #2693
Thanks for closing this for me. I am a brand new github user and I will know to do it next time.

[2020-08-29 09:05] dequis opened #2700 ""Some changes may affect to your use case. Please click here to see explanations""
## Short description

Just got an update to 3.5.24 and it said "Some changes may affect to your use case. Please click here to see explanations"

But when clicking that, I got resources/startup.html with the generic "first use" text.

The notification made it seem like there was something concrete that needed my attention, but sent me nowhere, and I don't know if there's anything that needs my att

[2020-08-29 09:25] dequis commented on #2700
Oh so I see the context for this one is https://github.com/piroor/treestyletab/issues/2677

Honestly, the randomly opened startup.html was slightly annoying but not much. I didn't really care. It promised nothing and delivered nothing. I do agree that changing that to a notification was a move in the correct direction.

I think the main problem is the wording - the notification promises changes th

[2020-08-30 08:36] DiscworldDeath opened #2702 "Opening New Tab Group Option"
Request: Add an option from right click context menu and/or from the + button for "Add new tab" to create a new tab group.

Currently, you have to create tabs, select them, right click, and then pick "create new group from tabs," which is an awkward workflow.

[2020-08-30 09:23] echeoquehaii commented on #2696
Ok, I understand your point, even if I think it could be a nice addition. Thank you anyway for your reply!

[2020-08-30 17:18] dstd commented on #2691
Thank you. Now it's excellent

[2020-08-30 17:18] #2691 closed, assigned to nobody

[2020-08-31 09:06] pupkinvaska opened #2703 "Revert tab closing behaviour to 3.5.23"
Don't like this recent update -

Closing tabs in the middle of the tab bar became very slow and uncomfortable. Which option reverts the changes? Had to roll back to 3.5.23

 * Platform (OS): win 10
 * Version of Firefox: 80.0 x64
 * Version (or revision) of Tree Style Tab: 3.5.24

[2020-08-31 15:03] irvinm opened #2704 "[Idea] TST CSS syntax coloring (CodeMirror)"
## Description
More recently, CSS usage in TST seems to be an more important for more people due to the change in built-in styles and the increased size of synchronized CSS data possible.

In thinking about working with CSS, I think about how working with CSS in [Stylus](https://addons.mozilla.org/en-US/firefox/addon/styl-us/) is easy to use due to the syntax highlighting, color patches which repr

[2020-08-31 17:12] alreadydone opened #2705 "memory blow up with latest version"
## Short description
Today I restarted Firefox and recovered the session with 500+ tab in 3 windows. Without doing anything else, I found that Firefox ate up 4GB+ memory and still hadn't finished loading (high CPU usage) in a few minutes. (Normally, it takes a few dozen seconds for the tree to appear.) I suspected it was due to the Tree Style Tab addon and found that it was indeed updated 4 days a

[2020-09-01 01:46] piroor commented on #2705
I saw another report #2703 similar to this started with 3.5.24. Could you try stop auto-update of TST and downgrade TST to 3.5.23?

[2020-09-01 01:47] piroor commented on #2705
3.5.23 is downloadable via https://addons.mozilla.org/firefox/addon/tree-style-tab/versions/

[2020-09-01 01:48] #2696 closed, assigned to nobody

[2020-09-01 02:09] piroor commented on #2703
You can deactivate this behavior with TST options => Development => All Configs => uncheck simulateLockTabSizing. Could you try it and report the result?

[2020-09-01 08:15] pupkinvaska commented on #2703
@piroor it worked for me, thanks

[2020-09-01 12:23] piroor commented on #2704
I've created a branch for an experiment. It looks working but there are some problems, so we need to do more things to use such a rich text editor...

[2020-09-01 12:51] piroor commented on #2700
You right. Sorry I didn't maintain update guidance well... As a workaround I've changed the notification popup to open the version history page on AMO: https://addons.mozilla.org/firefox/addon/tree-style-tab/versions/

[2020-09-01 12:58] piroor commented on #2702
I won't add the command as a built-in feature ([my past comment describing the reason](https://github.com/piroor/treestyletab/issues/1747#issuecomment-361530428) and there are [other similar topics](https://github.com/piroor/treestyletab/issues?q=is%3Aissue+open+new+group+label%3Awontfix)), instead I recommend you to create a bookmark with a URL `ext+treestyletab:group?New Group`

[2020-09-01 13:19] dequis commented on #2700
Sure, that works for me. Thanks!

[2020-09-01 14:27] robertII opened #2706 "Optional Default to Sidebar Hidden"
TST has a button in the top toolbar to open and close the tab tree panel.
I'd like to have the panel start out closed, so I can open it when I want it.

I use a mixture of windows and tabs: I'll open some web pages as tabs alongside related ones, and others in separate windows so I can see them alongside one another.
My problem with TST is that all my windows have a great big tab tree down the sid

[2020-09-01 14:27] irvinm commented on #2700
@dequis will you close this item?

[2020-09-01 14:32] dequis commented on #2700
I have no idea, am I supposed to? No idea what the workflow is like here or why @piroor labeled the issue instead of closing it.

[2020-09-01 14:36] piroor commented on #2700
I usually use labels because issues closed by me cannot be reopened by the reporter. I hope issues to be closed by the reporter if possible.

[2020-09-01 14:41] piroor commented on #2705
I've introduced some changes about the implementation of the spacer. Now it is implemented with the method same to Firefox's native tab bar for optimization. Could you try the development build?
https://github.com/piroor/treestyletab#development-builds

[2020-09-01 14:41] piroor commented on #2703
I've introduced some changes about the implementation of the spacer. Now it is implemented with the method same to Firefox's native tab bar for optimization. Could you try the development build?
https://github.com/piroor/treestyletab#development-builds

[2020-09-01 15:08] irvinm commented on #2704
If it helps, here is the edit.html that Stylus uses:  https://github.com/openstyles/stylus/blob/master/edit.html

It obviously includes more than what is needed here (although things like themes, beautify, color pickers, and collapsible sections are all nice to have for CSS editors\highlighters).

I think syntax highlighting and color swatches by themselves would be the best improvements.

[2020-09-01 15:32] piroor commented on #2706
Firefox is designed to restore last sidebar state, so if you close the sidebar before you close the last browser window, he first browser window will have a closed sidebar at the next startup. If you see opened sidebar on every startup even if you closed the sidebar, I think something wrong...

You can show TST's tabbar in a separate window with a helper addon Tree Style Tab in Separate Window htt

[2020-09-01 15:39] dequis commented on #2700
Oh, that makes sense. Sure then.

[2020-09-01 15:39] #2700 closed, assigned to nobody

[2020-09-01 16:14] pupkinvaska commented on #2703
@piroor tested dev build on 68.12.0esr x64. Behaviour the same as on 3.5.24, but tab closing became a lot faster with 100-200 opened tabs.
Minor bug (only 68.12.0esr): when I close any tab while the tab bar is scrolled to the very bottom, the scroll bar jumps up a little

[2020-09-01 17:15] piroor commented on #2703
Thank you for testing!

This is the expected result. I hope the change help people who suffered from same slowness.

I think this is the expected behavior. You'll see similar result on Firefox's native tab bar when there are too many tabs and scrolled the tab bar to the rightmost position.

[2020-09-01 17:23] robertII commented on #2706
Thanks for the prompt and helpful response.

Oh yes!  You are right!

Now I know that, I guess it gives me a way to mostly sort my problem.

It's not ideal, though:  It's very subtle -- I'll bet a lot of people (most people?) won't know that.  And if ever I get it wrong -- if the last window to close when I exit Firefox has its sidebar open -- I'll have to go round every window to close its sideba

[2020-09-02 16:38] piroor commented on #2706
Anyway, the last state of the sidebar is out of control from addons like TST. I think you need to request a new option to Firefox, to keep the sidebar closed on the startup.

TST is strongly designed as "per-window tree", so it can't be done on TST natively.

Just a workaround, you can place tabbar window at any position with TST in Separate Window options => "Docked Window Settings" => "Open besi

[2020-09-03 13:21] wvxwxvw opened #2707 "Hourglass and white flashes when loading tabs and panels!"
Firefox 78 esr, TST 3.5.26

You should not go along with every unsuccessful idea of Firefox developers.
If I marked use animation in the TST settings, it means I want to use it.
I disabled animation in the browser for a completely different reason. In particular, to neutralize other unsuccessful decisions of developers, with an ugly address bar and increased resource consumption when loading multi

[2020-09-03 17:29] alreadydone commented on #2705
I installed the development build and memory usage is now moderate. Thank you! Feel free to close this.

[2020-09-03 18:03] piroor commented on #2707
As an emergency response, I've deactivate 3.5.26 on AMO and re-activate 3.5.25 as the latest version. I apologize that the change is too premature for a public release: I just disabled CSS transitions and animations but I also had to reduce such annoying flashing more aggressively.

[2020-09-03 19:41] piroor commented on #2707
I had not imagined a combination of configs: "animation effects reduced by the platform" and "activated animation effects on TST".

It looks that TST's "animation" config must have three states: force-on (activate animation effects even if they are reduced by the platform config), soft-on (current behavior of animation=true), and off (current behavior of animation=false). But radio buttons (or sel

[2020-09-03 20:14] piroor commented on #2707
I've added a new expert option: Enable animations regardless "reduce animations" platform settings. I hope it should help you...

[2020-09-06 10:41] wvxwxvw commented on #2707
OK, thank you. I'll wait for the signed version.

[2020-09-06 13:10] wvxwxvw commented on #2707
Installed unsigned. Yes, it helped me regarding tabs.

All the same, the panel blinks white when loading, this is much worse for epileptics than some dots there. On Firefox will be sued for such neglect for epileptics. )

[2020-09-06 18:35] Sada-Mio opened #2709 "TST unable to close tabs"
## Short description

TST unable to close tabs via sidebar UI X button. All other TST feature still works. Attempting to close a collapsed tree pop up confirming tabs will appear, but no tabs are actually closed. However, native keyboard shortcut & top bar still closes tab.

Toggle addon on/off tabs closes again but will eventually stop responding. Not sure what condition causes or how to troubles

[2020-09-06 18:58] aqbot-kenw commented on #2688
I can barely even see twisty arrows (etc) with `-moz-dialogtext`, it's a very dark gray.

On my Ubuntu system at least, HighlightText is not crazy bright white and it fits in nicely with the rest of my styles.
Regardless, it would be ideal if you could set these things with `tab-item tab-twisty`.

[2020-09-06 20:30] atsu85 commented on #2687
@piroor, thank you for the solution
@tdbgamer

You can remap original drag action into shift + drag:
FireFox -> Add-ons -> Extensions -> Tree Style Tab -> Preferences -> Drag And Drop -> change radiobuttons
* Drag: Do Nothing
* Shift + Drag: Move ...

[2020-09-07 06:09] kunaltyagi opened #2710 "TST keeps loading forever"
## Short description

TST can't finish loading

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST
 3. Open some tabs
 4. Open TST in sidebar
 5. Work normally. Sometimes, TST will auto-reload
 6. If you're unlucky, TST will keep loading forever

![tst-reloading](https://user-images.githubusercontent.com/2657068/92353778-01cfdf00-f11c-11ea-9a74-175b28d24fb1.png)

## Envir

[2020-09-07 09:26] piroor commented on #2710
It looks to happen when TST is updated. Is this reproducible? Could you try to investigate reproducibility of it with an old version downloadable at https://addons.mozilla.org/firefox/addon/tree-style-tab/versions/ ?

[2020-09-07 10:22] kunaltyagi commented on #2710
When I disable and enable the plugin, the problem goes away. I've seen this issue (for sure) for a few weeks so this isn't a new problem. Beyond that, it'd be hard for me to replicate (no knowledge of JS or side-loading plugins in FF)

[2020-09-07 14:07] irvinm opened #2711 "group-tab.html doesn't always load from discarded state"
## Short description
When loading group-tab.html from a discarded state, it appears group-tab.js doesn't initialize\load properly a small percentage of the time and results in a blank page and the title of the tab either being the proper title or sometimes based on the UUID.  (Ex: moz-extension://5697a9ef-6dd3-4e85-a8ad-1cab77dad96e...)

- Reloading the tab manually works 100% of the time after in

[2020-09-07 15:34] piroor commented on #2710
When the problem happens again, could you try close and reopen the sidebar instead of disabling and enabling? If TST works correctly, something happens around connection between the sidebar and the background process. If TST still doesn't work, the background process looks broken.

[2020-09-07 15:36] piroor commented on #2709
Could you try close/reopen the sidebar instead of disable/enable when you see the problem again? If the operation solve the problem, the problem is in the sidebar side. Otherwise the problem is in the background process side.

[2020-09-07 16:08] Sada-Mio commented on #2709
Closing the sidebar and opening again worked.

[2020-09-07 17:09] Fanolian opened #2713 "Tab throbber color turns black even with a dark theme"
## Short description
The tab loading animation turns black even if I am using a dark theme, making it hard to see.
It is a new regression since v3.5.27. v3.5.26 had some changes regarding the throbber but it didn't have this issue.

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST v3.5.27.
 3. No additional TST CSS is modified.
 4. Enable `Enable animation effects` in T

[2020-09-07 17:20] Fanolian commented on #2713
Actually it looks like something is masking over the default throbber.

[2020-09-08 04:09] kunaltyagi commented on #2710
I tried closing the sidebar and opening it again when the issue appeared: there was no difference. I had to disable and re-enable the plugin.

[2020-09-08 08:34] OhSoGood commented on #2709
Same issue here, which appeared (I think, I may be wrong) when I upgraded to Firefox 80.
If I switch the sidebar content from Tree Style Tab to another content (history, bookmark) and then switch back to Tree Style Tab, it works again.

[2020-09-09 12:37] farnoy opened #2714 "Open sibling tab does not always inherit the container of previously active tab"
## Short description

When opening a blank sibling tab with the keyboard shortcut or through the plus dropdown with the "Inherit the container of the parent tab to a new blank child tab" setting, it will not always inherit the container.

## Steps to reproduce

STR for inheriting the container (as desired):
 1. Open any page in a specific container
 2. Open a sibling tab
 3. The container is inher

[2020-09-09 12:39] farnoy commented on #2714
It also seems inconsistent in the same way when opening next sibling instead of opening (last) sibling.

[2020-09-09 15:48] piroor commented on #2714
Did you mean that Ctrl-T with these options don't open "a new sibling tab with the container of the old active tab"?
![image](https://user-images.githubusercontent.com/70062/92615844-8414fa80-f2f8-11ea-9662-3439cae71757.png)
Then it is by design. On this case the new tab opened as a tree sibling tab is not a tree child of the old active tab. There is a note "Please note that the new tba won't inhe

[2020-09-09 16:22] farnoy commented on #2714
No I did not use the builtin Ctrl-T for these steps. I tested with "Sibling tab" option in the dropdown at the bottom of TST and separately with an extension shortcut "Open a new tab: Sibling tab".

I'm glad to hear it's about policy and not API limitations. I worked with FF extensions to some extent and assumed your constraints were imposed by Mozilla.

I'm still somewhat confused by your descrip

[2020-09-09 19:50] piroor commented on #2714
Finally I've chosen the third option. Now you can configure new tabs with container from three choices: default, from tree parent, or from the last active tab.
![image](https://user-images.githubusercontent.com/70062/92646242-17622600-f321-11ea-9ce4-b0cd20a74728.png)
![image](https://user-images.githubusercontent.com/70062/92646244-19c48000-f321-11ea-934a-2d8b6ca701f4.png)

[2020-09-09 21:03] farnoy commented on #2714
Thanks for the quick change, I'll test this in the upcoming release. Quick nitpick about "parent tab on the tree", is that always going to be no container at all for Ctrl-T/Independent tabs? I'm assuming this refers to the parent tab of the newly created tab, not the previously active one?

[2020-09-10 08:49] wvxwxvw opened #2715 "[request] bookmarkFolder_label"
Please add %YY% to the list of templates bookmarkFolder_label.

[2020-09-10 15:59] farnoy opened #2716 "Opening many children tabs in quick succession confuses later tab selection"
## Short description

When I open multiple child tabs in quick succession, selection between them by clicking on the tree selects the wrong tab.

## Steps to reproduce

This isn't perfectly consistent (since it's probably a race condition), but my steps are:

1. Visit old.reddit.com
2. Open another tab as sibling to the previous one
3. Switch back to reddit
2. In quick succession, middle click (to

[2020-09-10 23:55] michaelm2391 commented on #2687
Is there a way to disable/re-enable without going through the clicks? ie.
Can I do it in Terminal or in the Firefox URL bar? I'm using Firefox
Developer Edition on Mac OSX 10.12.6.

On Wed, Aug 19, 2020 at 3:02 PM piroor <notifications@github.com> wrote:

--
Michael McClelland
michaelm2391@gmail.com

[2020-09-11 20:48] I60R opened #2717 "[feature request] Add "Flatten tree" menu option"
Add "flatten tree" menu option with "flatten tree recursively" action on middle click. This will be more convenient than dealing with tab multiselect and Drag and Drop to achieve the same result, especially when long or deeply nested trees are involved.

It would be useful when you want to merge two trees, and in any scenario when tab hierarchy no more matters.

[2020-09-12 13:25] Joduai commented on #2717
I'm both hands for a way to flatten trees on already opened tabs.

It would be also great to get 3rd(?) option.
I found out in other issues how to make tabs tree completely flat - but it applies only to new tabs.
I'd like to have an option to set a 1lvl deep tree. Now opening child tabs still nest them until the amount set in options and we still get the arrow to collapse/expand them.  I'd like to

[2020-09-13 18:55] BlindSquirrelDog opened #2718 "Scroll Bar"
I typically have a LOT of tabs open.  Tree Style Tab makes it much easier to get around, but a scroll bar would sure speed things up.<!--

[2020-09-13 19:12] irvinm commented on #2718
@BlindSquirrelDog what do you mean a scroll bar would sure speed things up?  Of course TST has a scroll bar where there are more tabs than can be displayed.

There are even a ton of CSS items on the wiki discussing different ways to change them or their behavior.

https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#scrollbar

[2020-09-15 11:58] Fanolian opened #2719 "[Nightly only] Unable to open about:processes after bug 1652785 is fixed"
## Short description
*about:processes* (Process Manager) is a built-in tool currently available only in Nightly. Recently *about:processes* stops working when TST sidebar is shown.
Mozregression shows that [Bug 1652785 - Show websites loaded in process in about:processes (title, favicon)](https://bugzilla.mozilla.org/show_bug.cgi?id=1652785) is the culprit.

\* Not to be confused with *about:perfo

[2020-09-15 13:49] piroor commented on #2719
Is this already reported to bugzilla.mozilla.org? I think it need to be fixed by Firefox side...

[2020-09-15 13:51] Fanolian commented on #2719
Not yet. I'll do it later.

[2020-09-15 14:07] piroor commented on #2718
TST sidebar has a vertical scrollbar as @irvinm mentioned. It may be invisible on macOS by default, and you need to change a setting of macOS itself to show scrollbars: https://osxdaily.com/2011/08/03/show-scroll-bars-mac-os-x-lion/

[2020-09-15 14:38] piroor commented on #2717
I think this should be implemented by a helper addon providing utility commands for TST, instead of TST itself.

TST already has too many menu commands. I think that TST itself should provide only some essential commands and some commands should be moved to the helper addon, judged based on the usecase style.

![image](https://user-images.githubusercontent.com/70062/93224170-c8e2da80-f7ab-11ea-987

[2020-09-15 14:44] piroor commented on #2717
And some keyboard shortcut commands are also need to be extracted:

* Create new group from selected tabs
* Ungroup tabs
* Indent current tab
* Outdent current tab

[2020-09-15 14:51] Fanolian commented on #2719
Filed: [Bug 1665099 - Unable to open about:processes when Tree Style Tab sidebar is enabled](https://bugzilla.mozilla.org/show_bug.cgi?id=1665099).

[2020-09-15 14:54] piroor commented on #2717
I think this plan is reasonable and will be a good news for people who use TST with the grouping-based style. I rejected requests about grouping-based style commands for a long time, but the new helper addon will contain those commands.

The only one concern is: the helper addon won't be maintained by me aggressively. As I told above the grouping based usecase is quite different from my daily life

[2020-09-15 15:00] piroor commented on #2719
Thanks!

[2020-09-19 15:56] Fanolian commented on #2719
Fixed in 2020-09-19 Nightly.

[2020-09-19 15:56] #2719 closed, assigned to nobody

[2020-09-20 22:41] viking2 opened #2720 "Opening Temporary Container Tabs from a Link Puts it at the Top of the Tree (Instead of at the Bottom)"
I have set TST to append new child tabs at the bottom of the tree. That works as expected.
However, when I open a new Tab using the Temporary Container extension, it puts it at the top of the tree instead. I see no option in the Temporary Container extension to control the Tab position. Can this be controlled by TST?

## Environment
 * Platform (OS): WIN7 (64 bit)
 * Version of Firefox: 80.0.1 (64

[2020-09-23 03:29] twisteroidambassador commented on #2687
I would like to add: the problem with tabs suddenly flying into a new window exists on Windows as well.

[2020-09-23 11:18] petebrag opened #2721 "disable auto pinning"
## Short description

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3.
 4.

## Expected result

## Actual result

## Environment

 * Platform (OS):
 * Version of Firefox:
 * Version (or revision) of Tree Style Tab:

[2020-09-23 12:00] alexandra-martin opened #2722 "Radio buttons not changed to default after resetting options"
## Short description
After changing settings and resetting them back to default, options with radio buttons will change back, but will be displayed like they weren't changed back.
## Steps to reproduce

 1. Start Firefox with a clean profile.
 2. Install TST.
 3. Go to TST's "Options"/"Preferences" from about:addons.
 4. Select or change an option that has a radio button.
 5. Click "Reset All" fro

[2020-09-23 13:25] piroor commented on #2721
Too less information. Please describe what is the problem you saw.

[2020-09-24 05:58] piroor commented on #2722
Thanks! The problem should be fixed with recent commits https://github.com/piroor/webextensions-lib-options/commit/1fcfb3b25026aedf2ae1891c44513c8ae9f9bbf9 and 534960d

[2020-09-24 09:01] piroor commented on #2687
@michaelm2391 I personally don't use the feature yet but [web-ext](https://github.com/mozilla/web-ext) looks to provide ability to control Firefox from the console.

@twisteroidambassador Drag and drop options described above should work for Windows also.

[2020-09-24 10:00] piroor commented on #2720
I couldn't reproduce the problem. Steps I did:

1. Start Firefox 81.0 with clean profile.
2. Open any website in a tab. I used `https://piro.sakura.ne.jp/latest/`.
3. Install Tree Style Tab 3.5.27.
4. Install Temporary Containers 1.9.1.
5. Go to the options page of Temporary Containers, and turn on the checkbox "Automatic Mode".
6. Go to the tab opened at the step 2, and middle-click on some links

[2020-09-25 05:00] happy-dude opened #2723 "[Request] Setup GitHub sponsorship / donations"
Hey piroor, I have used this addon for ~10 years and I absolutely love it.
I would like the chance to donate and support your projects 👍

More about GitHub sponsors:
* https://github.com/sponsors/
* https://docs.github.com/en/github/supporting-the-open-source-community-with-github-sponsors/about-github-sponsors
* https://docs.github.com/en/github/supporting-the-open-source-community-with-github-sp

[2020-09-25 05:05] happy-dude commented on #2723
Ah, I spotted https://github.com/piroor/treestyletab/issues/761 and I respect your decision.

If that is the case, feel free to close and wish you the best regardless!

[2020-09-25 07:51] pintassilgo opened #2724 "Closing parent tab messes with which tab to focus after closing current tab"
## Setup:
Tree Behavior
- When the current tab is closed as last child
(×) Focus to the previous tab in the tree
[×] Move focus back (...)

- When a parent tab is closed or moved just as a solo tab
Custom
Promote the first child as the new parent always (select this in all the three menulists).

## Steps
1. Load a webpage with links. Click to open some links in new tabs. These new tabs will be chi

[2020-09-25 09:56] mkalinski opened #2725 "[feature request] Snippet to resize pinned tabs"
## Short description

I find pinned tabs rendered in the sidebar way too small and hard to click. An ideal solution would be to be able to adjust the size with CSS.

There are instructions on the wiki about resizing regular tabs: https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#change-tab-height-236-2389

They don't work for pinned tabs, though (`tab-item.pinned` do

[2020-09-25 11:14] chronocide-commando commented on #2695
Specifically it's called "Unstack" in Opera 12 and "Ungroup tab stack" in Vivaldi, making all the tabs in a selected stack unstacked again.
"Ungroup tabs" in TST is greyed out for me for some reason, so it's probably for something else.

[2020-09-27 08:34] zhanghb1994 opened #2726 "[feature request] How to change sidebar style and debug it"
**Short description**

This is a very useful extension for me, and I don't like the sidebar style. I wanna change the style myself, but I don't know which file I should change. How do I know which file controls the sidebar style? Can we find it the same way we find page element styles?

[2020-09-27 12:18] irvinm commented on #2726
You might want to check out the wiki as it has a lot of CSS snippets to change TST.

https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules

[2020-09-27 12:22] irvinm commented on #2726
To inspect the sidebar itself, you can read how to do that here: https://github.com/piroor/treestyletab/wiki/How-to-inspect-tree-of-tabs#how-to-inspect-the-sidebar

[2020-09-28 00:46] zhanghb1994 commented on #2726
Very very thanks

[2020-09-28 00:51] #2726 closed, assigned to nobody

[2020-09-28 02:51] piroor commented on #2695
TST's command "Ungroup Tabs" is corresponding to another command "Group Tabs".  "Ungroup Tabs" is intentionally disabled for regular tree of tabs constructed from tabs opened with middle click on links, because they are not group of tabs constructed by the "Group Tabs" command.

Global "flatten tree" command is discussed at #2717, and I think it should be provided by a helper addon adding various

[2020-09-28 05:00] piroor commented on #2725
You can inspect the DOM tree of the sidebar with the debugger: https://github.com/piroor/treestyletab/wiki/How-to-inspect-tree-of-tabs#how-to-inspect-the-sidebar It will help you to try your custom CSS codes.

TST has an expert option to deactivate "faviconizeation" of pinned tabs: TST Options => Turn "Unlock Expert Options" checked => Turn "Show pinned tabs only with their icon" under the "Appear

[2020-09-28 05:07] piroor commented on #2725
If you hope to simply enlarge pinned tabs, it can be done with a secret option `faviconizedTabScale`. It is 1.75 by default, means "width = height = favicon-size * 1.75", so it will be 28px if favicons are shown with 16px width/height.

[2020-09-28 06:33] piroor commented on #2724
Thanks! This should be fixed with the commit 229eedc.

[2020-09-28 08:26] piroor commented on #2723
Thanks, I'm glad just with those feelings 😃

Even if I got sponsored, this project will die when Firefox become dead (because TST depends on Firefox specific WebExtensions APIs), so please recommend Firefox to people around you! 👍

[2020-09-28 08:26] #2723 closed, assigned to nobody

[2020-09-28 09:06] piroor commented on #2715
Does it mean the lower two digits of the year? (2019 => 19)

[2020-09-28 09:12] piroor commented on #2714
Yes. If you open an independent tab (in other words, it is a top level tab), it will be opened with the default container, because there will be no "parent" to inherit the container from.

[2020-09-28 09:43] piroor commented on #2716
I've realized that `[l+c]` links appear only when I installed [Reddit Enhancement Suite](https://addons.mozilla.org/firefox/addon/reddit-enhancement-suite/). Anyway I've successfully reproduced the problem. Hmm...

[2020-09-28 09:48] piroor commented on #2716
With the latest development build this problem doesn't appear. I think it was a regression triggered by the change a4da430, and fixed by a recent commit  1d7741cd1c4fd2c2cc7e164f249572a511727520 .

[2020-09-28 15:45] piroor commented on #2713
Thanks, I've realized that the black moving dot rendered from the background image unexpectedly covered the white background color. The commit fc6f3ce should fix this.

[2020-09-28 15:55] mkalinski commented on #2725
`faviconizedTabScale` is sufficient for my needs, thanks! Perhaps it would be worth it to mention it in the wiki by the tab resizing snippet?

I found one very minor issue with the "All Configs" section in the preferences page. When a decimal is put as a value for `faviconizedTabScale`, the input lights up in red as if its an error, even though it's not and even the default value is a decimal. It

[2020-09-28 16:09] Fanolian commented on #2713
Thanks. Confirm fixed in 3.5.27.10854.

[2020-09-28 16:09] #2713 closed, assigned to nobody

[2020-09-28 18:29] piroor commented on #2711
I've realized that `tabs.executeScript()` sometimes fails for restoring discarded tabs, so I've added some error handling for the case with the commit 3b9e558. I hope it solve the problem...

[2020-09-29 02:27] piroor commented on #2725
I've realized that decimal numeric value (like `1.01`) is detected as invalid value for a numeric input field by default, and we need to set `step` for such cases. With recent commits ,now such values won't be reported as invalid. Thank you for the report!

[2020-09-29 02:49] piroor commented on #2710
Thanks! It means that something happens on TST's background page. Could you check the error console for TST when the problem happens? (You need to use the remote debugger:
https://github.com/piroor/treestyletab/wiki/How-to-inspect-tree-of-tabs#how-to-collect-debug-logs-of-tst )
If you see no error in the console, please try with enabled "Debug mode" again. If the mode is enabled, more detailed log

[2020-09-29 02:51] piroor commented on #2709
I've recently found some regressions around synchronization of tabs, and they have been fixed with the commit https://github.com/piroor/treestyletab/commit/1d7741cd1c4fd2c2cc7e164f249572a511727520 . The change may affect to this problem. Could you try the latest development build? https://github.com/piroor/treestyletab#development-builds

[2020-09-29 02:56] viking2 commented on #2720
I reproduced what you wrote above except when I middle-click (on my mouse) a new temporary container opens. Why is that?

The difference with our setups is otherwise that I don't use Automatic mode (it is unchecked)!
In this case, regular (non-container) tabs opens as children at the bottom of the tree, while container tabs open at the top of the tree (I select to open the Tab in a temporary conta

[2020-09-29 03:15] kunaltyagi commented on #2710
Got it. Will record logs when the issue pops up again.

BTW, the error console shows the following errors:
[code]

[2020-09-29 11:43] irvinm commented on #2711
I tried 3.5.28 this morning and tried restoring about 60 group tabs (using auto tab discard to manually discard some of them and I also restarted FF as well) and I would say about 10 times the tab still did not load properly.  In each of the 10 cases, the tab loads fine after a manual reload.

[2020-09-29 12:25] #2724 closed, assigned to nobody

[2020-09-29 16:26] wvxwxvw commented on #2715
Yes.

[2020-09-29 18:20] piroor commented on #2715
OK, now `%SHORT_YEAR%` is available as a two digits with the commit 3104549.

[2020-09-30 09:22] wvxwxvw commented on #2715
Thanks!

[2020-09-30 09:22] #2715 closed, assigned to nobody

[2020-09-30 10:19] farnoy commented on #2714
I tested this today on 3.5.28 and I'm loving the changes. It wasn't easy dialing in all the settings, but I can say that my core workflow is pretty much perfect now.

I am seeing some related problems in "New non-blank tabs", let me know if I should create other issues on GitHub for them:
* "New tab from outside Firefox: Container" - This doesn't seem to work for me, neither the `(no control)/inhe

[2020-09-30 11:34] farnoy commented on #2716
Sorry about the `[l+c]` thing, I honestly thought that's just an old reddit feature. Can confirm it's fixed as of 3.5.28.

[2020-09-30 15:21] #2716 closed, assigned to nobody

[2020-09-30 16:20] piroor commented on #2711
I've introduced more changes about group tabs initialization with the commit 746559387d5f4529f9e671c7ba3af00239216489. Could you try the new development build?

[2020-09-30 17:49] piroor commented on #2714
Thanks! I missed that and the commit aba9305 should fix it.

Sadly it is impossible - there is no way to determine a solo tab is opened from a bookmark or not. Even if the loaded URL is bookmarked, we cannot know what the source of the tab is - it might be opened from the location bar, or the history sidebar. (There is an auto-grouping feature for multiple new tabs opened from a bookmark folder, b

[2020-09-30 17:55] farnoy commented on #2714
Got it, makes sense.

[2020-09-30 22:10] grahamperrin opened #2730 "3.5.28 regression, incompatibility with the Bookmark Menus feature of Firefox Multi-Account Containers"
## Short description

With Tree Style Tab 3.5.28: aiming to open two Outlook Web App bookmarks in different containers, in succession, causes the second tab to (re)open in the wrong container.

## Steps to reproduce

1. View the bookmarks toolbar
2. add https://staffmail.brighton.ac.uk/owa/ to the bookmarks toolbar
3. add https://staffmail.brighton.ac.uk/owa/ServiceDesk@brighton.ac.uk/ to the book

[2020-09-30 22:13] grahamperrin commented on #2730
Screen recording of the bug in a refreshed profile:

[2020-09-30 22:52 Tree Style Tab issue 2730.zip](https://github.com/piroor/treestyletab/files/5308509/2020-09-30.22.52.Tree.Style.Tab.issue.2730.zip)

[2020-09-30 23:45] irvinm commented on #2711
Thanks.  I loaded up FF82 in a sandbox and then tried to make sure I could reproduce it with the current version of TST and couldn't.  Before giving up (or trying something else with my current profile) I decided to bring over my TST CSS into the sandbox and I was able to reproduce it in just a few attempts.

I will try to narrow down what it might be in the CSS and provide an update.

[2020-10-01 01:06] irvinm commented on #2711
Update:  I've been playing with the CSS over the past hour and during that process, I ended up trying different CSS items but eventually was able to reproduce the issue (albeit with a low frequency rate) regardless of the CSS ... including no CSS.

The frequency of failure in the sandbox is much lower than my main profile.  (FF81 & ~500 tabs)

I did decide to still try out the development version

[2020-10-01 17:20] piroor commented on #2730
It is a designed behavior, but I agree that it is a regression.

In the TST Options, there are two related items: "New Tabs Behavior" => "Non-blank new tabs" => "New tab with the same website as the current tab from the location bar, bookmarks, histories, or other cases: Open as" => "a child of the current tab" and "Container:" => "Inherit from the current tab". Under these configurations, TST 3.5

[2020-10-01 17:24] grahamperrin commented on #2730
Thanks, will the fix be equally effective where I have four or more successively opened tabs, each in a different container?

(At the time of writing I work with four different mailboxes from the same service.)

[2020-10-01 17:31] piroor commented on #2730
Yes. They will have their containers you specified.

[2020-10-02 19:07] opqriu opened #2731 "Custom background of the sidebar"
After installing the tree style tabs I removed the default tab bar in Firefox. Since then I always use Firefox with a tree style tab on the right. By the way, it is not visually beautiful. It would be nice if the tree style tab had a background theme function.
Thanks.

[2020-10-02 19:51] piroor commented on #2711
Sorry I missed the duplicated tree contents problem. It is a regression of recent changes, and I've introduced some fixes about it. Could you try a newer development build?

[2020-10-02 19:53] irvinm commented on #2711
I have only seen the duplicated tree problem with that last development build ... never before that.  I'll try out the new dev build later today.

[2020-10-02 20:01] piroor commented on #2731
TST is designed to apply Firefox's theme. If you install any theme including background image, it will be applied to the sidebar also.

And you can set your custom background image with a user style, like:

[code]

For more details please read documents about CSS background images.

Direct reference of remote images will grow traffics needlessly, so I recommend you to embed the image as a data: UR

[2020-10-02 20:07] piroor commented on #2731
I have no plan to add a special option to customize background image because there are two main reasons:

* It can be done with simple user style.
* Even if I add such an option to TST, you'll still cannot use large images due to the quota restriction. So, I think that making the feature built-in won't help you.

Ah, but I've realized that embedding data URI of a dropped image will convenient. I'l

[2020-10-02 20:30] garymoon commented on #2703
I completely understand why locked scroll position would be more desirable and performant, but I rely on the collapsing behavior to make it friction-less when closing a long backlog of top-level tabs. I was worried this wouldn't be optional and/or the option would be difficult to find (it was a bit, I was searching for a "scroll"-related preference, but this issue took care of that).

Thank you so

[2020-10-02 22:40] opqriu commented on #2731
Thank you for your reply.
But
I applied it to "chrome/userChrome.css" and the background does not come out.

#background {
  background: url("https://example.com/something-image.jpg");
}

Thank you. Happy Today :)

[2020-10-03 01:27] irvinm commented on #2731
You want to apply the CSS code in the TST options under:  Advanced -> Extra Style Rules.  (Not in your chrome/userChrome.css file)

[2020-10-03 06:24] piroor commented on #2731
After the commit ccae58d TST allows you to embed the data: URI of a dropped image on the style editor field. However, due to [a bug of Firefox itself](https://bugzilla.mozilla.org/show_bug.cgi?id=1408756) the feature does not work at the about:addons page, instead you need to open TST's options page in a separate tab.

[2020-10-03 13:08] irvinm commented on #2711
The dev build looks good.  I wasn't able to reproduce any issues using it in a sandbox.  I will test it more in the next version in my main profile.

[2020-10-03 15:13] piroor commented on #2731
I've done more changes. Now the button "Load from File" allows you to embed data: URI of images.

[2020-10-03 16:13] mreppen opened #2732 "[feature request] TST sidebar/window title"
#  Description
This feature request is in relation to https://github.com/Lej77/tree-style-tab-in-separate-window/issues/9

I try to summarize this post: https://github.com/Lej77/tree-style-tab-in-separate-window/issues/9#issuecomment-702959783

The linked extension breaks out the TST view into a separate window. Currently this window is titled "Mozilla Firefox" instead of something specific to TST

[2020-10-03 16:58] opqriu commented on #2731
Thank You.
I was successful.

#background {
  background: url(https://cdn.clien.net/web/api/file/F03/10645410/59c65e28f09a24.jpg?w=1200);
}

[2020-10-03 17:43] irvinm commented on #2731
@opqriu can you close this item?

@piroor did you want to add a wiki entry for this feature?

[2020-10-04 02:31] #2731 closed, assigned to nobody

[2020-10-04 06:40] piroor commented on #2731
OK, I've added a section in the code snippets: https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#custom-background-of-the-tab-bar-2731

[2020-10-04 08:17] piroor commented on #2732
OK, I've added a new URL parameter `title`. TST now respects it as the window title. @Lej77 Could you use the parameter?