[2019-10-28 06:18] piroor commented on #2397
Thanks to advises! Inspired from your comment, I've researched again around WebExtensions API about window focus, and I've realized that Firefox provides ability to know the window is really active or not. This means that we can narrow down the context of a new tab open with window focus, like:

* When no Firefox window had focus:
  * New tab from a dropped URL text from any other application
  *

[2019-10-28 06:31] piroor commented on #2391
I've realized that there is the fourth checkpoint: it is focus of windows. When all Firefox window lose focus, `windows.Window.focus` of all windows become `false`, and a listener for `windows.onFocusChanged` receives `-1` as the last focused window. So, when a new tab is opened while no Firefox window had focus, the tab is:

* New tab from a dropped URL text from any other application
* New tab f

[2019-10-28 08:37] piroor commented on #2391
Finally I've realized that all new tabs opened while no Firefox window has focus are detectable as "opened from external applications". New tabs via drag and drop from other applications are also treated just as a part of this case. So I've introduced a new option very similar to the one suggested by you with these commits:

* da04b054553dd1cd862eddfafe33aa25ed87b947
* e055dee6cf18765ceab017d1a0e3

[2019-10-28 09:21] piroor commented on #2397
I've implemented the idea I wrote at the last my comment, with 86297bb. Now search result tabs will become child of the addon manager tab - when both two tabs match to a specific pattern: the parent is `/^about:addons/`, the child is `/^https:\/\/addons.mozilla.org\/([^\/]+\/)?[^\/]+\/search\//`.

[2019-10-29 18:44] prashantkhurana commented on #2391
Can't thank you enough for thinking about this feature so much and ultimately adding something that works perfectly.

[2019-10-30 04:44] Argolics opened #2400 "Mouseover tooltips for long tab labels (mostly children) don't always show"
## Short description
It's seemingly #2177 all over again, but i am not sure what has actually regressed expected behaviour this time around.
Basically while tooltips for parent/first level tabs with long titles are always shown, children tabs often don't show any tooltip/pop up on hover. It seems to depend on nesting level somewhat - some tabs in a tree will show the tooltip, while others (childre

[2019-10-30 09:19] piroor commented on #2400
Thanks. I've found some bugs around updating of tab label's overflow status, and I've introduced some small fixes. Could you try the development build of TST?: https://github.com/piroor/treestyletab/blob/master/README.md#development-builds If you see the problem again, please describe steps to reproduce with actual URLs and screenshots. It will help debuggings.

[2019-10-30 12:27] Septolum opened #2401 ".tab.discarded css not working"
## Short description
Upon updating to the latest TST, my CSS rule for discarded tabs stopped working.
CSS rule for unread tabs also seems not to work

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3. Add this CSS to TST's settings
[code]
 4. Open some new tabs in the background
 5. Close and reopen

## Expected result
Unread tabs' labels should go italic, and disca

[2019-10-30 14:16] kristofferR commented on #2256
I think the scrolling text on the bottom of the sidebar should be changed until this bug is fixed. Right now it's just confusing.

The text could be changed to something like "Right click on tab to open in new window".

[2019-10-31 01:56] piroor commented on #2400
Yes, it is not URL specific. I just hope to see the title of the page (short, or long enough to be overflowed) and operations to reproduce, to verify the problem.

[2019-10-31 01:59] piroor commented on #2388
Now I cannot reproduce this problem with TST 3.2.1. Is this already fixed?

[2019-10-31 02:28] piroor commented on #2385
After a research I've understood what's happen. When a new tab 271 is opened by Ctrl-T and it is reopened as another new tab 272 with a container inherited from the active tab, got log on the view is:

[code]

The already closed tab 271 must not be activated at this situation...

[2019-10-31 03:24] piroor commented on #2385
This should be fixed with the commit 4cfae78.

[2019-10-31 03:33] archaik commented on #2388
Actually, it seems better. But it is not consistent. Parent and independent tabs seem to duplicate fine now, following the sibling setting. Further down a tree though, a tab will sometimes still duplicate as a child instead of a sibling.

[2019-10-31 04:11] piroor commented on #2388
Thank you for confirmation. I've understood that a duplicated tab now has its `openedTabId` - it is the ID of the original tab. Thus TST tries to apply the information after a tab is completely duplicated. On some cases TST's controlling is prior to auto attaching based on `openedTabId`, but sometimes ( for example, when it was an active tab) TST tries to apply the `openedTabId` information after

[2019-10-31 04:46] piroor commented on #2388
I've realized that Firefox looks to set `openerTabId` for a duplicated tab only when it was an active tab...

[2019-10-31 07:18] piroor commented on #2388
This should be fixed with the commit f4ca00f for duplicated active tabs.

[2019-10-31 09:27] piroor commented on #2384
I totally misunderstood. It is a bug of TST itself...

Now TST marks tabs as "to-be-closed" when you click the closebox of a tab, to accelerate operations of multiple tab close. However, even if you cancel the "tab close" operation by choosing "stay on page", the "to-be-closed" status of tabs are not cleared. As the result, when you try to close the tab again, TST detects the tab as "already proce

[2019-10-31 18:55] heyakyra commented on #1397
Since nobody has linked to the upstream bug in Firefox: https://bugzilla.mozilla.org/show_bug.cgi?id=1410548

[2019-11-01 09:36] piroor commented on #2384
I've introduced a workaround for this problem with the commit 45dc6b1.

However there are still some more problems. When a parent tab of a collapsed tree is closed on TST's UI, TST tries to close all those tabs at a time for better performance. Canceled tab close with "beforeunload" are stopped but other requests are processed, thus only canceled tabs are left at this situation.

I think all tab c

[2019-11-01 14:37] Dominiquini opened #2403 "Behavior when moving tabs"
## Short description
I often try to move the current tab to the right of the tab I just started from a link I just clicked, but it seems to be impossible. The tabs return to their original order.

## Steps to reproduce

1. Open a link in a new tab
2. Try to move the current tab to the right of the new tab

## Expected result
Change the order of the tabs and change the new tab to become sibling of

[2019-11-01 17:58] levinjb opened #2404 "Change in customized styles and code snippets"
## Short description
A customization of tab labels suddenly stopped working.
This is a problem with back compatibility or out-of-date documentation.
No fix to the code is required.
(Also note - I am a user, _not_ a developer, though I am a software engineer with some understanding of CSS)

## Steps to reproduce
Please excuse the form of this report, as it is not really a bug feature problem, as it

[2019-11-01 19:56] irvinm opened #2405 "Suggested CSS to support option configuration when using "dark mode""
There is a CSS tag to detect when using dark or light mode ([https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme](url)) which would allow better support of dark mode when configuring TST.

Currently when dark mode is enabled (Windows 10 -> Settings -> Personalization -> Colors -> Custom -> Choose your default app mode -> Dark), the TST configuration screen looks like:

![S

[2019-11-01 20:47] namitjuneja commented on #2404
For me as well

[code]
stopped wokring

[2019-11-01 21:02] piroor commented on #2403
Did you mean that a operation in the horizontal tab bar natively provided by Firefox itself? Then it is by design of TST. TST doesn't accept any parent tab placed after its descendant - it is detected as a broken tree. On such case TST automatically "fixes" the order of tabs to keep their relations.

The order of tabs in the horizontal tab bar and the sidebar is synchronized by TST. If you really

[2019-11-01 21:10] piroor commented on #2405
I think this should be fixed by Firefox itself, like https://bugzilla.mozilla.org/show_bug.cgi?id=1544212

[2019-11-01 21:20] piroor commented on #2405
I've filed: 1593355 - Options page in about:addons is still shown with bright color on Dark mode
https://bugzilla.mozilla.org/show_bug.cgi?id=1593355

[2019-11-01 21:22] levinjb commented on #2404
As I said above, this can be fixed by changing the ".label" to ".label-content". I would call this neither a fix nor a workaround, but a change in the CSS code needed to effect the desired style modification. But in any case, you can make it work.

[2019-11-01 21:24] piroor commented on #2404
I thinks the change 3e15ade9dfe96c6e5395cb145a361c6e4f594846 should improves backward compatibility for CSS rules used in old versions. Could you try the latest development build?

[2019-11-01 22:16] levinjb commented on #2404
As I said before, I'm a user, not a developer. I need to know how to find and install the development build, or I'll wait and you can let me know when this change is included in a release. I looked at the change, but I'm not sure how it would affect the issue I had, having to change ".label" to ".label-content" -- but I'm no CSS expert.

[2019-11-01 22:20] levinjb commented on #2401
So what changed such that '.label' used to work but now does not?

[2019-11-01 22:22] levinjb commented on #2404
Your reply on #2401 says "It is a natural result based on the CSS spec. You need to use .label-content instead of .label" -- but something changed, because .label used to work.

[2019-11-01 22:32] piroor commented on #2404
Here is instructions to try the development build: https://github.com/piroor/treestyletab/blob/master/README.md#development-builds

[2019-11-01 22:38] piroor commented on #2384
I've improved the workaround more. Now "to be closed" flags on canceled tabs are correctly and safely cleared.

(On the other hand, the problem "all tabs are closed even if you cancel some tab closes by a confirmation shown on `beforeunload` event" is still there.)

[2019-11-02 00:14] levinjb commented on #2404
I downloaded and temporarily installed TST 3.2.1.9687 per your directions.  Then I returned to the TST configuration and changed the .label-content element back to .label element (in ".tab.unread .label {", "tab-item.active .label {", and "tab-item.discarded .label {") and everything worked the way it had previously. I conclude that change 3e15ade has fixed the problem I saw.  Thank you.

[2019-11-02 00:14] #2404 closed

[2019-11-02 01:48] irvinm commented on #2405
Thanks @piroor!  Let's see how this all plays out.

[2019-11-02 11:51] piroor commented on #2404
After more research I've got completely what caused the problem. It is clearly a regression by my mistake. I missed that a CSS selector `.tab .label-container` was replaced to `tab-item tab-label-container` unexpectedly and the replacement deactivated a style definition for backward compatibility exact same to 3e15ade. Thus I've removed duplicated workaround with the commit 1b0b18508. It's very sh

[2019-11-02 12:39] piroor commented on #2382
Sorry I missed this report.

The problem appears only when TST doesn't have the `<all_urls>` permission. It is not granted by default and you need to give it to TST manually via the option "Don't expand collapsed tree and skip collapsed descendants, while switching focus of tabs via keyboard shortcuts". TST actually tries to show a confirmation dialog in the active tab but it is blocked by default

[2019-11-02 13:42] piroor commented on #2382
As a workaround I've implemented a notification when no confirmation is available. When you click the notification TST tries to cancel the last action - restores closed tabs.

[2019-11-02 15:06] drsvp commented on #2386
i wanted to report back, that after updating TST to v3.2.1 just now (from Ffox addons update notification), my issue with small dead areas on all tabs once again disappeared.
[jic, just prior to the TST update, i also had updated Ffox(x64) to v70.0.1 and restarted the browser, but was still seeing the dead spots]

Thank you piroor!

[2019-11-02 16:26] levinjb commented on #2404
Well, don't be embarrassed - This kind of thing happens often enough in long-lived code, as I know from experience; I'm glad it is cleared up. Thanks for taking the effort for such a relatively small and unimportant problem.   --/JBL

[2019-11-02 17:40] piroor commented on #2256
I agree that "Move to New Window" context menu command is stably effective and recommended, instead of drag-and-drop to outside of the sidebar.

On the other hand the scrolling message was introduced as a workaround for a restriction that the current addon system (based on WebExtensions API and Web APIs) disallows addon to provide drag-and-drop experience compatible to Firefox's native one (droppi

[2019-11-02 19:11] piroor commented on #2256
I've decided to introduce a new workaround for this problem with the commit 59b44b5. As I wrote at the comment, this change introduced a new "regression" on a edge case: when tabs are dragged and dropped between multiple Firefox instances, they are duplicated - imported to the receiver Firefox and detached from the window on the sender. I've decided to accept this "regression" because it looks a r

[2019-11-02 21:15] irvinm opened #2406 "group-tab.html dark mode support"
Obviously this may be related to https://github.com/piroor/treestyletab/issues/2405, but wanted to see if these are related or different in some other way. (Questions at the bottom)

I see in group-tab.html the color is being set with the following code.

![Snag_18c4427](https://user-images.githubusercontent.com/979729/68076928-a3b2cc80-fd91-11e9-8f0b-a858777c2dcd.png)

The values of "background:

[2019-11-03 12:27] bijang opened #2407 "Feature request: session save"
Would it be possible to have a feature to 'summarize' an entire sessions tabs, in a link for later separate use (example scenario would be an academic search session), like what tab.bz offers (which I don't think is open source and has dodgy privacy policy)

[2019-11-03 12:31] bijang opened #2408 "Feature request: syncronisation"
Would it be possible to syncronise tabs across browser by integrating with device to device sync like syncthing, or a cloud, self-hosted or otherwise; or by integrating with another opensource project like xbrowsersync (https://github.com/xbrowsersync).
[xbrowsersync syncs bookmarks (through self hosted or 3rd party cloud) but plans to add sync for tabs and history accross devices and browers thro

[2019-11-03 13:52] piroor commented on #2408
I recommend you to use another addon developed for the feature: https://addons.mozilla.org/firefox/addon/tab-session-manager/

I won't add features not related to "tree of tabs" to TST. There are a document describing about this:
https://github.com/piroor/treestyletab/blob/master/README.md#faq--frequently-rejected-requestsproposals

And sorry but currently there is no donation way (described as th

[2019-11-03 13:56] piroor commented on #2407
Sorry but I won't add features not related to "tree of tabs" to TST. There is a document describing about this:
https://github.com/piroor/treestyletab/blob/master/README.md#faq--frequently-rejected-requestsproposals

[2019-11-03 14:16] piroor commented on #2406
Thank you for proposal! Color scheme of options in `about:addons` should be controlled by Firefox itself, on the other hand other tab contents provided by TST look to need to apply Dark theme by self. I hope that the commit 4c7d729 based on your code at #2405 does that.

[2019-11-03 19:35] irvinm commented on #2406
I pulled down the development build and played with this a little.

Both the group-tab.html and startup.html look great and dynamically change colors properly when the color mode is changed.  You may want to consider modifying the color of links (Example on startup.html) in dark mode as well.  White underlined links aren't too bad, but a version of blue might stand out better.

Ex:
    --link-colo

[2019-11-03 23:16] bijang commented on #2408
Thank you for your reply and you work on this great project and for the recommendation for tab session manager, it is exactly what I am looking for!

[2019-11-04 00:38] akeeton commented on #761
I second @HamsterHuey's response and it's truly fantastic that @piroor is still contributing to this delightful extension.

It's difficult to remember a time when I haven't used Tree Style Tabs (OK, maybe I wasn't using it with Mozilla Phoenix :P).  TST is *the* reason Firefox is my go-to browser.  I wish everyone knew about!

[2019-11-04 00:41] irvinm commented on #2408
@bijang will you please close this issue?  Thanks.

[2019-11-04 01:00] #2408 closed

[2019-11-04 09:33] piroor commented on #2406
OK, with recent commits I've imported more color definitions including link colors from Firefox itself.

[2019-11-04 10:10] seqizz opened #2411 "Drag/drop inside a website detaches first tab"
## Short description

Once in a while, when I select a text within a website and drag it for very short time (mostly by mistake, I'd like to select the text for tracking my reads) TST decides to detach my first tab to separate window. Mouse never leaves to the TST area or outside of the browser. This happens regardless of active tab is the first one or not, always the first tab detaches.

## Steps

[2019-11-04 12:59] irvinm commented on #2406
The colors look great now.  Thanks.  We can track options.html in the other issue.

[2019-11-04 12:59] #2406 closed

[2019-11-04 13:47] piroor commented on #2411
I couldn't reproduce this on my environment (Windows 10). Is this Linux specific?

Anyway I've never written any code to open new tab with a drag-and-drop on the content area. Thus I think it should be caused by Firefox or other reasons.

[2019-11-04 14:15] seqizz commented on #2411
Yeah, this can be platform or even WM/DE specific (I am on plasma desktop btw). I also sometimes can't even drag selected text on the content area so it might be even a firefox bug.
Let's see if anyone else realizes such issue :slightly_smiling_face:

[2019-11-05 08:31] levinjb commented on #2404
And finally, TST release 3.2.2 on Nov 4 has fixed the problem and returned functionality to what it was before 3.2.0. This should not be labeled "fixed".

[2019-11-05 19:12] jakobbbb commented on #2405
Hey,

unfortunately, since 2.3.3, TST has stopped respecting the *Apply Browser Theme* option for me.

I use a dark GTK theme (I'm on Linux) and have set Firefox's theme to default so that it uses that GTK theme.  I also set `widget.content.allow-gtk-dark-theme` to true, as suggested in https://github.com/piroor/treestyletab/issues/2314#issuecomment-512810530.

I got the Plain theme to work again

[2019-11-05 21:42] Nitrooo commented on #2405
Same problem here on 3.2.3.

[2019-11-06 00:22] irvinm commented on #2406
@piroor when viewing options.html in its own page, the color changes look A LOT better.  Thank you.

In comparing the color pallet, I see 2 or 3 items which standout a little too much and just want to make sure it is what you intended.  (From: https://hg.mozilla.org/mozilla-central/raw-file/tip/browser/themes/addons/dark/manifest.json)

It looks like things like **text input areas** and **drop dow

[2019-11-06 01:40] mutmedia opened #2412 "Other "New blank Tab" actions also override "New Tab" button behaviour"
## Short description
Changing the behaviour of "Other new tab" actions to make new tabs created with say, ctrl+T, be added as child of the current one also overrides the behaviour of the "New Tab" button.
## Steps to reproduce
1. Download TST version 3.2.3
2. Change the "Other new tab"  behaviour to be creating tabs as child of the current one
![image](https://user-images.githubusercontent.com/441

[2019-11-06 02:30] piroor commented on #2406
Thanks, I forgot to define colors for input fields. After 77be0b8 and 513dc6a they are shown with dark background and light text color. The color scheme is based on Firefox's in-content fields.

[2019-11-06 04:58] piroor commented on #2412
Sorry for confusion. It is intentional by design. Actually the option `Open "New Blank Tab" actions (toolbar buttons, keyboard shortcuts, etc.)` is applied to new tabs from the "New Tab" button in the sidebar. So it should be named like as `All "Open New Blank Tab" actions including the button itself`...

Inspired from this issue I've switched the order of two sections and renamed those captions.

[2019-11-06 12:53] irvinm opened #2413 "group-tab.html favicon issues"
With FF 70.0.1 and TST 3.2.3 on the group-tab.html page, it looks like the favicon for children group-tab.html pages and regular web pages that don't provide their own favicon are missing.  (I originally thought it was dark mode related, but I switch the color scheme back to normal and still don't see them.)

**Chilredn group-tab.html:**
![2019-11-06_7-37-31](https://user-images.githubusercontent.

[2019-11-06 15:36] piroor commented on #2413
Thanks, this is a regression and fixed with a2b1ce8.

[2019-11-06 15:36] #2413 closed

[2019-11-06 16:47] piroor commented on #2405
Sorry for the regression. With the commit 0b8dc5e TST now respects the system color even if it is detected as the "Dark" color scheme. Screenshots:

TST 3.2.3 + HighContrastInverse: tabs are shown with the built-in Dark color sheme
![image](https://user-images.githubusercontent.com/70062/68318492-3a6bea00-0100-11ea-8b22-5efafad6666e.png)

TST development build + HighContrastInverse: tabs are shown

[2019-11-06 16:54] piroor commented on #2405
TST 3.2.3+ HighContrastInverse + "OldWood" Firefox theme: tabs are shown with the built-in Dark color sheme
![image](https://user-images.githubusercontent.com/70062/68319153-32607a00-0101-11ea-8506-484fd9d220ca.png)

TST development build + HighContrastInverse + "OldWood" Firefox theme: tabs are shown with colors specified by the HighContrastInverse theme, respecting "OldWood" Firefox theme
![imag

[2019-11-06 17:10] mike-tn commented on #2385
Great thanks, seems works OK!!!

[2019-11-06 17:10] #2385 closed

[2019-11-06 17:12] jakobbbb commented on #2405
Thank you very much, the styling works as expected in the latest development version:
![tstfixed](https://user-images.githubusercontent.com/26824491/68320710-c100d700-00c0-11ea-862b-416a352f3342.png)
3.2.3+Plain on the left, Dev Version+Plain on the right

[2019-11-06 19:48] mutmedia commented on #2412
Is it too complicated to make these two behaviours different? Also, is there a way to create new keyboard shortcuts?

[2019-11-07 01:19] piroor commented on #2412
TST provides ability to assign separate keyboard shortcuts for each action about new tabs.
![image](https://user-images.githubusercontent.com/70062/68351789-da993180-0147-11ea-96cd-66111ecfdcbc.png)
But please remind that currently Firefox doesn't allow assign any shortcut conflicting to Firefox's one. (related bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1325692 )

[2019-11-07 01:22] mutmedia commented on #2412
Awesome! I guess this issue is closed then?

[2019-11-07 02:03] piroor commented on #2412
Yes, please close this if you don't have any more problem about it. (I recommend reporters to close issues by themselves, because issues closed by the project owner cannot be reopened by the reporter.)

[2019-11-07 06:41] mortar-and-pestle opened #2414 "Tab Description Dialog Box created by hovering cursor over tab persists outside of the Tree Style Tab Area"
I am unsure if this is a bug. If confirmed to be a bug, I will go through the steps to reproduce it on a clean profile. I understand this may not be acceptable but I don't have the time right now to dig into it.
![treestyle](https://user-images.githubusercontent.com/36805455/68365400-2de29400-00f6-11ea-8084-c162cfbf379e.png)

Here's the grievance. Frequently, when I put the cursor of the mouse ont

[2019-11-07 07:31] piroor commented on #2414
There is a similar (but different) issue: #1423  It is a bug of Firefox itself, and it should be fixed by Firefox side.

Additional notes:

* You can deactivate tooltip for collapsed tree. TST Options => Development => All Configs => uncheck "showCollapsedDescendantsByTooltip".
* Sorry but there is no option to deactivate tooltip for tabs completely.

[2019-11-07 08:03] mortar-and-pestle commented on #2414
I see. Well it's not the worst thing. So its called a tooltip? Good to know. At least the option reduces the size of the tooltips that do show up for tabs with children.

Thanks for the reply and I love the add on. Been using it for years. Surfing the web is impossible without it.

[2019-11-07 21:34] #2412 closed

[2019-11-07 21:51] irvinm opened #2415 "Tab dragging: Landing line not visible in dark mode"
FF 70.0.1 with TST 3.2.3:

- Install fresh Firefox with new profile
- Create some tabs
- Drag tabs and notice the "landing line" is visible and easy to see in light mode
- Change color to dark mode
- Repeat tab dragging and notice black-on-black landing line makes judging where the tab will land very difficult

Desired result:
- Landing line should be white (or lighter) when in dark color mode.

!

[2019-11-08 02:54] piroor commented on #2415
Thanks. This should be fixed with the commit 2ad2d44.

[2019-11-08 03:09] piroor commented on #2414
Yes, "dialog" means a message windows with buttons or input fields. Small floating windows like that - disappear after a while or mouseout - are called "tooltip".

By the way, I still don't know which bug is the exact same to this but here is a list of similar Firefox bugs:

* [636616 - Tooltip background remains when page scrolled with wheel](https://bugzilla.mozilla.org/show_bug.cgi?id=636616)
*

[2019-11-08 12:33] irvinm commented on #2405
@piroor I am closing this issue as everything looks good now.

[2019-11-08 12:33] #2405 closed

[2019-11-08 12:34] irvinm commented on #2406
@piroor 3.2.4 just landed an everything looks great here as well.  Thanks again.

[2019-11-08 12:40] irvinm commented on #2407
@bijang will you close this item?  Or is there more to discuss?

[2019-11-08 12:43] irvinm commented on #2397
@Atario will you try the latest version to see if we can close this item or not?  @piroor has made some good progress on this.

[2019-11-08 12:45] irvinm commented on #2415
@piroor I will close this and validate when 3.2.5 comes out.  I see the check-in simply set the drop color via a variable.

[2019-11-08 12:45] #2415 closed

[2019-11-08 12:50] irvinm commented on #2383
@Sniperkillerut will you close this item?  Or is there more to discuss?

[2019-11-08 12:54] irvinm commented on #2328
@m-thomson can you try the latest version and see if you can close this item or not?

[2019-11-08 12:57] irvinm commented on #2364
@piroor this is obviously not the norm for most people.  Is there anything that @stapuft can do or provide to help you with his situation?  I have already suggested simplifying his situation to see if it still occurs.  @stapuft any additional feedback?

[2019-11-08 13:00] irvinm commented on #2299
@piroor or @bughit ... is there any reason to keep this open at this point?  @bughit can you close this if not?

[2019-11-08 13:00] irvinm commented on #2362
@piroor I think we can close.  No updates since August.

[2019-11-08 13:04] irvinm commented on #2272
@Arthaey or @stapuft ... can this item be closed now?

[2019-11-08 13:08] irvinm commented on #2309
@piroor I think this can be closed.  @cebas can comment if that is not the case even after it is closed.

[2019-11-08 13:10] irvinm commented on #2087
@piroor I think we can close this.  No updates from OP since June 24.

[2019-11-08 13:11] irvinm commented on #2312
@piroor I think we can close this.  No updates from OP since August 6.

[2019-11-08 13:12] irvinm commented on #2187
@piroor I think we can close this.  No updates from OP since July 18.

[2019-11-08 13:14] irvinm commented on #2232
@piroor I think we should close this.  We can always continue the discussion if it closed if\when @Coldblackice has time.

[2019-11-08 13:18] irvinm commented on #2352
@Hirato \ @stapuft ... can you guys give us an update using the latest version?

[2019-11-08 13:22] irvinm commented on #2373
@piroor I think you should close this at this point in time.

[2019-11-08 13:26] irvinm commented on #2278
@azizLIGHT how are things with the current build?  If good, can you close this item?

[2019-11-08 13:27] irvinm commented on #2356
@tbertels can you give us an update?  If things are better, can you close this item?

[2019-11-08 13:32] #2362 closed

[2019-11-08 13:32] #2309 closed

[2019-11-08 13:32] irvinm commented on #2341
@xzn are you still seeing the issue?

[2019-11-08 13:32] #2087 closed

[2019-11-08 13:32] #2312 closed

[2019-11-08 13:33] #2187 closed

[2019-11-08 13:33] #2232 closed

[2019-11-08 13:33] irvinm commented on #2019
@ssokolow any new updates?  Or can you close this item?

[2019-11-08 13:35] irvinm commented on #2345
@piroor I think you can close this.  No feedback from OP since August 4.

[2019-11-08 13:35] irvinm commented on #2338
@piroor please close this.

[2019-11-08 13:37] irvinm commented on #2314
@mruhlin can you try again with the recent build?

[2019-11-08 13:38] #2338 closed

[2019-11-08 13:40] tbertels commented on #2356
I haven't encountered a slow web page for a while, so I can't say if it's fixed or not.

[2019-11-08 14:05] v-fox commented on #2373
@irvinm Do you now ? Was it fixed in either addon or FIrefox to work without workarounds right after installation ?

[2019-11-08 14:16] Arthaey commented on #2272
This still randomly happens to me several times a month, unfortunately.

[2019-11-08 14:23] irvinm commented on #2373
@v-fox I am only suggesting to close it as there doesn't appear to be anything that @piroor is inclined to do on this issue based on his GUI design philosophy and the fact that there is a workaround.  @piroor did not close this item (he closed several others), so maybe there is something more he is considering.

[2019-11-08 14:25] irvinm commented on #2272
@Arthaey sorry to hear that.  Thanks for the update.

[2019-11-08 15:06] piroor commented on #2373
I've realized that Firefox shows in-content scrollbars with dark colors when the "Dark" theme is applied by the platform (Windows 10), as this screenshot:
![image](https://user-images.githubusercontent.com/70062/68485905-64014e80-0283-11ea-9e58-805541e6f206.png)
After inspection I've realized that it is produced by a special CSS declaration `-moz-appearance: scrollbar-vertical` for a XUL `<scrollb

[2019-11-08 15:15] ssokolow commented on #2019
I still get the occasional tree structure corruption, but I haven't been able to consistently replicate them and I don't think they're the same "off by one" bug that I opened this for.

[2019-11-08 15:25] irvinm commented on #2019
@ssokolow my vote would be to close it.  Even once it is closed, you can reopen or even just add comments to it if more information around how @piroor might be able to reproduce himself.

[2019-11-08 15:28] piroor commented on #2373
Screenshot after the commit 9261eff:
![image](https://user-images.githubusercontent.com/70062/68488169-cfe5b600-0287-11ea-8241-205fdf37e785.png)

[2019-11-08 15:29] #2373 closed

[2019-11-08 15:31] ssokolow commented on #2019
Understood. Closing.

[2019-11-08 15:31] #2019 closed

[2019-11-08 15:48] nh2 commented on #2087
Sorry for the delay,

Yes, absolutely. Thank you!

[2019-11-08 16:19] piroor commented on #2272
To be honest I also see a problem similar to this a few times, but I've not clearfy the conditions to reproduce yet. I still seriously need concrete steps reproducing with 100% probability...

[2019-11-08 16:22] #2407 closed

[2019-11-08 16:24] piroor commented on #2272
But I think there are some environment dependent conditions - CPU speed, RAM size, applications running aside Firefox, and more. So even if you reporter successfully narrow down "steps to reproduce", it may not effective on my environment.

Thus I hope that someone addon developer tries to inspect the problem deeply on his environment and creates a pull request...

[2019-11-08 16:34] piroor commented on #2356
I've tried with a page including an infinity loop:

[code]

and it shows a info bar with a message: "A web page is slowing down your browser, what do you want to do?" But after I click the "Stop It" button TST still works correctly for me.

I think this is an environment specific problem. On my environment Firefox runs separate processes for addons and in-content web pages, thus even if I stop run

[2019-11-08 16:36] #2345 closed

[2019-11-08 17:44] piroor commented on #2299
I couldn't reproduce this with latest TST and the "Close this Tree" context menu command. I cannot determine that the problem was correctly fixed or not, but I think it looks enough to be closed as "works for me".

[2019-11-08 17:44] #2299 closed

[2019-11-08 18:28] Atario commented on #2397
@irvinm, @piroor

I just tried it and the specific case I mentioned (`about:addons`) does work as promised.  However, other cases (like from the Resurrect Pages addon) are still the same.

It seems like the right approach should be to assume any new tab is the child of the currently active tab, and then carve out exceptions from there, rather than the other way around…

[2019-11-08 18:55] piroor commented on #2364
I've struggled to reduce this type problem caused by complexedly mixed multiple asynchronous operations around tabs for some years since TST 2.0 was released. I think that I design TST 3.0 and later stable enough for most cases I supposed. However, such a problem looks still appear with recent versions of TST on @stapuft's environment. I'm afraid that such a problem still happens for more other pe

[2019-11-08 19:09] piroor commented on #2397
I think we need to be careful seriously about guessing implicit relations of a new tab and the active tab. Carelessly done aggressive guessings may break things - it's horrible. TST is basically designed very conservative about this point. If you can specify the relation of a new tab and the active tab explicitly, you should do that.

On your case, the addon Resurrect Pages should specify `openerT

[2019-11-08 19:30] Atario commented on #2397
I'll give the author of that addon a report about that, thanks.

But out of curiosity, what is it that goes wrong in making the assumption I posed?

[2019-11-08 19:36] piroor commented on #2397
Ah, I've already created a pull request: https://github.com/arantius/resurrect-pages/pull/44

[2019-11-08 19:39] Atario commented on #2397
Oh haha sorry!

[2019-11-08 20:18] Atario commented on #2397
I also tried it with [View Page Archive & Cache](https://addons.mozilla.org/en-US/firefox/addon/view-page-archive/), and at first I was seeing the same problem.  But after trying again some time later, its new tabs *do* open as children of the current tab, but somehow ignore the setting to open as the last child, instead opening as the first.  Strange…

[2019-11-08 20:37] #2383 closed

[2019-11-08 22:41] xzn commented on #2341
Sorry though I closed this issue already. Thanks for the reminder.

[2019-11-08 22:41] #2341 closed

[2019-11-09 05:58] piroor commented on #2397
https://github.com/dessant/view-page-archive/pull/15

[2019-11-09 11:39] tbertels commented on #2356
I've tried too with that script, it works for me too.

[2019-11-09 11:39] #2356 closed

[2019-11-09 12:07] perdolka commented on #1402
TST Bookmarks Subpanel - awesome addon :)

[2019-11-09 14:45] piroor commented on #2411
I've got another report about (maybe) same problem on Windows 10 via Twitter. This looks a non-platform specific...

Could you upload a screen cast? It possibly give me some hints to debugging.

[2019-11-09 17:09] piroor commented on #2411
And, if you OK could you collect debug logs of TST? Steps:

1. Go to TST's options.
2. Check "Debug mode" under the "Development" section.
3. Expand the list of logged modules and check only the module "sidebar/drag-and-drop".
4. Go to about:debugging.
5. Click "This Firefox".
6. Click "Inspect" of the item for TST.
7. Activate the "Console" tab.

Then logs from drag and drop module will appear in

[2019-11-09 18:02] seqizz commented on #2411
Hi again,

I set up the debugging, but sadly I cannot reproduce the issue while recording. It happens once in few days generally but I'll try to find a way to produce it reliably and send a recording with logs if I can :+1: maybe it's an issue with some specific page or some other weird case is effecting the behavior.

[2019-11-09 20:38] SammysHP opened #2416 "Use Crowdin (or similar) for translations"
Currently updating the translation is a manual process in most parts. While you can spot new strings relatively easy with a diff, changes in strings are very hard to detect.

Would it be feasible to use a service like [Crowdin](https://crowdin.com/) to manage translations? Once the strings are uploaded they can be fetched via a script and converted into the JSON format. When a string changes upstr

[2019-11-09 22:03] He4eT commented on #2272
I had the same troubles.
Disabling of the "Optimize tree restoration with cache" checkbox solve the problem.

I Hope it will help you in your research.

[2019-11-09 22:18] stapuft commented on #2272
unfortunately, this just happened to me again, and has happened multiple times since originally making this post.

as for running programs, I only have Firefox, and "avast antivirus" running 90% of the time, my computer is rather slow, and so I tend to only run one program at a time, other than my antivirus. I would take a screenshot, but apparently you can't take a screenshot of task manager? wtf

[2019-11-09 22:20] stapuft commented on #2272
I just tried this myself, will be testing to see if it works.

[2019-11-10 06:47] piroor commented on #2416
I've tried the Crowdin and the Transifex and I've realized that it requires payment when I host my project on those services. Thus instead I've wrote an instruction to translate with the Web Extension Translator. Please see:
https://github.com/piroor/treestyletab/blob/master/webextensions/_locales/README.md#translation-on-a-web-service
The Web Extension Translator looks enough powerful for this us

[2019-11-10 07:51] SammysHP commented on #2416
Both are free for non-commercial / open source projects.

https://crowdin.com/page/open-source-project-setup-request

https://docs.transifex.com/projects/open-source-project

[2019-11-10 13:53] piroor commented on #2416
Oh, thanks! I missed those information because I became intimidated from the message "free trial" shown at the top of pages when I tried to create a project.

And i studied about automation between GitHub repositories and those services with this article: https://qiita.com/wadahiro/items/53f50df7241dc7d61d0c (note: written in Japanese.) The article says that Crowdin can push changes to GitHub but

[2019-11-10 13:54] piroor commented on #2416
Until I successfully register TST's locales to GitTranslate, please update translations with the `Web Extension Translator`.

[2019-11-10 21:24] Arthaey commented on #2272
I've also unchecked "Optimize tree restoration with cache" to see if that helps me!

[2019-11-11 09:31] cipri-tom commented on #2352
Version 3.2.4 introduced dark colour scheme and now everything is dark when I select Plain or Mixed. Vertigo still has ok colours, but I don't like it because there are no tab separators. Same for "Sidebar". Ticking or unticking "Apply Browser theme" only influences the stuff behind the tabs (I guess this is normal).

[2019-11-11 13:28] irvinm commented on #2352
@cipri-tom I cleared out my TST CSS and looked at both plain and mixed and could still see tab separators.  Can you clear out any CSS you might have to make sure it isn't changing any colors?

[2019-11-11 15:09] cipri-tom commented on #2352
@irvinm thanks for the quick reply ! I have nothing in my CSS in TST preferences. And `userChrome.css` is disabled in `about:config`.

Please note that I said that only _Vertigo_ has no tab separators.

Now I have restarted Firefox and even Vertigo as dark colours, which previously had ok, light colours, but no separators.

Actually, I restarted again and Vertigo has light colours. Am I dreaming?

[2019-11-11 15:32] piroor commented on #2352
@cipri-tom Do you mean a result as following?:

* The light (bright) color scheme is active as the default color of the platform macOS
* The dark color scheme is applied on "Plain", "Vertigo" (sometimes), and "Mixed".

A screenshot may help my understanding what's happen on your environment.

Currently TST is designed to apply a dark color scheme only when you choose the theme "Plain Dark", or you

[2019-11-11 15:52] irvinm commented on #2352
Here is what I see with no TST CSS.  There are no tab separators with either vertigo mode.  That might be by design.

Vertigo Light:
![Snag_d61ed1](https://user-images.githubusercontent.com/979729/68599941-8a83dd00-046f-11ea-9210-37dcdd99c480.png)

Vertigo Dark:
![Snag_d65581](https://user-images.githubusercontent.com/979729/68599954-92438180-046f-11ea-8544-7075f87fcbb9.png)

Plain Dark:
![Snag_e0

[2019-11-11 20:08] Dominiquini commented on #2403
Thanks!

I'll close the issue.

[2019-11-11 20:08] #2403 closed

[2019-11-11 20:15] #2414 closed

[2019-11-11 21:11] cebas commented on #2309
@piroor @irvinm It's working fine with the latest versions. Thanks

[2019-11-11 23:33] stapuft commented on #2352
it still happens randomly, I think it has something to do with memory, because I have noticed it happens more, when I have more active tabs, and the more it happens, the closer Firefox gets to crashing itself.

[2019-11-11 23:38] stapuft commented on #2364
I think alot of my problems stem from me trying to get as much as I can out of an aging, low end, netbook style, laptop. but if you think it would help I can submit to allowing you to play around in my computer for a bit, I do have rather fast internet, even though the computer itself is rather slow.

I tend to be a regular "night owl" myself if that helps any with scheduling seeing as we are on o

[2019-11-12 00:07] irvinm commented on #2352
@stapuft not sure of your operating system, but while you only have 4GB of ram with an older Celeron processor, how much virtual memory have you configured?  I am only asking because, while you would not get good\great performance from giving the OS a lot of virtual memory, at least you would be able to do more and Firefox should not crash.

The other 2 things that jumped into my mind was:

1. Wha

[2019-11-12 02:50] piroor commented on #2364
By the way, I think another tab-tree addon [ftt](https://addons.mozilla.org/firefox/addon/ftt/) can become a good alternative for low-performance environment.  It looks being developed day by day, so it looks an up-and-coming choice of this type addons.

[2019-11-12 07:53] seqizz commented on #2411
Happened again. While I couldn't reproduce with the same action to record, good thing I left the debugging on, so here is the console output:
[code]

Just dragged a link for a short while within the page and got the tab detached.

[2019-11-12 10:06] stapuft commented on #2352
@irvinm I am running windows 10, and I have another 4 GB of virtual memory, which is a rather good portion of my harddrive space tbh, but I do wish I could give it more....but I also need some free space for general stability, and to be able to stream/cache things.

as for the other two things

I have no clue? where is that option at? I didn't know you could customize that, I just keep the about:m

[2019-11-12 10:45] stapuft commented on #2364
ill have to give it a shot, it seems to work almost exactly like your extension does, and even supports the generated tabs your extension makes, but it does seem to work faster, seeing as it is more minimalist, and lacks a few features, like being able to hide it and summon it with a gesture. if nothing else it helped me reorganize my tab bar back to the way it should be, すばらしい仕事をしてくれてありがとう！

[2019-11-12 11:29] piroor commented on #2411
@seqizz Thanks a lot! Hmm, the log really says that drag and drop was invoked on the sidebar...

Extracted event coordinates from the log:

[code]

From this information I thought that you put the sidebar at the right side of the window as the figure following:
![image](https://user-images.githubusercontent.com/70062/68667967-8698ad80-058a-11ea-8586-c24146d0f066.png)
Is it true?

And, could you pa

[2019-11-12 12:13] seqizz commented on #2411
Yep, that seems accurate.

Hmm, that's odd, I can't see any start with close timestamp. Here is the wider log:
![image](https://user-images.githubusercontent.com/307899/68670641-af4e8200-054d-11ea-807d-cfd5ad4cb964.png)
Text: https://gist.github.com/seqizz/5361dfe2d2a68a50f3e8a6a2ad33da92

[2019-11-12 13:05] irvinm commented on #2364
@stapuft would you mind closing out this issue?  I am not sure there is anything @piroor can do without a way to reproduce.  Even with the issue closed, we can continue to discuss options and\or alternatives to help you out.

[2019-11-12 13:12] irvinm commented on #2352
4GB physical and 4GB virtual memory isn't too bad for Windows 10 ... assuming you aren't doing too much outside of using your browser.

Glad you found the content process options.  The lower the number, the less memory will be used by Firefox.  (Obviously, the performance will go down some)  You could try lowering it to 2 or even 1 to see if that helps.

I personally use "Auto Tab Discard" as my a

[2019-11-12 14:16] mruhlin commented on #2314
Looks better!  But.... on the latest build, it matches whichever theme the system has when firefox starts.  If I toggle while firefox is running, FF automatically switches themes, but TST stays the same.  Not sure if that counts as a separate issue or not.

1. Set mac os to dark mode
2. Launch Firefox
3. Note that TST is dark
4. Set mac OS to light mode
5. TST should be light but is still dark.
6.

[2019-11-12 14:20] irvinm opened #2419 "Sending multiple tabs via "Send tabs to device" results in strange relationships"
**Environment**

Windows 10 \ FF 70.0.1 \ TST 3.2.4

**Situation**

I normally start the day checking my phone for interesting news or articles I might want to read.  Once you install Firefox on your phone, it installs a means to articles directly in Firefox or to send it to Firefox on another machine (Share -> Add to Firefox -> Send to other devices -> device name list)  Some articles I don't wan

[2019-11-12 14:37] piroor commented on #2411
Thanks! Hmm, this looks very similar to a zombie session problem I met at macOS ([1476195 - Dragstart on a child process produces zombie drag session in the parent process and breaks subsequent drag-and-drops on macOS](https://bugzilla.mozilla.org/show_bug.cgi?id=1476195)). The bug happened because Firefox failed to cancel drag session at the chrome process side when the mouse button is released.

[2019-11-12 14:50] irvinm commented on #2314
I just tried your exact sequence and in my case (Windows) the theme changes without having to restart Firefox.  I will leave it to @piroor how he wants to handle that.

[2019-11-12 14:52] mruhlin commented on #2314
I've been clicking "remind me tomorrow" for a few months now about an osx update.  Let me just double check if that changes anything...

[2019-11-12 15:11] piroor commented on #2411
Sadly there is no workaround. I need to research more inside Firefox and write a patch...

[2019-11-12 15:51] seqizz commented on #2411
Sounds like some thing/action should clean the stale drag sessions.

Alright then, thanks for digging. I'll be watching :eyes:

[2019-11-12 16:15] mruhlin commented on #2314
Yeah no luck, works the same on latest mac os (10.15.1)

[2019-11-12 16:24] irvinm commented on #2419
@piroor ... one other side affect of this is that in the first example with the tabs under "Paid Services", if I leave things just as they are and restart Firefox, all of the tabs lose the "Paid Services" tab as their parent and they all become siblings.  I was able to reproduce this affect twice in a row. (Below is my 2nd attempt and after restarting Firefox)

![Snag_e28c27](https://user-images.g

[2019-11-12 16:25] irvinm commented on #2314
Thanks for trying.  Glad it at least works after restarting Firefox.

[2019-11-12 17:45] TiZ-EX1 commented on #2314
There was a short time when it was broken on Linux, but the 4 days ago update fixed it.

[2019-11-12 19:49] piroor commented on #2411
I've filed: [1595883 - Immediate drag-and-drop across the sidebar and Firefox UI produces a zombie drag session and breaks subsequent drag-and-drops on Windows](https://bugzilla.mozilla.org/show_bug.cgi?id=1595883)

[2019-11-12 19:52] piroor commented on #2411
As I described at the bug, the problem you saw looks already partially fixed on Nightly 72.0a1.

[2019-11-12 21:48] #2364 closed

[2019-11-12 21:49] stapuft commented on #2364
can do, I apologize for not doing it sooner.

[2019-11-12 21:54] stapuft commented on #2352
yeah i really don't, I use VLC to play my media, (streaming) and I have my antivirus doing its thing, but it is mostly just Firefox.

it is definately running smoother at 4, if I run into more problems though ill try lowering it to 2 or 1.

thats the extension I was using, since I can't find the option to turn it back on, and that about:config did nothing, I think I'm going to go back to it.

you

[2019-11-13 01:35] piroor commented on #2314
TST tries to mix some colors when the sidebar is loaded, to apply pale highlighted colors and other variations to hover/active tabs. Sorry that the latest released version of TST doesn't have any code to re-calculate colors when the system color scheme is changed dynamically and you need to close/reopen the sidebar to apply new colors completely for now.

Thus I've added a code to re-calculate col

[2019-11-13 15:42] cipri-tom commented on #2352
Hey, @piroor , I missed your reply. Sorry :(.

No. The default color scheme of the platform is Dark.

So this is the expected behaviour. It only started working recently, then. I'm sorry I missed that.

Is it possible to have a _light_ color scheme despite the plaform's dark mode?

[2019-11-13 16:08] piroor commented on #2352
@cipri-tom OK, I've understood what is the expected.

Basically TST tries to show its UI with colors matching to Firefox's UI, so if you are OK that the navigation toolbar and other Firefox UI are shown with light color, a built-in theme "Light" (choosable at the `about:addons`) applies light colors to TST's sidebar (for "Plain" and "Mixed").

If you exactly want to show dark toolbar and light sid

[2019-11-14 02:53] mnutt opened #2420 "group-tabs API throws 'cyclic object value'"
## Short description

TST API throws `cyclic object value` when calling `group-tabs`

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3. Manually load the addon from https://github.com/mnutt/group-tabs-by-domain
 4. Open two or more tabs from the same domain. (example: github.com)
 5. Press the extension's "Group Tabs By Domain" button in the button actions bar.

I w

[2019-11-14 06:52] piroor commented on #2420
Thanks! I missed that, and the commit f262f01 should fix this error.

[2019-11-14 07:40] piroor commented on #2419
Received tabs are opened as tabs like opened from bookmarks or history entries. Thus "how opened tabs are treated" depends on options of Firefox, TST, and other addons. (For example, on my environment they are opened at the end of the tab bar as independent tabs, not children of the active tab.)

I've tried to determine a tab is sent from another device or not, but sadly there is no hint...

[2019-11-14 08:08] piroor commented on #2352
@cipri-tom I've introduced a change 604b80d5ce10aa4b5771a3f17588870497653eb7. After the commit TST don't apply browser's color scheme if you turn off the checkbox "Apply Browser Theme" checkbox under the "Appearance" section of TST's options. I hope it may help you.

[2019-11-14 14:22] irvinm commented on #2419
@piroor I spent some more time on this and have more information and it all seems related to browser.tabs.insertAfterCurrent = true.  When this value is false, I see the same behavior as you where the tabs are created sequentially (at the same level) at the end of the tab list.

In a clean profile with only TST installed, browser.tabs.insertAfterCurrent = true, sending over 5 tabs, and the active

[2019-11-14 15:50] mnutt commented on #2420
Thank you!

[2019-11-15 02:12] piroor commented on #2419
Thanks! I've successfully reproduced this problem on my desktop PC. I'm using both Firefox 70 and Nightly 72.0a1, and this happens when I send multiple tabs from one to another with the setting. (I've confirmed that Firefox Android is unnecessary for debugging.)

[2019-11-15 02:18] piroor commented on #2419
And after more trying I've realized that Sync is also unnecessary to reproduce the problem. I've successfully reproduced this problem just a script in the console: `for (let i = 0; i < 3; i++) { openUILinkIn(`about:blank#${i}`, 'tabshifted', { triggeringPrincipal: Services.scriptSecurityManager.getSystemPrincipal() }); }` This means that this problem may happen on any Firefox feature opening multi

[2019-11-15 04:08] piroor commented on #2419
The commit 817bf64 partially fixes this issue: now tabs opened in the middle of an existing tree are correctly attached based on their position. However still there is another problem: received tabs are not opened successively. If you send 5 or more tabs they are received as gapped tabs.

[2019-11-15 13:46] piroor commented on #2419
Finally I've understood why tabs are opened with gap. I think this is an inconsistency problem of webExtensions API itself.

I tested a simple `tabs.onCreated` handler and multiple received tabs, without TST. This screenshot indicates what was happen:
![image](https://user-images.githubusercontent.com/70062/68946901-6d486900-07f7-11ea-8054-9e4654a61617.png)
Please look at their `id` and `index`. T

[2019-11-15 14:24] irvinm commented on #2419
@piroor thank you for the partial fix and investigating this situation.  It definitely looks like an issue on the Firefox side.  Did you plan on submitting a defect to them on this?

[2019-11-15 14:26] piroor commented on #2419
I'm planning to file a bug to bugzilla, and now researching a minimum steps to reproduce.

[2019-11-15 14:41] piroor commented on #2419
Finally I've understood that [Sync opens received tabs](https://searchfox.org/mozilla-central/rev/cac340f10816707e91c46db6d285f80259420f07/browser/components/BrowserGlue.jsm#3524) like this:

[code]

[2019-11-15 14:50] piroor commented on #2419
More short version:

[code]

The most important point to reproduce is: we need to do `await` for the first tab.

[2019-11-15 15:59] piroor commented on #2419
I've filed: [1596787 - tabs.onCreated callback receives tabs.Tab object with wrong index when multiple tabs are opened via "Send Tab to Device" with "browser.tabs.insertAfterCurrent"="true"](https://bugzilla.mozilla.org/show_bug.cgi?id=1596787)

[2019-11-15 16:51] irvinm commented on #2419
Thank you sir.  Your effort and knowledge is appreciated and amazing. (I've added my vote to the issue and will watch its progress)

[2019-11-15 20:44] irvinm commented on #1923
Can anyone still confirm this snippet still works?  (Obviously the 3.0.5+ version)  I was reviewing my TST CSS and saw that I had it in there, but my scrollbar was always being displayed.  (FF 70.0.1 \ TST 3.2.5)

[2019-11-16 03:06] irvinm opened #2421 "border-left CSS property not consistent"
## Short description
Using FF 70.0.1 & TST 3.2.5, applying TST CSS towards "border-left" properties on a tab show different behaviors based on the indentation of the tab.

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3. Apply:

[code]

 4. Notice that the left border is only 13px when the tab is at the root level, else much smaller.  All other sides of the tab sho

[2019-11-16 08:52] piroor commented on #2421
It is produced with the declaration:

https://github.com/piroor/treestyletab/blob/4b81b82e00f4e79923736aa3933974116c6564ee/webextensions/sidebar/styles/square/border.css#L35-L37

Thus you need to write a selector with more higher specificity, like `:root.left .tab.active`.

[2019-11-16 14:24] irvinm commented on #2421
Thank you for the direction.  I was able to properly apply a custom border with the below CSS.  I deleted the original CSS block and just decided to it all here. [Both tabs with parents and tabs without parents]

I am including the CSS in case anyone else runs into a similar need.

[code]

[2019-11-16 14:24] #2421 closed

[2019-11-16 15:28] irvinm commented on #1923
For my situation, I found a simplified solution that works nicely using the "none", "thin", and "auto" standard values.
[code]

[2019-11-18 11:13] wvxwxvw opened #2422 ""Open all as tree" opened bookmarks in folders along with sub-folders"
"Open all as tree" opened bookmarks in folders along with sub-folders
This is wrong.
The possible options:
1. Do not let touch the folder,
2. Let sub-folders opens as a page with the links,
3. Let opens bookmarks in sub-folders as a tree branch.

Think for yourself, why do we need dozens of garbage tabs, which are formed in the case of opening folders with subfolders, this menu item?

[2019-11-18 11:16] wvxwxvw commented on #2422
Посмотрите этот аддон - https://github.com/psimonyi/openslowly
И мой комментарий к нему - https://github.com/psimonyi/openslowly/issues/4#issue-524291859

[2019-11-18 13:29] mnutt commented on #2420
I can confirm that f262f01 fixes the error. Thanks again!

[2019-11-18 13:29] #2420 closed

[2019-11-22 00:26] mxmilkb commented on #579
Maybe the text on the help page has changed, and/or maybe the method to hide the new tab button has changed, or maybe I'm getting this wrong, but I'm not seeing a way to remove the new tab button from the tst sidebar by using the Customize method. The sidebar disappears in that mode. I have tried disabling the chrome css that hides the top tabs and sidebar header, but to no change. Might there be

[2019-11-22 00:46] irvinm commented on #579
Have you tried this?  https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#hide-the-new-tab-button-at-the-bottom-edge-of-the-tab-bar-1591

[2019-11-22 01:00] mxmilkb commented on #579
I hadn't before, but I have now and I still see the new tab button. Hmm.

[2019-11-22 01:03] irvinm commented on #579
Hmm ... I just tried it and it worked for me.  Did you place this in the TST "extra style rules" section?

[code]

[2019-11-22 01:07] mxmilkb commented on #579
Bingo, silly me, I was putting it in my profile chrome css. Problem now resolved, thanks :)

[2019-11-22 10:44] saneyuki commented on #2000
[CSS Shadow Parts](https://drafts.csswg.org/css-shadow-parts/) will [ships](https://groups.google.com/d/topic/mozilla.dev.platform/dWnXJtFKY0I/discussion) in Firefox v72.

By CSS Shadow Parts, I think we can provide a more reasonable way for style customization instead of depending on CSS variables. I suspect we can provide customizable style encapsulation.

[2019-11-22 18:27] irvinm commented on #2382
@maxsu is this sufficient from your end?  If so, can you close this item?

[2019-11-22 18:28] irvinm commented on #2328
@piroor, no updates from the original poster since July 5th.  Maybe consider closing this out?

[2019-11-22 18:29] irvinm commented on #2278
@piroor, no updates from the original poster since August 18.  Maybe consider closing this out?

[2019-11-22 18:32] irvinm commented on #2397
Guys, anything more do be done here or can we close this one out?

[2019-11-22 18:33] irvinm commented on #2272
Any updates @stapuft or @Arthaey?

[2019-11-22 18:34] irvinm commented on #2314
@mruhlin does this work better for you with the latest version?  If so, can you close this item?

[2019-11-22 18:40] irvinm commented on #2352
@piroor any thoughts?

@cipri-tom are you running Windows?  If so, do you have your OS colors set to light or dark? (Windows settings -> Personalization -> Colors)

[2019-11-22 19:10] irvinm commented on #2422
@wvxwxvw I am not sure that "this is wrong" is right.  @piroor obviously implemented this with some design decisions that are obviously different that what you might expect.

Having said that, I think the way it was implemented is pretty slick where people can bookmark trees and restore them with the proper relationships.  If you check how it is done, you can see that each tab that is a child of s

[2019-11-22 19:23] wvxwxvw commented on #2422
This is about opening a bookmark subfolder as an empty tab.

I beg you not to litter the branch. It is not related to the restoration of tabs and trees.

[2019-11-22 19:28] irvinm commented on #2422
Ok.  I will let @piroor comment.  Thanks.

[2019-11-22 20:19] wvxwxvw commented on #2422
![Video_2019-11-22_223731](https://user-images.githubusercontent.com/13194155/69457616-8369a280-0d7e-11ea-8009-11e3f52ba819.gif)

[2019-11-22 20:55] irvinm commented on #2422
Thanks for the animation ... that clears up a lot.  I did something similar on my system (to see if I could help) and I see a different behavior (albeit some similarities) than you.

I bookmarked a folder with 2 bookmarks and another folder ... in the 2nd folder was 2 other bookmarks.  You can see when I do a "Open all as a tree", I get a "blank new tab" (strange), the 2 bookmarks restored properl

[2019-11-23 02:21] Atario commented on #2397
Nothing has been done on the other tickets I opened in the other projects nor the pull requests piroor made, but I suppose unless we're considering changing the assumptions about intent as discussed earlier, then probably that's it for this one…?

[2019-11-23 02:39] irvinm commented on #2397
I guess I was thinking that if there wasn't anything to be done on the TST side we could close this out.  I do realize that @piroor has been helping to get the other addons to make changes on their side and I am sure he will continue to help as possible even with this issue closed.  (Basically, I don't think we necessarily want to wait till everything is fixed with the other addons until we close

[2019-11-23 07:33] wvxwxvw commented on #2422
Like children, they can't. Read here -
https://github.com/piroor/treestyletab/issues/2230

The test I could do on an empty profile, but I do not see the point. And so it is clear that the mechanism should not touch subfolders at all. If he can't handle them.

[2019-11-23 09:19] azizLIGHT commented on #2278
@irvinm Sorry. I will take a look at this again this weekend

[2019-11-26 16:37] cipri-tom commented on #2352
@irvinm I am runninc MacOS Mojave and yes, I _do_ have the OS color setting set to Dark.

[2019-11-27 06:47] piroor commented on #2352
I've introduced more changes to style definitions. Now the priority of the color scheme on certain styles (Plain, Vertigo and Mixed) is clearly defined as:

1. Colors defined by a non-default theme including Lignt/Dark (highest priority)
2. Dark colors configured as the default theme
3. Photon colors or CSS system colors (lowest priority)

[2019-11-27 07:19] piroor commented on #2422
Oops, sorry I just forgot to handle nested folders. After the commit 1555ba4c5 only regular bookmarks are opened in tabs and TST doesn't retrieve subfolders for now.

[2019-11-27 09:14] piroor commented on #2422
I've added one more context menu command "Open All as a Tree including subfolders" (hidden by default) and a new option to control "discarded" state of opened tabs. These new behaviors are available via the API: https://github.com/piroor/treestyletab/wiki/API-for-other-addons#open-bookmarks-with-structure

[2019-11-27 09:17] #2328 closed

[2019-11-27 13:09] wvxwxvw commented on #2422
@piroor
If possible, make options to hide these menu items. As you can see, similar items can be added by other Addons and perhaps they will be preferable for the user. For me personally while it is preferable to use the addon https://github.com/psimonyi/openslowly . It would be nice if its author tweaked it for compatibility with TST. But he's not answering yet.

Or maybe you implement this in TS

[2019-11-27 13:46] wvxwxvw commented on #2422
@piroor
Only now saw. Also a good option. Thanks.

[2019-11-28 06:58] Kenqr commented on #2194
I have found that tabs may appear at wrong position after drag & drop recently, probably related to recent updates.

Steps to reproduce:
* Start Firefox with a clean profile.
* Install `TST` and `Tab Unloader for Tree Style Tab`
* In option page of Tab Unloader, turn on `Tab Hiding` and grant `tabHide` permission.
* Create 4 root tabs in a new window.
* Middle click on third tab to unload it.
* Dr

[2019-11-29 19:25] LJMP opened #2424 "add-on consumes ridiculous amounts of RAM, CPU and freezes"
## Short description
after some time of usage when trying to switch tabs
add-on consumes 2-3GB RAM,
10-20% CPU load
and freezes dead :skull_and_crossbones:

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3. open Firefox with 4-5 windows, ~50 tabs each
usage RAM ~200MB, CPU <0-2%
after some hours of usage (open, close tabs, windows, etc.)
suddenly experience freezes

[2019-11-29 19:54] irvinm commented on #2424
@LJMP if you really think TST is the root of the performance issue you may want to collect a performance profile while you are seeing problems. (https://github.com/piroor/treestyletab/wiki/How-to-inspect-tree-of-tabs ... see instructions at the bottom)

I think it is unlikely a TST issue as lots of people use many tabs with TST without any issues.  I personally (different environment) run 600-800

[2019-12-02 06:48] cipri-tom commented on #2352
@piroor  I have installed the nightly from CI/CD (786a66d) and I am happy to report that the colors are light again ! 🎉 👍 🏅

I cannot see which theme is enabled because I don't know how to access the settings of the temporary add-on. But I think I was on Plain before loading it, so it works correctly.

Many many thanks for your resilience and continuous effort with this !

[2019-12-03 09:05] LordNacho opened #2425 "[feature request] Provide a way to mark tabs as read"
## Short description
Currently if you reload the set of tabs after a crash or FF restart, all the tabs are marked as unread. There doesn't seem to be a way to unmark them, other than visiting all the tabs. This is inconvenient, especially as some tabs may be suspended and will require re-suspension. Only an issue if you are marking the unreads using CSS, but that's quite useful in normal operation

[2019-12-04 09:17] XakepSDK opened #2426 "Tabs toolbar visible again FF 72.0b1"
## Short description
Tabs toolbar visible again in firefox 72.0b1
I'm using userChrome tweak from this page: https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#hide-horizontal-tabs-at-the-top-of-the-window-1349-1672-2147

## Steps to reproduce
1. Enable userChrome via about:config
2. Put tweak css in userChrome

## Expected result
Tweak works

## Actual result
Tweak d

[2019-12-04 12:49] irvinm commented on #2426
Try removing the namespace line in your CSS.  (https://www.reddit.com/r/FirefoxCSS/comments/dup4vf/firefox_72_breaks_my_tweaks/)

[2019-12-04 14:24] XakepSDK commented on #2426
It works, thanks.

[2019-12-04 14:24] #2426 closed

[2019-12-05 06:24] KAmaia opened #2428 "[Feature Request] Tab Grouping"
Feature request:

Tab groups, so that multiple tabs can be grouped together and viewed independently of one another.  Similar to the way tree tabs handles grouping of tabs.

[2019-12-06 15:04] Arthaey commented on #2272
Still crashes/refreshes for me, but I haven't seen it lose the tree structure in a while now…

[2019-12-14 03:04] kenyoni opened #2429 "[Feature Request] Option to open all links in no container (w/exceptions)"
## Short description
Make a configuration option where a link on a page that is already in a named container is not opened in the  container *unless* it is in the same domain as the original page. In that case, open it in the same container.

## Specifics
Use case:  I have Google search results open in a container labeled "Google" . If I middle-click on a link, I want that link to open by default

[2019-12-14 15:53] piroor commented on #2429
The behavior you told is one of built-ins of Firefox itself, not of Tree Style Tab. TST doesn't control the container of tabs opened from links in a non-default container parent tab, instead Firefox itself opens a new tab with same container when tabs are opened from links.

The option "New tab with the same website as the current tab from the location bar, bookmarks, histories, or other cases" =>

[2019-12-14 16:00] piroor commented on #2428
You already can do that with:

* Multiselect tabs with ctrl-click or shift-click, right-click on tabs to open the context menu, choose "Tree Style Tab" => "Create New Group from tabs".
* Open `ext+treestyletab:group` from the location bar. It will opens a new dummy tab to group other tabs.
  * You should create a bookmark with the URI, if you hope to open such tabs only with mouse operations.

Sor

[2019-12-14 19:55] hackerb9 commented on #419
Since `extensions.treestyletab.pinnedTab.faviconized` no longer works, what is the workaround to get pinned tabs to act like normal tabs?

[2019-12-14 20:34] irvinm commented on #419
Go in the TST options, expand "All configs" (at the bottom), find "faviconizePinnedTabs" and uncheck that box.

[2019-12-14 22:23] vonHabsi opened #2430 "I want to use SurfingKeys to interact with Tree Style Tabs"
I use [brookhong/Surfingkeys](https://github.com/brookhong/Surfingkeys) for keyboard driven operation as much as possible and I want to customize it to operate some parts of Tree Style Tabs.

Is there some documentation and examples on how to call TST functions from another addon?

[2019-12-14 22:33] irvinm commented on #2430
https://github.com/piroor/treestyletab/wiki/API-for-other-addons

[2019-12-14 23:01] vonHabsi commented on #2430
I have seen that page and it looks complicated to me as I am not familiar with addon programming.

The first part speaks of the addon I'm using registering with Firefox but as it is not an addon I have written myself or ready to adapt that isn't what I have in mind.

I want to know it is possible to call TST functions directly from the keyboard handing code in Surfing Keys. eg the author of Surkin

[2019-12-14 23:33] vonHabsi opened #2431 "[Feature request] Keyboard shortcut for TST in sidebar."
A number of the addons which use the sidebar have keyboard shortcuts which toggle the display of the sidebar, eg Ctrl-B for Bookmarks , Ctrl-E for Sidebery, Ctrl-Shift-9 for All Tabs Helper.

I had some user.js which implemented it but the changes in Firefox have disabled it.

Can something like that be implemented for TST?

Will it be easy to do something like that myself?

[2019-12-15 03:30] irvinm commented on #2431
If you go to TST options under "Keyboard Shortcuts" I believe the first item is what you are looking for.

[2019-12-15 03:37] irvinm commented on #2430
The issue that you reference looks to me like it maps a keybind to some JavaScript code.  I don't see how that would work in this situation.  I believe there would need to be a tighter integration to make this happen, like the addon API in the wiki ... which, yes is more complicated.

I guess I will let @piroor comment more on this.

[2019-12-15 04:22] hackerb9 commented on #419
Thanks. It's not working for me. The pinned tabs look like normal tabs, but they don't act like them. In particular, when I open links from them, instead of the children opening up underneath the pinned tab, they are given a fake parent and put in there. Is this a bug or was there something else I was supposed to do (or not do)?

[2019-12-15 08:42] wwp commented on #419
The pinned tabs acts like a flat subgroup, child tabs opened from pinned tabs won't open a subtree right in the middle of the flat pinned tab, and it's a good thing. What do you expect exactly?
BTW, the fake parent is a configurable thing, go check the preferences in New tab behaviour: auto-group tabs opened from same pinned tab

[2019-12-15 08:59] vonHabsi commented on #2431
Thanks. I think I configured it in the past and forgot about it, but it doesn't suit my need exactly.

The user.js I created used CSS to simply hide the sidebar so hiding and revealing was instantaneous, but the TST keyboard shortcut refreshes the treeview anew when it displays so it takes a few seconds before the tree is restored, and can be slow with a large number of tabs.

For TST it works as

[2019-12-15 09:00] #2431 closed

[2019-12-16 01:47] hackerb9 commented on #419
I had expected pinned tabs to have a row of icons on the top (as they do by default), but that those would be simply aliases for clicking on the tab in the tree. In the tree view, pinned tabs would be normal nodes. There would be no reason to create a fake parent for children of pinned tabs as they already have a parent.

Here's a diagram of what I expected, where Alpha, Bravo, and Charlie are tab

[2019-12-16 02:24] piroor commented on #419
Pinned tabs are managed in different context with fixed positions, and it is impossible to mix up regular tabs and pinned tabs. This design completely depends on the implementation design of Firefox itself - TST just provides different view for Firefox's tabs. If descendants of pinned tabs were placed next to pinned parent tab, they must be pinned also. A dummy tab aliased to a pinned tab is a wor

[2019-12-16 02:59] piroor commented on #2430
You don't need to register an addon. Registration is required only when the addon needs to receive events happening on TST's sidebar. Otherwise you just need to send [API messages](https://github.com/piroor/treestyletab/wiki/API-for-other-addons#manipulate-tree-of-tabs) to TST via `browser.runtime.sendMessage()`. For example:

[code]

[2019-12-16 04:42] hackerb9 commented on #419
Thank you for the explanation. It sounds like WebExtensions rules out what I had expected.

Would it be possible, instead, to have the fake parent that is created for children of pinned tabs be like the dummy tab you mentioned? That is, it'd have the same title and would be aliased to the pinned tab so clicking on it would work correctly.

[2019-12-16 09:48] piroor commented on #419
I tried to move focus to the opener pinned tab when an alias group tab is clicked but I gave up to do that, due to compatibility with other various operations. Such a behavior may break regular tab operations. For examle, drag and drop of such a tab, collapse/expand tree by clicking on the tab, and more. So I won't implement the behavior as a built-in.

But I'm OK to extend the API of TST for othe

[2019-12-16 09:57] vonHabsi commented on #2430
Is there a list of all the TST API functions or messages?

[2019-12-16 13:34] piroor commented on #2430
I've created the index: https://github.com/piroor/treestyletab/wiki/API-for-other-addons#appendix-index-of-message-types

[2019-12-16 14:15] hackerb9 commented on #419
Sounds like it's a lot more complex than I had imagined! Thank you for trying and for taking the time to explain. It's beyond my ability to create such an addon for TST, but perhaps if you add the get alias / get pinned API somebody else will be up to the challenge.

[2019-12-16 22:20] AdventureDave82 opened #2432 "TST Menu flashes and then disappears"
## Short description
I went to check my TST Option settings only to see the menu flash on the screen and disappear.

## Steps to reproduce
Just open the FF Add-on page.  Click on Options for TST.  Both Firefox and the TST Add-on are updated.  I have read your instructions and tried opening a Firefox session without a profile and got the same results (I think I did this right but was confused when

[2019-12-16 23:57] AdventureDave82 commented on #2432
I just finished setting up a dual monitor situation.  When I moved the Firefox window to my other display it did NOT have the problem I described above.  That seems like a huge clue.  Let me know what I might need to change on my original laptop settings to avoid this problem on that display.
Thanks,
Dave

[2019-12-17 01:07] piroor commented on #2432
Two workarounds:

* You can change most of options via the shorthand options menu, please right-click on the "Tree Style Tab" button in the navigation toolbar.
* You can open options page in a regular tab with the URI: `ext+treestyletab:options`.

Anyway, disappearing all options is quite odd result. The inspected result is about the hidden background page, not about the options page. You need to

[2019-12-17 01:41] piroor commented on #419
I've added a new property `bundledTabId` to tab objects returned via TST's API. See also: https://github.com/piroor/treestyletab/wiki/API-for-other-addons#data-format

Here is an example to implement an addon to switch back to the corresponding tab (a group tab for a pinned tab, or a pinned tab for a group tab) by single click on already active tab:

[code]

[2019-12-19 04:26] vonHabsi commented on #2430
Which file handles the keyboard shortcuts?

I would like to see how it works and see if I can use the same commands from my SurfingKeys customisations.

[2019-12-19 20:58] amandamana opened #2433 "API notification message "scrolled" has deltaY: 0 when shiftKey: true"
## Expected result
deltaY should be 1 or -1. A deltaY of zero would mean there was no scroll, but obviously there was as the message was sent.

Note that deltaY is correctly passed when the altKey or ctrlKey are held while using the mouse wheel.

## Environment

 * Platform (OS): macOS 10.11.6
 * Version of Firefox: 71.0
 * Version of Tree Style Tab: 3.2.5

[2019-12-20 04:32] amandamana commented on #2433
I suspect this is only a problem on platforms where holding shift usually results in a horizontal scroll, i.e., deltaX is changing. I'm not sure how best to address this problem so that add-ons can function properly cross-platform.

[2019-12-22 21:39] vonHabsi commented on #2430
Hi, I have managed to find out where the commands are defined in manifest.json.

What I need to know now is how the keyboard shortcuts are assigned to the commands at runtime when the user customises them in the Keyboard Shortcuts page.

Do you use your own code for that or is the same code used by Firefox's own Manage Extensions Shortcut page.

[2019-12-23 13:40] piroor opened #2435 "Fake context menu is shown in different window"
# Steps to reproduce

1. Start Firefox.
2. Install TST and Multiple Tab Handler.
3. Open two or more browser windows.
4. Show TST's sidebar panel in each window.
5. Long-press the left mouse button on a tab in a sidebar and drag them to select.
6. Release the mouse button.

## Expected result

The fake context menu is shown in the sidebar the operation was done in.

## Actual result

The fake cont

[2019-12-23 14:40] piroor opened #2436 "Unexpected finish of composition by hitting Enter key"
## Steps to reproduce

 1. Setup ATOK Passport.
 2. Start Firefox.
 3. Install TST.
 3. Open a `ext+treestyletab:group` tab.
 4. Click the title area and try to change it to a Japanese text. Activate ATOK, input "nihongo", hit the Space key, and hit the Enter key.

## Expected result

The compositing text is determined, and I can continue to edit the title.

## Actual result

The title editing is

[2019-12-24 08:58] piroor commented on #2435
This should be fixed by https://github.com/piroor/multipletab/commit/d7068fde296d376ac587578c9d4168f62b7224cd but not confirmed yet.

[2019-12-24 09:10] #2436 closed

[2019-12-24 10:04] piroor opened #2437 "Subpanel header becomes blank after not a subpanel provider addon is installed"
## Steps to reproduce

 1. Start Firefox.
 2. Install TST.
 3. Install TST Bookmarks Panel.
 4. Iinstall https://addons.mozilla.org/en-US/firefox/addon/tree-style-tab-mouse-wheel/

## Expected result

The addon is just installed.

## Actual result

The subpanel header becomes blank.

## Environment

 * Platform (OS): Windows 10 Home
 * Version of Firefox: 71.0
 * Version (or revision) of Tree Styl

[2019-12-24 10:15] piroor commented on #2433
The property `deltaY` is just relayed from the raw [`wheel` event](https://developer.mozilla.org/en-US/docs/Web/API/Element/wheel_event) synthesized by Firefox itself, and TST doesn't touch that. I think that the listener addon (TST Wheel and Double) needs to handle such special cases.

But I've realized that currently TST doesn't relay `deltaX` and `deltaZ`. After the commit 103ace1 now listener

[2019-12-24 13:23] piroor commented on #2435
I've confirmed this doesn't happen anymore on the environment this happened on.

[2019-12-24 13:23] #2435 closed

[2019-12-24 13:59] #2437 closed

[2019-12-24 16:24] chinhodado opened #2438 "How can I hide the unmute icon on pinned tabs?"
## Short description

I want to hide the unmute icon on pinned tabs. I have tried many CSS rules but none of them worked.

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3. Open any tab with audio and pin it, then mute it
 4. Unmute icon shows up on the tab --> I want to hide this

![image](https://user-images.githubusercontent.com/1388219/71419891-ff862d00-263f-11e

[2019-12-24 16:50] chinhodado commented on #2438
I figured it out, it's just

[code]
I actually just disabled the pointer event so I can still see the muted icon
[code]

[2019-12-24 19:08] amandamana commented on #2433
Great, thanks!

[2019-12-24 19:08] #2433 closed

[2019-12-24 20:16] irvinm commented on #2438
Thanks for the update @chinhodado.  Can you close this issue?

[2019-12-24 21:44] #2438 closed

[2019-12-27 08:31] piroor commented on #2425
A feature "mark tabs as read" looks not related to "tree of tabs" so I'm negative to add the feature, sorry.

Currently the "unread" state of TST tabs is provided to simulate the "titlechanged" state of Firefox's native tabs. The native "titlechanged" are updated with a trigger "DOMTitleChanged" but TST does it in different way based on regular WebExtensions API way, because listening of "DOMTitle

[2019-12-27 09:06] I60R opened #2439 "Drag & Drop should be simpler (without focusing on other tabs and expanding trees)"
## Short description

It's so annoying that when I'm dropping tab(s) on collapsed tree, its parent tab gets focused and further the whole tree expands. And since the parent tab almost always is unloaded, it starts to load after gaining focus.

That's not the behavior I'm expect when sorting tabs.

## Steps to reproduce

 1. Start Firefox
 2. Install TST and UnloadTabs extension
 3. Create any tree

[2019-12-27 09:24] piroor commented on #2439
I couldn't reproduce the problem you told. Did you try with a dragging of non-tab object?

Basically the behavior "auto-focus to dragover tab" is a simulated feature of Firefox's native tabs. You can see similar result with these steps:

 1. Drag a link in a webpage.
 2. Drag it onto a background tab (in the native horizontal tab bar) and wait for a while.
 3. Then the tab get focused. Now you can

[2019-12-27 09:25] piroor commented on #2439
Or, is this Linux specific? (I use Firefox on Windows 10.)

[2019-12-27 10:24] I60R commented on #2439
No, I tried it exactly by dragging tabs from TST.

With non-tab objects (text or image) the behavior is exactly the same, except popup appears and asks me how to open this.

Unfortunately, it also not work for me. Focus not changes when I move text or image on existing tab. After second or half border on target tab just disappears.

This works but unreliably. I even noticed such behavior after usi

[2019-12-27 15:07] #2422 closed

[2019-12-27 15:17] wvxwxvw opened #2441 "Open All as a Tree"
Point in the context menu of bookmarks "Open &All as a Tree" and "Open All as a Tree including subfolders" should only appear on folders, now they appear on individual bookmarks. And, if used on a separate bookmarks, open all the bookmarks in the folder, and, if this folder has subfolders, the item "Open All as a Tree including subfolders", opens them, too.

This will result in accidental opening

[2019-12-28 05:42] pintassilgo opened #2442 ""Don't expand collapsed tree and skip collapsed descendants" - not working properly"
TST 3.2.6, Fx 71.0, Windows 10.

With this option checked (under Tree Behavior).
[code]

First step: collapse Tab B tree.

First scenario:
I click Tab B, then press Ctrl+tab, Tab D is selected and the tree remains collapsed. OK.

Second scenario:
I click Tab A, then Ctrl+tab to Tab B. Then Ctrl+tab again. Now the tree is expanded and Tab C is selected. This is unwanted, the tree should remain coll

[2019-12-28 21:33] I60R commented on #2439
Just tried it on X11 (XFCE) and on Windows 7 (VirtualBox) and got the same behavior.

[2019-12-28 22:23] piroor commented on #2439
Hmm, could you attach a screencast which describes what is actually happen on your environment? I might misunderstood your initial report...

[2019-12-28 22:45] vonHabsi opened #2443 "Has the TreeStyleTab menu been labeled "Tree of Tabs" for the holiday period?"
Has the TreeStyleTab menu been labeled "Tree of Tabs" for the holiday period?

Right clicking a tab displays the TreeStyleTab menu as  **Tree of Tabs** and I wonder whether it is a temporary feature for the Christmas holiday period?

Happy Holidays :)

[2019-12-29 05:07] piroor commented on #2443
No, it's due to changing of localized name.

Recently I got a pull request to update Chinese locale and initially he translated the name of the addon to Chinese, but for better findability on addons.mozilla.org and the addons manager, finally I decided to untranslate the name of this addon itself and [I defined a translation policy.](https://github.com/piroor/treestyletab/blob/master/webextensions

[2019-12-30 08:45] vonHabsi commented on #2443
The problem here is one of brand recognition. If not for the familiar TST icon users would not recognize it as the TST menu.

I think you should retain the familiar "Tree Style Tab" name on the menu for English users.

[2020-01-01 13:58] gonhidi commented on #2078
The originally described behaviour still happens with unbranded Firefox 71.0.0 on macOS Mojave 10.14.6 using the development Tree Style Tab 3.2.6.9832 (tested on unloaded tabs):

[code]

[2020-01-01 14:07] gonhidi opened #2444 "Selecting a different tab while moving the cursor (dragging) may move it to new window"
## Short description

When selecting a different tab by clicking on it using the Tree Style Tab (TST) sidebar, if the cursor has any motion the newly-selected tab (and its siblings) might end up in a new window.

Reference tab structure:

    A (current)
    B

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3. Create the reference tab structure.
 4. (Optional) To im

[2020-01-01 14:08] gonhidi commented on #2444
This is a debug log tested with an unbranded Firefox 71.0.0 on macOS Mojave 10.14.6 using the development Tree Style Tab 3.2.6.9832 (tested on unloaded tabs):

[code]

[2020-01-02 00:51] I60R commented on #2439
Sorry, I misinformed you about the same behavior on different platforms, and additionally the initial behavior with which I created this issue was disappeared, so I'm unable to reproduce it reliably.

But still, there are problems with Drag & Drop:

![](https://imgur.com/QSNT6Ln.gif)

1) When dragging objects on tab on Linux it don't focuses (and in case of tree it don't expands). It just loses "f

[2020-01-02 12:39] vonHabsi commented on #2443
This issue is really a matter of opinion and I'm leaving @piroor to close it if he is decided on the issue.

[2020-01-02 13:33] vonHabsi commented on #2430
I have learned enough to get going so I'm closing this issue. Thx to @piroor

[2020-01-02 13:33] #2430 closed

[2020-01-02 16:04] vonHabsi opened #2445 "How can I obtain the id of the current window?"
I am using SurfingKeys commands to manipulate the tab tree, but some of the API commands need the window id and I am unable to determine it.

When I run this command to scroll down `window: 1` works for the window because I usually have only one window open. When I open more windows the command works only on the first window when I have change to the new window.

How can I get the window id for th

[2020-01-02 17:09] Arthaey commented on #2272
It started crashing & messing up the tree structure a _lot_ more (multiple times a day again) recently. :(

Firefox 72.0b5 (developer edition)

[2020-01-03 21:17] AdventureDave82 commented on #2432
Fixed.  Thank you.

[2020-01-03 21:17] #2432 closed

[2020-01-06 02:16] piroor commented on #2272
Sadly I cannot fix this because this doesn't happen on my environment and it is impossible to inspect what's happen on your environment by me remotely. I seriously need a help by a developer who can debug TST itself by their own environment.

[2020-01-06 02:32] piroor commented on #2445
I don't know it is possible or not, but if you can call `browser.windows.getLastFocused()` from the script, it allows you to get the ID of the active browser window like:

[code]

I've introduced a new keyword `active`. It will be available on TST 3.2.7 and later:

[code]

[2020-01-06 02:48] piroor commented on #2443
Hmm... I think that a survey should give an answer about this point, but it looks a too heavy task for me. If anyone do that it may change my decision.

[2020-01-06 03:13] piroor commented on #2439
Thanks! I got what's the problem.

Basically TST doesn't allow you to make a tab in a collapsed tree focused. When you give a focus to such a tab the tab is automatically expanded, and when such a tab is going to be collapsed a nearest visible ancestor gets focused. This is a fixed built-in behavior and sadly there is no option to change that for now.

At another viewpoint, TST doesn't support dis

[2020-01-06 06:37] SHHSSH opened #2447 "Grouped tabs being ungrouped after Firefox restart?"
This is a common thing, I'm not sure why it happens. But it's very tedious to have to go through many suspended/grouped tabs just to regroup them when you restart.

Is there a fix for this by any chance? Firefox Dev edition Win 10x64.

[2020-01-06 07:37] piroor commented on #2439
With recent commits I've added a new option "Tree Behavior" => "Avoid pending (unloaded) tabs to be activated accidentally on current tab closes or tree collapsing". When you activate it TST tries to find the tab to be focused but ignores discarded (pending) tabs if possible.

[2020-01-06 07:43] piroor commented on #2444
​>

​>

​>

These log mean that the window was positioned at top-left edge of the screen and you released the mouse button at the top-left edge of the screen. Otherwise did you activate the option `privacy.resistFingerprinting`? It breaks TST's functionality and sadly there is no solution for now. See also: https://bugzilla.mozilla.org/show_bug.cgi?id=1448848

[2020-01-06 07:54] piroor commented on #2447
There is too less information, please fill the issue template.

[2020-01-06 08:05] piroor commented on #2442
Sorry but please remind that the option does not work completely due to restrictions of WebExtensions API.

Basically Ctrl-Tab/Ctrl-Shift-Tab shortcuts are handled by Firefox itself not TST. TST just tries to redirect tab focus when the newly focused tab is a parent in a collapsed tree, or tries to keep the focused tree collapsed while the Ctrl key is pressed based con content scripts. This behavi

[2020-01-06 08:24] piroor commented on #2441
It was intentional but I agree that it is dangerous for a large number of bookmarks. With the commit 1b276ec now these extra context menus are shown only when the menu is opened on a folder.

[2020-01-06 16:27] pintassilgo commented on #2442
I have AMO whitelisted by `extensions.webextensions.restrictedDomains = ""` and `privacy.resistFingerprinting.block_mozAddonManager = true`. But yes, there is no workaround for chrome pages like about:*.

But no, I did the tests in normal content pages, with focus on content or on TST sidebar. Yet the trees expanded when they shouldn't.

[2020-01-06 16:33] pintassilgo commented on #2442
Look:

![](https://i.imgur.com/zbUEYVb.gif)

Steps:
1. Clicked in the first tab (Inoreader, collapsed tree).
2. Pressed Ctrl+Tab.
3. The next root tab (WhatsApp) was selected, but after a short delay its tree was expanded and it shouldn't.
4. Pressed Ctrl+Shift+Tab.
5. The previous root tab was selected (OK), but after a short delay its tree was expanded too (unwanted).

None of the trees should h

[2020-01-06 17:20] gonhidi commented on #2444
For the test I used a new profile, only setting `xpi.signatures.required` to `false` in order to install the nightly version of the extension on the unbranded Firefox build. I have repeated the test on a new profile, confirming that `privacy.resistFingerprinting` is the default `false` and making sure that the Firefox window and the tabs are not near the edge of the screen, and again the event coo

[2020-01-06 18:16] gonhidi commented on #2444
I see that on commit 4b591bceb7 you introduced a workaround which is still present on 3.2.6:

https://github.com/piroor/treestyletab/blob/3505cd3a38f5dd1d846c2d723f74f45acb4ba979/webextensions/sidebar/drag-and-drop.js#L1184-L1188

Building a version with a less tight timing window than the current 100 ms seems do do the trick for me; I have tested setting it to 2000. I don't know what a reasonable

[2020-01-07 01:46] piroor commented on #2442
Oh, you might told about an undocumented but intentional behavior of TST. TST is designed to expand the current tree while Ctrl-Tab/Ctrl-Shift-Tab focus rotation, when you keep the Tab key pressed for a while (800msec by default) on a collapsed tree. You can enlarge the delay with an internal option `autoExpandOnTabSwitchShortcutsDelay` and you can deactivate the behavior with `autoExpandOnTabSwit

[2020-01-07 02:01] piroor commented on #2444
Hmm, this looks to be related to the [bug 1476195 - Dragstart on a child process produces zombie drag session in the parent process and breaks subsequent drag-and-drops on macOS](https://bugzilla.mozilla.org/show_bug.cgi?id=1476195) also, but it has been fixed at Firefox 71...

[2020-01-07 02:15] piroor commented on #2444
Oops, sorry I totally misunderstood the context. Now I've realized that the original issue was produced with a poor performance of old TST and it looked fixed with a performance improvement, but it has looked to be reappeared from same reason.

[2020-01-07 02:45] pintassilgo commented on #2442
Thank you. I think `autoExpandOnTabSwitchShortcuts` should honor "Don't expand collapsed tree and skip collapsed descendants" or be a sub-setting of it.

A little off-topic: do you know how to access TST from chrome? I need to adjust my chrome-privileged mouse gesture (rightclick + wheel) to not expand collapsed tree on tab switching. Currently I use simply `gBrowser.tabContainer.advanceSelectedTa

[2020-01-07 02:54] piroor commented on #2444
Anyway this problem is fundamentally caused by the [bug 1561879 - Sometimes drag operation started in a sidebar contents provided by an addon is immediately canceled on macOS](https://bugzilla.mozilla.org/show_bug.cgi?id=1561879). I've introduced a change to make the delay configurable with the commit ccda491d5. It may help you to use TST without custom build.

[2020-01-07 04:48] piroor commented on #2442
OK, I've exposed the option as an expert option with the commit 4e31ec183.

Sorry, I don't know how to do that. Basically WebExtensions-based extensions are isolated and running in enclosed namespaces, so they are not accessible like as you wrote. You may find out some hints from [Firefox's automated tests around WebExtensions API](https://searchfox.org/mozilla-central/source/browser/components/ex

[2020-01-07 08:13] pintassilgo opened #2448 "Other addons should be able to send messages about tab switch"
Currently, the only way TST detects tab switching (to define which tab should be selected) is by keyboard shortcuts (Ctrl+Tab, Ctrl+Shift+Tab and Ctrl+PageUp/Down).

Mouse gestures addons like Gesturefy should be able to send messages about tab switch event to TST so that TST can define which tab should be selected based on TST settings (skip collapsed tabs).

For instance, by default Gesturefy us

[2020-01-07 08:22] SHHSSH commented on #2447
I apologise, don't worry about it. Just delete the issue, it's likely an isolated issue with Developer edition, my other addons, e.g; tab suspender, or something else of the likes. Not a major problem for the majority, so just disregard it. I'll get over it and just group them manually.

[2020-01-07 08:22] #2447 closed

[2020-01-07 08:44] SHHSSH opened #2449 "Feature request to prevent certain groupped tabs from expanding while using hotkey"
I'm looking to request a feature so that we can disable the expanding of certain grouped tabs. For example, I regularly save 10-15 pages under a parent then suspend the group. However, this becomes an issue when I am continually working in that session, by way of the groups being expanded and clogging my Tab section (ironic I know, someone complaining about vertical tab limitations).

Anyway, my c

[2020-01-07 09:47] pintassilgo commented on #2448
Note: `autoExpandOnCollapsedChildActive = false` seems to solve this incompatibility if I'm switching to the previous tab (which is a collapsed group). But that setting creates a very inconvenient issue in reverse situation: if the selected tab is a collapsed tree and I want to switch to next tab (i.e. the next sibling tab, skipping collapsed tabs). In this case, I can't switch at all using Gestur

[2020-01-07 10:07] piroor commented on #2448
OK, I've added new aliases `nextVisible` and `previousVisible` (`prevVisible` to specify tabs based on their visibility. You just need to send a JSON message to TST like `{"type": "focus","tab": "nextVisible","silently": true}`. For more details:
https://github.com/piroor/treestyletab/wiki/API-for-other-addons#focus-to-the-nextprevious-sibling-tab
https://github.com/piroor/treestyletab/wiki/API-fo

[2020-01-07 13:55] vonHabsi commented on #2445
I made other enquires about `browser.windows.getLastFocused` and wasn't sure about the Promises and async issues. I will give it a try and get back to you.

[2020-01-07 13:59] vonHabsi commented on #2443
I am the only one who has mentioned it so far, and if other users don't add their opinion it is probably not that important. The icon is recognizable.

[2020-01-07 14:38] irvinm commented on #2443
@vonHabsi can you close this item then?  We can always revisit\reopen if needed.

[2020-01-07 14:56] piroor commented on #2449
Interesting. I think it may be implemented as a helper addon with TST's API, and then you may need to deactivate TST's built-in option to expand tree automatically. In other words, the helper addon should override auto-expansion behavior of TST completely. But it looks too complex as a helper addon, so it may be reasonable implementing it as a built-in feature.

[2020-01-07 18:14] piroor commented on #2449
I've implement a new context menu command "Lock as Collapsed". And there is a new command "Toggle Locking of Collapsed" for keyboard shortcut.

[2020-01-08 01:25] pintassilgo commented on #1743
Just noting that due to changes in 3.2.7 I needed to set `!important` in `opacity` and to replace `-1.5em` by `-1em` in `margin-right`.

[2020-01-08 01:35] pintassilgo commented on #2448
Thank you. Almost solved for me, there's only a little thing left: tab switching should be cyclical, but `nextVisible` and `prevVisible` are not.

If last tab is focused, `nextVisible` should be the first fisible. Similarly, if first tab is focused, `prevVisible` should be the last.

[2020-01-08 02:40] piroor commented on #2448
Oops, I missed the point. Now aliases with the suffix `Cyclic` are also available: https://github.com/piroor/treestyletab/wiki/API-for-other-addons#basics-to-specify-tabs

[2020-01-08 03:12] vonHabsi commented on #2443
Closing. Under users who think the issue matters can reopen it with their own reasons

[2020-01-08 03:12] #2443 closed

[2020-01-08 11:36] vonHabsi commented on #2445
I have tried it out in Nightly and the 'active' addition seems to be working correctly.

I also believe the customizations I'm making are working in the context of a content_script, moz-extension://426005c3-b59e-4e42-8780-6576a35502a7/content_scripts/content_scripts.js, which is why some of the browser functions are not working because they are not available in content scripts.

[2020-01-08 12:29] gonhidi commented on #2444
That is a really welcome option. Thank you! Adjusting the delay through the new TST option works for me in the testing I have done using an automated build. I imagine that it will prove to be equally effective once the stable build gets pushed out and I try it on my main profile. Given that the root issue depends on a Firefox fix and that there's this workaround, I will now close this issue.

[2020-01-08 12:29] #2444 closed

[2020-01-08 12:41] M-Walrus opened #2450 "CSS is no longer working to hide tabs at the top of the screen"
the new firefox update has made it so there is a redundant bar of tabs at the top of the screen. I remember when i first learned of the CSS workaround to remove the bar from the top, the feeling that it would only be a matter of time until this broke, and today is that day.

Is there any new method of removing the top bar of tabs from Firefox now, with this newest version 72.0.0?

[2020-01-08 12:50] vonHabsi commented on #2450
Are you sure haven't fallen afoul of this issue [PSA: Firefox v69 users will have to set a pref to enable userChrome.css and userContent.css](https://old.reddit.com/r/FirefoxCSS/comments/brmi8v/psa_firefox_v69_users_will_have_to_set_a_pref_to/)

I am on Firefox 73 beta and the top row of tabs are still hidden. Try this code in your userChrome.css.

    #TabsToolbar {
      visibility: collapse !im

[2020-01-08 13:28] M-Walrus commented on #2450
my about:config already has
toolkit.legacyUserProfileCustomizations.stylesheets | true

userchrome.css copied/pasted here:

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
#main-window[tabsintitlebar="true"]:not([extradragspace="true"]) #TabsToolbar {
  opacity: 0;
  pointer-events: none;
}
#main-window:not([tabsintitlebar="true"]) #TabsToolbar {
    visibility: co

[2020-01-08 13:41] vonHabsi commented on #2450
TBH this is an area I'm not that expert in, only that it works for me and there may be some settings in yours which don't work in mine.

Have you considered removing the `#main-window:not([tabsintitlebar="true"])` to check?

[2020-01-08 14:24] Trelor commented on #2450
I had the exact same issue and I used to have
`
#main-window[tabsintitlebar="true"]:not([extradragspace="true"]) #TabsToolbar > .toolbar-items {
    opacity: 0;
    pointer-events: none;
  }
`
which I had to change to
`
#TabsToolbar > .toolbar-items {
    opacity: 0;
    pointer-events: none;
  }
`

after that change I stopped seeing the active tab across the top of the screen

[2020-01-08 16:18] piroor commented on #2450
It is not an issue of TST itself. Please remind that this is an issue tracker but not a forum.

Code snippets for userChrome.css is not maintained well by me so I hope that it is updated by people who use userChrome.css.

[2020-01-08 20:54] #2441 closed

[2020-01-09 00:54] wvxwxvw commented on #2450
@Trelor
I have everything in one. Hides the tab bar and title bar. Buttons to control any window down in the navigation bar. Calling the menu bar by Alt, calls it on top of other panels (background transparency can be adjusted). You can use the menu bar to place buttons in it. You can use the space under the window control buttons to drag the window.
If you try my code, disable your associated sty

[2020-01-09 01:08] wvxwxvw commented on #2450
Here I found an animation that demonstrates the behavior of the style.
[https://b.radikal.ru/b41/1912/10/ca561fbd7102.gif](url)

[2020-01-09 09:30] Dystopian commented on #2450
@M-Walrus just remove the 1st line from your userChrome.css with `@namespace url`. Found it [there](https://bugzilla.mozilla.org/show_bug.cgi?id=1605208).

[2020-01-09 16:32] #2448 closed

[2020-01-09 16:32] #2442 closed

[2020-01-09 23:12] ElhemEnohpi opened #2452 "Keyboard shortcuts to duplicate tab"
I use "duplicate tab" very often, but it is missing from the list of keyboard shortcuts. For example if I want to go to another page on the same website by doing a search instead of clicking a link, I can duplicate the tab and then search.

Ideally there could be four, "duplicate as:" (independent/child/sibling/next sibling). Thanks for considering this!

[2020-01-10 01:48] piroor commented on #2452
If you simply need a keyboard shortcut for a Firefox's builtin feature "duplicate tab", it looks out of TST's scope. Instead something other addons for the purpose may help you.

Duplicate Tab Shortcut
https://addons.mozilla.org/ja/firefox/addon/duplicate-tab-shortcut/
Duplicate Tab Hotkey
https://addons.mozilla.org/ja/firefox/addon/duplicate-tab-hotkey/

TST has an option to control how a duplica

[2020-01-10 03:30] M-Walrus commented on #2450
thank you everyone who chimed in with advice and userchrome.css snippets here.

closing this issue as it is now resolved.

[2020-01-10 03:30] #2450 closed

[2020-01-10 03:47] SHHSSH commented on #2449
Appreciate it! Look forward to the update.

[2020-01-10 04:55] SHHSSH commented on #2449
Unfortunately with and without the hotkey to expand, lock as collapsed doesn't function correctly. All groups still expand.

[2020-01-10 05:32] piroor commented on #2449
The feature "Lock as Collapsed" currently just affects only for accidental expansion when a collapsed descendant or the parent tab gets focused. Even if you lock a tree to be collapsed, you still can expand it with some manual operations for example:

* Clicking on the twisty
* Keyboard shortuct to expand the current tree
* Long-press of the ctrl key on a tree

I think the long-press case can be t

[2020-01-10 06:18] pintassilgo opened #2453 "SUCCESSOR_TAB_CONTROL_IN_TREE should skip hidden tabs"
**tl;dr** a hidden tab (i.e. a tab from another group) should never be chosen to be focused after closing a tab.

---

STR

1. Install TST;
2. Install Simple Tab Groups (any tab groups addon should give the same result, this one is a recommended extension and the most popular of its class);
3. TST Options > select `Fix up tree structure with visible tabs automatically (*Recommended if you use anot

[2020-01-10 09:08] OmTatSat opened #2454 "When use dark theme and auto hide, i see light gray color splash when unhide tree tab bar"
When use dark theme and auto hide, i see light gray color splash when unhide tree tab bar

I recorded video, how it is look like https://drive.google.com/open?id=12VZNM0x1msw0nvQFyEnocApg1zjxq72M

Would be great if set this splash to black color

win10x64
cpu - xeon e5-1650v2, ram - 32gb, video - nvidia 1060 3gb.

[2020-01-10 09:27] piroor commented on #2454
userChrome.css issue is not a problem of TST itself but in the area of Firefox itself. Sadly TST cannot do anything about this.

[2020-01-10 13:26] OmTatSat commented on #2454
Maybe you know what can i change in userChrome.css to fix this behavior?

[2020-01-10 14:21] piroor commented on #2454
I've not researched it yet but I think it looks hard to be fixed with simple userChrome.css hack.

Sorry but now I'm not a userChrome.css master anymore. I hope that userChrome.css code snippets are maintained by themselves who seriously requires that...

[2020-01-10 15:58] irvinm commented on #2454
@OmTatSat I would suggest posting something on Reddit under r/FirefoxCSS (https://www.reddit.com/r/FirefoxCSS/) as there are some very knowledgeable CSS people there and many have TST experience.

Can you also close this item?

[2020-01-10 21:40] OmTatSat commented on #2454
Thank you, i will try find solution there.

[2020-01-10 21:40] #2454 closed

[2020-01-10 22:58] OmTatSat commented on #2454
Solution was found
`:root {
  --sidebar-hover-width: 90px;
  --sidebar-visible-width: 400px;
}

#sidebar-box {
  position: relative !important;
  overflow-x: hidden !important;
  margin-left: -9px !important;
  transition: all 1s!important;
  min-width: var(--sidebar-hover-width) !important;
  max-width: var(--sidebar-hover-width) !important;

}

#sidebar-box:hover {
  margin-left: calc(var(--side

[2020-01-11 03:31] hbriese commented on #2200
The same thing appears to be happening again

## Environment
 * Platform (OS): Ubuntu 19.04 (5.3.0-26 kernel)
 * Version of Firefox: 74.0a1 (2020-01-10)
 * Version (or revision) of Tree Style Tab: 3.3.2

[2020-01-11 05:06] SHHSSH commented on #2449
Alright I understand how you perceived it I think. You thought I was referring to them expanding when gaining focus? I've never thought that manual selection with the mouse of a parent tab has been viable, I'm often just scrolling left or right on my mouse wheel utilising Ctrl+Tab - Ctrl+Shift+Tab mouse macros.

However when the parent tab gains selection that way it does not expand, which I suppo

[2020-01-11 05:17] SHHSSH commented on #2452
Realistically, it's actually pretty similar to most universal duplication hotkeys.

Many are Ctrl+D, Ctrl+J or something or the sorts, unfortunately this obviously conflicts with many of Firefox's other hotkeys.

So what you do (without any 3rd party addons) is simply Alt+D to select the URL bar KEEP Alt-down, then simply press enter again, this will create a new tab of the currently tab.

Obvious

[2020-01-11 05:56] pintassilgo opened #2455 "focus nextvisible (and similar) is skipping non-collapsed tabs after moving tab to another group"
STR

**1.** Install TST 3.3.2;
**2.** TST Options > select `Fix up tree structure with visible tabs automatically (*Recommended if you use another addon to switch tab groups)`;
**3.** Install [Tiled Tab Groups 0.18.12](https://addons.mozilla.org/en-US/firefox/addon/tiled-tab-groups/) (also tested with Simple Tab Groups, but steps-to-reproduce are easier with TTG);
**4.** Structure your tabs like t

[2020-01-11 06:23] Fanolian opened #2456 "TST stops working after bug 1565170"
## Short description
[Bug 1565170 - Disable toSource/uneval in non-chrome code](https://bugzilla.mozilla.org/show_bug.cgi?id=1565170)

TST sidebar cannot be initiated after updating to Nightly 2020-01-10 build (20200110220030). It is regressed by bug 1565170 according to Mozregression.

## Steps to reproduce

 1. Start Nightly 2020-01-10 with clean profile.
 2. Install TST.
 3. Observe the TST sid

[2020-01-11 06:51] hbriese commented on #2456
I'm having the same issue

## Environment
 * Platform (OS): Ubuntu 19.04 (5.3.0-26 kernel)
 * Version of Firefox: 74.0a1 (2020-01-10)
 * Version (or revision) of Tree Style Tab: 3.3.2

[2020-01-11 07:03] myessail commented on #2456
Same issue here,

### Environment
    Platform (OS): macOS Mojave 10.14.6
    Version of Firefox: 74.0a1 (2020-01-10) (20200110220030)
    Version (or revision) of Tree Style Tab: 3.3.2

[2020-01-11 07:06] Fanolian commented on #2456
Here are some error messages in *Browser Console* that are new after bug 1565170:
(You can only see them by enabling `Show Content Messages` from Browser Console's gear icon on top right)

[code]

[code]

[2020-01-11 07:27] SHHSSH commented on #2449
You HAVE to [Ctrl+Shift+Alt+I to open the specific developer toolbox](https://imgur.com/aGCs6iM), no other instantiation of the toolbox provides the option to [disable pop-up auto-hide](https://imgur.com/aC7kHhE). Even if you try in about:config;
devtools.popup.disable_autohide & ui.popup.disable_autohide - These options do not function correctly, especially for TAB context menu.

I've added Lock

[2020-01-11 07:42] Etrit1 commented on #2456
I'm having the same issue.  It's actually be having problems with the last few Nightly builds but, has always worked... eventually.  Now, nadda.

I really don't understand why Mozilla keeps breaking addons.  Yes, I know there are tons of addons and that Mozilla isn't responsible for them.  But come on, there HAS to be a way to do adaptive code in addons OR for Mozilla to stop changing things that

[2020-01-11 08:11] SHHSSH commented on #2455
Followed all prompts, I [was able to select Tab 2 no problem](https://imgur.com/JbWNk2r).

Maybe [this](https://imgur.com/CBKQHwi) is your problem, make sure it is NOT ticked.

[2020-01-11 08:47] pintassilgo commented on #2455
@SHHSSH this issue is not about Ctrl+Tab/Ctrl+Shift+Tab, it's about `focus` API using alias like `nextVisibleCyclic` and `prevVisibleCyclic`.

You can test it in DevEd or Nightly setting `xpinstall.signatures.required = false`, then installing [this test addon](https://filebin.net/9ozt7mppyxnfdfly/keyWebextHelper.xpi) and pressing Shift+Alt+F1 or Shift+Alt+F2.

[2020-01-11 10:48] piroor commented on #2456
Fixed by the commit f94995b.

[2020-01-11 11:06] stijnherreman commented on #2444
Just for the record, I'm experiencing this on a Windows system so it seems it's not macOS specific.

[2020-01-11 11:19] piroor commented on #2455
Thanks! The commit b06a206 should fix this.

[2020-01-11 11:27] piroor commented on #2453
This doesn't happen after the commit b06a2061951203ee700e6414cbdeb3816f41d9a3. Both issues look to be caused by the same reason. I think this can be treated as fixed.

[2020-01-11 11:29] piroor commented on #2200
@hbriese Your case looks to be same to #2456.

[2020-01-11 11:30] wsmwk commented on #2456
You were broken because you are nightly, and hopefully you understand how nightly works.  Nightly isn't a branch that gets testing - things break without warning. Also, sometimes the breakage is intentional - as in the present case documented at https://www.fxsitecompat.dev/en-CA/docs/2020/tosource-and-uneval-have-been-removed/   It's the nature of the beast.

[2020-01-11 12:14] piroor commented on #2449
Sorry but I'm not well to understand tab operations based on regular explanation - I may misunderstand very long and complex English text. Could you describe expected behavior with figures? For example:

1. Start Firefox 72 with a new profile.
2. Install TST.
3. Prepare tabs as:
   - A
     - A-1
     - A-2
   - B
   - C
4. Collapse the tree A, then tabs are:
   - A (collapsed)
   - B
   - C
5. Lo

[2020-01-11 12:23] piroor commented on #2449
Double-click on a tab had no function by default of old versions TST. It you set the option "double click to collapse/expand tree" as checked on old versions, TST respects the decision.

[2020-01-11 12:30] piroor commented on #2449
"L" is already in use for "Collapse Descendants", this is the reason why I choose the key "k" as its accesskey.

[2020-01-11 12:35] piroor commented on #2449
Sorry but TST doesn't provide options to do that because Firefox doesn't do that. TST's tab context menu is designed to simulate Firefox's one, and I have no plan to provide more options about those simulated commands, while such options are not provided by Firefox itself.

[2020-01-11 13:29] piroor commented on #2449
With recent commits, now TST has a new option to expand "locked-collapsed" tree when a descendant gets focus. And long-press of the Ctrl key doesn't expand "locked-collapsed" tree anymore.

[2020-01-11 16:44] SHHSSH commented on #2449
No worries, I don't need to explain anymore, if you have anymore questions ask me and I may be able to help :)

Thanks for the feature, I'll work to see if I can have any suggestions in the future.

[2020-01-11 18:39] ElhemEnohpi commented on #2452
In legacy TST (still using in Waterfox), I have separate keyboard shortcuts to duplicate a tab as a child, sibling, etc., and I find it very useful. I'm starting to switch back to latest Firefox, and I'd like to have it there too.

For example, "new tab" is also a built-in feature, but TST provides shortcuts for new tab as child, sibling, etc. Most of the other "Maniuplate Tree of Tabs" API is ava

[2020-01-11 18:48] pintassilgo commented on #2453
This issue is not fixed yet. I'll try to get a consistent steps to reproduce.

[2020-01-11 19:04] piroor commented on #2452
I think that the "New Tab" command and "Duplicate Tab" have different level of context for each.

"New Tab" is a generic command, and there is no hint to determine how the tab should be opened as a child, a sibling, or an independent. You may open a new tab for various purposes, to start a new different context, or to start a sub task for the current tab.

On the other hand, "Duplicate Tab" has a

[2020-01-11 20:06] pintassilgo commented on #2453
STR

**1.** Install TST 3.3.2.9938;
**2.** TST Options > select `Fix up tree structure with visible tabs automatically (*Recommended if you use another addon to switch tab groups)`;
**3.** Install [Tiled Tab Groups 0.18.12](https://addons.mozilla.org/en-US/firefox/addon/tiled-tab-groups/)
**4.** Open a new tab, rightclick it, `Move Tab to group > Move Tab to New Group`. The view will change to thi

[2020-01-11 20:19] ElhemEnohpi commented on #2452
Ok, I understand. I hoped it would be simple and easy for you to add a few more commands to the list. Thanks anyway. Eventually I will try to make my own extension to add functions to TST, but I think it will take me a long time to learn how. In the meantime maybe I can find a utility for my computer to combine multiple shortcuts to get the same effect, like first "duplicate" then "outdent".

[2020-01-11 21:18] #2455 closed

[2020-01-11 21:47] Mrostgaard commented on #894
@stevelandeyasana
Does this still work? When i follow your instructions and try to press my combination this doesn't work. How do i find the name of the Menu title? (in case it has changed)

[2020-01-12 08:18] piroor commented on #2453
Thanks a  lot! Finally I've realized that TST sometimes didn't consider visibility of tabs when it finds a successor for the current tab. The case you reported should be fixed with recent commits.

[2020-01-12 08:24] piroor commented on #2452
Don't worry, you may not need to create a new addon from scratch. I think you just need to find small addons which provide just one or more shortcuts, and modify its shortcut and its corresponding code. Then you just need to call TST's API via `browser.runtime.sendMessage()`. Documents:

* https://github.com/piroor/treestyletab/wiki/API-for-other-addons#abstract
* https://github.com/piroor/treesty

[2020-01-12 09:07] pintassilgo opened #2457 "Root tab unwantedly becomes child of the previous tree"
I think we are approaching optimal compatibility with tab groups addons, thanks for all recent fixes.

---

STR

**1.** Install TST 3.3.3;
**2.** TST Options > select `Fix up tree structure with visible tabs automatically (*Recommended if you use another addon to switch tab groups)`;
**3.** Install [Tiled Tab Groups 0.18.12](https://addons.mozilla.org/en-US/firefox/addon/tiled-tab-groups/)
**4.**

[2020-01-12 10:15] pintassilgo commented on #2457
This is a regression. With TST 3.3.2 this issue is not reproducible.

[2020-01-12 11:01] pintassilgo commented on #2457
Regressed by b06a2061951203ee700e6414cbdeb3816f41d9a3.

[2020-01-12 11:06] piroor commented on #2457
Thanks! Basically there was such a risk and the commit a6ed557 should stabilize the result on the case.

[2020-01-12 11:35] pintassilgo commented on #2457
Thank you!

---

One thing I'm experiencing now with the latest build is that sometimes a new tab (Ctrl+T) is being created at the end of the bar even though I have all the settings to open it as the next sibling of the current tab.

Another thing that I noticed now: if the focus is on the root of a collapsed tree, I open a new tab (Ctrl+T), close it (Ctrl+W), the focus returns to the root of a co

[2020-01-12 15:26] piroor commented on #2457
What a URL do you use as the new tab page? TST guesses a tab is a new blank tab if the URL is same to the predefined option (it is "about:newtab" by default). If you customize it with other addons you need to set its new tab URL manually with the TST's options page. I hope that you successfully find out the condition to reproduce the problem and report it as a new issue in near future.

Thanks, it

[2020-01-12 16:42] pintassilgo opened #2458 "Ctrl+Tab is not changing focused tab under specific condition"
STR for a fresh new profile

**1.** Install latest TST Nightly (yes, this issue occurs even after 9f645f58546bcbbdb114d7c8794844ebfea8185f);
**2.** `browser.ctrlTab.recentlyUsedOrder = false`
**3.** TST Options:
Check "Unlock Expert Options".
- Tree Behavior
  - Uncheck "When a tab gets focus, expand its tree and collapse others automatically"
  - Uncheck "When a tab under a collapsed tree gets fo

[2020-01-12 16:48] pintassilgo commented on #2458
Sometimes, after the last step the tree is expanded and Tab 2 is focused. So I check "Unlock Expert Options"  and uncheck "When a tab under a collapsed tree gets focus, expand its tree automatically" under "Tree Behavior". So now I can reproduce the useless Ctrl+Tab.

[2020-01-12 19:17] Etrit1 commented on #2456
Wait, nightly doesn't get any testing at all?
Wierd.

And thanks for the link to what changed.

I actually only was on Nightly because it ran better on my computer then
the standard build. Or at least used to. I hadn't used the standard in over
a year. I just switched back because of this problem though... Maybe the
issue I was having with standard was fixed by now.

On Sat, Jan 11, 2020, 3:30 AM

[2020-01-12 20:15] piroor commented on #2456
Firefox Nightly is tested around itself based on automated tests, but complete addon compatibility is out of the scope. Addon authors including me may test their addons with Nightly and often update them until the version is released as a stable version.

"Nightly" was called "Minefield" officially in old days. Please remind that Nightly has higher risk than other channels.

[2020-01-12 20:23] Movisivi commented on #2456
Thank you for fixing this so quickly @piroor

[2020-01-12 22:42] pintassilgo commented on #2458
Text updated with more accurate STR.

[2020-01-12 23:04] pintassilgo commented on #2457
`browser.startup.homepage = "about:blank"`
(but `browser.startup.page = 3` to recover previous session)
So, of course,
*✓ Guess a newly opened tab as opened by "New Blank Tab" action, when it is opened with the URL `about:blank`*
I don't use nothing else to handle these things.
I'm struggling to find a pattern on how to reproduce this, it seems to be quite random. As soon as I can (if I can) I'll

[2020-01-13 02:56] pintassilgo opened #2460 "Tab moved from one group to another should be placed at the end of the bar"
I use Tile Tabs Group. When moving tabs from one group to the other, the moved tab is placed at *random* places of the target group. Does someone disagree that it should be placed at the end? Unless position has been specified in the move.

I edited TTG source including

[code]

on *move-tab-to-group*, so the tab moves to the end of tabbar. But TST seems to ignore tabbar position, which is underst

[2020-01-13 07:47] SicariusNoctis commented on #2456
Another Nightly user here. Manually applying this patch fixes things, though my tabs now load within 20 seconds rather than 5 seconds. The commit doesn't seem to contain anything that would cause this so it's probably unrelated.

[2020-01-13 13:35] diarized opened #2461 "On Firefox Nightly (alpha 74) it stops loading itself - bouncing dot"
## Short description

Broken compatibility with Firefox Nightly /74.0a1 (2020-01-12) (64-bit)/
## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.

## Expected result
Loading tabs

## Actual result
The plugin stays like loading itself: with horizontally bouncing dot.

## Environment

 * Platform (OS): Linux home-wks 4.15.0-72-generic #81-Ubuntu SMP Tue Nov 26 12:20:02 UTC

[2020-01-13 15:25] #2461 closed

[2020-01-13 15:58] jnachtigall commented on #2456
Temporarily workaround for Nightly until the fix with 3.3.3 release gets published on AMO:

1. Go to `about:config`
2. Search for `xpinstall.signatures.required` and set it to `false`
3. Go to https://github.com/piroor/treestyletab/releases and click on the 3.3.3 xpi
4. Install

When the fix is available on AMO, do not forget to reset `xpinstall.signatures.required`

[2020-01-13 16:06] timvisee commented on #2456
Will it be kept up-to-date after this manual installation, or does this
disable the updater?

On January 13, 2020 16:59:01 jnachtigall <notifications@github.com> wrote:

[2020-01-13 16:09] jnachtigall commented on #2456
I do not know. Anyway, I could not really work so i did it. I just overwrote the existing 3.3.2 so I'd think in worst case I'd have to reinstall from AMO that would again overwrite the manual installation.

[2020-01-13 16:17] piroor commented on #2456
Currently TST's unsigned builds has no update information. Then the auto-update feature of Firefox refers its default source (Mozilla Add-ons). If TST 3.3.4 or newer versions are published to AMO you'll get updated versions automatically.

[2020-01-14 03:52] piroor commented on #2458
This is due to a restriction of WebExtensions API. TST cannot run script at `about:newtab` pages so it cannot detect starting of Ctrl-Tab/Ctrl-Shift-Tab tab switching. If you try same steps to reproduce with regular webpage tabs, this doesn't happen.

Hmm, then how should I solve this problem? When a collapsed tab is directly focused, it can be caused with one of these reasons:

* Ctrl-Tab/Ctrl-Sh

[2020-01-14 04:14] pintassilgo commented on #2458
In fact, I'm experiencing this issue on my primary profile while switching between regular webpage tabs. The about:newtab was just to simplify STR.

But on my profile I still don't know an accurate way to reproduce it. It seems random just like the other bug that I told you but haven't created the Issue yet by the lack of consistent STR.

[2020-01-14 04:22] piroor commented on #2458
Oops, I forgot to write about more. Please remind that TST requires the content area or the sidebar has focus when the Ctrl key is pressed. In other words, if the location bar (in the Browser's UI area) or something has focus TST cannot detect pressed Ctrl key.

And, if the current page is addons.mozilla.org, it blocks running of content scripts of addons.

[2020-01-14 04:27] pintassilgo commented on #2458
Maybe I got a consistent STR on my profile.

![](https://i.imgur.com/ByudhQl.gif)

- All tabs are loaded.
- My "New Tab" is about:blank.

I clicked the tab before the collapsed tree. Then Ctrl+T to new tab. I can even load a webpage in this new tab by typing the URL and pressing Enter, that's not about the limitation of about:*.
Then Ctrl+W to close this newly opened tab.
By my TST settings, the f

[2020-01-14 04:32] pintassilgo commented on #2458
I think I found the cause.

That's about not releasing Ctrl.

The root tab was focused after Ctrl+W, right?! Then I just release W and press Tab. So the bug happens.

But if I release both W **and** Ctrl too after Ctrl+W, needing to press (and hold) Ctrl again before pressing Tab, then tab switches as it should, to the next sibling visible tab.

[2020-01-14 05:37] piroor commented on #2460
I think "move tabs to the end of the tab bar always" is just a workaround and it has a many side-effects. TST is designed to move descendant tabs following to a moved parent tab, but workarounds like "move tabs to the end of the tab bar always" may conflict to the auto-move behavior for descendants.

`browser.tabs.move()` accepts multiple tab IDs but the result is notified as separate events to `b

[2020-01-14 05:53] piroor commented on #2458
Hmm, the "steps to reproduce" needs to be updated with more details. Currently I'm confused from multiple fragment information...

[2020-01-14 14:50] pintassilgo commented on #2460
This doesn't work here. If I move a parent tab to another group, only the parent is moved, its descendants remains in current group. To move the descendants along the parent I need to select all of them with multiselection. That's why the "Fix up tree structure with visible tabs automatically" is important, to avoid indented tabs without a parent.

[2020-01-14 17:04] pintassilgo commented on #2458
Right, sorry.

STR for a fresh new profile

**1.** Install latest TST;
**2.** `browser.ctrlTab.recentlyUsedOrder = false`
**3.** TST Options:
Check "Unlock Expert Options".
- New Tabs Behavior
  - Open new blank tab as `the next sibling of the current tab`
- Tree Behavior
  - Uncheck "When a tab gets focus, expand its tree and collapse others automatically"
  - Uncheck "Move focus back to the open

[2020-01-15 02:05] piroor commented on #2458
Thanks! The case should be fixed with the commit c086bf7. I'm afraid of any regression around this behavior, so I need more further testing...

[2020-01-15 02:14] piroor commented on #2460
Ah, OK I've realized that I misunderstood what the term "move" means. I thought that it basically means "change tab's phisycal index in the tab bar" and forgot to think about "change visibility of a tab and logically moved to a group managed by other addons"...

[2020-01-15 02:29] pintassilgo commented on #2460
Yea, I should have used "tab **switched** from one group to another" instead of "moved".

I still can't see a side effect if you implement this, but of course you know better. And for sure is easier for tab groups addon devs to implement compatibility with TST using `move-to-end`, than to you to do all the work to detect a group switching.

[2020-01-15 02:30] #2453 closed

[2020-01-15 02:32] pintassilgo commented on #2458
Thank you!

For me this can be closed as fixed, but I don't know if you noticed anything else when you labeled this issue.

[2020-01-15 02:43] piroor commented on #2460
I'm not sure about the design of Tile Tabs Group, but if it just changes visibility of "moved to another group" tabs, problems like this must happen. For example, assume that there are physical tabs as:

* A-1 (visible, group 0)
* A-2 (visible, group 0)
* B-1 (hidden, group 1)
* B-2 (hidden, group 1)

Then:

* If you move A-2 from the group 0 to 1, it will appear at the start of the group 1.
* If

[2020-01-15 02:48] piroor commented on #2460
In this case (see my previous comment) I believe that TTG should move tabs physically to the last position when it changes the visibility of the tab "moved to another group".  Keeping consistency of "moved to another group" tabs behavior is in the scope of TTG itself.

In other words, TST should not change physical position of tabs when their visibility is changed. It must break compatibility with

[2020-01-15 02:52] piroor commented on #2460
I think TTG must do it even if TST is not installed. Such results (inconsistency order of "moved to another group" tabs) may confuse people.

[2020-01-15 02:55] pintassilgo commented on #2460
Yes, TTG just changes the hidden state. That's why I created an Issue in TTG repo. Then I tried to add
[code]
in my TTG fork, but even so the tab wasn't being moved to the end of TST. So I created this issue here.

[2020-01-15 02:56] #2458 closed

[2020-01-15 03:02] pintassilgo commented on #2460
Oh, please ignore all of this. It was my mistake. TST respects the position defined by `browser.tabs.move`.

So I think you can close this as invalid.

[2020-01-15 03:04] piroor commented on #2460
Hmm... I've tried your TTG fork but "moved to another group" tab is correctly moved at the end of the tab bar not only at the native horizontal one but at TST's sidebar also. TST looks working as you expected for me.

[2020-01-15 03:06] piroor commented on #2460
OK, I close this. If you see more new issues, please file them freely :)

[2020-01-15 03:08] pintassilgo commented on #2460
That's because of the my last commit, I've added `move-to-end`. But I'll replace it by `browser.tabs.move`, now I know it works. I did something wrong when I tried it at first time.

[2020-01-15 03:46] pintassilgo commented on #2460
Now I tested it on my profile and TST doesn't respect `browser.tabs.move` completely. The tab always moves to the end of native tabbar, but it doesn't move at the end of TST's sidebar. Sometimes it does, but often it doesn't.

I have no clue what's causing this, but the fact is that `move-to-end` always works as expected while `browser.tabs.move` sometimes does not. Both placed at the exact same p

[2020-01-15 04:06] piroor commented on #2460
It is quite odd result. TST is basically designed to synchronize the order of native tabs and the one in TST's sidebar. If the order of both tabs are different, something wrong. Do you see any error in the debugger for TST? (it is available on `about:debugging`) If you can reproduce the problem consistently, please tell me the steps to reproduce with a clean environment.

[2020-01-15 04:14] pintassilgo commented on #2460
A lot:
![](https://i.imgur.com/jgMZqsx.png)

If I notice something that seems related to the issue or get a reliable STR I'll post here.

[2020-01-15 04:16] pintassilgo commented on #2460
If you know how to easily filter TST errors, please tell me. None of these above seems to be about TST.

[2020-01-15 04:25] pintassilgo commented on #2460
I think this issue is caused by messy tree structure. Every tree restoration on browser restart produces something wrong, I always lose my trees and/or the positioning of the tabs. Sometimes even with Fx opened, suddenly something changes in trees structure without me doing anything.

I just rearranged again my trees and tabs from all groups and now I can't reproduce this bug, group switching + `b

[2020-01-15 04:55] pintassilgo commented on #2460
Relevant discover: if a switch to "Keep tree structure including hidden tabs" I can't reproduce this issue. So this issue seems to be caused by "Fix up tree structure with visible tabs automatically".

But I need "Fix up tree structure with visible tabs automatically" because it's the only way to detach the tab from the tree when it's switched to another group. Without this setting, the structure

[2020-01-15 08:11] kyonmm opened #2462 "not working on FireFox74.0a1 (2020-01-14) (64 bit) windows"
## Short description
Firefox 76 Nightlyビルドで実行したところローディングでストップしてしまいました。

## Steps to reproduce
1. FireFox74.0a1 (2020-01-14) (64 bit) windows にアップデート
2. about:profilesにて新規プロファイル作成
3. 1のプロファイルでFirefoxを起動
4. https://addons.mozilla.org/ja/firefox/addon/tree-style-tab/ をひらいて Tree Style Tabを インストール
5. ローディングでとまってしまう

なお、既存プロファイル(いつもつかっているプロファイル)では、Firefoxを76に更新して再起動したときにローディングでとまってしまいました。

![2020-01-15_

[2020-01-15 08:44] piroor commented on #2462
#2456 と同じ話のように思われます。

[2020-01-15 13:58] diox commented on #2456
3.3.4 is now out on AMO.

[2020-01-15 14:04] #2456 closed

[2020-01-15 15:06] piroor commented on #2445
I close this because TST 3.3.4 is now published.

[2020-01-15 15:06] #2445 closed

[2020-01-15 15:07] piroor commented on #2439
I close this because TST 3.3.4 is now published.

[2020-01-15 15:07] #2439 closed

[2020-01-15 18:43] wvxwxvw opened #2465 "Undo close tab"
Is it possible to make a submenu "Closed tabs" instead of this item "Undo close tab" or a plus to it?

[2020-01-15 18:49] wvxwxvw commented on #2465
Here is a script, but it adds a menu to the page menu. Just an example.
[https://github.com/alice0775/userChrome.js/blob/master/68/UndoListInTabmenuToo.uc.js](url)

[2020-01-15 20:14] piroor commented on #2465
"Undo Close Tab" addon provides a menu listing closed tabs in the context menu on tabs.
https://addons.mozilla.org/firefox/addon/undoclosetabbutton/
It is hidden by default and you need to activate it manually via its options page.

[2020-01-15 20:32] irvinm opened #2466 "Dragging tab across trees sometimes automatically collapses originating tree"
## Steps to reproduce

@piroor I am still working on more concrete steps to reproduce, but the behavior is described below.  However, this behavior is not consistent but I am seeing it several times a day.

 1. Create tree "A" (OK)
 2. Create sibling tree "B" (OK)
 3. Drag any CHILD tab from tree "B" and drag on top of tree "A" (OK)
 4. Tree "A" will expand and insert the new tab in that tree. (OK

[2020-01-15 21:08] Nono-m0le opened #2467 "Auto-hide sidetab doesn't work correctly since FF 72.0.1"
OS: Debian 10
FF: 72.0.1
TST: 3.3.4

Since FF 72.0.1 (was still working with FF 72.0), my sidebar isn't correctly hidding anymore.
The TABs aren't shown, but the bar (empty) is still (always) visible :
Here, when the sidebar should be hidden :
![image](https://user-images.githubusercontent.com/3726435/72468273-0f2b0880-37dd-11ea-98da-17fecbbd794a.png)

Here, when I 'hover' the sidebar to show my t

[2020-01-15 22:32] irvinm commented on #2467
Try removing the entire @namespace line ...

[2020-01-16 02:31] piroor commented on #2467
Please see also #2450.

[2020-01-16 05:09] pintassilgo commented on #2460
Fixed with the commit above in my TTG fork. Using WebExts' `browser.tabs.move`, so I think this can be closed as invalid.

It's seems that TST's `move-to-end` is *fail-proof*, while `browser.tabs.move` may need to run at an exact time to not fail with TST.

[2020-01-16 05:09] #2460 closed

[2020-01-16 06:14] wvxwxvw commented on #2465
@piroor
Yes, this is what need.

[2020-01-16 06:17] #2465 closed

[2020-01-16 19:23] Nono-m0le commented on #2467
Ok, so the bar is hidden, but didn't expand anymore to show my tabs (or just on 2 or 3px).

Or, it's actually show my bar correctly, but only when I'm loading another tab (as soon as the page is loaded, the tab on the sidebar disapear again.

Any ideas ?

[2020-01-16 20:14] irvinm commented on #2467
I would suggest posting something on Reddit under r/FirefoxCSS (https://www.reddit.com/r/FirefoxCSS/) as there are some very knowledgeable CSS people there and many have TST experience.

[2020-01-16 20:19] irvinm commented on #2467
https://www.reddit.com/r/FirefoxCSS/comments/em95rb/ff_7201_broke_my_autohidesidebarcss_rule/

[2020-01-16 22:12] Nono-m0le commented on #2467
Many thanks,

This version works as expected :

[code]

[2020-01-16 22:12] #2467 closed

[2020-01-16 23:09] pintassilgo opened #2468 "Ctrl+Shift+Tab does nothing under specific condition"
STR in a new profile

**1.** TST Nightly;

**2.**
- `browser.ctrlTab.recentlyUsedOrder = false`
- `browser.startup.page = 3`

**3.** TST settings:
[code]
P.S.: `skipCollapsedTabsForTabSwitchingShortcuts` must be manually set by clicking "Don't expand collapsed tree and skip collapsed descendants (...)" because you need to accept extra permission.

**4.** Prepare your tabs:
- Tab 1 (collapsed)
  -

[2020-01-16 23:16] pintassilgo commented on #2468
Extra issue: read Step 4's note above. When importing config that needs extra permission, no prompt asking for permission is displayed. So the pref that needs the permission is reset on Firefox restart without any warning to the user.

[2020-01-17 03:36] piroor commented on #2468
Thanks, the commit 5ecbe0b should fix this.

[2020-01-17 04:01] piroor commented on #2466
I think this is triggered due to a combination of an option "Expand collapsed tree with hovering over XXX msec while dragging" and a hidden option `autoExpandIntelligently`. When the first option is checked and the second option is `true`, TST expands a long-dragover tree and collapse others automatically. At the next version I'll add an expert option UI for the hidden second option.

[2020-01-17 04:09] piroor commented on #2466
After the commit 306bfe1 you can change the second hidden option via a checkbox.

[2020-01-17 15:48] irvinm commented on #2466
Thanks @piroor, I will play around with that when it lands.

[2020-01-17 15:48] #2466 closed

[2020-01-18 16:36] manebule opened #2470 "hide top row of tabs"
I just transitioned from Window 7 to a fork of Linux Mint. I used TST in W7 for years _without_ horizontal tabs or the bulky "Tree Style Tab" tab. I didn't have to do anything to achieve that...; that's how it ran out of the box. I just installed the TST (3.3.4) extension in Firefox (72.0.1 64-bit) and now I've got tabs both on top (ugh...) and treed on the side (yay!). I have no other extensions

[2020-01-18 17:50] #2468 closed

[2020-01-18 18:09] irvinm commented on #2470
@manebule everything you need (I believe) is on the wiki.  https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules

TST doesn't change any of those things and you need to use CSS in userChrome.css to make the changes.

[2020-01-18 18:27] cortic101 commented on #2470
And don't forget on Firefox 69+ go to about:config and set
toolkit.legacyUserProfileCustomizations.stylesheets to true to use userChrome.css

[2020-01-19 16:37] gonhidi opened #2471 "TST reloads (sometimes) when parent of auto-grouped tabs auto-closes"
## Short description

Quickly opened tabs can be grouped together under a temporary parent tab. By default, if that parent tab loses all its children it closes automatically. Sometimes this makes the TST sidebars reload.

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3. Open two new tabs (A, B) quickly so the grouping prompt shows (one can configure the time window

[2020-01-20 20:56] Altsinn opened #2472 "Tabs favicons are not rendered properly"
## Short description
A few, from several dozens of tabs that I normally open during a regular browsing session, have improperly rendered favicon.
## Steps to reproduce
I'm unable to provide a more concrete steps to reproduce. This issue appears to be random. I didn't notice any specific combination of settings or any specific web page that is affected more often.

 1. Open google.com
 2. Open imdb

[2020-01-21 01:29] piroor commented on #2472
I couldn't reproduce this on Firefox 68.4.2esr on Windows 10. Could you try with disabled hardware acceleration of Firefox itself?

[2020-01-21 05:30] Altsinn commented on #2472
@piroor I disabled hardware acceleration but with no effect - this glitch still appears randomly.

[2020-01-21 07:58] piroor commented on #2472
Could you inspect the clipped favicon with the debugger?
https://github.com/piroor/treestyletab/wiki/How-to-inspect-tree-of-tabs#how-to-inspect-the-sidebar
Screenshot:
![image](https://user-images.githubusercontent.com/70062/72785602-ee483480-3c6e-11ea-95ab-26f93d47f28d.png)
I need the inspected result of a `tab-favicon` element without "hover" state. What size the visible element is? What the val

[2020-01-21 08:19] piroor commented on #2471
This may be a timing issue. TST basically synchronize its tabs and Firefox's native tabs. Such a synchronization is triggered by tab move in the sidebar (like a drag-and-drop). If the number of internally tracked tabs is different to actual tab elements in the sidebar, TST guesses that something became wrong and tries to reload itself to re-initialize. It is the reloading you saw.

The synchroniza

[2020-01-21 14:13] irvinm commented on #2470
@manebule did this help?  Can you close this item if so?

[2020-01-21 17:16] manebule commented on #2470
Yes, the "code snippet" did what I needed. A bit of a kludge, but, hey, it _looks_ fine! ;-)
Just one further comment: you might add a little section at the top of the wiki about the potential need to actually create a userChrome.css file in a chrome folder (which might also need to be created) in one's Firefox profile, for people like me who don't do this every day... :-P
Thanks!

[2020-01-21 17:16] #2470 closed

[2020-01-22 13:24] fctorial opened #2473 "Keyboard shortcuts for common tasks"
It would be nice to have keyboard/mouse shortcuts for common tasks like:

1. open new tab as child of current one.

2. Navigating tab tree

3. Moving subtree

4. Closing subtree

[2020-01-22 15:59] piroor commented on #2473
TST already have some of them:

* 1 => Open a new tab: Child Tab
* 3 => Move Current Tree Up / Move Current Tree Down
* 4 => Close this Tree / Close Descendants

And what the command "Navigating tab tree" means? Could you describe more details?

[2020-01-22 20:56] fctorial commented on #2473
@piroor Pressing `1`, `3` or `4` doesn't do anything on my installation. I'm using firefox 72 on linux.

By navigating tab tree, I mean moving up down in the list of tabs.

Where can I find the list of keybindings, if there is one?

[2020-01-23 01:09] piroor commented on #2473
What shortcut key did you actually pressed? If you really just pressed numeric `1`, `3` and `4` keys, please note that you need to set your custom shortcut (it must not conflict to Firefox's one) for each command manually via the "Keyboard Shortcut" section in the TST's options page, or `about:addons`.
![image](https://user-images.githubusercontent.com/70062/72948325-24e59280-3dc8-11ea-9bd5-3730f9

[2020-01-23 02:22] prenaux opened #2475 ""bookmark this tree" not working"
Same as #2202 as far as I can tell, nothing happens when I click "bookmark this tree".

TreeStyleTab 3.3.4
Firefox 72

[2020-01-23 12:31] fctorial commented on #2473
Great, that solves most of my issues. I've noticed that firefox default keybindings are preferred over the ones registered by an addon. Would it be possible to revert this behaviour?

[2020-01-23 15:50] piroor commented on #2473
It is an issue of Firefox itself and any addon cannot solve it for now. See also the bug:

1325692 - [commands] Explicit support for overriding built-in keyboard shortcuts by WebExtensions
https://bugzilla.mozilla.org/show_bug.cgi?id=1325692

[2020-01-23 15:54] piroor commented on #2475
Did you give a permission to create bookmarks to TST? If you have not granted that, TST should show a desktop notification when you run the command from the context menu on a tab, and you'll go to TST's options page by clicking on the notification.

[2020-01-24 04:34] #2473 closed

[2020-01-24 13:25] Altsinn commented on #2472
Hi @piroor ,
sorry that it took so long but I was struggling to make a proper screen-shots. Every accidental "hover" over sidebar element or debugger line caused UI refresh and clipped favicon was back to normal.

![obraz](https://user-images.githubusercontent.com/50676021/73072327-280a7c80-3eb5-11ea-9ffe-48d75a781049.png)

![obraz](https://user-images.githubusercontent.com/50676021/73072359-322c7

[2020-01-24 14:19] piroor commented on #2472
Thanks! Hmm, it's very interesting. Something looks to clip the image unintentionally...

[2020-01-25 17:13] zsection opened #2476 "[Feature Request] Is there a way to disable automatic tree (as in child tabs when clicking a link)"
I've been hunting for option in preferences but can't see it.
Is there a way to disable a child tab being created when clicking a link on a site? And instead, having a sibling tab be created?

Thanks

## Short description

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3.
 4.

## Expected result

## Actual result

## Environment

 * Platform (OS):
 * Version of Fire

[2020-01-28 01:46] piroor commented on #2476
See the section "I don't need automatically organized tree, instead I just want to organize tree by myself" at the FAQ.
https://github.com/piroor/treestyletab/blob/master/README.md#faq--frequently-rejected-requestsproposals

[2020-01-29 13:06] gerritholl commented on #1660
Is there any addon that implements this behaviour?

[2020-01-29 18:30] irvinm commented on #1660
https://github.com/mnutt/group-tabs-by-domain

[2020-01-30 08:50] polyzen commented on #2475
Having this same issue, even with toggling bookmark permissions.

[2020-01-30 09:00] piroor commented on #2475
On my environment, I've successfully saved bookmarks with the command. Steps:

1. Start Firefox with a clean profile.
2. Install TST.
3. Prepare a tree of tabs.
4. Right-click on a parent tab in the sidebar.
5. Choose "Tree of tabs" => "Bookmark This Tree"
6. A desktop notification about missing permission appears. Then click it.
7. A new tab is opened with TST's options page. Then turn on the che

[2020-01-30 13:29] Murmis opened #2477 "[feature request] Setting Color of acive Tab"
feature request
## Short description
I use standard dark theme on FF (rel. 71.0) with TST. (rel. 3.2.5) When big amount  tabs open - is too difficult to navigate active tab in list. They all similar dark color.
It would be nice if possible to set color of active tab.
 * Platform (OS): w10 x64

[2020-01-30 13:44] piroor commented on #2477
Please use the custom user stylesheet option under the "Advanced" section in TST's options page. For example:

[code]

[2020-01-30 13:56] Murmis commented on #2477
Wow. Thanks! Is it possible to use HEX or other custom color?

[2020-01-30 14:21] piroor commented on #2477
You can use any CSS color value at there.
https://developer.mozilla.org/en-US/docs/Web/CSS/color_value

[2020-01-30 14:23] Murmis commented on #2477
Superb!

[2020-01-30 14:23] #2477 closed

[2020-02-01 04:23] emvaized opened #2478 "[Feature request] Close current tab by middle-click on empty space"
Is it possible to configure action which is triggered on middle click on empty space in TreeStyleTab?
As for now, it is possible to open a new tab by this action (as well as by double-click).

But I want to be able to close current tab by middle-click on empty space. It might be useful, because you won't need to aim for the exact open tab in the list to close it by middle-click, you can just use t

[2020-02-01 11:37] LucKy-4U commented on #1220
I don't understand why "tree management" couldn't include displaying the last tab on top instead of bottom?
I mean, if an addon is able to display the last tab at the bottom then it wouldn't be hard to display the same at the top?
This is like a must have feature and TST should definately add this feature.

[2020-02-01 11:43] LucKy-4U commented on #1220
I don't understand why "tree management" couldn't include displaying the last tab on top instead of bottom?
I mean, if an addon is able to display the last tab at the bottom then it wouldn't be hard to display the same at the top?
This is like a must have feature and TST should definately add this feature.

This seems to be not working for me. Could you please explain if it works for you and how?

[2020-02-01 12:08] LucKy-4U commented on #1220
mate, Markdown is still screwed up as it's the exact same as your last comment. Maybe just upload your userChrome.css file instead? or take a screenshot of this from your userChrome and upload the screenshot instead?
would really help us all out a lot if you were able to show us this. Thanks a lot. :))

[2020-02-01 13:58] piroor commented on #1220
In other words, I believe that features should be provided as a separate addon for people who don't use TST,  if it is useful on Firefox's native horizontal tab bar also. (And of course TST should be compatible with such addons.)

[2020-02-01 15:25] LucKy-4U commented on #1220
well, I can understand but I notice one problem with your logic: you see you also have that + button as the bottom of the TreeStyleTabs, so no matter what another add-on does to native tabs, that plus sign at the bottom to add new tabs would still be there. So I think that there is only one way to get that + sign to move up top when the order is reversed and that is to include this feature nativel

[2020-02-01 18:08] rockysehmbi commented on #1220
super stuff

________________________________
From: piroor <notifications@github.com>
Sent: Saturday, February 1, 2020 7:28 PM
To: piroor/treestyletab <treestyletab@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [piroor/treestyletab] [feature request] reverse order of tabs (#1220)

I don't understand why "tree management" couldn't include displaying the last tab on

[2020-02-02 02:31] piroor commented on #1220
Sorry I missed this point. You can put the "+" button at top with a custom CSS rule:

[code]

I've confirmed this works with TST 3.3.5. I agree this is not perfect, so I hope you to maintain this by yourself.

[2020-02-02 02:37] piroor commented on #1220
If you use another "open new tab at top" addon with this CSS, you'll get ergonomic behavior.

[2020-02-02 02:41] LucKy-4U commented on #1220
Fair enough, and I appreciate your help. could you please tell me which add-on would be the best

This is not working for me, I just added it to my userChrome.css, this is supposed to be added to the usechrome file? right?
here is a screenshot of what my firefox looks like:
![image](https://user-images.githubusercontent.com/8860476/73602074-6974e900-4593-11ea-8ea8-8c694b8d11ca.png)

[2020-02-02 02:46] LucKy-4U commented on #1220
I think github adds/removes markdowns, etc from the code when posted in a comment, the same reason why ethus3h's code didn't work.
would you be able to post the same in an image or a file? if possible? so that the code isn't impacted by github's default fixups? :((
Thank You for all the work you have done on this add-on. :)) really appreciate it. :))

[2020-02-02 03:33] LucKy-4U commented on #1220
my TST is 3.3.5 as well and my firefox is 70, using Ubuntu 16.04.5 LTS.

This code isn't working either, I just added it to my userChrome file. I think there is some markdown issue added by github because of which it's not working.

[2020-02-02 03:37] LucKy-4U commented on #1220
Could you please tell me how to just remove that plus(+) button? because it feels useless to me as I never use it. I just use the shortcut ctrl+t to open new tabs so getting rid of that plus button would be very helpful. :))

[2020-02-02 04:34] LucKy-4U opened #2479 "TreeStyleTab doesn't work in Private Mode even after it's allowed"
Please find the screenshot:
![image](https://user-images.githubusercontent.com/8860476/73602995-f83d3200-45a2-11ea-823c-9eb7aab730ea.png)
As you can see that I have enabled TreeStyleTab to be allowed in Private mode as well but it doesn't seem to show up whenever I open a private window as can be seen below:
![image](https://user-images.githubusercontent.com/8860476/73603012-42beae80-45a3-11ea-9b8

[2020-02-02 04:52] #2479 closed

[2020-02-02 04:53] LucKy-4U commented on #2479
It works. Just need to use the shortcut to activate it. doesn''t show up automatically.

[2020-02-02 06:48] piroor commented on #1220
It is not for userChrome.css. See "Advanced" section in the TST's options page.

[2020-02-02 06:51] polyzen commented on #2475
Looks like I just used this in an unintended manner. Bookmarking trees works fine. I was selecting all tabs in a window and trying `Bookmark this Tree`. I can accomplish this by using `Create New Group from tabs` and then `Bookmark this Tree` on the group.

[2020-02-02 07:14] piroor commented on #1220
Please remind that I just help myself via development of TST, based on my private motivation. If you have a demand similar to mine, my addons will help you. But, basically I don't have a motivation to put new tabs above existing tabs. Sorry but you may need to find another way - different existing addon, or you may need to develop a new addon for your demand - if your demand is far from mine. (Of

[2020-02-02 08:29] piroor commented on #2475
Oh, TST's "Bookmark this tree" command doesn't support multiselected tabs. It just affects to the single tab you right-clicked. (If it is a parent tab, TST creates bookmarks for tabs in the tree.) Because I couldn't make a decision: which behavior is most natural at the case:

* Bookmark only multiselected tabs?
* Bookmark all multiselected tabs and their descendants, even if some descendants are

[2020-02-02 09:00] LucKy-4U commented on #1220
well, I just opened it but as I am not really used to CSS so I don't understand about 65-70% of it. Will have to spend some time to figure it all out and then learn CSS to figure out how to remove that plus button. So maybe will help you out with this Add-on's development someday but not for now. :))
but Which CSS is of + button? is it Throbber.css or twisty.css?

also, Thanks for your help with m

[2020-02-02 19:56] polyzen commented on #2475
Perhaps if the command were `Bookmark as Tree`?

This seems safest.

[2020-02-02 22:21] LucKy-4U commented on #1494
This isn't working for me, I added it in userContent.css just like you mentioned.
This is supposed to change the background color of the TreeStyleTab? correct?

[2020-02-03 02:13] piroor commented on #1494
Did you activate user stylesheets via about:config? See also: https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#on-firefox-69-and-later

[2020-02-03 03:22] LucKy-4U commented on #1494
well, there is only one stylesheets settings in about:config?
I can't find a separate settings for userContent.css.
here is how my firefox looks like:
![image](https://user-images.githubusercontent.com/8860476/73623233-46653a80-4662-11ea-9723-35dc63ccefc4.png)

Here is the content of my userContent.css:
[code]
my firefox version is 70.
I am using Ubuntu 16.4 LTS.

[2020-02-03 03:33] LucKy-4U opened #2480 "{feature request} How to get rid of the scroll bar inside the treestyletab"
How do I get rid of the Scroll bar inside the treestyletab so that the space on the left side of the treestyletab isn't wasted. I can just use the mouse to scroll up and down the TSS so I don't need a separate bar for scrolling the tabs.
here is the amount of space that I could save by getting rid of it:
![image](https://user-images.githubusercontent.com/8860476/73623779-40705900-4664-11ea-93c9-7a

[2020-02-03 04:05] piroor commented on #2480
Here is a code snippet: https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#hide-scrollbar-1507

Please help yourself at first before posting new issues. This is an issue tracker for software development, but not a user forum.

[2020-02-03 04:11] piroor commented on #1494
Yes. The single option affects to both userChrome.css and userContent.css.

[2020-02-03 04:31] LucKy-4U commented on #2480
My apologies, I didn't see it.

[2020-02-03 04:31] #2480 closed

[2020-02-03 04:36] LucKy-4U commented on #1494
but as you can see in the images I shared, it didn't change the background color of treestyletab. :(
Are you sure that that code works? because until now whatever I have tried out of all your code snippets have worked perfectly well for me except this.
also, any idea what I could do to fix this issue?

[2020-02-03 06:18] piroor commented on #1494
Please look at the title of this issue, the CSS rule example for userContent.css is aimed to be applied to "group" tabs (you can see it via the URI `ext+treestyletab:group`.), not to the sidebar.

Basically you need to use the "custom user stylesheet" field in TST's options page to customize appearance of the sidebar. And rules for the sidebar may be different from the one for the "group tab" page

[2020-02-03 08:01] LucKy-4U commented on #1494
oops, sorry, I didn't know what grouptabs were, I thought it meant the grouping of the tabs by treestyletab inside the sidebar. My bad.

I can't find the "custom user stylesheet" option anywhere. I do see the "Extra Style Rules for sidebar Contents" field though, is that what you meant?
Thanks for the link, I will look into it. :)

[2020-02-03 10:30] piroor commented on #1494
Oops, sorry. Yes that is it.

[2020-02-03 10:48] LucKy-4U commented on #1494
ok, thanks. I will look into it.

[2020-02-10 14:49] irvinm commented on #2156
@ypconstante or @piroor ... do you think we can close this?

[2020-02-10 14:51] irvinm commented on #2230
@bughit or @piroor ... Is there any reason to leave this open?

[2020-02-10 14:54] irvinm commented on #2192
@piroor are you still considering this?

[2020-02-10 14:57] irvinm commented on #2171
I know there has been improvements based on light and dark mode.  Is this issue still relevant with current builds?

[2020-02-10 15:01] irvinm commented on #2326
@somasis or @piroor ... can we close this?

[2020-02-10 15:04] irvinm commented on #2181
@piroor or @gerg5c42g542g2c54g52c can we close this?

[2020-02-10 15:04] irvinm commented on #2400
@piroor can you close this?

[2020-02-10 15:05] irvinm commented on #2388
@piroor can you close this?

[2020-02-10 15:06] irvinm commented on #2384
@piroor do you see a need to leave this one open?

[2020-02-10 15:07] irvinm commented on #2386
@piroor please close this one.

[2020-02-10 15:14] irvinm commented on #2419
@piroor I see you were marked the "assignee" for the Bugzilla defect 2 months ago.  Are you continuing to work on this one on the Firefox side?  (I don't think so, but thought I would ask)

[2020-02-10 15:16] irvinm commented on #2000
With FF72 out, is there more to look at now?

[2020-02-10 15:17] irvinm commented on #2382
@piroor I am guessing we can close this one.

[2020-02-10 15:18] irvinm commented on #2314
@piroor I am guessing we can close this.

[2020-02-10 15:19] irvinm commented on #2397
@piroor can we close this one?

[2020-02-10 15:20] irvinm commented on #2278
@piroor I think we can close this one.

[2020-02-10 15:29] irvinm commented on #2194
@Kenqr can you confirm if you are still seeing the problem with current Firefox and TST?

[2020-02-10 15:30] irvinm commented on #2424
@piroor I think we might be able to close this one.

[2020-02-10 15:30] irvinm commented on #2352
@piroor I think we might be able to close this one.

[2020-02-10 15:31] irvinm commented on #2429
@piroor I think we can close this one.

[2020-02-10 15:33] irvinm commented on #2428
@piroor I think we can close this one.

[2020-02-10 15:33] irvinm commented on #2425
@piroor I think we can close this one.

[2020-02-10 15:47] irvinm commented on #2449
@SHHSSH or @piroor can we close this?

[2020-02-10 15:49] irvinm commented on #2452
@ElhemEnohpi can you close this item?  (You can obviously continue to ask questions as needed even when it is closed)

[2020-02-10 15:50] irvinm commented on #2457
@pintassilgo can you close this item and open a new one later if needed?

[2020-02-10 15:50] irvinm commented on #2462
@piroor can you close this one?

[2020-02-10 15:52] irvinm commented on #2471
@gonhidi is there more information or steps to help @piroor?  Could we close this item until there is more information to review?

[2020-02-10 15:53] irvinm commented on #2472
Guys, any thoughts on next steps on this one?

[2020-02-10 15:54] irvinm commented on #2476
@zsection anything else on this one?  If not, can you close this item?

[2020-02-10 15:56] #2476 closed

[2020-02-10 15:58] #2457 closed

[2020-02-10 22:54] somasis commented on #2326
Yeah, sorry. It seems like it's fine now.

[2020-02-10 22:54] #2326 closed

[2020-02-11 04:00] Kenqr commented on #2194
Yes, I'm still seeing this problem in TST 3.3.5 and Firefox 72.0.2.

[2020-02-13 12:51] blue535 opened #2482 "Tab labels for anonymised search engine are all the same generic name with no option to rename"
## Short description
When using an anonymised search engine, such as Startpage, all search tabs have the same name.

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3. Open the anonymous search engine https://www.startpage.com/
 4. Enter some search term in the search engine
 5. Check the name of the search results tab.  It is called "Startpage.com Search results"
 6

[2020-02-13 14:58] ElhemEnohpi commented on #2452
Thanks for the info, I'll look into modifying another addon to provide the shortcut.

[2020-02-13 14:59] ElhemEnohpi commented on #2452
Thanks for the info, I'll look into modifying another addon to provide the shortcut.

[2020-02-13 14:59] #2452 closed

[2020-02-13 16:36] irvinm commented on #2482
@blue535, TST just displays the text that the website wants to display.  In your example, does the tabs on the top bar show the same as what TST shows?  (It should)  I believe this is more of a limitation of that website ... like you show in the screenshot, Google shows the search term.

There are addons where you can rename the title of a page (Ex: https://addons.mozilla.org/en-US/firefox/addon/r

[2020-02-14 05:19] Nardokor opened #2483 "Change color next to pinned tabs"
## Short description
Unable to set the root background color. Line of code from #1562 did not behave as expected.

## Steps to reproduce
 1. Start Firefox with clean profile.
 2. Install TST.
 3. Set Firefox theme to "Light".
 4. Add the following code to "Extra style rules for sidebar content"
[code]

## Expected result
![image](https://user-images.githubusercontent.com/15717438/74503448-c5017980

[2020-02-14 17:15] msrn commented on #2482
As @irvinm said this is website specific feature. Tree style tab can't control this behaviour.
Redirect your request to said website.

[2020-02-15 10:04] blue535 commented on #2482
Thanks for the replies.  TST displays the same tab label as the browser top bar, so it's not a fault in TST.  And the tab renaming feature is provided by another add-on.  So this issue can be closed.

If anyone reading this thread is interested in Startpage, there is a workaround setting in Startpage itself i.e. switch off the default 'Use POST vs GET' option that is meant to give additional priva

[2020-02-15 10:04] #2482 closed

[2020-02-16 12:07] hklene opened #2484 "Duplicate close tab confirmation"
## Short description
Closing inner tree node with folded children triggers multiple confirmations

## Steps to reproduce
produce Tree like this:

- A parent node to keep e.g. search result
  - B one entry to fold & close
    - b1 detail, e.g. full-scale detail pictures from B
    - b2 detail
    - b3 detail
    - b4 detail

go to Tab B
fold the children, so they become invisible
close Tab B
confir

[2020-02-17 11:28] Gaibhne opened #2485 "New tab with CTRL+T opens after all other tabs (as an independent tab), despite TST settings (Firefox 73.0)"
I am almost certain that this is a regression of #1909 because I can just copy the error description from there verbatim:

CTRL+T doesn't open a new tab as a child of the current tab, but as an independent tab (the last tab in the tree). The "new tab" button works as expected, though.

When I close the tab with CTRL+W, though, it brings me back to the previously opened tab, not the last tab in the

[2020-02-17 12:34] irvinm commented on #2485
I am sure @piroor will look at this, but you could also consider using `browser.tabs.insertAfterCurrent`.
https://www.reddit.com/r/firefox/comments/81e9tn/new_pref_in_nightly_to_make_all_tabs_open_next_to/

[2020-02-18 00:17] gandalf3 opened #2486 "[Feature Request] Option to disable inheritance of tab mute"
## Short description

Currently changing the muted state of a tab propagates that change to all its child tabs. For instance muting `Tab 1` will mute `Tab 2` as well:

[code]

I'd like an option which disables this behavior, making it so only the tab you mute gets muted. So:

[code]

Or if yet another an option is undesired, perhaps changing the default behavior to the latter could be considered?

[2020-02-18 01:06] irvinm commented on #2486
I just tried this and on Windows I already see your desired behavior.  (Only the muted tab is muted and the other plays fine)  Just FYI ...

Have you also tried on a clean profile with only TST just to make sure there isn't another addon interfering?

[2020-02-18 01:24] piroor commented on #2486
@gandalf3 Did you talk about clicking of a "sound playing" button on each tab in TST sidebar? (Please describe described steps to reproduce exactly, because I can mute tabs with different way and might not realize the problem.)

[2020-02-18 01:35] gandalf3 commented on #2486
@irvinm I can reproduce in a clean profile with only TST installed.

@piroor This button:

![Peek 2020-02-17 17-34](https://user-images.githubusercontent.com/11167504/74696298-eadf9480-51ab-11ea-9a0e-4642eadba50c.gif)

[2020-02-18 07:23] piroor commented on #2486
I've updated behavior around mute/unmute of tabs.

* Only the parent tab is muted/unmuted if it has descendants and they are expanded.
* All descendants are muted/unmuted if a parent tab has multiple collapsed descendants.
* Both context menu command "Mute (Unmute) Tab" and clicking on the sound playing button now work as same.

[2020-02-18 14:27] manintan opened #2487 "I keep selecting "Close Other Tabs" by accident :( plz add way to customize context menu or a way to disable this option."
## Short description

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3.
 4.

## Expected result

## Actual result

## Environment

 * Platform (OS):
 * Version of Firefox:
 * Version (or revision) of Tree Style Tab:

[2020-02-20 02:15] piroor commented on #2487
You can customize visibility of context menu commands on the sidebar via userChrome.css. I've added a code snippet:

https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#for-userchromecss
https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#hide-context-menu-items-in-the-sidebar-2116

[2020-02-20 02:27] piroor commented on #2487
Sorry but I won't add explicit options for those context menu commands implemented as fake of Firefox's native commands. This is one of design decisions on TST: poor-customizabilities around features faking Firefox's one. On most cases TST doesn't provide options for a feature if Firefox doesn't provide options for the original feature, especially cases having workarounds like my previous comment.

[2020-02-20 02:27] #2487 closed

[2020-02-20 02:50] piroor commented on #2485
Sadly this doesn't happen on my environment: TST development build on Firefox 73.0.1 on Windows 10. The option to control new tabs works as expected with the Ctrl-T shortcut also for me.
![image](https://user-images.githubusercontent.com/70062/74896163-e9de7b00-53d6-11ea-9512-aea0796eb087.png)

I think it may be affected from system (or network) performance and the number of total tabs opened on F

[2020-02-20 03:34] piroor commented on #2484
I agree TST possibly has a duplicated confirmation problem, but sadly I couldn't reproduce this problem on my environment. Steps I did are:

1. Start Firefox with clean profile.
2. Load TST (I've used the latest development build.)
3. Press the Ctrl-L shortcut to focus to the location bar.
4. Input "foxkeh" and hit the Enter key to search it on the Web (by Google).
5. Middle-click the first search

[2020-02-20 04:13] piroor commented on #2483
You should set background color to `#tabbar-container` also. It is the parent node of the `#tabbar`.

[2020-02-20 06:09] piroor commented on #2218
My pull request to MAC was closed without merging.
https://github.com/mozilla/multi-account-containers/pull/1377
We need to think about different approach to solve the problem fundamentally...

[2020-02-20 08:42] piroor commented on #2194
@Kenqr Sorry for this large delay. I've introduced some changes to fix odd behaviors at cases like yours. I hope the problem goes away...

[2020-02-20 09:09] piroor commented on #2472
I still cannot reproduce this problem on my environment...

@Altsinn At the [second screenshot](https://user-images.githubusercontent.com/50676021/73072359-322c7b00-3eb5-11ea-8ff3-627ad4f757aa.png) situation, could you capture all style rules applied to the `<tab-favicon>` item? And, could you take screenshots on `<img class="favicon-image">` item also (under the `<tab-favicon>`)? I hope to know h

[2020-02-20 09:14] #2462 closed

[2020-02-20 09:15] #2449 closed

[2020-02-20 09:16] piroor commented on #2449
I close this because the main motivation of this request looks to be satisfied. If you see any problems around this feature, please post new issues.

[2020-02-20 09:17] #2425 closed

[2020-02-20 09:20] #2428 closed

[2020-02-20 09:21] #2429 closed

[2020-02-20 09:22] #2352 closed

[2020-02-20 09:22] #2424 closed

[2020-02-20 09:23] piroor commented on #2278
I close this for now. If any progress, please add comments (then I'll reopen this.)

[2020-02-20 09:23] #2278 closed

[2020-02-20 09:24] #2397 closed

[2020-02-20 09:24] #2314 closed

[2020-02-20 09:24] #2382 closed

[2020-02-20 09:32] piroor commented on #2000
This looks should be progressed experimentally on a branch, until Firefox ESR68 becomes outdated. Maintaining multiple branches is hard for me, so I hope to concentrate to maintain and hope @saneyuki gives me experimental implementation examples...

[2020-02-20 09:38] piroor commented on #2419
Sadly my approach is stuck in mud on bugzilla. Currently I have no good idea to solve concerns presented by the reviewer and I need help from tab and WebExtensions expert...

[2020-02-20 09:38] #2386 closed

[2020-02-20 09:39] #2388 closed

[2020-02-20 09:39] #2400 closed

[2020-02-20 09:40] #2181 closed

[2020-02-20 10:00] piroor commented on #2192
The experimental branch is now too far from the master due to changes around WebComponents...
(Here is the total changes on the experimental branch: https://github.com/piroor/treestyletab/compare/master...allow-collapsed-active-descendant )

Now TST has the "locked-collapsed" state for tabs. I think we need to re-implement the experimental feature based on it. But sadly I lost my motivation about

[2020-02-20 13:27] saneyuki commented on #2000
I'm sorry. I don't have a concrete progress on https://github.com/piroor/treestyletab/pull/2427.

Because:

1. I'm busy recently....
2. I suspect we might need a bunch of refactoring to implement [the proposed plan](https://github.com/piroor/treestyletab/pull/2427#issuecomment-566461006).
3. By _reason 2_, I felt it might be better we should wait the end of life for ESR68 (Mozilla releases new ESR

[2020-02-21 02:19] piroor commented on #2171
* Firefox's default theme is based on the "Photon" color scheme basically. Now TST uses same color scheme.
* On Linux environment Firefox applies system colors. TST also does.
* Light, Dark, and other third party theme colors are now applied via WebExtensions API.
* TST 3.2.3 and later supports platform's "Dark" mode (since 2019.11.5).

So this issue looks to be resolved already.

[2020-02-21 02:19] #2171 closed

[2020-02-21 02:35] piroor commented on #2230
TST 3.2.0 (released at 2019.10.28) and later has an extra context menu command "Open All as a Tree" (please try to give "Bookmarks" permission to TST and right-click on a bookmark folder.) It opens bookmarks under a grouping folder even if the auto-grouping option is disabled. It looks to be a workaround for this issue, you just need to mind to right-click on a folder instead of middle click or ch

[2020-02-21 02:35] #2230 closed

[2020-02-21 02:53] piroor commented on #2156
The plan C ( https://github.com/piroor/treestyletab/issues/2156#issuecomment-465160925 ) looks the only way to do this, and it looks out of scope of this TST project. Thus I close this for now. If there is any compatibility issue with an addon implementing the plan C (I've not and never create it sorry, so I'm waiting someone does that), please report them at the time.

[2020-02-21 02:53] #2156 closed

[2020-02-21 03:16] piroor commented on #2384
I changed my mind. Confirmation on each tab just should control closing of each tab, instead of all closing tabs. On this viewpoint this issue has been resolved.

[2020-02-21 03:16] #2384 closed

[2020-02-21 05:06] Nardokor commented on #2483
Thanks!

[2020-02-21 05:06] #2483 closed

[2020-02-21 05:49] piroor commented on #2471
I successfully reproduced this problem on my environment, with very large number tabs. Logs:

![image](https://user-images.githubusercontent.com/70062/75007321-10281780-54b8-11ea-9ada-87e01ae1291a.png)

Things happened on this case are:

1. Move all children tabs to anywhere.
2. (background) "tabs-move.js" tries to synchronize tabs order to the sidebar. There are 143 tabs.
3. (background) "tabs-gr

[2020-02-21 06:57] piroor commented on #2471
After the commit af6940d TST retries "synchronize tabs order" operation up to 10 times. This issue case should be handled like as:

1. Move all children tabs to anywhere.
2. (background) "tabs-move.js" tries to synchronize tabs order to the sidebar. There are 143 tabs.
3. (background) "tabs-group.js" cleanups needless group tab. There are 142 left tabs.
4. (sidebar) "sidebar-tabs.js" receives "syn

[2020-02-21 07:32] piroor commented on #2475
The commit ba24ef0 introduces this behavior:

[2020-02-21 07:33] #2475 closed

[2020-02-21 07:42] piroor commented on #2478
I won't implement this as a built-in behavior of TST because Firefox doesn't provide the option. Instead you need to create a helper addon to implement the behavior. [TST provides ability to listen click event on blank spaces](https://github.com/piroor/treestyletab/wiki/API-for-other-addons#when-the-non-tab-area-is-clicked), and you can do any operation with the notification.

I think TST-MiddleCl

[2020-02-21 09:10] piroor commented on #2486
I've fixed a regression about this point. Toggling muted state via clicking on the sound playing button on a collapsed tree only affects to really sound playing tabs. If the parent tab is not a sound playing tab, it won't be muted accidentally.

[2020-02-21 17:07] keeganwitt commented on #1544
Thanks for the workaround. This was one of the main reasons I was using Tab Center Redux / Tab Center Reborn (well that and the the window preview thing was kinda nice).

[2020-02-22 15:07] grahamperrin commented on #1070
Found, thanks to @asamuzaK:

* https://github.com/piroor/treestyletab/blob/master/README.md#user-content-similar-projects ▶ Vertical tab bar without tree or grouping

[2020-02-22 15:13] irvinm commented on #1070
@grahamperrin also see:  https://github.com/piroor/treestyletab/issues/1544#issuecomment-522902490

[2020-02-22 16:42] wvxwxvw opened #2488 "The right-click menu of bookmarks in Firefox ESR"
## Short description
Firefox ESR 68.5 x64
The bookmarks context menu items with the "open unloaded" option unchecked do not work. Regardless of the grouping settings, the group page opens blank, and there are no child tabs.
At the same time, if you select the "open unloaded" option, everything will work as intended.

The problem was already in the previous version TST, I just didn't find time to r

[2020-02-22 17:33] grahamperrin opened #2489 "Enable full-size (normal width) scrollbar"
I see no scrollbar:

![image](https://user-images.githubusercontent.com/192271/75096603-28239800-5599-11ea-8908-5dd95e313f87.png)

– and with a trackball device for input, I can't scroll. As a workaround I typically use keyboard shortcuts to navigate tabs, or switch temporarily to Sidebery.

I see e.g. preferences for `scrollbarMode` and `sidebarScrollbarPosition` but I can't guess the effects of

[2020-02-22 18:58] irvinm commented on #2489
I see the scrollbar in both screenshots. (I think)  It looks like it is on the left side of the sidebar and it is "half-sized".  You can make it full-sized if you want ... or even move it to the right side of the sidebar if it is easier to see and\or interact with your trackball.  You can also change the color scheme of the scrollbar to make it easier to see.

It looks like in the 2nd screenshot,

[2020-02-23 02:55] grahamperrin commented on #2489
Oh, wow! Thanks.

Now I see it, in the screenshots, but the half-size is (for me) very vague. The previous screenshots were slightly misleading in that the shot software excluded the borders. Here's a truer representation:

![image](https://user-images.githubusercontent.com/192271/75102556-4c0ccb00-55e5-11ea-9746-bff05fb0acb3.png)

– at a glance, the bar is almost as narrow as the indicators along

[2020-02-23 03:04] grahamperrin commented on #2489
OK, now I see it, expandable _All Configs_ nested under expandable _Development_ but still (sorry) I can't find anything to normalise the width of the scrollbar.

It's past 03:00 in the morning here, entirely possible that I'm doing something stupid (again) …

[2020-02-23 05:20] irvinm commented on #2489
You can use CSS to take care of it:  https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#show-scrollbar-with-regular-width

[2020-02-23 13:08] #2489 closed

[2020-02-23 13:28] grahamperrin commented on #2489
Yay!

Five stars, https://addons.mozilla.org/addon/tree-style-tab/reviews/1494551/

![image](https://user-images.githubusercontent.com/192271/75112824-9a4eb800-563f-11ea-9787-272f6ac2001c.png)

* `#tabbar { scrollbar-width: auto; }`
* Vertigo appearance
* style of contents for the sidebar position: right side (I used Macs for around twenty years, I still prefer close buttons to the left)
* crop wi

[2020-02-23 22:46] hklene commented on #2484
Just today it happened again in my productive profile with > 250 tabs distributed over 4 windows and quite a few other add-ons ... But so far no luck reproducing in an empty profile ... I keep trying ...

[2020-02-24 16:24] emvaized commented on #2478
Yeah, that's exactly the way I went, and author of this add-on added optional functionality to close active tab, which can be enabled from add-on settings.
[https://github.com/AlexEndris/tst-middleclick/issues/5](https://github.com/AlexEndris/tst-middleclick/issues/5)

[2020-02-26 01:05] irvinm commented on #2194
@Kenqr, have you had a chance to try out 3.3.6?  Any improvement?

[2020-02-26 01:09] irvinm commented on #2192
@piroor maybe we should close this for now ...

[2020-02-26 01:11] irvinm commented on #2471
@gonhidi can you try again with 3.3.6 and let us know if things are better?

[2020-02-26 01:13] irvinm commented on #2486
@gandalf3 can you try 3.3.6 and report back?

[2020-02-26 01:23] irvinm commented on #1800
@kilx or @piroor ... I think we should close this item.  I believe that tabs are now started by default in a discarded state and therefore tabs that require authentication should not prompt for credentials until the tab is activated.

I might be missing a detail, so I thought I would ask.

[2020-02-26 01:27] irvinm commented on #1809
@piroor I just noticed there wasn't a defect filed for this issue.  Has there been any change around this behavior over the past 2 years?  If not, it would appear this would be the standard behavior on Mac and will not change and we should just close this issue.  What do you think?

[2020-02-26 01:35] irvinm commented on #1795
@piroor not sure there is more to do with this one.  Can we close this one?

[2020-02-26 01:40] k-h commented on #1809
It's a pity, but I suppose so.

--
Kim Holburn
IT Network & Security Consultant
T: +61 2 61402408  M: +61 404072753
mailto:kim@holburn.net  aim://kimholburn
skype://kholburn - PGP Public Key on request

[2020-02-26 01:46] piroor commented on #1800
On most cases WebExtensions API now returns data: URIs via favIconUrl, so I think this issue is already outdated. Thus I close this for now. If you still see this, please add a comment @kilx

[2020-02-26 01:46] #1800 closed

[2020-02-26 03:09] piroor commented on #1809
I've filed a bug for this topic on bugzilla.mozilla.org: [1618081 - Provide ability to activate click-through on the sidebar area on macOS](https://bugzilla.mozilla.org/show_bug.cgi?id=1618081)
I'm waiting for something decision by Mozilla developers.

[2020-02-26 08:13] gonhidi commented on #2471
I need to test it a little more thoroughly, but I have not been able to trigger the behaviour this time around. I will close this issue as it is seemingly fixed and report back if I find it not to be so. Thanks for looking into it, and sorry for the delay in getting back to you.

[2020-02-26 08:13] #2471 closed

[2020-02-26 10:22] Kenqr commented on #2194
After testing, I think the issue is solved in 3.3.6.
Thank you for updating!

[2020-02-26 10:22] #2194 closed

[2020-02-26 10:56] JeanMertz commented on #2485
I'm seeing the exact same behaviour as described by @Gaibhne, including the behaviour of switching back when opening one tab and then closing it, vs opening two tabs and closing both.

This is on Firefox 73.0.1 on macOS 10.15.

In my case, this is an 8-core machine doing nothing right now, with a 500Mbit connection, again doing mostly nothing. Also, I've got less than 10 tabs open.

This works som

[2020-02-26 11:54] gandalf3 commented on #2486
@irvinm The situation described in the report works perfectly now, thanks @piroor for the speedy fix!

I did notice that there is some odd behavior when muting/unmuting a collapsed tree, but I wasn't able to find a consistent way to reproduce it in the 30 seconds I played with it (seems to depend on the initial state of mutes pre-collapse). I'm not sure such edge cases are even useful enough to bo

[2020-02-26 12:45] irvinm commented on #2486
@gandalf3 can you close this item then?  (If you get a more concrete way to reproduce the edge case, you can always reopen the item.)

[2020-02-26 18:12] grahamperrin opened #2490 "Sidebar sometimes fails to load (animated throbber for a single tab) after restoration by Session Boss"
Sometimes the sidebar presents as in two of these four windows:

![2020-02-26 17:56:21](https://user-images.githubusercontent.com/192271/75373791-e78e8c00-58c2-11ea-9852-c03fac38e936.png)

Please: is the symptom above recognisable to anyone?

Screen recording available on request. Essentially:

* the animation – suggesting that load is incomplete – continues long after load is complete
* a reliabl

[2020-02-27 17:29] piroor commented on #1795
I've realized that the in-content confirmation dialog is now available on lately versions of Firefox, and it has been fixed with the commit 663f51609e6df8a19839087ae9ea984d1b1e2980.

Anyway, in-content confirmation is now available if `<all_urls>` permission is granted by the user and the active tab is not guarded (like addons.mozilla.org, about: pages, or others). I think it is the best way possi

[2020-02-27 17:29] #1795 closed

[2020-02-27 17:32] piroor commented on #2478
Oops, I missed that the feature has already been in the addon.

[2020-02-27 17:32] #2478 closed

[2020-02-27 17:36] CrashNBurn71 opened #2491 "Return Suspend Tab (action) to TST|Multiple Tab Handler?"
The removal of "Suspend Tab" from MTH was especially bothersome to me, it was about the only usage I had for Multiple Tab Handler. And a year on now, there are still no extensions that allow you to manually suspend a Tab (or Tab Tree) nor retain the tab history.

Both Tree Tabs (Firefox|Chromium) and Tabs Outliner (Chromium) allow for easily suspending a given tab | tab tree.

Could this please be

[2020-02-27 17:54] piroor commented on #2488
I've tried with the latest development build (c23fbb0) but I couldn't reproduce the problem, on both Nightly and ESR68. Does the commit c23fbb0 affect to this?

[2020-02-27 19:29] piroor commented on #2491
I believe that the feature should be provided by addons developed for the purpose - Auto Tab Discard, UnloadTabs, and more others. They often provide extra context menu commands for tabs, and TST/MTH should work them together seamlessly.

However I've realized that both Auto Tab Discard and UnloadTabs don't support multiselection of tabs, so I've created pull requests for that: https://github.com/

[2020-02-27 19:43] wvxwxvw commented on #2488
Yes! This is it.

So, there were two problems:
1. Not loading tabs
2. Empty group page (no items, but the title is in place)

On the new profile, commit immediately solved all the problems.

On the old profile:
1. The first problem was solved immediately.
2. The second problem remained.
I tormented the profile for a long time, disabled Addons, deleted the cache, switched and deleted parameters in

[2020-02-27 19:43] piroor commented on #1809
The bug 1618081 has been closed as WONTFIX, so this couldn't be fixed by addon-side.

[2020-02-27 19:43] #1809 closed

[2020-02-27 19:56] wvxwxvw commented on #2488
You can close it.

[2020-02-27 20:14] wvxwxvw commented on #2488
Обновил пост выше.

[2020-02-27 21:42] NiklasGollenstede commented on #2491
Merged, somewhat tested, and available as [dev build](https://github.com/NiklasGollenstede/unload-tabs#development-builds----); release will follow.
Thanks piroor!

[2020-02-28 01:16] piroor commented on #2491
@NiklasGollenstede Thank you for the quick merging!

[2020-02-28 01:41] piroor commented on #2488
I've tried but still couldn't reproduce the second problem. Do I understand your report correctly? Here are screenshots on my case:

Bookmarks options:
![image](https://user-images.githubusercontent.com/70062/75502233-92af5a80-5a15-11ea-9583-ca6cc6a666c0.png)
All configs and bookmarks (default items in a new profile for Nightly):
![image](https://user-images.githubusercontent.com/70062/75502270-b8

[2020-02-28 03:26] wvxwxvw commented on #2488
I must have been vague.

1. [Commit](https://github.com/piroor/treestyletab/commit/c23fbb0fb3a2c439e70811db0de6be03ab1509be) fixed a problem with not opening tabs.
2. With the groups tab, everything is fine. I forgot to check the box.

In general, everything is fine, close issue.

[2020-02-28 03:57] piroor commented on #2488
Thank you confirmation!

[2020-02-28 03:57] #2488 closed

[2020-02-28 04:21] piroor commented on #2490
I've tested with Session Boss and I've realized that there are some errors on window initialization when windows are restored by Session Boss, due to some tabs removed before they are initialized. After some recent commits the problem looks go away on my environment. Could you try the latest development build?: https://github.com/piroor/treestyletab/blob/master/README.md#development-builds

[2020-02-28 07:08] piroor commented on #2485
@JeanMertz

They are by design, based on a simulated behavior of Firefox's `browser.tabs.selectOwnerOnClose`=`true`. "Back to the owner" behavior is not applied after you open any new tab or you give focus to different tab gets focused.

[2020-02-28 14:37] piroor commented on #1716
Firefox for Android become obsolete and Firefox Preview will become the new main line on Android.
https://blog.mozilla.org/addons/2019/10/23/fx-preview-geckoview-add-ons-support/
Extension-support is announced as in-progress. We need to keep attention for a while more.

[2020-02-28 15:42] davidhedlund commented on #1716
I know, it's very fast.

Thanks.

[2020-02-28 16:10] piroor commented on #2486
@gandalf3 I've realized that "muted" state is not toggled to "sound playing" if a collapsed descendant tab is muted by clicking of the sound playing icon in the root parent tab. I think it is the case you saw and the commit 5bb5443 should fix it.

[2020-02-29 07:03] piroor commented on #2192
I thought about this topic again.

This feature looks not suitable as a builtin feature - it is too massive. I don't think it is very useful for all TST users. However, it still looks useful on some cases. So, now I think this feature should be provided as a helper addon communicating with TST.

But there are some missing APIs to implement such a helper addon. For example:

* Something way to embe

[2020-02-29 17:53] piroor commented on #2192
https://github.com/piroor/treestyletab/wiki/API-for-other-addons#when-tree-is-collapsed-or-expanded

[2020-03-01 07:22] piroor commented on #2192
https://github.com/piroor/treestyletab/wiki/Tab-Extra-Contents-API

[2020-03-01 13:54] grahamperrin opened #2494 "Unexpected appearance of trees after successfully enabling flatness"
Re: https://github.com/piroor/treestyletab/issues/1544#issuecomment-522902490 around eight days ago I disabled two advanced preferences:

* `autoAttach`
* `syncParentTabAndOpenerTab`

Success; no trees.

Then disabled TST for a few days.

Today after re-enabling the extension, unexpected trees began appearing, e.g.:

![image](https://user-images.githubusercontent.com/192271/75626952-c9c36e80-5bc3-

[2020-03-01 14:05] grahamperrin commented on #2494
… if it helps to diagnose this: immediately after re-enabling the extension, I noticed that my previously preferred theme was no longer preferred.

Preference(s) corruption, maybe? (A wild guess. Not jumping to any conclusion.)

[2020-03-01 14:25] grahamperrin commented on #2494
I forgot to include environment information above, sorry.

Extension:

* `3.3.6 (2020.2.21)`
* https://addons.mozilla.org/addon/tree-style-tab/versions/3.3.6/updateinfo/

[code]

### Reproducibility

Not yet reproducible, touch wood :+1:

I:

1. reduced the number of content processes from `8` (the default here) to `1`
2. saved a session (Session Boss)
3. quit
4. started (OT, probably negligible:

[2020-03-01 14:35] grahamperrin commented on #2494
### Additional observations

I used <kbd>Control</kbd>-<kbd>Shift</kbd>-<kbd>T</kbd> to reopen the last tab that was (presumably) closed in the previous session.

It was indented … I guess, because I did not manually flatten this particular tab before the quit of Firefox.

After dealing with that one tab … at the time of writing, still no unexpected tree when opening links in new tabs.

[2020-03-01 14:51] grahamperrin commented on #2490
Thanks you.

With `3.3.6.10041.10041` it seems that symptoms differ but the conflict is not entirely resolved.

After restoring a session (from around the time when I opened this incident) with sixty tabs across four windows:

![image](https://user-images.githubusercontent.com/192271/75627874-f085a300-5bcb-11ea-891e-479e1e6720e4.png)

* if I'm not mistaken, there's no longer the animated throbber

[2020-03-01 16:18] piroor commented on #2192
I've started to implement an experimental helper addon...
https://github.com/piroor/tst-active-tab-in-collapsed-tree
![image](https://user-images.githubusercontent.com/70062/75629251-a7613d80-5c23-11ea-8edc-74be2c235c49.png)

[2020-03-02 13:55] wvxwxvw opened #2495 "[Feature Request] Add the item "open in private window" to the context menu of the tab"
Add the item "open in private window" to the context menu of the tab. For example, in the "tabContextMenu_moveTab_label" submenu.

[2020-03-02 16:46] piroor commented on #2192
https://github.com/piroor/treestyletab/wiki/API-for-other-addons#suppress-unintentional-focus-change-by-tst
https://github.com/piroor/treestyletab/wiki/API-for-other-addons#suppress-unintentional-expansion-of-collapsed-tree-by-tst

[2020-03-02 18:08] piroor opened #2496 "Remove "Lock as Collapsed" feature from TST and re-implement as a helper addon"
This feature looks to be implemented with this new API:
https://github.com/piroor/treestyletab/wiki/API-for-other-addons#suppress-unintentional-expansion-of-collapsed-tree-by-tst

[2020-03-02 21:00] xXQWERTXx opened #2497 "Sidebar does not open fully on mouse hover"
## Short description
Hovering the mouse over the collapsed sidebar does not open it. Clicking on tabs still works.

## Steps to reproduce
1. Open Firefox
2. Install fresh TST
3. Use the following config:
[code]

## Expected result
Tree opens and stays open

## Actual result
Tree doesn't open at all, only some slight shifting is seen
[bug.mp4.zip](https://github.com/piroor/treestyletab/files/427789

[2020-03-02 22:45] xXQWERTXx commented on #2497
Note: the issue appeared right after I updated my Firefox.
The last time I updated was over 2 months ago though, so I am unsure what version it was previously.

[2020-03-03 06:18] piroor commented on #2496
In-progress at https://github.com/piroor/tst-lock-tree-collapsed

[2020-03-03 07:59] piroor commented on #2496
Looks complete.

[2020-03-03 07:59] #2496 closed

[2020-03-03 18:32] piroor commented on #2192
A development build is now available:
https://piro.sakura.ne.jp/xul/xpi/nightly/tst-active-tab-in-collapsed-tree.xpi
It requires the latest development build of TST itself.

[2020-03-03 23:13] grahamperrin commented on #2494
### Reproducibile

1. about:addons
2. seek an extension – _Find more add-ons_

Expected:

* search results in a new tab, not indented.

Actual result:

* search results in a new tab, indented.

[2020-03-04 18:29] jastice commented on #2022
I still have this problem all the time. Most commonly the "close tab" tooltip gets stuck, and stays that way even when switching windows

Currently on TST 3.3.6 (2020.2.21), FF 73.0.1 (64-bit), macOS 10.14.6

[2020-03-06 10:26] marekbecica opened #2499 "PLain Dark Theme not rendered correctly in 3.4.1"
## Short description
Latest version doesn't render Plain Dark Theme properly
## Steps to reproduce

 1. Start Firefox with clean profile on system with dark theme
 2. Install latest TST 3.4.1.
 3. Select Plain Dark theme in TST settings

## Expected result
Tabs are displayed correctly in dark theme
See screenshot from 3.3.6 (after clean install)
![screenshot_14](https://user-images.githubuserconte

[2020-03-06 10:44] piroor commented on #2499
This looks happen when the system color support is active. Could you try a workaround?: TST Options => For developers => Color scheme => Photon

[2020-03-06 10:59] wallace11 commented on #2499
I'm also affected by this issue.
Workaround worked for me just fine.

[2020-03-06 11:52] marekbecica commented on #2499
Workaround worked for me too.

[2020-03-06 14:38] piroor commented on #2499
The commit f09654b2445ca484620f38e366ef60fab6bd9471 should fix this unstable coloring problem. After the commit, system's dark color mode is ignored, and you may need to choose the "Plain Dark" theme manually.

* The system color mode of TST is enabled by default only on Linux. Firefox's default theme on Linux uses system colors, so we also need to use system colors on addon. On this environment,

[2020-03-06 20:02] appletomato opened #2501 "Clicking on "close tab" does not close tab any longer"
## Short description

Tabs cannot be closed by clicking the "close tab" icon any longer.

## Steps to reproduce

- Open a new tab
- Click on the "close tab" icon

## Expected result

- Tab gets closed

## Actual result

- Tab stays open

## Environment

 * Platform (OS): macOS
 * Version of Firefox: 73.0.1 (64-bit)
 * Version (or revision) of Tree Style Tab: 3.4.1

I have downgraded Tree Style Tab

[2020-03-06 20:11] Gotolei commented on #2501
Question, do you have any custom code that hides the close button except on hover? Because if so, I ran into the same thing when 3.4.1 came out.
For me the culprit is [this](https://github.com/piroor/treestyletab/blob/348d5a2864ae30042ffcb4d91092139fd96cfaec/webextensions/sidebar/styles/base.css#L331), on the .extra-items-container.front flexbox, because its right offset isn't updated on hover and

[2020-03-06 20:28] JonnyTsGitHub commented on #2501
I am seeing this too.  I do have custom code to only show on hover.  After removing it (and restarting firefox) my close buttons work again.

What do you mean "setting a higher right on hover in custom css"?

[2020-03-06 20:32] Gotolei commented on #2501
[code]

[2020-03-06 20:55] JonnyTsGitHub commented on #2501
Thanks :)

[2020-03-06 21:02] irvinm commented on #2501
I thought I was losing my mind after upgrading to 3.4.1, but after playing around with my CSS and some other addons [thought maybe there was a conflict as I tried a clean profile and it worked fine] I was able to get everything working again.  (Although I didn't change any of my original CSS which hides the closebox unless hoovering and changes the closebox color and shape.)

So ... not sure how i

[2020-03-07 01:08] tehyoshi opened #2502 "After 3.4.1 update, tabs are unselectable"
TST automatically re-synced (turned gray and reloaded) and now I cannot click on any of the tabs. Everything else works, such as hovering, opening the right-click menu and interacting that way, move tabs, and even expanding/collapsing trees, but clicking on tabs do nothing.

I have tried removing all custom CSS and restarting Firefox, but to no avail.

At first, I thought this was related to issue