[2020-10-04 16:28] Lej77 commented on #2732
@piroor Thanks! I have released version `5.2` of my [Tree Style Tab in Separate Window](https://addons.mozilla.org/firefox/addon/tst-in-separate-window) extension with support for the new URL parameter. I tested it with a development build of Tree Style Tab and everything seems to work!

[2020-10-05 12:00] mreppen commented on #2732
@piroor @Lej77 Sorry for pinging you both, but: Thanks for making my everyday browsing life better!

This is working for me, so I close.

[2020-10-05 12:00] #2732 closed, assigned to nobody

[2020-10-05 12:23] irvinm commented on #2711
Everything is looking good so far.  I will monitor and report back any additional issues.

[2020-10-05 12:23] #2711 closed, assigned to nobody

[2020-10-05 14:39] Sada-Mio commented on #2709
Still having issue with latest development build.

[2020-10-05 22:18] petebrag commented on #2721
Hi, is there a video or videos explaining all the functions and keyboard shortcuts for TST?

Thanks,

Pete

[2020-10-05 22:40] irvinm commented on #2721
@petebrag there is a lot of information in the [wiki](https://github.com/piroor/treestyletab/wiki) and if you do a search for issues with the term you are looking for.  Else, if you have a more specific question,  people can try to help out.  There are not videos of all of the functions and keyboard shortcuts.  [Unless @piroor has found a new love of making videos that I do not know about. 😄]

[2020-10-06 09:53] stefnotch commented on #1896
Out of curiosity, what does "outdated" mean in this context? Does it mean that tree style tab now uses a different way to fetch the favicon?

[2020-10-06 16:06] piroor commented on #1896
Because Firefox now represents tabs with Data: URL favicons (sorry but I don't know when the spec was changed) thus TST won't fetch raw favicons directly anymore.

[2020-10-06 18:43] ldm1417 opened #2734 "Tree Style Tab stopped working for Firefox v81.x"
Hello,

It seems the Tree Style Tab AddOn stopped working for Firefox v81.x. Is this true?

Here is how it looks (blank):

![1](https://user-images.githubusercontent.com/42472229/95246187-d1638980-081c-11eb-872f-5247fc1f2e6f.jpg)

How to fix it?

Thank you!

[2020-10-06 18:47] irvinm commented on #2734
No, it works. 😄

Four things I would try:

1. Restart Firefox
2. Toggle the side bar off and on
3. Enable\disable TST itself
4. Uninstall\reinstall TST itself

[2020-10-06 20:35] ldm1417 commented on #2734
I’ve re-installed the TST, closed and re-launched the Firefox, toggled the sidebar, disabled all the rest add ons, the result is the same – the sidebar under the TST is blank. What are the next steps?

[2020-10-06 21:24] irvinm commented on #2734
Can you create a new profile (it can be temporary) and just add TST to that profile to see if that works?  (about:profiles)

[2020-10-07 05:50] ldm1417 commented on #2734
In the new profile, it works... so, what's the next step?
In the old profile, I wiped the Firefox cache, but this did not help...
I'd prefer to stay with the old profile because of the rest of the addons...

[2020-10-07 14:11] irvinm commented on #2734
@piroor might have some better suggestions, but my one last suggestion might be to:

- Uninstall TST
- Restart Firefox
- Reinstall TST

I believe if you remove and then reinstall in the same session it reuses what you already had.  It sounds like Firefox itself is fine as you can get another profile to work.

It is also possible (I guess) that there is a conflict with another addon, but maybe some

[2020-10-07 18:39] ldm1417 commented on #2734
"Finally, you could also check the console to see if there are any clear errors being reported there around TST" - how can I do so?

[2020-10-07 19:16] irvinm commented on #2734
https://github.com/piroor/treestyletab/wiki/How-to-inspect-tree-of-tabs#how-to-inspect-the-background-page-master-process

[2020-10-07 19:20] johanbluecreek opened #2735 "Non-persistence of setting not to warn when closing multiple tabs"
## Short description

When I close a parent tab and the children are to be closed I get a warning that I'm closing multiple tabs and I have the option to ignore this warning in the future. When I close a parent the next time, I still get the warning even if I asked not to be warned.

## Steps to reproduce

This test is done on debian stable with latest version of firefox in their stable repositori

[2020-10-08 09:17] piroor commented on #2735
What is the method did you try to close tabs? Did you tried both times with an exact same method?

TST provides two options "Warn me when I attempt to close multiple tabs" and "Warn me when I attempt to close multiple tabs by a normal click on a closebox" and both they are active by default. Even if the first option is deactivated, you'll see a confirmation for closing of multiple tabs with a clic

[2020-10-08 09:29] piroor commented on #2734
@ldm1417  I'm using TST on Firefox 81.0.1 on Windows 10, and it works as expected for me. I think a debug log is required to research, collected via the method @irvinm linked to.

[2020-10-08 09:55] piroor commented on #2721
Sorry but I have no plan about creating high quality videos describing usage of TST for now. About documents about keyboard shortcuts also. This is just because due to my poor resource.

Here are some short video clips I tweeted with descriptions of TST features:
https://twitter.com/piro_or/status/1250806769900638208
https://twitter.com/piro_or/status/1250806027114606592
https://twitter.com/piro_o

[2020-10-08 10:51] johanbluecreek commented on #2735
Clicking on the X on the parent in the sidebar tree.

I have tried variations of this method tens of times on two different machines with the same versions of firefox, TST, and latest updated Debian stable.

I always get the dialog that says "Warn me when I attempt to close multiple tabs", even if I uncheck that box previously.

How do I trigger the "Warn me when I attempt to close multiple tabs b

[2020-10-08 14:45] Drive4ik commented on #2546
This fix will be released with STG 4.5.2+

[2020-10-09 02:02] piroor commented on #2735
Thanks! I've realized that the checkbox state is not saved unexpectedly when you close tabs with the closebox ("X" button in tabs). The state was saved as expected only when the dialog was shown for closing of tabs via a middle click. The commit 030e773 should fix the problem.

[2020-10-09 02:07] piroor commented on #2735
By the way, the second "by a normal click on a closebox" option was separated because I accidentally closed collapsed tree too many times when I just aimed to switch tab focus.

[2020-10-09 02:11] piroor commented on #2730
I close this because TST 3.5.31 is already available. (If you still see this problem, add comments please.)

[2020-10-09 02:11] #2730 closed, assigned to nobody

[2020-10-09 02:11] piroor commented on #2722
I close this because TST 3.5.31 is already available. (If you still see this problem, add comments please.)

[2020-10-09 02:11] #2722 closed, assigned to nobody

[2020-10-09 02:11] piroor commented on #2714
I close this because TST 3.5.31 is already available. (If you still see this problem, add comments please.)

[2020-10-09 02:11] #2714 closed, assigned to nobody

[2020-10-09 02:12] piroor commented on #2694
I close this because TST 3.5.31 is already available. (If you still see this problem, add comments please.)

[2020-10-09 02:12] #2694 closed, assigned to nobody

[2020-10-09 04:44] piroor commented on #2725
TST 3.5.31 is now available, so I close this.

[2020-10-09 04:44] #2725 closed, assigned to nobody

[2020-10-09 04:52] piroor commented on #2720
Ah, I got it. I didn't know how to open tabs in temporary containers without the automatic mode, and I finally understood that there is a context menu command "Open link in new Temporary Container tab". After I disabled the automatic mode and opened links from the command, I've successfully reproduced this problem.

[2020-10-09 05:29] piroor commented on #2720
I've looked the debug log. What happens when a new temporary container tab is opened from the context menu command is:

1. A new tab is opened with a container at the end of the tab bar without any opener information, by Temporary Containers.
2. The tab is moved next to the active tab by someone (maybe Temporary Containers).
3. TST detects the moved tab, and attach the tab to the existing tree bas

[2020-10-09 05:33] grahamperrin commented on #2730
Fix confirmed, thank you 👍

[2020-10-09 06:13] piroor commented on #2720
I've created a pull request to do that on Temporary Containers side.

[2020-10-09 07:05] johanbluecreek commented on #2735
I downloaded the nightly build of TST that appears to have that commit (by checking the latest entry in the 'CI/CD action'), loaded it temporarily as per the instructions in the read me, and it works! I spawned a bunch of children, closed parent and got the warning and opted out, redid it once more, and I got no warning. It is all in nightly, but since it is in the pipe to get rolled out I'm closi

[2020-10-09 07:05] #2735 closed, assigned to nobody

[2020-10-09 07:18] piroor commented on #2720
The PR has been merged, so this issue will be fixed with the next release of Temporary Containers.

[2020-10-09 07:33] viking2 commented on #2720
Great. Thanks!
I will close this after testing the new version of Temporary Containers.

[2020-10-09 13:54] piroor commented on #2709
Hmm, could you collect debug logs on the failure case? When you see the problem again, please collect logs with these steps:

1. Go to TST's options page.
2. Configure as followings:
   * "Development" => "Debug mode": checked
   * "Development" => "Detailed Logging" => "sidebar/mouse-event-listener": checked, all others: unchecked
3. Open the debugger for TST. Instructions: https://github.com/pir

[2020-10-09 13:55] piroor commented on #2705
I close this for now. Please add new comments or open new issue if you see the problem again.

[2020-10-09 13:55] #2705 closed, assigned to nobody

[2020-10-09 16:17] Sada-Mio commented on #2709
Tried closing a new tab and this is what I see in logs

[code]

[2020-10-09 17:21] piroor commented on #2717
I've started to implement a helper addon I planned at here: TST More Tree Commands.
https://github.com/piroor/tst-more-tree-commands

[2020-10-09 17:36] piroor commented on #2709
Thanks! The log says that TST couldn't get the last visible tab in the sidebar. This is quite odd, because always there should be one or more visible tabs in the sidebar. Do you use any other tab related addon which hide tabs?

[2020-10-09 20:23] Sada-Mio commented on #2709
Tab related addons

- Tab Center Redux
- Tab Manager v2
- Tab Session manager
- Auto Tab Discard
- Firefox Multi-Account Container
- TST Open Bookmark as Partial Tree
- TST Bookmarks Subpanel
- Temporary Container

Other addons

- Bitwarden
- CanvasBlocker
- Cookie AutoDelete
- Dark Background and Light text
- Decentraleyes
- ClearURLs
- Multiple Tab Handler
- Reddit Enhancement suite
- Stylus
- u

[2020-10-10 06:30] piroor commented on #2709
I'm not familiar to other addons you used. Could you narrow down conditions to reproduce the problem? I need minimum list of required addons, settings, and steps to reproduce the problem.

----

TST memorizes some list of tabs based on their state for better performance. For example: pinned tabs, unpinned tabs, active tabs in each windows, expanded tabs, collapsed tabs, and so on. Visible tabs is

[2020-10-10 17:07] Sada-Mio commented on #2709
Took a long time disabling addons one by one and trying different things. But, finally able to get steps to reproduce.

1. Create new firefox profile
2. Install TST addon, Option > import config (https://pastebin.com/Cb7rbiUJ)
3. Install Temporary container addon. Option>General>Automatic_mode check marked
5. Create new tab 1, visit website
6. Create new tab 2, visit website, moved to be child of

[2020-10-10 23:42] KDE5FAN opened #2736 "Keep getting warning of closing multiple tabs when I close parent tab"
I'm using the most current version of FF (81.0) & the addon (October 5, 2020).  When I try to close a parent tab with open children tabs, I get a warning that has a check box saying something like: "Warn me anymore if I close multiple tabs".  No matter how many times I uncheck that box, I still get the warning.

I found a setting to turn this off deep in the settings and turning that off stops thi

[2020-10-11 02:36] piroor commented on #2709
Thanks a lot! I've successfully reproduced the problem with your help.

[2020-10-11 03:04] irvinm commented on #2736
https://github.com/piroor/treestyletab/issues/2735

[2020-10-11 07:02] piroor commented on #2709
I've introduced some safe guards 994bede, ace6bf5, and more for such cases. Those changes should prevent producing such a broken status.

By the way, I've noticed that one Ctrl-T action opens two new tabs on failure cases. This is because both TST and Temporary Containers try to reopen the new tab with specific container. Firefox doesn't allow addons to change the container of an existing tab, so

[2020-10-11 14:50] Sada-Mio commented on #2709
Thanks! You figured it out.

Tried the latest developmental build and tab closing is working.

Always wondered why Ctrl-T would sometimes open multiple new tabs. Do you want me to keep testing with TST new tab behavior still set to "inherit" instead of "no control"?

Noticed new tabs reopened by Temporary container would be independent instead of a child.

[2020-10-11 14:53] piroor commented on #2717
Corresponding branch of TST: https://github.com/piroor/treestyletab/tree/separate-more-tree-commands

[2020-10-11 16:56] piroor commented on #2709
I think there is less needs about further testing, except about the robustness of the guard. Due to restrictions of WebExtensions APIs the doubled reopened tabs problem cannot be resolved by each addons. I think that TST and Temporary Containers need to communicate and collaborate with each other...

[2020-10-12 16:06] piroor commented on #2736
TST 3.5.32 including this fix is now available, so I close this.

[2020-10-12 16:06] #2736 closed, assigned to nobody

[2020-10-13 01:26] bughit opened #2737 "group-tab auto-closing prefs do not stick"
## Short description

In my main profile "Close this tab when there are no more children" and "Close this tab when there is one or less child" are unchecked and checking either doesn't stick, the next "open all in tabs" they are unchecked again.

In a new profile "Close this tab when there are no more children" defaults to checked but changes also don't stick.

## Steps to reproduce

 1. Start Fir

[2020-10-13 14:38] neostar63 opened #2738 "Tab Switch Gets Stuck in Click and Drag Mode"
## Short description

When switching between tabs occasionally the tab selection will become stuck like I am clicking and dragging, yet I am not holding down the mouse button. This seems to be most easily repeatable when switching between a new empty tab and a tab that has been navigated to a site. This usually causes the tab to be opened in a new browser instance on accident.

## Steps to reprodu

[2020-10-13 14:51] neostar63 commented on #2738
I will also add that browser.tabs.allowTabDetach was set to true in about:config

I have set it to false. TST still lets me tear the tabs but I have not been able to recreate the issue since disabling it a few moments ago. I will leave it disabled and report back if I see any erroneous tab tearing.

[2020-10-13 16:36] piroor commented on #2738
TST Options => Drag and Drop => choose "Move Entire Tree / Do nothing" for the action "Drag", then tabs won't be detached from the window by dragging.

[2020-10-13 16:50] neostar63 commented on #2738
This issue presents itself in a way where the mouse click event is locked as if I am still pressing the button down but I am not. When I click somewhere else outside of the TST area it results in a new browser window being spawned with that tab as its content. As you can imagine when moving at normal speed random browser windows popping up when switching tabs is an inconvenience.

I did see that o

[2020-10-13 16:50] #2738 closed, assigned to nobody

[2020-10-13 17:52] byblo commented on #2673
A new version of STG addon was released, with this change:
STG 4.5.2, "Try to fix conflict with "Tree-style tab" add-on #601"

On this new STG version, when archiving a group, it seems to save the trees somehow, but once restoring the same group from his archive, the tabs order and the tree are totally incorrect. Not sure if this new problem is related to the STG or the TST addon.

[2020-10-13 22:04] byblo commented on #2673
A new version of STG addon was released, with this change:
STG 4.5.2, "Try to fix conflict with "Tree-style tab" add-on #601"

On this new STG version, when archiving a group, it seems to save the trees somehow, but once restoring the same group from his archive, the tabs order and the tree are totally incorrect. Not sure if this new problem is related to the STG or the TST addon.

[2020-10-14 17:01] piroor commented on #2738
It looks to be triggered by heavily/slowly processed mouse events for me. On my environment, similar problem sometimes happens when the PC becomes slow by something other heavy tasks. Moreover, there may be something un-noticed problems caused by zombie drag session happend around Firefox's IPC (Inter-Process Communication) mechanism.

[2020-10-14 17:45] piroor commented on #2737
It is a designed behavior. Those checkboxes just controls only the particular tab itself containing checkboxes but won't affect to further group tabs.

I've implemented new (secret) options to control default checkbox state for group tabs. Thereare four new options at TST options => Development => All Configs:

* `groupTabTemporaryStateForNewTabsFromBookmarks`
* `groupTabTemporaryStateForNewTabsFr

[2020-10-14 17:50] bughit commented on #2737
controlling just the current tab is rather useless, it's quicker to manually close it than to fiddle with these checks, so it would make sense for them to change the defaults

[2020-10-15 01:36] piroor commented on #2737
I hope that people remind the nominative of those checkbox labels is "this tab" isntead of "this type tabs". As described at this section https://github.com/piroor/treestyletab/commit/cf31e60b58e438d5bffac9294c666281514e2141#diff-895c7889a4ca984d671ca3a96b548828bdfbf1ee7e0368ed5ad96cc7b4591b06R178 TST switches default checkbox state for each context. This is because there are multiple purposes why

[2020-10-15 16:42] piroor commented on #2737
Options UI is now exposed with the commit b191aae.

[2020-10-16 11:51] Galliver7 opened #2739 "New tab option behave weired"
## Short description
以下のオプションの挙動がおかしい（と感じます）
![screenshot_538](https://user-images.githubusercontent.com/8030470/96252923-ae3f9380-0fed-11eb-9a58-7b8e37db3f80.png)

ロケーションバーの検索より新しいタブを開いた際、「独立したタブとして開く」として挙動する場合と「現在のタブと同階層で隣に開く」として挙動する場合があります

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3. 該当の設定に変更します
 4. アドレスバーから検索を行い新しいタブを開くと、意図しない挙動が発生する場合があります。
* browser.urlb

[2020-10-18 07:14] xmass opened #2741 "OneTab support"
Please add support of adding Tree tab to OneTab plugin or have similar feature to save tree of tabs from right click to a 'bookmark like' page.
The goal is to save selected sub tree with hiearchy as list of links. Please see the OneTab addon.

[2020-10-18 17:01] piroor commented on #2741
TST has ability to create bookmarks within a folder from tree of tabs: see the right click menu on a tree. And, you also can restore tree of tabs with the action: right-click on the saved folder and choose "Open All as a Tree". Did you try that?

[2020-10-18 17:21] piroor commented on #2739
3つの場合（意図に反した結果、意図通りの結果、意図に反した結果）が列挙されていますが、3番目については機能的に意図通りの動作ではないかと思います。
当該設定は「新たに開かれたタブのURLが現在のタブのURLと同じドメインだった場合の制御」なので、

* Googleの検索結果のページを開いている状態でアドレスバーから検索を実行→当該設定が反映される
* Googleの検索結果でないページを開いている状態でアドレスバーから検索を実行→当該設定は反映されない

というのが設計上意図された結果となります。

1番目の場合では現在のタブの内容は何でしょうか？　もしGoogleの検索結果のページでなかったのであれば、上記の説明が当てはまると思います。そうでない場合、こちらで現象を再現できていないので、詳しい再現手順を特定頂く必要があります。

（なお、なぜこの機能の適用対象が「同じドメインの場合だけ

[2020-10-19 07:30] xmass commented on #2741
Ah nice. I haven't seen this feature. Thank you for pointing it out!

[2020-10-19 07:31] #2741 closed, assigned to nobody

[2020-10-21 01:59] fabiorzfreitas opened #2742 "Child tabs from a pinned tab not being grouped"
After the latest update, child tabs from pinned tabs are not being grouped anymore. They we working correctly before and I even still have a "Tabs from..." opened since them, but now they are not being grouped automatically anymore.

 * Platform (OS): Windows 10 v2004
 * Version of Firefox: 82.0
 * Version (or revision) of Tree Style Tab: 3.5.33

[2020-10-21 02:42] piroor commented on #2742
I could not reproduce the problem, child tabs from a pinned tab are grouped as I expected on my environment. Could you narrow down conditions? Does the problem appear on a clean profile also?

[2020-10-21 02:58] fabiorzfreitas commented on #2742
Hm, I also couldn't reproduce the issue with a clean profile, but I could after I exported my current settings and imported them to the clean one. I'll paste it below, perhaps you can pinpoint the issue!

<details>
<summary>Settings:</summary>
<p>

[code]
</p>
</details>

[2020-10-21 08:31] piroor commented on #2742
Thanks! The commit 50341ac42 should fix this.

[2020-10-21 20:41] fabiorzfreitas commented on #2742
Thank you!

I believe it will be a while before it gets to the AMO signed version, so is there a temporary fix I can conduct myself (e. g. manually altering some advanced setting)?

[2020-10-22 00:15] piroor commented on #2742
I already uploaded TST 3.5.34, to please wait for a while. Or, try the option "New Tabs Behavior" =>  "Insertion position of new child tabs" => "Next to the recently opened child, or next to the parent" until TST 3.5.34 become public. It will work like "No control" on most cases.

[2020-10-22 01:16] fabiorzfreitas commented on #2742
That's awesome!

I thought there would be other stuff forcing you to accumulate multiple commits before a proper update, but since it's already on it's way, I'll wait, thank you!

[2020-10-22 12:17] alistairpullen commented on #2660
I have this problem several times daily and it has been happening for many many many months. Highly annoying.
Firefox 78.4.0esr (64-bit)

To recover, I used to close Firefox and re-open, then restore previous session.

However after finding this Issue here on Github; I tried reloading of TST via the add-ons manager instead of restarting of Firefox and TST is reloaded perfectly fine. Until next tim

[2020-10-22 22:18] paravz commented on #2176
Perhaps the issue is back, since i cannot configure TST in FF 82 (same in 81 and 80) to open a new blank tab  a child of the current tab using "Ctrl+T". I played with "Guess a newly opened tab...", but can't make it work. Pressing "+" in TST toolbar works as expected - new tab created a child.

To note:
 - in FF settings my new tabs are created with "Blank Page" (dropdown option)
 - new tabs have

[2020-10-23 01:39] piroor commented on #2176
@paravz I've confirmed with following steps:

1. Start Firefox (with clean profile.)
2. Go to the Options page and set as:
   * Home => New Windows and Tabs => New tabs => Blank Page
3. Install TST 3.5.34.
4. Go to the TST's Options and set as:
   * New Tabs Behavior => Basic control for New Blank Tabs => Open new blank tab as => a child of the current tab
   * New Tabs Behavior => Basic control f

[2020-10-23 03:23] paravz commented on #2176
Yes, this is exactly the issue, thank you @piroor for perfectly outlining the use case AND providing a perfect workaround!

I did not know shortcuts per extensions were even possible.

[2020-10-23 13:05] petebrag commented on #2721
First off, TST is awesome. I love it and use it everyday.  I have a question: is there a way to disable the collapsing of tabs? Like when I open one within the other, they nest and I find myself expanding  them all the time.  I just don't use or like tabs collapsed one within the other. Thanks.

[2020-10-23 16:01] sbobbo opened #2744 "Can't scroll through tabs with mouse wheel when dragging and dropping a tab"
## Short description

I would like to be scroll through the tree while dragging a tab to a new location. Currently, the mouse wheel does nothing when dragging a tab. The TST Mouse Wheel addon does not add this functionality as far as I can tell.

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3. Open enough tabs that the tab sidebar can scroll up and down
 4.  Selec

[2020-10-23 18:29] piroor commented on #2744
It is impossible due to a general restriction of the platform itself. While a drag session, wheel scroll events looks to be undelivered to applications. Indeed, on the Windows Explorer I couldn't scroll the folder tree while dragging a file.

[2020-10-23 18:44] piroor commented on #2721
There is a FAQ: please see the topic "I don't need automatically organized tree, instead I just want to organize tree by myself" in https://github.com/piroor/treestyletab#feature-requests

Thank you for loving TST, however please remind that this is an issue tracker, not a user forum. Each issue aims to track a bug or a feature request. If you have something question about usage of TST, I recommen

[2020-10-23 18:44] #2721 closed, assigned to nobody

[2020-10-23 21:14] Drive4ik commented on #2546
@piroor
I have noticed that users say that sometimes the recovery is not correct. https://github.com/Drive4ik/simple-tab-groups/issues/601#issuecomment-707909791

Here is my code that makes `openerTabId` key sync for new tabs (after unarchive a group for example)

https://github.com/Drive4ik/simple-tab-groups/blob/1569c49d8e39c873f87dccbc1967865e4b16cddd/addon/src/background.js#L95-L114

Can you t

[2020-10-24 03:09] piroor commented on #2546
Hmmm...

If the problem is caused from the fact "STG updates `openerTabId` after they are loaded but TST doesn't apply updated `openerTabId`", I think there are only two possible solutions:

* A) Add something new API to TST to notify "request to synchronize latest `openerTabId` information" and call it from STG. TST will fetches current status of tabs and updates tree of tabs passively.
* B) Add

[2020-10-24 15:30] petebrag opened #2745 "Thin red lines around tab names"
## Short description

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3.
 4.

## Expected result

## Actual result

## Environment

 * Platform (OS):
 * Version of Firefox:
 * Version (or revision) of Tree Style Tab:

[2020-10-24 15:40] piroor commented on #2745
Too less information. Please fill the template to give some more hints for me to understand what happens on your environment, for example screenshots.

[2020-10-24 16:40] sbobbo commented on #2744
That's disappointing. Is making the scrolling of the tab sidebar faster possible? Or configurable?

[2020-10-24 16:41] petebrag commented on #2745
Short description

I had asked you this week how to stop tabs from self-organizing. You told me to go to https://github.com/piroor/treestyletab/issues/2745 and do the items in the section  "I don't need automatically organized tree etc..”  I did them and now my tabs look like this:  https://user-images.githubusercontent.com/36479796/97085468-92537780-1615-11eb-9402-35a7be4ec7a4.png ( They have a r

[2020-10-24 18:05] piroor commented on #2745
Thanks, I've realized that I forgot to write a step to deactivate the debug mode in the FAQ. The red line is shown when the debug mode is active (it indicates DOM structure of the sidebar contents.)

You can turn off the checkbox "debug mode" now, because it needed to be checked just to show all options.

[2020-10-24 18:08] piroor commented on #2744
Shaking your mouse around edges of the scroll area while dragging, then it will trigger more scrolls. This technique is available on most auto-repeat scroll UI on Firefox.

[2020-10-25 14:32] piroor commented on #2546
I forgot to think about the third option:

* C) Add something new pub-sub API to STG. TST will use the API to register a listener to STG, and updates tree of tabs with a message notified by STG.

@Drive4ik How about this idea?

[2020-10-26 19:33] Drive4ik commented on #2546
Here's what I thought, the "problem" of synchronization and determination of the parents of tabs happens on the TST side, because STG creates a tab, and only then updates the `openerTabId` key. And TST cannot track it properly because of this:

That is, if STG creates tabs at once with the required `openerTabId`, then TST will work correctly?
The idea with api is good, but it seems to me that this

[2020-10-28 00:08] squigglezworth commented on #2702
Considering we now have a context menu option for creating a group out of multiple selected tabs, I don't think it's out of scope anymore to add a context menu option that doesn't require multiple tabs to be selected.

Regardless of that, the exact URL needed for creating a new group should probably be documented in the FAQ or somewhere else in the README - it took me a bit to find this URL; the o

[2020-10-28 02:02] piroor commented on #2702
I have a different idea. Now I'm planning to delete some non-core features from TST and release a helper addon https://github.com/piroor/treestyletab/tree/separate-more-tree-commands for those features. (Please see also #2717 for more details.)

[2020-10-28 16:16] sbobbo commented on #2744
Okay, thank you.

[2020-10-28 16:16] #2744 closed, assigned to nobody

[2020-10-28 20:54] vkleinschmidt commented on #2270
Wouldn't it be possible to create this auto-group's parent tab as a hidden tab that appears in the sidebar, but doesn't actually take up space on the tab bar? The tab bar in Fx is already super crowded when you have a couple of pinned tabs, and this entirely useless extra grouping tab takes up very valuable real estate, it's really a nuisance. At least it should be styled to have absolutely minima

[2020-10-29 01:55] kunambi commented on #2671
In the last version of Firefox, hitting F1 opens the URL to their new Firefox Support page. Is it possible to hijack it back to TST?

[2020-10-29 03:20] piroor commented on #2671
@kunambi I cannot reproduce the problem on Firefox 82.0.2 on Windows 10. Which is the version and platform you use?

[2020-10-29 10:18] piroor commented on #2270
@vkleinschmidt Sorry I have no plan to implement the feature, mainly for safety. Mismatched visibility of tabs between Firefox's native tab bar and TST's sidebar triggers many troubles with Firefox's native features, behaviors, and other tab related addons.

[2020-10-29 21:29] yangkev commented on #2485
I've noticed that when enabling "open new blank tab as child of the current tab", this behavior only works correctly with CTRL-T (CMD-T in my case on Mac) when `about:preferences` has "New Tab" set to "Firefox Home (default)".
![Screen Shot 2020-10-29 at 2 26 14 PM](https://user-images.githubusercontent.com/16491459/97634310-b5ee3780-19f2-11eb-9e04-f32200b9d67b.png)

When this preference is set to

[2020-10-30 15:37] stijnherreman commented on #2671
I could reproduce it on Firefox 82.0 on Windows 10. F1 would close TST but not re-open it.
Fixed after restarting for the 82.0.1 update, and still fixed after another restart for the 82.0.2 update.

[2020-10-30 15:55] dequis commented on #2671
Just updated from 82.0 to 82.0.2, linux and TST 3.5.34.

Immediately after the update the issue looked still as bad as before (closing works, re-opening never worked), but after disabling/re-enabling it a couple of times it now seems to re-open on F1 just fine most of the time, but failing a few times.

Console snippet only when pressing F1, failing sometimes:

![image](https://user-images.githubu

[2020-10-30 16:58] piroor commented on #2485
@yangkev It looks a known issue described at the FAQ. The workaround may help you: https://github.com/piroor/treestyletab/blob/trunk/README.md#troubles-unexpected-behaviors

If you use [New Tab Override](https://addons.mozilla.org/firefox/addon/new-tab-override/) to set a custom URL to the new tab page, you need to set the TST's option `New Tabs Behavior` => `Basic control for New Blank Tab` => `G

[2020-10-30 17:12] piroor commented on #2485
@yangkev Oops, sorry you commented about Momentum. You can get the actual URL of the new tab page provided by an addon with the method: open a new tab and show the developer tool with the keyboard shortcut `Ctrl-Shift-K`, then type `location.href` in the console. You'll see the actual URL of the new tab page like `moz-extension://XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX/dashboard.html`.

[2020-10-31 19:23] piroor commented on #2419
Because the bug https://bugzilla.mozilla.org/show_bug.cgi?id=1417183 (about genuine WebExtensions API proposal around Firefox Sync) became WONTFIX, now I'm trying to simulate "Send Tab to Device" features based on the sync storage. It allows us to send multiple tabs including their tree structure. I think the change will make this issue obsolete.

[2020-11-01 14:08] irvinm commented on #2419
@piroor I saw your work on this based on the bug feedback.  Keep in mind, this issue specifically is when tabs are sent to a machine with TST on it and how TST handles receiving them.  (Although I love that TST will be able to emulate initiating sending tabs as well)

I have actually been meaning to update this issue with some additional details, but it hasn't been a big issue as I understand tabs

[2020-11-01 19:11] cweagans opened #2747 "Feature request: copy URL/copy URL of all child tabs"
I am easily distracted. When I find myself reading a distracting article, watching a video, or whatever, I create an empty tab and move the video/article/whatever to be a child of that tab and then collapse the tree. Out of sight out of mind.

Unfortunately, that means that I accumulate a ton of open tabs and that's not very good either. What I'd like to do is right click on the top level tab, cli

[2020-11-02 02:23] yangkev commented on #2485
@piroor yep that was it, thanks for the help!

[2020-11-04 12:59] Drive4ik commented on #2546
@piroor Can you please check this bug on STG 4.5.5?

[2020-11-04 17:29] piroor commented on #2546
@Drive4ik Thanks! I've tried Nightly 84.0a1  + TST 3.5.34 + STG 4.5.5. Sadly I've confirmed that tree structure is lost after switching of groups.

On my environment, original tree is:

* A
  * A1
    * A11
    * A12
* B
  * B1
    * B11
      * B111
  * B2
    * B21

After they are moved to another window, they become:

* A
  * A1
    * A11
      * A12
* B
  * B1
    * B11
      * B111
        *

[2020-11-04 19:01] byblo commented on #2673
Fixed with STG 4.5.5

[2020-11-04 19:01] #2673 closed, assigned to nobody

[2020-11-04 19:09] Drive4ik commented on #2546
@piroor This problem persists even without the STG addon. Try to select all the tabs from the tree that you described above using Shift + Click on tabs on topbar, and move all these tabs to another open window.
By the way, I do not use the onDetached handler at all, it only causes problems and confusion. When the tabs are moved by the user with Shift + Click on tabs, I apply to each tab the window

[2020-11-04 19:26] piroor commented on #2546
The commit 88cc871 should fix the problem I commented above. But I still see another problem triggered with session restoration and I'm investigating it...

[2020-11-05 01:55] piroor commented on #2546
Finally I've understood that TST had serious problems around restoration of the tree structure for tabs moved across windows. TST unexpectedly tried to "restore" the tree structure saved to the session data when tabs are moved across windows every time, and it can break the current tree structure constructed after they were restored (automatically by STG or manually). This unexpected behavior is n

[2020-11-05 13:03] MadaraUchiha opened #2749 "MacOS: Multiple tab close warning opens in full screen when Firefox is in full screen"
## Short description
In MacOS, when Firefox is in fullscreen mode, causing an action that closes multiple tabs (i.e. closing a tab with child tabs) causes the warning to open in its own full screen mode, rather than float or use system controls.

## Steps to reproduce

 1. Start Firefox with clean profile on a MacOS.
 2. Install TST.
 3. Open tabs with child tabs
 4. Try to close parent tab (invok

[2020-11-05 13:04] MadaraUchiha commented on #2749
For comparison, the native Firefox warning looks like this:
<img width="443" alt="image" src="https://user-images.githubusercontent.com/1188951/98244510-40e1ab80-1f78-11eb-9340-ba1d7e9b8219.png">

[2020-11-05 17:42] piroor commented on #2749
After some research I've realized that there is a restriction to create popup windows on macOS fullscreen mode. Popup windows are always opened as a new fullscreen window on such case - it is a common restriction on both Firefox and Chromium.

Thus I've implemented a workaround: on such case TST opens a blank temporary tab and render dialogs in the tab. I agree that it is un-smooth and un-natural

[2020-11-06 07:38] piroor commented on #2717
I've released the helper addon TST More Tree Commands.
https://addons.mozilla.org/firefox/addon/tst-more-tree-commands/

I'm finding the successor owner of the project. If you are interested, please contact me to take the ownership.
https://github.com/piroor/tst-more-tree-commands#authors-comment-from-piroor

[2020-11-06 17:28] dwillmore opened #2750 "Add option to disable drag and drop"
I would like to see a change to the Prefrences -> Drag and Drop selection menu to disable drag actions.

There is currently no option to disable Drag operations.  Shift-Drag has the ability to be disabled, but none of the options for Drag include a 'disable' choice.

I have experienced many accidental drag operations which have wasted to me to revert.  It would be helpful to disable this unwated f

[2020-11-06 18:19] maritz commented on #2750
I've also been experiencing a lot of "accidental" drags. To the point where I thought my mouse might be breaking. But I don't experience any such issues in any other place than TST.

Thus I would suggest that maybe the issue is that somehow TST sometimes causes faulty drag actions on click and if that were fixed your use-case would be gone.

That doesn't mean the feature doesn't have value on itse

[2020-11-06 18:55] dwillmore commented on #2750
@maritz That is what I experienced as well.  Recent FF versions have been breaking so many UI features that I wasn't sure if that is what caused this--or a new hardware issue.  I've had to pause FF updates due to the UI breakage.  Sadly, this feature will be a workaround for what may be a different root cause.

Still, I don't use the drag/drop feature ever, so it would remain a good thing to be ab

[2020-11-07 14:23] MadaraUchiha commented on #2749
Hey, thanks for the response and the fix! 👍

Is it not possible to use the native Firefox dialog on that case? You'd lose the information of what tabs are being closed, but maybe that's preferable to diverting the user to a whole new tab?

[2020-11-08 01:22] irvinm commented on #2717
@I60R can you close this item as the new addon is now available?

[2020-11-08 01:28] irvinm commented on #2272
It has been 4 months ... are people still seeing this issue periodically?

[2020-11-08 01:29] irvinm commented on #2609
@piroor feels like we might be able to close this one as inactive.

[2020-11-08 01:30] irvinm commented on #2668
@piroor I think this can be closed.  The topic can still be discussed if needed after it is closed.

[2020-11-08 01:31] irvinm commented on #2667
@piroor is there anything more to do with this issue?

[2020-11-08 01:34] irvinm commented on #2706
@piroor sounds like there isn't anything more to do with this one.  Can we close?

[2020-11-08 01:36] irvinm commented on #2688
@aqbot-kenw is there anything more on this issue?  If not, can you close it out?

[2020-11-08 01:37] irvinm commented on #2718
@piroor I think this one can be closed.

[2020-11-08 01:38] irvinm commented on #2695
@chronocide-commando this is now available with the helper addon.  Can you close this item?

[2020-11-08 01:38] irvinm commented on #2710
@kunaltyagi any new updates?

[2020-11-08 01:40] irvinm commented on #2703
@pupkinvaska can you close this item unless there is more to discuss?

[2020-11-08 01:41] irvinm commented on #2734
@ldm1417 do you have any additional updates or could you close this item?

[2020-11-08 01:43] irvinm commented on #2720
@viking2 has the new version been released?  Can you close this item if resolved?

[2020-11-08 01:44] irvinm commented on #2709
@Sada-Mio can you close this item or is there more to discuss?

[2020-11-08 01:45] irvinm commented on #2737
@bughit does this solution work for you?  If so, can you close this item?

[2020-11-08 01:48] viking2 commented on #2720
@irvinm,
No, a new version has been released yet :-(.

[2020-11-08 01:48] irvinm commented on #2739
@Galliver7 any thoughts on piroor's comments?  Is there anything more to do with this issue?  If not, can you close this item?

[2020-11-08 01:49] irvinm commented on #2742
@fabiorfreitas can you close this item?

[2020-11-08 01:51] irvinm commented on #2660
@jarredou any updates?

[2020-11-08 01:51] irvinm commented on #2745
@petebrag is there anything more on this item or can you close it?

[2020-11-08 01:57] irvinm commented on #2702
@piroor is this functionality in the new addon yet?

[2020-11-08 02:03] #2742 closed, assigned to nobody

[2020-11-08 02:03] fabiorzfreitas commented on #2742
Wow, I never knew I could do that, haha

[2020-11-08 02:03] irvinm commented on #2747
This sounds like a good project for an helper addon for TST.  In lieu of that, there are already addons that can copy URLs to the clipboard (https://addons.mozilla.org/en-US/firefox/addon/copy-all-tab-urls-we/) but that isn't exactly what you want.  [This one can do URLs and Title & URL]

[2020-11-08 02:07] irvinm commented on #2485
@piroor I think this can be closed.  Original poster has never replied since February.

[2020-11-08 10:24] kunaltyagi commented on #2710
None. I don't know if TST has been updated. If it has, then I've not seen this issue reproduced

[2020-11-08 12:52] waterjmwater opened #2751 "How do I change the size of the tabs?"
Just got Tree Style Tab, how do I change the size of tabs and how do I delete some of the dead space above and below the text in the tab?

Thanks in advance.

[2020-11-08 13:18] wvxwxvw commented on #2751
Take a look at the settings. Section "Advanced".

[2020-11-08 13:40] irvinm commented on #2710
@kunaltyagi may I suggest closing this item for now then?  If it comes up again, you can re-open it.

[2020-11-08 13:44] irvinm commented on #2751
... and check out https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules for examples and ideas.

[2020-11-08 15:25] #2710 closed, assigned to nobody

[2020-11-08 15:29] waterjmwater commented on #2751
Thank you both so much for replying but I can only find how to change the padding width wise and I'm looking to delete some of the padding height wise.

[2020-11-08 15:35] piroor commented on #2747
I think [Copy Selected Tabs to Clipboard](https://addons.mozilla.org/firefox/addon/copy-selected-tabs-to-clipboar/) ([repository](https://github.com/piroor/copy-selected-tabs-to-clipboard)) can help you. It provides ability to copy multiselected tabs so you currently need to multiselect tabs at first manually. I'm positive to add a new command "copy this tree" for environments both TST and CSTC ar

[2020-11-08 15:46] #2718 closed, assigned to nobody

[2020-11-08 16:12] piroor commented on #2717
Sorry my unclear indecisiveness. I close this by myself because this command never become a part of TST itself.

[2020-11-08 16:12] #2717 closed, assigned to nobody

[2020-11-08 16:13] piroor commented on #2272
Now I close this as outdated.

[2020-11-08 16:13] #2272 closed

[2020-11-08 16:14] piroor commented on #2609
Now I close this as outdated.

[2020-11-08 16:14] #2609 closed, assigned to nobody

[2020-11-08 16:14] piroor commented on #2668
OK, I close this.

[2020-11-08 16:14] #2668 closed, assigned to nobody

[2020-11-08 16:45] piroor commented on #2667
Because of the decisiton at https://github.com/piroor/treestyletab/issues/2667#issuecomment-680208790 I'll do no more about this request for now. I close this.

[2020-11-08 16:45] #2667 closed, assigned to nobody

[2020-11-08 16:53] piroor commented on #2706
OK, I close this.

[2020-11-08 16:53] #2706 closed, assigned to nobody

[2020-11-08 17:14] piroor commented on #2702
Because TST More Tree Commands is now available, I close this.

[2020-11-08 17:14] #2702 closed, assigned to nobody

[2020-11-08 18:01] irvinm commented on #2751
https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#change-tab-height-236-2389

[2020-11-08 18:08] piroor commented on #2485
OK, we're back to the original topic of this topic: it loos outdated so I close this.

[2020-11-08 18:08] #2485 closed

[2020-11-08 18:13] piroor commented on #2750
@dwillmore Did you mean disabling about not only detaching of dragged tab from the window but moving of dragged tabs also?

[2020-11-08 18:21] aqbot-kenw commented on #2688
Closing.

[2020-11-08 18:21] #2688 closed, assigned to nobody

[2020-11-08 19:01] #2709 closed, assigned to nobody

[2020-11-08 20:10] cweagans commented on #2747
Oh, perfect! Thanks for the pointers! I followed piroor/copy-selected-tabs-to-clipboard#16 and installed that extension. Thanks again!

[2020-11-08 20:10] #2747 closed, assigned to nobody

[2020-11-08 21:18] #2703 closed, assigned to nobody

[2020-11-09 10:09] akorn opened #2753 "Tab groups like in Kroppy's tree-style addon, or similar"
It would be great if the tab tree could be a tab forest.

Use case: I usually do several long-term things concurrently; all of these things involve dozens or even hundreds of open tabs. It would be useful to have a vertical bar of tab group names (with vertically rendered names) in the tree-style tab sidebar, one for each major project. Clicking one would hide the tabs related to the other groups,

[2020-11-09 13:02] freetomik opened #2754 "Blank dialog window to confirm closing tree of tabs"
##  Short description
Dialog window to confirm closing tree of tabs is blank (white).

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3. Open multiple tabs in one tree.
 4. Collapse the tree.
 5. Close the parent tab of the tree.

## Expected result
Dialog window shows up asking for confirmation with list of tabs, which are about to close.

## Actual result
Dialog w

[2020-11-09 15:58] piroor commented on #2754
Thanks, this is a regression and fixed with updated external library.

[2020-11-09 16:16] piroor commented on #2753
Sorry I won't implement this feature to TST natively. I hope to keep TST concentrated about managing tree of tabs simply as possible as it can. A different level switcher UI is clearly out of the project scope.

Instead you can use [Simple Tab Gorups](https://addons.mozilla.org/firefox/addon/simple-tab-groups/) to switch forest of tabs. It works compatibly with TST.

The title of a group tab is ch

[2020-11-09 16:20] petebrag commented on #2745
You can close it thanks.

On Sun, Nov 8, 2020 at 1:52 AM irvinm <notifications@github.com> wrote:

[2020-11-09 16:32] #2745 closed, assigned to nobody

[2020-11-09 16:47] akorn commented on #2753
Hah, indeed the group leader can be renamed! Excellent, thanks!

The only thing still missing is a way to create a new 2nd-level tab under the current top-level tab with a hotkey.

I'll give the simple tab groups extension a try.

[2020-11-09 16:53] piroor commented on #2753
Firefox provides ability to customize shortcuts of addons, and TST provides commands for custom shortcuts. Please go to the addons manager tab and click the gear button, then you'll see a menu item to customize shortcuts. (But sadly you cannot reassign existing key-bindings used by Firefox itself. It is a known restriction.)

[2020-11-09 17:06] sodala33 commented on #2754
Sorry, I don't get it. How can I fix this for my TST?

[2020-11-09 17:07] akorn commented on #2753
I know, and have in fact tried this; but TST doesn't have this function, so I can't assign a shortcut to it.

I already have a shortcut for "new next sibling tab" and am making do with that; but ideally it'd be possible to create a new tab just one level under the current group leader with a shortcut.

[2020-11-09 18:37] piroor commented on #2753
Do you mean that opening a fixed level tab in a tree regardless what level tab is active in the tree? Then I think TST More Tree Commands is good place to implement the command.
https://addons.mozilla.org/ja/firefox/addon/tst-more-tree-commands/
https://github.com/piroor/tst-more-tree-commands

[2020-11-09 18:39] piroor commented on #2754
I've uploaded 3.6.1 to Mozilla Add-ons, so please wait for a while until it become approved.

[2020-11-09 19:44] akorn commented on #2753
Yes, that's exactly what I mean.

[2020-11-10 06:41] piroor commented on #2753
I've created an issue https://github.com/piroor/tst-more-tree-commands/issues/4 at the project. Please see the issue to track progress. This TST issue won't get any more progress, so I close this.

[2020-11-10 06:41] #2753 closed, assigned to nobody

[2020-11-10 11:27] tadeu opened #2755 "No more option to outdent tab ("move tab to the left")?"
## Short description
There was an option to map a key to "Outdent a Tab" ("unnest"/"unindent"), moving it to the left, so that it would become a standalone tab. It seems like this option was removed in the last release (perhaps accidentally?), only options for moving tabs are "Move Current Tab Up"/"Move Current Tab Down".

It seems the change was introduced here: https://github.com/piroor/treestyl

[2020-11-10 11:37] tadeu commented on #2755
Ahh, just saw this in the history file:

* Remove "Group Tabs", "Ungroup Tabs", "Indent" and "Outdent" menu commands and keyboard shortcuts. Now they are separated to a helper addon [TST More Tree Commands]

It's still working fine with the new extension! https://addons.mozilla.org/en-US/firefox/addon/tst-more-tree-commands/

Ctrl+Left and Ctrl+Right for unindent/indent is really awesome!

[2020-11-10 11:41] #2755 closed, assigned to nobody

[2020-11-10 13:33] spotcheckbilly commented on #2754
It looks like the approval has been completed.  I was able to manually update a few minutes ago.  After I quit Firefox and restarted, the problem has gone away.  Thanks.

[2020-11-10 13:42] irvinm commented on #2754
@spotcheckbilly can you close this item?  Thanks.

[2020-11-10 14:07] Ithiloneth opened #2756 "Version 3.6.0 out of purpose"
This is not a bug report, but rather a feature request.
Hope I am doing this right!

In version 3.6.0 the patch notes state:
"Remove "Group Tabs", "Ungroup Tabs", "Indent" and "Outdent" menu commands and keyboard shortcuts. Now they are separated to a helper addon TST More Tree Commands."

This is in my opinion not an improvement and this change should be reconsidered.
Currently the functions have

[2020-11-11 08:56] MadaraUchiha commented on #2749
@piroor I believe this fix broke the dialog in Ubuntu (or perhaps it was broken beforehand, I haven't tested it with an older version).

When the dialog window pops up, it remains white and blank, preventing multiple tabs from being closed altogether. (If you'd like, I can do a more thorough bug report later today)

[2020-11-11 09:08] piroor commented on #2749
@MadaraUchiha It is a regression on TST 3.6.0 and fixed at 3.6.1. It is now public, so could you try update TST?

[2020-11-11 09:10] MadaraUchiha commented on #2749
Confirmed! Thanks <3

[2020-11-11 10:50] aaaawwWWWwwwwWWW commented on #2756
I totally agree.

The grouping of tabs is not an extra, but an essential feature of TST; as OP, I use it all the time. So, with the removal of tabs grouping from the main extension, I feel the value added by TST productivity and organizational wise is 40% less than it was (yes, I do really like to keep my tabs neat).

+1 for the solution proposed by Ithiloneth (I do feel this would unnecessarily h

[2020-11-11 11:48] irvinm commented on #2749
@MadaraUchiha will you close this item?  Thanks.

[2020-11-11 12:25] #2749 closed, assigned to nobody

[2020-11-11 15:13] piroor commented on #2749
Sorry I forgot to respond about this.

I think it won't be a silver bullet because there are some restrictions of WebExtensions API. WE addons have no ability to show Firefox's native confirmation dialog from the background script, instead we need to call `window.confirm()` in the current web page with an injected script. Due to security reasons such a injection will fail when the active tab is in

[2020-11-11 16:23] piroor commented on #2756
Sorry but I have no plan to merge those features to TST again for now. Here are some reasons:

First, the feature "special tabs for grouping" (`ext+treestyletab:group` tabs) is essential, but the feature "create new group of tabs from multiselected tabs" is not essential, for me. It is very rare case for me to create new "group" manually. When I have to do that, I manually prepare a new group tab

[2020-11-11 16:37] piroor commented on #2756
Please remind that I maintain this just for private purpose, not for a general mission. Maintaining this project for all people requiring tree tabs is out of purpose. I'm the prime user of this project, and I don't hesitate to delete features I never use, because such unused codes make hard for me to maintain this project. I really really want to avoid a future: I give up to maintain this project

[2020-11-11 21:09] mikeaustin opened #2757 "Clicking links always opens new tabs"
## Short description

When clicking on links, for example results from Google, it opens every single link I click on in a new tab. This is definitely not regular behavior as I've been using TST for many years. It's becoming difficult to use jumping to and closing other tabs every time I click a link.

## Steps to reproduce

 1. Go to google.com and enter a search term
 2. Click a search results li

[2020-11-11 22:16] irvinm commented on #2757
I don't think this is TST related.  (I could be wrong)  If you disable TST do you see the same behavior?

[2020-11-12 00:58] piroor commented on #2757
TST has no implementation to do this. Something like an addon or a user script for the Greasemonkey may cause such a result.

[2020-11-12 03:53] mikeaustin commented on #2757
You guys are right! It's the Google setting "Open each selected result in a new browser window". I've never heard of this or used it, and then it was enabled today and is so annoying. Google must have changed the default very recently.

Sorry for the spam. Why would you do that Google? It happens on my PC and my Mac. Btw, I love TST and have been using it for years :)

[2020-11-12 03:53] #2757 closed, assigned to nobody

[2020-11-12 09:34] Ithiloneth commented on #2756
Thank you very much for the reply Piroor.
You make your point well, and it seems very reasonable to expect that a feature is more easily maintained by an outside developer if the feature is self contained in a smaller block of code.

Makes me a little sad; my favorite add-on just won't be quite what it sued to be, but I (and others) will simply have to accept that.
In the end the functionality can

[2020-11-12 09:34] #2756 closed, assigned to nobody

[2020-11-12 10:54] kunambi commented on #2671
You're right. I managed to set it back to `F1` and it's no longer a problem.

[2020-11-12 12:49] irvinm commented on #2754
Sorry, my request should have been to ask @freetomik to close this item.

[2020-11-12 12:55] irvinm commented on #2751
@waterjmwater can you close this item?  If you still need some suggestions on what CSS you could change, I would suggest posting this over at https://www.reddit.com/r/FirefoxCSS/ where there are a lot of TST users who make CSS changes.

[2020-11-12 12:57] irvinm commented on #2695
@piroor I think this can be closed.

[2020-11-12 12:58] irvinm commented on #2734
@piroor I think this can be closed.  No response in over a month and TST is obviously working on FF81.

[2020-11-12 14:56] piroor commented on #2695
Now a helper addon TST More Tree Commands containing both "ungroup" and "flatten tree" is available, and "ungroup" was removed from TST. I close this.

[2020-11-12 14:56] #2695 closed, assigned to nobody

[2020-11-12 14:56] piroor commented on #2734
I close this for now as expired.

[2020-11-12 14:56] #2734 closed, assigned to nobody

[2020-11-12 18:58] silverwings15 commented on #2671
can confirm this happening with both shortkey F1 and the toolbar button, but only on occasions and afaict only after opening the history/bookmark sidebar

[2020-11-12 19:21] elamperti commented on #2671
I'm on Firefox 82.0.2, TST 3.6.1 under Linux. This is still happenning to me with F1 (just tested it).

[2020-11-12 21:14] ronburk commented on #2750
Maybe I'm seeing the same thing. It's maddening (under Ubuntu 20.04, but not happening at all in Windows 10). My TST are on the left, and the bottom-most item is a one-level tree of tabs. It gets in a mode where every single time I click on the root of that sub-tree, it detaches the whole sub-tree into a new window. Sometimes it's not as reliably broken as this. But in general (I'm switching betwe

[2020-11-12 22:19] dwillmore commented on #2750
@maritz That is what I experienced as well.  Recent FF versions have been breaking so many UI features that I wasn't sure if that is what caused this--or a new hardware issue.  I've had to pause FF updates due to the UI breakage.  Sadly, this feature will be a workaround for what may be a different root cause.

Still, I don't use the drag/drop feature ever, so it would remain a good thing to be ab

[2020-11-13 02:03] irvinm opened #2758 "Typing in the TST CSS editor can move the cursor to the end of the editor"
## Short description
Typing in the TST CSS editor can move the cursor to the end of the editor.

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3. Go to the end of the default TST CSS and enter something like:
Line 1 -
Line 2 -
Line 3 -
 4. Go to the end of "Line 1 - " and just start typing.
 5. Eventually, the cursor gets moved to the end of the file.

I was worrie

[2020-11-13 08:20] freetomik commented on #2754
Yes, I will close it. Works for me in version 3.6.1. Thanks for quick fix.

[2020-11-13 08:20] #2754 closed, assigned to nobody

[2020-11-13 17:38] piroor commented on #2671
I still cannot find out certain steps to reproduce, but I've understood that the connection between the background page and a sidebar page may not disconnected even if the sidebar page is unloaded. With the commit 386c2ee now the sidebar page sends heartbeats and the background page will destroy the dead connection for safety. I hope it solves this problem fundamentally...

[2020-11-14 00:08] aaaawwWWWwwwwWWW commented on #2756
@piroor Fair. Sorry for having sounded requiring—i guessed maintenance was the issue, but thought I'd give a try arguing about this functionality anyway. Thanks for having created the API and the addon; giving it a second thought, I like the idea of extending TST this way. I'll look into the API.

[2020-11-15 14:15] jarredou commented on #2660
Never happened again since my last message...

[2020-11-15 14:35] irvinm commented on #2660
@alistairpullen I know it has only been a few weeks, but is this still occurring for you?

[2020-11-15 21:43] mzso opened #2759 "How do I set transparent colors to the whole sidebar like I did for history/bookmarks so that it would blend in with the theme?"
Hi!

I've been tinkering with pasting stuff from the snippets page, but virtuall nothing has any visual effect. (Only the "Disable browser theme colors and images" section does)

Particularly I had this CSS for ages, and it still works:
[code]

But since these are tabs, I also want unloaded tabs to have transparent text/icons to show this. For the normal tab-bar I also used to distinguish loaded,

[2020-11-16 01:18] piroor commented on #2759
Sadly it looks impossible to make background color transparent for extensions' sidebar panels, maybe due to separated processes. The bookmarks (and history) sidebar panel is rendered by the UI process of Firefox itself.

* Firefox's window (root level): rendered by the UI process
  * `<browser>`: a XUL version iframe
    * `chrome://browser/content/places/bookmarksSidebar.xhtml`: rendered by the U

[2020-11-16 01:40] piroor commented on #2758
Thanks, I forgot to fix this. The commit 4a869d8 should suppress it.

[2020-11-16 01:53] piroor commented on #1760
TST 3.6.0 and later now contains a simulated feature based on the sync storage. Its behavior is different from Firefox's native one - very limited data size, non-realtime transferring (you may need to run "sync" manually if you want to transfer tabs immediately), and impossible to send tabs to devices without TST (so Android Firefox cannot become a recipient).

[2020-11-16 02:01] piroor commented on #2750
Related issues:

* #2629
* #2444
* #2185

[2020-11-16 02:35] rieje opened #2760 "[feature request] allow mouse scrollable switching of tabs with a modifier key"
Firefox has an about:config setting `toolkit.tabbox.switchByScrolling` which if set to `true`, mouse cursor over the tabs bar and mouse-wheel up/down will switch tab focus. This option has no affect on Tree Style Tabs and is expected, since mouse-wheel scrolling is the only way to scroll through the list of tabs.

However, `toolkit.tabbox.switchByScrolling` is very useful in scenarios where one wa

[2020-11-16 02:47] piroor commented on #2760
There is a helper addon providing the feature: Tree Style Tab Mouse Wheel.
https://addons.mozilla.org/firefox/addon/tree-style-tab-mouse-wheel/

There is a project policy: emulate Firefox's native behaviors and options as possible as I can, so this feature looks to be good to become a built-in feature. But there is a workaround for now, so implementing the feature as a built-in has low priority...

[2020-11-16 04:14] piroor commented on #2750
To solve the root problem (due to unexpectedly dispatched `dragend` event with invalid coordinates screenX=0 and screenY=0) I've introduced some more safe guards. I hope it should solve this problem fundamentally...

[2020-11-16 05:35] piroor commented on #2750
And I've added a new choice to deactivate moving of tabs by drag and drop completely. It is hidden by default for safety and shown when expert options are activated.

[2020-11-16 15:31] dwillmore commented on #2750
Wow, thank you!  I'd love to try this out.  How do I know if I'm using a fixed version?  I assume it takes some time for released code to make its way through Mozilla and get to the browser itself, but I know nothing about that.

[2020-11-16 17:51] mzso commented on #2759
@piroor
That's unfortunate.
How do I recolor the tabs, including separately the special ones like the selected/unloaded/unread?

My attempts with the Extra style field were not really successfuly, I could only change the background color of the whole panel because it was in one of the snippets.

[2020-11-16 18:10] irvinm commented on #2759
https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#highlight-active-tab
https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#change-styling-of-pending-unloaded-tabs-1363
https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#show-title-of-unread-tabs-in-italic-1363

[2020-11-17 06:23] N3C2L opened #2761 "Disable Tree style behavior not possible anymore?"
From a previous thread I found this solution is not working anymore:
"
Go to TST's configuration.
"Development" section.
Turn on the checkbox "Debug mode". Then all internal configurations are listed.
Turn off the checkbox "autoAttach".
Turn off the checkbox "syncParentTabAndOpenerTab". "

I turn on debug mode, but autoAttach and syncParentTaAndOpenerTab are not visible.
I am on Windows 7 64 bit,

[2020-11-18 01:51] animaone opened #2762 "Wrong tab is activated when using Tree style tab in conjunction with panorama tab groups"
How to reproduce the bug:
Install tree style tab in firefox
Install panorama tab groups
create some groups in panorama tab groups and populate them
click on a website inside of the group, the wrong website will become active

[2020-11-18 04:10] gonzaarcr opened #2763 "'get-tree' only returns one tab"
### Short description

`'get-tree'` API return only the first tab when using window id.

### Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3. Make a new add-on and use the 'get-tree' API with a `window` id.
 4. Read results

### Expected result

It should return an Array with all the tabs as the [docs said](https://github.com/piroor/treestyletab/wiki/API-for-other-add

[2020-11-18 14:03] piroor commented on #2763
Thanks! The root problem is in this function: https://github.com/piroor/treestyletab/blob/trunk/webextensions/common/tst-api.js#L1212 `formatTabResult()` currently requires something hint to format the result to an array but the case you mentioned has no hint. Hmm...

[2020-11-18 14:08] piroor commented on #2763
The commit 8439ec0 should fix this.

[2020-11-18 14:27] piroor commented on #2762
I couldn't reproduce the problem on my environment. Could you describe more detailed steps? Here is my case:

1. Start Firefox (I used Nightly 84) with clean profile.
2. Install TST 3.6.1.
3. Install Panorama Tab Groups 0.8.12.
4. Prepare four tabs. My case:
   * A: https://addons.mozilla.org/ja/firefox/addon/tree-style-tab/
   * B: about:newtab
   * C: https://addons.mozilla.org/ja/firefox/addon/

[2020-11-18 14:30] piroor commented on #2761
Thanks, I've updated the description with the commit b326a92.

[2020-11-18 14:30] #2761 closed, assigned to nobody

[2020-11-18 14:34] piroor commented on #2750
Here is an instruction to try the development build: https://github.com/piroor/treestyletab#development-builds

[2020-11-18 14:55] dwillmore commented on #2750
I installed version 3.6.1.11116 and I see the option to disable drag and drop.  I have both colums set to nothing.  At first, I could still do it, but after a minute, I no longer can drag and drop tabs!  This is wonderful, thank you.  I'll see if the accidental drag and drop events still occur.

Thank you.

[2020-11-19 04:47] XakepSDK opened #2764 "Beta 84 bookmarks bar"
### Short description
Firefox beta 84 adds bookmarks bar on top of a blank page. Does anybody know how can i disable it or make it shorter, so tabs don't move down a bit when i open blank page?

### Environment
Firefox 84.0b2

[2020-11-19 04:47] maritz commented on #2750
For what it's worth, I haven't had accidental drags since about 10 days ago, if I remember correctly. So Mozilla might've changed something on their end?! Or maybe I just got lucky.

[2020-11-19 06:48] piroor commented on #2764
I've not tested Firefox 84 beta but Nightly 85 has an option to control the behavior. Right click on the bookmarks toolbar, and choose "Bookmarks Toolbar" => "Always" or "Never", then the bar is stably shown or hidden.

I'm trying to suppress the visual gap due to dynamically shown/hidden toolbar with recent commits, but I still cannot find out any good solution. There is no hint to detect what ha

[2020-11-19 07:13] silverwings15 opened #2765 "Enabling TST animations in conjunction with ui.prefersReducedMotion = 1"
## Short description
At the moment, TST seems to strictly adhere to a no animation policy when the value of ui.prefersReducedMotion is set to 1 . This means that, while you can have this preference turned on and still enable the use of e.g. throbber animation via custom CSS on regular tabs, you cannot do the same for TST tabs. I've tried playing with TST's CSS but came up empty.

Is there a workar

[2020-11-19 07:54] melleran commented on #2660
I have this problem too since a week or two. Possibly since the last TST update. Reactivating the plugin via add-on manager helps.

[2020-11-19 07:58] XakepSDK commented on #2764
Thanks! Beta 84 has same feature. I like bookmarks tab feature, so it would be cool if it was possible to shrink it so it won't move TST sidebar down.

[2020-11-19 08:13] silverwings15 commented on #2765
oh i'm a dummy, i completely forgot there's a flip in the UI for this: "Enable animation regardless of 'reduce animations' settings". sorry about that

[2020-11-19 08:13] #2765 closed, assigned to nobody

[2020-11-19 08:19] blausand opened #2766 "Closing Tab loads next tab automatically, which is often unwanted"
## Short description
Closing a tab triggers loading the adjacent tab, which isn't desired when "focus last selected tab (FLST)" policy/Add-On is active.

## Steps to reproduce
- Select some tab
- Close a tab that is not the very last one AND not the one before the selected one

## Expected result
- Focus stays on the active tab, nothing is loaded

## Actual result
- Focus stays on the active tab,

[2020-11-19 08:57] ronburk commented on #2750
And... my Ubuntu behavior now matches Windows, no accidental drags. Ubuntu 20.0.4, FF 82.0.3, TST 3.6.1.  What a pleasant improvement!

[2020-11-19 10:32] piroor commented on #2764
I've implemented some workaround. Now TST tries to detect visual gap triggered by the bookmark toolbar on a about:newtab tab and offsets the contents of the tab bar. When you want to see tabs invisible due to the offset, you'll see them by hovering on the top edge of the sidebar.

You can try the development build:
https://github.com/piroor/treestyletab#development-builds

[2020-11-19 20:43] dwillmore commented on #2750
I've removed the version hold on FF and allowed it to update from 80 to 83 and I'm still seeing false drag events with 3.6.1.11116 with drag and drop disabled.  It acts like I have the button pressed when I do not.  I can click again to 'drop' them and *they do not move or detach*.  So, that part of the feature works great!

But I'l still seeing false drag activation with the updated extension and

[2020-11-20 15:53] animaone commented on #2762
I think this bug may be related to panorama tab groups, since sometimes two webpages are overlapped in the same place inside of a group.
Sorry about that. I will investigate this in the panorama tab groups source code.

[2020-11-20 15:53] #2762 closed, assigned to nobody

[2020-11-20 19:49] irvinm commented on #2671
How is 3.6.2 for everyone?  Are the heartbeats helping?

[2020-11-20 19:50] irvinm commented on #2737
@piroor you could probably close this one.

[2020-11-20 19:51] irvinm commented on #2763
@gonzaarcr can you try 3.6.2 and close this item if resolved?

[2020-11-20 19:55] irvinm commented on #2751
@piroor I think you can close this one ... there isn't anything for you to do here.

[2020-11-20 20:00] irvinm commented on #2546
@Elaws have you tried things with the latest versions of each addon?  Are we at a point where this is working and you could close out this issue?

[2020-11-20 20:25] irvinm commented on #2739
@piroor what are your thoughts on this one?  (I am not sure I got everything via Google translate)

[2020-11-20 22:11] piroor commented on #2739
機能としては設計意図通りなので、このissue自体はクローズすることにします。
（アドレスバーからの入力だけを選択的に制御する機能が必要だ、という要望については、それ自体でissueとして扱う価値はあると認識しています。ただ、後述の技術的な理由により実現は困難と踏んでいます。）

@irvinm Thank you for reminding, I close this for now because the report is about designed behaviors. I agree it is little hard to understand and less-intuitive, but sadly we cannot solve it due to restrictions of WebExtensions API.

----

この点について技術的なメモを残しておき

[2020-11-20 22:11] #2739 closed, assigned to nobody

[2020-11-20 22:13] mrwensveen commented on #2671
I have not had any issues lately 👍

On Fri, Nov 20, 2020, 20:50 irvinm <notifications@github.com> wrote:

[2020-11-20 22:13] #2751 closed, assigned to nobody

[2020-11-20 22:14] #2737 closed, assigned to nobody

[2020-11-20 22:33] elamperti commented on #2671
+1, seems to be working fine for me now! Thanks for fixing it 🎉

[2020-11-20 23:35] gonzaarcr commented on #2763
Yes, it works!

Just another question, the program is working but on register I’m receiving the array `grantedPermissions` empty and I’m requesting `['tabs', 'activeTab']`. It does give me the permissions (because, as I said, the program works) but the array is empty. I don’t want to open an issue ’cause I don’t know if I’m doing something wrong.

[2020-11-20 23:35] #2763 closed, assigned to nobody

[2020-11-21 02:06] silverwings15 commented on #2671
i have only had one instance of F1 not working so far, which is probably an improvement compared to before but hard to say conclusively

edit: happened once more, tried to replicate it but unable to do so

[2020-11-22 10:48] mzso commented on #2759
[**@irvinm**](https://github.com/irvinm) commented on [2020. nov. 16. 19:10 CET](https://github.com/piroor/treestyletab/issues/2759#issuecomment-728233557 "2020-11-16T18:10:36Z - Replied by Github Reply Comments"):

Thanks.

[2020-11-22 14:31] silverwings15 opened #2767 "[Feature request] More options to finetune animation settings"
Hi, I noticed that the current settings only allow for changing the animation speed when opening a new tab. Would it be possible to have further settings to customize e.g. animation speed for closing tabs, tab burst effect, throbber and such? Hope you will consider! And thank you for your work these past 10 or so years, TST remains the most indispensable addon for FF alongside uBO.

[2020-11-22 15:30] Elaws commented on #2546
Hi @irvinm,

I can still reproduce the issue with the latest versions of each add-on : **I have not tried yet on a blank Firefox profile, so if you can't reproduce it's perheaps due to options of my add-ons !**

The problem is a bit different now though : the tree structure is not completely collapsed as before, but the order of the folders is mixed (and all the icons of the tree have disappeared,

[2020-11-22 23:51] tbs opened #2768 "Switch to last active tab"
Hi, I wish to have a way to switch to last tab on single clicking active tab. I miss a lot this feature in Tab Center Reborn extension.

Thank you!

[2020-11-23 02:26] silverwings15 commented on #2768
https://addons.mozilla.org/en-US/firefox/addon/tab-flip-for-tree-style-tab/

[2020-11-23 10:26] bughit opened #2769 ""undo close tab" for a closed parent does not restore it as a parent of the remaining child"
## Short description
the former child remains top level
## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3. create a 2 tab parent->child tree
 4. close the parent tab (the child remains)
 5. undo close tab
 6. both tabs are top level

## Environment

 * Platform (OS): win7 x64 sp1
 * Version of Firefox: 83.0.0 x64
 * Version (or revision) of Tree Style Tab: 3.6.2

[2020-11-23 12:45] irvinm commented on #2769
I believe "undo close tab" is for the last tab closed only, not "last operation" which could involve many tabs.  The behavior you are seeing is consistent with that.  I'll let @piroor comment to confirm.

[2020-11-23 15:23] bughit commented on #2769
Only one tab is being closed, the child remains.

[2020-11-23 15:44] irvinm commented on #2769
Ah!  Thanks for the clarification.  I see what you are saying and see the same thing you do.

[2020-11-24 00:34] pintassilgo opened #2770 "Scroll to new background tab isn't working since 3.5.33"
Since 3.5.33, TST doesn't scroll to new background tab, like when you middle-click a link.

~~Default settings~~ [`animation = false`]. Tested even with current TST Nightly.

[2020-11-24 07:53] piroor commented on #2770
I couldn't reproduce this problem with TST 3.6.2. Steps I did:

1. Start Nightly 85.
2. Install TST 3.6.2. (I tried TST 3.5.13 also.)
3. Load https://interactive-examples.mdn.mozilla.net/pages/tabbed/a.html in a tab.
4. Middle click the link "Website" in the tab multiple times.

When there are less children in the subtree of the tab, the sidebar is scrolled to the newly opened child tab. If new ch

[2020-11-24 08:31] piroor commented on #2769
Thanks! This should be fixed with the commit cd9c162.

[2020-11-24 08:34] piroor commented on #2768
I have no plan to implement this as a built in feature, from the project policy. Please use the helper addon.

I close this because this won't be implemented.

[2020-11-24 08:34] #2768 closed, assigned to nobody

[2020-11-24 08:58] piroor commented on #2767
There are hidden options for some animations:

* burstDuration
* indentDuration
* collapseDuration (used for opening and closing tabs also)
* outOfViewTabNotifyDuration

You'll see them under TST options => Development => All Configs.

The throbber animation is controlled with CSS completely:

https://github.com/piroor/treestyletab/blob/cd9c16238e4708b9516ccbba3c1705d74eb68511/webextensions/sideba

[2020-11-24 09:33] silverwings15 commented on #2767
ooh, i totally missed those settings, as I was searching for them using the keyword "animation" rather than "duration" and only found "newTabAnimationDuration". appreciate the tip on how to use CSS to customize the throbber as well, i'll look further into it. thank you again!!

[2020-11-24 09:33] #2767 closed, assigned to nobody

[2020-11-24 09:44] piroor commented on #2546
@Elaws I couldn't reproduce this case. I prepare tree with the structure and move those tabs across windows with STG, then I got the original structure as expected, even if such moving of hidden tabs happens for pending tabs for me.

[2020-11-24 09:53] piroor commented on #2759
@mzso If you successfully customized, please close this issue. And open new issue when you encounter some impossibility about customization via CSS.

[2020-11-24 09:59] #2759 closed, assigned to nobody

[2020-11-24 10:03] piroor commented on #2671
@mimecry The effect of the workaround introduced at TST 3.6.2 can be delayed 500 milliseconds (= 5 seconds). The delay can be customized with TST options => Development => All Configs => connectionTimeoutDelay.

[2020-11-24 10:53] silverwings15 commented on #2671
@piroor i assume you mean 5000 milliseconds, which is already the default according to what i see. are you suggesting i should increase or decrease this value?

[2020-11-24 10:54] dequis commented on #2671
I just tried again after getting this notification, and I can reproduce the bug still with TST 3.6.2 and FF 82.0.2 linux.

I can hide it just fine with F1 every time, but I can't show it again. Instead I can press ctrl-b to show bookmarks then select it on the dropdown of the sidebar.

What would be some useful debug info to provide here?

[edit: unfortunately after posting this and restarting fir

[2020-11-24 11:40] silverwings15 commented on #2767
@piroor can you help me take a quick look at this CSS? it should be working but isn't

[code]

[2020-11-24 12:56] pintassilgo commented on #2770
1. Install TST 3.5.33 or higher.
2. animation: false
3. Open many tabs until they fill the entire vertical space of TST, so that TST's scrollbar shows up.
4. Select the last tab and load a page with at least one link.
5. Click to open a link in a new tab (middle click or Ctrl+click).
6. There's no visual sign that a new tab has been opened. TST's sidebar doesn't scroll to show it nor a blue flash

[2020-11-24 13:05] irvinm commented on #2767
@mimecry, @piroor added supported for low animation effects which changed some of the scope.  Try this:

[code]

[2020-11-24 14:06] pintassilgo commented on #2770
Apparently, the thing is that I always set `animation = false`, but since TST 3.5.33 it only scrolls to new child tab out of viewport if `animation = true`.

[2020-11-24 16:04] silverwings15 commented on #2767
aw yes, perfecto. thank you very much for both your help

[2020-11-24 16:38] Elaws commented on #2546
@piroor I just tried with a new blank Firefox profile and can reproduce the bug : this time, the original tree structure is completely flattened, as described in the first post. Closing the second window is an important step to reproduce the bug, along with using keyboard shortcuts to switch between tab groups.

    Platform (OS): Windows 10
    Version of Firefox: 83.0
    Version (or revision) o

[2020-11-25 02:14] piroor commented on #2546
@Elaws Thanks, I've seen a problem with these steps:

1. Prepare two groups with tree: G1 and G2.
2. Prepare two windows: W1 and W2.
3. Set a group for each window: W1-G1, W2-G2.
4. Close the W2. (Then STG opens some tabs in the W1 and hides them immediately.)
5. Switch from the G1 to the G2 on the W1.
   * Expected result: G2 tabs are opened with tree.
   * Actual result: G2 tabs are opened as fl

[2020-11-25 06:06] piroor commented on #2546
I've found why `openerTabId` is unexpectedly cleared on my case. When G2 is moved from W1 to W2, TST restores tree structure at first. But after that TST internally clears `openerTabId` of moved tabs in G2 by the handler for `tabs.onAttached` (called when tabs are moved from W1 tot W2). The commit 26d9d24 prevents such unexpected clearing.

I've tried steps to reproduce with the latest TST contain

[2020-11-25 07:57] piroor commented on #2546
Finally I've realized that `openerTabId` is cleared by Firefox itself even if TST doesn't clear it, when tabs are moved across windows. Thus now I'm trying to create a pull request for STG to keep the information: https://github.com/Drive4ik/simple-tab-groups/compare/master...piroor:keep-opener-tab-id-for-tabs-moved-across-windows?expand=1

[2020-11-25 08:23] piroor commented on #2770
Thanks, I've successfully reproduce the problem with disabled animation. It should be fixed with commits 92d476d and 50720b5.

[2020-11-25 08:45] piroor commented on #2671
@mimecry I think you'll get better response with decreased timeout.

@dequis Could you [see debug logs](https://github.com/piroor/treestyletab/wiki/How-to-inspect-tree-of-tabs#how-to-collect-debug-logs-of-tst) for modules `common/sidebar-connection` and `sidebar/background-connection`? If the workaround implemented at TST 3.6.2 works as expected, two log lines `Missing heartbeat from window XXX. M

[2020-11-25 09:22] piroor commented on #2750
@dwillmore With the commit 62ee591 now TST don't start any drag session for tabs when you choose "Do nothing / Do nothing". I hope it helps you.

[2020-11-25 09:30] piroor commented on #2766
I think the choice will help you: TST Options => "Tree Behavior" => "When the current tab is closed as a last child" => "Never control focus". It suppresses any needless focus move by TST when the active tab is closed.

[2020-11-25 10:08] piroor commented on #2763
TST returns the list of permissions actually granted on TST, not on Firefox. If you have not granted permissions for your addon yet at TST options => "Extra Features via Other Addons", it will become a blank array, and returned items of `get-tree` won't have `title`, `url` and some other properties. Do you mean that the array is blank but returned items of `get-tree` have such information? (Then i

[2020-11-25 13:18] Elaws commented on #2546
Yes, this is the problem I tried to describe in the original post, perheaps not precisely enough ! I thought you had already reproduced this problem.

[2020-11-25 16:16] silverwings15 commented on #2671
okay, i decreased the value to 2000 and will continue to monitor this.

[2020-11-25 16:34] silverwings15 commented on #2767
@irvinm sorry to bother you again, but i have a couple of questions regarding the CSS customization in TST, that don't seem like they should warrant a new thread:

1. how can i replace the 'no favicon' globe icon with a different image, perhaps one of my own choosing? the following code is provided in the wiki but no longer seems to work

[code]

2. in the same vein, how can i specify a different

[2020-11-25 17:54] irvinm commented on #2767
I can answer the second one now as I already do this.  I believe that an add-on can not have access to the direct file system, so specifying a local URL will not work.  The animated PNG must either be inside the addon or Firefox, a public URL, or it can be a base64 encoded APNG passed into TST via CSS.  I use this last method to override the throbber with a custom APNG.  https://developer.mozilla.

[2020-11-25 18:11] irvinm commented on #2767
@mimecry the favicon globe looks like it is working fine.  The same rules would apply to this situation.  The new item would need to be inside TST or Firefox, a public URL, or passed in as an encoded file via CSS.

Just keep in mind there is a very limited amount of information that can be synchonized for addons.  Even with only 1 APNG in my TST CSS (along with a fair amount of general CSS), it pu

[2020-11-25 19:01] silverwings15 commented on #2767
@irvinm great tips, thank you

1. i must be going insane, been fiddling with the code all day to try and make it work and only now it does.. in fact it had been sitting in my CSS for so long before this

2. yes it works!! although i'm confused as to why TST doesn't render the throbber in its original color, but only in black (this is the case for every throbber option i've tried thus far)

[2020-11-25 19:14] irvinm commented on #2767
Here is my TST CSS section for using an encoded APNG along with how to change the color.  This might give you some ideas.

https://pastebin.com/JrxT8SBd

[2020-11-25 19:18] silverwings15 commented on #2767
i'll look into it, highly appreciated.

i also noticed where i went wrong with 1.: it is not applied to the "Problem loading page" page. all this time, i was tweaking under the assumption that the code will affect that page as well

![image](https://user-images.githubusercontent.com/10742312/100272379-97e20b80-2f8d-11eb-8014-ebf665a3a50d.png)

[2020-11-25 21:38] blausand commented on #2766
Am 25.11.2020 um 10:30 schrieb piroor:

Perfekt, thanks!

Stunning amount of options here and stunning amount of brain processing needed
to parse the meaning of each :))

Anyway, your AddOn should be part of the core. At least it's highlighted in amo
by now.

Cheers and thanks for coding this again.
blausand

[2020-11-26 00:54] piroor commented on #2766
I agree, I hope to reduce the number of options with more intelligent auto detection if possible...

[2020-11-26 00:54] #2766 closed, assigned to nobody

[2020-11-26 02:09] piroor commented on #2767
It is due to some mixed reasons.

* The error page has its custom favicon. https://searchfox.org/mozilla-central/rev/f081504642a115cb8236bea4d8250e5cb0f39b02/browser/base/content/aboutNetError.xhtml#27
* In old days I saw some security error when I directly embed `chrome://...` URL as favicon. To avoid such ugly errors TST now redirects such dangerous URLs to its builtin globe icon: https://github

[2020-11-26 06:05] silverwings15 commented on #2767
@irvinm your code works perfectly, really appreciate it. i discovered two things while i was experimenting with it:

1. a large CSS file can absolutely wreck TST speed, and i think the UI speed in general. this is what happened when i copied your entire CSS into my TST :D
2. static favicons can be in many sizes and they'll all get scaled to the appropriate size, but for the throbbers, anything lar

[2020-11-26 13:01] mafjmafj opened #2771 "TST: add example on how to filter tabs on title/data-label"
I wanted to colorize tabs based on title:
I assume data-label means title and came up with this snippet
[code]
Without the `[data-label^="Create Issue"]` part I can see color change taking effect.
With `[data-content-uri^="http://jira"]` the color change is applied to relevant tabs.
With `[data-label^="Create Issue"]` the change does NOT get applied to tabs with clearly visible matching title
(`[d

[2020-11-26 13:44] irvinm commented on #2767
I guess my machine is fast enough I don't really even notice it. (Although my machine is 6 years old - i7-4790k, 32GB ram, SSD)

This is true.  You can either deal the size outside of Firefox (preferred - Ex: https://ezgif.com/resize) or you might be able to apply a scaling factor. [Ex: transform: scale(1.1);]  I don't think this would be a good idea even if it worked due to the performance hit.

[2020-11-26 14:35] silverwings15 commented on #2767
yep this is what i went for.

i wonder if you notice a sizeable performance hit when opening/loading a large number of tabs at once? like 8+ or so. throbber starts stuttering, clicking on a tab takes over half a second for it to open (the latter remains true even when animation is disabled). my specs is i7-7700hq, 32gb ram and SSD also, 1440p panel @ 150% scaling. doesn't affect me because that's

[2020-11-26 16:52] irvinm commented on #2767
I don't see any issues with the throbbers themselves.  However, Firefox definitely pushes my CPU hard when loading a large number of tabs.

https://imgur.com/ZZeVg6u

[2020-11-26 17:45] irvinm commented on #2771
![image](https://user-images.githubusercontent.com/979729/100380598-25047f00-2fe5-11eb-9939-3bb7d69f8460.png)

[2020-11-26 23:57] mafjmafj commented on #2771
Thanks. Is there a reference somewhere on the available fields, attribute filtering etc... All the googling seem to point simply to tree style tab.

[2020-11-27 00:43] irvinm commented on #2771
@mafjmafj honestly the best place is really still the wiki.  If it isn't in the wiki, the next best place (how I did this one) was to simply inspect the CSS live (via TST debugging - [How to inspect tree of tabs](https://github.com/piroor/treestyletab/wiki/How-to-inspect-tree-of-tabs)) where I found that the label was stored in the variable "title" and the rest was pretty easy to piece together.

[2020-11-28 02:35] piroor commented on #2771
@mafjmafj  As @irvinm told, sadly there is no stable document for TST customization via CSS. Element names, class names, attributes, and DOM structure may be changed from various reasons, and I don't write any "reference document" of them because I don't have enough resource to maintain it. Frequently used customization examples are filed to [code snippets](https://github.com/piroor/treestyletab/w

[2020-11-28 02:50] piroor commented on #2771
I've added a FAQ topic: 710f3a551

[2020-11-28 02:52] irvinm commented on #2771
@piroor I think we can close this.

[2020-11-28 02:53] #2771 closed, assigned to nobody

[2020-11-28 02:59] piroor commented on #2767
FYI: It is impossible to expand the [allowed storage size](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/storage/sync) to save large CSS. Remote images uploaded to your repository or [gist](https://gist.github.com/mroderick/1afdd71aa69f6b29601d335751a1a9be) will become a workaround.

[2020-11-28 14:07] silverwings15 commented on #2671
quick report: i haven't yet reencountered the issue since decreasing the value to 2000

[2020-11-28 18:50] mzso opened #2772 "Both the hotkey and the TST button breaks sporadically"
## Short description
For some reason both become non-functional sometimes. I see no errors int the console, but I can't open TST with either. Only by the sidebar dropdown menu.

## Steps to reproduce

So far I didn't notice what initiates this.

## Environment

 * Platform (OS): Win 10
 * Version of Firefox: 83.0b10 Dev edition.
 * Version (or revision) of Tree Style Tab: 3.6.2

[2020-11-30 06:31] txtsd commented on #2772
Same for me.

 ## Environment
* Platform (OS): Arch Linux
* Version of Firefox: 83.0 stable
 * Version (or revision) of Tree Style Tab: 3.6.2

[2020-11-30 06:39] txtsd opened #2773 "Unable to `Bookmark this Tree` because of permissions"
## Short description
When I right click and hit `Bookmark this Tree` I get a notification saying `Failed to get permissions to create bookmarks. Please click here to grant extra permissions.` but clicking on it does nothing.

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3. Right click on a tab > Tree of tabs > Bookmark this Tree...
 4. See Permissions error

## Ex

[2020-11-30 09:23] piroor commented on #2773
I've setup an ArchLinux environment (with Xfce4) and tried the operation. I think I've understood what you meant.

This is a screenshot what I saw.
![image](https://user-images.githubusercontent.com/70062/100591360-f9f99280-3338-11eb-9b07-2263b41235cd.png)
When I click the notification itself, it becomes just closed and nothing happen. When I click the "Activate" button, TST opens the options page

[2020-11-30 09:24] piroor commented on #2773
On Windows the notification popup has no button and clicking on the notification itself opens the options page as I expected.

[2020-11-30 09:28] klarkie commented on #1525
Thank you so much. I had been looking for a way to remove the topbar but leave everything else the same. Only dragging the window is a bit finicky. I have to click between the hamburger menu and the windows minimize button for click and drag to work.
![image](https://user-images.githubusercontent.com/5236762/100591813-93538500-32f6-11eb-9e06-8964614425df.png)

CSS Used:
[code]

[2020-11-30 09:29] piroor commented on #2772
This looks to be a duplicated of #2671.

[2020-11-30 11:42] txtsd commented on #2773
I use `dunst` for notifications and it doesn't support buttons so none are shown.
![dunst_scrot](https://user-images.githubusercontent.com/768728/100606261-2c05f700-332f-11eb-819c-3eea998937f0.png)

[2020-11-30 11:43] txtsd commented on #2773
Why don't you request these permissions at install time instead of dynamically?

[2020-11-30 12:09] txtsd commented on #2773
I found the option under `Context Menu` and enabled it. You can close this issue if you don't think you can enhance this UX.

[2020-11-30 13:37] piroor commented on #2772
If you thought it is a problem that F1/toolbar button doesn't close the sidebar immediately while the sidebar is loading, it is by design for now. Currently TST uses `sidebarAction.open()` and `sidebarAction.close()` to toggle the sidebar. When there is any living connection between the sidebar and the background page, it means the sidebar is shown, and TST calls `sidebarAction.close()`. Otherwise

[2020-11-30 13:53] txtsd commented on #2772
idk about OP but #2671 is what's happening to me

[2020-11-30 13:54] txtsd commented on #2671
Decreased `connectionTimeoutDelay` to `2000` and it hasn't happened in a few hours. I'll report back in a day or two after heavy browser usage.

[2020-11-30 14:31] irvinm commented on #1525
You have almost the same layout\functionality that I have.  In terms of the "dragging the window is a bit tricky", you can insert some "Flexible Space" and that space is easy to "grab" to move the window.

![image](https://user-images.githubusercontent.com/979729/100622238-a1050c80-32ee-11eb-8d30-d76c24582deb.png)

[2020-11-30 14:32] silverwings15 commented on #2671
so the bug resurfaced once for me since making the previous report, but it's been smooth sailing aside from that

[2020-11-30 14:36] piroor commented on #2671
FYI: The default timeout is reduced from 5000msec to 500msec at the next release. Now I'm dogfooding it.

[2020-11-30 14:50] txtsd commented on #2671
Will this considerably increase CPU cycles?

[2020-11-30 15:02] piroor commented on #2773
There are some reasons:

* Some people cannot install TST if it requests too many permissions due to their company's security policy. Thus I list only critical permissions statically in the `manifest.json`.
* The method `permissions.request()` is callable only from some limited cases due to security reasons. Sadly the event handler for the context menu is out of allowed cases.

Yes, the notificati

[2020-11-30 15:14] piroor commented on #2671
I think it won't use the CPU as much as I worried. Basically the sidebar page sends a heartbeat on every second with an already established connection. However, sometimes the interval become 2sec or more if it is blocked by some triggers (opening multiple tabs, suspend-resume of the PC, and so on). Then the background page tries to send a vital-check message to the sidebar page. The connection wil

[2020-11-30 15:19] txtsd commented on #2773
That's absolutely fair. Thanks for explaining it well!

[2020-11-30 15:19] #2773 closed, assigned to nobody

[2020-11-30 20:01] irvinm commented on #2758
@piroor I am still seeing this issue.  It isn't quite as bad, but I can definitely still reproduce it.  I am wondering if the timeout value from the check-in needs to be adjusted more.  I am on TST 3.6.2.

[2020-11-30 20:50] alistairpullen commented on #2660
I have been away for 2 weeks and returned today. It didnt happen today at least. I noticed other plugins are broken at the same time, so might not be TST.

[2020-12-01 02:24] piroor commented on #2773
I misunderstood the restriction, `permissions.request()` is callable from the context menu actually.

But there is another restriction. When I called `permissions.request()` the permission popup does not appear, if the context menu is opened on a background tab. The requester is unexpectedly bound to the context tab instead of the active tab, so the popup is shown when I activate the tab after the

[2020-12-01 03:51] piroor commented on #2773
1679925 - Permission requesting popup is unexpectedly bound to the context tab instead of the active tab when permissions.request() is called from the context menu on a background tab
https://bugzilla.mozilla.org/show_bug.cgi?id=1679925

[2020-12-01 07:11] piroor commented on #2773
The "Activate" button is defined here:
https://searchfox.org/mozilla-central/rev/168c45a7acc44e9904cfd4eebcb9eb080e05699c/toolkit/system/gnome/nsAlertsIconListener.cpp#181
Firefox's notification popup on Linux is implemented based on "libnotify". Sadly it looks to provide only an ability to handle an action bundled to a button, instead of a handler for clicking on the notification popup itself.
ht

[2020-12-01 07:38] piroor commented on #2773
I've reported an issue to Dunst: https://github.com/dunst-project/dunst/issues/786

[2020-12-01 10:21] piroor commented on #2773
There are important information to use Dunst with Firefox: https://github.com/dunst-project/dunst/issues/786#issuecomment-736351219 and https://github.com/dunst-project/dunst/issues/786#issuecomment-736452341

* Middle click on the notification will trigger the default action (on TST's notification it will be treated as a click on the button in a notification.)
* ~~A keyboard shortcut (Ctrl-Shift-

[2020-12-01 18:25] mYnDstrEAm opened #2774 "Tree structure is lost after restoring a session with the Tab Session Manager addon"
## Short description
The tree structure is lost after restoring a session with latest Debian and Firefox with the Tab Session Manager (TSM) addon.

I don't know if this is more/only an issue with the TSM.

I'm using this addon as I found Firefox' built-in session restore management unreliable, sometimes losing sessions. (Furthermore, the TSM addon also allows storing a lot of backups and tagging t

[2020-12-01 21:03] irvinm commented on #2774
Did you enable support in TSM for TST and set a reasonable delay?

![image](https://user-images.githubusercontent.com/979729/100796433-a5185380-33ee-11eb-8d1e-4faf62d942a2.png)

[2020-12-01 21:57] mYnDstrEAm commented on #2774
Pretty sure I did but it looks like the setting was lost (or I changed it back for some reason but I doubt that). I guess the issue can be closed and I'd delete it.

One thing that would be nice is if the addon automatically enabled that setting if it detects that the addon is installed or if it prompted the user about it.

That restoration delay is for the entire tree, not per tab, right?

[2020-12-01 22:15] irvinm commented on #2774
It is "per tab".  You can see in my case, I do about 3 tabs restored per second.  I used to have it before somewhere between 100-200ms (10 to 5 tabs per second) but I remember seeing some problems with my tree structure when I did it that fast.  I am ok with waiting 175 seconds (~3 minutes) to restore a 500 tab session.  [Better safe than sorry]

[2020-12-02 05:24] piroor commented on #2774
I think you should post the request to the TSM project side.

[2020-12-02 06:06] piroor commented on #2758
This problem can still appear if Firefox takes time over 250msec to save edited CSS to the storage and notifying the "changed" event to listeners. With the commit 7ac93d0 I've enlarge the timeout to 1000msec. I hope it should avoid the problem more certainly.

[2020-12-02 12:25] mYnDstrEAm commented on #2774
That would indeed be better. I'll post an issue there.

The tree structure was not restored with a reasonably high delay. I think it would be more important to automatically set the delay depending on e.g. how many tabs are to be restored or if it detects that restoring the tree structure did not work. Alternatively, there probably should at least be some guidance in the settings about which value

[2020-12-02 13:04] irvinm commented on #2758
Thanks @piroor.  I'm sure this will help and\or fix the situation.  My only other thought might be to expose this value in "all configs" just in case there might be people with a lot of CSS and maybe even slower machines.

[2020-12-02 15:11] #2758 closed, assigned to nobody

[2020-12-02 15:14] irvinm commented on #2770
@pintassilgo can you verify this is fixed with the latest version and close this item?

[2020-12-02 15:15] irvinm commented on #2769
@bughit can you confirmed this is fixed and close this item?  (Works for me now)

[2020-12-02 15:19] irvinm commented on #2750
@dwillmore can you try with the latest version and close out this issue if things are good?

[2020-12-02 15:22] irvinm commented on #2772
@piroor any reason to leave this open as a duplicate?

[2020-12-02 15:24] irvinm commented on #2760
@piroor any reason to leave this open at this point?

[2020-12-02 20:17] dwillmore commented on #2750
@irvinm Yes, sorry, I have tested the most current build and it shows the expected behavior--there is no click/drag ability anymore if disabled.  Tabs immediately become selected when down-clicked and any movement while down-clicked does nothing.  Perfect!!!

Thank you all so much, this have made life a lot more plesant for me.  I hope it helps others as well.

Version tested from December 2, 2020

[2020-12-02 20:17] #2750 closed, assigned to nobody

[2020-12-04 04:46] #2770 closed, assigned to nobody

[2020-12-04 05:52] #2769 closed, assigned to nobody

[2020-12-04 05:52] Fethbita commented on #2626
@irvinm how did you remove the plus sign in the middle of the new tab button?
![image](https://user-images.githubusercontent.com/13559217/101127179-a374a880-3605-11eb-830e-a90a4d77171c.png)
![image](https://user-images.githubusercontent.com/13559217/101127191-ac657a00-3605-11eb-94a0-e70fd740e91c.png)

[2020-12-04 13:13] irvinm commented on #2626
Here you go.

[code]

[2020-12-05 06:26] viking2 opened #2776 "Indent/Outdent Current Tab Suddenly Lost (After v3.6.3 Update?)"
I had set key board shortcuts for Indent/Outdent Current Tab. Suddenly they stopped working and when I look for the keyboard shortcuts for this in TST, they are not there anymore!?

I believe that they may have disappeared in the 3.6.3 update?

p.s. I still find it very difficult to use the drag-drop for this, but I was perfectly happy with the previous shortcuts.

[2020-12-05 12:52] darkdragon-001 commented on #1525
On Linux one can temporarily enable an additional bar by clicking the `Alt` key. This way one can easily drag the window and the menu is hidden automatically. Furthermore when using Gnome can grab a window by dragging down from the top menu bar above the window as well. Unfortunately, I couldn't find a way to show _Minimize_, _Maximize_ and _Close_ buttons on Linux.

[2020-12-05 14:12] irvinm commented on #2776
They were moved into a separate extension.  https://addons.mozilla.org/en-US/firefox/addon/tst-more-tree-commands/

[2020-12-05 17:02] Mattie commented on #1525
Whoah, this works great on Windows, too. So glad you mentioned this, the dragging thing was a little pain in my side every single day and I never thought to try that. :)

[2020-12-05 18:59] viking2 commented on #2776
OK. Thanks. I must have missed the announcement about this...?

[2020-12-05 18:59] #2776 closed, assigned to nobody

[2020-12-05 19:49] mzso commented on #2111
[**@piroor**](https://github.com/piroor) commented on [2019. máj. 12. 17:19 CEST](https://github.com/piroor/treestyletab/issues/2111#issuecomment-491604580 "2019-05-12T15:19:04Z - Replied by Github Reply Comments"):

What would be an example of an addon like this? Is there one? So far I only saw addons that work on their own and not together with TST.

[2020-12-05 20:25] irvinm commented on #2776
It was in the release notes for 3.6.0, but unless you read about each update I can understand how it could be missed.

https://github.com/piroor/treestyletab/blob/trunk/history.en.md

[2020-12-06 08:15] icher opened #2777 "Grouping tabs without indentation, but separating groups by white space"
Hi.

Old TST (pre-webextensions) allowed grouping tabs without indentation, but separated by white space. May be it was undocumented function or even a bug, only worked by editing about:config variable, some kind of "indent_tabs_until=-1" or like that. It was VERY useful. But new TST can't do that. Is it possible to implement that behavior by webextension-api?

Bookmarks sidebar can use separators

[2020-12-06 16:46] spaceLem opened #2778 "Pinned tabs keep autohiding and becoming hard to see"
## Short description
Pinned tabs in TST keep autohiding, and becoming difficult to see (see screenshot).

![Screenshot from 2020-12-06 16-38-13](https://user-images.githubusercontent.com/6231990/101286455-86e19780-37e2-11eb-9524-55b19d6ae34c.png)

This behaviour only appeared a few days ago, and seems intentional as they reappear when the mouse is hovered over them. I can't find any option to turn

[2020-12-07 03:18] piroor commented on #2778
There is a hidden option `suppressGapFromShownOrHiddenToolbar` under TST options => Development => All Configs. Turning it off will deactivate the behavior, it looks to be a workaround for you.

Anyway, this is unexpected result and I cannot reproduce it on my testing environment: Windows 10 and Arch Linux. I think there are some more extra conditions to reproduce.

[2020-12-07 03:39] piroor commented on #2777
Spacings between root level tabs can be emulated with a custom style rules like:

[code]

Setting the max indent level to zero with this style rules will work like the old one.

[2020-12-07 03:43] piroor commented on #2777
Sorry but it won't be a built-in option of TST itself, because:

* The style (appearance and behavior) is quite different from my usecase and codes for the mode never be used on my environment.
* For better maintainability I hope to keep TST clean from such dead codes.

[2020-12-07 05:54] piroor commented on #2111
To be honest I don't know such an addon for now. I've never search such an addon deeply, because I don't need it on my use case. I mentioned about just a possibility.

[2020-12-07 07:18] piroor commented on #2760
@irvinm Thanks, I agree that I close this for now.

[2020-12-07 07:18] #2760 closed, assigned to nobody

[2020-12-07 07:29] piroor commented on #2772
@mzso Does the problem still happen with TST 3.6.3? If it looks to be suppressed please close this.

[2020-12-07 09:49] mzso commented on #2772
@piroor
Not sure yet. Only used it a little since yesterday.

[2020-12-07 10:17] txtsd commented on #2772
Hasn't happened yet for me.

[2020-12-07 12:57] silverwings15 commented on #2772
been working fine for me as well

[2020-12-07 15:17] spaceLem commented on #2778
I've deactivated that option, and so far everything seems to be working normally again, so thank you!

[2020-12-07 15:17] #2778 closed, assigned to nobody

[2020-12-07 15:42] icher commented on #2777
Jesus Christ, man, since webextensions I suffering from lack of this feature! It works like a charm. Thanks. I modified it a little bit for my taste:
[code]

Maybe you should add it to the "Code Snippets" documentation.

[2020-12-07 16:26] irvinm commented on #2777
@icher, can you close this item?  Thanks.

[2020-12-07 16:35] #2777 closed, assigned to nobody

[2020-12-08 07:20] mzso commented on #2772
So far so good here as well.

[2020-12-08 12:00] txtsd opened #2779 "Pinned tabs start collapsing"
## Short description
Pinned tabs start collapsing and require mousing over to show, and after moving the mouse away they collapse again.

## Steps to reproduce
I'm not sure how to reproduce it reliably. It happens intermittently and when it does, I have to restart firefox to fix it.

## Expected result
Pinned tabs should not collapse.

## Actual result
Pinned tabs collapse.

## Environment

 * Pla

[2020-12-08 12:45] irvinm commented on #2779
Duplicate? https://github.com/piroor/treestyletab/issues/2778

[2020-12-08 12:50] irvinm commented on #2772
@mzso do you want to close this item for now?  If it is still an issue, you can re-open as needed.

[2020-12-08 13:16] rsalmei commented on #1677
Please is this happening again?
I have the newest 3.6.3 and can't seem to make new tabs go to the bottom.
They appear there, but immediately are moved to the top.

[2020-12-08 13:20] txtsd commented on #2779
Yea it's the same issue. I'm trying the fix suggested in https://github.com/piroor/treestyletab/issues/2778#issuecomment-739638089

[2020-12-08 15:11] irvinm commented on #2779
Can you close this item when you get a chance @txtsd?  (Unless the fix doesn't work for you)

[2020-12-08 15:11] mzso commented on #2772
[**@irvinm**](https://github.com/irvinm) commented on [2020. dec. 8. 13:50 CET](https://github.com/piroor/treestyletab/issues/2772#issuecomment-740600172 "2020-12-08T12:50:13Z - Replied by Github Reply Comments"):

I guess.

[2020-12-08 15:11] #2772 closed, assigned to nobody

[2020-12-08 15:13] txtsd commented on #2779
Yea, give me a few days to test it. I can't reliably reproduce so I need that time to confirm. I'll close it myself after.

[2020-12-08 19:13] silverwings15 commented on #2777
interestingly, i get a 'ghost' tab in the background of my side bar if i use @icher 's sidebar background color CSS, but only if i replace it with a gradient, such as

[code]

![image](https://user-images.githubusercontent.com/10742312/101530065-011d4200-39c4-11eb-886c-1b653e35beda.png)

[2020-12-08 19:29] Peilonrayz opened #2780 "TST uses a different colour scheme then Firefox"
## Description

TST's plain style doesn't use the same colours as Firefox's tabs for regular surface, regular active and border. This made TST have white borders and blue surfaces when Firefox's UI is my selection of greys.

## Fix

I have fixed these with the following CSS change:

[code]

You can test these are updated with the theme by using [Firefox Color](https://color.firefox.com/).

-   `--

[2020-12-09 05:09] piroor commented on #2780
Is this covered by the FAQ topic "How to apply GTK+ theme color on Linux?" ? https://github.com/piroor/treestyletab#appearance

[2020-12-09 05:15] piroor commented on #2777
I've added a new section to the code snippets:
https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#grouping-tabs-with-spaces-instead-of-indented-tree-2777
But I won't maintain it aggressively so it need to be maintained by people who actually use.

[2020-12-09 05:22] piroor commented on #2779
Basically this behavior is designed to be applied for these cases:

* When you open a new blank tab on Firefox 84 and later. It shows the bookmarks toolbar, then the sidebar contents are shifted down as the height of the toolbar. TST applies negative margin to cancel the shifting.
* When you are in the fullscreen mode (F11 key on Windows or Linux) and your mouse is pointing the top edge of the scr

[2020-12-09 05:31] piroor commented on #1677
@rsalmei Did you try the option?: TST options => New Tabs Behavior => Insertion position of new child tabs (will appear as root tabs) from pinned tabs => The end of the tree.

[2020-12-09 05:54] icher commented on #2777
Actually, last section "make collapsed tabs visible" do not need, collapse group is useful feature. Without this section all works great. The idea is just economy of space, no change the behaviour.

![Screenshot from 2020-12-09 12-07-12](https://user-images.githubusercontent.com/8604717/101591631-28512f00-3a17-11eb-9a28-a8485c9ea681.png)

[2020-12-09 06:16] piroor commented on #2777
OK, I've removed the last section.

[2020-12-09 07:27] txtsd commented on #2779
I'm using Firefox 83, and I have the tab bar on the top hidden via `userChrome.css` so neither of those should affect me.

The only other thing I can think of is that my number of tabs were so high that TST needed a vertical scrollbar to be able to display them. But it happened later when I got rid of most of the tabs too.

[2020-12-09 10:05] silverwings15 commented on #2777
@piroor do you have any idea what the 'thing' in my screenshot could be?

[2020-12-09 13:27] silverwings15 commented on #2777
i tried setting `tab-item.active` to `opacity: 0` and this is what i see

![image](https://user-images.githubusercontent.com/10742312/101635569-b7cd0100-3a5c-11eb-9947-582c975308ba.png)

edit: managed to capture the entire bar

![image](https://user-images.githubusercontent.com/10742312/101645102-8fe39a80-3a68-11eb-85f4-68a0237d0bde.png)

[2020-12-09 17:41] rscircus opened #2781 "Option to disable tab pinning"
## Short description
The keyboard shortcut `alt-p` collides with many other add-ons. For instance https://github.com/Cito/Pinboard-Pin

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3. Install https://github.com/Cito/Pinboard-Pin
 4. Register your pinboard account with Pinboard-Pin
 5. Visit random site
 6. Hit `alt-p`
 7. Watch the tab being pinned instead of 'pin

[2020-12-09 18:48] Peilonrayz commented on #2780
No. My theme is a Firefox theme made through Firefox Color; a tool from Mozilla to build Firefox themes. Whilst GTK is my main toolkit I am not using any of the colours from it in my theme.

The code above makes TST mimic Firefox themes. The following show where TST and Firefox themes diverge. Excluding "Overall" I have used red to highlight the difference.

-   <details>
    <summary>Overall</sum

[2020-12-11 15:41] mfn commented on #2779
This caused my lots of confusion in the last week.

I was about to open an issue but wasn't sure it's really a TST thing and didn't wanted to add noise, because also to me it wasn't clear when this behaviour started. And "my fix" back then was to open a window, move the pins and the tabs, it worked.. did not autohide. Until I noticed it starts to autohide again.

I'm now trying the workaround in h

[2020-12-12 12:59] irvinm commented on #2781
@rscircus, I am sure @piroor will respond to this, but I don't see TST handling ALT+P to pin tabs.  Firefox also does not use ALT+P as well.  Are you sure you don't have another addon handling ALT+P?  (Like https://addons.mozilla.org/en-US/firefox/addon/toggle-pin-tab/)

If you go to about:addons, click on the gear, and select "Manage Extension Shortcuts" ... what is listed for ALT+P?

[2020-12-12 16:34] rsalmei commented on #1677
Thanks @piroor, but yes, it is selected as you say.
It's odd, but I've noted some urls do open at the end as configured, and some after opening there, immediately close and re-open at the top... 🤔

[2020-12-14 06:47] grahamperrin opened #2782 "No animation: allow sidebar scrolling as an exception"
To move a tab up or down:

* I nearly always use keyboard shortcuts i.e. <kbd>Control</kbd>-<kbd>Shift</kbd>-<kbd>⬆</kbd> and <kbd>Control</kbd>-<kbd>Shift</kbd>-<kbd>⬇</kbd>
* I rarely use a pointing device

– and I typically 'hold' the shortcut, for fastest possible movement of the tab to (or near) the top, or the bottom, of the sidebar.

For performance, I prefer **no animation**.

Sadly, where

[2020-12-15 07:01] fragande commented on #2339
Sorry to ask, but is there any update on this? Any possible workaround? I've recently found TST and love it, but this FF issue is extremely irritating. Especially in scenarios like trying to navigate YouTube videos in theatre mode or highlighting text. I personally rarely close the sidebar but that's the only way of getting around the problem I've found.

[2020-12-15 11:19] lamyergeier opened #2783 "Feature Request: Search within tabs"
I have so many tabs open, I would like to search for the tab within the tree with a keyword.
Is it possible to add a search bar at the top of the treestyle tab. Regex support would be  a plus.

[2020-12-15 12:54] irvinm commented on #2783
I am sure @piroor will reply to this, but in general you can do some of this already with the existing URL bar.  Prefix "%" to your search term to search your tabs for that term.  ([link](https://support.mozilla.org/en-US/kb/address-bar-autocomplete-firefox?redirectslug=awesome-bar-search-firefox-bookmarks-history-tabs&redirectlocale=en-US#w_changing-results-on-the-fly_2))

There are also existing

[2020-12-16 02:47] piroor commented on #2783
Sorry it won't be added as an built-in feature because it is out of purpose of this project. Instead please use workarounds mentioned by @irvinm.

[2020-12-16 02:54] piroor commented on #2339
Please see the bugzilla topic https://bugzilla.mozilla.org/show_bug.cgi?id=1571946 about the progress of the bug itself.

[2020-12-16 05:40] piroor commented on #2782
Ctrl-Shift-Up/Down expands the selection range in the current webpage by default. Thus I assume that you set these shortcuts for "Move Current Tab Up" and "Move Current Tab Down" for TST, then I think the commit b905346 should fix the problem.

[2020-12-16 08:24] piroor commented on #2781
TST never use the shortcut Alt-P for any command by default. It looks a problem of another addon.

[2020-12-16 08:46] piroor commented on #1677
@rsalmei I think that there are some more unknown triggers - Firefox's about:config settings, other addons, and TST's options. Could you narrow down steps to reproduce with a clean profile? Or, could you send your Firefox profile without critical private information (login information and others) to me? (If you OK, please contact me via email: piro.outsider.reflex@gmail.com)

[2020-12-16 08:52] rscircus commented on #2781
OK, i'll check. Thanks for your help.

On Wed, Dec 16, 2020, at 09:25, piroor wrote:

[2020-12-16 09:37] piroor commented on #2779
I've tried these steps but I couldn't reproduce the problem:

1. Setup Arch Linux.
2. Start Firefox 83.
3. Install TST 3.6.3.
4. Go to about:config and activate userChrome.css.
5. Go to Firefox's profile directory, and prepare userChrome.css with the rule to hide the top tab bar: 7 lines at https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#hide-horizontal-tabs-at-the

[2020-12-16 09:41] piroor commented on #2777
Ah, it is by design. TST has a "fake" tab behind the background screen element to calculate size of tabs, favicons, and others. It will be revealed unexpectedly for now, if you use transparent color for the `#background` element. Until I find ouf some better solutions, you shouldn't use transparent color for the background.

[2020-12-16 10:19] piroor commented on #2780
Thank you for screenshots, I've gotten what you meant. In short this is by design of TST.

Due to my coloring policy TST's coloring is different from Firefox's theme coloring a little. TST applies Firefox's tab bar background color to the background of the sidebar, but TST also applies the Toolbar Color to background tabs, because the contrast is too high and too stressful for me between the toolb

[2020-12-16 11:16] silverwings15 commented on #2777
seems like i peeked behind the wizard's curtain by accident :D appreciate the explanation

[2020-12-16 15:42] piroor commented on #2777
The commit 9411efb should hide the dummy elements completely.

[2020-12-16 16:48] silverwings15 commented on #2777
amazing work you're doing here, thank you once again!!

[2020-12-16 22:06] grahamperrin commented on #2782
Sorry! I'm so accustomed to using the keys without looking at them, I thought simply 'up and down' when truly it's 'page up and page down' i.e.

<kbd>Control</kbd>-<kbd>Shift</kbd>-<kbd>⇞</kbd> and <kbd>Control</kbd>-<kbd>Shift</kbd>-<kbd>⇟</kbd>

– respectively, _Move Tab Left_ and _Move Tab Right_ at https://support.mozilla.org/en-US/kb/keyboard-shortcuts-perform-firefox-tasks-quickly#w_windows-

[2020-12-16 22:11] erik-hasse commented on #2779
I've experienced this as well with TST 8.3.8 on both macOS with Firefox 81 and Windows with Firefox 83. Unfortunately I don't have a reliable way to reproduce it, although I can say that it only seems to happen when I have a large number of tabs open.

The provided "suppressGap..." config option has fixed it for now.

[2020-12-17 01:19] piroor commented on #2782
Thank you for the follow-up. Ctrl-Shift-PageUp/PageDown cases are also covered by the change.

[2020-12-17 02:31] piroor commented on #2779
I've exposed the option for experts with the commit 01f91d6. However I still need more help to research what is the trigger the behavior is unexpectedly applied.

[2020-12-17 17:33] Peilonrayz commented on #2780
Thank you for the response. Ok that is reasonable.

Should this be added to the FAQ, in a similar place to your first message? I'd be happy to submit a small PR if that is the case. Otherwise I'm happy for this to be closed since the work around is documented above.

[2020-12-17 17:59] txtsd commented on #2779
I'm ready to close this since the suggested fix works. Should I leave it open for you to track the cause?

[2020-12-18 03:22] piroor commented on #2780
OK, I've added a new FAQ topic to [the "Apeparance" category](https://github.com/piroor/treestyletab/blob/trunk/README.md#appearance) and [an updated CSS declaration to apply colors same to Firefox's native tab bar](https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#apply-tab-colors-exactly-same-to-firefoxs-native-2780).

[2020-12-18 03:23] piroor commented on #2780
Please note that the suffix `-30` for 30% opacity is introduced with the commit 22ed1e9.

[2020-12-18 07:24] piroor commented on #2779
I still hope to fix the problem fundamentally even if there is a workaround. If you OK, could you help me with collecting debug logs? Steps:

1. Go to TST's options.
2. Turn on the checkbox: "Development" => "Debug mode"
3. Turn off all checkboxes under "Detailed logging".
4. Turn on "Log with timestamp" and "sidebar/gap-canceller".
5. Go to "about:debugging".
6. Choose "This Firefox" and click "I

[2020-12-18 09:08] piroor commented on #2779
After some thinking, I've realized that there is a possible trigger.

@txtsd Did you change the TST's option "New Tabs Beahvior" => "Basic control for New Blank Tabs" => "Guess a newly opened tab as opened by..." ? TST detects a new tab opened with the URL as a "new blank tab", so if you change the URL from the default `about:newtab`, TST may misunderstand that regular tabs with the URL as "new bl

[2020-12-18 09:11] txtsd commented on #2779
No it's still `about:newtab`

[2020-12-18 15:01] Peilonrayz commented on #2780
Thank you very much. Your additional changes also affect another TST based extension making it have the correct background, which mine didn't. Thank you.

[2020-12-18 15:01] #2780 closed, assigned to nobody

[2020-12-18 15:26] nanto opened #2786 "First two tabs are hidden after full screen mode"
## Short description

When making a window in full screen and back from full screen mode, first two tabs are hidden.

## Steps to reproduce

 1. Open new window.
 2. Open three tabs in the window.
 3. Press F11 key and make the window in full screen.
 4. Press F11 key again and make the window not in full screen.

## Expected result

All three tabs are shown in sidebar.

## Actual result

The firs

[2020-12-18 17:23] piroor commented on #2786
This looks same to #2778 and #2779. Could you collect debug logs with steps described at https://github.com/piroor/treestyletab/issues/2779#issuecomment-747919000 ?

以下、なりふり構っていられないので日本語で失礼します。。。

https://twitter.com/piro_or/status/1339835626481307650 からのスレッドでも述べているのですが、再現条件が分からず調査が難航しております。過去報告はいずれもLinux環境の物だったので、Linux向けビルドのFirefoxに固有の現象なのか？とも思っていたのですが、Windows 10でも再現しているとのことなので、ますます困惑中です。

F11でのフ

[2020-12-19 01:53] nanto commented on #2786
* ツールバーを自動的に隠す設定が有効 & ブックマークツールバーを常に表示 → 再現する
* ツールバーを自動的に隠す設定が有効 & ブックマークツールバーを表示しない → 再現する
* ツールバーを自動的に隠す設定が無効 & ブックマークツールバーを常に表示 → 再現する (隠れる領域の高さは小さくなる)
* ツールバーを自動的に隠す設定が無効 & ブックマークツールバーを表示しない → 再現しない

[2020-12-19 02:15] nanto commented on #2786
ツールバーを自動的に隠す設定が有効 & ブックマークツールバーを常に表示、という状態の下で、

1. 新しいウィンドウを開く
2. そのウィンドウで F11 キーを押してフルスクリーン表示に入る
   * デバッグコンソールに `tst<Sidebar-238>: 11:11:58.357 sidebar/gap-canceller:          should not suppress, but there is a visual gap common.js:602:13` と出力される。
3. そのウィンドウで再度 F11 キーを押してフルスクリーン表示をやめる
   * 問題が再現する (タブが見えなくなる)
   * デバッグコンソールに `tst<Sidebar-238>: 11:12:14.420 sidebar/gap-canceller:          should

[2020-12-19 02:22] nanto commented on #2786
* 問題が再現した後、サイドバーの幅を変更すると問題が解消します。
* 問題が再現した後も F11 キーを押してフルスクリーンモードに入ったりやめたりを繰り返すと、フルスクリーンモードをやめたタイミングで問題が再現するときとしないときがあります。
  * フルスクリーンモードに入ったタイミングでは問題は再現しません。

[2020-12-19 02:40] nanto commented on #2786
今までの私の報告はすべて、新しいウィンドウを開いた際にウィンドウの際上端がディスプレイ表示領域の際上端に位置する (フルスクリーンモードでなくても `window.screenY === 0` である) 場合のものでした。

新しいウィンドウを開いた後にウィンドウを移動させて (`window.screenY !== 0` の状態にして) から F11 キーを連打した場合、問題は再現しません。

[2020-12-19 02:49] nanto commented on #2786
https://github.com/piroor/treestyletab/issues/2786#issuecomment-748404075 のステップ 3 で `should suppress visual gap` というログ出力が出ているのが気になります。この時点ではフルスクリーンモードをやめたはずですが、 https://github.com/piroor/treestyletab/blob/2226a9cfb86a76ab3b36e7f81d9bedd964a615d3/webextensions/sidebar/gap-canceller.js#L61-L64 の `shouldSuppressGap` が `true` になっている、~すなわち `document.documentElement.dataset.ownerWindowState` が `fullscre

[2020-12-19 08:35] IAmNotAJerk opened #2787 "[Feature Request] Option to make alt-enter new tab from location bar a sibling tab"
## Short description
Requesting an option to make "alt-enter new tab from location bar" a sibling tab to current tab.

Currently there is an option for "new tab with the same website as the current tab from location bar, bookmarks, histories, or other cases". I did try that but that does not apply to my case.

(extra note, if you want to know why I want this feature:
This could be very useful when

[2020-12-19 23:50] irvinm commented on #2342
Everyone, this will be fixed in FF86.  (2021-02-23)

[2020-12-21 03:37] piroor commented on #2787
Sadly this couldn't implemented, because addons cannot detect Alt-Enter action in the address bar for now. Instead all new tabs from the location bar can be attached to the current tab, but it become an overkill behavior - it means that tabs opened by various cases (from bookmarks, history, drag-and-drop, and other addons) become children of the current tab by default.  Please see my comment at an

[2020-12-21 04:20] piroor commented on #2786
情報ありがとうございます！ Y=0の時に起こる問題については、「ウィンドウは移動もリサイズもされていないが、サイドバーの内容だけがずらされた」ことを検出する際にウィンドウのY座標だけを見ていたのが原因と言えそうです。 749cd59 でウィンドウのX,Y座標とサイズも比較するようにしたので、Y=0での誤爆はこれで減るのではないかと思われます。

ここは悩ましい所なのでした……
windowのfullscreen状態が変わったことを確実に検知する方法がなくて、今はwindowのresizeイベントが発火してから500ミリ秒間だけ何度も状態を問い合わせているため、fullscreen状態が変わる前の時点で検出処理が走ってしまうこと自体を避けられずにいるのでした。

[2020-12-21 05:49] piroor commented on #2778
The commit 749cd59 should fix the mis-shifted sidebar contents problem when the window is placed at coordinates like (*,0). It may help you if you saw the problem only at a problem placed at the top edge of the screen (ex. maximized).

[2020-12-21 05:49] piroor commented on #2779
The commit 749cd59 should fix the mis-shifted sidebar contents problem when the window is placed at coordinates like (*,0). It may help you if you saw the problem only at a problem placed at the top edge of the screen (ex. maximized).

[2020-12-21 10:59] txtsd commented on #2779
When the tabs are not autohiding:
* When a new blank tab is opened...
   * no output
* When a non-new tab is selected...
  * no output
* When the fullscreen mode is activated with the F11 key and the navigation bar hides:
[code]
* After exiting from fullscreen mode:
[code]
* When the navigation toolbar becomes visible with mousemove on a fullscreen mode:
(At this point, after toggling the navigati

[2020-12-21 13:05] silverwings15 commented on #2777
@piroor hmm seems like you managed to get rid of the dummy tab, but these 'open new tab as' (?) options still linger

![image](https://user-images.githubusercontent.com/10742312/102780071-e5ed0200-43c7-11eb-879f-da0cd45b4799.png)

[2020-12-21 14:17] silverwings15 commented on #2777
well they're only present briefly when you activate the sidebar, so i guess they're not a big deal

[2020-12-21 20:16] hsantanna opened #2789 "There is no "Bookmark all Tabs" in TST context menu"
## Short description
There nos no context menu for bookmarking all tabs from the current window.
No matter if right click over a tab or TST's sidebar empty space.

## Steps to reproduce
 1. Start Firefox with clean profile.
 2. Install TST.
 3. Do any web search and open multiple tabs to search results
 4. Right-click any tab on the tree or Right-click TST empty space

## Expected result
There to

[2020-12-22 00:44] piroor commented on #2789
Sorry but I have no plan to add the command, because there is a basic policy about TST's context menu: it just simulates Firefox's native one, to minimize confusion of existing Firefox users.

[2020-12-22 00:51] piroor commented on #2789
By the way, I hope to solve this misunderstanding for newcomers.

Relabeling with the phrase "tree under this tab" looks better than current "this tree" labels? I'm afraid reduced usability with too long labels.

[2020-12-22 01:46] piroor commented on #2777
@mimecry Sorry I missed that. Here is a workaround:

[code]

Now it is included by default with the commit 61a6fbb6e.

[2020-12-22 01:51] piroor commented on #2779
@txtsd Thank you for a research! The result looks similar to logs collected at #2786 so I think the fix in TST 3.6.4 may affect to your case. If you still see the problem, could you collect logs again? (TST 3.6.4 reports more detailed logs.)

[2020-12-22 02:14] No3371 opened #2790 "[Question] Is switching far more slower then native tab bar expected?"
Sorry for not filing in proper issue format, as this is not a bug report I assume it's OK 😅 ?

I've been always using TST with the native tab bar disabled. Can't really recall since when, switching tab always hangs the sidebar, I tried another tree tab plugin and the problem still present (though a little bit lighter).

Today I decided to unhide the native tab bar and give it a try, very interesti

[2020-12-22 03:25] txtsd commented on #2779
I'll collect logs if it happens again~

[2020-12-22 04:30] No3371 commented on #2790
Oh my, it suddenly works totally fine after I remove some plugins... but I'm not sure which one is the cause.
Sorry for bothering 😅 !

[2020-12-22 04:30] #2790 closed, assigned to nobody

[2020-12-22 15:03] grahamperrin commented on #2782
Fix confirmed in version `3.6.4 (2020.12.21)`.

Thank you!

[2020-12-22 15:03] #2782 closed, assigned to nobody

[2020-12-22 15:25] irvinm commented on #2781
@rscircus can you close this item?

[2020-12-22 15:28] irvinm commented on #2783
@anishmittal2020 will you close this item?  Thanks.

[2020-12-22 15:31] irvinm commented on #2764
@XakepSDK any feedback?

[2020-12-22 15:35] irvinm commented on #2671
With the shorter timeout, is anyone still having an issue?  I am wondering if we can close out this item.  (@Adelscott how about you as the OP?)

[2020-12-22 15:44] silverwings15 commented on #2671
no longer an issue as far as i'm concerned

[2020-12-22 15:51] irvinm commented on #2546
@Drive4ik have you looked at the pull request yet?

[2020-12-22 15:54] #2781 closed, assigned to nobody

[2020-12-22 15:57] irvinm commented on #2720
@stoically this pull request has been merged into Temporary Containers since October 9th.  Any chance you could produce a point release to verify this has been fixed?

[2020-12-22 16:02] irvinm commented on #2787
@IAmNotAJerk will you close out this item since it can not be done?

[2020-12-22 16:07] irvinm commented on #2660
@piroor it seems for most people when they see this issue that simply restarting TST works for them.  What else would you need to possibly try to isolate what is happening?

[2020-12-22 16:15] silverwings15 commented on #2660
i've never gotten this error, perhaps it could be an addon conflict?

[2020-12-22 16:20] irvinm commented on #2789
@hsantanna Firefox does not support this directly any more as well.  The workaround that people use (with or without TST) is to select all of the tabs and bookmark them.

Will you close out this item?  Thanks.

[2020-12-22 17:29] #2783 closed, assigned to nobody

[2020-12-22 18:10] rscircus commented on #2781
The solution was to be found in the 'Vimium C' extension. It sends the command. However, I wrongly assumed it was TST as this was the only visible reaction to the command sent.

[2020-12-22 19:08] irvinm commented on #2781
No worries.  Thanks for the update @rscircus.

[2020-12-23 00:15] IAmNotAJerk commented on #2787
Sure. 👍

[2020-12-23 04:07] #2787 closed, assigned to nobody

[2020-12-23 14:06] XakepSDK commented on #2764
I haven't tried developer builds, just hiding bookmarks toolbar is enough for me

[2020-12-25 07:06] piroor commented on #2339
Looks to be fixed with the commit introduced at the bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1680405
The fix will be included to Firefox 86.

[2020-12-25 12:01] opqriu opened #2791 "Ctrl Click"
Good morning. I am using the Tree Style Tab add-on very well.
I have a question.
When I press Ctrl button and click Link, it opens in sub (tree) tab.
In this case, I can't find a setting to prevent opening with the Sub (tree) tab.
Can you help me?
Thank You.

[2020-12-26 02:15] silverwings15 commented on #2660
hmm so it happened to me for the first time ever, although a quick F1 toggle got it working again

![image](https://user-images.githubusercontent.com/10742312/103144356-d587af00-475a-11eb-9847-6c2115126547.png)

[2021-01-01 02:25] PantherX opened #2792 "Significant Time Difference Between 2 Methods To Send Tabs"
# Short description

When attempting to use the [Send Tab from Firefox](https://support.mozilla.org/en-US/kb/send-tab-firefox-desktop-other-devices) feature, TST has a significant delay while the "native" option works instantly.

I think my issue is different to the one reported here #2419 but I am not 100% sure so am creating this issue just in case they are different. Moreover, it might be a Fir

[2021-01-03 08:01] rieje opened #2793 ""For newcomer of Tree Style Tab" message triggered how?"
How is the message "For newcomer of Tree Style Tab some extra permissions are required for more natural user experiences. Please click the button to grant them." triggered? I get this message when I run a new profile with extension settings copied over from an older profile. All permissions are already granted on the new profile just like they were granted on the old profile. Context:

I'm on Linu

[2021-01-05 12:45] mYnDstrEAm commented on #2660
Same or something similar here: it sometimes just suddenly stops displaying the tabs and becomes blank. This time it's flickering and starting to load for about 0.2 seconds just to become blank again and flicker. It could also be a separate problem. When closing the sidebar I can't open the sidebar again by pressing the TreeStyleTab addon icon (in the upper right) - I need to display bookmarks for

[2021-01-05 19:55] mYnDstrEAm commented on #2774
Are you sure this is an issue of TSM? It doesn't restore most tree structures despite of a high delay.

[2021-01-05 22:31] irvinm commented on #2774
Ok, I admit I haven't had to restore a session with TSM for quite a while, so I tried a few scenarios.   (Thankfully, my machine and Firefox have been very stable and just really use TSM as a safety blanket)

I tried to restore a 450 tab session and using 350ms and 500ms each resulted in some of the early tabs restoring the tree structure, but at some point everything then gets put at the root lev

[2021-01-05 22:45] mYnDstrEAm commented on #2774
I already tried a delay of about 5 seconds for about 200 tabs and it still didn't restore all tree structures. I still have it above 2000 and it didn't restore all. I could try to experiment a bit to find if something works but it would be useful if I knew which other settings and configs and setup might be relevant for this. Trying to restore tabs in multiple windows in parallel would probably be

[2021-01-06 01:24] irvinm commented on #2774
@mYnDstrEAm just an FYI that I don't think @piroor was saying there wasn't necessarily an issue, but that the "enhancement" to automatically detect if TST is installed should be done on the TSM side.  In terms of this issue, there is something different going on but it could also be Firefox related as well.

In terms of my session and options, it does look I had a few trees that were 5 deep and th

[2021-01-06 02:52] ksze opened #2794 "Icon for Firefox's special `about` pages"
## Short description

TST can show special icons for some of the `about` pages, e.g. the "puzzel piece" icon for the `about:addons` page. I have checked through all of the `about` pages listed in `about:about`. For some reason, TST won't show the specific icons for the following special pages:
- `about:logins`
- `about:protections`
- `about:robots`
- `about:profiling`

## Steps to reproduce

 1. S

[2021-01-07 09:28] piroor commented on #2774
After some trials I've understood that sometimes the combination of TST and TSM fails to restore relations of tabs from a session data. Here is a testcase session data:
[267-tabs.zip](https://github.com/piroor/treestyletab/files/5780509/267-tabs.zip)

This testcase contains three sessions, there are 267 tabs in each session.

* "267 tabs with regular URL": All tabs in this session have URLs like `

[2021-01-07 14:48] piroor commented on #2774
The problem I commented at https://github.com/piroor/treestyletab/issues/2774#issuecomment-755996615 has been fixed by TSM. Wow!

@mYnDstrEAm Does your case match to the condition I commented at the above comment?

[2021-01-07 15:52] mYnDstrEAm commented on #2774
I think it also didn't restore all tree structures when the window was focused. But maybe it always got unfocused for a while and then focused again. I'll try...that's the only testcase that might match my case. Maybe it's a problem of how the TSM session was saved and not one of the restoration process. (The restoration of a window with many trees works fine if it was not changed since the last r

[2021-01-07 15:53] piroor commented on #2794
Thanks! I've added more icons with the commit bd2714e.

[2021-01-07 15:53] #2794 closed, assigned to nobody

[2021-01-07 16:07] piroor commented on #2791
There is a FAQ topic "I don't need automatically organized tree, instead I just want to organize tree by myself":
https://github.com/piroor/treestyletab#feature-requests

[2021-01-07 17:02] mYnDstrEAm commented on #2774
I tried it by changing the tree structures of my current session (including adding some deeply nested ones) and letting it restore in an unfocused window. Seems like it restored all tree structures there. So this seems to only occur when it matters: when I had to restart my computer or the browser crashed and things like that.
I can't see the intended tree structures from within TSM so I can't che

[2021-01-08 01:41] piroor commented on #2793
The notification appears when it is the initial startup or the saved "config version" information is older than the defined version. It is saved to the storage space for IndexedDB, the physical file is an SQLite DB under a folder like `storage\default\moz-extension+++...`. So, you'll see the notification on every startup if firejail does not write back updated IndexedDB data to the original one.

[2021-01-08 01:44] piroor commented on #2793
It means that a new option to deactivate the notification won't work as expected, because it won't be saved on your case.

[2021-01-08 01:46] piroor commented on #2793
I think it is a problem of the firejail, so I've marked this issue as an invalid.

[2021-01-08 03:26] piroor commented on #2792
Sadly it can't be fixed by TST. There is no available API to send tabs via Firefox Sync by an addon. There is a related bug: [1417183 - Provide a web extensions API-based way to send pages between devices](https://bugzilla.mozilla.org/show_bug.cgi?id=1417183).

Thus TST implements a "fake" send pages feature based on the [storage.sync API](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/W

[2021-01-08 03:46] piroor commented on #2660
I've seen this problem while I'm researching the issue #2774. On my case, just closing and reopening the TST sidebar solves the invalidly blanked sidebar problem. It looks that TST's background process looks to track all changes around tabs successfully but the sidebar page looks to fail to synchronize its contents. (Reopening the sidebar panel is the most effective workaround for such cases.)

[2021-01-08 06:15] piroor commented on #2660
I think that something happens at [the receiver module in the sidebar page](https://github.com/piroor/treestyletab/blob/af4a46c08dbb9c3970a4b30cbb025aa30f09ff6b/webextensions/sidebar/sidebar-tabs.js#L452): it looks to drop some critical messages when there are very large number in-progress opening tabs.

However I've not narrowed down the condition successfully yet. When I tried with 267 tabs with

[2021-01-08 06:35] piroor commented on #2774
I don't know the existence of any document about TSM's session data format, but I read the session data (JSON) exported by TSM. It has a format like:

[code]

In this example, there are three tabs <id=1>, <id=2> and <id=3>. Those tabs appear in the sidebar with the order <id=2>, <id=3> and <id=1>, because they are sorted with their `index`.

The tab <id=2> is a root level tab, both <id=1> and <id=

[2021-01-08 06:38] #2764 closed, assigned to nobody

[2021-01-08 07:31] PantherX commented on #2792
Hiya @piroor

Thanks for the detailed explanation! I was manually syncing on Device A but it never occurred to me to sync on Device B. Considering that I now know how the system works, I can see that this isn't a TST issue but a Firefox limitation. Thus, I will close this issue now. Thanks once again for your response 😄

[2021-01-08 07:31] #2792 closed, assigned to nobody

[2021-01-08 11:36] silverwings15 commented on #2671
checking back in after over 2 weeks to report that this issue seems to have been fixed for good

[2021-01-08 11:37] mYnDstrEAm commented on #2660
In my case reopening the TST sidebar doesn't solve the blanked sidebar problem - it will still flicker / be empty / don't complete loading. This is one of the cases where I have to restart firefox and upon doing so most tree structures are lost.
Nice to see you could find some problems! I probably wouldn't even have commented if there was a workaround. I can believe you that debugging this is hard

[2021-01-08 11:42] silverwings15 commented on #2660
this bug destroys your tree structure upon reset? that sounds really severe. even though reopening the TST bar doesn't fix the issue in OP's case, at least his tree structures are still intact

[2021-01-08 11:55] silverwings15 commented on #2704
having this implemented would be lovely. on a similar note, would it be okay to have a thread dedicated to discussing CSS tweaks and customization?

[2021-01-08 12:56] irvinm commented on #2671
@piroor I think this can be closed.  OP has not replied to this thread since August and no one has indicated they are still seeing the problem.

[2021-01-08 13:52] Adelscott commented on #2671
Sorry I have been very busy. I haven't encountered the problem for at least 2 weeks. Thanks piroor and everyone.

[2021-01-08 13:54] #2671 closed, assigned to nobody

[2021-01-09 17:13] SHHSSH opened #2795 "Ctrl scroll zoom removed?"
## Short description

 - - - - - - -

Prior to a few updates ago, we were able to Ctrl + Scroll Up/Down to zoom the TST sidebar, what has happened that has prevented us from doing so recently?

I have attempted to zoom in other freshly installed browsers, still doesn't work. Unfortunately I can't give you an example of how it used to work because I don't have access to older versions.

 - - - - -

[2021-01-09 17:27] piroor commented on #2795
Turn on the checkbox: TST Options => Development => All Configs => zoomable, then you'll see zoomed sidebar contents.

The checkbox is unchecked by default and not changed for a long time. I think you were checked it manually ago, or something behavior was changed in Firefox side.

[2021-01-10 01:32] ElhemEnohpi opened #2796 "New tab from outside Firefox opens always as independent"
## Short description
No matter what setting I choose for "New tab from outside Firefox", it (almost) always opens as an independent tab at the bottom of the tab sidebar.

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3. Choose "New tab from outside Firefox: the next sibling of the current tab", or child, etc.
 3. Open some tabs, then focus one that is not the last

[2021-01-10 06:53] piroor commented on #2796
I've successfully reproduced this problem with both TST 3.6.4 and TST 3.6.5 on macOS. It looks a platform specific problem. TST tries to detect "a new tab opened from another application" with this method:

* When an external application is active, no Firefox window has a focus. A listener of `browser.windows.onFocusChanged` will receive `-1` as the focused window ID when all Firefox window lost f

[2021-01-10 09:53] piroor commented on #2796
After more research I've realized that this can't be solved on TST side.

* A possible workaround based on a delay will affect to other unexpected cases. If TST treat a `browser.tabs.onCreated` event notified just after `browser.windows.onFocused` within 200 msec, it will detect a new tab opened via the "+" button on the tab bar in an inactive window as "opened by external application".
* The orde

[2021-01-10 22:22] SHHSSH commented on #2795
Thanks, really did try to find it. Hidden all the way down there. Cheers @piroor

[2021-01-10 22:22] #2795 closed, assigned to nobody

[2021-01-12 13:38] rsalmei commented on #1677
Hey @piroor, I've found a link that consistently opens at the top in emails from my company. Their links are inside a table, don't know if it is any different from others though. Here:
![image](https://user-images.githubusercontent.com/6652853/104321304-34bb2280-54c2-11eb-8bf9-5801518f647a.png)

[2021-01-12 15:38] utkarshdubey opened #2797 "Moving multiple tabs in a New Window."
[FEATURE REQUEST]
Is there any way I could hack the extension in a way I could add a keyboard shortcut for Moving multiple tabs to new window.

[2021-01-15 02:51] piroor commented on #2797
Did you try "Move to New Window" with multiselected tabs? You can highlight multiple tabs with Ctrl/Shift-click on tabs.

[2021-01-15 02:57] piroor commented on #1677
@rsalmei Hmm, I've tested with a link with `target="_blank"` but couldn't reproduce the problem. I think new tabs from the link on your case are possibly opened by the event listener (JavaScript) instead of the link handler of Firefox itself.

[2021-01-15 03:04] piroor commented on #1677
@rsalmei Could you confirm that the link in https://jsfiddle.net/piro_or/c539dfmv/ is opened as expected if the tab is pinned, with the config?: TST Options => New Tabs Behavior => Insertion position of new child tabs (will appear as root tabs) from pinned tabs => The end of the tree.

[2021-01-15 03:06] utkarshdubey commented on #2797
Hey!
Nvm I got it working. Had to create an add-on. Closing the issue.

Thanks

[2021-01-15 03:07] #2797 closed, assigned to nobody

[2021-01-15 05:49] jnachtigall commented on #2779
@piroor I still have this error with 2.6.5 using Nightly 86.0a1 (2021-01-12). Both on Windows 10 and Ubuntu 20.04. Disabling `suppressGapFromShownOrHiddenToolbar` fixes it. This problem has been existing for like 3, 4 weeks.

It happens every time I open a new tab with `Ctrl+T` or the `+` button.

I followed your advise to collect some logs. Here is the screenshot:

![image](https://user-images.gi

[2021-01-15 06:42] piroor commented on #2704
I've merged changes activating CodeMirror for the user styles editor to the trunk. Now it is available by default, and I hope the development build to be tested more by people. https://github.com/piroor/treestyletab#development-builds

@mimecry I've activated the "Discussions" feature for this repository. I hope it to be used like a forum: https://github.com/piroor/treestyletab/discussions

[2021-01-15 07:10] piroor commented on #2704
I've also activated the color picker in the CodeMirror editor.

[2021-01-15 07:20] piroor commented on #2779
@jnachtigall This issue is about the problem happening on regular tabs (for example Google search result tabs, Firefox's options tab, and others) except new blank tabs opened via Ctrl-T. Sidebar contents shifted for blank tabs is the intentional result. In your second screenshot, the bookmarks toolbar is shown by Firefox for the current tab (a blank new tab opened by Firefox). TST's tabs are shift

[2021-01-15 07:53] piroor commented on #2660
@mimecry The case I saw was a problem only on the sidebar module. The background module was still running and the sidebar content was reconstructed correctly after reopening the sidebar, for me. Moreover, even if the running background process becomes corrupted, the tree structure possibly can be restored after restarting, based on the information stored to the Firefox's built-in session data.

[2021-01-15 13:54] silverwings15 commented on #2704
thank you very much for the Discussions tab

[2021-01-16 04:11] nanto commented on #2786
Thank you for your fix! I think this issue is fully fixed.

By the way, I think current behavior of gap-canceller doesn't enhance user experience since it causes flicker.

----

ありがとうございます。私の報告した問題は解決したので、この issue は閉じてもよいのではないかと思います。

ところで、現在の gap-canceller の挙動はユーザー体験の向上につながらないように思います。`resize` イベントなどが非同期で発生する以上、現在の実装では一瞬タブの位置が上下するのを避けられません。この一瞬のちらつきはかえって視線をタブバーに注目させてしまいます (gap-canceller は本来、タブバーに注

[2021-01-16 05:32] piroor commented on #2786
視覚的なちらつきに関しては確かに避けられないのですが、それとは別にこの現象がもたらす致命的な影響として、「タブの上でボタンを押し下げたときとボタンを放したときで座標が変わるせいで、それがドラッグ操作の開始と誤認されてしまう」問題があり、そちらをある程度軽減できることに期待して、この機能を入れたという部分もあります。そちらの効果はある程度あるはずと期待しているので、今の所は既定で機能をONにしておきたいと思っています。

ユーザー体験的には、ブックマークツールバーを常に表示するようユーザーが明示的に設定を変えるのが最善なので、どうにかしてそちらに誘導できればいいのですが……

[2021-01-16 08:14] piroor commented on #2786
よく見返したら、このissueはフルスクリーンモードでの動作についてのものでしたね。
先のコメントの懸念はフルスクリーンモードの方の場合だと起こり得ないものなので、フルスクリーンモード時の動作は既定でoffにしようと思います。

[2021-01-16 08:15] #2786 closed, assigned to nobody

[2021-01-16 15:12] irvinm commented on #2704
@piroor I played around with the new editor and it looks great.  The lines numbers, syntax highlighting, color picker, and color swatches are all going to help people I think when editing their CSS.  I didn't see any problems with my limited testing.

My only comment might be around the theme and I could see people wanting to use different themes or to be able to tweak certain items by themselves.

[2021-01-16 15:12] #2704 closed, assigned to nobody

[2021-01-16 17:55] irvinm commented on #2789
@piroor I think this can be closed.

[2021-01-16 17:55] irvinm commented on #2791
@piroor I think this can be closed.

[2021-01-16 17:59] irvinm commented on #2793
@piroor I think this can be closed.

[2021-01-17 08:10] #2793 closed, assigned to nobody

[2021-01-17 08:10] #2791 closed, assigned to nobody

[2021-01-17 08:10] #2789 closed, assigned to nobody

[2021-01-17 15:47] jnachtigall commented on #2779
Uh, yes, maybe I got it confused. Anyway, disabling the "Show bookmarks toolbar" on new tabs setting fixes "my" problem of pinned tabs getting hidden.

[2021-01-20 02:07] piroor commented on #2779
@jnachtigall Honestly I think that the option (showing the bookmarks toolbar always) is the best solution for TST users. I also did that.

[2021-01-20 06:26] piroor commented on #2704
OK, I've added the theme chooser UI.

[2021-01-20 12:58] irvinm commented on #2704
@piroor the theme picker looks and works great!

By the way, I also really like how the text editor for the CSS now remembers the view port size that was last used between firefox sessions.

All great usability enhancements!

[2021-01-21 21:33] ghost opened #2799 "Pinned tabs hide blue light indicator?"
I'm trying to hide the blue light indicator on pinned tabs when there is new activity.

This code UserChrome.css code works for pinned tabs without the treestyletab addon:

[code]

The following code does not work in the treestyletabs addon:

[code]

[2021-01-21 22:03] aaaawwWWWwwwwWWW opened #2800 "backup tabs?"
## Short description
If the users accidentally closes all tabs by using the Firefox "forget" functionality, they will lose their so much curated tabs like 1000 and will led them to sadness. Not  good. I'm sad.

## Steps to reproduce
1. Open 1000 tabs with very well curated content after in 1+ years.
2. Then stupidly hit the forget functionality without reading it first.

## Expected result
A backu

[2021-01-21 23:14] irvinm commented on #2799
This worked for me:

[code]

[2021-01-21 23:19] irvinm commented on #2800
There is already some undo functionality with TST, but nothing that would undo something like that.  I run a large number of tabs (500-600) and I use Tab Session Manager to backup my sessions as I go.  At the end of the day, I am at risk of only losing the last 15 minutes of changes using it.  It has bailed me out a few times after a Windows blue screen or a Firefox crash where it isn't able to st

[2021-01-21 23:23] ghost commented on #2799
Thank you!

[2021-01-21 23:26] irvinm commented on #2799
You are welcome.  Will you close this issue?

[2021-01-21 23:26] #2799 closed, assigned to nobody

[2021-01-22 00:30] aaaawwWWWwwwwWWW commented on #2800
Yeah, the undo functionally couldn't save them. There's so much extensions for TST that i didn't even know something like session management existed... It did never happen to me to search for it, because even after crashes Firefox could still restore everything like a miracle on my end. Still, thank you so much for your input! I've installed this extension and will be sure to use it properly. But

[2021-01-22 00:52] irvinm commented on #2800
You are welcome.  I also take things one step further and backup my Firefox profile once a day as well ... in case of some corruption or something like that.  I know it might be a little excessive, but between my tab sessions being backed up a few times an hour and my profile backed up once a day to the cloud, I know I can recreate Firefox on any machine at any point in time.

Given that TST is fo

[2021-01-22 13:28] aaaawwWWWwwwwWWW commented on #2800
Oh, now that you talk about it... I have backup from last week of my home directory that I can use to recover the tabs. I totally forgot about this. I'll make sure now to do daily backups of my Firefox profiles following your input.

I understand TST is focused on tree tabs, and that this is out of scope already on the README. Still, I think it would be very useful to have a backup section on the

[2021-01-23 22:49] BrianGilbert opened #2801 "TST for Safari?"
## Short description
Now that Safari supports webextensions, is it possible, and is there any intent to make a TST release for Safari?

https://developer.apple.com/documentation/safariservices/safari_web_extensions/converting_a_web_extension_for_safari

[2021-01-24 14:41] andinus opened #2802 "Container tabs selector should be disabled in private windows"
## Short description

Enabling this option:

![2021-01-24-200406_617x58_scrot](https://user-images.githubusercontent.com/62012039/105633608-844e0680-5e51-11eb-998c-2188c54093ec.png)

shows container selector option on new tab.

It also shows it in private windows but container tabs don't work in private windows, so the button does nothing and fails silently.

## Steps to reproduce

 1. Start Firef

[2021-01-26 03:17] rsalmei commented on #1677
Hey @piroor, thank you, I'm sorry I'm took so long.
Unfortunately it is not that yet, your test does work. I've made a video showing.

edit: removed the video, as it contained my work email.

[2021-01-26 09:53] hhyyrylainen commented on #1966
Sorry to reply to such an old issue, but it took me a while to find out that this command has been moved to a separate addon: https://github.com/piroor/tst-more-tree-commands
In case someone else also finds this, and is confused by the option "Create New Group from tabs" not being anywhere, I thought I'd leave that link here.

[2021-01-27 17:41] alice0775 opened #2804 "Firefox85+TST3.6.5, First tab is covered by sidebar header when open New Tab"
## Short description
First tab is covered by sidebar header when open New Tab

## Steps to reproduce
0. Start Firefox85.0 with clean profile.
1. Install TST3.6.5
2. Restart browser
  --- You can see first tab "New Tab" as expected
3. Load any web page(e,g wikipedia.org) in the tab
  --- You can see first tab "Wikipedia" as expected
4. Add a new tab(Ctrl+T or clock [+] button)
  --- First tab is co

[2021-01-27 17:55] alice0775 commented on #2804
TST 3.6.5.11204 is also affected.

[2021-01-27 21:20] Lej77 commented on #2801
I think this is unlikely since there isn't even a version of Tree Style Tab for Chrome or any other browser except Firefox, see the [FAQ / frequently rejected requests/proposals](https://github.com/piroor/treestyletab#other-browsers-support) in the TST readme.

I can also imagine some issues with porting the addon since some important functionality isn't provided by most browsers ([APIs](https://d

[2021-01-28 03:01] BlueRaja commented on #2804
I'm seeing the same issue.  Here's an image of what it looks like

![tree bug](https://i.imgur.com/2jCIeir.png)

There are two tabs here, but only the bottom-few pixels of the first one are visible.

This only happens if the first tab is not selected. If I select the first tab, then it slides down to become visible.

[2021-01-28 08:22] piroor commented on #2804
Currently it is a designed behavior. Please see also:
https://github.com/piroor/treestyletab/issues/2779#issuecomment-760704688

There are two workarounds:

* Set the bookmarks toolbar to be shown always ( https://github.com/piroor/treestyletab/issues/2779#issuecomment-761833067 )
* TST Options => Turn "Unlock Expert Options" checked => Appearance => Suppress visual gap of the sidebar contents pro

[2021-01-28 08:42] alice0775 commented on #2804
Thanks.
Both workarounds work for me.
I close this as WORKSFORME

[2021-01-28 08:42] #2804 closed, assigned to nobody

[2021-01-28 10:45] BlueRaja commented on #2804
This should not be closed. It is not acceptable default behavior.

[2021-02-01 18:21] ghost opened #2805 "Where did keybind configs go?"
## Short description
I can't find the keybind config menu in the TST options anymore.. I'm trying to change the behavior of the default ctrl+t and I remember there was a way to change keybinds in the past but on latest version it appears to be gone.

## Expected result
https://github.com/piroor/treestyletab/issues/2473#issuecomment-577459864

## Actual result
![image](https://user-images.githubuse

[2021-02-01 18:31] Fanolian commented on #2805
https://support.mozilla.org/kb/manage-extension-shortcuts-firefox

[2021-02-01 18:42] Fanolian commented on #2805
And I don't think you can change Firefox's native keyboard shortcuts.

[2021-02-01 19:03] ghost commented on #2805
Yep I just tried using ctrl+t with no luck. I'll have to make a habit of double clicking on the empty space to open new bars instead of using a keybind

[2021-02-01 19:03] #2805 closed, assigned to nobody

[2021-02-01 22:26] Gaffer13 commented on #2389
Doesn't seem to be working for me in Firefox 85. Don't know when it started - haven't tried it before. Other userchrome fixes appear to be working - the hidden horizontal tab bar and new location for window buttons.

Is it still working for you?

[2021-02-01 23:45] irvinm commented on #2389
I just tried it and didn't have any problems.

[2021-02-01 23:55] Lej77 commented on #2389
@Gaffer13 I don't think this CSS code should be added to your `userChrome.css` file. Instead it should be applied in the advanced section of Tree Style Tab's option page.

[2021-02-02 00:21] Gaffer13 commented on #2389
@Lej77 Yes, that's it, thanks! :)

[2021-02-02 07:41] libfitz opened #2806 "Firefox 85 resets custom styling on losing focus"
## Short description
When using Firefox 85, custom styling (applied via Advanced) is lost when Firefox window is not in focus.

## Steps to reproduce
1. Launch Firefox with TST installed.
2. Disable in-built themes (appearance => no decoration).
3. Apply custom CSS (advanced section). My custom styles are [here](https://gist.github.com/affectiosus/a7130d814815b8a67003867eae76fc16). I also have a `

[2021-02-02 20:17] 3d73a4a412 commented on #761
Well it seems clear piroor is not doing this for the donations, it took me awhile to find this. I too wanted to express my gratitude, this is one of the first and few addons that I add when using firefox - to say its indispensable would be a gross understatement. If piroor decides in the future to accept donations I will happily get in line! THANK YOU PIROOR!!!!!!!

[2021-02-06 15:47] SolidAlloy commented on #2806
It is reproducible on Windows 10 too.

[2021-02-08 09:25] piroor commented on #2806
Your style sheet contains the [`:-moz-window-inactive` pseudo class](https://developer.mozilla.org/en-US/docs/Web/CSS/:-moz-window-inactive). It was disabled in any content provided by extensions but looks to be activated globally now.

[2021-02-08 09:57] libfitz commented on #2806
@piroor thank you for the tip. I got rid of those classes and it works as expected now.

[2021-02-08 09:57] #2806 closed, assigned to nobody

[2021-02-08 11:29] piroor commented on #2804
With commits 9080ec9 and c5dad40, now TST should suppress the visual gap only when it is triggered by a mouse operation as I planned at https://github.com/piroor/treestyletab/issues/2804#issuecomment-768883431

[2021-02-08 12:59] irvinm commented on #2774
@mYnDstrEAm is there any reason to leave this open any more?  I just tried restoring a session and everything was working well for me now.  If working for you now, can you close this item?

[2021-02-08 13:04] irvinm commented on #2720
@viking2 may I suggest closing this item for now?  There isn't anything more that can be done on the TST side now and if the pull request doesn't fix the issue long term you can always reopen this issue.

[2021-02-08 13:14] irvinm commented on #2546
@Elaws given there isn't anything more to do on the TST for now, we are waiting for the pull request to be evaluated.  Unfortunately, there hasn't been any progress on that side and no check-ins since November.  Could you close this item and when the pull request is incorporated (in some form) and if it still doesn't work, we could always reopen this issue.

[2021-02-08 13:15] irvinm commented on #2801
@piroor any desire and\or evaluation if this is even possible?  (I'm with @Lej77 that this probably isn't possible yet)

[2021-02-08 13:17] irvinm commented on #2802
Interesting catch @andinus.  @piroor just wanted to make sure you saw this.

[2021-02-08 13:18] irvinm commented on #2800
@piroor is there anything you want to do here or should it just be closed out?

[2021-02-08 13:22] irvinm commented on #2779
@txtsd is this still an ongoing issue or can you close this item?

[2021-02-08 13:26] irvinm commented on #2796
@piroor just a friendly reminder on this one.

[2021-02-08 13:26] txtsd commented on #2779
I'm using the workaround so I'm not sure if the problem is actually fixed.
Seems like @piroor might still want more data to investigate why it happens. They may close it if they believe they've fixed the problem.

[2021-02-08 13:29] irvinm commented on #2660
Just checking in with everyone to see if people are still experiencing this situation and if there are any new observations.

[2021-02-08 15:03] stoically commented on #2720
@piroor  @irvinm Sorry for the delay, released TC 1.9.2, thanks for the PR!

[2021-02-08 20:33] ElhemEnohpi commented on #2796
For now, I have set "guess a newly opened tab" to "about:blank", so that it follows the setting for that. I had to set Firefox Home preferences to Blank Page for Firefox's new tab button to work. I'm not sure yet if it will cause other problems.

I would be happy if there was a setting for _all_ tabs that were not opened or duplicated from another tab, including bookmarks etc. Because I often have

[2021-02-08 21:23] viking2 commented on #2720
Works now. Thanks!

[2021-02-08 21:23] #2720 closed, assigned to nobody

[2021-02-08 22:22] mYnDstrEAm commented on #2774
Since recently it's not happening anymore for me either (same for the issue with the sidebar randomly becoming blank). Maybe it was related to an addon that I used and/or that change related to special URLs or was fixed in a Firefox update. If it occurs again I'll comment - seems to be fixed now. Thanks.

[2021-02-08 22:22] #2774 closed, assigned to nobody

[2021-02-09 04:13] piroor commented on #2796
OK, I've added a new expert option "Tabs from any other trigger" under the "New Tabs Behavior" section, with commits 844bb7074a2871c0ab25598178e9a2b042aa30d1 and 0869cade7fef03dea3f18657a42da7ab42af7077.

[2021-02-09 05:23] piroor commented on #2779
With recent commits, now TST applies this behavior only for focus changes triggered by mouse operations, by default. It should reduce unexpectedly applied cases more, so I think it is the time to close this issue.

[2021-02-09 05:23] #2779 closed, assigned to nobody

[2021-02-09 05:25] piroor commented on #2800
Thank you for a reminder, this looks to be closable.

[2021-02-09 05:25] #2800 closed, assigned to nobody

[2021-02-09 05:52] piroor commented on #2802
Sorry I missed this issue and I didn't know the container tab feature is disabled for private windows. With commits 980dd73 and 11b64fe, now TST deactivates the UI for private windows automatically.

[2021-02-09 06:23] piroor commented on #2801
As @Lej77 explained (thank you @Lej77 !) TST cannot be ported to non-Gecko browsers for now, due to API limitations.

And currently I have no plan to re-implement TST-like extension for other browsers by my hand, except when the time to exodus from Firefox come and there be no suitable alternative extension for me.

[2021-02-09 06:23] #2801 closed, assigned to nobody

[2021-02-09 06:52] piroor commented on #1677
@rsalmei Thank you for testing! Hmm, I've created a testing accont on workplace.com and tried the "View on Workplace" button in an email from workplace.com on pinned Gmail tab, but new tabs are opened at the end of the tab bar as I expected. Do you use any other addon related to workplace.com or Gmail?

[2021-02-09 10:47] laktak opened #2807 "New tab scrolls out of view"
## Short description

When I open a new tab, the tab is visible at the bottom but as soon as I click on a bookmark it scrolls out of view.

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3. Open new tabs (so you get to the bottom)
 4. Click on a bookmark (this will probably still be correct)
 5. Open another tab
 6. Click on a bookmark - the tab will scroll away

##

[2021-02-09 10:49] laktak commented on #2807
Also I tried to hide the new tab button but then it just scrolls below the screen.

[2021-02-09 12:59] ElhemEnohpi commented on #2796
This will be a good solution for me, thank-you!

One thing I notice though, is that "undo close tab" now follows that setting. I expected that a closed tab would be restored in the same place it was before, which is also the behaviour with browser.tabs.insertAfterCurrent.

[2021-02-09 13:28] piroor commented on #2807
It looks to be related to the "canceling visual gap" behavior for dynamically shown/hidden toolbars. TST 3.7.0 contains a change for the behavior (it is now suppressed except focus change triggered by mouse operations) so could you try the updated version?

[2021-02-09 14:36] andinus commented on #2802
Thank you!

[2021-02-09 14:36] #2802 closed, assigned to nobody

[2021-02-09 14:58] andinus opened #2808 "New tab selector & Container tab drop-down should be placed consistently"
## Short description
Enabling this option:

![tst-option](https://user-images.githubusercontent.com/62012039/105633608-844e0680-5e51-11eb-998c-2188c54093ec.png)

shows container selector option on the right side & moves the new tab selector to the left.

1. After this fix: https://github.com/piroor/treestyletab/issues/2802, container tab selector was removed from Private windows. That causes New t

[2021-02-09 15:01] andinus commented on #2808
If we just move the Container tab selector to the left then both issues are solved.

1. New tab selector stays on the right in all windows.
2. Container tab drop-down shows up on the left (when long-pressing new tab button) & that's okay because the selector is on the left now.

[2021-02-09 15:34] piroor commented on #2808
Thanks, changes introduced with commits 6a4fe13 and f9bf46d should improve the consistency.

[2021-02-09 17:47] rsalmei commented on #1677
Wow, how odd... 🤔

I don't think I use anything out of ordinary, but here it is my complete list of addons:
![image](https://user-images.githubusercontent.com/6652853/107404607-37bb2a00-6ae5-11eb-9f29-3080c0372714.png)
![image](https://user-images.githubusercontent.com/6652853/107404668-4570af80-6ae5-11eb-831e-6432294b0ac3.png)
![image](https://user-images.githubusercontent.com/6652853/107404714-5

[2021-02-09 20:33] laktak commented on #2807
Yes, 3.7.0 fixed it. Thank you!

[2021-02-09 20:33] #2807 closed, assigned to nobody

[2021-02-10 01:23] piroor commented on #1677
@rsalmei Ah, I got it! This problem is triggered by the Facebook Container. I missed that the unexpectedly behaved tab in your screencast has the container icon in the address bar. What happens when the problem appears is:

1. Firefox opens a new tab X near the opener pinned tab, with the `openerTabId` information.
2. TST starts handling of the tab X asynchronously, and it is detected as "a tab op

[2021-02-10 02:38] rsalmei commented on #1677
Wow, that's nice @piroor!! 👏
Yeah, the Facebook container icon was on the screencast all along, but nice catch!

And nice explanation of what does happen behind the curtains.
In the last step, which configuration would that be? "new tabs from any other trigger"
Could I fix it with some other config? I currently use:

<img width="634" alt="image" src="https://user-images.githubusercontent.com/66528

[2021-02-10 04:03] barkoder opened #2809 "Remove empty favicon placeholder when site icons and favicons are off. Help wanted."
## Short description
Hi!

I don't use favicons/site icons so I have them turned off in about:config. And they also [happen to be a privacy risk](https://www.cs.uic.edu/~polakis/papers/solomos-ndss21.pdf). So I always have them off.
Regular tabs in Firefox give me back the space that's normally used for those but I can't seem to get back the space in TST. Please help.

Thanks :)

## Steps to reprod

[2021-02-10 04:13] piroor commented on #1677
The option "Tabs from any other trigger" => "Open as: an independent tab" should affect to this case. Please note that the option is hidden by default and you need to activate expert options.

However, the option affects to various cases, including tabs opened by other addons. I'm afraid of too many side effects.

[2021-02-10 04:24] piroor commented on #2809
TST Options => Advanced => Extra style rules like following should do that:

[code]

[2021-02-10 04:27] rsalmei commented on #1677
Humm, I didn't know there was some even more advanced options, hidden by default...

I see. What do you suggest then?
Is it possible to fix it some other way?
Probably you'll have to open an issue on Facebook Container somehow, so they pass the correct `openerTabId`, right?

[2021-02-10 04:33] piroor commented on #1677
This looks to be the most right way. Such a change will improve compatibility of Facebook Container to other tab-related addons not only TST.

[2021-02-10 04:38] rsalmei commented on #1677
Ok, thank you for your time!
And congrats on the coolest addon ever! I'm a tabaholic, always with a few hundred tabs open, and couldn't do it without it.

[2021-02-10 05:55] piroor commented on #1677
I've reported this to Facebook Container's issue tracker.
https://github.com/mozilla/contain-facebook/issues/727

[2021-02-10 08:41] andinus commented on #2808
Thanks!

[2021-02-10 08:41] #2808 closed, assigned to nobody

[2021-02-10 20:36] barkoder commented on #2809
Thank you @piroor  :)

[2021-02-10 20:39] barkoder commented on #2809
![But is there some way to move the text further left](https://user-images.githubusercontent.com/70430094/107569214-f52a4800-6bdf-11eb-990f-d539c60eef5c.png)

But is there some way to move the text further towards the left edge?

[2021-02-11 00:47] irvinm commented on #2809
@barkoder you might want to check the instructions on how to inspect the CSS in the sidebar.  (https://github.com/piroor/treestyletab/wiki/How-to-inspect-tree-of-tabs)  From there you can see all the effective CSS and find what works for you.

In your case, you can simply change the tab label margin to 0 to get back a little space.  You can go further left, but you have to remember there are twist

[2021-02-11 18:16] grexe opened #2811 "organize tabs by domain, metadata, date, location, device"
## Short description

I constantly end up having 200+ tabs open and getting lost in them, despite serious attempts to keep them tidy.
When I found this extension, I was hoping to end this situation, but I am missing an important feature:

Re-organize by certain criteria to clean up the mess and trim down tabs by grouping similar ones under the same (sub)tree.
This could be done by reading metadata

[2021-02-11 19:33] barkoder commented on #2809
Thanks @irvinm that did move the text a little futher left. But is there some way to remove the twisties completely and move the text all the way over to the left? I always double click the tree's parent to expand and collapse anyway so I don't need the twisties.

[2021-02-11 22:55] irvinm commented on #2809
[code]

[2021-02-12 03:55] piroor commented on #2811
TST has a project policy to concentrated to basic tree features. Other more useful commands need to be provided by helper addons, e.g. [TST More Tree Commands](https://addons.mozilla.org/firefox/addon/tst-more-tree-commands/) ([issue tracker](https://github.com/piroor/tst-more-tree-commands/issues)).
https://github.com/piroor/treestyletab/blob/trunk/README.md#feature-requests

[2021-02-12 03:58] barkoder commented on #2809
Thanks @irvinm finally the text's all the way left.

[2021-02-12 03:58] #2809 closed, assigned to nobody

[2021-02-12 08:39] wsmwk commented on #2660
I have seen this. But I do not have any data.  For me, does not require restarting Firefox

[2021-02-14 11:05] 3DRaven opened #2813 "Show only pinned tabs"
Hi! Cool addon :) How about option to show only pinned tabs in side panel? It can be help show many of pinned tabs in few columns. It is possible with this extension?

[2021-02-14 11:11] 3DRaven commented on #2813
Now, if I close all unpinned tabs, then I can't set width of side pannel less than 7 columns of pinned tabs. It is bad behavior for this functionality :) And I think best solution it show unpinned tabs in top (default for firefox) and show pinned tabs in side panel with what I need columns.

Tnx.

[2021-02-14 11:20] 3DRaven commented on #2813
Screenshot

https://ibb.co/J7QJbTY

[2021-02-14 11:25] 3DRaven commented on #2813
And in this mode need to hide pinned tabs in default top panel of FF. This can be

{code}
.tabbrowser-tab[pinned="true"] {
    display: none !important;
}
{code}

[2021-02-14 11:36] 3DRaven commented on #2813
And need scroll of pinned tabs too.

[2021-02-14 11:40] 3DRaven commented on #2813
Now I used this css in userChrome.css

{code}
.tabbrowser-tab[pinned="true"] {
    display: none !important;
}

#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
  display: none;
}

#sidebar {
  min-width: 10px !important;
}
{code}

And get only pinned tabs panel without scroll. How to add scroll to the right side of side panel? And better is totaly hid

[2021-02-14 11:41] 3DRaven commented on #2813
Screenshot

https://ibb.co/PYTj06M

[2021-02-15 20:05] piroor commented on #2813
I convert this to a discussion because this looks to be not an issue report.

[2021-02-15 20:05] #2813 closed, assigned to nobody

[2021-02-15 20:40] ElhemEnohpi commented on #2796
@piroor thanks again for adding the new "Tabs from any other trigger" option. I'm just hoping it would be possible to change it to match the behaviour of browser.tabs.insertAfterCurrent, so that "undo close tab" would still restore to where it was previously, rather than to the setting of the new option.

What I'm trying to avoid is tabs opening at the very end of the tab (side)bar, when it's unkn

[2021-02-16 01:38] piroor commented on #2796
Such a restored tab has its original tree structure information and its index, so they are treated as a tab opened as a child of some another tab with specific index - TST respects them. The option "any other case" should affect to cases only when there is no hint to construct tree structure for a newly opened tab, and it won't affect to this case by design, sorry.

[2021-02-16 02:13] piroor commented on #2796
I think you should use something another extension to enforce "open new tab next to the current tab" behavior (sorry I don't know such an extension actually exists or not). It is clearly out of purpose of this TST project.

[2021-02-16 12:57] fghimis opened #2817 "Using Ctrl-T keybinding in about:addons -> Manage Extension Shortcuts"
Hello! Is there way for Tree Style Tab to read the Accel key from Firefox's configuration (or to be set explicitly)?
I use a different **ui.key.accelKey** (Alt, instead of Ctrl), but [here](https://github.com/piroor/treestyletab/blob/90b6d2232b68efbd4bcd692f4d6f9292c97af070/webextensions/common/handle-accel-key.js#L14) it seems it's hard-codded based on Mac/otherwise.

## Short description
I want

[2021-02-16 13:46] fghimis commented on #2817
I think it's a Firefox issue. If I bind Ctrl-1 to toggle TST and press Alt-1 it will toggle it.
This issue can be closed.

[2021-02-16 14:41] #2817 closed, assigned to nobody

[2021-02-16 15:31] silverwings15 commented on #2796
there is one and i use it myself, works well enough although not perfect all of the time, but i also can't tell which addon in the chain is responsible for the occasional faulty interaction: https://addons.mozilla.org/en-US/firefox/addon/open-tabs-next-to-current/

[2021-02-16 16:24] fghimis commented on #2637
@piroor Can you still use a keybinding to Indent/Outdent current tab link [here](https://github.com/piroor/treestyletab/issues/2637#issuecomment-656125396)? I can't find it in **Manage Extension Shortcuts => Tree Style Tab**.

[2021-02-16 16:33] ElhemEnohpi commented on #2796
@piroor Thank you for the explanation. I apologize if I'm not clear about this. I would like the new option to *not* affect the restore position of closed tabs, as you have described. TST should respect the tree structure information, and put the restored tab back to the same place. It sounds like that's what you intend, so I think we agree! But I'm experiencing that it  does affect restored tabs.

[2021-02-16 17:01] piroor commented on #2817
Hmm, I missed cases with customized `ui.key.accelKey`. I've introduced a new expert option to support changed accelerator key for tab switching shortcuts. I hope it help you.

[2021-02-16 17:03] piroor commented on #2637
@fghimis Those features are not built-in commands now, and were moved to a helper addon TST More Tree Commands https://addons.mozilla.org/firefox/addon/tst-more-tree-commands/

[2021-02-17 05:03] 1zaman opened #2818 ""Replace closed parent with a dummy tab" option not working"
## Short description

The option for replacing closed parent with a dummy tab in the section "Recommended behavior for people who still use the native tab bar of Firefox itself also" does not seem to do anything, and retains the behaviour of promoting the first child, even when the sidebar is open.

The same option inside the section "Recommended behavior for people who never use the native tab ba

[2021-02-17 05:50] 1zaman opened #2819 "Last remaining child in group with dummy parent is closed automatically"
## Short description

Using a custom configuration of handling the closing of parent tabs, the last remaining child is automatically closed along with the group as soon as the other child tabs are closed. The configuration that triggers this behaviour is as follows:

Here's a screenshot showing the configuration as described above:

![Tree Style Tab Bug Configuration](https://user-images.githubuse

[2021-02-17 11:25] ElhemEnohpi opened #2820 "Unexpected behaviour of "undo close tab" with keyboard shortcut"
## Short description
Using the "undo close tab" keyboard shortcut (shift-cmd-T on Mac) gives different and unexpected results than choosing the same thing from Firefox's History > Recently Closed Tabs, such as opening multiple copies, in a different place, and older closed tabs.

## Steps to reproduce

1. Start Firefox with clean profile.
2. Install TST.
1. Create five new tabs. Make the second on

[2021-02-17 13:20] ElhemEnohpi commented on #2796
In addition to affecting the restore of closed root tabs (without parents), the "Tabs from any other trigger" option also affects the use of Tab Session Manager. When a session is restored, root tabs follow the option, so for example if you set it to "a child of the current tab", then all root tabs are restored as children of the first tab; with "next sibling", the root tabs are restored in revers

[2021-02-17 16:09] piroor commented on #2818
Thanks, after a research I've realized that there are some wrong codes which were produced with simple replacement of symbols. The commit 521da21 should fix this issue, and I've added a regression test also.

[2021-02-17 16:57] piroor commented on #2819
Thanks! The result is reasonable from the combination of calculated behaviors but I agree that it is not user-friendly. The commit f997362 should fix this.

[2021-02-17 18:30] piroor commented on #2820
I've confirmed this. It looks to be caused by duplicated restoration of multiple tabs closed at a time, by both Firefox and TST.

[2021-02-17 18:45] piroor commented on #2820
The commit 3e7dce5 should fix this, but I'm afraid that there can be some possible regressions...

[2021-02-18 16:57] piroor commented on #2796
@ElhemEnohpi Thanks, I've fixed the inconsistency, with the commit 39190238e. TST applies old tree structure for a restored tab after it was controlled as a new tab from unknown trigger, and the combination resulted unexpected position.

[2021-02-19 16:33] irvinm opened #2822 "API Question: Events during TST upgrade"
## Short description
When TST is upgraded in Firefox, my helper addon does not receive any events that TST is going out of context or when it returns into context.  Disabling\re-enabling my addon or restarting Firefox re-establishes everything properly.

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install older version of TST.
 3. Install helper addon.
 4. Upgrade TST with new

[2021-02-20 01:55] irvinm commented on #2822
Trying to figure this out a little more, I looked at the logs when disabling and enabling TST in my main profile and everything works fine in this scenario.

At point 1, everything is working fine.  TST is then disabled via about:addons and we can see the connections closed and the promise rejected.  At point 2, the helper addon sees the rejected promise and enters into uninitFeaturesForTST() whic

[2021-02-22 14:57] ElhemEnohpi commented on #2796
Restoring with "undo closed tab" seems to be working now, thanks!

I'm continuing with testing. I found that it also affects new blank tabs that are opened as an independent tab by TST. For example, if you set click or middle-click etc. on new tab button to "independent tab", or if you choose "independent tab" from the selector button, it will open according to the "Tabs from any other trigger" se

[2021-02-24 00:25] lideming commented on #2339
Firefox 86 is released and this issue is fixed. 😄

[2021-02-24 00:37] #2339 closed

[2021-02-24 01:44] irvinm commented on #2342
@piroor I think this can be closed as well.

[2021-02-24 01:46] irvinm commented on #2811
@piroor I think this one can be closed as well.

[2021-02-24 01:47] irvinm commented on #2820
@ElhemEnohpi is this resolved for you?  If so, can you close this item?

[2021-02-24 01:48] irvinm commented on #2819
@1zaman is this resolved for you?  If so, can you close this item?

[2021-02-24 01:49] irvinm commented on #2818
@1zaman is this resolved for you?  If so, can you close this item?

[2021-02-24 01:58] piroor commented on #2342
Thank you for a reminder!

[2021-02-24 01:58] #2342 closed

[2021-02-24 01:59] #2811 closed, assigned to nobody

[2021-02-24 03:17] piroor commented on #2822
What happened on your environment maybe:

* A) TST failed to memorize the ID of your addon. TST won't send any notification to unknown addons. (TST's problem)
* B) TST memorized the ID of your addon, but didn't send a "ready" message to your addon. (TST's problem)
* C) TST memorized the ID of your addon and tried to send a "ready" message, but it was not delivered to your addon. (TST's problem or

[2021-02-24 11:41] ElhemEnohpi commented on #2820
It seems to be resolved, but I haven't tested it very much, so I don't know about the "possible regressions"... I guess I can close it and re-open if I find anything.

[2021-02-24 11:41] #2820 closed, assigned to nobody

[2021-02-24 12:28] irvinm commented on #2820
Thanks @ElhemEnohpi ... definitely re-open if there any other issues.

[2021-02-24 12:50] irvinm commented on #2822
Looking into cachedExternalAddons, it does not look like my addon is in there:

cachedExternalAddons:  ["{731bf636-c808-4c86-b02f-af462eccc963}","{7aa0a466-58f8-427b-8cd2-e94645c4edc2}"]

![image](https://user-images.githubusercontent.com/979729/109001226-b336e280-7672-11eb-86c3-6cdc977bc3dd.png)
![Snag_401759](https://user-images.githubusercontent.com/979729/109002426-3442a980-7674-11eb-935f-0e50

[2021-02-25 08:16] 1zaman commented on #2818
Thanks, this is resolved for me in 3.7.2.

[2021-02-25 08:16] #2818 closed, assigned to nobody

[2021-02-25 08:35] 1zaman commented on #2819
This is resolved for me in 3.7.2, thanks!

[2021-02-25 08:35] #2819 closed, assigned to nobody

[2021-02-25 09:41] 3DRaven opened #2825 "Separation line between pinned and standard tabs have moved to up every time"
## Short description
When we opened more and more tabs then line between pinned tabs and standard tabs moved to up, but never go down.
## Steps to reproduce
Just open lot of pinned tabs and start to open standard tabs
## Expected result
Need to make separation line between pinned tabs and standard tabs movable or set percent between this type of tabs adjustable in settings or css.

## Actual resul

[2021-02-25 12:33] piroor commented on #2825
TST already has the option: Appearance => Maximum height of the area for pinned tabs (please note that you need to activate expert options to show the input field)
![image](https://user-images.githubusercontent.com/70062/109153945-f1d2b700-77b0-11eb-853f-6cf8e8e2fd64.png)

[2021-02-25 12:36] piroor commented on #2825
Currently I have no plan to implement any draggable separator, because TST's sidebar is not designed to insert such a special element. Current behavior was introduced just as a workaround, sorry.

[2021-02-25 13:25] 3DRaven commented on #2825
It is strange, I set it to 100% and didn't have any effect. Any value of this option do not have any effect.

[2021-02-25 13:32] 3DRaven commented on #2825
A, it was my mistake :) This line placed on the end of pinned tabs and I haven't pinned tabs for place this line on 100% of height of window :)

All work fine, thank you!

[2021-02-25 13:33] #2825 closed, assigned to nobody

[2021-02-25 22:26] fragande commented on #2339
Can confirm, great news :) Major annoyance gone.

[2021-02-26 01:19] irvinm commented on #2822
So in a clean profile what I did which worked fine:

- Installed previous release of TST ... 3.7.1
- Installed my addon
- Verified that my addon is listed under cachedExternaladdons

![image](https://user-images.githubusercontent.com/979729/109239241-027c3080-77a3-11eb-9360-51ce2e3ed49b.png)

- Checked for addon updates and allowed TST to upgrade to 3.7.2.
- Verified that my addon is still listed

[2021-02-26 13:39] piroor commented on #2822
After reading your additional comments, I've realized that `cachedExternalAddons` and other related options are not listed in `localKeys`. This means that they were possibly replaced with blank value (from another device with no helper addon), if you use multiple devices and activate Firefox Sync. Does your case match to this description? Then I've added such keys to the list of not-synchronized o

[2021-02-26 14:21] irvinm commented on #2822
@piroor that is definitely my use case.  I only use the helper addon on maybe 2 of my machines ... and the rest do not.  As I am not currently publishing the addon via AMO, I have to install it manually and hence it is not propagated to all of my profiles.

Your theory makes sense and I am guessing the commit will help.  I will monitor the situation, but I think we have a good plan moving forward.

[2021-02-26 14:21] #2822 closed, assigned to nobody

[2021-02-26 14:52] piroor commented on #2796
Thanks, it is a bug and should be fixed with the commit ca2da89.

It is one of major, expected (and of course not desired) side effects of the new option, and that is the reason why I didn't add the option.

Hmm, it looks effective only for tabs opened in middle of existing tabs. Even if a new tab is opened  with the last index explicitly, TST cannot know that - such a tab and opened with no index

[2021-02-26 16:41] hotsphink opened #2826 "Dragged tab obscures bookmarks toolbar"
## Short description

When I drag a tab to the bookmarks toolbar, the tab name covers up the folder I'm trying to drop it into, making it very hard to get to the right place (especially if attempting to file it into a nested folder.)

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3. Reveal the bookmarks toolbar if you don't already have it (View / Toolbars / Bookma

[2021-02-26 21:04] piroor commented on #2796
I think it is a bad idea that struggling around this conflict with TSM, for both TST and TSM. The root problem is poorness of WebExtensions API, and too much workarounds make things too complicated. What problems we should solve are:

* Firefox doesn't provide any information to detect "new tab opened from external application"
* Firefox doesn't provide any information to detect "new tab opened by

[2021-02-27 12:50] grahamperrin commented on #2534
https://github.com/piroor/treestyletab/issues/2534#issuecomment-614143599

Consider yesterday's https://bugzilla.mozilla.org/show_bug.cgi?id=1694699#c21 and subsequent comments.

Might anything there help to identify what causes the issue here?

If not, please hide this comment as off-topic.

### Postscript

The fix for 1694699 [was uplifted](https://bugzilla.mozilla.org/show_bug.cgi?id=1694699#c3

[2021-02-27 13:10] grahamperrin commented on #2660
Occasionally comparable symptoms when, for example, restoring a session of around 1,400 tabs with umpteen other extensions enabled whilst the computer is unusually busy with other things (consistently high disk/file system I/O for an extended period).

Maybe comparable only in the blankness, which, if I recall correctly, occurs after disappearance of the side-to-side asynchronous progress indicato

[2021-02-27 14:11] irvinm commented on #2822
Just an FYI, I checked the cached state this morning and my helper addon isn't there any more.  I think the Firefox Sync theory was a good idea.

["{7aa0a466-58f8-427b-8cd2-e94645c4edc2}","{731bf636-c808-4c86-b02f-af462eccc963}"]

[2021-02-27 23:49] danadam opened #2827 "Tree not expanded when focus received after closing another tab."
## Short description
With option "When a tab gets focus, expand its tree and collapse other automatically" ON (which is the default), after closing a tab, another, collapsed tree gets focus and stays collapsed.

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3. Open three tabs: A1, A2, B1 and B2.
 4. In TST move A2 as a child of A1 and B2 as a child of B1.
 5. Focus

[2021-02-28 03:36] piroor commented on #2826
OK, I've changed the offset of the drag image. Now it is rendered at bottom-right of the cursor.
![image](https://user-images.githubusercontent.com/70062/109407034-1e5d1d80-79c1-11eb-93a5-44b59596a041.png)
Due to some restrictions TST cannot use a thumbnail as the drag image, thus I still use the tab element itself.

[2021-02-28 14:44] piroor commented on #2534
Thank you @grahamperrin, I still don't know the change affect to this problem or not, but I think we should pay attention for new Nightly builds containing the change.

[2021-02-28 16:29] ElhemEnohpi commented on #2796
Thanks for fixing that bug, and for the other information.

I can see that it would be better if there was an improvement to the extensions API, instead of having to guess at how tabs were opened. For now, I'm just turning it off when I need to restore a session. Otherwise, it seems to be working well, and it's a big improvement for me, so thanks again. Fyi, I use the "[PopClip](https://pilotmoon.

[2021-02-28 17:12] piroor commented on #2827
It looks not a bug but an intentional result. There is a hidden expert option "Except focus moving caused by closing of the current tab" and it is checked by default. Turning it off will produce the expected result for you, could you try that?
![image](https://user-images.githubusercontent.com/70062/109426940-61f06f80-7a33-11eb-9078-f87a172214dc.png)

[2021-02-28 17:56] piroor commented on #2796
Hmm, it would work with TST better if it was provided as a browser addon instead of a native application... A browser addon can open a new tab with an extra information "the opener tab", and TST treats such a tab as a child of the opener tab by default, but native applications cannot do that.

Indeed, an addon [Swift Selection Search](https://addons.mozilla.org/firefox/addon/swift-selection-search

[2021-02-28 21:22] danadam commented on #2827
Yep, that works.

Out of curiosity, is it some recent change? Because I remember it working as I expected not so long ago, without me needing to change this option.

[2021-02-28 22:37] ElhemEnohpi commented on #2796
Well, Piro, you don't need to be so modest! TST is in the top 25 of "recommended" extensions by number of users, and I think it's one of the most famous addons... In any case, most addons wouldn't need to use the tab-opening API, especially if there was an improved Firefox API to indicate a tab opened by an addon. But for some that specifically have support for TST, like TSM, it could provide some

[2021-03-01 00:45] piroor commented on #2827
The option was introduced at very early versions of TST while it was a XUL addon. If you use multiple devices with Firefox Sync, or if you reinstalled TST, the option may be restored to the default value even you didn't desired that.

[2021-03-01 02:15] Nano-Ocelot opened #2828 "(SUGGESTION) Apply Theme to Bookmarks Panel"
When using the bookmarks subpanel add-on, the theme for it isn't matching the rest of the sidebar or even the default bookmarks sidebar for that matter. I'm not sure if this is a bug or not but I think it would look much better if they matched.

## Steps to reproduce

 1. Install both extensions with something other than the default firefox theme active. I'm also using firefox CSS theming if that

[2021-03-01 04:22] danadam commented on #2827
Hm... I neither use Firefox Sync nor did I reinstall TST. Well, doesn't matter. Thanks for the help!

[2021-03-01 04:22] #2827 closed, assigned to nobody

[2021-03-02 17:51] hotsphink commented on #2826
Perfect! I just got the updated version, and it resolves my issue completely. Thank you!

[2021-03-02 17:51] #2826 closed, assigned to nobody

[2021-03-02 19:22] aleksandrpetushkov opened #2830 "Suddenly behavior "Duplicate tabs (middle click on the "Reload" button, etc) on different PC."
I created clean profile on my work PC, change "duplicate tabs (middle click on the "Reload" button, etc)" and see this result.

![Alt Text](https://s4.gifyu.com/images/wrk_.gif)

This behavior was very interesting because in my home PC work ok.
I've copied that profile from that at work PC to my home PC and all work ok.
![Alt Text](https://s4.gifyu.com/images/home_.gif)
I repeat "create-copy work-

[2021-03-03 12:23] irvinm commented on #1760
@piroor given they have marked this item as "WONTFIX", should we just close this item?  It is unfortunate.

[2021-03-03 12:32] irvinm commented on #2687
@michaelm2391 just checking in to see if anything has changed with regards to this item.

[2021-03-03 13:24] piroor commented on #1760
OK, I close this because Firefox's bug is already closed as WONTFIX.

[2021-03-03 13:24] #1760 closed

[2021-03-03 14:01] piroor commented on #2830
Hmm, this is quite odd behavior. I couldn't reproduce it on my Windows 10 PC.

When you saw the unexpected result, could you try closing and reopening the sidebar? If you see correct behavior after the sidebar reopened, the problem can happen around synchronization between the background process and the sidebar. Otherwise the problem looks to happen in the main background process.

[2021-03-03 19:09] michaelm2391 commented on #2687
It happens less often but I'm still getting long load times at firefox
startup.

On Thu, Mar 4, 2021 at 1:32 AM irvinm <notifications@github.com> wrote:

--
Michael McClelland
michaelm2391@gmail.com

[2021-03-04 14:10] rsalmei commented on #1677
Oops, I said too early.... 😞

~Hey, workplace links now are flashing (Facebook Container) but being reopened at the same location!~
~Something was fixed or worked around! 🎉~

[2021-03-05 16:09] filyp opened #2831 "Chromium extension?"
Are there any plans to make a chromium extension in the future? I know there are chromium alternatives, but this extension works MUCH better than any I've seen.

[2021-03-06 03:20] natenate19 commented on #2826
Not a huge fan of this change, though I understand why this was done.  Moreover it seems buggy here, occasionally when dragging tabs, the tab drag image is nowhere near the cursor, and instead 400-500 pixels to the right of the cursor, out in the middle of the window.

I'm on macOS 11.2.2, Firefox 86, and TST 3.7.3 fwiw.  I seem to be able to reproduce the issue when moving a child / descendent ta

[2021-03-06 12:31] piroor commented on #2831
Did you see the FAQ?: https://github.com/piroor/treestyletab#faq--frequently-rejected-requestsproposals

[2021-03-06 12:33] piroor commented on #2826
@natenate19 Do you use a retina display? The change I did can be buggy on a hi-dpi environment for now.