[2019-04-13 05:54] Fanolian commented on #2227
Thanks for the quick fix.

[2019-04-13 05:54] #2227 closed

[2019-04-13 22:16] azizLIGHT commented on #2228
@stapuft While I understand your frustration, its not exactly the right place for it. We're looking for actionable information. Something we can test, repeat, and fix. For that to happen, we need things like version information for Firefox, TST, etc, among other things described in the issue template. Only then can we help

[2019-04-14 06:20] GhostyGamesDotCom commented on #2223
Thank you Piroor!

[2019-04-15 17:15] Inari-Whitebear commented on #2197
So has anyone actually resolved this issue? The "apply browser theme" under Appearance is already off, but it still happens. Even toggling it doesn't fix that.

[2019-04-16 05:34] piroor commented on #2197
@Inari-Whitebear Could you take a screenshot of the "Appearance" secion of TST's options? If TST unexpectedly applies browser theme, colors from the theme will be listed above the input field of the user stylesheet.

[2019-04-16 06:15] piroor commented on #2231
Thanks, 79038fe should fix this.

[2019-04-16 06:19] piroor commented on #2230
Sadly TST cannot apply a special behavior for tabs opened wit h"Open All in Tabs" command for a bookmark folder. This is one of WebExtensions restrictions. `webNavigation` API looks to provide ability to know which is the context the tab is loaded, and there is a value `auto_bookmark`, but it is not supported yet on Firefox.

[2019-04-16 06:46] piroor commented on #2230
See also: https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/webNavigation/TransitionType

[2019-04-16 08:03] stapuft commented on #2222
somehow.....this
[code]

which to me would make the scrollbar larger, actually made it disappear, even though the option in appearance is broken this did indeed work as that option used to work (make the scroll bar disappear and stay hidden permanently)

[2019-04-16 08:21] piroor commented on #2229
The result looks to be produced with the option: "New Tabs Behavior" => "When new tabs with a website same to the current tab is opened from the location bar (or othres)" => "Open as a child of the current tab". I've introduced some changes to ignore for the option when multiple tabs are opened in a time, so this should be fixed in the next release.

[2019-04-16 08:45] piroor commented on #2191
Firefox Options => General => Startup => Restore Previous Session case:

 1. Firefox is started.
 2. Firefox restores the previous session.
 3. TST is started, and wait until Firefox ends to open tabs (for the session restoration).
 4. Firefox finishes to opentabs for the session restoration.
 5. TST continues its initialization process. All tabs are already there, so TST successfully applies "the

[2019-04-16 09:28] piroor commented on #2190
Sorry but basically I'm still negative to support import/export all configurations of TST.

* TST is designed to synchronize most options via Firefox Sync, and it is the recommended method to share configs between multiple devices. TST has some platform-specific options, and they should not be shared between devices. TST ignores such environment-specific options on the Firefox Sync, but doesn't on

[2019-04-16 17:13] Inari-Whitebear commented on #2197
![firefox_yGwQN5gnUv](https://user-images.githubusercontent.com/1077971/56230033-a5c66f80-607b-11e9-997e-037f4bf1e061.png)

[2019-04-17 01:26] piroor commented on #2197
Sorry I did a typo: "Advanced", not "Appearance". Anyway, I've realized that those confusing checkbox should be updated for better discoverability.

[2019-04-17 01:48] Coldblackice opened #2232 "New tab opens at very bottom of tree + can't be selected"
This happens so randomly, I don't know how I could catch it even with a clean profile. When spawning a new tab, the tab doesn't appear in the current sub-tree, but instead all the way at the very bottom of the entire tab tree. Additionally, this tab cannot be clicked or chosen in any way, even by selecting a nearby tab and trying to ctrl-tab to it.

Further, as soon as this happens, "Session Manag

[2019-04-17 02:46] piroor commented on #2197
![image](https://user-images.githubusercontent.com/70062/56257184-58431480-6106-11e9-9d0b-9a7879bffef1.png)
I've added screenshots beside these checkboxes.

[2019-04-17 10:37] piroor commented on #2232
On my environment, I've seen similar problem with Nightly 68.0a1, while debugging of TST. At the time I got grayed-out sidebar and all addons were completely dead. On my case the problem happend when I opened options pages of addons. I opened the debugger for TST before the problem happened, and after that the debugger said that there is no existing windows for TST (on the other hand, while TST is

[2019-04-17 13:18] yshui opened #2233 "TreeStyleTab + STG leaks memory when URL changes frequently"
## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3. Install Simple Tab Group
 4. Enable both plugin
 5. Goto this page: http://matthewrayfield.com/articles/animating-urls-with-javascript-and-emojis/
 6. Click on one of the check boxes to enable URL changing javascript

## Actual result

WebExtensions process consume a lot more CPU compared to when the plugins are disa

[2019-04-17 13:21] yshui commented on #2233
Upon further investigation, seems to be a STG problem only

[2019-04-17 13:21] #2233 closed

[2019-04-17 14:40] piroor commented on #2218
@jasonswearingen How do you use Firefox Multi-Account Containers as? I don't use it personally so I'm not familiar how it works on daily web browsing. If you see broken tree with FMAC too frequently, I think that you may know scenarios to reproduce such a situation.

[2019-04-17 14:43] piroor commented on #2218
I've tried Firefox Multi-Account Containers's "Sort Tabs" command and it completely broke tree of tabs. It may be one of triggers of this kind reports.

[2019-04-17 15:40] piroor commented on #2218
After I researched I've realized that "Sort Tabs" command scrambles all tabs, so I've given up to make TST compatible with the feature...
See also: https://github.com/mozilla/multi-account-containers/issues/1373

[2019-04-17 16:46] jasonswearingen commented on #2218
@piroor  I've never used FMAC "sort tabs", but I see TST getting confused when manually re-aranging a tab opened in a FMAC container.   I think it also got confused when opening new non-default FMAC tabs.

That said, I just tried repoing and it looks like things are working now.   Did you update TST to fix this?   If not, maybe me going through the TST options and trying to disable anything relate

[2019-04-17 18:37] piroor commented on #2218
@jasonswearingen On TST 3.0.7 I changeed some operations around multiple tabs opened at a time. Those changes possibly affect to stability about generic operations around new tabs.

[2019-04-17 18:39] jasonswearingen commented on #2218
after using it a few minutes, everything seems to work propertly (moving, opening, closing of FMAC tabs)

my use case of FMAC is isolating my google identity into it's own container, other than that I just use tabs and TST as normal.

[2019-04-17 18:54] piroor commented on #2199
FYI: On TST 3.0.6 I've fixed one of hanging up cases on the startup. And. On 3.0.7 there are some changes around multiple tabs opened at a time. These changes possibly affect to this topic, so more testing looks to be required.

[2019-04-19 00:24] private-lock commented on #2133
Did you see the [wiki](https://github.com/piroor/treestyletab/wiki/How-to-inspect-tree-of-tabs)?

[2019-04-19 14:45] private-lock commented on #2049
I was reading up some 18 fresh tabs of a topic, for which I already had a tree open elsewhere (that tree was restored after closing and opening Firefox). So I expanded that bigger, but currently unloaded tree, selected the so far independent root of today's 18 tabs and moved it into a subnode of the unloaded root (appending at the end of the first level child list). Then I hibernated the computer

[2019-04-19 19:27] PowerAccess commented on #2199
@piroor, thanks so much for implementing some fixes related to that!Q

I switched to using the latest version on Github master after your reply yesterday. Though I need to test further, it seems to have at least reduced the frequency and severity of these issues, though I believe not eradicating entirely.

For example, as encountered just now, even after switching to latest version of TST from Git

[2019-04-19 20:29] PowerAccess commented on #2199
@piroor,

Instead of throwing an error after numerous failed sync attempts, can you just reinit TST or recreate the broken TST window?
Specifically, can you reinit TST once retryCount > 10 instead of throwing an error in syncTabsOrder() at that point, which just compounds the issue and results in increasingly corrupted state with new semi-unrelated errors occurring, including errors onMouseDown()

[2019-04-19 20:36] PowerAccess commented on #2199
@piroor

I've also found that opening multiple tabs at once (like via "Open All in Tabs" for a folder from Bookmarks Toolbar) seems to cause corruption to occur more often.

I noticed what might be a trend with how the tabs are being incorrectly reordered, especially when opening multiple at once, and was wondering if might be helpful or if has already been addressed.

### Repeated, Persisting Mis

[2019-04-19 20:36] PowerAccess commented on #2199
### Question about syncTabsOrder() Deferred / Cached Tab Sync:

Isn't syncTabsOrder() just essentially comparing whether internalOrder == trackedWindow.order, (where internalOrder is set from TabsStore.windows.get(message.windowId).order) and, if so, then you set trackedWindow.order = (the new) internalOrder and, if not, then you deferring the syncTabsOrder() call until later (via reserveToSyncTab

[2019-04-19 21:36] stapuft opened #2234 "tab wont close"
## Short description

open firefox, avast (my antivirus) opens a tab for an extension it wants me to use, but i have tried and hate, so dont want to use, so i close the tab, or try to anyway, but the tab wont close, also all new tabs are opening at the top of the list instead of the bottom

## Steps to reproduce-try to close tab, tab appears to close, but is still in TST menu

problem 2
open new t

[2019-04-19 21:44] stapuft commented on #2234
other bugs i am running into appear to be

incorrect tab, (i click on a tab and another tab will load instead of the one i clicked)
ordering (my tab order is messed up....again)

[2019-04-19 22:00] stapuft commented on #2234
make that 6 even new child tabs appear at the top of the list
![image](https://user-images.githubusercontent.com/46431157/56445781-fda7e500-62cc-11e9-94bb-bb0359037598.png)

[2019-04-19 23:08] stapuft commented on #2234
random side thought it **could** possibly be windows i am on ver. 17763.437 and there have been a few issues with drivers and things like that **_widely_** reported on this version of windows, (like audio drivers messing up which i am currently experiencing aswell)

[2019-04-20 00:32] PowerAccess commented on #2199
Unfortunately, the recent fixes did very little to resolve the issues with unclickable tabs, like happened again, after just a few minutes of usage and manually creating a few tabs (not even opening a bookmark folder), as detailed below:

### Errors Occurring with Latest Fixes from Git

First error occurs like always during init() in background.js:

`Error: Could not establish connection. Receivin

[2019-04-20 00:35] PowerAccess commented on #2199
### Complete Sequence of Errors in Console (Filtered to just TST) from Previous Reply

Here are just the errors/Console output from TST (using latest version from Git master with Firefox Nightly):

Here are just the errors/Console output from TST (using latest version from Git master with Firefox Nightly):

14:46:12.186 The character encoding of the HTML document was not declared. The document wil

[2019-04-20 05:03] PowerAccess commented on #2199
Also, every time I open a tab too quickly while TST is first initializing, eg. if I click a bookmark in Bookmark Toolbar (to open in current tab, replacing the one New Tab empty home page I have set to auto open) before TST sidebar auto-opens and/or before its populated with any tabs, then I end up with Favicon loading error and the icon shows animated loading placeholder favicon forever, even hou

[2019-04-20 20:01] wdtglrn opened #2235 "How do you set tree behavior to inactive?"
This is a great extension, but the trees are confusion. I find that tabs sometimes don't appear and I'm not sure how to work it. I'm using this as a replacement the above-the-url tab windows.

Can I set it so that all the tabs are on the same level without any hierarchies?

[2019-04-20 23:57] PowerAccess commented on #2199
With latest version from Git master, not only do tabs opened (in same or new tab) from bookmarks bar, etc. during (and/or possibly before) TST sidebar initialization (or soon after Firefox startup) end up with Favicon loading errors, but sometimes they even are unable to be closed (closing them in tabbar results in them still never being closed in TST, and clicking X on leftover tab in TST (even t

[2019-04-21 03:56] hmijail commented on #2133
I didn't. Thank you, will try following those instructions.

[2019-04-21 03:56] #2133 closed

[2019-04-21 03:59] Lej77 commented on #2235
The [readme has a section on how to disable automatically organized trees](https://github.com/piroor/treestyletab#i-dont-need-automatically-organized-tree-instead-i-just-want-to-organize-tree-by-myself). Note that after you can turn off `Debug mode` after you have changed the hidden settings.

[2019-04-22 08:21] myBestSoftAndPref opened #2236 "Tree Style Tab "compact" theme"
The theme is used with **1 level** tree level limit.

**How to**
1. Peek "mixed" or "plain" **Tree Style Tab** theme in **Tree Style Tab** _Preferences_
2. Peek "Compact" Firefox theme in Firefox `Customize...` menu
3. Take [this folder](https://github.com/myBestSoftAndPref/soft/tree/master/src/firefox/chrome) and put it to you Firefox profile, e.g `/home/user/.mozilla/firefox/XXXXXXX.default` Whe

[2019-04-22 21:47] PowerAccess commented on #2199
@piroor

Now with latest revision (after Git Pull again) I am getting the following critical errors and issues, including more issues (unrelated to unclickable tabs / wrong tab index), as detailed below:

1. Tab display order is wrong, with "Amazon.com - Your Subscribe & Save" shown at bottom, when should be the 2rd tab (after "Home").

![image](https://user-images.githubusercontent.com/4053734/56

[2019-04-22 22:36] PowerAccess opened #2238 "v3.0.7 Critically Broken: 1st Tab Never Loads, Last Never Clickable, Wrong Display Order, Clicking Temporarily Activates Wrong Tab, syncTabsOrder() Never Completes, Need Auto Reinit on Mismatched Tabs vs. Thrown Errors"
@piroor

The latest TST v3.0.7 (obtained from Git) has numerous critical errors rendering is essentially unusable, from the moment first opened, which I've summarized below, together with associated logged errors and debugging results.

### Related Issues Summarized Here

I've also summarized here (and in my following comments/replies here) the most important points, debugging results and potentia

[2019-04-22 22:58] PowerAccess commented on #2238
### Debugging Results and Errors Summarized from Issue #2199

Please find below results of debugging with latest version from Git, as taken from [this reply](https://github.com/piroor/treestyletab/issues/2199#issuecomment-485043975) to issue #2199. I've included this here for easier referencing (vs. that longer issue thread), and because it relates primarily to issues described in this bug report,

[2019-04-22 22:59] PowerAccess commented on #2238
### Observations from Debugging and Proposed Changes

It seems like that ends up preventing syncTabOrder() from every running again (just endlessly deferring via reserveSyncTabOrder), possibly due to reasons outlined in my previous reply, because its waiting for internalOrder == trackedWindow.order (and if not, then defers the syncing via reserveSyncTabOrder() until reaches 10 deferrments them jus

[2019-04-22 22:59] PowerAccess commented on #2238
### Suggested Alternatives to Reduce Frequency of Issues

In addition to fixing underlying issues described (eg. for syncTabsOrder() seeming to never complete, never correcting) at least for the most critical and recent issues, I would also suggest that instead of throwing errors in syncTabsOrder() if/when tabs ever do get out-of-sync (as is likely to remain an issue to some degree), which appears

[2019-04-23 00:19] piroor commented on #2238
Is there any steps to reproduce? I'm not well about English, so reading large reports describing about "what is happened/happening" requires painfully much time and energy. Instead "how to reproduce" may be easier to read in general cases, especially cases there is screenshot or screencast. (Detailed report about what's happening will help investigation after I successfully reproduce the problem o

[2019-04-23 07:07] PowerAccess commented on #2238
@piroor
Please approve my pull request #2239, where I have implemented the following fixes and enhancements, covering many, but not all, of the issues detailed here:

### Fixes for #2199 (with syncTabsOrder) + many (but not all) of #2238 (v3.0.7 Critical Issues), including:
- Fixed syncTabsOrder() never actually working (ever) due to always either deferring indefinitely or failing the initial cond

[2019-04-23 07:22] PowerAccess commented on #2238
### Steps to Reproduce Critical Issues Fixed in My Pull Request

- For Firefox Nightly, I open Firefox
- No session restore, just home page set to just New Tab.
- With tab caching disabled, with Tree Style Tabs in Separate Window installed, on Windows 10 x64
- I have TST Sidebar set to auto open on startup
- I open a few tabs from bookmark bar via middle click to open in new tab, doing so very qui

[2019-04-23 07:43] PowerAccess commented on #2238
Though you can ignore my previous replies here (and also in #2199) once my Pull Request #2239 is approved, as it fixes those issues.

However, there is still at least one major issue remaining (after I had fixed a half dozen of the most critical ones), for which I've provided Steps to Reproduce and related details below:

### Steps to Reproduce for **Remaining** Critical Issues (NOT Fixed in My Pu

[2019-04-23 07:45] PowerAccess commented on #2199
@piroor
Please approve my pull request #2239, where I have implemented the following fixes and enhancements, covering many, but not all, of the issues detailed here:

### Pull Request #2239:  Fixes for #2199 (with syncTabsOrder) + many (but not all) of #2238 (v3.0.7 Critical Issues), including:

1. Fixed syncTabsOrder() never actually working (ever) due to always either deferring indefinitely or f

[2019-04-23 16:51] acarp52 commented on #2022
I have experienced this bug as well, as described but with newer versions of Firefox and TST. I have a similar workflow; generally I work off an external monitor with my MacBook lid closed, but frequently disconnect and reconnect my machine throughout the day.

I don't have a solution or a root cause, but I have found a quick and easy workaround:
Simply toggling TST on and off (by default mapped t

[2019-04-23 18:45] bughit commented on #2119
Just experienced this again with Fx 63.0.3 and TST 3.0.7, after opening a bookmark folder with 44 items grouped.

If you could provide a switch to eliminate this problem at the expense of others ("other people saw different problems you never saw") it would be helpful. Not being able to select a tab is showstopper.

[2019-04-24 03:37] piroor commented on #2236
Is this not an issue report but a knowledge? I think you should add the information to the wiki: https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules

[2019-04-24 04:01] piroor commented on #2234
I've read the first comment of this issue and I have a question. Does the avast cause the problem? Or, does the problem appear always when tabs are opened by other applications not only the avast? Sadly I couldn't understand what is the trigger from the report.

----

I'm sorry if you already know that well and tried but gave up for some reasons; "Steps to reproduce" (I'm repeatedly requesting to

[2019-04-24 10:18] stapuft commented on #2234
yes that seems to be what happened, i think the problem that caused the tab to hang, wa my speed in closing it, and the actual steps would be more like

1.   Install Firefox 66 to C:\Program Files\Mozilla Firefox 66
2.     Start cmd.exe and run the command line " C:\Program Files\Mozilla Firefox 66\firefox.exe -profile "%temp%\fxprofile""
3.     Install the latest TST at https://addons.mozilla.org

[2019-04-24 10:23] stapuft opened #2240 "reload this tree: top level item?"
is there any way to add the "reload this tree", and "Reload Descendants" options as top level items in the context menu?

thanks for everything! you rule man!

[2019-04-24 10:46] piroor commented on #2238
These replies are possibly outdated, but I wrote them for records of development:

----

https://github.com/piroor/treestyletab/issues/2238#issue-435920487

1, 4 and 5 should be fixed with the auto-rebuild logic imported from the PR #2239. ( https://github.com/piroor/treestyletab/pull/2239#issuecomment-486085560 )

2 should be fixed with 1e54567. ( https://github.com/piroor/treestyletab/pull/2239#

[2019-04-24 11:05] piroor commented on #2240
Currently these options are not supported. Due to historical reasons, only some limited commands can be exposed to the top level of the context menu for now.

I was negative to add top level context menu items, because I thought that "tab context menu on the sidebar, provided by TST" is just a workaround until the original tab context menu on the native tab bar becomes available on the sidebar. If

[2019-04-24 15:31] piroor commented on #2240
The commit 7f0350e should implement this.

[2019-04-24 15:46] piroor commented on #2119
As I commented at https://github.com/piroor/treestyletab/pull/2239#issuecomment-486085560 and https://github.com/piroor/treestyletab/issues/2238#issuecomment-486172115 , I've applied some changes to fix such problems automatically. Could you test the latest development build?: https://github.com/piroor/treestyletab/blob/master/README.md#development-builds

[2019-04-24 20:44] stapuft commented on #2240
Awesome! cant wait, thanks for the awesome addon!

[2019-04-25 01:02] FlyingPenguinOFC commented on #2200
UPDATE: I just wanted to report back that since the last update, I haven't had the problem recur. Thx!

[2019-04-25 02:50] piroor commented on #2234
Thank you for the information. I still cannot reproduce the problem on my environment, but I successfully understand what happened on your environment. As I commented at https://github.com/piroor/treestyletab/issues/2238#issuecomment-486172115 and https://github.com/piroor/treestyletab/pull/2239#issuecomment-486329414 , there is an "window" between the timing TST fetches all tabs and TST starts li

[2019-04-25 05:03] piroor commented on #2199
I've tried to read this thread from the start again, to confirm changes I did correctly covers reported problems.

* Why disabling/enabling cache solved problems?: Because TST may fail to track opening/closing of tabs while TST is initializing. Such failure may produce untracked tabs and ghost tabs. Disabling/enabling cache triggers reloading of TST, The operation re-synchronize Firefox's native t

[2019-04-25 14:59] MurzNN commented on #2119
I test it today, but problem is still here, sometimes I can't select needed tab, after click on tab it selected by short time, but after - select changes to next down tab.

[2019-04-25 15:27] piroor commented on #2119
@MurzNN Thank you for testing. Is your case exact same to the one reported at the initial description of this issue? If you've seend the problem with different condition, could you create new issue with detailed descriptions and steps to reproduce on my PC from scratch? (So you may need to narrow down conditions.)

[2019-04-25 16:04] piroor commented on #2049
@private-lock There are multiple problems you've seen: 1) randomized order of tabs, 2) failed to detach a tree from the window. TST 3.0.8 I've released yesterday contains some changes around initialization and synchronization of the order of tabs, so those problems may be affected. If those problems still there with TST 3.0.8, could you narrow down conditions (steps) to reproduce those problems an

[2019-04-25 17:06] MurzNN opened #2241 "After some time of work I can't activate some tabs in tree - lower tab selected instead of clicked"
I can't always reproduce this problem on my side via short easy steps, so I describe the problem.

When I open Firefox and work some hours with many tabs - all works well. But after some time - something happens (nothing visible), and I can't select some tabs in tree (sometimes children, sometimes root): when I click on tab - in TST sidebar it shows as active at short time, but after less that sec

[2019-04-25 17:07] MurzNN commented on #2119
@piroor, maybe my problem is other, so I describe it in separate issue: https://github.com/piroor/treestyletab/issues/2241 - if it is same, let's merge them.

[2019-04-25 18:41] piroor commented on #2241
Thanks. There are some points possibly affect to this kind problems, so could you check them?:

* Which is the version of Firefox you use?
* Was the "unclickable" tab restored from the previous session? Or, does the problem happen without restarting of Firefox - does the problem appear just after the tab is newly opened?
* How did you open the tab? From links (with middle click / regular left clic

[2019-04-25 19:15] stapuft commented on #2241
this happens to me occasionally, if I hit ctrl+tab it allows you to switch to the tab you want to switch to, as for fixing the bug, I know of no way.

[2019-04-25 20:12] private-lock commented on #2049
I confirm, I got the 3.0.8 just minutes ago. Thanx for the quick reaction ... I'll have a look out for more disturbances of the tree-force :-) On the other hand, I might as well re-learn how to close a tab from time to time. Since I use your addon, that number skyrocketed.

[2019-04-25 21:59] bughit commented on #2119
reproduced in 3.0.8.9044.9044

- the first 3 tabs are ok
- starting with the 4th, a normal fast click briefly switches to the clicked tab, then switches to the one above
- a long click on the tab (> ~1s) gets it to stick

[2019-04-25 22:42] bughit commented on #2119
the above is consistently reproducible in a new Fx 66.0.3 profile with tst 3.0.7 with "confirm to group tabs" disabled. The problem starts at different tabs on each load. The long click does not select, no Multiple Tab Handler

[2019-04-26 07:53] MurzNN commented on #2241
Strange question, most of users, that can provide bug report, use last version :) Firefox 66.0.3 64-bit on Ubuntu Linux. And `ctrl+tab` hotkey can switch to needed tab normally.

 "unclickable" tab opened in current session, but other tabs may be restored from previous session.

From regular and middle clicks on page links.

Regular tab.

No, opened only single tab.

Different: in middle, at botto

[2019-04-26 14:26] rouilj opened #2242 "How do I change tab style for a tab with a given label?"
## Short description
Unable to change tab style by using css to target label contents.

I have the following CSS added to the extra style rules for tree style tab:

/* mark tabs with matching titles with a different background color for easy identification */
/* use built in style for tbt sidebar */
.tab[data-label$="- Nagios"] {background-color: rgb(255, 255, 0)}
.tab[data-label^="Facebook"] {bac

[2019-04-26 14:31] FlyingPenguinOFC commented on #2200
UPDATE 2: Aaand the very next day it started happening again. Weird. Been working fine for almost 2 weeks, but both PCs are doing this again. Disabling the add-on and turning it back on clears it. Been too distracted to do a dump, but I'll try next time it happens.

[2019-04-26 17:13] piroor commented on #2241
@MurzNN Thank you for additional information. Some of them helps me to shrink the range of investigation. Summarized conditions are:

* Happens on Firefox 66.0.3 on Linux. So I can ignore all changes introduced at Firefox 67 and later.
* Visual order of tabs are correct, only internal index information is wrong.
* The problem happens on tabs opened from a link in a regular tab. It happens just wit

[2019-04-26 18:16] TRowbotham opened #2243 "TST options are not readable when enabling browser.in-content.dark-mode"
Using Firefox Nightly 68, dated 2019-04-26 on Windows 10. This feature is being introduced in https://bugzilla.mozilla.org/show_bug.cgi?id=1519547.

Steps to reproduce:
1) Type about:config in the address bar.
2) Search for the preference "browser.in-content.dark-mode".
3) Set the preference to true.
4) Restart the browser.
5) Go to about:addons.
6) Click the options button for TST.

Actual Result

[2019-04-26 18:23] Fanolian commented on #2243
This is [bug 1544212](https://bugzilla.mozilla.org/show_bug.cgi?id=1544212).

[2019-04-26 19:09] FlyingPenguinOFC commented on #2200
Ok, I confirmed I have the recent 3.0.8 update released yesterday and that seems to be when this started.

[2019-04-26 19:20] FlyingPenguinOFC commented on #2200
Okay here's a dump. Hope this helps. I get the throbber going left and right with the green progress bar at about 15% just about every time I open FF now since yesterday. Thx:

INSPECT BACKGROUND PAGE (master process):

gMetricsData.toString()
"total 724 msec
56: index: Loaded
10: init: start
508: (async) init: waiting for waitUntilCompletelyRestored, ContextualIdentities.init and configs.$loaded

[2019-04-27 01:14] cipri-tom opened #2244 "v3.0.8 Tree suddenly disappeared in just one window"
## Short description

I have two windows, one with many tabs (205), one with some fewer ones (28). The tree suddenly disappeared in the window with many tabs. Everything became indented in level 0, no more markers for expanding (some were collapsed), nothing.

## Steps to reproduce

Not easy, since these tabs have been collected over a long period, most of them from the version 2.7 I think. I had

[2019-04-27 03:07] MurzNN commented on #2241
I do more tests and can say, that this issue is reproducible often when I open child tab via middle click on page. And is disappeared when I close tab above problematic tab. Here is screencast with problem demonstration and disappearing: https://i.imgur.com/0Fndk16.mp4

[2019-04-27 03:40] MurzNN commented on #2241
Closing tab above problematic seems always solve the probem, and if I restore it via "Undo close tab" - all works without issue.

[2019-04-27 16:14] piroor commented on #2241
@MurzNN The screencast whiteouts between 00:10-00:15. Does this mean that you reopened(reloaded) the sidebar?

[2019-04-27 16:34] MurzNN commented on #2241
No, I slowly :) type url in urlbar, and it shows white dropdown that overflow sidebar.

[2019-04-27 18:54] hawran opened #2245 "Dragging a parent tab to its child freezes the browser (a machine)"
## Short description
Dragging a parent tab to its child freezes the browser (and a machine) and the browser has to be killed.
(experienced on a Linux machine)
I'd say there's some cycling problem here.

## Steps to reproduce
1. Create a tab.
2. Create the second tab as a child of the first tab.
3. Drag the first tab to its child.

## Expected result
Either a drag operation is cancelled or the drag

[2019-04-28 04:59] jingofett commented on #2244
Also happening to me. It happened to both of my windows though. Opening a new tab seems to trigger it. It may have something to with the "Temporary Containers" add on

[2019-04-28 13:12] rtoijala commented on #2244
Same for me, when opening a new tab from a pinned tab. Reproducible.
I do not have the Temporary Containers add-on.
Linux x86-64, Firefox 66.0.3, Tree Style Tab 3.0.8

The browser console shows the following:

    Fatal error: native tabs are not same to the tabs tracked by the master process, for the window 3. Reloading all...   sidebar-tabs.js:428:5

    Promise resolved while context is inactiv

[2019-04-28 16:37] FlyingPenguinOFC commented on #2200
Rolled back to 3.0.7 and it works fine.

[2019-04-28 19:13] nollinvoyd commented on #2166
The blanking phenomenon has returned in recent TST versions.  I am currently using TST 3.08, Firefox 67.0b14

This behavior is not the same as the ones I reported in the other topic I posted.

Example:
![tst blank](https://user-images.githubusercontent.com/20844322/56868857-eb086c80-69ac-11e9-9d5e-d0f2af093af2.png)

I also have another example of inconsistent css display.  In the following image,

[2019-04-29 05:00] stapuft commented on #2245
cannot re-create on windows 10 17763 with FF 66.0.3

[2019-04-29 15:16] piroor commented on #2245
I couldn't reproduce this constantly on my environment:

* TST 3.0.8
* Nightly 68.0a1 / Firefox 66.0.3
* Windows 10

However, a problem similar to this happened just a time. After Firefox is restarted, I couldn't reproduce the problem with ctrl-drag.

----

Basically, TST is designed to treat such a case as "impossible to drop". I think that the internal tree structure was broken and TST failed to

[2019-04-29 16:46] piroor commented on #2166
Could you post the second topic as a new issue? One issue should have only one topic, otherwise things become in chaos and far from resolved.

----

At your first screenshot, only pinned tabs are visible and there looks to have no other regular (unpinned) tabs. Is this appearance wrong and actually there are regular tabs? Assume that these understanding is correct:

* Could you try remove (or comm

[2019-04-29 17:09] stapuft opened #2246 "Inverted order of tabs after crash recovery"
windows 10.
ff 66.0.3
tst3.0.8

when the tab list restores itself, after a crash, the math it uses to do so, makes the list and everything in it appear in the opposite order

open 10 tabs
-a
--b
--c
-d
--e
-f
--g
--h
---i
-j

force close Firefox, after having set it to restore
when ff re-opens tell it to restore tabs

tab list now appears as
-j
---i
--h
--g
-f
--e
-d
--c
--b
-a

the tabs are still

[2019-04-29 17:53] piroor commented on #2200
@FlyingPenguinOFC Thank you for more logs. Your logs says that the sidebar page was initialized at first and failed to receive an important message from the background page. I think it is a timing issue, and I hope that the commit e61a1a9 should fix it. Could you try the latest development build?

[2019-04-29 18:11] FlyingPenguinOFC commented on #2200
Thx for the reply! I'll need some instructions on how to download and install the latest dev build. I'm an IT guy, but I have no idea how to download and install it from Github. Thx.

[2019-04-29 18:19] piroor commented on #2244
I saw this problem on my environment just one time. Now I need (and I'm finding) constant steps to reproduce the problem...

[2019-04-29 18:32] piroor commented on #2244
I still cannot reproduce the situation, but I've found why tree structure is lost. After the commit ad72787 tree structure will be restored after all sidebars are reloaded.

[2019-04-29 18:37] piroor commented on #2242
You should use `title` instead of `data-label` on TST 3.0.8. For example:

[code]

[2019-04-29 18:42] piroor commented on #2246
Were your tabs restored automatically with the session restoration system of Firefox itself? Or, were they restored with different method? For example:

* Firefox's application menu => Restore Previous Session command
* With the Tab Session Manager https://addons.mozilla.org/firefox/addon/tab-session-manager/

[2019-04-29 18:48] piroor commented on #2200
@FlyingPenguinOFC There is a documentation: https://github.com/piroor/treestyletab#development-builds

[2019-04-29 19:15] FlyingPenguinOFC commented on #2200
Okay, I installed 3.0.8.9048 in the Nighly Firefox because there's no way to install it in the regular Firefox as any temporary add-on is flushed on restart, and this only happens when Firefox opens.

In the Nightly Firefox the same thing happens: most of the time the throbber stalls. Disabling and restarting the addon clears the problem.

I have had no problem at all on the regular Firefox using

[2019-04-29 19:30] piroor commented on #2200
Hmm...I think I need to see all debug logs on your case. Could you collect complete debug logs? Please activate the debug mode and activate all detailed logs to get them.

[2019-04-29 19:41] stapuft commented on #2246
they were automatically restored, and i also want to point out that this is not a clean profile, and it actually has over a hundred tabs open, i was just using that format to give a simple example of what happened.

it has happened multiple times actually, it happens only after a crash of Firefox, and it started after the new method of restoring tabs was introduced. i am trying to get it to happen

[2019-04-29 20:51] bughit commented on #2119
@piroor

3.0.9 too

[2019-04-29 21:12] Sada-Mio commented on #2244
Not exactly sure how to reproduce consistently, but noticed it flattening after opening a new tab link from a pinned tab. Minutes before that I had created a profile backup, restored, tried opening the same link again but couldn't reproduce the problem.

I make daily profile backup in fear of losing my hundreds of tab tree. Bug has been randomly flattening tabs starting from April-26. Might give a

[2019-04-29 22:45] FlyingPenguinOFC commented on #2200
Thank you for all your work.
Hopefully this is what you need. This is the nightly build of Firefox, running your 3.0.8.9048 build.

After enabling debugging as explained in your FAQ under "How to collect debug logs of TST?", then restarting, and the throbber gets stuck:

In the error and warnings list is this:

Error: Attempt to postMessage on disconnected port sidebar-connection.js:88:12
Error: "

[2019-04-30 01:56] piroor commented on #2200
@FlyingPenguinOFC Thanks, but sadly logs were overflowed with lines from unrelated modules...  I think we need to suppress too noisy modules. I've narrowed down log modules related to this problem:
![image](https://user-images.githubusercontent.com/70062/56937098-ea4f1200-6b35-11e9-9933-785f6883e954.png)
![image](https://user-images.githubusercontent.com/70062/56937144-19fe1a00-6b36-11e9-9c42-6a31

[2019-04-30 02:19] piroor commented on #2241
Do you use any other addon which controls positioning of new tabs? Or, did you changed secret options started with `browser.tabs.` via `about:config`?

[2019-04-30 02:25] piroor commented on #2119
@bughit Could you upload your "prefs.js" for investigation? It won't contain any critical personal data except data stored by legacy addons, but if you mind please send it to me with an e-mail to piro.outsider.reflex@gmail.com.

[2019-04-30 02:47] piroor commented on #2246
Hmm, I couldn't reproduce this problem with crash triggered with `Components.utils.crashIfNotInAutomation()` executed in the browser console. Is the problem you saw reproduced with it? Steps to do:

1. Create a shortcut to "firefox.exe" at the desktop.
2. Open its property and add ` -no-remote -profile "%temp%\fxprofile"` to the end of the location.
3. Start Firefox via the shortcut. It will be la

[2019-04-30 04:16] bughit commented on #2119
@piroor

Sent an email, the zip password is treestyletab (gmail didn't like the attachment until I hid it). However this is a new profile so it seems unlikely that prefs are an issue.

[2019-04-30 04:53] MurzNN commented on #2241
Here is list of all my addons:
[code]
So there are no addons, that operate with tabs. Also now I got the problem when can't switch to tab, that have no children (and not opened my middle click). Also seems the problem often happens on tab, that is previous to last bottom (when I open new tab at bottom, previous tab got the selection problem, and the problems stay with it, even if I open next tabs

[2019-04-30 08:01] piroor commented on #2241
Thanks. I'm paying attention on some container related addons in the list, and if you set one of them to force open specific website in non-default container it may automatically reopen tabs opened from links (Firefox opens a new tab with the link URL in the same container, then the addon opens another tab with a specific container at the same position and removes the original tab automatically).

[2019-04-30 12:41] piroor commented on #2241
Ah, hmm, but there is no "container" marker on the screencast you uploaded...

[2019-04-30 13:24] piroor commented on #2119
@bughit Thanks. I've checked contents of the file but there looks no changed option related to behavior around tabs. Moreover, I've used the file to launch Firefox but there is no problem...

[2019-04-30 15:13] FlyingPenguinOFC commented on #2200
Ok, this is a huge dump so I'm dragging and dropping a text file in here. Let me know if you can't open it. This was on Firefox Nightly with the new 3.0.9 version you released today. Throbber still gets stuck. Thanks.

[Firefox Nightly Tree Style Tabs 3.0.9 .txt](https://github.com/piroor/treestyletab/files/3131839/Firefox.Nightly.Tree.Style.Tabs.3.0.9.txt)

[2019-04-30 15:57] bughit commented on #2119
@piroor

- this is reproducible for me on multiple physical and virtual machines. The hardware is not new, so if this is a question of speed, please try in a vm or slower hardware,
- keep in mind that I am opening a bookmark folder with 44 links, it's possible you need more tabs to repro, but have at least that
- and also that the problem does not manifest on the first tab click, it's better to st

[2019-04-30 16:29] pfheatwole commented on #2241
I experience this bug maybe once a week. I usually fix the tree by tearing off the children and reattaching them to the parent. I can't reliably reproduce this bug, but here is how it happened yesterday:

I had a parent tab `A`, and middle clicked a link to open `B`:

[code]
Clicking the parent `A` would momentarily select that tab (including updating the forward/backward buttons), then almost ins

[2019-04-30 17:59] donw146 opened #2247 "Empty Sidebar after TSM loads session"
windows 10.
ff 66.0.3
tst3.0.9
Tab Session Manager (TSM) 4.5.2

My base window, which uses native Firefox session restore and TST opens fine. When I try to open an additional window session using TSM I can see the tabs being created but the sidebar ends up empty. If I switch the sidebar to History and then back to TST it quickly shows all my tabs.
I've attached one of my TSM session exports for te

[2019-04-30 20:02] stapuft commented on #2246
nope, I can't make it do it manually. but it just did it again randomly.

my computer froze while trying to win+r and run n a program, I held the power button down to force shutdown. when it restarted, Firefox had crashed, I restored the tabs and got treated to being able to watch the "ordering" of the tabs happen. here is what it looks like now.
![image](https://user-images.githubusercontent.com/

[2019-04-30 20:05] stapuft commented on #2246
and this is what I mean by even though the order is messed up the tabs are still "linked" properly.
anime folder open
![image](https://user-images.githubusercontent.com/46431157/56989922-a7a32f00-6b61-11e9-93f6-d9938972aab7.png)
anime folder collapsed
![image](https://user-images.githubusercontent.com/46431157/56989950-b984d200-6b61-11e9-87a1-c28f9dc4e43e.png)

[2019-04-30 20:40] piroor commented on #2119
@bughit Thank you for cooperation. After more researching in a case with opening very large number of tabs (I've tried with 75 tabs), I've realized that tab's index can be overwritten unexpectedly with wrong values when tabs are not blank. I couldn't find out the case on my environment because I tested with blank tabs. Could you try the latest development build?: https://github.com/piroor/treestyl

[2019-04-30 20:45] piroor commented on #2241
On investigation at #2119 I've realized that tab's index can be overwritten unexpectedly with wrong values when multiple non-blank tabs are opened in a time (I've tried with tabs from 75 bookmarks in a folder). I cannot decide both problems are triggered with the same source, but the fix may affect to this. Could you try the latest development build?: https://github.com/piroor/treestyletab/blob/ma

[2019-04-30 21:47] HighCommander4 opened #2248 "Drag-and-drop from one window to another is broken in Firefox ESR"
## Steps to reproduce

 1. Open two Firefox windows, with the TST sidebar open in each
 2. Open a tab in one window
 3. Try to drag-and-drop it from the tree of one window into the tree of the other

## Expected result

The tab is moved to the other window.

## Actual result

I do see a drag image, and a drop indicator in the target window, but when I release the mouse, the tab stays in its origin

[2019-04-30 22:02] piroor commented on #2248
Sorry, TST's latest version is 3.0.9 and ESR60 is not supported by me anymore.

[2019-04-30 22:22] HighCommander4 commented on #2248
I'm sorry to hear that. It will be another 5+ months before Debian stable ships ESR68.

[2019-04-30 22:58] piroor commented on #2200
@FlyingPenguinOFC Thanks again. I've read your log and realized that the master process and the sidebar are initialized at just same time.

However, the resolution of these timestamp is too low, so I've introduced some changes to output timestamp with more effective resolution. Could you try again with the latest development build?: https://github.com/piroor/treestyletab/blob/master/README.md#deve

[2019-04-30 23:01] piroor commented on #2248
Currently I have less resource to maintain TST, so old versions won't be maintained. Could you install an old version from https://addons.mozilla.org/firefox/addon/tree-style-tab/versions/ and disable auto update of TST until ESR68 become available?

[2019-04-30 23:19] HighCommander4 commented on #2248
I can confirm that it works fine with version 2.7.23 - thanks!

I note that, while I had auto-updates enabled, I was only updated to 2.8.5, not 3.0.9, and the addons manager says 3.0.9 is not compatible with my current Firefox version. So, clearly, TST versions are already annotated with what Firefox versions they support. Should the annotations be adjusted so the boundary for ESR support is reduc

[2019-04-30 23:33] piroor commented on #2247
I've tried with the same condition but I couldn't reproduce the problem.

Did you activate TSM's option for the compatibility with TST? On my environment, TST's sidebar has been initialized correctly for me, and restored tabs have appeared in the sidebar step by step.

[2019-05-01 01:33] donw146 commented on #2247
It looks like it was a timing issue. When I went to check my TSM settings
Supports Tree Style Tab was checked properly
However,
    Delay when tree restoration (millisecond) - was set to 350 ms - a setting I made a long time ago. I changed it to 750 ms and the sidebar opened correctly.
Sorry for the false alarm and thanks for all you efforts. TST is essential to my use of Firefox.

[2019-05-01 02:55] bughit commented on #2119
@piroor Tried it several times, seems to be fixed, thank you.

[2019-05-01 03:41] FlyingPenguinOFC commented on #2200
Here you go:

[Firefox Nightly Tree Style Tabs 3.0.9.9056.txt](https://github.com/piroor/treestyletab/files/3133765/Firefox.Nightly.Tree.Style.Tabs.3.0.9.9056.txt)

[2019-05-01 05:46] BobVul opened #2249 "Warn on close multiple does not work when tabs are closed using the keyboard"
## Short description
When the keyboard (Ctrl+W) is used to close a parent tab of a collapsed group, the warning for multiple tabs being closed does not appear. All the tabs in the group are immediately closed.

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3. Create a tree with at least one child.
 4. Focus on the root (parent) of the tree.
 5. Collapse the tree.

[2019-05-01 06:18] piroor commented on #2200
@FlyingPenguinOFC Thanks, I think I successfully understand what's happen on your environment.

1. `tst<BG>: 23:33:32.274 background/handle-misc:          Start listening of messages common.js:352:13`
2. `tst<Sidebar-1>: 23:33:32.235 sidebar/sidebar:       importTabsFromBackground: start `
3. `tst<Sidebar-1>: 23:33:32.236 sidebar/sidebar:      Start queuing of messages from the background page com

[2019-05-01 06:51] BobVul opened #2250 "Warn on close multiple does not work when treat as parent by operations inside the tree sidebar"
## Short description
When the option "Treat as a parent by operations inside the tree sidebar. / Treat just as a solo tab, by operations outside the tree sidebar." is selected, closing a parent tab from inside the tree sidebar does not show the expected warning.

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3. Change the setting under Tree Behavior => "When a pare

[2019-05-01 07:20] BobVul commented on #2250
I took a brief look with the debugger and it looks like `byInternalOperation` is undefined in `shouldApplyTreeBehavior` when called from `getCloseParentBehaviorForTabWithSidebarOpenState`, so `tabsToBeClosed` only has one entry and the warning is not shown.

I would expect `byInternalOperation` to be set here, since the close is initiated by a mouse click on the X in the sidebar?

My first thought

[2019-05-01 07:52] BobVul commented on #2249
Looks like there's a bit of confusion here:

https://github.com/piroor/treestyletab/blob/df9f4301188f59920910c1d865e10b24680c0931/webextensions/background/background.js#L443-L467

`tabIds` is the array of tabs to close, but the message sent to the confirm dialog uses `tabs` instead. `tabs` is the single currently active tab (used to display a message within the tab?).

I would suggest renaming `ta

[2019-05-01 09:38] piroor commented on #2250
Thanks, this problem should be fixed with recent commits. You can try the latest development build: https://github.com/piroor/treestyletab/blob/master/README.md#development-builds

[2019-05-01 09:39] piroor commented on #2249
Thanks, this also should be fixed with recent commits.

[2019-05-01 09:53] BobVul commented on #2250
Thanks for the quick response! This seems to work for me now with the dev build.

[2019-05-01 10:00] BobVul commented on #2249
Thanks for the quick response. Unfortunately this one does not seem to be completely fixed yet: the confirmation prompt now appears correctly, but the tabs are still removed from TST even if cancelled. The parent tab is completely removed (maybe okay, though a bit counterintuitive) and the children remain in the Firefox tab bar.

GIF recording:

![KeyboardCloseConfirmTest2](https://user-images.git

[2019-05-01 10:09] BobVul commented on #2249
Hold on - it's working now, after I tried debugging it. Interesting. I'll see if I can find a consistent way to reproduce.

[2019-05-01 10:15] BobVul commented on #2249
Looks like it's fine when testing with real websites. The scenario in the above recording only appears with blank (`about:newtab`) tabs, probably because of how Firefox's tab history/restore works with them (i.e. it ignores them completely). So this is probably fine in real-world use.

There is another quirk in that if a blank parent tab is closed, the reopened tab can be a previous one from the h

[2019-05-01 11:12] piroor commented on #2247
Is the option TST's or TMS's? Could you add a screenshot of the options page?

[2019-05-01 11:15] piroor commented on #2248
TST 2.8.5 is designed to work with Firefox ESR60, but buggy on some environments and usecases.

[2019-05-01 12:06] piroor commented on #2249
Thank you for researching. As you know Firefox doesn't allow to us to restore closed blank tabs. On the other hand TST expected that closed tabs are always restorable.

* Basically, on an WebExtensions-based addon we cannot do anything *before* a tab is removed.
* So TST cannot show confirmation dialog *before* tabs are closed with Ctrl-W or other methods outside of TST.
* Instead, TST detects *al

[2019-05-01 13:15] piroor commented on #2246
I've tried with large number of tabs and killing with the task manager of Windows 10.

![image](https://user-images.githubusercontent.com/70062/57018042-b7ec0480-6c5c-11e9-8c82-9f0ffd90d97a.png)

My result:

* After restarting Firefox showed a crash restoration page.
* After restoration was finished all tabs were restored with the expected order.
* Tree structure was partially restored. Some tabs

[2019-05-01 13:59] FlyingPenguinOFC commented on #2200
Seems to be working. I have 3.0.9.9070 running on Firefox Nighlty. Restarted a dozen times and no problems. When you release this to the public I'll install it in my regular Firefox. Thx.

[2019-05-01 15:06] piroor commented on #260
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:06] #260 closed

[2019-05-01 15:06] piroor commented on #261
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:06] #261 closed

[2019-05-01 15:06] piroor commented on #372
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:06] #372 closed

[2019-05-01 15:07] piroor commented on #377
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:07] #377 closed

[2019-05-01 15:07] piroor commented on #508
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:07] #508 closed

[2019-05-01 15:08] piroor commented on #515
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:08] #515 closed

[2019-05-01 15:08] piroor commented on #551
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:08] #551 closed

[2019-05-01 15:08] piroor commented on #567
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:08] #567 closed

[2019-05-01 15:08] piroor commented on #568
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:08] #568 closed

[2019-05-01 15:08] piroor commented on #584
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:08] #584 closed

[2019-05-01 15:08] piroor commented on #611
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:08] #611 closed

[2019-05-01 15:08] piroor commented on #625
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:08] #625 closed

[2019-05-01 15:08] piroor commented on #641
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:08] #641 closed

[2019-05-01 15:08] piroor commented on #642
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:08] #642 closed

[2019-05-01 15:08] piroor commented on #647
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:08] #647 closed

[2019-05-01 15:08] piroor commented on #649
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:08] #649 closed

[2019-05-01 15:08] piroor commented on #661
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:08] #661 closed

[2019-05-01 15:08] piroor commented on #664
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:08] #664 closed

[2019-05-01 15:08] piroor commented on #669
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:08] #669 closed

[2019-05-01 15:08] piroor commented on #670
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:08] #670 closed

[2019-05-01 15:08] piroor commented on #673
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:08] #673 closed

[2019-05-01 15:08] piroor commented on #698
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:08] #698 closed

[2019-05-01 15:10] piroor commented on #482
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:10] #482 closed

[2019-05-01 15:10] piroor commented on #699
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:10] #699 closed

[2019-05-01 15:10] piroor commented on #701
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:10] #701 closed

[2019-05-01 15:10] piroor commented on #706
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:10] #706 closed

[2019-05-01 15:10] piroor commented on #707
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:10] #707 closed

[2019-05-01 15:10] piroor commented on #716
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:10] #716 closed

[2019-05-01 15:10] piroor commented on #734
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:10] #734 closed

[2019-05-01 15:10] piroor commented on #737
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:10] #737 closed

[2019-05-01 15:10] piroor commented on #746
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:10] #746 closed

[2019-05-01 15:10] piroor commented on #750
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:10] #750 closed

[2019-05-01 15:10] piroor commented on #755
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:10] #755 closed

[2019-05-01 15:10] piroor commented on #778
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:10] #778 closed

[2019-05-01 15:10] piroor commented on #789
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:10] #789 closed

[2019-05-01 15:10] piroor commented on #795
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:10] #795 closed

[2019-05-01 15:10] piroor commented on #797
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:10] #797 closed

[2019-05-01 15:10] piroor commented on #799
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:10] #799 closed

[2019-05-01 15:10] piroor commented on #800
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:10] #800 closed

[2019-05-01 15:10] piroor commented on #805
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:10] #805 closed

[2019-05-01 15:11] piroor commented on #806
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:11] #806 closed

[2019-05-01 15:11] piroor commented on #809
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:11] #809 closed

[2019-05-01 15:11] piroor commented on #813
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:11] #813 closed

[2019-05-01 15:11] piroor commented on #815
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:11] #815 closed

[2019-05-01 15:11] piroor commented on #817
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:11] #817 closed

[2019-05-01 15:11] piroor commented on #818
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:11] #818 closed

[2019-05-01 15:12] piroor commented on #825
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:12] piroor commented on #825
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:13] piroor commented on #824
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:13] #824 closed

[2019-05-01 15:13] piroor commented on #1041
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:13] #1041 closed

[2019-05-01 15:13] piroor commented on #1038
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:13] #1038 closed

[2019-05-01 15:13] piroor commented on #1017
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:13] #1017 closed

[2019-05-01 15:13] piroor commented on #1008
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:13] #1008 closed

[2019-05-01 15:13] piroor commented on #1006
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:13] #1006 closed

[2019-05-01 15:13] piroor commented on #1001
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:13] #1001 closed

[2019-05-01 15:13] piroor commented on #999
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:13] #999 closed

[2019-05-01 15:13] piroor commented on #985
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:13] #985 closed

[2019-05-01 15:13] piroor commented on #963
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:13] #963 closed

[2019-05-01 15:13] piroor commented on #954
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:13] #954 closed

[2019-05-01 15:13] piroor commented on #899
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:13] #899 closed

[2019-05-01 15:13] piroor commented on #896
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:13] #896 closed

[2019-05-01 15:13] piroor commented on #885
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:13] #885 closed

[2019-05-01 15:13] piroor commented on #876
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:13] #876 closed

[2019-05-01 15:13] piroor commented on #875
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:13] #875 closed

[2019-05-01 15:13] piroor commented on #868
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:13] #868 closed

[2019-05-01 15:14] piroor commented on #867
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:14] #867 closed

[2019-05-01 15:14] piroor commented on #855
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:14] #855 closed

[2019-05-01 15:14] piroor commented on #854
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:14] #854 closed

[2019-05-01 15:14] piroor commented on #850
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:14] #850 closed

[2019-05-01 15:14] piroor commented on #846
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:14] #846 closed

[2019-05-01 15:14] piroor commented on #841
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:14] #841 closed

[2019-05-01 15:14] piroor commented on #838
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:14] #838 closed

[2019-05-01 15:14] piroor commented on #830
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:14] #830 closed

[2019-05-01 15:14] piroor commented on #829
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:14] #829 closed

[2019-05-01 15:15] #825 closed

[2019-05-01 15:15] joshgold22 commented on #664
Wasn't this fixed a long time ago?  I've been using Cmd-Opt-T to make a child tab (and Cmd-T for independent) for a long time now.  In TST Preferences under Keyboard Shortcuts.

Perhaps the implementation doesn't have all of the possible positionings in the original request (I'm not sure if I understood all of the complex description) but it has Independent, Child, Sibling and Next Sibling, all fo

[2019-05-01 15:16] piroor commented on #1161
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:16] #1161 closed

[2019-05-01 15:16] piroor commented on #1156
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:16] #1156 closed

[2019-05-01 15:16] piroor commented on #1155
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:16] #1155 closed

[2019-05-01 15:16] piroor commented on #1153
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:16] #1153 closed

[2019-05-01 15:16] piroor commented on #1147
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:16] #1147 closed

[2019-05-01 15:16] piroor commented on #1140
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:16] #1140 closed

[2019-05-01 15:16] piroor commented on #1139
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:16] #1139 closed

[2019-05-01 15:16] piroor commented on #1134
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:16] #1134 closed

[2019-05-01 15:16] piroor commented on #1131
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:16] #1131 closed

[2019-05-01 15:16] piroor commented on #1124
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:16] #1124 closed

[2019-05-01 15:16] piroor commented on #1117
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:16] #1117 closed

[2019-05-01 15:16] piroor commented on #1114
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:16] #1114 closed

[2019-05-01 15:16] piroor commented on #1104
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:16] #1104 closed

[2019-05-01 15:16] piroor commented on #1091
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:16] #1091 closed

[2019-05-01 15:16] piroor commented on #1085
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:16] #1085 closed

[2019-05-01 15:16] piroor commented on #1084
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:16] #1084 closed

[2019-05-01 15:16] piroor commented on #1083
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:16] #1083 closed

[2019-05-01 15:17] piroor commented on #1078
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:17] #1078 closed

[2019-05-01 15:17] piroor commented on #1077
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:17] #1077 closed

[2019-05-01 15:17] piroor commented on #1076
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:17] #1076 closed

[2019-05-01 15:17] piroor commented on #1064
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:17] #1064 closed

[2019-05-01 15:17] piroor commented on #1062
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:17] #1062 closed

[2019-05-01 15:17] piroor commented on #1060
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:17] #1060 closed

[2019-05-01 15:17] piroor commented on #1053
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:17] #1053 closed

[2019-05-01 15:17] piroor commented on #1051
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:17] #1051 closed

[2019-05-01 15:17] piroor commented on #1224
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:17] #1224 closed

[2019-05-01 15:18] piroor commented on #1220
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:18] #1220 closed

[2019-05-01 15:18] piroor commented on #1204
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:18] #1204 closed

[2019-05-01 15:18] piroor commented on #1202
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:18] #1202 closed

[2019-05-01 15:18] piroor commented on #1177
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:18] #1177 closed

[2019-05-01 15:18] piroor commented on #1175
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:18] #1175 closed

[2019-05-01 15:21] piroor commented on #1262
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:21] #1262 closed

[2019-05-01 15:21] piroor commented on #1291
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:21] #1291 closed

[2019-05-01 15:22] piroor commented on #1490
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:22] #1490 closed

[2019-05-01 15:22] piroor commented on #1686
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:22] #1686 closed

[2019-05-01 15:22] piroor commented on #1766
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:22] #1766 closed

[2019-05-01 15:22] piroor commented on #1880
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:22] #1880 closed

[2019-05-01 15:22] piroor commented on #1991
I close this because this is too old and not match to the latest maintained version of TST.

[2019-05-01 15:22] #1991 closed

[2019-05-01 15:25] piroor commented on #1349
I close this because this is out of the range of WebExtensions-based extension.

[2019-05-01 15:25] #1349 closed

[2019-05-01 15:26] piroor commented on #1373
I close this because this is out of the range of WebExtensions-based extension.

[2019-05-01 15:26] #1373 closed

[2019-05-01 15:27] HighCommander4 commented on #1139
I have found that this issue is significantly improved in newer versions. Thanks!

[2019-05-01 15:29] piroor commented on #1375
I've changed the decision. Now those icons have readable colors in the theme "Plain Dark", so I close this.

[2019-05-01 15:29] #1375 closed

[2019-05-01 15:30] piroor commented on #1463
It is already changeable.

[2019-05-01 15:30] #1463 closed

[2019-05-01 15:30] piroor commented on #1511
I close this because this is out of the range of WebExtensions-based extension.

[2019-05-01 15:30] #1511 closed

[2019-05-01 15:31] piroor commented on #1525
I close this because this is out of the range of WebExtensions-based extension.

[2019-05-01 15:31] #1525 closed

[2019-05-01 15:31] piroor commented on #1484
I close this because this is out of the range of WebExtensions-based extension.

[2019-05-01 15:31] #1484 closed

[2019-05-01 15:33] piroor commented on #1740
I close this because this is out of the range of WebExtensions-based extension.

[2019-05-01 15:33] #1740 closed

[2019-05-01 15:33] piroor commented on #1750
I close this because this is out of the range of WebExtensions-based extension.

[2019-05-01 15:33] #1750 closed

[2019-05-01 15:33] piroor commented on #1768
I close this because this is out of the range of WebExtensions-based extension.

[2019-05-01 15:33] #1768 closed

[2019-05-01 15:33] piroor commented on #1702
This is already done.

[2019-05-01 15:33] #1702 closed

[2019-05-01 15:34] piroor commented on #1615
I close this because this is out of the range of WebExtensions-based extension.

[2019-05-01 15:34] #1615 closed

[2019-05-01 15:34] piroor commented on #1609
I close this because this is out of the range of WebExtensions-based extension.

[2019-05-01 15:34] #1609 closed

[2019-05-01 15:34] piroor commented on #1553
I close this because this is out of the range of WebExtensions-based extension.

[2019-05-01 15:34] #1553 closed

[2019-05-01 15:34] piroor commented on #1548
I close this because this is out of the range of WebExtensions-based extension.

[2019-05-01 15:34] #1548 closed

[2019-05-01 15:34] piroor commented on #1529
I close this because this is out of the range of WebExtensions-based extension.

[2019-05-01 15:34] #1529 closed

[2019-05-01 15:35] piroor commented on #1561
This is already done.

[2019-05-01 15:35] #1561 closed

[2019-05-01 15:35] piroor commented on #1614
I close this because this is out of the range of WebExtensions-based extension.

[2019-05-01 15:35] #1614 closed

[2019-05-01 15:37] piroor commented on #1798
This is already fixed.

[2019-05-01 15:37] #1798 closed

[2019-05-01 15:37] piroor commented on #1838
This is already fixed.

[2019-05-01 15:37] #1838 closed

[2019-05-01 15:39] piroor commented on #1996
I close this because outdated.

[2019-05-01 15:39] #1996 closed

[2019-05-01 15:39] piroor commented on #1909
I close this because outdated.

[2019-05-01 15:39] #1909 closed

[2019-05-01 15:39] piroor commented on #1851
I close this because outdated.

[2019-05-01 15:39] #1851 closed

[2019-05-01 15:39] piroor commented on #1752
I close this because outdated.

[2019-05-01 15:39] #1752 closed

[2019-05-01 15:39] piroor commented on #1629
I close this because outdated.

[2019-05-01 15:39] #1629 closed

[2019-05-01 15:39] piroor commented on #1544
I close this because outdated.

[2019-05-01 15:39] #1544 closed

[2019-05-01 15:39] piroor commented on #1516
I close this because outdated.

[2019-05-01 15:39] #1516 closed

[2019-05-01 15:39] piroor commented on #1504
I close this because outdated.

[2019-05-01 15:39] #1504 closed

[2019-05-01 15:41] piroor commented on #1997
I close this because outdated.

[2019-05-01 15:41] #1997 closed

[2019-05-01 15:41] piroor commented on #2004
I close this because outdated.

[2019-05-01 15:41] #2004 closed

[2019-05-01 15:41] piroor commented on #2072
I close this because outdated.

[2019-05-01 15:41] #2072 closed

[2019-05-01 15:42] piroor commented on #2074
I close this because outdated.

[2019-05-01 15:42] #2074 closed

[2019-05-01 15:42] piroor commented on #2081
I close this because outdated.

[2019-05-01 15:42] #2081 closed

[2019-05-01 15:42] mayhemer commented on #641
I think this is fixed in the current (webext) verrsion.  Thanks!

[2019-05-01 15:42] piroor commented on #2095
I close this because outdated.

[2019-05-01 15:42] #2095 closed

[2019-05-01 15:42] piroor commented on #2106
I close this because outdated.

[2019-05-01 15:42] #2106 closed

[2019-05-01 15:42] piroor commented on #2107
I close this because outdated.

[2019-05-01 15:42] #2107 closed

[2019-05-01 15:42] piroor commented on #2114
I close this because outdated.

[2019-05-01 15:42] #2114 closed

[2019-05-01 15:42] piroor commented on #2118
I close this because outdated.

[2019-05-01 15:42] #2118 closed

[2019-05-01 15:42] piroor commented on #2120
I close this because outdated.

[2019-05-01 15:42] #2120 closed

[2019-05-01 15:42] piroor commented on #2131
I close this because outdated.

[2019-05-01 15:42] #2131 closed

[2019-05-01 15:42] piroor commented on #2153
I close this because outdated.

[2019-05-01 15:42] #2153 closed

[2019-05-01 15:42] piroor commented on #2159
I close this because outdated.

[2019-05-01 15:42] #2159 closed

[2019-05-01 15:42] piroor commented on #2162
I close this because outdated.

[2019-05-01 15:42] #2162 closed

[2019-05-01 15:42] piroor commented on #2175
I close this because outdated.

[2019-05-01 15:42] #2175 closed

[2019-05-01 15:42] piroor commented on #2178
I close this because outdated.

[2019-05-01 15:42] #2178 closed

[2019-05-01 15:42] piroor commented on #2201
I close this because outdated.

[2019-05-01 15:42] #2201 closed

[2019-05-01 15:42] piroor commented on #2221
I close this because outdated.

[2019-05-01 15:42] #2221 closed

[2019-05-01 15:42] piroor commented on #2223
I close this because outdated.

[2019-05-01 15:42] #2223 closed

[2019-05-01 15:43] mayhemer commented on #1224
It's RESOLVED FIXED :)  Thank you!

[2019-05-01 15:43] piroor commented on #2226
I close this because outdated.

[2019-05-01 15:43] #2226 closed

[2019-05-01 15:43] piroor commented on #2231
I close this because outdated.

[2019-05-01 15:43] #2231 closed

[2019-05-01 15:43] piroor commented on #2240
I close this because outdated.

[2019-05-01 15:43] #2240 closed

[2019-05-01 15:43] piroor commented on #1423
I close this because outdated.

[2019-05-01 15:43] #1423 closed

[2019-05-01 15:44] piroor commented on #1284
I close this because outdated.

[2019-05-01 15:44] #1284 closed

[2019-05-01 15:45] piroor commented on #1613
I close this because outdated.

[2019-05-01 15:45] #1613 closed

[2019-05-01 15:45] piroor commented on #1662
I close this because outdated.

[2019-05-01 15:45] #1662 closed

[2019-05-01 15:45] piroor commented on #1710
I close this because outdated.

[2019-05-01 15:45] #1710 closed

[2019-05-01 15:45] piroor commented on #1735
I close this because outdated.

[2019-05-01 15:45] #1735 closed

[2019-05-01 15:46] piroor commented on #1877
I close this because outdated.

[2019-05-01 15:46] #1877 closed

[2019-05-01 15:46] piroor commented on #1957
I close this because outdated.

[2019-05-01 15:46] #1957 closed

[2019-05-01 15:46] piroor commented on #1994
I close this because outdated.

[2019-05-01 15:46] #1994 closed

[2019-05-01 15:46] piroor commented on #1998
I close this because outdated.

[2019-05-01 15:46] #1998 closed

[2019-05-01 15:46] piroor commented on #2035
I close this because outdated.

[2019-05-01 15:46] #2035 closed

[2019-05-01 15:46] piroor commented on #2037
I close this because outdated.

[2019-05-01 15:46] #2037 closed

[2019-05-01 15:46] piroor commented on #2078
I close this because outdated.

[2019-05-01 15:46] #2078 closed

[2019-05-01 15:46] piroor commented on #2112
I close this because outdated.

[2019-05-01 15:46] #2112 closed

[2019-05-01 15:46] piroor commented on #2119
I close this because outdated.

[2019-05-01 15:46] #2119 closed

[2019-05-01 15:47] piroor commented on #2173
I close this because outdated.

[2019-05-01 15:47] #2173 closed

[2019-05-01 15:47] piroor commented on #2188
I close this because outdated.

[2019-05-01 15:47] #2188 closed

[2019-05-01 15:47] piroor commented on #2194
I close this because outdated.

[2019-05-01 15:47] piroor commented on #2199
I close this because outdated.

[2019-05-01 15:47] #2199 closed

[2019-05-01 15:53] piroor commented on #1434
I close this because outdated. Now TST has ability to synchronize order of tabs between the sidebar and the native tab bar.

[2019-05-01 15:53] #1434 closed

[2019-05-01 15:53] piroor commented on #1452
I close this because outdated.

[2019-05-01 15:53] #1452 closed

[2019-05-01 15:55] piroor commented on #1541
I close this because outdated.

[2019-05-01 15:55] #1541 closed

[2019-05-01 15:56] piroor commented on #1638
I close this because outdated.

[2019-05-01 15:56] #1638 closed

[2019-05-01 15:57] piroor commented on #1706
I close this because outdated.

[2019-05-01 15:57] #1706 closed

[2019-05-01 15:59] piroor commented on #1274
Now this is possible with the addon: https://addons.mozilla.org/firefox/addon/copy-selected-tabs-to-clipboar/ The default format "Markdown (list)" generates indented list.

[2019-05-01 15:59] #1274 closed

[2019-05-01 16:01] piroor commented on #1785
Now there is a built-in (emulated) context menu item "Reopen in Container", and the context menu is now compatible with other addons which provides such a context menu commands.

[2019-05-01 16:01] #1785 closed

[2019-05-01 16:02] piroor commented on #1827
I close this because outdated.

[2019-05-01 16:02] #1827 closed

[2019-05-01 16:03] piroor commented on #1393
I close this because outdated.

[2019-05-01 16:03] #1393 closed

[2019-05-01 16:03] piroor commented on #1385
I close this because outdated.

[2019-05-01 16:03] #1385 closed

[2019-05-01 16:03] piroor commented on #1545
I close this because outdated.

[2019-05-01 16:03] #1545 closed

[2019-05-01 16:05] piroor commented on #1747
Now TST has a built-in context menu command "Create New Group from tabs" for tabs multiselected via Ctrl/Shift-click.

[2019-05-01 16:05] #1747 closed

[2019-05-01 16:07] piroor commented on #1966
I close this because outdated.

BTW, now TST has a builtin context menu command "Create New Group from tabs" for multiselected tabs.

[2019-05-01 16:07] #1966 closed

[2019-05-01 16:08] piroor commented on #1810
I close this because outdated.

[2019-05-01 16:08] #1810 closed

[2019-05-01 16:08] piroor commented on #2093
I close this because outdated.

[2019-05-01 16:08] #2093 closed

[2019-05-01 16:12] piroor commented on #1592
I close this because outdated.

[2019-05-01 16:12] #1592 closed

[2019-05-01 16:14] piroor commented on #2038
I close this because outdated. Now TST's context menu is compatible to other addons which provide such context menu commands.

[2019-05-01 16:14] #2038 closed

[2019-05-01 16:14] piroor commented on #2052
I close this because outdated.

[2019-05-01 16:14] #2052 closed

[2019-05-01 16:14] piroor commented on #2142
I close this because outdated.

[2019-05-01 16:14] #2142 closed

[2019-05-01 16:15] BobVul commented on #2249
Thanks, that looks like a good fix for the case of all-blank tabs :)

[2019-05-01 16:34] a4z commented on #2178
well, you fixed it :-)
sorry for not reporting this back more explicit than with thumbs up

[2019-05-01 16:54] piroor commented on #664
I think too many options for positioning of new tabs will confuse most people. (To be honest, I think "next sibling" and "sibling" are already too much, especially for new blank tabs. These options were introduced for duplicated tabs, because it is reasonable that such tabs are placed next to the source tab.)

For advanced users, more flexible options will be provided via [extra addons extending T

[2019-05-01 16:55] piroor commented on #1257
I close this because outdated.

[2019-05-01 16:55] #1257 closed

[2019-05-01 16:56] piroor commented on #1283
I close this because outdated.

[2019-05-01 16:56] #1283 closed

[2019-05-01 17:02] piroor commented on #1313
Managing of tabs based on containers is out of purpose of Tree Style Tab. For your information, Firefox Multi-Account Container has a command to sort tabs with containers (but sadly the feature is not compatible with TST - tree structure is broken after tabs are sorted. I created a [pull request](https://github.com/mozilla/multi-account-containers/pull/1377) to improve its compatibility with TST.)

[2019-05-01 17:02] #1313 closed

[2019-05-01 17:02] piroor commented on #1337
I close this because it is impossible.

[2019-05-01 17:02] #1337 closed

[2019-05-01 17:03] piroor commented on #1344
I close this because outdated.

[2019-05-01 17:03] #1344 closed

[2019-05-01 17:04] piroor commented on #1376
I close this because it is possible with custom stylesheets.

[2019-05-01 17:04] #1376 closed

[2019-05-01 17:05] piroor commented on #1387
I close this because outdated. Now TST has the option.

[2019-05-01 17:05] #1387 closed

[2019-05-01 17:06] piroor commented on #1389
I close this because outdated. Now there is a builtin context menu command "Close Tabs to Bottom".

[2019-05-01 17:06] #1389 closed

[2019-05-01 17:06] piroor commented on #1460
I close this because outdated.

[2019-05-01 17:06] #1460 closed

[2019-05-01 17:07] piroor commented on #1425
I close this because outdated.

[2019-05-01 17:07] #1425 closed

[2019-05-01 17:08] piroor commented on #1526
I close this because outdated.

[2019-05-01 17:08] #1526 closed

[2019-05-01 17:09] piroor commented on #1468
I close this because outdated.

[2019-05-01 17:09] #1468 closed

[2019-05-01 17:09] piroor commented on #1471
I close this because outdated. Now TST has ability to control successor tabs.

[2019-05-01 17:09] #1471 closed

[2019-05-01 17:10] piroor commented on #1458
I close this because it is not a problem of addon side.

[2019-05-01 17:10] #1458 closed

[2019-05-01 17:11] joshgold22 commented on #664
oh, I agree, I don't think there should be more options by default in TST (and having only one Sibling is proabably a good idea).  I'd misunderstood and thought the main gist was about adding keyboard shortcuts, sorry.

[2019-05-01 17:11] piroor commented on #1420
I close this because it is not a problem of addon side.

[2019-05-01 17:11] #1420 closed

[2019-05-01 17:12] piroor commented on #1549
I close this because outdated.

[2019-05-01 17:12] #1549 closed

[2019-05-01 17:12] piroor commented on #1546
I close this because outdated.

[2019-05-01 17:12] #1546 closed

[2019-05-01 17:13] piroor commented on #1559
I close this because outdated.

[2019-05-01 17:13] #1559 closed

[2019-05-01 17:14] piroor commented on #1586
I close this because outdated. Now TST automatically applies theme color of Firefox itself.

[2019-05-01 17:14] #1586 closed

[2019-05-01 17:14] piroor commented on #1530
I close this because outdated.

[2019-05-01 17:14] #1530 closed

[2019-05-01 17:15] piroor commented on #1560
I close this because outdated. Now this is possible.

[2019-05-01 17:15] #1560 closed

[2019-05-01 17:15] piroor commented on #1568
I close this because it is not a problem of addon side.

[2019-05-01 17:15] #1568 closed

[2019-05-01 17:17] piroor commented on #1654
I close this because outdated. Now WebExtensions API returns data: URI and it won't be blocked.

[2019-05-01 17:17] #1654 closed

[2019-05-01 17:18] piroor commented on #1634
I close this because outdated.

[2019-05-01 17:18] #1634 closed

[2019-05-01 17:18] piroor commented on #1680
I close this because outdated.

[2019-05-01 17:18] #1680 closed

[2019-05-01 17:19] piroor commented on #1675
I close this because outdated.

[2019-05-01 17:19] #1675 closed

[2019-05-01 17:19] #1661 closed

[2019-05-01 17:19] #1834 closed

[2019-05-01 17:19] #1494 closed

[2019-05-01 17:20] #1588 closed

[2019-05-01 17:20] piroor commented on #1630
I close this because outdated. Now it is a builtin feature.

[2019-05-01 17:20] #1630 closed

[2019-05-01 17:21] #1725 closed

[2019-05-01 17:22] piroor commented on #1816
I close this because outdated. Now it is an exposed option.

[2019-05-01 17:22] #1816 closed

[2019-05-01 17:22] #1856 closed

[2019-05-01 17:23] #1941 closed

[2019-05-01 17:24] piroor commented on #2001
I close this because outdated.

BTW, now TST has a builtin context menu command "Create New Group from tabs" for tabs multiselected via Ctrl/Shift-click.

[2019-05-01 17:24] #2001 closed

[2019-05-01 17:26] piroor commented on #1427
I close this because outdated.

[2019-05-01 17:26] #1427 closed

[2019-05-01 17:26] piroor commented on #1479
I close this because outdated.

[2019-05-01 17:26] #1479 closed

[2019-05-01 17:27] piroor commented on #1495
I close this because outdated.

[2019-05-01 17:27] #1495 closed

[2019-05-01 17:28] piroor commented on #1844
I close this because outdated.

[2019-05-01 17:28] #1844 closed

[2019-05-01 17:29] piroor commented on #1631
I close this because outdated.

[2019-05-01 17:29] #1631 closed

[2019-05-01 17:29] piroor commented on #1633
I close this because outdated.

[2019-05-01 17:29] #1633 closed

[2019-05-01 17:29] piroor commented on #1653
I close this because outdated.

[2019-05-01 17:29] #1653 closed

[2019-05-01 17:29] #1672 closed

[2019-05-01 17:30] piroor commented on #1697
I close this because outdated.

[2019-05-01 17:30] #1697 closed

[2019-05-01 17:30] piroor commented on #1695
I close this because outdated.

[2019-05-01 17:30] #1695 closed

[2019-05-01 17:30] piroor commented on #1682
I close this because outdated.

[2019-05-01 17:30] #1682 closed

[2019-05-01 17:31] piroor commented on #1622
I close this because outdated.

[2019-05-01 17:31] #1622 closed

[2019-05-01 17:32] piroor commented on #1701
I close this because outdated.

[2019-05-01 17:32] #1701 closed

[2019-05-01 17:32] piroor commented on #1705
I close this because outdated.

[2019-05-01 17:32] #1705 closed

[2019-05-01 17:32] #1715 closed

[2019-05-01 17:32] piroor commented on #1742
I close this because outdated.

[2019-05-01 17:32] #1742 closed

[2019-05-01 17:33] piroor commented on #1779
I close this because outdated.

[2019-05-01 17:33] #1779 closed

[2019-05-01 17:33] piroor commented on #1796
I close this because outdated.

[2019-05-01 17:33] #1796 closed

[2019-05-01 17:33] piroor commented on #1801
I close this because outdated.

[2019-05-01 17:33] #1801 closed

[2019-05-01 17:33] piroor commented on #1818
I close this because outdated.

[2019-05-01 17:33] #1818 closed

[2019-05-01 17:34] piroor commented on #1839
I close this because outdated.

[2019-05-01 17:34] #1839 closed

[2019-05-01 17:34] piroor commented on #1842
I close this because outdated.

[2019-05-01 17:34] #1842 closed

[2019-05-01 17:34] piroor commented on #1852
I close this because outdated.

[2019-05-01 17:34] #1852 closed

[2019-05-01 17:34] piroor commented on #1854
I close this because outdated.

[2019-05-01 17:34] #1854 closed

[2019-05-01 17:35] piroor commented on #1857
I close this because outdated.

[2019-05-01 17:35] #1857 closed

[2019-05-01 17:35] piroor commented on #1896
I close this because outdated.

[2019-05-01 17:35] #1896 closed

[2019-05-01 17:35] #1905 closed

[2019-05-01 17:35] piroor commented on #1908
I close this because outdated.

[2019-05-01 17:35] #1908 closed

[2019-05-01 17:35] piroor commented on #1913
I close this because outdated.

[2019-05-01 17:35] #1913 closed

[2019-05-01 17:36] piroor commented on #1918
I close this because outdated.

[2019-05-01 17:36] #1918 closed

[2019-05-01 17:36] piroor commented on #1921
I close this because outdated.

[2019-05-01 17:36] #1921 closed

[2019-05-01 17:36] piroor commented on #1926
I close this because outdated.

[2019-05-01 17:36] #1926 closed

[2019-05-01 17:36] piroor commented on #1934
I close this because outdated.

[2019-05-01 17:36] #1934 closed

[2019-05-01 17:36] piroor commented on #1953
I close this because outdated.

[2019-05-01 17:36] #1953 closed

[2019-05-01 17:36] piroor commented on #1986
I close this because outdated.

[2019-05-01 17:36] #1986 closed

[2019-05-01 17:36] piroor commented on #1987
I close this because outdated.

[2019-05-01 17:36] #1987 closed

[2019-05-01 17:37] #1993 closed

[2019-05-01 17:37] piroor commented on #2003
I close this because outdated.

[2019-05-01 17:37] #2003 closed

[2019-05-01 17:37] piroor commented on #2034
I close this because outdated.

[2019-05-01 17:37] #2034 closed

[2019-05-01 17:38] piroor commented on #2085
I close this because it is not a problem of addon side.

[2019-05-01 17:38] #2085 closed

[2019-05-01 17:39] piroor commented on #2182
I close this because outdated.

[2019-05-01 17:39] #2182 closed

[2019-05-01 17:40] piroor commented on #2195
I close this because outdated.

[2019-05-01 17:40] #2195 closed

[2019-05-01 17:40] piroor commented on #2197
I close this because outdated.

[2019-05-01 17:40] #2197 closed

[2019-05-01 17:41] piroor commented on #1396
I close this because outdated.

[2019-05-01 17:41] #1396 closed

[2019-05-01 17:41] piroor commented on #1464
I close this because outdated.

[2019-05-01 17:41] #1464 closed

[2019-05-01 17:42] piroor commented on #1757
I close this because outdated.

[2019-05-01 17:42] #1757 closed

[2019-05-01 17:42] piroor commented on #1812
I close this because outdated.

[2019-05-01 17:42] #1812 closed

[2019-05-01 17:42] piroor commented on #1833
I close this because outdated.

[2019-05-01 17:42] #1833 closed

[2019-05-01 17:42] piroor commented on #1843
I close this because outdated.

[2019-05-01 17:42] #1843 closed

[2019-05-01 17:43] #2102 closed

[2019-05-01 17:43] piroor commented on #2129
I close this because outdated.

[2019-05-01 17:43] #2129 closed

[2019-05-01 17:44] piroor commented on #1496
I close this because outdated.

[2019-05-01 17:44] #1496 closed

[2019-05-01 17:44] piroor commented on #1787
I close this because outdated.

[2019-05-01 17:44] #1787 closed

[2019-05-01 17:44] #2228 closed

[2019-05-01 17:44] #2215 closed

[2019-05-01 17:45] piroor commented on #2148
I close this because outdated.

[2019-05-01 17:45] #2148 closed

[2019-05-01 17:45] piroor commented on #1924
Now there  is the option.

[2019-05-01 17:45] #1924 closed

[2019-05-01 17:50] ssokolow commented on #2003
For the record, before I had to disable TST about a month ago because it seemed to be consistently contributing to Firefox being too sluggish, this problem was still an issue.

(I'm thinking that, when I have time, I'll investigate whether it's viable to write my own TST clone which treats the sidebar's DOM as the authoritative copy of the tree so it's impossible for it to get out of sync. I know,

[2019-05-01 17:51] donw146 commented on #2247
This option is TSM's. I've included a screen capture of my complete TSM settings. Most are defaults but I have made a few changes.
![2019-05-01_13-47-18](https://user-images.githubusercontent.com/8295285/57032318-1347d380-6c18-11e9-9c4c-f9fd1a5a4705.png)

[2019-05-01 19:59] stapuft commented on #2246
maybe it has something to do with, the extension, https://addons.mozilla.org/en-US/firefox/addon/hide-tab ? as i cant replicate it on a clean profile, and that is the only extension i have that messes with my tabs, other than TST, but even with it being the only extension, other than TST i cant replicate it on command......maybe its just my bad luck? anyway thanks for the help. you rule, keep up t

[2019-05-01 20:20] darkdragon-001 commented on #1586
This does not work with the latest version from today (3.0.10). I am using Firefox 66.0.3 on Ubuntu.
I chose The _Dark_ theme in Firefox and configured _Tree Style Tab_ to use _Plain_ theme with _Apply Browser Theme_ enabled. Tabs still appear gray...

[2019-05-02 04:33] piroor commented on #1586
Sorry I forgot to add a note. You need to use Nightly 68.0a1 to try the feature.

[2019-05-02 04:42] piroor commented on #1384
I close this because outdated.

[2019-05-02 04:42] #1384 closed

[2019-05-02 04:45] piroor commented on #1628
I close this because outdated.

@cipri-tom The problem looks another topic. If it appears on the latest version of TST, please file it as a new issue.

[2019-05-02 04:45] #1628 closed

[2019-05-02 04:46] piroor commented on #1620
I close this because outdated.

[2019-05-02 04:46] #1620 closed

[2019-05-02 04:46] #1602 closed

[2019-05-02 04:46] piroor commented on #1596
I close this because outdated.

[2019-05-02 04:46] #1596 closed

[2019-05-02 04:48] piroor commented on #1593
I close this because outdated.

[2019-05-02 04:48] #1593 closed

[2019-05-02 04:49] piroor commented on #1576
I close this because outdated.

[2019-05-02 04:49] #1576 closed

[2019-05-02 04:50] piroor commented on #1573
I close this because outdated.

[2019-05-02 04:50] #1573 closed

[2019-05-02 04:50] piroor commented on #1518
I close this because outdated.

[2019-05-02 04:50] #1518 closed

[2019-05-02 04:50] piroor commented on #1505
I close this because outdated.

[2019-05-02 04:50] #1505 closed

[2019-05-02 04:51] piroor commented on #1497
I close this because outdated.

[2019-05-02 04:51] #1497 closed

[2019-05-02 04:51] piroor commented on #1466
I close this because outdated.

[2019-05-02 04:51] #1466 closed

[2019-05-02 04:52] piroor commented on #1580
I close this because outdated.

[2019-05-02 04:52] #1580 closed

[2019-05-02 04:53] piroor commented on #1597
I close this because outdated.

[2019-05-02 04:53] #1597 closed

[2019-05-02 04:53] piroor commented on #1621
I close this because outdated.

[2019-05-02 04:53] #1621 closed

[2019-05-02 04:54] piroor commented on #1754
I close this because outdated.

[2019-05-02 04:54] #1754 closed

[2019-05-02 04:54] piroor commented on #1749
I close this because outdated.

[2019-05-02 04:54] #1749 closed

[2019-05-02 04:55] piroor commented on #1743
I close this because outdated.

[2019-05-02 04:55] #1743 closed

[2019-05-02 04:55] piroor commented on #1737
I close this because outdated.

[2019-05-02 04:55] #1737 closed

[2019-05-02 04:55] piroor commented on #1724
I close this because outdated.

[2019-05-02 04:55] #1724 closed

[2019-05-02 04:56] piroor commented on #1722
I close this because outdated.

[2019-05-02 04:56] #1722 closed

[2019-05-02 04:57] piroor commented on #1693
I close this because outdated. This is now available.

[2019-05-02 04:57] #1693 closed

[2019-05-02 04:57] piroor commented on #1704
I close this because outdated.

[2019-05-02 04:57] #1704 closed

[2019-05-02 04:58] piroor commented on #1689
I close this because outdated. New Tab from Location Bar is not maintained anymore.

[2019-05-02 04:58] #1689 closed

[2019-05-02 04:58] piroor commented on #1685
I close this because outdated.

[2019-05-02 04:58] #1685 closed

[2019-05-02 04:59] piroor commented on #1681
I close this because outdated.

[2019-05-02 04:59] #1681 closed

[2019-05-02 04:59] piroor commented on #1671
I close this because outdated.

[2019-05-02 04:59] #1671 closed

[2019-05-02 05:00] piroor commented on #1668
I close this because outdated.

[2019-05-02 05:00] #1668 closed

[2019-05-02 05:01] piroor commented on #1745
I close this because outdated.

[2019-05-02 05:01] #1745 closed

[2019-05-02 05:04] piroor commented on #1837
I close this because outdated.

[2019-05-02 05:04] #1837 closed

[2019-05-02 05:06] piroor commented on #1791
I close this because outdated.

[2019-05-02 05:06] #1791 closed

[2019-05-02 05:15] piroor commented on #1780
I close this because outdated.

[2019-05-02 05:15] #1780 closed

[2019-05-02 05:20] piroor commented on #1782
I close this because outdated.

[2019-05-02 05:20] #1782 closed

[2019-05-02 05:20] #1788 closed

[2019-05-02 05:21] piroor commented on #1799
I close this because outdated.

[2019-05-02 05:21] #1799 closed

[2019-05-02 05:22] #1819 closed

[2019-05-02 05:23] piroor commented on #1822
I close this because outdated.

[2019-05-02 05:23] #1822 closed

[2019-05-02 05:23] piroor commented on #1828
I close this because outdated.

[2019-05-02 05:23] #1828 closed

[2019-05-02 05:23] piroor commented on #1826
I close this because outdated.

[2019-05-02 05:23] #1826 closed

[2019-05-02 05:27] piroor commented on #1979
I close this because this looks same to #2200 and it has been fixed on 3.0.10.

[2019-05-02 05:27] #1979 closed

[2019-05-02 05:28] #1976 closed

[2019-05-02 05:29] #1914 closed

[2019-05-02 05:29] piroor commented on #1911
I close this because outdated.

[2019-05-02 05:29] #1911 closed

[2019-05-02 05:30] piroor commented on #1894
I close this because outdated.

[2019-05-02 05:30] #1894 closed

[2019-05-02 05:32] piroor commented on #2044
I close this because outdated.

[2019-05-02 05:32] #2044 closed

[2019-05-02 05:32] piroor commented on #2042
I close this because outdated.

[2019-05-02 05:32] #2042 closed

[2019-05-02 05:33] #2039 closed

[2019-05-02 05:34] piroor commented on #2021
I close this because outdated. On such cases TST 3.0.10 should reload itself automatically.

[2019-05-02 05:34] #2021 closed

[2019-05-02 05:35] piroor commented on #2017
I close this because outdated.

[2019-05-02 05:35] #2017 closed

[2019-05-02 05:35] #2047 closed

[2019-05-02 05:36] #2058 closed

[2019-05-02 05:36] #2059 closed

[2019-05-02 05:36] piroor commented on #2063
I close this because outdated.

[2019-05-02 05:36] #2063 closed

[2019-05-02 05:36] #2070 closed

[2019-05-02 05:38] piroor commented on #2088
I close this because outdated.

[2019-05-02 05:38] #2088 closed

[2019-05-02 05:38] #2105 closed

[2019-05-02 05:39] piroor commented on #2126
I close this because outdated.

[2019-05-02 05:39] #2126 closed

[2019-05-02 05:40] piroor commented on #2139
I close this because outdated.

[2019-05-02 05:40] #2139 closed

[2019-05-02 05:41] #2145 closed

[2019-05-02 05:41] #2149 closed

[2019-05-02 05:43] piroor commented on #2154
TST 3.0.10 contains a fix for a similar issue. I hope it affects to this too.

[2019-05-02 05:44] #2164 closed

[2019-05-02 05:52] protist commented on #260
FWIW I haven't seen this problem for over a year or so.

[2019-05-02 06:46] justdave commented on #260
I still see it continually. Usually when Firefox crashes or my laptop fails to hibernate.

[2019-05-02 12:45] cipri-tom commented on #2244
@piroor I just got the update for `3.0.10` which includes that commit, but didn't get the tree back. I mean, not the one that was flattened. I restarted Firefox and all that. The indents that appeared since the flattening (in the same tree), are still there, so it's just the old tabs that kind of lost the tree information.

I can upload my list of tabs or anything that would help with debugging, i

[2019-05-02 13:26] irvinm commented on #2130
@MurzNN, can we close this item?

[2019-05-02 13:31] irvinm commented on #2245
@hawran, can you reproduce this in a clean profile with just TST?  (Or can you reproduce consistently?)

[2019-05-02 13:33] irvinm commented on #2101
@paulri, can we close out this item or are you able to still reproduce this?

[2019-05-02 13:38] irvinm commented on #1983
@defanor, does this problem still exist in current versions of Firefox?  (Can we close this?)

[2019-05-02 13:46] irvinm commented on #1858
@aloisdg, is this still a problem for you?  Is anyone still seeing this issue?  Can we close it?

[2019-05-02 13:48] irvinm commented on #1859
https://github.com/piroor/treestyletab/issues/1709 is closed.  Can anyone confirm is this is still a problem or not?  Can we close this item?

[2019-05-02 13:54] irvinm commented on #1786
Non-critical issue.  Closing.

[2019-05-02 13:54] #1786 closed

[2019-05-02 13:59] irvinm commented on #2172
@remram44, any update on the situation?  Can we close this item?

[2019-05-02 14:01] irvinm commented on #2191
@bughit are you still experiencing a problem with the latest version given piroor's information?

[2019-05-02 14:04] defanor commented on #1983
It does in FF 60.3.0esr with TST 2.8.5. Not an issue for me personally
anymore though, since I switched from built-in color overriding to a
global CSS.

Apparently the most recent FF version is 66.0.3 now, but I don't have it
at hand to test.

[2019-05-02 14:04] FlyingPenguinOFC commented on #2200
3.0.10 seems to be working fine for me on regular release Firefox. Thanks!

[2019-05-02 15:16] #2200 closed

[2019-05-02 15:19] #1983 closed

[2019-05-02 15:58] SammysHP opened #2253 "Add option to replace temporary group with last remaining child"
In the preferences you can select that a temporary group should be created if the parent tab of a branch gets closed. This group will stay open until all children are closed.

I propose to add another option (either in the preferences or in the tab group page) to replace the group with the last remaining tab if all direct children except one get closed.

[2019-05-02 17:04] piroor commented on #2253
Thanks, I think this is more natural than the current behavior on such a situation. TST is already designed to close a group tab automatically when there is only one child and it is another group tab, the special behavior was prepared for such cases. So, I've introduced changes to apply the new behavior as the fixed behavior for a group tab opened as a successor of a closed parent tab.

[2019-05-02 17:32] piroor commented on #2244
@cipri-tom Did you mean that flattened tree was not restored after updating of TST? Then, sadly TST may not possible to restore tree anymore on such cases and you may need to recreate tree structure by manual drag and drop. The change introduced at 3.0.10 means that structured tree will be kept as is after reloading triggered to fix misunsynchronizations of tabs.

[2019-05-02 17:47] piroor commented on #260
@justdave Does your tree restored correctly on regular session restoration of Firefox except the crash recovery? Crashed cases are different from other cases, and we need to note that complete restoration of everything including addon features is not guaranteed. TST stores tree structure information as a part of Firefox's session information, but I think that there is no guarantee that data stored

[2019-05-02 18:52] bughit commented on #2191
this bug is till present in 3.0.10

[2019-05-02 20:35] IRainman commented on #2034
This problem is not fixed. Sometimes this problem occured. Probable cause and sequence to repeat:
- open several nested trees with a large number of tabs (preferably real, social networks or news sites will do)
- walk through the tabs
- let them work
- open more tabs in the tree
- let work
- walk through tabs
- try to close the root of this structure, in the process messages may appear that the ta

[2019-05-02 20:38] piroor commented on #2034
@IRainman Could you narrow down conditions to reproduce the problem? Steps to reproduce with a clean profile (See also: https://github.com/piroor/treestyletab/wiki/How-to-run-Firefox-with-a-clean-profile ) is really required to fix this bug by me.

[2019-05-02 20:41] IRainman opened #2255 "Internal tests not succesfull, but probably is ok"
Firefox 66.0.3

 .EEEE.F........Done.

    testAutoFixupForHiddenTabs
    TypeError: browser.tabs.hide is not a function

    testAutoFixupForHiddenTabs/<@moz-extension://f00d935b-ba19-4f3a-8238-c6acb40f42fc/tests/test-hidden.js:89:7
    testAutoFixupForHiddenTabs@moz-extension://f00d935b-ba19-4f3a-8238-c6acb40f42fc/tests/test-hidden.js:79:11
    async*runAll@moz-extension://f00d935b-ba19-4f3a-823

[2019-05-02 20:49] piroor commented on #2191
I still cannot reproduce this on my environment, so there looks to be more unknown required conditions to reproduce it. For example:

* Secret options managed via `about:config`, under the namespace `browser.tabs.`
* Other addons especially related to tabs
* Some options of TST itself (*now they are exportable - TST options => Development => Debug => All Configs => Export)

Until conditions become

[2019-05-02 20:54] piroor commented on #2255
You need to give an extra permission to TST before running tests:
![image](https://user-images.githubusercontent.com/70062/57106252-da1e7900-6d67-11e9-86a8-a866fe71e6ef.png)

[2019-05-02 21:02] piroor commented on #2246
Does this problem still happen with new clean window? You can transfer existing tabs to a new window with these steps:

1. Hit Ctrl-N. A new browser window is opened.
2. Show the TST sidebar in both windows.
3. Drag a parent tab from the sidebar in the existing window, to the sidebar of the new window.
4. Repeat the step 3 for all parent tabs, until all tabs are transferred.

If the problem doesn'

[2019-05-02 21:10] piroor commented on #2247
Hmm, 750msec delay looks very large... On my environment 150msec (default value of TSM) is enough. However, the required minimum delay can be affected with the number of tabs, the system performance, and others.

[2019-05-02 22:12] bughit commented on #2191
The directions I provided are for a new profile, there are no other extensions and no pref changes. I just tried again with a new profile. The bookmark toolbar appears to be significant so if you follow these exactly, you should be able to repro (tested on win7 x64 and Ubuntu 14.04 x64).

1. start fx 66.0.3 x64 with a new profile `firefox -no-remote -profile c:\profile\path`
2. right click on the

[2019-05-02 22:22] bughit commented on #2191
On subsequent "open all in tabs" it does not prompt even with three tabs. It's consistent, I can't get it to prompt at all and tabs open flat, that's definitely another bug. For the purpose of this bug you can disable confirm to group and then grouping works reliably.

[2019-05-02 22:35] stapuft commented on #2246
next time it happens i shall try that, thank you for all the help.

[2019-05-03 03:12] pfheatwole commented on #2241
Sure, I can do that if it would help, but I see 3.0.10 has been released since your last message. Does 3.0.10 include the changes from the development build you were wanting me to test? If it does, I'll stick to the official releases and report if I experience this bug again. Thanks!

[2019-05-03 03:35] MurzNN commented on #2241
Thanks, after recent updates seems the problem is disappear! I don't do many tests at now, so maybe it will be reproduced in near future. Let's close issue now, I will reopen it if problem is reproduced again.

[2019-05-03 03:35] #2241 closed

[2019-05-03 06:59] gonhidi commented on #2078
There are now two instances which feel slightly different (tested using and unbranded build of Firefox 66.0.3 and the 3.0.10.9081, 2019-05-03 01:58, development build of Tree Style Tab) in which a tab is unexpectedly detached.

The first case is when clicking down during uninterrupted mouse movement. When releasing the click, the tab gets moved to a new window:

[code]

The second case is when mov

[2019-05-03 07:06] paulri commented on #2101
You can close this out. Thank you.

[2019-05-03 07:21] gonhidi opened #2256 "Tab is not detached when dragged outside of the sidebar"
## Short description

When using mouse drag and drop on a tab from the sidebar to a non-sidebar area, the tab is supposed to get detached and open in a new browsed window, but it doesn't

## Steps to reproduce

 1. Start Firefox for macOS (for this report, unbranded version 66.0.3) with clean profile.
 2. Install TST (for this report, 3.0.10.9081 development version dated at 2019-05-03 01:58).
 3.

[2019-05-03 09:55] IRainman commented on #2255
` ...............Done.`

Thank you! It works.

[2019-05-03 09:55] #2255 closed

[2019-05-03 10:27] IRainman commented on #2034
I will try, but not sure that this will be done quickly. In addition, I am not sure about the reasons for these errors, it is possible that the browser settings are to blame, at least auto playback of the sound is forbidden to me, animations are turned off and there is a lot more that prevents from working properly.

[2019-05-03 16:14] donw146 commented on #2247
750 ms was just an arbitrary guess that worked. It doesn't seem to introduce any appreciable delay in loading tabs. I frequently have several hundred tabs open in 2 or more windows so I plan to leave it at what appears to be a safe level for my usage.

[2019-05-03 17:21] #2101 closed

[2019-05-03 21:07] bughit opened #2257 "unreliable prompting for tab grouping when opening a bookmark folder (open all in tabs)"
## Short description

Please follow he repro directions exactly, a deviation in at least some steps will not repro.

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3. show the bookmark bar
 4. add "New Folder" to it
 5. add 2 bookmarks to "New Folder" without navigating to them
    1. name & location: http://example.org/?1
    2. name & location: http://example.org/

[2019-05-03 21:44] piroor commented on #2256
I think this is a bug of Firefox itself. Here is a small example for testing: [sidebar-example.xpi.zip](https://github.com/piroor/treestyletab/files/3143590/sidebar-example.xpi.zip). Steps to test:

1. Download the file and rename to `sidebar-example.xpi`.
2. Go to `about:debugging`.
3. Load  `sidebar-example.xpi` as a temporary addon. Then you'll see a sidebar with tab items.
4. Open debugger for

[2019-05-03 22:17] piroor commented on #2256
[Bug 1548949 - dataTransfer.dropEffect of dragend event randomly become non-"none" values when the dragged item is dropped on undroppable location](https://bugzilla.mozilla.org/show_bug.cgi?id=1548949)

I've reported this problem to the bugzilla.mozilla.org.

[2019-05-03 22:47] piroor commented on #2257
Thanks, I forgot to check the permission to run script in the content area on such cases. After the commit d77de64 the confirmation dialog will be shown in the sidebar when `<all_urls>` permission is not granted yet.

As a workaround, you can give the permission manually via: TST options => "Tree Behavior" => "Don't expand collapsed tree and skip collapsed descendants, while switching focus of tab

[2019-05-03 22:59] piroor commented on #2191
Thanks! I've successfully reproduced the problem. The important point is: one of child tabs must be the active before Firefox restarts.

[2019-05-03 23:43] piroor commented on #2191
After investigation I've realized what's happen:

1. The first tab is initialized and a new unique id is issued for the tab. (Note: unique id is persistent across sessions.)
2. Firefox recycles the first tab as the restored old active tab. The old active tab had a unique id different from the one issued at the step 1, but it was not restored because the tab is recycled and it already has its own u

[2019-05-04 01:37] piroor commented on #2191
I think the commit d9e89d8 should fix this. On my environment I don't see the problem anymore.

[2019-05-04 10:01] j-cimb-barker opened #2258 "Tree Style Tab is Disabled"
## Short description

Tree Style Tab gets disabled on install. Additionally downloading Tree Style Tab from https://addons.mozilla.org/en-US/firefox/addon/tree-style-tab/ gets "Download failed. Please check your connection."

I have checked my network connection. All is good.

I have previously installed Tree Style Tab. It is now marked as a legacy Extension and disabled.

## Steps to reproduce

[2019-05-04 10:04] siikamiika commented on #2258
This is a Firefox issue: https://bugzilla.mozilla.org/show_bug.cgi?id=1548973

[2019-05-04 11:00] irvinm commented on #2258
It should be fixed now.  Please try again and close this item if resolved.

[2019-05-04 12:31] j-cimb-barker commented on #2258
This is resolved now.

[2019-05-04 12:31] #2258 closed

[2019-05-04 16:49] hhegedus opened #2259 "Unable to download update"
## Short description  Update to Tree Style Tab will not download

## Steps to reproduce
Firefox disabled my Tree Style Tab extension with a message that it was not compliant and must be updated.  It presented me with two updates, but I was unable to download either one.  I then removed the extension all together, restarted Firefox and started to reinstall the extension, but it would not download e

[2019-05-04 16:57] Fanolian commented on #2259
#2258
You can also find the updates of this worldwide issue at https://blog.mozilla.org/addons/2019/05/04/update-regarding-add-ons-in-firefox/

[2019-05-04 18:01] hhegedus commented on #2259
2258 says the problem is fixed, but I still can't download.  Is there
anything else I should do?
Also, I had already deleted and tried to reinstall the extension before I
read the blog on the problem.  Will it be able to pick all the tabs that
are open now and put them at least in a flat tree or must I start
rebuilding my tree from scratch?  It may be ridiculous, but I have probably
have close to

[2019-05-04 20:06] AlexTalker opened #2260 "Provide version for latest ESR"
## Short description
I use this tab for couple years now.
And it were enabled all the time until recently Firefox decide to press on add-on signing.
And things went to hell so quick that I decided to switch on latest `60 ESR` release instead of using nightly or developer builds which allow to overcome the problem.
Unfortunately, your add-on can't be installed neither from market nor from a file.
M

[2019-05-04 20:17] frougon commented on #2259
The advice on [support.mozilla.org](https://support.mozilla.org/en-US/kb/add-on-signing-in-firefox?as=u&utm_source=inproduct) displayed in FF along with “this extension has been disabled because it is unsigned bla bla bla” said:

So, seing no other way to get TTS working again (it was disabled while FF was running, without my intervention!), I removed the add-on. And what does [blog.mozilla.org](h

[2019-05-04 20:20] leftdisconnected commented on #2259
Unfortunately, removing an extension deletes its data, so you may have lost your tab collection.  Removing extensions is generally to be avoided.  Disabling an extension is much safer as nothing is deleted.  I realize that this knowledge doesn't help if you've already removed and re-installed, but perhaps someone else will find this information helpful.  I do sympathize as I also have perhaps a hu

[2019-05-04 20:40] frougon commented on #2259
The problem is, **reinstalling the add-on doesn't work**: I am at

  https://addons.mozilla.org/en-US/firefox/addon/tree-style-tab/

When clicking on _Add to Firefox_, it displays:

`Download failed. Please check your connection.`

on red background, but my connection is perfectly fine! This error has been there for several hours, for sure.

[2019-05-04 20:59] mordquist opened #2261 "Clarify supported versions in README"
## Short description
The README states that Firefox 57 and above is supported. It also says that TST is designed for the latest Firefox and Firefox ESR. This is no longer accurate as of 6710423.

A clarification of actually supported versions is probably in order to avoid confusion.

## Steps to reproduce

 1. Start Firefox 60 ESR with clean profile.
 2. Install TST.
 3. Install fails because of `

[2019-05-04 21:03] mordquist commented on #2260
Tree Style Tab Version 2.7.23 is the latest version that support Firefox 60 ESR. You can get it from Mozilla here: https://addons.mozilla.org/en-US/firefox/addon/tree-style-tab/versions/

[2019-05-05 05:17] piroor commented on #2261
The README.md is just a sub document. You need to see webextensions/manifest.json or [notes of supported versions on each release](https://addons.mozilla.org/firefox/addon/tree-style-tab/versions/) to know exact supported version of Firefox.

[2019-05-05 08:01] Gaia39 opened #2262 "TST has been disabled by FF after latest update. I trid to download the signed package, keeps failing, saying, 'download failed, check your connection.' Connection is fine. Help?"
## Short description

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3.
 4.

## Expected result

## Actual result

## Environment

 * Platform (OS):
 * Version of Firefox:
 * Version (or revision) of Tree Style Tab:

[2019-05-05 09:07] Fahrenh3it commented on #2262
Same here. FF 66.0.3 says Tab Session Manager is unsigned and has deactivated it. Can't download it again as the download page says "download failed, check your connection" despite the connection being perfectly fine. Problem is, I had lots of useful tabs saved and never made a backup of those as I never expected the module to be deactivated, so it looks like I lost all of them... Any clue as to h

[2019-05-05 09:43] AlexTalker commented on #2260
@mordquist @piroor
Well, thanks for the link, interface of the site did not suggest older version at least a bit explicitly. Now I finally see the link in the interface too. 😄

However, I would like if you updated what supposed to be the same link on official site:
![image](https://user-images.githubusercontent.com/3531127/57191902-54e7bf80-6f33-11e9-987d-fa848d2744ea.png)
The link under `Old Vers

[2019-05-05 09:45] AlexTalker commented on #2260
Also I overheard that issue with signatures were caused by Mozilla's screwing up their certificate.
As screenshots began to work, can't decide if I want to go back on latest anymore :trollface:

[2019-05-05 09:48] AlexTalker commented on #2262
Mozilla screwed up signing a bit. Someday they'll fix that back.
Until then, unless you use latest or beta on windows, you can select a workaround: https://support.mozilla.org/en-US/kb/add-on-signing-in-firefox?as=u&utm_source=inproduct#w_what-can-i-do-if-firefox-disables-an-installed-add-on

[2019-05-05 09:48] IRainman commented on #2262
That is not TST problem! Read this for detail https://bugzilla.mozilla.org/show_bug.cgi?id=1548973

[2019-05-05 10:05] IRainman opened #2263 "How to disable all animation? It's not working?"
I disable all animation in browser settings:

browser.download.animateNotifications = false
browser.stopReloadAnimation.enabled = false
toolkit.cosmeticAnimations.enabled = false

...and also disabled checkbox "Включить эффекты анимации" (in russian) in TST settings, but it's not working:

- when TST is loading
- when tab loading (reloading) animation
- when I trying to close group of tabs: some f

[2019-05-05 14:04] piroor commented on #2260
Thanks, I forgot to update links on my website.

[2019-05-05 14:22] piroor commented on #2260
I believe that it is a problem of Mozilla Add-ons website itself and should be tracked at the issue tracker of the AMO website: https://github.com/mozilla/addons-server/issues

[2019-05-05 14:25] piroor commented on #2262
Duplicated of #2258.

[2019-05-05 14:25] #2262 closed

[2019-05-05 14:26] piroor commented on #2259
Duplicated of #2258.

[2019-05-05 14:26] #2259 closed

[2019-05-05 14:33] piroor commented on #2261
I'm still negative to add version information to documents because I'll forget to update that. So, instead I've add a link to the install manifest to see the minimum supported version. Commit: 0726319fae1dc83a876b616a56a4af5275cc866f

[2019-05-05 15:52] Gaia39 commented on #2258
TST back now - thanks

[2019-05-05 15:53] Gaia39 commented on #2262
TSt back functioning

[2019-05-05 21:19] hhegedus commented on #2258
I am still having the exact same problem.  Why has this ticket been closed?

[2019-05-05 21:21] frougon commented on #2258
Same here...

[2019-05-05 21:24] hhegedus commented on #2262
If TST is working again then why am I still have this problem.  Tickets should not be closed before the problem is fixed and I don't consider running a beta version of FF a fix.

[2019-05-05 21:25] justdave commented on #2258
The ticket is closed because the problem is with Firefox, not with TST. There is nothing the TST developer can do to fix it, you have to get the update to Firefox to pick up the fix.

[2019-05-05 21:29] justdave commented on #2262
This was a problem in all versions of Firefox and TST, and the problem was with Firefox itself, not with TST. There is nothing the TST developer can do to fix this, which is why this ticket is closed. Follow the links above to the Firefox bug reports. There should be an update to Firefox (no matter which Firefox you're using) with a new signing key in it, you need to pick up that update for TST to

[2019-05-05 21:35] Gaia39 commented on #2258
Mine has sorted itself out. I pressed the TST icon in the URL/search bar (at the right) and it then reappeared. I did do the change in the privacy section under privacy & security in Firefox options – tick the box  ‘Allow Firefox to install and run studies.’

Don’t know whether that fixed it or if FF have fixed the error in the interim.

Lynda

From: hhegedus
Sent: Sunday, May 5, 2019 11:19 PM
To:

[2019-05-05 21:52] mordquist commented on #2261
Looks good to me! Closing this as solved.

Thank you for your great work on an indispensable add-on!

[2019-05-05 21:52] #2261 closed

[2019-05-05 22:01] mordquist commented on #2260
I agree that the issue lies with AMO, but given the following disclaimer I'm guessing it's intentional on Mozilla's part:
![Screenshot_20190505_235533](https://user-images.githubusercontent.com/16607572/57200917-f9442300-6f80-11e9-8c37-0e91e9aac0ba.png)

[2019-05-05 23:51] boistordu opened #2264 "groups tab vs flat tabs"
## Short description
Since the last update, I add this message to ask me if I wanted a group tabs or flat tabs and it didn't change anything. And I do'nt find it in the options of this addon .... so there is none or what was it?

 * Platform (OS): windows 10 pro with latest ffirfox 66.0.0.4

[2019-05-06 04:43] #2250 closed

[2019-05-06 04:43] #2249 closed

[2019-05-06 07:54] AlexTalker commented on #2260
@piroor @mordquist Yes, you're right, I just express why I've got confused: link were broken and interface of mozilla add-on website is just a mess(comparing to GitHub lets say, where you have `Release` tab at top of the page).
I'll file a report maybe but this issue is definitely closed.

[2019-05-06 07:54] #2260 closed

[2019-05-06 08:47] aloisdg commented on #1858
@irvinm Yes. I removed the extension.

[2019-05-06 08:47] #1858 closed

[2019-05-06 10:02] vonHabsi commented on #2190
Does the import/export setting include keyboard shortcuts?

[2019-05-06 10:12] vonHabsi commented on #2104
If I want to apply this example which file do I have to add it to?

[2019-05-06 12:09] irvinm commented on #2104
This code would need to be added to a new add-on that interacts with TST.  (Not as easy as just adding this code to a file exactly)

[2019-05-06 12:15] ploth opened #2265 "Unable to install TST for Firefox ESR"
## Short description

I'm unable to install TST for Firefox ESR. As stated in the FAQ it should be possible.

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Not able to install TST (Firefox addon page states (This add-on requires a newer version of Firefox (at least version 65.0). You are using Firefox 60.0.)

## Expected result

Able to install TST with my firefox release (60.5.

[2019-05-06 13:33] piroor commented on #2190
The feature doesn't export user-defined keyboard shortcuts, because they are stored in different datastore.

[2019-05-06 13:39] piroor commented on #2264
Sorry but I couldn't understand what is the problem you are facing. Please fill the issue template https://raw.githubusercontent.com/piroor/treestyletab/master/ISSUE_TEMPLATE.md to describe how to reproduce the problem on my environment.

[2019-05-06 13:47] piroor commented on #2265
Recently I've updated the FAQ and added some information about how to check currently supported version: https://github.com/piroor/treestyletab/blob/master/README.md#release-builds Now ESR60 is not supported, and you need to use TST 2.7.x instead of recent versions. See also #2260.

[2019-05-06 13:57] piroor commented on #2263
The option respects what happens when `toolkit.cosmeticAnimations.enabled` is disabled. The option disables animation *effects* when tabs are opened and closed. TST also just disables effects on opening/closing/collapsing/expanding tabs. To deactivate throbber animations you need to do it with user-defined stylesheet on TST's options. For example:

[code]

[2019-05-06 13:57] ploth commented on #2265
Thank you.
Lazy: The addon for ESR can be found [here](https://addons.mozilla.org/en-US/firefox/addon/tree-style-tab/versions/)

[2019-05-06 13:57] #2265 closed

[2019-05-06 14:02] piroor commented on #2263
I've added this to the code snippets: https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#disable-all-animation

[2019-05-06 15:01] boistordu commented on #2264
I can't since
1/ I didn't review your code
2/ =>so I can't say if it's normal behavior
3/ there is no expected behavior
4/ it's not a real issue but a lack of clarity and "maybe" a lack of feature in the options of your add-on

As I said, after the recent hotfix by firefox(if you have been following [the news](https://twitter.com/firefox/status/1125135184343396352?s=21))   which have been translat

[2019-05-06 16:05] piroor commented on #2264
You don't need to know how the code is written. Instead, you should treat it just as a black box. Steps to reproduce, expected result, and actual result should be written with the viewpoint of a regular user. However, they should be described with details, for example:

 * Good: "press the keyboard shortcut Ctrl-T", bad: "open a new tab" (how did you do that?)
 * Good: "open a bookmark folder in t

[2019-05-06 18:50] boistordu commented on #2264
Well yeah no problem with considering it as a black box, but still, I had nothing to report into step to reproduce since it happened out of the blue, I had no action to pinpoint as the point of origin and I didn't know if it was the normal behavior or not and finally I had not a clue about something related into the option.

Anyway, by chance I had another dialog popping up. Apparently I can't att

[2019-05-06 18:50] #2264 closed

[2019-05-07 08:34] cipri-tom commented on #2244
Yes, that's what I meant.

No worries, it was probably about time I do a cleanup among those tabs collapsed in trees long time ago ^^.

Thank you for introducing a fix!

[2019-05-07 08:34] #2244 closed

[2019-05-07 15:21] ciil commented on #2214
I do sometimes have the same problem. However, I don't have Temporary Containers installed, but Containerise (and of course Firefox Multi-Account Containers). A colleague reports also using Temporary Containers and also stumbling over this problem. It's proven very hard to directly reproduce so far, but might've something to do with switching container contexts rapidly. If I find out more, I'll re

[2019-05-07 15:54] azizLIGHT opened #2266 "Visually misaligned tree child after Firefox restarts"
## Short description
On some Firefox restarts, the tree structure is not rendered properly. Some children are displayed as being at the same level as their parent, however, they still retain their functionality as a child.
## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Set Firefox preference: check Restore previous session
 3. Install TST.
 4. Load Tree Structure as follows:
![im

[2019-05-07 15:59] azizLIGHT commented on #2266
I noticed that in Actual Result gif 1, the collapsing and expanding fixed the visual issue there, but not in Acutall Result gif 2. I must add that the TST settings between those two Firefox profiles are slightly different, but otherwise both are fresh Firefox profiles with no other addons

[2019-05-07 22:09] frougon commented on #2258
Thanks for the answers. Indeed, after updating Firefox to version 66.0.4-1 (Debian sid), I was again able to install TST and... the layout of my tabs was restored! :-)

[2019-05-08 05:58] piroor commented on #2266
Thanks. I've confirmed that this problem happens sometimes, so it looks a timing issue. With the commit f9dbe67 now TST tries to initialize and update the indent level more safely, so I think this problem should be solved.

I need more further testings to confirm the problem is really fixed or not. If you OK, there is an automated build including the fix: https://github.com/piroor/treestyletab/blo

[2019-05-08 06:41] piroor commented on #2214
@Tealk On recent versions I've introduced some improvements about tracking of tab indexes. Could you confirm that the problem you saw is still there or not?

 @ciil This type problem may happen after very quick operations around tabs: for example reopening of a tab immediately after it is opened and closing the original. Container type addons sometimes do that to enforce specific containers by con

[2019-05-08 07:55] Tealk commented on #2214
Hallo @piroor and thanks for your work so far, I haven't had the problem anymore.

[2019-05-08 14:59] irvinm commented on #2191
@bughit it looks like this landed in 3.0.11.  Can you confirm if this solves your problem now?  If so, let's close out the issue.  Thanks.

[2019-05-08 15:01] irvinm commented on #2257
@bughit same thing with this one.  Looks like the check-in made 3.0.11.  Let's confirm if this is fixed or not.

[2019-05-08 15:04] irvinm commented on #2247
@donw146 is it ok to close this issue?  If so, can you close it?

[2019-05-08 15:10] irvinm commented on #2253
@SammysHP can you review and close if this works?  Thanks.

[2019-05-08 15:14] irvinm commented on #2154
@aaaddd4747 can you review and test with 3.0.10 (or newer) and close this item if this is fixed?

[2019-05-08 15:23] irvinm commented on #2049
@rfreytag1 can you confirm if things are working for you now with the current version?  If so, can you close the defect?

[2019-05-08 15:25] irvinm commented on #2234
@stapuft can you confirm if you still see the problem after piroor's check-in?  If not, let's close out the issue.  Thanks.

[2019-05-08 15:28] irvinm commented on #2238
@PowerAccess can you review piroor's comments and recent check-ins to see if we could consider this resolved or not?  If so, can you close the item?

[2019-05-08 15:29] irvinm commented on #2236
@myBestSoftAndPref can you add this to the wiki and close out this item?  Thanks.

[2019-05-08 15:31] piroor opened #2267 "Group tab for tabs opened from a pinned tab in a different window is unexpectedly opened"
## Short description

A needless group tab is opened unexpectedly, when a tab is opened from a pinned tab.

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3. Install Aggregate Tabs to Main Window addon: https://addons.mozilla.org/firefox/addon/aggregate-tabs-to-main-window/
 4. Open 4 or more tabs.
 5. Open another browser window. Assume that the originally existing

[2019-05-08 15:34] piroor commented on #2267
At the step 9, two aggregated tabs are "pended to be grouped as tabs opened from same pinned tab". At the step 10, a new tab opened from a pinned tab in the window X triggers auto-grouping of tabs. Then, those pended tabs are going to be grouped. However, the opener pinned tab is still in the window Y. So the operation is unexpectedly aborted and a group tab for pended tabs is left in the window X

[2019-05-08 15:37] piroor commented on #2267
Fixed with the commit 1e34dc9.

[2019-05-08 15:37] #2267 closed

[2019-05-08 15:40] irvinm commented on #2235
@wdtglrn is there anything more to discuss on this?  If no, can you close this item?

[2019-05-08 15:42] donw146 commented on #2247
It is OK to close. Doing so.

[2019-05-08 15:42] #2247 closed

[2019-05-08 15:44] irvinm commented on #2218
@stapuft can you review to see if this issue can be closed?

[2019-05-08 15:47] irvinm commented on #2232
@Coldblackice did you want to continue to try to resolve this issue?  If so, can you please respond to piroor?  If not, can you close this issue?

[2019-05-08 15:49] irvinm commented on #2229
@bughit can you confirm and close this item?

[2019-05-08 16:17] jasonswearingen commented on #2218
fyi,  works great for me.

 I had my tabs mess up once in the last 20 days.  Not sure the reason, but pretty sure it was something about recovering my session after restarting my computer.  restarting firefox fixed it.  I use mulit-account containers a lot.

[2019-05-08 16:19] irvinm commented on #2222
@stapuft I grabbed the 3.0.5+ code snippet and it worked for me on Windows, FF 66.0.4, and TST 3.0.11.  (The scrollbar is hidden until my mouse hoovers over the tabs)  Can you try it with without any other TST or userchrome CSS just to test?

Here is the CSS I used:

[code]

[2019-05-08 16:27] SammysHP commented on #2253
I tested it for some days now and overall it works as expected. There might be a few special cases that cause problems, especially when re-opening closed tabs via ctrl-shift-t. I will check it in detail next weekend.

Not sure if this is related or a separate issue, but the group will be labeled as unread (which is highlighted in my config). IMHO groups should not get that class.

[2019-05-08 16:29] irvinm commented on #2217
@jimmydw666 is there anything more to discuss on this topic?  If no, can you close this item?

[2019-05-08 17:47] stapuft opened #2268 "restoring tabs after crash (again)"
## Short description
I leave my computer on pretty much all the time. while I slept Firefox crashed. I use the dialog box to send a report to mozilla, and restart/restore my session to be greeted by this
![image](https://user-images.githubusercontent.com/46431157/57395662-afcd2100-7196-11e9-9c31-06f51d1ba827.png)
my tab list is missing tabs (I had over 110 before I went to sleep) the order is mess

[2019-05-08 17:56] stapuft commented on #2268
## Short description
I leave my computer on pretty much all the time. while I slept Firefox crashed. I use the dialog box to send a report to mozilla, and restart/restore my session to be greeted by this
![image](https://user-images.githubusercontent.com/46431157/57395662-afcd2100-7196-11e9-9c31-06f51d1ba827.png)
my tab list is missing tabs (I had over 110 before I went to sleep) the order is mess

[2019-05-08 18:00] stapuft commented on #2266
this is very similar to my repeated issues with the tabs order and tree structure upon restoring Firefox sessions.

[2019-05-08 18:41] Jim78324279 commented on #2154
Working for me, thank you.

[2019-05-08 20:08] private-lock commented on #2049
I observed a little irregularity today. TST was deactivated since the weekend due to Armag-Add-on. Today FF 66.0.4 shipped and I restarted. There are 3 windows with about 200 tabs total. One minimal tree
- A
   - B
      - C
   - D

A was folded (trigangel to the right) and B and D were hidden, but C was visible. So I unfolded A and C got surrounded by B and D. Next I folded A again and B, C, D we

[2019-05-08 22:16] irvinm commented on #2049
I have seen this behavior sometimes on a reset where some of the tabs that should be hidden in a collapsed tree are visible after a restart.  For me, I don't even need to restart the browser to fix it.  Just "expand" the root of the tree and collapse it again and it should fix itself.  [This works in my case]

Obviously this is just a timing issue as the structure is still maintained and the act o

[2019-05-09 00:17] nollinvoyd commented on #2166
"At your first screenshot, only pinned tabs are visible and there looks to have no other regular (unpinned) tabs. Is this appearance wrong and actually there are regular tabs? Assume that these understanding is correct"
These are "regular" tabs, but they are "blanking/flicking" in substantial chunks like the example i posted., temporarily/momentarily.   They come back, but they were gone long enou

[2019-05-09 00:32] bughit commented on #2191
fixed

[2019-05-09 00:32] #2191 closed

[2019-05-09 00:34] bughit commented on #2257
fixed

[2019-05-09 00:34] #2257 closed

[2019-05-09 00:36] #2229 closed

[2019-05-09 08:26] the-trooper0000 opened #2269 "Code snippet "Show title of unread tabs in italic" stopped working"
## Short description

Up until recent Firefox update everything worked fine, yesterday I updated to 66.0.5 and code for unread tabs stopped working.

This is what I have entered:
/* Show title of unread tabs with red and italic font */
.tab.unread .label-content {
  color: red !important;
  font-style: italic !important;
}
*/

## Environment

 * Platform (OS): Win10
 * Version of Firefox:  66.0.5

[2019-05-09 09:23] DennisGaida opened #2270 "How to disable automatic overview tab in settings?"
## Short description
I don't want to get the automatic overview tab that is created when new tabs are automatically grouped.

## Steps to reproduce
1. Activate "Auto-group tabs opened from same pinned tab"
2. Open multiple tabs from that pinned tabs
3. A new tab is created ( with the URL moz-extension://<ID>/resources/group-tab.html?title=<TitleHere>&temporary=true&openerTabId=<TabID>)

## Expecte

[2019-05-09 09:39] piroor commented on #2270
Please look at the top-right edge of the tab's contents. There should be a link to the checkbox to control the behavior.
![image](https://user-images.githubusercontent.com/70062/57443666-893be280-7289-11e9-9027-29df52442d1b.png)

[2019-05-09 11:34] DennisGaida commented on #2270
You are perfectly right, but I don't have the option to disable this tab there (or am misunderstanding the options?):

![image](https://user-images.githubusercontent.com/2392217/57450593-27ff1980-725f-11e9-999a-3c5e2c4b980b.png)

[2019-05-09 12:37] irvinm commented on #2269
I pasted this into my TST CSS and red italic unread tab titles. (Same environment as you)

color: red !important;
font-style: italic !important;
}

[2019-05-09 13:20] azizLIGHT commented on #2266
Still seeing the issue on Firefox Nightly 68.0a1 (2019-05-09) (64-bit) and TST dev build 3.0.11.9104 with a completely fresh and separate Firefox profile
![nightly-TSTdev-misaligned-tree1](https://user-images.githubusercontent.com/8013867/57456481-49b7cb00-7276-11e9-885e-20c986bc4860.gif)

[2019-05-09 17:27] nollinvoyd opened #2271 "Erratic css display"
In the following image, the light tan background (loaded tab), dark tan background (unloaded tab) and yellow tab (active tab) display correctly, but the tabs with the grey background are unloaded tabs.  You can identify them by the blue font color.  They should have dark tan backgrounds.  Out of the several hundred tabs in this session, a good portion of them have grey backgrounds.

They must be i

[2019-05-09 20:20] stapuft commented on #2269
![image](https://user-images.githubusercontent.com/46431157/57484183-648a3f80-7276-11e9-917a-66b99101876a.png)
same environment, works for me

[2019-05-09 20:25] stapuft commented on #2270
how did you set it up to make those automatically? I have to manually make one if I want one.

[2019-05-10 02:20] piroor commented on #2270
@DennisGaida The last checkbox in the section "Auto-group tabs opened from same pinned tab" is it. When it is unchecked, TST won't create a group tab on this situation.

[2019-05-10 08:18] DennisGaida commented on #2270
Right, disabling the checkbox leads to the tabs not being children of anything anymore. I do want the tabs to be children of the pinned tab though.

Take the following example:
![image](https://user-images.githubusercontent.com/2392217/57512681-a1a11100-730c-11e9-8809-54e70391f2d0.png)

I have two pinned tabs: The github notification mail and Tiny Tiny RSS. I opened this issue three times from the

[2019-05-10 09:36] piroor commented on #2270
Did you mean that you want like this image?:
![image](https://user-images.githubusercontent.com/70062/57517512-f915a000-7351-11e9-99f0-a06d52d3019f.png)

Then sadly it is impossible, because pinned tabs are managed with a special flow different from regular tabs. "Faviconization" of pinned tabs look to be disabled, but the option just changes visible width of pinned tabs. They are still floated to

[2019-05-10 09:40] piroor commented on #2270
Sorry but I won't implement the feature for compatibility.

TST is designed to keep compatibility with Firefox's native tab bar and other tab related addons. On Firefox, pinned tabs are always managed in the different flow and placed at the start of the tab bar. And everything including tab related addons are designed to work with such preconditions. If TST tries to do like the edited screenshot a

[2019-05-10 09:50] piroor commented on #2269
I've tried the snippet and it works as expected for me. There may be something more triggers of the problem.

[2019-05-10 10:13] DennisGaida commented on #2270
Sad, but compatibility is a must of course. Thanks for taking the time to understand my issue!

I would appreciate some documentation on this in the Tooltip for this check box to help other users understand this behavior. I had to deduct myself that this "virtual tab" needs to be created for compatibility reasons.

[2019-05-10 10:13] #2270 closed

[2019-05-10 10:32] piroor commented on #2266
Thank you for testing. I've realized that there is one more missed case on the startup process about sidebar contents restored from cache. With the commit 66102b5 odd indentation on the startup should go away.

[2019-05-10 13:08] azizLIGHT commented on #2266
In preliminary tests, I don't see it anymore on Firefox Nightly 68.0a1 (2019-05-09) (64-bit) and TST dev build 3.0.11.9106.
I will keep testing to confirm more. Thanks for the fix!

[2019-05-10 18:59] stapuft opened #2272 "TST randomly turned grey, and reloaded itself, upon finishing that my entire tree structure was lost"
while a page was loading, TST randomly turned grey, and reloaded itself, upon finishing that my entire tree structure was lost, my tabs are still there, but they are all on the same level now.

are there any known causes or fixes for this? i have had vaguely similar issues for a while now, but this is the first time it has done it without firefox crashing.

windows 10, tst 3.0.11 ff 66.0.5

I am e

[2019-05-10 19:13] stapuft commented on #2272
oh great.......while trying to reorder them manually, they all disappeared.....

[2019-05-10 19:28] stapuft commented on #2272
oh great.......now tabs act like ghosts or something, they are there, but cannot be clicked on, right clicked on, moved or anything, I can CTRL+tab to them though, so they are still there....and I have restarted firefox 3 times already, I can move a few tabs, then this happens again.

[2019-05-10 20:55] rfreytag1 commented on #2049
@irvinm seems to be stable now. Only had a short reoccurence, but that was around the same time @private-lock had issues. Since then it seems to work fine.

Thanks for the fixes!

[2019-05-11 05:59] bughit opened #2273 ""open all in tabs" group root ends up a sibling of the last tab (instead of top-level)"
## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3.  add a bookmark folder to the bookmark bar with 2 bookmarks: http://example.org/?(1-2)
 4. open 3 homepage tabs and arrange them like this:
     1. home1
        1. home2
           1. home3
 5. "open all in tabs" the bookmark folder

## Expected result

The bookmark folder group root to be top-level

## Actual resul

[2019-05-11 09:51] SammysHP commented on #2253
Works great except for one use-case (that might be not related to this feature):

- Open some children
- Close the parent, which creates a group
- Close the children until the last child replaces the group
- Press <kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>T</kbd> to reopen the second to last child that was closed

Result: Only the group is recreated, but not the tab that was closed last.

@piroor Shou

[2019-05-11 10:33] UralZima commented on #1844
Please reopen the issue, the problem remains till now.
I am using Firefox 62 and most of my tabs are always unloaded (auto suspender), loaded tabs usually not more than 10-20. Firefox is very very slow, very slow rendering new tab opening, very slow switching between them...
Disabing TST fixes the issue.

I have about 100-150 unloaded tabs. When there are 5 total tabs, it is working faster, but an

[2019-05-11 10:36] UralZima opened #2274 "Firefox is VERY SLOW with multiple tabs opened, but suspended"
I am using Firefox 62 on Ubuntu 18.04 and most of my tabs are always unloaded (auto suspender), loaded tabs usually not more than 10-20. Firefox is very very slow, very slow rendering new tab opening, very slow switching between them...
Disabing TST fixes the issue.

I have about 100-150 unloaded tabs. When there are 5 total tabs, it is working faster, but anyway rendering of animations is very sl

[2019-05-11 11:47] irvinm commented on #1844
@UralZima I doubt that it is the number of unloaded tabs that is causing your slowdown.  I have 1026 tabs right now and only 15 active tabs and my performance is great.  (I am current with TST and FF, so my environment is a little different that yours)

[2019-05-11 12:33] piroor commented on #1844
@UralZima The latest version of TST doesn't support Firefox 62 anymore, and TST 2.7.x is the last version working with Firefox 62. Between TST 2.7 and TST 3.0 there are some performance improvements with a large restructuring of its internal design. The change is too large sadly I cannot backport it to TST 2.7. Thus I've decided to keep this closed for now.

[2019-05-11 12:34] piroor commented on #2274
The latest version of TST doesn't support Firefox 62 anymore, and TST 2.7.x is the last version working with Firefox 62. Between TST 2.7 and TST 3.0 there are some performance improvements with a large restructuring of its internal design. The change is too large sadly I cannot backport it to TST 2.7. Thus I've decided to keep this closed for now.

[2019-05-11 14:17] piroor commented on #2253
Thank you for suggestions. I've introduced changes to keep group tabs "already read".

On the other hand, "restore last closed regular tab instead of group tab" looks hard to be implemented a little. Simply I can trigger "restore one more tab" automatically when a group tab is restored, but there are some problems:

* "Restore closed tab" operation is not limited to be executed for the recently cl

[2019-05-11 15:11] piroor commented on #2273
Confirmed. This is triggered with TST's builtin behavior "fix tree structure after tabs are moved." On this case, the http://example.org?1 tab is detected as "opened at between a grandchild tab (home3) and a root tab (http://example.org?2), so TST automatically "fixes" the tree structure by attaching the first opened tab as the next sibling of the home3.

[2019-05-11 15:58] SammysHP commented on #2253
I fully agree with you that it would be hard or impossible to guess which tabs should be restored. Thus I think this issue can be closed.

Thank you for the fast response and implementation!

[2019-05-11 15:58] #2253 closed

[2019-05-11 16:11] piroor commented on #2273
This should be fixed with the commit 8670645. Thanks!

[2019-05-11 16:18] piroor commented on #2049
@private-lock The "unexpectedly unfolded" tabs problem should be tracked in another issue. If you OK, when you find out a minimal steps to reproduce that, please create a new issue for that.

[2019-05-11 16:18] #2049 closed

[2019-05-11 16:26] piroor commented on #2272
"while a page was loading, TST randomly turned grey, and reloaded itself" it is triggered when TST detect mis-synchronization of tabs tracked by TST and Firefox's native tabs. The operation should keep tree structure as it can, but it may fail with some unknown reasons. I need a help to find out the trigger causing the mis-synchronization on your environment, and I cannot solve it without clear st

[2019-05-11 18:12] piroor commented on #2271
Only following three sections look to affect to the color of tabs on this case:

[code]

The tan color is applied only to "not active, already read"  tabs. Gray background and blue text tabs are detected as "not active, unread, discarded (unloaded)". TST tries to restore last "unread" status of tabs, but the status can be changed by reloadings or other triggers. I think this is the reason why back

[2019-05-11 18:15] piroor commented on #2271
So, the real topic of this issue looks: unstable "unread" status of tabs around restarting of Firefox and restoring/discarding of tabs. Is this summary correct?

[2019-05-11 18:26] piroor commented on #2166
TST is not designed to hide tabs except some cases: tabs under collapsed tree, tabs really hidden by other addons, or tabs in progress of its initialization/destruction. So, if you see "invisible tabs" problem regularly, I think it is a rendering issue of Gecko itself. I've sometimes seen "flicking of tabs" and "invisible tabs" while scrolling of the sidebar on one of my PCs. Currently I have no i

[2019-05-11 19:53] stapuft commented on #2272
okay thank you, since this happened last, I have been running in debug mode, constantly, when/if this happens again, I can try my best to give steps to reproduce manually, but it seems to happen so randomly I cant determine actual triggers.

when/if this happens again, what do you need from me, exactly, so that this bug can be brought to light?
detailed instructions or a link to them would help im

[2019-05-11 22:29] azizLIGHT commented on #2266
Tested again on Nightly 68.0a1 (2019-05-11) (64-bit) + TST 3.0.11.9109 and I cannot reproduce the issue anymore. I consider it fixed and will close the issue.

[2019-05-11 22:29] #2266 closed

[2019-05-12 00:37] irvinm commented on #1660
@piroor please close this.

[2019-05-12 00:38] irvinm commented on #1691
@piroor please close this.

[2019-05-12 00:38] irvinm commented on #1690
@piroor please close this.

[2019-05-12 00:39] irvinm commented on #1474
@piroor please close this. (I assume you have not changes your mind on this one)

[2019-05-12 00:41] irvinm commented on #1612
@piroor this is a duplicate of https://github.com/piroor/treestyletab/issues/1402, please close.

[2019-05-12 00:47] irvinm commented on #1594
@piroor please close this.

[2019-05-12 00:47] irvinm commented on #1574
@piroor please close this.

[2019-05-12 00:48] irvinm commented on #1589
@piroor please close this.

[2019-05-12 00:52] irvinm commented on #1610
@piroor can you evaluate this?  Is this still applicable?

[2019-05-12 00:54] irvinm commented on #1371
@piroor can you evaluate this?  Can we close this?

[2019-05-12 00:54] irvinm commented on #1338
@piroor please close this.

[2019-05-12 00:55] irvinm commented on #376
@piroor should we close this?

[2019-05-12 00:56] irvinm commented on #1457
@piroor I don't think this is a bug any more.  I think this can be closed.

[2019-05-12 01:05] irvinm commented on #1771
@piroor I didn't look thru a lot of the files, but I think you have this requirement covered by the "COPYING.txt" and the license information in the files.  I think you can close this.

[2019-05-12 01:06] irvinm commented on #1774
@piroor please close this.

[2019-05-12 01:06] irvinm commented on #1765
@piroor please close this.

[2019-05-12 01:10] irvinm commented on #1760
Firefox can send individual tabs (at a minimum) between devices using "Send Tab to device" built into Firefox, but I still don't think there is a way to do this via Web Extensions.  Given the easy way to do individual tabs directly in Firefox and that there hasn't been any progress on adding this functionality for addons, I think this should be closed.  @piroor

[2019-05-12 01:11] irvinm commented on #1753
@ninja85a can you close this or is it still an issue for you?

[2019-05-12 01:12] irvinm commented on #1732
@Inkbottle007 is this still an issue for you?  I believe a lot has changed since you reported this and hopefully this is a not a problem for you.  If not an issue, please close it.  Thx.

[2019-05-12 01:12] irvinm commented on #1728
@piroor please close this.

[2019-05-12 01:13] irvinm commented on #1726
@piroor please close this.

[2019-05-12 01:14] irvinm commented on #1727
@piroor any desire to do this?  If not, let's close it.

[2019-05-12 01:16] irvinm commented on #1707
@piroor please close this.

[2019-05-12 01:17] irvinm commented on #1793
@ariasuni can you review https://github.com/piroor/treestyletab/wiki/API-for-other-addons to see if this fits your needs?  If so, can you close out this issue?

[2019-05-12 01:19] irvinm commented on #1821
@eternaleye is there more we need to discuss on this topic?  If no, can you close this item?

[2019-05-12 02:58] stapuft commented on #2272
@piroor also if you need so much specific information, why not have a "report a bug" thing that auto logs and emails you said debug info that you need? other extensions and even Firefox itself has this feature.

[2019-05-12 04:30] #1707 closed

[2019-05-12 04:31] piroor commented on #1727
I think this is not a major usecase and it should be done via API: https://github.com/piroor/treestyletab/wiki/API-for-other-addons

[2019-05-12 04:32] #1727 closed

[2019-05-12 04:32] #1726 closed

[2019-05-12 04:32] #1728 closed

[2019-05-12 04:33] #1765 closed

[2019-05-12 04:34] #1457 closed

[2019-05-12 04:37] piroor commented on #376
I gave up to support ESR60 on the master branch, and versions for ESR60 (TST 2.7) is not maintained anymore. I close this for now. After the ESR68 is released and I need to give up to support it, I should rethink about this.

[2019-05-12 04:37] #376 closed

[2019-05-12 04:48] piroor commented on #1338
The API is still not implemented, but I lost the motivation to implement that for myself to migrate the addon Informational Tab. Reasons:

* "Highlight unread tabs" feature is now available with custom CSS on TST.
* "Progress bar on tabs" feature is still impossible to be implemented with WebExtensions API.
* "Thumbnail on tabs" feature is not attractive for me anymore.

So, I close this for now.

[2019-05-12 04:48] #1338 closed

[2019-05-12 04:49] #1660 closed

[2019-05-12 04:51] piroor commented on #1691
I think that the wiki page should be maintained by people who really use custom user stylesheet, and I'm OK that snippets written by me are modified and updated.

[2019-05-12 04:51] #1691 closed

[2019-05-12 04:53] #1612 closed

[2019-05-12 04:54] #1594 closed

[2019-05-12 04:54] #1574 closed

[2019-05-12 04:55] #1589 closed

[2019-05-12 04:56] piroor commented on #1610
XUL version automated build is not updated anymore, because I removed all XUL-based codes from this repository. (Note: you still can chechkout them from old tags or branches.) I think this problem has been resolved.

[2019-05-12 04:56] #1610 closed

[2019-05-12 04:57] piroor commented on #1690
Sorry I forgot to implement this...

[2019-05-12 05:25] azizLIGHT opened #2275 "Unnecessary CPU usage because TST falsely thinks tab is loading and shows tab loading animation"
## Short description
Using addons like LoadTabOnSelect that prevent loading of tabs until tab is selected causes TST tab loading animation ("throbber") to animate forever on tabs that should be considered loaded. The animation causes undue CPU usage. The effect is amplified when multiple tabs are simultaneously loaded using "open all in tabs" right click context menu option on a bookmarks folder c

[2019-05-12 05:29] piroor commented on #1690
I've implemented `tree-attached` and `tree-detached`. Descriptions: https://github.com/piroor/treestyletab/wiki/API-for-other-addons#when-tree-structure-is-modified

[2019-05-12 05:29] #1690 closed

[2019-05-12 06:21] piroor commented on #1774
I've updated the page a little. Sadly I cannot spent more time to maintain multiple mirrored contents, so I've decided to keep pages under my website as archived for old versions and added links to the latest information.

[2019-05-12 06:21] #1774 closed

[2019-05-12 08:23] piroor commented on #1371
Sorry I forgot to follow back this.

I decided to not implement this with these reasons:

* If I implement such a tab as "a real tab but hidden in the native tab bar via the `tabs.hide()` WebExtensions API", it may introduce compatibility problems with other addons which control visibility of tabs.
* If I implement such a tree item as "a virtual tab and unexisting in the native tab bar", it may in

[2019-05-12 08:23] #1371 closed

[2019-05-12 09:25] piroor commented on #1474
This was already implemented as the option "Treat as a parent tab by operations inside the tree sidebar. / Treat just as a solo tab, by operations outside the tree sidebar." and with recent changes context menu commands on the sidebar are also treated as "operations inside the tree sidebar".

[2019-05-12 09:25] #1474 closed

[2019-05-12 13:57] piroor commented on #1771
I've clearly select MPL1.1 for modules copied from the legacy version. Now all files are licensed under MPL1.1, MPL2.0, or other per-file non-copyleft licenses.

[2019-05-12 13:57] #1771 closed

[2019-05-12 14:27] piroor commented on #1760
I'm positive to support this feature ASAP after the API is introduced (because I'm using it via Firefox's native tab bar now), so I want to keep this as open as a reminder.

[2019-05-12 14:28] irvinm commented on #1760
Sounds good.  Thanks for the update @piroor.

[2019-05-12 14:34] irvinm commented on #1955
@piroor and @rubaboo ... https://bugzilla.mozilla.org/show_bug.cgi?id=1464992 was marked as a duplicate of https://bugzilla.mozilla.org/show_bug.cgi?id=1422588 which was looks like it was fixed in FF62.  Does that fix resolve this issue?

[2019-05-12 14:39] #1955 closed

[2019-05-12 14:41] irvinm commented on #104
@piroor can we close this?  I see you are storing each release under https://github.com/piroor/treestyletab/releases but just as zip files not XPI.  (I know XPI is the same as ZIP in terms of storage, but wasn't sure of the zip could just be renamed as an XPI due to signing or not)

Also, people can grab older versions of TST from Mozilla themselves at https://addons.mozilla.org/en-US/firefox/addo

[2019-05-12 14:42] irvinm commented on #1915
@piroor please close this.

[2019-05-12 14:43] #1915 closed

[2019-05-12 14:44] irvinm commented on #1883
@mediumred if this is sufficient, can you close this item?

[2019-05-12 14:47] irvinm commented on #1895
@Fanolian can you close out this item?

[2019-05-12 14:48] irvinm commented on #1806
@piroor please close this.

[2019-05-12 14:50] irvinm commented on #1846
@piroor please close this.  TSM and TST are obviously fully compatible at this point.

[2019-05-12 14:50] irvinm commented on #1832
@piroor please close this.

[2019-05-12 14:53] irvinm commented on #1836
@zekeblue or @piroor please close this item.  @piroor already provided some information and example code to do this in https://github.com/piroor/treestyletab/issues/2104 which could be integrated into another addon.

[2019-05-12 14:56] irvinm commented on #1845
@piroor please close this.

[2019-05-12 14:56] piroor commented on #2272
I agree that it is hard to narrow down conditions, but it is required. For example, recently I successfully found a complete conditions to reproduce a rare case bug #2267. As described at the issue, steps to reproduce may become very long sometimes when it happens rarely. I couldn't fix it for a long time, and when I meet it again I struggled digging out the conditions and finally did it.

"Report

[2019-05-12 14:56] irvinm commented on #1871
@piroor please close this.

[2019-05-12 14:58] irvinm commented on #1770
@cemerick are you still having issues?  If not, can you close this?

[2019-05-12 15:05] piroor opened #2276 "When the label of a parent tab is faded out, the tooltip of the tab don't have the information of its collapsed descendants"
## Short description

As described at the subject, the tooltip on a collapsed tree don't have its collapsed descendants.

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3. Open some tabs and construct a tree.
 4. Shrink the width of the sidebar to trigger the "fade out too long label" feature.
 5. Collapse the tree.
 6. Wait for a while on the collapsed tree.

## Ex

[2019-05-12 15:07] #1806 closed

[2019-05-12 15:08] #1846 closed

[2019-05-12 15:08] #1832 closed

[2019-05-12 15:09] #1871 closed

[2019-05-12 15:09] #1845 closed

[2019-05-12 15:10] #1836 closed

[2019-05-12 15:10] irvinm commented on #2167
@nollinvoyd are you still having issues?  If not, can you close this?

[2019-05-12 15:14] irvinm commented on #1378
@piroor I think we can close this.  The CSS fix isn't perfect, but probably the best solution for now.

[2019-05-12 15:15] irvinm commented on #2141
@piroor please close this.

[2019-05-12 15:15] irvinm commented on #2111
@piroor please close this.

[2019-05-12 15:16] piroor commented on #2276
Fixed with the commit 80b502d.

[2019-05-12 15:16] #2276 closed

[2019-05-12 15:16] irvinm commented on #2109
@piroor please close this.

[2019-05-12 15:16] irvinm commented on #2103
@piroor please close this.

[2019-05-12 15:16] #2103 closed

[2019-05-12 15:17] #2109 closed

[2019-05-12 15:18] irvinm commented on #2087
@nh2 are you still seeing issues with the current version?  (Lots of changes in TST since December 2018)  If no longer an issue, please close this item.  If still a problem, maybe collect another performance profile and post it?

[2019-05-12 15:19] irvinm commented on #2075
@piroor please close this.

[2019-05-12 15:19] piroor commented on #2111
Additional info: now TST has an option to keep tree structure when tabs are shown/hidden by other addons. It should provides compatibility to another addon which filters tabs with the `tabs.hide()` API.

[2019-05-12 15:19] #2111 closed

[2019-05-12 15:19] #2141 closed

[2019-05-12 15:20] irvinm commented on #1882
@piroor I think this can be closed.

[2019-05-12 15:20] #2075 closed

[2019-05-12 15:20] #1882 closed

[2019-05-12 15:22] irvinm commented on #2023
@kulmegil is there more to discuss on this topic?  If not, can you close this item?

[2019-05-12 15:24] irvinm commented on #1639
@piroor I think this can be closed.  I don't think this will even be addressed via bookmarks. This can be solved better by using a session manager like Tab Session Manager which obviously supports TST.

[2019-05-12 15:28] irvinm commented on #2161
@gtimbo, this can be done today using the addon "Tab Session Manager".  TSM already supports TST and will store both the tabs and the hierarchy for each session it stores.  (Make sure to enable TST support in the TSM options)  If this is sufficient, can you close this item?

I use TSM and it works really well with TST.

[2019-05-12 15:35] irvinm commented on #2115
Can anyone on this thread confirm if there is a working solution to this?  It has been several months since this was reported.  @nollinvoyd if there is a working solution, can you close this issue?

[2019-05-12 15:50] Fanolian commented on #1895
As of 3.0.11, the workaround `browser.tabs.selectOwnerOnClose` is not needed.

[2019-05-12 15:50] #1895 closed

[2019-05-12 15:50] azizLIGHT opened #2277 "Cannot interact with TST sidebar while a tab is being duplicated"
## Short description
When a tab is duplicated using right click option, the entire TST sidebar becomes uninteractable until the new duplicated tab is loaded into TST

## Steps to reproduce

 1. Start Firefox with clean profile.
 2. Install TST.
 3. Open lots of tabs to show the effect (one method is to select "Open All in Tabs" right click option on a bookmark folder with many bookmarks)
 4. Right

[2019-05-12 16:12] braham-snyder commented on #1378
This would still be immensely useful to me, and -- while I might be totally off-base here -- my guess is this is one of those things many other people would also find hugely useful if they saw it.

<br>

Even prepending eg a dot would be amazing if you ask me:

[code]

[2019-05-12 16:57] irvinm commented on #1378
Thanks for the feedback @braham-snyder. I will let @piroor make the decision if he wants or can do anything more around this.

[2019-05-12 17:02] irvinm commented on #1831
Can anyone on this thread confirm if this is still an issue or if there is anything more to discuss here?  @gagarine can you close this item if not?

[2019-05-12 17:14] irvinm commented on #2187
@AnatISR any update from your end?  If still an issue, please provide an update or if resolved, please close this issue.  Thanks.

[2019-05-12 17:19] irvinm commented on #2193
@piroor I think we can close this.  Until Firefox adds this as a feature enhancement, there is nothing you can do.

[2019-05-12 17:20] #2193 closed

[2019-05-12 17:21] irvinm commented on #2165
@IGP do you think your could close this issue?  (Or is there more to discuss at this point?)

[2019-05-12 17:24] irvinm commented on #2181
@gerg5c42g542g2c54g52c can you review to see if this should be closed now?  (If so, can you close it?)

[2019-05-12 17:25] irvinm commented on #2185
@retep998 is this still an issue for you with recent builds of TST?  If not, can you close?  If so, can you report if you are seeing the same?

[2019-05-12 17:29] irvinm commented on #2019
@ssokolow can you comment if you are still having a problem or not?  There have been a ton of changes with Firefox and TST since August 2018.  If the issue is resolved, can you could this issue?

[2019-05-12 17:31] irvinm commented on #1985
@brain8891 you may want to consider trying TST again.  There has been some great progress over the last 6 months and the addon is more stable than ever.

In any case, would you might closing this issue?  Thanks.

[2019-05-12 17:33] irvinm commented on #1888
@Tragen can you confirm is you are still seeing issues with the current build of TST?  There have been many changes since August 2018.  If no longer an issue, can you close this issue?

[2019-05-12 17:34] irvinm commented on #2007
@piroor please close this.

[2019-05-12 17:35] irvinm commented on #2000
@piroor can you comment on this? (Sorry, I don't have a sense if this is still applicable today or not)

[2019-05-12 17:36] irvinm commented on #1984
@daltinn can you reply to piroor or close this issue if it isn't applicable today?

[2019-05-12 17:38] irvinm commented on #1903
@piroor I think we could probably close this one.

[2019-05-12 17:41] irvinm commented on #1971
@piroor please close this.  This is a very old TST\TSM issue which should be resolved.

[2019-05-12 17:43] irvinm commented on #1789
@piroor I would vote to close this.  While I don't disagree with @rabin-io's rationale, I am not sure the work involved to make this change is something you would want to do.  (Else you would have already done it :)

[2019-05-12 17:44] irvinm commented on #1910
@fireattack can you close out this issue or is there more to discuss?

[2019-05-12 17:44] #1971 closed

[2019-05-12 17:45] #1903 closed

[2019-05-12 17:45] #2007 closed

[2019-05-12 17:46] irvinm commented on #2207
@stapuft can you close out this issue or is there more to discuss? PS. I like your result.

[2019-05-12 17:49] irvinm commented on #2180
Can anyone on this thread comment if this still occurs with the latest version of TST?  (3.0.11)

I had seen this in the past, but not recently and wondering if @imero can close out this issue or not.

[2019-05-12 17:50] irvinm commented on #2198
@Adelscott are you still seeing the same issue with the latest version 3.0.11?  If not, can you close out this issue?  If you are, please let us know.

[2019-05-12 19:16] ssokolow commented on #2019
Unfortunately, I can't give any input. I haven't used TST in months because it was bogging down my browser too much.

(Most visibly, rebuilding the tab sidebar whenever an update spontaneously got downloaded and installed could render the browser unresponsive for so long that it was at *least* half a minute. I never timed it because I'd taken to going to the kitchen for a snack whenever it happene

[2019-05-12 19:17] stapuft commented on #2272
@piroor well then I am afraid I can be of no help, as it happened again, and again it happened while I was not at my computer, I came back to my computer greeted by this
![image](https://user-images.githubusercontent.com/46431157/57586427-c55a8780-74c3-11e9-9638-f5323baea1cf.png)
i restarted FF and the pinned tabs became normal again but none of my other tabs are where they should be.

tab Id 91 i

[2019-05-12 19:17] cosmicdan commented on #1846
If I may ask, why obviously? I've been staying on Waterfox for the moment until Firefox's webextensions become a bit more mature so am out of the loop.

[2019-05-12 19:25] irvinm commented on #2019
Ok, thanks for the feedback @ssokolow.  There have been a ton of improvements to TST since last August and I would guess the performance issues you were seeing might be resolved or at least improved.  If you wanted to try again we could revisit this, but if you don't want to I understand.

If you don't want to try, can you close this item?

[2019-05-12 19:28] irvinm commented on #1846
@cosmicdan what I meant is there has been a lot of discussion around TST and TSM working together from other issues over the past year or so and the working state between the 2 addons is very good at this point.  (Sorry, I didn't mean to say that is was "obvious" just from the information in this single issue)

[2019-05-12 19:30] ropeladder commented on #2180
I haven't had the problem in a while.

[2019-05-12 20:15] irvinm commented on #2274
@UralZima can you retry with a newer version of Firefox to see if you get better performance?  (Maybe in a VM if you don't want to upgrade?)

Like I commented in https://github.com/piroor/treestyletab/issues/1844 I usually have around 1000 tabs and only 20-30 active tabs and have very good performance.  (My environment is different than yours)

Given that piroor isn't supporting your configuration

[2019-05-12 20:17] irvinm commented on #2269
@the-trooper0000 it looks like the snippet is working.  Can you make sure to try the snippet without any other CSS as a test to see if it works for you?

[2019-05-12 20:24] irvinm commented on #2268
@stapuft in the case where you see this, I have 2 suggestions:

1. When it occurs, click on one of the TST group tabs and see if that tab is showing the proper tabs under it ... even if those tabs are being displayed outside of the "collapsed" tree.  (I think they might be)
2. Expand and collapse each "group tab" to see if the tree corrects itself.  I have seen this situation in the past and I bel

[2019-05-12 20:28] irvinm commented on #2214
@Tealk if this is resolved, can you close this item?  Thanks.

[2019-05-12 20:30] irvinm commented on #2263
@IRainman can you review?  Does this do what you need it to do?  If so, can you close this issue?

[2019-05-12 20:36] irvinm commented on #2242
@rouilj can you evaluate the solution and if that works, close out this issue?  Thanks.

[2019-05-12 20:38] irvinm commented on #2219
@piroor given there is a workaround (albeit not perfect) ... if you do not want to add this functionality, we should close out this issue.

[2019-05-12 20:39] irvinm commented on #2213
@stapuft or @piroor ... sounds like we can close this item.

[2019-05-12 20:41] irvinm commented on #2211
@stapuft are you still looking into this issue or can you close it?  (PS. I use https://addons.mozilla.org/en-US/firefox/addon/auto-tab-discard/ and have had good experiences with that addon)

[2019-05-12 20:43] irvinm commented on #2192
Interesting idea, but definitely sounds like it will make things more complicated.  @piroor I recommend we tag this "won't fix" (maybe leave "help wanted") and close out the issue.

[2019-05-12 20:47] irvinm commented on #2190
@piroor given this is contrary to how you want the addon to be used and will not make the change, I recommend we close this issue.

Is there any need to include the "Debug mode => All Configs" information as part of the "contributing guidelines" for those who should include configuration information?

[2019-05-12 20:50] Tragen commented on #1888
Looks like it's working now.

[2019-05-12 20:50] #1888 closed

[2019-05-12 21:52] Inkbottle007 commented on #1732
I agree this issue can be closed. Thx.

[2019-05-12 21:52] #1732 closed

[2019-05-12 21:59] fireattack commented on #1910
I think that's it, thanks.

[2019-05-12 21:59] #1910 closed

[2019-05-12 22:05] retep998 commented on #2185
This issue still occurs to me all the time. Currently using version 3.0.11 of TST.

[2019-05-12 22:10] IGP commented on #2165
The initial request has been addressed so closing this.

[2019-05-12 22:10] #2165 closed

[2019-05-12 22:13] gagarine commented on #1831
I'm not using TST anymore. I really can test it right now because I'm in the middle of a job and have +300 tabs open in various group and can afford to lose any of them :/.

[2019-05-12 22:22] irvinm commented on #1831
@gagarine I typically have 1000+ tabs in my sessions at any given time, so I understand.  I have found that using a session manager (like "Tab Session Manager") has provided me a nice safety blanket in case I lose my session and it is supports storing TSTs heirarchy if you enable it in the options.

If you don't want to test it now, may I suggest closing the issue until you are able\willing to try

[2019-05-12 22:25] irvinm commented on #2185
@retep998 thanks for checking in and verifying it still occurs with 3.0.11.  @piroor, any ideas on next steps?

[2019-05-12 22:28] rouilj commented on #2242
I tried your suggestion. It seems to be working sometimes. I have had it
work, then I exit/restart the browser and it doesn't work.
Also checking/unchecking the cache seems to make it work sometimes. I
haven't tried debugging the failing cases to see what the
title attribute is set to and why the css isn't matching.

-- rouilj

On Sun, May 12, 2019 at 4:36 PM irvinm <notifications@github.com> wrot

[2019-05-13 01:30] gtimbo commented on #2161
Tab Session Manager was the addon that I had previously tried on my work computer, which didn't correctly restore the tree. However, for my home computer I did end up using it but configured the "Delay when tree restoration" config parameter to a high value just to ensure that it properly restored the tree. For me, with a lot of tabs, TSM seems somewhat useless for restoring the previous session a

[2019-05-13 01:30] #2161 closed

[2019-05-13 02:18] stapuft commented on #2272
still no clue as to whats going on, FF has crashed many more times lately, after the lastest crash, before i restored my session, I remembered the TST automated tests, and ran it, it failed miserably.

these were my results.

 ......F..F.....Done.

    testInheritContainerFromAutoAttachedParent
    AssertionError: a new tab implicitly attached to the active tab must inherit the contianer of the ol

[2019-05-13 02:22] stapuft commented on #2272
just happened....again......

crash report

AdapterDeviceID: 0x22b1
AdapterDriverVersion: 20.19.15.4531
AdapterSubsysID: 00000000
AdapterVendorID: 0x8086
Add-ons: support%40lastpass.com:4.27.2.10,hide-tabs%40afnankhan:2018.1.21,%7B7bd8c031-9c5d-4673-b24f-64b2c310aea7%7D:1.0,%7B9AA46F4F-4DC7-4c06-97AF-5035170634FE%7D:15.23,uBlock0%40raymondhill.net:1.19.2,%7Bc84d89d9-a826-4015-957b-affebd9eb603%7D:

[2019-05-13 04:53] justdave commented on #260
outside of crashes, it seems to restore, except that I almost always lost my tab groups even on normal restarts. The groups themselves are there, but empty, and all of the tabs (with their tree structure intact) are in the Ungrouped group.

[2019-05-13 06:13] ssokolow commented on #2019
I'll try to find some time within the next few days to test the performance with the current version and decided what to do then.

[2019-05-13 06:51] UralZima commented on #2274
Really I am using torbrowser, which is based on firefox. And latest version is 60.6.1. (not 62, my mistake)
It seems I need to wait while they will bump to new version of firefox...

[2019-05-13 06:54] UralZima commented on #2274
My version of TST is 2.8.5 from March 19, 2019, not 2.7.x as you mentioned

[2019-05-13 07:04] piroor commented on #2274
Yes, Firefox ESR60 was dropped at TST 2.8.6. Currently the TST 2.8.7 is the only one public version of TST 2.8.x, and the last public version for ESR60 is TST 2.7.23.

[2019-05-13 07:11] piroor commented on #260
@justdave Does this mean that "group tab"s (with URL like `moz-extension://xxxx-xxxx-xxxx-xxxx/resources/group-tab.html?...`) become blank tabs (`about:blank`) after restarting of Firefox? Or, those tabs are completely missing (closed) after restarted?

[2019-05-13 09:04] piroor commented on #2272
I've looked the list of installed addonsm. I think only "Hide Tabs" and "Move unloaded tabs for Tree Style Tab" may affect to TST's behavior. Could you try disabling them for a while to testing?

[2019-05-13 09:09] piroor commented on #2272
And, if the summary of this issue I updated is wrong, please correct it. If you think that the problem you met couldn't be summarized, I think you may still confused and you need to marshal the complex situation.

[2019-05-13 09:28] piroor commented on #2242
I'm very sorry, I forgot that the "title" attribute is not available when the label of the tab is short enough. After the commit 4674432 `data-title` attribute become available like as:

[code]

[2019-05-13 09:53] piroor commented on #2185
I may need to use the `window.devicePixelRatio` to calculate correct event location on such cases. I'll confirm this problem with a hi-dpi display.

[2019-05-13 10:13] mediumred commented on #1883
@irvinm I think you misaddressed question. @piroor marked this as "works for me" and he can do with this issue whatever he wants to do. But for me it still an issue.

[2019-05-13 10:15] piroor commented on #2190
@irvinm Thank you for suggestion, I've updated the contribution guide.

[2019-05-13 10:22] piroor commented on #1883
@mediumred On this case the "works for me" label means "works for me as designed". I forgot to relavel so I've marked this as "won't fix" now, with the design decision. Sorry but the old behavior won't be "restored" on future versions.

[2019-05-13 10:26] #1883 closed

[2019-05-13 11:04] gagarine commented on #1831
@irvinm  Sure let close it. I will keep an eyes on this (I want to try TST again).
Thanks for Tab session manager, I reduce Firefox IO by changing session write delay and removing disk cache (see https://gist.github.com/gagarine/5cf8f861abe0dd035b7af19e4f691cd8 ) so this plugin can actually be the perfect addition to my setup.

[2019-05-13 11:04] #1831 closed

[2019-05-13 11:13] irvinm commented on #2161
@gtimbo if you use the [Use the "discarded" property for lazy loading] option I found that you can leave the "delay" low.  I just tried it just now with a 1016 tab session and I left the delay at the default of 150ms and it restored very quickly and maintained all the trees properly.  (FYI)

[2019-05-13 12:02] piroor commented on #2192
Before marking as "won't fix", I've tried to implement the feature with minimum changes on a branch to confirm its cons and pros: https://github.com/piroor/treestyletab/tree/allow-collapsed-active-descendant You need to clone the repository and build the package yourself. It is interesting, but there are some concerns, for example: how should we treat the tab on drag and drop.

[2019-05-13 13:06] irvinm commented on #2192
I'll let @reallyuniquename give his thoughts on this and try it out.  For me, I probably wouldn't use this feature (would prefer an option to enable\disable this).

However, here are my thoughts on the topic as I could see why people would want to use it:

- Collapsing a tree would effectively take the most recent active tab within the tree and make it the parent.
- The original parent would be ma

[2019-05-13 13:16] gerg5c42g542g2c54g52c commented on #2181
I have no clue, I don't think so, because nothing was fixed, but syncing the .cache folder seems to not trigger this. I believe though that the .cache folder shouldn't be needed.

[2019-05-13 14:39] nh2 commented on #2087
Here's another profile I took right now, showing the same thing with 400 tabs:

[tst-profile-tab-closing-2019-05-13.json.zip](https://github.com/piroor/treestyletab/files/3173406/tst-profile-tab-closing-2019-05-13.json.zip)

While many tabs close reasonably well, sometimes there's still a big hang and a frame drop to 3 FPS.

Note it may well be that this isn't TST's fault that that Firefox is simp

[2019-05-13 15:09] piroor commented on #2181
@gerg5c42g542g2c54g52c  Did you try that?: enabling both `privacy.userContext.enabled` and `privacy.userContext.ui.enabled` via `about:config`. With these options the container feature is activated without any addon, so auto-cleanup of tabs with non-default container should not be triggered on your case.

[2019-05-13 15:17] piroor commented on #2087
@nh2 On this performance profile, where is the time range I should inspect? While Firefox is frozen or lagged the graph would be flatten at the bottom. Could you attach screenshots with selected the time range like:
![image](https://user-images.githubusercontent.com/70062/57632818-61c47d00-75dd-11e9-848a-ed9a5f1e2408.png)

[2019-05-13 15:21] piroor commented on #2087
@nh2 For example, this range (in the screenshot I attached) indicates that function calls for `reserveToCacheTree()` (defined in `background-cache.js`) eat 209msec, and it is about 90% of the range. It means that the function was very slow.

[2019-05-13 15:23] Adelscott commented on #2198
@irvinm no in fact it disappeared ! I guess a solution has been found ! Thanks

[2019-05-13 15:23] #2198 closed

[2019-05-13 15:24] nh2 commented on #2087
@piroor Yes, you guessed that right: As far as I can judge, the lags happen exactly at those points where the FPS graph drops very low, like in the part you've selected, and the place just after 4800ms.

[2019-05-13 16:01] cemerick commented on #1770
No, this seems settled, closing.

[2019-05-13 16:01] #1770 closed

[2019-05-13 16:37] eternaleye commented on #1821
@irvinm,

None of the suggestions yet brought up resolve my use case, of having an interface through which I can organize tabs without juggling multiple windows - even aside from the "moving tabs loads unloaded tabs" issue. In addition, the suggested approaches _also_ suffer from that, by using the actual sidebar code for this, a number of other behaviors very detrimental to that use case come alo

[2019-05-13 16:51] stapuft commented on #2272
ok i can do that, but how do I hide/suspend my tabs withought the hide tabs extension, I need to be able to do that, I have a shit amount of ram.

[2019-05-13 17:56] piroor commented on #2192
I've done more changes on the branch. Spec:

1. Last active tab in a collapsed tree becomes "frontmost". The "frontmost" tab is shown instead of the real parent of a collapsed tree.
2. When you start dragging on a "frontmost" tab for a collapsed tree, the real parent tab is dragged instead.
3. While you are dragging something on the sidebar, the "frontmost" tab disappears and the real parent tab b

[2019-05-13 18:06] piroor commented on #2192
I'm planning to judge to do or don't merging this branch to the master, after dogfooding for a while. If the behavior feels oddly for me, I won't merge it.

[2019-05-13 18:09] piroor commented on #2272
Other addons like "Auto Tab Discard" provides ability to unload tabs without hiding. It possibly helps you.

[2019-05-13 18:15] irvinm commented on #1821
@eternaleye ... fair enough. :)

@piroor what are your thoughts on this one?

[2019-05-13 18:33] piroor commented on #1821
This feature looks too much for me to include as a builtin feature of TST. This addon is designed for a usecase based on automatically constructed tree from links. In other words, usecases with too frequently manual tab organizing is out of purpose.

All suggested features look implementable as a separate addon via TST's API, so I recommend you to try it.

[2019-05-13 18:33] #1821 closed

[2019-05-13 18:39] irvinm commented on #2192
You had me until the very last step.  I would have thought that clicking on either A or E would ONLY affect the root of that tree and would show A or E, but that the "tree" showing D (with real parent B) wouldn't change as D is still the most recent tab in that tree.

Basically, I would think that the "head" of each tree would be the most recent tab of the children below it.  I think if I used thi

[2019-05-13 20:28] stapuft commented on #2272
okay thank you, is there anyway to emulate the behavior of the "Move unloaded tabs for Tree Style Tab" extension, without using said extension? its not necessary, but it pretty much goes back to normal Firefox behavior, ie you can drag tabs without the tabs you are dragging becoming active. unlike with vanilla TST which changes that default tab behavior.

[2019-05-13 22:52] justdave commented on #260
No, I mean the sideways group tabs in the left column, to the left of all the tabs. (the ones created and managed in the Groups section of the toolbar at the top)

[2019-05-14 00:22] rouilj commented on #2242
Hi Piroor:

Do you have an xpi (or whatever packging format extensions use these days) with this patch so I can test?

-- rouilj

[2019-05-14 00:33] rouilj commented on #2242
Hi Piroor:

I found the nightly build. I have signatures turned off for plugins and I was able to load it.

It seems to work correctly now. Thanks for the quick fix.
-- rouilj

[2019-05-14 00:33] #2242 closed

[2019-05-14 02:37] piroor commented on #2192
I agree that the restriction (spec 4) should be removed and I've tried to implement more flexible system to do that. And finally I've given up to implement completely smart system based on the current implementation... I shouldn't do this with the current approach, instead I need to change the architecture.

[2019-05-14 02:42] piroor commented on #2192
On TST 3.0, an internal tab object and its corresponding tab element are separated. So, I should separate them more: 1) internal tab object, 2) its corresponding tab element, and a new part 3) a tab object for rendering. Currently the internal tab object is directly used to render for its tab element, but if I can use another tab object just for rendering, such a tab will behave like as "it is act

[2019-05-14 03:00] stapuft commented on #2272
with those extensions disabled I haven't had any crashes yet, but it hasnt even been 24 hours yet, it failed its automated tests, but i am about to test if it will restore tabs properly by force closing firefox.

here are its test results

` ......F.....F..Done.

    testInheritContainerFromAutoAttachedParent
    AssertionError: a new tab implicitly attached to the active tab must inherit the cont

[2019-05-14 03:06] stapuft commented on #2272
EUREKA! it appears one of those two extensions was the culprit behind the tab order issue! if i experience it again ill update this thread but as of yet there haven't been any relapses.

[2019-05-14 07:35] azizLIGHT opened #2278 "Quantifying performance issues with very large amount of tabs"
## Short description
I wanted to quantify performance for TST when dealing with very large amounts of tabs. I conducted two tests:
1. Open 1000 tabs of about:blank
2. Restoring a session of 1000 tabs of about:blank

I used what I think are performance optimized settings to test and record how long it took for CPU usage to drop near 0% and how long it took Firefox and TST to become responsive again

[2019-05-14 10:11] piroor commented on #260
@justdave I think I completely misunderstood your case. Could you describe with details with any screenshot or screencast? If it is different from the main topic of this issue, it should be tracked on another issue for that.

[2019-05-14 11:58] irvinm commented on #2272
How about closing this issue and reopen it if you see it again?  Glad you got it resolved.

[2019-05-14 12:09] irvinm commented on #2192
Have you considered just physically moving the tabs when the action of collapsing of a tree is done rather than creating another virtual aspect (display rendering) of a tab?  (Move the active sub-tab to the root of that tree and move the current parent to be the first child ... update parentIDs as appropriate)  I am just wondering if all this potential complexity is worth the gain.

Just my person

[2019-05-14 15:41] piroor commented on #2192
I think I should not rearrange tabs physically on this case, for compatibility with other addons. I'm afraid of troubles around combination with other addons observing tab moves. Rearranging of only tracked tab objects (without applying their order to Firefox's native tabs) looks dangerous also. TST is designed expecting completely synchronized order between tracked tab objects and Firefox's tabs,

[2019-05-14 15:50] piroor commented on #2087
Hmm, if storing of caches triggers lagging on your environment, I have no good solution to optimize the process for now...

Could you try to disable TST's cache? (TST's options => Advanced => Optimize tree restoration with cache) The cache system was introduced on TST 2.x for better performance, because TST 2.x was designed based on DOM elements and regenerating of DOM elements were too heavy. On

[2019-05-14 15:52] #2213 closed

[2019-05-14 16:04] piroor commented on #2219
@stapuft The order of items in the location bar are calculated with their ["frecency"](https://developer.mozilla.org/en-US/docs/Mozilla/Tech/Places/Frecency_algorithm) and more other metadata.

I've tried [Tabs2List](https://addons.mozilla.org/firefox/addon/tabs-2-list/) and it provides a toolbar button to show the list of tabs with a search field. They are not indented but I think it should help

[2019-05-14 16:08] #2219 closed

[2019-05-14 16:21] piroor commented on #2219
There are more other addons providing searchable tab list:

* [Tab Manager v2](https://addons.mozilla.org/firefox/addon/tab-manager-v2)
* [TabSearch](https://addons.mozilla.org/firefox/addon/tab_search/)
* [Tabby - Window & Tab Manager](https://addons.mozilla.org/firefox/addon/tabby-window-tab-manager/)
* [Tab Master 5000](https://addons.mozilla.org/firefox/addon/tab-master-5000/)
* [Power Tabs](h

[2019-05-14 16:27] piroor commented on #2219
I've added a new section to the README: https://github.com/piroor/treestyletab/blob/master/README.md#listing-tabs-with-a-search-field If you know more helpful addons, please send a pull request me to add them.

[2019-05-14 16:30] #2180 closed

[2019-05-14 16:41] piroor commented on #1789
I agree that TST's options page has too much options. So currently there are foldable sections. Both such foldable UI and switchables with tabs have each pros and cons. As a design decision I chose the current style, so switchable UI won't be implemented by me, sorry.

[2019-05-14 16:41] #1789 closed

[2019-05-14 16:49] piroor commented on #2000
This was impossible on TST 2.x, but currently TST 3.x is designed very similar to this, so now it may be migratable to WebComponents. Especially if the migration improve performance or maintainability, I agree to do it.

[2019-05-14 17:54] piroor commented on #1378
I've tried to implement @braham-snyder's idea with custom CSS:

[code]

Screenshot:
![image](https://user-images.githubusercontent.com/70062/57720419-c6a2d480-76bc-11e9-9840-aad614e221dd.png)

[2019-05-14 17:56] piroor commented on #1378
Anyway currently I have no plan to implement this appearance as a built-in feature (and it is impossible  due to current architecture), so I close this.

[2019-05-14 18:06] piroor commented on #1639
Prefixes for bookmark items to indicate tree structure looks effective. We can add extra context menu command for bookmarks like:

[code]

So it looks possible to open tabs and restore tree structure based on these prefixes. I'll try to implement that.

[2019-05-14 18:40] nollinvoyd commented on #2166
Ok, thanks for responding.

I don't know if this means anything, but I have several addons that feature drop down menus of tabs.  None of them behave like TST tab blanking.

[2019-05-14 18:41] remram44 commented on #2172
Creating child tabs works fine :+1:

I still run into a broken state like above from time to time, for example moving multiple tabs from a temp parent to another parent (temp parent disappears during the move, children show up wrong). But otherwise it's been very smooth :heart_eyes:

[2019-05-14 19:09] #1378 closed

[2019-05-14 20:22] irvinm commented on #2192
Good point.  I agree with the tab object for rendering then.

[2019-05-14 20:23] irvinm commented on #2172
@noxcovenant can you close this item now?

[2019-05-14 21:15] irvinm commented on #2053
@piroor is this still on your radar?  Looks like next ESR is FF68 and will come out July 9, 2019.

[2019-05-14 21:17] irvinm commented on #2248
@piroor we should probably close this one.

[2019-05-14 21:23] irvinm commented on #2273
@bughit this will be in 3.0.12 when it lands.  Can you verify it works for you and close out the item?  (3.0.12 isn't out yet, fyi)

[2019-05-14 21:28] irvinm commented on #2274
@piroor I think we need to close this one until tor browser is able to update to a new base version and @UralZima can then retest and reopen the issue if there is still a problem.

[2019-05-14 22:33] nollinvoyd commented on #2271
I suppose the term "unstable" could be used.  The behavior is erratic.  All the tabs with the blue fonts are inactive and unread.  If I select a grey tab, it becomes the correct tan color.

I don't know how the greying out is initiated, but I never know what's the affect restoring a previous session will do.  If I were to go and activate all the grey tabs, turn them tan, and then restore a previou

[2019-05-14 23:18] nollinvoyd commented on #2115
Here's an example of my current display.  As I reported in another thread, the css still has problems getting the colors right, but the tabs numbers are there.

I would still prefer to have the tabs numbers on the left side and the close buttons on the right, though, so if that is possible, I could still appreciate some help with that.

![TST](https://user-images.githubusercontent.com/20844322/577

[2019-05-15 00:42] #2172 closed

[2019-05-15 01:01] #2248 closed

[2019-05-15 14:03] braham-snyder commented on #1378
FWIW, I found a single number in the overflow like this is faster for me to read than the dots:

![Screen Shot 2019-05-25 at 12 19 16 PM](https://user-images.githubusercontent.com/7269114/58372828-18cbcd00-7ee9-11e9-8d65-5fbd655a7644.png)

<details><summary>CSS:</summary>
<p>

[code]

</p>
</details>

<br>

I had also tried using vertical line characters like `|` instead of `●`, but I still found

[2019-05-15 18:13] stapuft commented on #2272
EUREKA! it appears one of those two extensions was the culprit behind the tab order issue! if i experience it again ill update this thread but as of yet there haven't been any relapses.

[2019-05-16 12:04] irvinm commented on #1639
@piroor does this accomplish the same thing?  (I have not tried it) https://addons.mozilla.org/en-US/firefox/addon/bookmark-tree-for-tst/

"To restore trees from bookmarks you right click on a bookmark folder saved with this extension and click the "Restore Tree" item."

[2019-05-16 20:03] PowerAccess commented on #2199
@piroor

Thanks for your help. I've been testing versions from Git and then XPI releases for a while and seems like all major issues are now resolved in v3.0.11 XPI release.

[2019-05-16 20:04] PowerAccess commented on #2238
@piroor and @irvinm,
Thanks for your help. I've been testing versions from Git and then XPI releases for a while and seems like all major issues are now resolved in v3.0.11 XPI release.

[2019-05-16 20:07] #2238 closed

[2019-05-17 15:13] tbruckmaier commented on #2274
I am not sure if this fits here, but I have experienced the very same symptoms: a noticable slow down of firefox and a pretty high cpu usage, with many tabs open though most of them are unloaded. Closing the unloaded tabs seemed to fix the issue.

I think I have backtraced the problem to the favicons, when I hide them via a custom css rule, the problem disappears (at least for now). This is the ru